body.spz-3003.hero-modal-open {
  overflow: hidden;
}
body.spz-3003 #page-block-47j70te84mm .section-block #element-558 .hero-video-poster .hero-poster-container {
  position: relative;
  text-align: center;
}
body.spz-3003 #page-block-47j70te84mm .section-block #element-558 .hero-video-poster .hero-poster-container .hero-poster-video-bg {
  width: 100% !important;
  height: 414px !important;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  body.spz-3003 #page-block-47j70te84mm .section-block #element-558 .hero-video-poster .hero-poster-container .hero-poster-video-bg {
    height: 400px !important;
  }
}
@media (max-width: 767.98px) {
  body.spz-3003 #page-block-47j70te84mm .section-block #element-558 .hero-video-poster .hero-poster-container .hero-poster-video-bg {
    height: 188px !important;
  }
}
body.spz-3003 #page-block-47j70te84mm .section-block #element-558 .hero-video-poster .play-btn-hero {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 64px);
}
body.spz-3003 #page-block-47j70te84mm .section-block #element-558 .hero-video-poster .play-btn-hero img.play-btn-spz-hero {
  width: 128px !important;
  height: auto !important;
}
body.spz-3003 #page-block-47j70te84mm .section-block .spz-hero-modal {
  display: none;
}
body.spz-3003 #page-block-47j70te84mm .section-block .spz-hero-modal.fade-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100vw;
  background: rgba(236, 250, 255, 0.7);
}
body.spz-3003 #page-block-47j70te84mm .section-block .spz-hero-modal.fade-in .hero-modal-content {
  max-width: 792px;
  position: relative;
}
body.spz-3003 #page-block-47j70te84mm .section-block .spz-hero-modal.fade-in .hero-modal-content .modal-container .modal-close-button {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 28px;
  font-weight: 900;
  cursor: pointer;
}