.spz-3003 header.site-header,
.spz-3003 #startchange,
.spz-3003 main.site-main > *:not(#hero-section):not(#stats-2-col),
.spz-3003 #hero-section .row.hero .col.content,
.spz-3003 footer#expel-footer .container-custom > *:not(.links-container) {
  display: none !important;
}

.spz-3003 #hero-section {
  min-height: calc(100vh - 70px);
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/expel/3003/bg_1440.webp");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  padding: 64px 0 80px !important;

  @media (min-width: 1600px) {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/expel/3003/1920_bg.webp");
  }
}

.spz-3003 .container-custom,
.spz-3003 #hero-section .hero-client-logos .container {
  max-width: 1206px !important;
  padding: 0 18px;
}

.spz-3003 #hero-section .row.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between !important;
  margin: 0;
  gap: 0 !important;

  @media (max-width: 1199.98px) {
    align-items: center !important;
    justify-content: center !important;
  }
}

.spz-3003 #hero-section .hero .spz-content {
  width: 48%;
  max-width: 556px;

  @media (max-width: 1199.98px) {
    width: 100%;
    max-width: 700px;
  }
}

.spz-3003 #hero-section .site-logo-link {
  display: inline-block;
  width: auto;
  height: auto;
  margin-bottom: 32px;
}

.spz-3003 #hero-section .hero .spz-content .site-logo-img {
  width: 100%;
  max-width: 96px;
  object-fit: contain;
}

.spz-3003 #hero-section .hero .spz-content .section-heading {
  color: #fff;
  font-size: 56px !important;
  font-style: normal;
  font-weight: 800;
  line-height: 64px !important;
  margin-top: -10px;
  margin-bottom: 22px;
}

.spz-3003 #hero-section .hero .spz-content .s-copy {
  color: #f4f4f4;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
  max-width: 512px;

  @media (max-width: 1199.98px) {
    max-width: 100%;
  }
}

.spz-3003 #hero-section .hero .spz-content .section-highlight-point {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.spz-3003 #hero-section .hero .spz-content .eye-brow-text {
  color: #00a85d;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.spz-3003.form-expand
  #hero-section
  .hero
  .spz-content
  .section-highlight-point::after {
  content: "";
}

.spz-3003 #hero-section .hero .spz-content + .col {
  display: none !important;
}

.spz-3003 .form-gartner-reviews {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #f4f4f4;
  margin: 0 auto 20px;
  max-width: 308px;
}

.spz-3003 .form-gartner-reviews .fg-separator {
  width: 1px;
  height: 30px;
  background: rgba(180, 179, 185, 0.43);
  margin: 0 16px 0 15px;
}

.spz-3003 .form-gartner-reviews .gartner-logo {
  height: 30px;
}

.spz-3003 .form-gartner-reviews .reviews {
  display: flex;
  align-items: center;
  height: 30px;
}

.spz-3003 .form-gartner-reviews .reviews picture,
.spz-3003 .form-gartner-reviews .reviews .reviews-img {
  height: 24px;
}

.spz-3003 .form-gartner-reviews .reviews .reviews-img svg {
  width: 120px;
}

.spz-3003 .form-gartner-reviews .reviews .review-number {
  color: #031263;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-left: 8px;
}

.spz-3003 #hero-section .hero .form-title {
  color: #131416;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 13px;
}

.spz-3003 #hero-section .hero .form-description {
  display: none;
}

.spz-3003 #hero-section .hero form.mktoForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

/* .spz-3003 #hero-section form.mktoForm .company ~ .mktoFormCol, */
.spz-3003 #hero-section form.mktoForm .mktoClear,
.spz-3003 #hero-section form.mktoForm .mktoFormCol .mktoOffset,
.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoLabel
  .mktoAsterix,
.spz-3003:not(.form-expand)
  #hero-section
  form.mktoForm
  .mktoFormCol.company
  ~ .mktoFormCol {
  display: none !important;
}

.spz-3003 #hero-section form.mktoForm .mktoFormCol {
  width: calc(50% - 6px) !important;
  margin-bottom: 12px !important;
}

.spz-3003 #hero-section form.mktoForm .spz-privacy-policy,
.spz-3003 #hero-section form.mktoForm .personnotestoappend {
  width: 100% !important;
}

.spz-3003 #hero-section form.mktoForm .ispartner {
  width: auto !important;
}

.spz-3003 #hero-section form.mktoForm .spz-privacy-policy,
.spz-3003 #hero-section form.mktoForm .personnotestoappend {
  margin-bottom: 19.5px !important;
}

.spz-3003 #hero-section form.mktoForm .ispartner {
  margin-bottom: 11px !important;
}

.spz-3003 #hero-section form.mktoForm .spz-privacy-policy .mktoHtmlText {
  width: 100% !important;
}

.spz-3003 #hero-section form.mktoForm .mktoFormCol.email {
  width: 100% !important;
}

.spz-3003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap {
  position: relative;
  width: 100% !important;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoHtmlText {
  color: #747474 !important;
  font-size: 14px;
  font-family: "proxima-nova", Arial, sans-serif;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 22px;
  margin-top: 0 !important;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoHtmlText
  a {
  color: #131416;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
  padding: 0;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoHtmlText
  a:hover {
  color: #0e4c8a;
}

.spz-3003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoLabel {
  width: auto !important;
  padding: 1px 6px;
  color: #747474 !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 24px !important;
  pointer-events: none;
  background: #fff;
  position: absolute;
  top: 13px;
  left: 10px;
  transition: all 0.3s ease-in-out;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoLabel
  strong {
  width: 100% !important;
  font-style: normal;
  font-weight: inherit !important;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.filled
  .mktoLabel,
.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.active.typing
  .mktoLabel {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 22px !important;
  top: -11.5px;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.filled
  .mktoLabel {
  color: #000 !important;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.active.typing
  .mktoLabel {
  color: #1762e6 !important;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.error.filled
  .mktoLabel,
.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.error.active.typing
  .mktoLabel {
  color: #e51b00 !important;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoField:not([type="checkbox"]) {
  width: 100% !important;
  height: 52px;
  border: 1px solid #b4b3b9 !important;
  border-radius: 12px !important;
  outline: none;
  box-shadow: none !important;
  padding: 13px 15px !important;
  margin: 0 !important;
  color: #000 !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 24px !important;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoField[type="checkbox"] {
  min-height: initial;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoField:-webkit-autofill,
.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoField:-webkit-autofill:hover,
.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoField:-webkit-autofill:focus,
.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoField:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 52px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol.company_size__c
  .mktoFieldWrap::after,
.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol.person_country__c
  .mktoFieldWrap::after {
  position: absolute;
  content: "";
  top: 20px;
  right: 16.5px;
  width: 12px;
  height: 12px;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/expel/3002/icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  select.mktoField:not([type="checkbox"]) {
  padding-right: 37px !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  background-image: none;
  background-size: 12px;
  background-position: calc(100% - 20px) 20px;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  textarea.mktoField {
  height: 91px;
}

/* .spz-3003 #hero-section form.mktoForm .mktoFormCol.personnotestoappend .mktoFieldWrap input {
    min-height: 91px;
} */

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.filled
  .mktoField {
  border-color: #747474 !important;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.active.typing
  .mktoField {
  border-color: #1762e6 !important;
  caret-color: #1762e6;
}

body.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.error
  .mktoField,
.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.error.active.typing
  .mktoField {
  border-color: #e51b00 !important;
  caret-color: #e51b00;
}

.spz-3003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoError {
  position: relative;
  right: initial !important;
  bottom: initial !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoError
  .mktoErrorArrowWrap {
  display: none;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoError
  .mktoErrorMsg {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: unset;
  background: transparent;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/expel/2003/frame_1.svg");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 0 0;
  box-shadow: none;
  text-shadow: none;
  margin: 4px 0 0;
  padding: 0 0 0 12px;
  height: auto;
  border: none;
  border-radius: 0;
  color: #e51b00;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding-left: 26px;
  leading-trim: both;
  text-edge: cap;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoError
  #ValidMsgEmail.mktoErrorMsg
  span.mktoErrorDetail {
  padding-left: 3px;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol[data-wrapper-for="mktoCheckbox_27626_0 Privacy_Compliance_Explicit_Opt_In__c"]
  .mktoLabel {
  display: none;
}

.spz-3003 #hero-section form.mktoForm .mktoFormCol .mktoCheckboxList {
  width: 100% !important;
  padding: 0;
  position: relative;
}

.spz-3003 #hero-section form.mktoForm .mktoFormCol .mktoCheckboxList input {
  position: absolute;
  opacity: 0;
}

.spz-3003 #hero-section form.mktoForm .mktoFormCol .mktoCheckboxList label {
  margin: 0;
  padding-left: 28px;
  color: #747474 !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 22px !important;
  position: relative;
  cursor: pointer;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoCheckboxList
  label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #747474;
  border-radius: 5px;
  top: 3px;
  left: 0;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoCheckboxList
  input:checked
  + label::before {
  background: #1762e6;
  border-color: #1762e6;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol
  .mktoCheckboxList
  label::after {
  position: absolute;
  content: "";
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1717664127/expel/2003/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  top: 5px;
  left: 3px;
}

.spz-3003 #hero-section form.mktoForm .comment-toggler {
  display: inline-block;
  color: #1762e6;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.spz-3003 #hero-section form.mktoForm .comment-toggler:hover {
  color: #0e4c8a;
}

.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol.personnotestoappend
  .comment-toggler.show-field,
.spz-3003
  #hero-section
  form.mktoForm
  .mktoFormCol.personnotestoappend
  .comment-toggler:not(.show-field)
  + .mktoFieldWrap {
  display: none;
}

.spz-3003 #hero-section form.mktoForm .mktoButtonRow {
  width: 100%;
  margin: 7.5px auto 15px;
}

.spz-3003 #hero-section form.mktoForm .mktoButtonRow .mktoButtonWrap {
  display: block;
  width: auto;
  height: auto;
  margin: 0 !important;
}

.spz-3003 #hero-section form.mktoForm .mktoButtonRow .mktoButton {
  width: 100%;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: none;
  background: #1762e6;
  background-image: none !important;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 24px;
  padding: 0 !important;
  margin: 0 !important;
}

.spz-3003 #hero-section form.mktoForm .mktoButtonRow .mktoButton svg {
  margin-right: 8px;
}

.spz-3003 #hero-section form.mktoForm .mktoButtonRow .mktoButton:hover {
  background: #0e4c8a;
}

.spz-3003 #hero-section form.mktoForm .mktoCaptchaDisclaimer {
  width: 70% !important;
  margin: 0 auto !important;
  color: #747474 !important;
  text-align: center;
  font-size: 14px;
  font-family: "proxima-nova", Arial, sans-serif;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 22px;
}

.spz-3003 #hero-section form.mktoForm .mktoCaptchaDisclaimer a {
  color: #131416;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
  padding: 0;
}

.spz-3003 #hero-section form.mktoForm .mktoCaptchaDisclaimer a:hover {
  color: #0e4c8a;
}

/* Hero Client Logo CSS Start Here */
.spz-3003 #hero-section .hero-client-logos {
  margin-top: 80.5px;

  &.current_step_2 {
    margin-top: 73.5px;

    @media (max-width: 1024.98px) {
      margin-top: 64.5px;
    }
  }

  &.current_step_3 {
    margin-top: 68.5px;

    @media (max-width: 1024.98px) {
      margin-top: 65.5px;
    }
  }
}

.spz-3003 #hero-section .hero-client-logos .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.spz-3003 #hero-section .hero-client-logos .client-logo {
  width: auto;
  height: 35px;
  object-fit: contain;
}

.spz-3003 footer#expel-footer {
  border: none;
  padding: 22px 0 24px;
  background: #fff;
}

.spz-3003 footer#expel-footer .links-container {
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.spz-3003 footer#expel-footer .links-container .col {
  width: auto;
  max-width: unset;
}

.spz-3003 footer#expel-footer .links-container .rights p {
  color: #031263;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding-top: 1px;
}

.spz-3003 footer#expel-footer .links-container .links span {
  display: none;
}

.spz-3003 footer#expel-footer .links-container .links p {
  margin: 0 -16px;
}

.spz-3003 footer#expel-footer .links-container .links a {
  color: #031263;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0 14px;
  text-decoration: none;
}

.spz-3003 footer#expel-footer .links-container .links a:hover {
  color: #0e4c8a;
}

/* Hero Client Logo CSS End Here */

@media (min-width: 1920px) {
  .spz-3003 #hero-section {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/expel/3002/1920.webp");
    background-size: 100%;
  }
}

@media (max-width: 1199.98px) {
  .spz-3003.form-expand
    #hero-section
    .hero
    .spz-content
    .section-highlight-point::after {
    bottom: -125px;
  }
}

@media (min-width: 1150px) {
  .spz-3003
    #hero-section
    form.mktoForm
    .mktoFormCol
    .mktoFieldWrap
    .mktoError
    .mktoErrorMsg
    span.mktoErrorDetail {
    padding-left: 3px;
  }
}

@media (max-width: 1024.98px) {
  .spz-3003
    #hero-section
    form.mktoForm
    .mktoFormCol
    .mktoFieldWrap
    .mktoError
    .mktoErrorMsg
    span.mktoErrorDetail {
    padding-left: 3px;
  }
}

@media (max-width: 1024.98px) {
  .spz-3003 #hero-section {
    // min-height: calc(100vh - 104px);
    // background-size: 1440px 1157px;
    // background-position: 0 0;
    padding: 48px 20px 80px !important;
  }

  /* .spz-3003.form-expand #hero-section {
        background-size: 2160px;
    } */

  //   .spz-3003 #hero-section .row.hero {
  //     flex-direction: column-reverse;
  //   }

  .spz-3003 #hero-section .row.hero > .col {
    width: 100%;
    max-width: 700px;
    margin: 16px 0 32px;
  }

  //   .spz-3003 #hero-section .hero .spz-content .section-heading {
  //     font-size: 48px !important;
  //     line-height: 56px !important;
  //     margin-bottom: 14px;
  //   }

  /* .spz-3003 #hero-section .hero .spz-content .section-highlight-point::after, .spz-3003 #hero-section .hero ::after {
    content: none !important;
  } */
  .spz-3003 #hero-section .hero .spz-content .section-highlight-point {
    margin: 4px 0 20px;
  }

  .spz-3003 #hero-section form.mktoForm .mktoFormCol .mktoCheckboxList label {
    padding-top: 1px;
  }

  .spz-3003 #hero-section form.mktoForm .mktoCaptchaDisclaimer {
    width: 55% !important;
  }

  .spz-3003.form-expand #hero-section form.mktoForm .mktoButtonRow {
    margin-top: 7.5px;
  }

  .spz-3003 #hero-section .hero-client-logos .client-logo:last-child {
    display: none;
  }

  .spz-3003 #hero-section .hero-client-logos {
    margin-top: 64.5px;
  }

  .spz-3003 footer#expel-footer {
    padding: 23px 0 24px;
  }

  .spz-3003 footer#expel-footer .links-container {
    flex-flow: column-reverse;
  }

  .spz-3003 footer#expel-footer .links-container .col.rights {
    margin-bottom: 10px;
  }
}

@media (max-width: 1199.98px) and (min-height: 1250px) {
  .spz-3003 #hero-section {
    background-size: cover;
  }
}

@media (max-width: 767.98px) {
  .spz-3003 #hero-section {
    // min-height: calc(100vh - 240px);
    padding: 64px 0 65px !important;
    // background-position: 0 1px;
  }

  .spz-3003 #hero-section .hero .spz-content .section-heading {
    max-width: 100%;
    font-size: 32px !important;
    line-height: 40px !important;
    margin-bottom: 12.5px;
  }

  .spz-3003 #hero-section .row.hero > .col {
    margin: 15.5px 0 32px;
  }

  .spz-3003 #hero-section .row.hero .spz-content {
    margin: 17.5px 0 0;
  }

  .spz-3003 .form-gartner-reviews .reviews picture,
  .spz-3003 .form-gartner-reviews .reviews .reviews-img {
    height: 18px;
  }

  .spz-3003 .form-gartner-reviews .reviews .reviews-img svg {
    height: 18px;
    width: 90px;
  }

  .spz-3003 .form-gartner-reviews .reviews .review-number {
    font-size: 14px;
    line-height: 22px;
  }

  .spz-3003 .form-gartner-reviews .fg-separator {
    margin: 0 auto;
  }

  .spz-3003 #hero-section .hero {
    padding: 27.5px 20px 29px;
    margin-top: 40px;
  }

  .spz-3003 #hero-section .hero .form-title {
    font-size: 24px;
    line-height: 32px;
  }

  .spz-3003 #hero-section form.mktoForm .mktoFormCol {
    width: 100% !important;
  }

  .spz-3003 #hero-section form.mktoForm .ispartner {
    margin-bottom: 15px !important;
  }

  .spz-3003
    #hero-section
    form.mktoForm
    .mktoFormCol
    .mktoFieldWrap
    select.mktoField {
    background-position: calc(100% - 15px) 19px;
  }

  .spz-3003 #hero-section form.mktoForm .mktoCaptchaDisclaimer {
    width: 85% !important;
  }

  .spz-3003 .mktoForm,
  .spz-3003 .mktoForm * {
    padding: initial;
  }

  .spz-3003 #hero-section form.mktoForm .mktoButtonRow {
    margin: 8px auto 15px;
  }

  .spz-3003.form-expand #hero-section form.mktoForm .mktoButtonRow {
    margin-top: 5px;
  }

  .spz-3003 #hero-section .hero-client-logos {
    margin-top: 45px;
  }

  .spz-3003 #hero-section .hero-client-logos .client-logo {
    margin: 15px 0;
  }

  .spz-3003 #hero-section .hero-client-logos .client-logo:nth-child(1) {
    order: 1;
  }

  .spz-3003 #hero-section .hero-client-logos .client-logo:nth-child(2) {
    order: 3;
  }

  .spz-3003 #hero-section .hero-client-logos .client-logo:nth-child(3) {
    order: 2;
  }

  .spz-3003 #hero-section .hero-client-logos .client-logo:nth-child(4) {
    order: 4;
  }

  .spz-3003 footer#expel-footer {
    padding: 24px 0px 13px;
  }

  .spz-3003 footer#expel-footer .links-container {
    flex-flow: column;
    justify-content: center;
  }

  .spz-3003 footer#expel-footer .links-container .links a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 12px;
  }
}

@media (max-width: 620px) {
  .spz-3003 #hero-section .hero-client-logos .container {
    max-width: 360px !important;
    margin: 0 auto;
  }
}

//form changes
.spz-3003 .spz-form-baseline {
  width: 50.9%;
  max-width: 594px;

  @media (max-width: 1199.98px) {
    width: 100%;
    max-width: 700px;
    margin-top: 48px;
  }

  @media (max-width: 1024.98px) {
    margin-top: 4px;
  }
}
.spz-3003 .spz-form-baseline .form-block {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-items: center;
}
// .spz-3003 .spz-form-baseline.current_step_3 .form-block,
// .spz-3003 .spz-form-baseline.current_step_4 .form-block {
//   padding: 40px 36px;
// }
.spz-3003 .spz-form-baseline .progress-bar {
  width: 172px;
  height: 4px;
  display: inline-flex;
  position: relative;
  margin: 0 auto;
  background: #ebebeb;
  border-radius: 44px;
}
.spz-3003 .spz-form-baseline .progress-bar::before {
  position: absolute;
  content: "";
  width: 62px;
  height: 100%;
  background: #00a85d;
  border-radius: 44px 0 0 44px;
  transition: all 0.6s ease-in-out;
}
.spz-3003 .spz-form-baseline.current_step_2 .progress-bar::before {
  width: 100px;
}
.spz-3003 .spz-form-baseline.current_step_3 .progress-bar::before {
  width: 100%;
  border-radius: 44px;
}
.spz-3003 .spz-form-baseline.current_step_4 .progress-bar::before {
  width: 100%;
  border-radius: 44px;
}
.spz-3003 .spz-form-baseline .Questions-block {
  width: 100%;
}
.spz-3003 .spz-form-baseline .Questions-block .step-header {
  margin: 12px auto 0;
  text-align: center;
}
.spz-3003 .spz-form-baseline .Questions-block .step_2 .step-header {
  margin-bottom: 8px;
}
.spz-3003 .spz-form-baseline .Questions-block .step_3 .step-header {
  margin-bottom: 20px;
}
.spz-3003 .spz-form-baseline .Questions-block .step-header .step-number {
  color: #00a85d;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}
.spz-3003 .spz-form-baseline .Questions-block .step-header .step-heading {
  color: #131416;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  margin: 4px 0 0;
}
.spz-3003 .spz-form-baseline .Questions-block .step-header .step-question {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 4px 0 0;
}
.spz-3003 .spz-form-baseline .Questions-block .step-content {
  position: relative;
}
.spz-3003 .spz-form-baseline .Questions-block .step-error {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(229, 27, 0, 0.36);
  background: rgba(229, 27, 0, 0.06);
  color: #e51b00;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-top: 20px;
  height: 46px;
}
.spz-3003
  .spz-form-baseline
  .Questions-block
  .step-content:not(.show-error)
  .step-error {
  pointer-events: none;
  display: none;
}
.spz-3003 .spz-form-baseline .Questions-block .step-error img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 4px;
}

.spz-3003 .spz-form-baseline .Questions-block .option-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.spz-3003 .spz-form-baseline .Questions-block .option-box .option-item {
  width: calc(50% - 10px);
  margin: 20px 0 0;
  position: relative;
}
.spz-3003 .spz-form-baseline .Questions-block .option-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.spz-3003 .spz-form-baseline .Questions-block .option-box .radio-option-item {
  width: calc(33.33% - 8px);
  height: 100px;
  margin: 12px 0 0;
  position: relative;
}
.spz-3003 .spz-form-baseline .Questions-block .option-box .option-content {
  background: rgba(23, 98, 230, 0.04);
  border-radius: 12px;
  border: 1px solid rgba(23, 98, 230, 0.36);
  padding: 19.3px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.spz-3003
  .spz-form-baseline
  .Questions-block
  .option-box
  div[class*="option-item"]:hover
  .option-content {
  background: rgba(23, 98, 230, 0.12);
  border-color: rgba(23, 98, 230, 0.41);
}
// .spz-3003
//   .spz-form-baseline
//   .Questions-block
//   .step-content.error
//   .option-box
//   .option-content {
//   background: rgba(229, 27, 0, 0.04);
//   border-color: rgba(229, 27, 0, 1);
// }
.spz-3003
  .spz-form-baseline
  .Questions-block
  .option-box
  div[class*="option-item"]
  input:checked
  + .option-content {
  background: rgba(3, 18, 99, 1);
  border: 1px solid rgba(23, 98, 230, 0.36);
}
.spz-3003 .spz-form-baseline .Questions-block .checkbox,
.spz-3003 .spz-form-baseline .Questions-block .radio {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(23, 98, 230, 0.36);
  border-radius: 2px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  //   @media (max-width: 1024.98px) {
  //     top: 13px;
  //     left: 13px;
  //   }
}
.spz-3003 .spz-form-baseline .Questions-block .radio {
  border-radius: 32px;
}
.spz-3003
  .spz-form-baseline
  .Questions-block
  .option-box
  input:checked
  + .option-content
  .checkbox {
  border-color: #fff;
  background: #ffffff;
}
.spz-3003
  .spz-form-baseline
  .Questions-block
  .option-box
  input:checked
  + .option-content
  .radio {
  border-color: #fff;
}
// .spz-3003 .spz-form-baseline .Questions-block .step-content.error .checkbox,
// .spz-3003 .spz-form-baseline .Questions-block .step-content.error .radio {
//   border-color: rgba(229, 27, 0, 1);
//   background: #fff;
// }
.spz-3003 .spz-form-baseline .Questions-block .checkbox svg {
  opacity: 0;
}
.spz-3003
  .spz-form-baseline
  .Questions-block
  .option-box
  .option-item
  input:checked
  + .option-content
  .checkbox
  svg {
  opacity: 1;
}
.spz-3003 .spz-form-baseline .Questions-block .radio .radio-dot {
  width: 8px;
  height: 8px;
  display: inline-flex;
  background: #fff;
  border-radius: 15px;
  opacity: 0;
}
.spz-3003
  .spz-form-baseline
  .Questions-block
  .option-box
  .radio-option-item
  input:checked
  + .option-content
  .radio
  .radio-dot {
  opacity: 1;
}
.spz-3003 .spz-form-baseline .Questions-block .option-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #031263;
  border-radius: 50px;
}
.spz-3003
  .spz-form-baseline
  .Questions-block
  .option-box
  div[class*="option-item"]
  input:checked
  + .option-content
  .option-icon {
  background: #fff;
}
.spz-3003
  .spz-form-baseline
  .Questions-block
  .option-box
  div[class*="option-item"]
  input:checked
  + .option-content
  .option-icon
  svg
  path {
  stroke: #031263;
}
.spz-3003
  .spz-form-baseline
  .Questions-block
  .option-box
  div[class*="option-item"]:last-child
  input:checked
  + .option-content
  .option-icon
  svg
  path {
  stroke-width: 1;
}
.spz-3003 .spz-form-baseline .Questions-block .option-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.spz-3003 .spz-form-baseline .Questions-block .option-icon .white-icon,
.spz-3003
  .spz-form-baseline
  .Questions-block
  .option-box
  .option-item
  input:checked
  + .option-content
  .blue-icon {
  display: none;
}
.spz-3003
  .spz-form-baseline
  .Questions-block
  .option-box
  .option-item
  input:checked
  + .option-content
  .white-icon {
  display: block;
}
.spz-3003 .spz-form-baseline .Questions-block .Option-text {
  color: #031263;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 12px 0 0;
}
.spz-3003 .spz-form-baseline .Questions-block .step_2 .Option-text {
  margin: 0;
}
.spz-3003
  .spz-form-baseline
  .Questions-block
  .option-box
  div[class*="option-item"]
  input:checked
  + .option-content
  .Option-text {
  color: #fff;
}
.spz-3003 .spz-form-baseline .Questions-block .step-button {
  width: 100%;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #1762e6;
  border-radius: 72px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 20px auto 16px;
  transition: all 0.3s ease-in-out;
}
.spz-3003 .spz-form-baseline .Questions-block .step-button:hover {
  background: #0e4c8a;
}
.spz-3003 .spz-form-baseline .Questions-block .step-button img {
  margin-left: 8px;
}
.spz-3003 .spz-form-baseline .form-footer {
  color: #747474;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  max-width: 70%;
  margin: 0 auto;
}
.spz-3003 .spz-form-baseline .form-footer a {
  color: #131416;
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: all 0.3s ease-in-out;
}
.spz-3003 .spz-form-baseline .form-footer a:hover {
  color: #0e4c8a;
}

/* Form CSS Start Here */
.spz-3003 .spz-form-baseline form.mktoForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 !important;
  width: 100% !important;

  * {
    font-family: proxima-nova, Arial, sans-serif;
  }
}
/* .spz-3003 .spz-form-baseline form.mktoForm .field-5 ~ .mktoFormCol, */
.spz-3003 .spz-form-baseline form.mktoForm .mktoClear,
.spz-3003 .spz-form-baseline form.mktoForm .mktoFormCol .mktoOffset,
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoLabel
  .mktoAsterix {
  display: none !important;
}
.spz-3003 .spz-form-baseline form.mktoForm .mktoFormCol {
  width: calc(50% - 6px) !important;
  margin-bottom: 12px !important;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol.field-3:has(+ .mktoFormCol[style*="display: none;"])
  ~ .mktoFormCol.field-7,
.spz-3003 .spz-form-baseline form.mktoForm .mktoFormCol.field-6,
.spz-3003 .spz-form-baseline.current_step_3 form.mktoForm .mktoFormCol.field-8,
.spz-3003 .spz-form-baseline.current_step_3 form.mktoForm .mktoFormCol.field-9,
.spz-3003 .spz-form-baseline form.mktoForm .mktoFormCol.field-10 {
  display: none;
}
.spz-3003 .spz-form-baseline form.mktoForm .mktoFormCol.field-9 {
  margin-bottom: 18px !important;
}
.spz-3003 .spz-form-baseline form.mktoForm .mktoFormCol.width_full,
.spz-3003 .spz-form-baseline form.mktoForm .mktoFormCol.field-1,
.spz-3003 .spz-form-baseline form.mktoForm .mktoFormCol.field-8,
.spz-3003 .spz-form-baseline form.mktoForm .mktoFormCol.field-9 {
  width: 100% !important;
}
.spz-3003 .spz-form-baseline form.mktoForm .mktoFormCol .mktoFieldWrap {
  position: relative;
  width: 100% !important;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoHtmlText {
  width: auto !important;
  color: #747474 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 22px;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoHtmlText
  a {
  color: #131416;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  padding: 0;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoHtmlText
  a:hover {
  color: #0e4c8a;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoLabel {
  width: auto !important;
  padding: 1px 6px;
  color: #747474 !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 24px !important;
  pointer-events: none;
  background: #fff;
  position: absolute;
  top: 14px;
  left: 10px;
  transition: all 0.3s ease-in-out;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.filled
  .mktoLabel,
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.active.typing
  .mktoLabel {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 22px !important;
  top: -11.5px;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.filled
  .mktoLabel {
  color: #000000 !important;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.active.typing
  .mktoLabel {
  color: #1762e6 !important;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.error.filled
  .mktoLabel,
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.error.active.typing
  .mktoLabel {
  color: #e51b00 !important;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoField {
  width: 100% !important;
  height: 52px;
  border: 1px solid #b4b3b9 !important;
  border-radius: 12px !important;
  outline: none;
  background-color: transparent;
  box-shadow: none !important;
  padding: 13px 15px !important;
  margin: 0 !important;
  color: #000 !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 24px !important;
  cursor: pointer;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoField[type="checkbox"] {
  width: 100%;
  height: 100%;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoField:-webkit-autofill,
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoField:-webkit-autofill:hover,
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoField:-webkit-autofill:focus,
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoField:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 52px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol.field-6
  .mktoFieldWrap::after,
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol.field-7
  .mktoFieldWrap::after {
  position: absolute;
  content: "";
  top: 20px;
  right: 20px;
  width: 12px;
  height: 12px;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1717757061/expel/2003/dropdown_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  select.mktoField {
  padding-right: 37px !important;
  appearance: none !important;
  background-image: none;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  textarea.mktoField {
  height: 91px;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.filled
  .mktoField {
  border-color: #747474 !important;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.active.typing
  .mktoField {
  border-color: #1762e6 !important;
  caret-color: #1762e6;
}
body.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.error
  .mktoField,
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap.error.active.typing
  .mktoField {
  border-color: #e51b00 !important;
  caret-color: #e51b00;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoError {
  position: relative;
  right: initial !important;
  bottom: initial !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoError
  .mktoErrorArrowWrap {
  display: none;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoError
  .mktoErrorMsg {
  max-width: unset;
  background: transparent;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1717661831/expel/2003/frame_1.svg");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 0 7px;
  box-shadow: none;
  text-shadow: none;
  margin: 0;
  padding: 7px 0 7px 12px;
  height: auto;
  border: none;
  border-radius: 0;
  color: #e51b00;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding-left: 26px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoFieldWrap
  .mktoError
  #ValidMsgEmail.mktoErrorMsg
  span.mktoErrorDetail {
  padding-left: 3px;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol[data-wrapper-for="mktoCheckbox_27626_0 Privacy_Compliance_Explicit_Opt_In__c"]
  .mktoLabel {
  display: none;
}
.spz-3003 .spz-form-baseline form.mktoForm .mktoFormCol .mktoCheckboxList {
  width: max-content !important;
  padding: 0;
  position: relative;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoCheckboxList
  input {
  position: absolute;
  opacity: 0;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoCheckboxList
  label {
  margin: 0;
  padding-left: 28px;
  color: #747474 !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 22px !important;
  position: relative;
  cursor: pointer;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoCheckboxList
  label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #747474;
  border-radius: 5px;
  top: 2px;
  left: 0;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoCheckboxList
  input:checked
  + label::before {
  background: #1762e6;
  border-color: #1762e6;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol
  .mktoCheckboxList
  label::after {
  position: absolute;
  content: "";
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1717664127/expel/2003/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  top: 5px;
  left: 3px;
}
.spz-3003 .spz-form-baseline form.mktoForm .comment-toggler {
  display: inline-block;
  color: #1762e6;
  font-family: proxima-nova, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.spz-3003 .spz-form-baseline form.mktoForm .comment-toggler:hover {
  color: #0e4c8a;
}
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol.field-9
  .comment-toggler.show-field,
.spz-3003
  .spz-form-baseline
  form.mktoForm
  .mktoFormCol.field-9
  .comment-toggler:not(.show-field)
  + .mktoFieldWrap {
  display: none;
}
.spz-3003 .spz-form-baseline form.mktoForm .mktoButtonRow {
  width: 100%;
  margin: 6px auto 18px;
}
.spz-3003 .spz-form-baseline form.mktoForm .mktoButtonRow .mktoButtonWrap {
  display: block;
  width: auto;
  height: auto;
  margin: 0 !important;
}
.spz-3003 .spz-form-baseline form.mktoForm .mktoButtonRow .mktoButton {
  width: 100%;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 72px;
  background: #1762e6;
  background-image: none !important;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 0 !important;
  margin: 0 !important;
}
.spz-3003 .spz-form-baseline form.mktoForm .mktoButtonRow .mktoButton:hover {
  background: #0e4c8a;
}
.spz-3003 .spz-form-baseline form.mktoForm .mktoCaptchaDisclaimer {
  display: none;
}
.spz-3003 .mktoForm .field-9 .mktoHtmlText {
  width: 70% !important;
  margin: 0 auto !important;
  color: #747474 !important;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 22px;
}
.spz-3003 .mktoForm .field-9 .mktoHtmlText {
  width: 100% !important;
  text-align: left;
}
.spz-3003 .mktoForm .field-9 .mktoHtmlText a {
  color: #131416;
  text-decoration: underline;
  text-underline-offset: 3px;
  padding: 0;
}
.spz-3003 .mktoForm .field-9 .mktoHtmlText a:hover {
  color: #0e4c8a;
}
/* Form CSS End Here */

@media (max-width: 1024.98px) {
  .spz-3003 .spz-form-baseline {
    flex-flow: column-reverse;
  }
  .spz-3003 .spz-form-baseline .content-block,
  .spz-3003 .spz-form-baseline .form-block {
    width: 100%;
    max-width: unset;
  }
  .spz-3003 .spz-form-baseline .content-block .hero-heading {
    margin: 25px 0 8px 0;
  }
  //   .spz-3003 .spz-form-baseline .form-block {
  //     margin-top: 48px;
  //   }
  .spz-3003 .spz-form-baseline .form-footer {
    max-width: 58%;
  }
}
@media (max-width: 767.98px) {
  .spz-3003 .spz-form-baseline .form-block {
    margin-top: 40px;
  }
  .spz-3003 .spz-form-baseline .form-block {
    margin-top: 40px;
    padding: 28px 20px !important;
  }
  .spz-3003 .spz-form-baseline .Questions-block .step-header {
    margin: 12px auto 10px;
  }
  .spz-3003 .spz-form-baseline .Questions-block .step_2 .step-header {
    margin-bottom: 10px;
  }
  .spz-3003 .spz-form-baseline .Questions-block .step_3 .step-header {
    margin-bottom: 19px;
  }
  .spz-3003 .spz-form-baseline .Questions-block .step-header .step-heading {
    font-size: 24px;
    line-height: 32px;
    margin: 3px 0 0;
  }
  .spz-3003 .spz-form-baseline .Questions-block .step-header .step-question {
    font-size: 16px;
    line-height: 1.5;
    margin: 5px 0 0;
  }
  .spz-3003 .spz-form-baseline .Questions-block .option-box .option-content {
    padding: 15px 10px;
  }
  .spz-3003 .spz-form-baseline .Questions-block .Option-text {
    font-size: 14px;
    line-height: 22px;
  }
  .spz-3003 .spz-form-baseline .Questions-block .step_2 .Option-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .spz-3003 .spz-form-baseline .Questions-block .Option-text br {
    display: block;
  }
  .spz-3003 .spz-form-baseline .Questions-block .checkbox {
    width: 16px;
    height: 16px;
  }
  .spz-3003 .spz-form-baseline .Questions-block .option-icon {
    width: 40px;
    height: 40px;
  }
  .spz-3003 .spz-form-baseline .Questions-block .option-box .radio-option-item {
    width: calc(50% - 4px);
    height: 100px;
    margin: 8px 0 0;
  }
  .spz-3003 .spz-form-baseline .Questions-block .step-error img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
  .spz-3003 .spz-form-baseline .Questions-block .step-error {
    font-size: 11px;
  }
  .spz-3003 .spz-form-baseline .Questions-block .step-button {
    margin: 18px auto 16px;
  }
  .spz-3003 .spz-form-baseline .form-footer {
    max-width: 100%;
  }
  .spz-3003 .spz-form-baseline.current_step_3 .form-footer,
  .spz-3003 .spz-form-baseline.current_step_4 .form-footer {
    padding: 0 5px;
  }
}

//second section starts here
.spz-3003 #stats-2-col {
  padding: 64px 0;
  background: #fff;

  @media (max-width: 1024.98px) {
    padding: 62.5px 0;
  }

  .container-custom {
    > .row {
      @media (max-width: 1199.98px) {
        gap: 16px;
      }
      @media (max-width: 1024.98px) {
        flex-direction: column;
      }
    }
    .col.content {
      max-width: 434px;
      flex: 0 0 35%;

      @media (max-width: 1024.98px) {
        max-width: 692px;
        flex: 0 0 100%;
      }

      h2 {
        color: #031263;
        font-size: 48px;
        font-weight: 800;
        line-height: 56px;
        margin: 0;
      }

      .section-subhead,
      .section-button {
        display: none !important;
      }
    }

    .col.stats {
      @media (max-width: 1024.98px) {
        margin: 26px 0 0;
        max-width: 692px;
      }

      > .row {
        gap: 40px;

        @media (max-width: 1199.98px) {
          gap: 8px;
        }

        @media (max-width: 1024.98px) {
          gap: 0;
          justify-content: space-between;
        }

        @media (max-width: 767.98px) {
          justify-content: center;
          flex-direction: column;
        }

        .single-stat {
          border: none;
          outline: none;
          width: 200px;
          height: 154px;

          @media (max-width: 767.98px) {
            width: 284px;
          }

          &:nth-child(1),
          &:nth-child(2) {
            img {
              width: calc(100% + 74px);
              height: auto;
              margin: 0 -38px -24px;
              max-width: inherit;
            }
          }
        }
      }
    }
  }
}
