.spz-3302 {
  .spz-cta-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px auto;

    @media (max-width: 767px) {
      margin: 30px auto 24px;
    }

    .button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 408px;

      @media (max-width: 1024px) {
        width: 375px;
      }

      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    .first-cta,
    .second-cta {
      display: flex;
      flex-direction: column;
      align-items: center;

      .button.mdBtn {
        padding: 17px 47.5px;
        margin-bottom: 11px;
        // @media (max-width: 1024px) {
        //   padding: 0.71rem 0.85rem;
        // }

        // @media (max-width: 767px) {
        //   padding: 0.8rem 0.85rem;
        // }
      }

      > span {
        display: block;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
        color: #3b4549;
        margin-bottom: 21px;
      }
    }
  }
}

.spz-3302 {
  .reason-trust-section {
    margin-top: 1.5px;

    .grid-x.wrapper {
      @media (min-width: 1200px) {
        padding-bottom: 0;
        padding-top: 46px;
      }

      @media (max-width: 767.98px) {
        padding-bottom: 4px;
        padding-top: 4px;
      }

      justify-content: center;
      @media (min-width: 767.98px) and (max-width: 1023.98px) {
        padding-bottom: 46px;
        div.spz-cta-section {
          margin-top: -3px;
          margin-bottom: 0;
        }
      }
      .medium-10.large-8.cell.pageBlock__content {
        max-width: 800px;

        @media (max-width: 1199.98px) {
          width: 624px;
        }

        @media (max-width: 767.98px) {
          max-width: 320px;
        }

        @media (max-width: 340px) {
          max-width: 290px;
        }
      }

      h1 {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        line-height: 72px;
        color: #3b454a;

        strong {
          font-weight: 900;
          line-height: 72px;
        }

        @media (max-width: 1199.98px) {
          font-size: 36px;
          line-height: 44px;
          max-width: 440px;
          max-height: 86px;

          strong {
            line-height: 44px;
          }
        }

        @media (max-width: 767.98px) {
          max-width: 320px;
          max-height: 132px;
        }

        @media (max-width: 340px) {
          max-height: 162px;
        }
      }

      ol {
        max-width: 664px;
        margin-left: auto;
        counter-reset: listCounter;
        margin-top: -3px;
        list-style: none !important;

        @media (max-width: 1199.98px) {
          max-width: 488px;
        }

        @media (max-width: 767.98px) {
          max-width: 320px;
          margin-top: -35px;
        }

        li {
          font-family: "Roboto";
          counter-increment: listCounter;
          margin-bottom: 57px;
          position: relative;

          @media (max-width: 1199.98px) {
            margin-bottom: 41px;
          }

          @media (max-width: 767.98px) {
            margin-top: 89px;
          }

          h3 {
            font-style: normal;
            font-weight: 900;
            font-size: 22px;
            line-height: 30px;
            color: #e85e26;
            padding-left: 25px;
            margin-bottom: 15px;

            strong {
              font-weight: 900;
            }
          }

          span {
            display: flex;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: #3b454a;

            @media (max-width: 1199.98px) {
              font-size: 16px;
              line-height: 24px;
            }

            br {
              display: none;
            }
          }

          &::marker {
            content: "";
          }

          &::before {
            content: counter(listCounter) ".";
            position: absolute;
            font-style: normal;
            font-weight: 900;
            font-size: 22px;
            line-height: 30px;
            color: #e85e26;
          }

          &::after {
            position: absolute;
            height: 120px;
            width: 120px;
            left: -136px;
            bottom: 0;

            @media (max-width: 1199.98px) {
              bottom: auto;
              top: 0;
            }

            @media (max-width: 767.98px) {
              top: -97px;
              left: -40px;
              transform: scale(0.33);
            }
          }

          &:nth-child(2)::after {
            content: url("https://res.cloudinary.com/spiralyze/image/upload/v1675332645/RAPID7/3301%20%7C%20Rapid7%20%7C%20XDR%20vs%20Comp%20%7C%20TechValidate%20Reviews/threat-engine.svg");
          }

          &:nth-child(1)::after {
            content: url("https://res.cloudinary.com/spiralyze/image/upload/v1675332645/RAPID7/3301%20%7C%20Rapid7%20%7C%20XDR%20vs%20Comp%20%7C%20TechValidate%20Reviews/time-to-value.svg");
          }

          &:nth-child(3)::after {
            content: url("https://res.cloudinary.com/spiralyze/image/upload/v1675332645/RAPID7/3301%20%7C%20Rapid7%20%7C%20XDR%20vs%20Comp%20%7C%20TechValidate%20Reviews/cloud-ir.svg");
          }
        }
      }

      .spz-cta-section {
        margin-top: -2px;
        margin-bottom: -4px;
        @media (max-width: 1199.98px) {
          margin-top: 51px;
          margin-bottom: 8px;
        }

        @media (max-width: 767.98px) {
          margin-top: -15px;
        }
      }
    }
  }
}

$primary: #3b454a;
$secondary: #595959;
$tertiary: #82939c;
$color_4: #dee5e8;
$roboto: "Roboto";
$mulish: "Mulish";

@import "https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,500;0,600;0,800;0,900;1,200;1,500;1,600;1,800;1,900&display=swap";
.spz-3302 {
  .review-section {
    padding: 18px 15px 21px;
    .container {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding: 41px 0 56px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-top: 1px solid $color_4;
      border-bottom: 1px solid $color_4;
    }
    .item-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      min-height: 175px;
      max-width: 302.67px;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      &:nth-child(1) {
        max-width: 220px;

        @media (max-width: 1199.98px) {
          max-width: 296px;
        }

        @media (max-width: 767.98px) {
          min-height: 60px;
        }

        .comment-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin: 0 auto;
        }
      }
      .br-logo {
        max-width: 161px;
        margin-top: 14px;
      }
      .star {
        max-width: 123px;
        width: 100%;
        margin: 0 auto;
      }
      .review-rate {
        font-family: $roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        color: $tertiary;
        margin-top: 24px;
        margin-bottom: 17px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 24px 24px 17px;
        span {
          font-family: $mulish;
          font-style: normal;
          font-weight: 900;
          font-size: 56px;
          line-height: 64px;
          color: $primary;
          padding-right: 10px;
        }
      }
      .comment {
        font-family: $roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $secondary;
        min-height: 96px;
        margin-bottom: 16.5px;
        letter-spacing: 0;
      }
      .profession,
      .profession-desc {
        font-family: $roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
      .profession {
        color: $primary;
        font-weight: 900;
        margin-bottom: 4.6px;
      }
      .profession-desc {
        color: $tertiary;
      }
    }
  }
}
@media (max-width: 1199.98px) {
  .spz-3302 {
    .review-section {
      padding: 0 0 30px;
      @media (max-width: 1023.98px) {
        padding: 0;
        .container {
          padding: 36px 0 14px;
        }
      }
      .container {
        max-width: 624px;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        padding: 38px 0 20px;
        justify-content: space-between;
      }
      .item-wrapper {
        .br-logo {
          margin-top: 8px;
        }
        margin-bottom: 13px;
        max-width: 296px;

        .comment-wrapper {
          margin: 0;
        }

        &:nth-child(1) {
          order: 1;

          .comment-wrapper {
            justify-content: center;
            padding-top: 5px;
          }
        }
        &:nth-child(2) {
          order: 4;
        }
        &:nth-child(3) {
          order: 3;
        }
        &:nth-child(4) {
          order: 2;
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
  .spz-3302 {
    .review-section {
      padding: 17.5px 0 1px;
      .container {
        max-width: 320px;
        padding: 0 0 24px;
      }
      .item-wrapper {
        max-width: 328px;
        margin-bottom: 7px;

        .comment-wrapper {
          margin: 0 auto;
        }

        .comment {
          margin-bottom: 10.5px;
        }

        &:nth-child(1) {
          justify-content: flex-start;
          margin-bottom: 20px;

          .comment-wrapper {
            margin: 0;
            align-items: flex-start;
          }
          .comment {
            padding-right: 1px;
          }
        }

        &:nth-child(2) {
          order: 2;
        }
        &:nth-child(3) {
          order: 3;
        }
        &:nth-child(4) {
          order: 4;
        }
      }
    }
  }
}
@media (max-width: 359.98px) {
  .spz-3302 {
    .review-section {
      .container {
        max-width: 275px;
      }
    }
  }
}

.spz-3302 {
  .pageContent > .data-table-block {
    > .grid-container > .grid-x.grid-padding-x {
      padding-bottom: 26px;

      @media (min-width: 767.98px) and (max-width: 1023.98px) {
        padding-bottom: 48px;
      }
      @media (max-width: 767.98px) {
        padding-bottom: 58px;
      }
    }
    .grid-padding-y.grid-padding-y {
      margin-bottom: -44px;
    }
  }

  .off-canvas-wrapper {
    .productOverview {
      .grid-container > .grid-x > .large-5.cell span {
        @media (max-width: 1023.98px) {
          margin-bottom: 0;
        }
      }
      .grid-x.grid-padding-x {
        align-items: flex-start;
        margin-bottom: 52px;
        @media (max-width: 1023.98px) {
          margin-bottom: 7px;
        }
        @media (max-width: 767.98px) {
          margin-bottom: 24px;
        }
        .large-order-1 {
          order: 3;
          padding: 0 4px;
          margin-left: 62px;
          margin-top: 14px;
          @media (min-width: 767.98px) and (max-width: 1023.98px) {
            margin-left: 64px;
            margin-top: 56px;
          }
          @media (max-width: 767.98px) {
            margin-top: 24px;
            margin-left: 0;
            width: 100%;
            .main-form {
              max-width: 320px;
              padding: 32px 23px;
              h2 {
                font-size: 28px;
                line-height: 36px;
              }
            }
          }
          .productwheel-wrapper {
            display: none !important;
          }
        }
        .large-order-2 {
          padding-left: 150px;
          width: 46%;
          padding-top: 94px;

          @media (max-width: 1023.98px) {
            padding-left: 30px;
            width: 100%;
            padding-top: 0px;
            .productOverview__heading {
              h1.text-center.large-text-left {
                padding-left: 46px;
                text-align: left;
              }
            }
          }
          @media (max-width: 767.98px) {
            padding-left: 14px;
            .productOverview__heading {
              h1.text-center.large-text-left {
                padding-left: 0;
                text-align: center;
                @media (min-width: 514.98px) {
                  text-align: left;
                }
              }
            }
          }
          > .button-container {
            display: none !important;
          }
        }
      }
    }
  }

  //Other required css for 3302
  .customerLogos {
    padding-top: 38px;
    padding-bottom: 42px;
    @media (max-width: 1023.98px) {
      padding-bottom: 38px;
    }
  }
}

$color_1: #519bc8;
$color_2: #1984c6;
$color_3: #0069a9;
$color_4: #595959;
$color_5: #3b454a;
$color_6: #333;
$color_7: #fff;
$color_8: #ff908f;
$color_9: #000;
$color_10: #7e7e7e;
$color_11: #ed1c24;
$color_12: #ffffff;
$font-family_1: Roboto;
$font-family_2: Muli, sans-serif;
$font-family_3: Roboto, sans-serif;
$font-family_4: Mulish, sans-serif;
$font-family_5: Muli;

.spz-3302 .grid-x.grid-padding-x {
  .medium-10.large-order-1 {
    .main-form {
      background: #ffffff;
      border: 1px solid #dee5e8;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
      border-radius: 12px;
      max-width: 590px;
      margin-left: auto;
      margin-right: 0;
      padding: 31px;
      @media (max-width: 1023.98px) {
        margin-left: auto;
        margin-right: auto;
      }
      h2 {
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #3b454a;
        margin-bottom: 8px;
      }
      > p {
        font-family: $font-family_3;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #82939c;
        letter-spacing: 0;
        margin-bottom: 20px;
      }
      form#formBlock {
        padding: 5px;
      }
      .mktoForm {
        .mktoFormRow[input-name="parent-FirstName"] {
          width: 100% !important;
        }
        .mktoFormRow[input-name="parent-LastName"] {
          width: 100% !important;
        }
        .mktoFormRow[input-name="parent-Title"] {
          width: 100% !important;
        }
        .mktoFormRow[input-name="parent-JobLevel"] {
          width: 100% !important;
        }
        .mktoFormRow[input-name="parent-Company"] {
          width: 100% !important;
        }
        .mktoFormRow[input-name="parent-Phone"] {
          width: 100% !important;
        }
        .mktoFormRow[input-name="parent-Email"] {
          width: 100% !important;
        }
        .mktoFormRow[input-name="parent-Country"] {
          width: 100% !important;
        }
        .mktoFormRow[input-name="parent-Department"] {
          width: 100% !important;
        }
        .mktoFormRow[input-name="parent-State"] {
          width: 100% !important;
        }
        .mktoFormRow {
          max-width: calc(100% / 2 - 10px);
          height: auto;
          width: auto;
          margin-bottom: 20px;
          @media (max-width: 767.98px) {
            max-width: 100%;
          }
          input[type="checkbox"] {
            padding: 0 !important;
            margin: 0 !important;
            vertical-align: middle;
            line-height: 1;
            float: none;
          }
          label {
            // display: none !important;
          }
          .mktoFormCol {
            .mktoFieldWrap {
              .mktoError {
                position: relative !important;
                bottom: 0 !important;
                .mktoErrorMsg {
                  font-family: "Roboto";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 20px;
                  color: #e85e26 !important;
                  max-width: 100%;
                  padding-bottom: 0;
                  padding-top: 0;
                  // position: absolute;
                  // left: 7px;
                  // top: -24.5px;
                  // padding: 0;

                  span.mktoErrorDetail {
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #e85e26 !important;
                  }
                }
                #ValidMsgEmail.mktoErrorMsg,
                #ValidMsgPhone.mktoErrorMsg {
                  font-family: "Roboto";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 20px;
                  display: flex;
                  flex-wrap: wrap;
                  width: 100%;
                  color: #e85e26;
                }
              }
            }
            .mktoFieldWrap.invalid-field {
              .error-message {
                font-family: $font-family_4;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #e74c3c !important;
                max-width: 100%;
                left: 7px;
                top: -24.5px;
                padding: 0;
                font-family: $font-family_4;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                // position: absolute;
                left: 0;
                top: 45px;
              }
              input {
                border: 1px solid #ed1c24 !important;
              }
              select {
                border: 1px solid #ed1c24 !important;
              }
            }
          }
          input {
            &:not([type="checkbox"]) {
              height: 44px !important;
              background: #fff;
              border: 1px solid #dee5e8 !important;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              border-radius: 5px !important;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 16px !important;
              line-height: 24px !important;
              color: #3b454a !important;
              margin: 0;
              padding: 7px 32px 6px 14px !important;
            }
            &:hover {
              border: 1px solid #cacaca !important;
            }
            &:focus {
              border: 1px solid #3b454a !important;
            }
          }
          select {
            height: 44px !important;
            border: 1px solid #dfdfdf !important;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 5px !important;
            font-style: normal;
            font-weight: 400;
            font-size: 16px !important;
            line-height: 24px !important;
            color: #3b454a !important;
            margin: 0;
            color: $color_10 !important;
            background: #fff
              url(//res.cloudinary.com/spiralyze/image/upload/v1627044048/RAPID7/702%20InsightVM%20Demo%20-%20Redesign%20v2/Dropdown.svg)
              no-repeat center right 16px;
            background-size: 10px;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            font-family: $font-family_4;
            overflow: hidden;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            padding: 6px 48px 6px 14px !important;
            &:hover {
              border: 1px solid #cacaca !important;
            }
            &:focus {
              border: 1px solid #3b454a !important;
            }
            &::-ms-expand {
              display: none;
            }
          }
          select.blackText {
            color: #3b454a !important;
          }
          &:nth-of-type(odd) {
            margin-right: 20px;
            @media (max-width: 767.98px) {
              margin-right: 0;
            }
          }
        }
        .mktoFormRow[input-name="parent-ExplicitOptOut__c"] {
          display: none;
        }
        .mktoFormRow[input-name="parent-noinput"] {
          display: none;
          display: none !important;
        }
        .mktoFormRow[input-name="parent-RF_SITEInferredCity"] {
          display: none;
        }
        .mktoRequiredField {
          .mktoAsterix {
            display: none !important;
          }
        }
        .mktoButtonWrap.mktoSimple,
        .mktoButtonWrap.mktoNative {
          .mktoButton {
            border: none !important;
            width: 100%;
            max-width: 100%;
            height: 52px;
            background: #e85e26 !important;
            border-radius: 50px !important;
            font-family: $font-family_4;
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            line-height: 100%;
            text-align: center;
            text-transform: uppercase;
            color: $color_7;
            margin-top: 24px !important;
            letter-spacing: 3px;
            -webkit-transition: none !important;
            -o-transition: none !important;
            transition: none !important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            padding-left: 58px;
            padding-bottom: 12px;
            &::before {
              content: url("//res.cloudinary.com/spiralyze/image/upload/v1680275784/Rapid7/3302XDRvsCompetitorsDemoForminHero/Play.svg");
              display: block;
              position: absolute;
              width: 20px;
              height: 20px;
              top: 25%;
              left: calc(50% - 75px);
            }
            &:hover {
              background: #e85e26 !important;
            }
            &:active {
              background: #e85e26 !important;
            }
            &:focus {
              background: #e85e26 !important;
            }
          }
        }
      }
      .mktoFormRow {
        .mktoFormCol {
          .mktoFieldWrap {
            label.mktoLabel {
              width: auto !important;
              position: absolute;
              top: 10px;
              left: 16px;
              z-index: 1;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #82939c;
              pointer-events: none;
              -webkit-transition: 0.3s all ease-in-out;
              -o-transition: 0.3s all ease-in-out;
              transition: 0.3s all ease-in-out;
            }

            &.focused {
              label.mktoLabel {
                background: #fff;
                top: -7px;
                left: 11px;
                font-weight: 400;
                font-size: 13px;
                line-height: 100%;
                color: #3b454a;
                padding: 1px 5px;
              }

              &.invalid-field {
                label.mktoLabel {
                  color: #e85e26;
                }
              }
              // &.filled:not(.invalid-field) {
              //   label.mktoLabel {
              //     color: #1cbb98;
              //   }

              //   input,
              //   select {
              //     border-color: #1cbb98 !important ;
              //   }
              //   &::after {
              //     content: "";
              //     background: url("//res.cloudinary.com/spiralyze/image/upload/v1680674289/RAPID7/3302/Right-click.svg");
              //     display: block;
              //     position: absolute;
              //     width: 13px;
              //     height: 10px;
              //     right: 16px;
              //     top: 17px;
              //     pointer-events: none;
              //   }
              // }
            }
          }
        }

        // &[input-name="parent-Country"],
        // &[input-name="parent-State"] {
        //   .mktoFormCol {
        //     .mktoFieldWrap.focused.filled:not(.invalid-field) {
        //       &::after {
        //         right: 34px;
        //       }
        //     }
        //   }
        // }
      }
      .instructions {
        font-family: $font-family_3;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #82939c;
        text-align: center;
        letter-spacing: 0;
        margin: 8px 0 24px 0;
      }
    }
  }
  .mktoForm {
    .mktoFormRow {
      .mktoFormCol {
        margin-bottom: 0 !important;
        .mktoFieldWrap {
          margin-bottom: 0 !important;
          select.mktoInvalid[aria-invalid="true"][aria-describedby] {
            // margin-bottom: 5px !important;
          }
        }
        .mktoFieldWrap.invalid-field {
          // input[aria-invalid="false"][aria-describedby] {
          //   margin-bottom: 5px !important;
          // }
          // input[aria-invalid="true"][aria-describedby] {
          //   margin-bottom: 5px !important;
          // }
          // select[aria-invalid="false"][aria-describedby] {
          //   margin-bottom: 5px !important;
          // }
          // select[aria-invalid="true"][aria-describedby] {
          //   margin-bottom: 5px !important;
          // }
        }
      }
    }
  }
}
.mktoFieldWrap {
  input {
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
      opacity: 1 !important;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
    &::-ms-input-placeholder {
      color: transparent;
    }
    &::placeholder {
      color: transparent;
    }
  }
  select {
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
      opacity: 1 !important;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
    &::-ms-input-placeholder {
      color: transparent;
    }
    &::placeholder {
      color: transparent;
    }
  }
}
// .mktoFieldWrap.invalid-field {
//   input {
//     &::-webkit-input-placeholder {
//       color: $color_11 !important;
//     }
//     &::-moz-placeholder {
//       color: $color_11 !important;
//       opacity: 1 !important;
//     }
//     &:-ms-input-placeholder {
//       color: $color_11 !important;
//     }
//     &::-ms-input-placeholder {
//       color: $color_11 !important;
//     }
//     &::placeholder {
//       color: $color_11 !important;
//     }
//   }
//   select {
//     &::-webkit-input-placeholder {
//       color: $color_11 !important;
//     }
//     &::-moz-placeholder {
//       color: $color_11 !important;
//       opacity: 1 !important;
//     }
//     &:-ms-input-placeholder {
//       color: $color_11 !important;
//     }
//     &::-ms-input-placeholder {
//       color: $color_11 !important;
//     }
//     &::placeholder {
//       color: $color_11 !important;
//     }
//   }
// }

.medium-10.large-order-1 {
  .main-form {
    .mktoForm {
      .mktoFormRow[input-name="parent-ExplicitOptOut__c"] {
        display: block !important;
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-bottom: 0;
        .mktoFormCol {
          margin-bottom: 0 !important;
        }
      }
      .mktoFormRow[input-name="parent-noinput"] {
        display: block !important;
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-bottom: 0;
        .mktoFormCol {
          margin-bottom: 0 !important;
        }
        .mktoFieldWrap {
          .mktoHtmlText.mktoHasWidth {
            font-family: $font-family_5;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            padding: 0;
            margin-bottom: 0;
            display: flex !important;
            align-items: center;
            flex-wrap: wrap;
          }
        }
      }
      .mktoFormRow {
        .mktoFormCol {
          .mktoFieldWrap {
            .mktoLogicalField.mktoCheckboxList.mktoHasWidth {
              display: -webkit-box !important;
              display: -ms-flexbox !important;
              display: flex !important;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              max-width: 100%;
              margin-bottom: 5px;
              display: flex !important;
              align-items: center;
              flex-wrap: wrap;
              label {
                display: block !important;
              }
              > label {
                position: relative;
                top: initial;
                left: initial;
                padding-left: 14px;
                font-family: $font-family_1;
                font-weight: 300;
                font-size: 12px;
                line-height: 20px;
                color: #3b454a;
                margin: 0 !important;
                float: none;
                white-space: nowrap;
                width: calc(100% - 14px);
              }
            }
          }
        }
      }
    }
    #mktoCheckbox_133813_0 {
      height: auto !important;
      margin-top: 4px !important;
    }
  }
  .text-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3b454a;
    margin-top: 4px;
    margin-left: -3px;
    // @media (min-width: 767.98px) and (max-width: 1023.98px) {
    //   margin-top: 4px;
    // }
    @media (max-width: 767.98px) {
      margin-top: 3px;
      text-align: left;
      margin-left: 0;
    }
    a {
      color: #519bc8;
      padding: 0;
    }
  }
}

@media (max-width: 1199.98px) {
  .medium-10.large-order-1 {
    .main-form {
      .mktoForm {
        .mktoFormRow {
          max-width: calc(100% / 2 - 6px);
          &:nth-of-type(odd) {
            margin-right: 12px;
          }
        }
      }
    }
  }
}
@media (max-width: 1023.98px) {
  .medium-10.large-order-1 {
    .main-form {
      > p {
        font-weight: 300;
      }
      max-width: 668px;
      padding: 45px 43px 46px;
      margin: auto;
      margin-top: -1px;
      h2 {
        font-size: 34px;
        line-height: 43px;
        margin-bottom: 20px;
      }
      .mktoForm {
        .mktoFormRow {
          &:nth-of-type(odd) {
            margin-right: 20px;
          }
          input {
            margin-top: -1px;
          }
          select {
            margin-top: -1px;
          }
          max-width: 280px;
        }
        .mktoButtonRow {
          margin-top: 0;
        }
        .mktoButtonWrap.mktoSimple {
          .mktoButton {
            max-width: 460px !important;
            margin-top: 5px !important;
          }
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
  .medium-10.large-order-1 {
    .main-form {
      padding: 40px 18px;
      margin: auto;
      h2 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
      }
      .mktoForm {
        .mktoFormRow {
          &:nth-of-type(odd) {
            margin-right: 0;
          }
          max-width: initial;
          margin-bottom: 15px;
          select {
            background: #fff
              url(//res.cloudinary.com/spiralyze/image/upload/v1627044048/RAPID7/702%20InsightVM%20Demo%20-%20Redesign%20v2/Dropdown.svg)
              no-repeat center right 12px;
          }
        }
        .mktoButtonWrap.mktoSimple {
          .mktoButton {
            max-width: 280px !important;
            margin-top: 5px !important;
          }
        }
      }
      .form-bottom-text {
        margin-top: 20px;
        font-size: 13px;
        line-height: 15px;
        max-width: 100%;
      }
    }
  }
}
