.spz-22002 header {
  border-bottom: 1px solid #dde3eb;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] {
  top: 141px;
  max-height: calc(100vh - 141px);
}
.spz-22002 header.MuiPaper-elevation2 [class*=HeaderNavLink-navItemSubMenuWrapper] {
  top: 97px;
  max-height: calc(100vh - 97px);
}
.spz-22002 header > .MuiContainer-root {
  padding: 0 56px;
}
.spz-22002 header > .MuiContainer-root [class*=Header-contentContainer] {
  -ms-grid-columns: (minmax(0, 1fr))[16];
  grid-template-columns: repeat(16, minmax(0, 1fr));
}
.spz-22002 header > .MuiContainer-root [class*=Header-contentContainer] > a img[class*=Media-root-Header-logo] {
  height: 22px;
}
.spz-22002 header > .MuiContainer-root [class*=Header-contentContainer] > nav {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/span 8;
}
.spz-22002 header > .MuiContainer-root [class*=Header-contentContainer] > nav > ul li[class*=headerMenuNavItem] {
  margin-right: 33.5px;
}
.spz-22002 header > .MuiContainer-root [class*=Header-contentContainer] > nav > ul li[class*=headerMenuNavItem] a {
  padding: 0;
  font-weight: 500;
}
.spz-22002 header > .MuiContainer-root [class*=Header-contentContainer] > nav > ul li[class*=headerMenuNavItem] a svg {
  margin-left: 16px;
}
.spz-22002 header > .MuiContainer-root [class*=Header-contentContainer] > nav > ul li[class*=headerMenuNavItem] a:is(:hover, :focus-within):not(:focus-visible) [class*=HeaderNavLink-navItemLink] {
  font-weight: 700;
}
.spz-22002 header > .MuiContainer-root [class*=Header-contentContainer] > nav > ul li[class*=headerMenuNavItem] div[data-testid=HeaderNavLink][open] a {
  font-weight: 700;
}
.spz-22002 header > .MuiContainer-root [class*=Header-contentContainer] > ul {
  padding: 24px 0;
  -ms-grid-column: 13;
  -ms-grid-column-span: 4;
  grid-column: 13/span 4;
  gap: 0 28px;
}
.spz-22002 header > .MuiContainer-root [class*=Header-contentContainer] > ul a[class*=MuiTypography-link] {
  color: #293642;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}
.spz-22002 header > .MuiContainer-root [class*=Header-contentContainer] > ul a[class*=MuiTypography-darkL] {
  width: 174px;
  padding: 10px 26px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  white-space: nowrap;
}
.spz-22002 header > .MuiContainer-root [class*=Header-contentContainer] > ul a[class*=MuiTypography-darkL] svg {
  width: 7px;
  margin-left: 25px;
}
.spz-22002 header [class*=Header-headerMenuNavItems] > li [class*=HeaderNavLink-root]:is(:hover, :focus-within):not(:focus-visible) {
  border-bottom: 2px solid #0580e8;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] {
  position: fixed;
  left: 0;
  right: 0;
  bottom: initial;
  width: 100%;
  padding-top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background: #fff;
  -webkit-box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
          box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  padding: 32px 0 40px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper]::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 40px;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] > li {
  opacity: 0.9;
  border-right: 1px solid #dde3eb;
  padding: 0 32px;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] > li:first-child {
  padding-left: 0;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] > li:last-child {
  padding-right: 0;
  border-right: none;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu]:first-child {
  padding-left: 0;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu]:last-child {
  padding-right: 0;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] [class*=HeaderNavGroup-navItemLink-HeaderNavLink-navItemGroup] {
  color: #0580e8;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] [class*=HeaderNavGroup-navItemLink-HeaderNavLink-navItemGroup] svg {
  display: none;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] [class*=HeaderNavGroup-navItemSubMenuWrapper] {
  margin-top: 40px;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] [class*=HeaderNavGroup-navItemSubMenuWrapper] > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  padding-left: 0;
  list-style: none;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] [class*=HeaderNavGroup-navItemSubMenuWrapper] > ul a[class*=navItemLink-HeaderNavGroup-navItemGroup] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0c131a;
  text-overflow: ellipsis;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding: 12px;
  overflow: hidden;
  text-decoration: none;
  gap: 4px 12px;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] [class*=HeaderNavGroup-navItemSubMenuWrapper] > ul a[class*=navItemLink-HeaderNavGroup-navItemGroup] svg {
  display: none;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] [class*=HeaderNavGroup-navItemSubMenuWrapper] > ul a[class*=navItemLink-HeaderNavGroup-navItemGroup] .menu-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  background: #f6f8fa;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] [class*=HeaderNavGroup-navItemSubMenuWrapper] > ul a[class*=navItemLink-HeaderNavGroup-navItemGroup] .menu-icon > img {
  width: 24px;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] [class*=HeaderNavGroup-navItemSubMenuWrapper] > ul a[class*=navItemLink-HeaderNavGroup-navItemGroup] .menu-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] [class*=HeaderNavGroup-navItemSubMenuWrapper] > ul a[class*=navItemLink-HeaderNavGroup-navItemGroup] .menu-texts .menu-title {
  overflow: hidden;
  color: #0c131a;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] [class*=HeaderNavGroup-navItemSubMenuWrapper] > ul a[class*=navItemLink-HeaderNavGroup-navItemGroup] .menu-texts .menu-title .new-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter", sans-serif;
  margin-left: 12px;
  color: #0068c9;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border-radius: 4px;
  background: #eff8ff;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] [class*=HeaderNavGroup-navItemSubMenuWrapper] > ul a[class*=navItemLink-HeaderNavGroup-navItemGroup] .menu-info {
  color: #697586;
  font-family: "__Inter_36bd41", "__Inter_Fallback_36bd41";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-top: 3px;
}
.spz-22002 header [class*=HeaderNavLink-navItemSubMenuWrapper] > [class*=HeaderNavLink-navItemSubMenu] [class*=HeaderNavGroup-navItemSubMenuWrapper] > ul a[class*=navItemLink-HeaderNavGroup-navItemGroup]:hover {
  border-radius: 8px;
  background: #eff8ff;
}
.spz-22002 header .solutions-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.spz-22002 header .solutions-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu] {
  padding-right: 8px;
}
.spz-22002 header .solutions-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu].by-company-size-spz {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18.5%;
          flex: 0 0 18.5%;
}
.spz-22002 header .solutions-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu].platform-capabilities-spz {
  width: 100%;
  padding-left: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34.4%;
          flex: 0 0 34.4%;
}
.spz-22002 header .solutions-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu].frameworks-spz {
  width: 100%;
  padding-left: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26.1%;
          flex: 0 0 26.1%;
}
.spz-22002 header .solutions-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu].take-drata-spz {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21%;
          flex: 0 0 21%;
  padding-left: 50px;
}
.spz-22002 header .solutions-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu]:first-child {
  padding-left: 0;
}
.spz-22002 header .solutions-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu]:last-child {
  padding-right: 0;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu].quick-link-spz {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.5%;
          flex: 0 0 23.5%;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu].discover-learn-spz {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28.4%;
          flex: 0 0 28.4%;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu].compliance-support-spz {
  width: 100%;
  padding-right: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.5%;
          flex: 0 0 24.5%;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu].customer-support-spz {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu]:first-child {
  padding-left: 0;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu]:last-child {
  padding-right: 18px;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] .css-spz-menu-card .spz-menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 16px;
  background: #f6f8fa;
  position: relative;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] .css-spz-menu-card .spz-menu-card::after {
  content: "Featured";
  overflow: hidden;
  color: #fff;
  font-family: "__Inter_36bd41", "__Inter_Fallback_36bd41";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 34px;
  left: 0;
  width: 93px;
  height: 36px;
  background: #293642;
  border-radius: 0px 2px 2px 0px;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] .css-spz-menu-card .spz-menu-card img {
  width: 100%;
  height: 118px;
  -o-object-fit: cover;
     object-fit: cover;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] .css-spz-menu-card .spz-menu-card .card-title {
  color: #1d252e;
  font-family: "__Inter_36bd41", "__Inter_Fallback_36bd41";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 16px;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] .css-spz-menu-card .spz-menu-card .card-desc {
  color: #485665;
  font-family: "__Inter_36bd41", "__Inter_Fallback_36bd41";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 8px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] .css-spz-menu-card .spz-menu-card .card-link {
  color: #0c131a;
  font-family: "__Inter_36bd41", "__Inter_Fallback_36bd41";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 16px;
  text-decoration: none;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] .css-spz-menu-card .spz-menu-card .card-link svg {
  margin-left: 6px;
  margin-top: 4px;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] .css-spz-menu-card .spz-menu-card .card-link:hover {
  color: #0580e8;
}
.spz-22002 header .resources-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] .css-spz-menu-card .spz-menu-card.ws-tech-card .card-desc {
  max-height: initial;
  overflow: visible;
  text-overflow: unset;
  display: block;
}
.spz-22002 header .alliances-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.spz-22002 header .alliances-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu].partners-spz {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22.8%;
          flex: 0 0 22.8%;
}
.spz-22002 header .alliances-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu].auditors-spz {
  width: 100%;
  padding-left: 82px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28.4%;
          flex: 0 0 28.4%;
}
.spz-22002 header .alliances-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu]:first-child {
  padding-left: 0;
}
.spz-22002 header .alliances-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu]:last-child {
  padding-right: 18px;
}
.spz-22002 header .company-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.spz-22002 header .company-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu].company-sub-spz {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 72.8%;
          flex: 0 0 72.8%;
}
.spz-22002 header .company-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu].company-card-spz {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28.4%;
          flex: 0 0 28.4%;
}
.spz-22002 header .company-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu]:first-child {
  padding-left: 0;
}
.spz-22002 header .company-spz [class*=HeaderNavLink-navItemSubMenuWrapper] ul[class*=HeaderNavLink-navItemSubMenu] > [class*=HeaderNavLink-navItemSubMenu]:last-child {
  padding-right: 18px;
}
.spz-22002 header .company-spz .css-spz-menu-card .spz-menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 16px;
  background: #f6f8fa;
  position: relative;
}
.spz-22002 header .company-spz .css-spz-menu-card .spz-menu-card img {
  width: 100%;
  height: 118px;
  -o-object-fit: cover;
     object-fit: cover;
}
.spz-22002 header .company-spz .css-spz-menu-card .spz-menu-card .card-title {
  color: #1d252e;
  font-family: "__Inter_36bd41", "__Inter_Fallback_36bd41";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 16px;
}
.spz-22002 header .company-spz .css-spz-menu-card .spz-menu-card .card-desc {
  color: #485665;
  font-family: "__Inter_36bd41", "__Inter_Fallback_36bd41";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 8px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.spz-22002 header .company-spz .css-spz-menu-card .spz-menu-card .card-link {
  color: #0c131a;
  font-family: "__Inter_36bd41", "__Inter_Fallback_36bd41";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 16px;
  text-decoration: none;
}
.spz-22002 header .company-spz .css-spz-menu-card .spz-menu-card .card-link svg {
  margin-left: 6px;
  margin-top: 4px;
}
.spz-22002 header .company-spz .css-spz-menu-card .spz-menu-card .card-link:hover {
  color: #0580e8;
}
.spz-22002 header .company-spz .css-spz-menu-card .spz-menu-card.ws-tech-card .card-desc {
  max-height: initial;
  overflow: visible;
  text-overflow: unset;
  display: block;
}