body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid > .span12.widget-span.widget-type-cell {
  display: none !important;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .spz-container {
  max-width: 1308px;
  margin: auto;
  padding: 0 16px;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .spz-container {
    max-width: 688px;
    padding: 0;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .spz-container {
    max-width: 320px;
    padding: 0;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section {
  background: #dceee2;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container {
  padding: 73px 16px 75px;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container {
    padding: 64px 0px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container {
    padding: 48px 0px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (min-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child {
    max-width: 548px;
    padding-right: 0;
    width: 100%;
  }
}
@media (min-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper {
    padding-top: 2px;
  }
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper {
    margin-bottom: 64px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper {
    margin-bottom: 40px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper .subtitle {
  color: #007c79;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 17px;
  letter-spacing: -0.34px;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper .subtitle {
    margin: 0 0 16px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper .title {
  color: #363f44;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.62px;
  margin: 0;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper .title span {
  color: #007c79;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper .title {
    font-size: 32px;
    line-height: 40px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper ul.list {
  padding-left: 0;
  list-style: none;
  margin: 29px 0 30px;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper ul.list {
    margin: 24px 0;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper ul.list .list-item {
  padding-left: 30px;
  position: relative;
  margin-bottom: 20px;
  color: #363f44;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.35px;
}
@media (min-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper ul.list .list-item {
    letter-spacing: -0.17px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper ul.list .list-item::before {
  content: url(//res.cloudinary.com/spiralyze/image/upload/v1705485163/unanet/4001/vector_2.svg);
  position: absolute;
  left: 0;
  top: 0;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper ul.list .list-item span {
  font-weight: 700;
}
@media (min-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:last-child {
    padding-left: 9px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:last-child .right-img-wrapper {
  max-width: 758px;
  width: 100%;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:last-child .right-img-wrapper img {
  width: 100%;
  width: 762px;
  height: 598px;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:last-child .right-img-wrapper img {
    width: 768px;
    height: 602px;
    margin-left: -40px;
  }
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:last-child .right-img-wrapper img {
    width: 360px;
    height: 282.111px;
    margin-left: -20px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .trusted-partner-section {
  background: #007c79;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .trusted-partner-section .content {
  padding: 50px 43px;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .trusted-partner-section .content {
    padding: 50px 0px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .trusted-partner-section .content {
    padding: 48px 0px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .trusted-partner-section .content .title {
  color: #fff;
  text-align: center;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 48px;
  letter-spacing: -0.34px;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .trusted-partner-section .content .title {
    margin: 0 0 47px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .trusted-partner-section .content .title {
    margin: 0 0 32px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .trusted-partner-section .content .img-wrapper img {
  width: 100%;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section {
  background: #007c79 url(//res.cloudinary.com/spiralyze/image/upload/v1705434973/unanet/4001/bottom_element.svg) no-repeat;
  background-position: bottom center;
  background-size: auto;
  padding: 60px 0 32px;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section {
    padding: 60px 0 40px;
    background-position: 48.75% 100%;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section {
    padding: 40px 0 24px;
    background-position: 48.75% 100%;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section .title {
  color: #fff;
  text-align: center;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.2px;
  margin: 0 0 48px;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section .title {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 32px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section .feature-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section .feature-cards-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section .feature-cards-wrapper .card.feature-card {
  border-radius: 16px;
  background: #fff;
  width: 100%;
  max-width: 398.69px;
  margin-bottom: 48px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32.33%;
          flex: 0 0 32.33%;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section .feature-cards-wrapper .card.feature-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.5%;
            flex: 0 0 48.5%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section .feature-cards-wrapper .card.feature-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section .feature-cards-wrapper .card.feature-card .card-img-top {
  border-radius: 16px 16px 0 0;
  height: 190px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section .feature-cards-wrapper .card.feature-card .card-body {
  padding: 24px 22px 38px 24px;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section .feature-cards-wrapper .card.feature-card .card-body {
    padding-right: 24px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section .feature-cards-wrapper .card.feature-card .card-body .card-title {
  color: #373737;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 12px;
  letter-spacing: -0.34px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section .feature-cards-wrapper .card.feature-card .card-body .card-text {
  color: #373737;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.42px;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .features-section .feature-cards-wrapper .card.feature-card .card-body .card-text {
    font-size: 14px;
    line-height: 20px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section {
  background: #33585e;
  padding: 20px 0 80px;
  position: relative;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section {
    padding: 20px 0 160px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section {
    padding: 20px 0 128px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .spz-container {
  overflow: hidden;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-desktop {
    display: none;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob {
    display: none;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob .g2-card-wrapper {
    margin-right: 20px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob .g2-card-wrapper {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob .review-slider-wrapper {
  overflow: hidden;
  max-width: 463px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob .swiper-pagination {
  bottom: 76px;
  left: calc(50% - 24px);
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob .swiper-pagination {
    bottom: 60px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob .swiper-pagination .swiper-pagination-bullet {
  margin: 0 4px;
  border-radius: 77px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.8);
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob .swiper-button-prev {
  background-image: url(https://res.cloudinary.com/spiralyze/image/upload/v1706528506/unanet/4001/src/arrow.svg);
  background-size: 48px 48px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  bottom: 64px;
  height: 48px;
  top: auto;
  left: calc(50% - 84px);
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob .swiper-button-prev {
    bottom: 48px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob .swiper-button-next {
  background-image: url(https://res.cloudinary.com/spiralyze/image/upload/v1706528506/unanet/4001/src/arrow.svg);
  background-size: 48px 48px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  bottom: 64px;
  height: 48px;
  top: auto;
  right: calc(50% - 84px);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .for-tab-mob .swiper-button-next {
    bottom: 48px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 1px solid #ccd4d9;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  max-width: 205px;
  min-height: 279px;
  width: 100%;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box {
    min-width: 205px;
    min-height: 267px;
    max-height: 267px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box {
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: auto;
    padding: 23px 16px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box .g2-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box .g2-images {
    margin: 0 20px 0 0;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box .g2-images .g2-logo,
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box .g2-images .star-rating {
  margin: 0 0 20px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box .g2-images p {
  color: #002840;
  text-align: center;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  margin: 0 0 20px;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box .g2-images p {
    margin: 0;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box .reviews {
  margin: 22px 0 2px;
  position: relative;
  width: 100%;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box .reviews {
    margin: 0 0 0 20px;
    width: auto;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box .reviews p {
  color: #002840;
  text-align: center;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  margin: 0;
  letter-spacing: -0.4px;
  max-width: 100px;
  margin: auto;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box .reviews p span {
  white-space: nowrap;
  font-weight: 500;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box .reviews::before {
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.25;
  background: #737373;
  display: block;
  position: absolute;
  top: -22px;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .g2-box .reviews::before {
    height: 128px;
    width: 1px;
    top: -40px;
    left: -20px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .review-box {
  border-radius: 10px;
  border: 1px solid #ccd4d9;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 23px 15px 19px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 337px;
  min-height: 279px;
  width: 100%;
  margin-left: 20px;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .review-box {
    max-width: 100%;
    margin-left: 0;
    min-height: 267px;
    max-height: 267px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .review-box .review-head {
  width: 100%;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .review-box .review-head .g2-logo {
  margin-left: auto;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .review-box p {
  color: #002840;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  letter-spacing: -0.4px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .review-box .review-author p {
  color: #002840;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  line-height: 12px;
  letter-spacing: -0.45px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .review-slider-section .review-box .review-author span {
  font-family: Mona Sans, arial, sans-serif;
  font-weight: 400;
  color: #80939f;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.45px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works {
  background: #fff;
  padding: 80px 0;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works {
    padding: 64px 0;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works {
    padding: 48px 0;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .title {
  color: #363f44;
  text-align: center;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1px;
  margin: 0 0 48px;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .title {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 32px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper .card.process-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 30px 40px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 398px;
  width: 100%;
  border-radius: 24px 0px;
  border: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32.33%;
          flex: 0 0 32.33%;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper .card.process-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 24px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper .card.process-card:nth-child(1) {
  background: #5ec68d;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper .card.process-card:nth-child(2) {
  background: #2d8b61;
  border-radius: 0px 24px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper .card.process-card:nth-child(3) {
  background: #1f807a;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper .card.process-card .card-img-top {
  width: 80px;
  height: 80px;
  margin: 0 auto 48px;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper .card.process-card .card-img-top {
    margin: 0 auto 32px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper .card.process-card .card-img-top {
    width: 64px;
    height: 64px;
    margin: 0 auto 24px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper .card.process-card .card-body {
  padding: 0;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper .card.process-card .card-body .title {
  color: #fff;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 16px;
  letter-spacing: -0.45px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper .card.process-card .card-body .title span {
  margin-right: 10px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper .card.process-card .card-body .card-text {
  color: #fff;
  text-align: center;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  letter-spacing: -0.4px;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .cards-wrapper .card.process-card .card-body .card-text {
    letter-spacing: -0.35px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card {
  margin-top: 48px;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card {
    margin-top: 24px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card {
    margin-top: 8px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 24px;
  background: #dceee2 url(//res.cloudinary.com/spiralyze/image/upload/v1705433434/unanet/4001/frame_1171275716.svg) no-repeat;
  background-position: top right;
  background-size: initial;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card {
    padding: 32px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card {
    padding: 25px 20px;
    background: #dceee2;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .header-card {
  color: #363f44;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 24px;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .header-card {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 23px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .header-card span {
  color: #363f44;
  leading-trim: both;
  text-edge: cap;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  width: 74px;
  height: 74px;
  padding: 10px;
  border-radius: 0px 18px;
  background: #ade1c2;
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .header-card span {
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 32px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .card-content {
  max-width: 973px;
  margin-bottom: 34px;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .card-content {
    margin-bottom: 2px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .card-content p {
  color: #363f44;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.4px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .footer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .footer-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .footer-card .author {
    margin-bottom: 16px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .footer-card .author h6 {
  color: #363f44;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 8px;
  letter-spacing: -0.2px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .footer-card .author p {
  color: #363f44;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  letter-spacing: -0.4px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .footer-card .logo {
  max-width: 185px;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .footer-card .logo {
    max-width: 132px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .how-it-works .single-card .sales-card .footer-card .logo img {
  width: 100%;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section {
  background: #dceee2;
  padding: 80px 0 108px;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section {
    padding: 48px 0;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .title {
  color: #363f44;
  text-align: center;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.2px;
  margin: 0 0 40px;
}
@media (min-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .title {
    padding-left: 20px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .title {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 23px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .nav.nav-tabs {
  border: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 48px;
}
@media (min-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .nav.nav-tabs {
    padding-left: 20px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .nav.nav-tabs {
    margin-bottom: 32px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .nav.nav-tabs li {
  margin: 0 4px;
  width: 238px;
  height: 46px;
  border-radius: 999px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .nav.nav-tabs li:first-child {
  margin-left: 0;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .nav.nav-tabs li:last-child {
  margin-right: 0;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .nav.nav-tabs li a {
  color: #363f44;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 13px 16px;
  letter-spacing: -0.3px;
  text-align: center;
  z-index: 10;
  opacity: 1;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .nav.nav-tabs li .progress {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  z-index: 5;
  background: #c5d84a;
  opacity: 0;
  height: 100%;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .nav.nav-tabs li.active {
  background: #d8e9ab;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .nav.nav-tabs li.active .progress {
  opacity: 1;
  -webkit-animation: progress-anim 5s ease 0s;
          animation: progress-anim 5s ease 0s;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .tab-content .tab-pane .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .tab-content .tab-pane .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .tab-content .tab-pane .content-wrapper {
    padding: 0;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .tab-content .tab-pane .content-wrapper .content {
  max-width: 338px;
  width: 100%;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .tab-content .tab-pane .content-wrapper .content {
    max-width: 271px;
    margin-right: 31px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .tab-content .tab-pane .content-wrapper .content {
    margin-bottom: 32px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .tab-content .tab-pane .content-wrapper .content h6 {
  color: #373737;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.2px;
  margin: 0 0 12px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .tab-content .tab-pane .content-wrapper .content p {
  color: #373737;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin: 0;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .tab-content .tab-pane .content-wrapper .img-wrapper {
  max-width: 840px;
  width: 100%;
}
@media (min-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .tab-content .tab-pane .content-wrapper .img-wrapper {
    margin-right: -20px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .benefits-section .spz-tabs-carousel .tab-content .tab-pane .content-wrapper .img-wrapper img {
  width: 100%;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .pre-footer-section {
  background: #0f3156;
  padding: 128px 0 110px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .pre-footer-section {
    padding: 80px 0 52px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .pre-footer-section {
    padding: 48px 0 28px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .pre-footer-section .spz-container .bg-wrapper {
  position: relative;
}
@media (min-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .pre-footer-section .spz-container .bg-wrapper {
    padding-left: 3px;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .pre-footer-section .spz-container .bg-wrapper::after {
  content: url(//res.cloudinary.com/spiralyze/image/upload/v1705433525/unanet/4001/frame_1171275573.svg);
  position: absolute;
  top: -76px;
  left: 754px;
}
@media (max-width: 991.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .pre-footer-section .spz-container .bg-wrapper::after {
    display: none;
  }
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .pre-footer-section .spz-container .bg-wrapper .title {
  color: #fff;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  max-width: 671px;
  margin: 0 0 60px;
  letter-spacing: -0.45px;
}
@media (max-width: 767.98px) {
  body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .pre-footer-section .spz-container .bg-wrapper .title {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 32px;
  }
}
body .cta-wrapper .btn-secondary {
  height: 56px;
  width: 184px;
  color: #fff;
  text-align: center;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  padding: 15px 40px;
}

@-webkit-keyframes progress-anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}