body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid > .span12.widget-span.widget-type-cell {
  display: none !important;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .spz-container {
  max-width: 1276px;
  margin: auto;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section {
  background: #dceee2;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container {
  padding: 94px 0 58px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child {
  width: 41%;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper .subtitle {
  color: #007c79;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 16px;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper .title {
  color: #363f44;
  font-family: Mona Sans, arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1px;
  margin: 0;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:first-child .hero-copy-wrapper .title span {
  color: #007c79;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:last-child {
  width: 59%;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:last-child .right-img-wrapper {
  max-width: 758px;
  width: 100%;
}
body .body-wrapper.hs-site-page.page #main-content.body-container-wrapper .body-container--home > .row-fluid-wrapper > .row-fluid .spz-sections-wrapper .hero-section .spz-container .row .col-lg-6:last-child .right-img-wrapper img {
  width: 100%;
}