.spz_2003 header.site-header,
.spz_2003 #startchange,
.spz_2003 main.site-main>*:not(#hero-section),
.spz_2003 #hero-section .row.hero .col.content,
.spz_2003 footer#expel-footer .container-custom>*:not(.links-container) {
    display: none !important;
}

.spz_2003 #hero-section {
    min-height: calc(100vh - 70px);
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/expel/2003/bg_pattern.webp");
    background-size: cover;
    background-position: top right;
    padding: 64px 0 80px !important;
}

.spz_2003 .container-custom,
.spz_2003 #hero-section .hero-client-logos .container {
    max-width: 1206px !important;
    padding: 0 18px;
}

.spz_2003 #hero-section .row.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: space-between !important;
    margin: 0;
    gap: 0 !important;
}

.spz_2003 #hero-section .hero .spz-content {
    width: 46.93%;
    max-width: 549px;
}

.spz_2003 #hero-section .hero .spz-content .site-logo-link {
    display: inline-block;
    width: auto;
    height: auto;
}

.spz_2003 #hero-section .hero .spz-content .site-logo-img {
    width: 100%;
    max-width: 96px;
    object-fit: contain;
}

.spz_2003 #hero-section .hero .spz-content .section-label {
    color: #00a85d;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 33px 0 10px;
}

.spz_2003 #hero-section .hero .spz-content .section-heading {
    color: #fff;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    margin-bottom: 30px;
}

.spz_2003 #hero-section .hero .spz-content .info-text {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.spz_2003 #hero-section .hero .spz-content .info-text strong {
    font-weight: 700;
}

.spz_2003 #hero-section .hero .spz-content .section-highlight-point {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.spz_2003 #hero-section .hero .spz-content .section-highlight-point::after,
.spz_2003 #hero-section .hero .ex-form::after {
    position: absolute;
    background-image: url(//res.cloudinary.com/spiralyze/image/upload/v1717661498/expel/2003/frame.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 168px;
    height: 150px;
    bottom: -125px;
    right: 59px;
}

.spz_2003.form-expand #hero-section .hero .spz-content .section-highlight-point::after {
    content: "";
}

.spz_2003 #hero-section .hero .spz-content .section-highlight-point .list-item {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 32px;
    margin: 16px 0 0;
    position: relative;
}

.spz_2003 #hero-section .hero .spz-content .section-highlight-point .list-item .highlight-text {
    font-weight: 700;
    color: #fff;
}

.spz_2003 #hero-section .hero .spz-content .section-highlight-point .list-item::before {
    position: absolute;
    content: "";
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1717661498/expel/2003/checkcircle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 28px;
    top: 0;
    left: 0;
}

.spz_2003 #hero-section .hero .spz-content+.col {
    width: 49%;
    max-width: 573px;
}

.spz_2003 #hero-section .hero .ex-form {
    width: 100%;
    background: #ffffff;
    border-radius: 16px;
    padding: 40px 36px;
    position: relative;
}

.spz_2003:not(.form-expand) #hero-section .hero .ex-form::after {
    content: "";
    transform: rotate(-35deg);
    right: auto;
    left: -8px;
    bottom: -188px;
}

.spz_2003 #hero-section .hero .ex-form .form-title {
    color: #131416;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 18px;
}

.spz_2003 #hero-section .hero .ex-form form.mktoForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

/* .spz_2003 #hero-section form.mktoForm .field-5 ~ .mktoFormCol, */
.spz_2003 #hero-section form.mktoForm .mktoClear,
.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoOffset,
.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoLabel .mktoAsterix {
    display: none !important;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol {
    width: calc(50% - 6px) !important;
    margin-bottom: 12px !important;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol.field-3:has(+ .mktoFormCol[style*="display: none;"])~.mktoFormCol.field-7 {
    display: none;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol.field-9,
.spz_2003 #hero-section form.mktoForm .mktoFormCol.field-10 {
    margin-bottom: 18px !important;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol.field-1,
.spz_2003 #hero-section form.mktoForm .mktoFormCol.field-8,
.spz_2003 #hero-section form.mktoForm .mktoFormCol[data-wrapper-for="mktoCheckbox_27626_0 Privacy_Compliance_Explicit_Opt_In__c"],
.spz_2003 #hero-section form.mktoForm .mktoPlaceholderPrivacy_Compliance_Explicit_Opt_In__c {
    width: 100% !important;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap {
    position: relative;
    width: 100% !important;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoHtmlText {
    color: #747474 !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 22px;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoHtmlText a {
    color: #131416;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    padding: 0;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoHtmlText a:hover {
    color: #0E4C8A;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoLabel {
    width: auto !important;
    padding: 1px 6px;
    color: #747474 !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 24px !important;
    pointer-events: none;
    background: #fff;
    position: absolute;
    top: 13px;
    left: 10px;
    transition: all 0.3s ease-in-out;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap.filled .mktoLabel,
.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap.active.typing .mktoLabel {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 22px !important;
    top: -11.5px;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap.filled .mktoLabel {
    color: #000000 !important;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap.active.typing .mktoLabel {
    color: #1762e6 !important;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap.error.filled .mktoLabel,
.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap.error.active.typing .mktoLabel {
    color: #e51b00 !important;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoField {
    width: 100% !important;
    height: 52px;
    border: 1px solid #b4b3b9 !important;
    border-radius: 12px !important;
    outline: none;
    box-shadow: none !important;
    padding: 13px 15px !important;
    margin: 0 !important;
    color: #000 !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 24px !important;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoField:-webkit-autofill,
.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoField:-webkit-autofill:hover,
.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoField:-webkit-autofill:focus,
.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoField:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 52px #fff inset !important;
    -webkit-text-fill-color: #000 !important;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol.field-6 .mktoFieldWrap::after,
.spz_2003 #hero-section form.mktoForm .mktoFormCol.field-7 .mktoFieldWrap::after {
    position: absolute;
    content: "";
    top: 20px;
    right: 20px;
    width: 12px;
    height: 12px;
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1717757061/expel/2003/dropdown_icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap select.mktoField {
    padding-right: 37px !important;
    appearance: none !important;
    background-image: none;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap textarea.mktoField {
    height: 91px;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap.filled .mktoField {
    border-color: #747474 !important;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap.active.typing .mktoField {
    border-color: #1762e6 !important;
    caret-color: #1762e6;
}

body.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap.error .mktoField,
.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap.error.active.typing .mktoField {
    border-color: #e51b00 !important;
    caret-color: #e51b00;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoError {
    position: relative;
    right: initial !important;
    bottom: initial !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoError .mktoErrorArrowWrap {
    display: none;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoError .mktoErrorMsg {
    max-width: unset;
    background: transparent;
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1717661831/expel/2003/frame_1.svg");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 0 7px;
    box-shadow: none;
    text-shadow: none;
    margin: 0;
    padding: 7px 0 7px 12px;
    height: auto;
    border: none;
    border-radius: 0;
    color: #e51b00;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding-left: 26px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoError #ValidMsgEmail.mktoErrorMsg span.mktoErrorDetail {
    padding-left: 3px;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol[data-wrapper-for="mktoCheckbox_27626_0 Privacy_Compliance_Explicit_Opt_In__c"] .mktoLabel {
    display: none;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoCheckboxList {
    width: 100% !important;
    padding: 0;
    position: relative;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoCheckboxList input {
    position: absolute;
    opacity: 0;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoCheckboxList label {
    margin: 0;
    padding-left: 28px;
    color: #747474 !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 22px !important;
    position: relative;
    cursor: pointer;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoCheckboxList label::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #747474;
    border-radius: 5px;
    top: 2px;
    left: 0;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoCheckboxList input:checked+label::before {
    background: #1762e6;
    border-color: #1762e6;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoCheckboxList label::after {
    position: absolute;
    content: "";
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1717664127/expel/2003/check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    top: 5px;
    left: 3px;
}

.spz_2003 #hero-section form.mktoForm .comment-toggler {
    display: inline-block;
    color: #1762e6;
    font-family: proxima-nova, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.spz_2003 #hero-section form.mktoForm .comment-toggler:hover {
    color: #0e4c8a;
}

.spz_2003 #hero-section form.mktoForm .mktoFormCol.field-9 .comment-toggler.show-field,
.spz_2003 #hero-section form.mktoForm .mktoFormCol.field-9 .comment-toggler:not(.show-field)+.mktoFieldWrap {
    display: none;
}

.spz_2003 #hero-section form.mktoForm .mktoButtonRow {
    width: 100%;
    margin: 6px auto 18px;
}

.spz_2003 #hero-section form.mktoForm .mktoButtonRow .mktoButtonWrap {
    display: block;
    width: auto;
    height: auto;
    margin: 0 !important;
}

.spz_2003 #hero-section form.mktoForm .mktoButtonRow .mktoButton {
    width: 100%;
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: none;
    background: #1762e6;
    background-image: none !important;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 0 !important;
    margin: 0 !important;
}

.spz_2003 #hero-section form.mktoForm .mktoButtonRow .mktoButton svg {
    margin-right: 8px;
}

.spz_2003 #hero-section form.mktoForm .mktoButtonRow .mktoButton:hover {
    background: #0e4c8a;
}

.spz_2003 #hero-section form.mktoForm .mktoCaptchaDisclaimer,
.spz_2003 .mktoForm .field-10 .mktoHtmlText {
    width: 70% !important;
    margin: 0 auto !important;
    color: #747474 !important;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 22px;
}

.spz_2003 .mktoForm .field-10 .mktoHtmlText {
    width: 100% !important;
    text-align: left;
}

.spz_2003 #hero-section form.mktoForm .mktoCaptchaDisclaimer a,
.spz_2003 .mktoForm .field-10 .mktoHtmlText a {
    color: #131416;
    text-decoration: underline;
    text-underline-offset: 3px;
    padding: 0;
}

.spz_2003 #hero-section form.mktoForm .mktoCaptchaDisclaimer a:hover,
.spz_2003 .mktoForm .field-10 .mktoHtmlText a:hover {
    color: #0e4c8a;
}

/* Hero Client Logo CSS Start Here */
.spz_2003 #hero-section .hero-client-logos {
    margin-top: 80px;
}

.spz_2003 #hero-section .hero-client-logos .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.spz_2003 #hero-section .hero-client-logos .client-logo {
    width: auto;
    height: 35px;
    object-fit: contain;
}

.spz_2003 footer#expel-footer {
    border: none;
    padding: 22px 0 24px;
    background: #fff;
}

.spz_2003 footer#expel-footer .links-container {
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

.spz_2003 footer#expel-footer .links-container .col {
    width: auto;
    max-width: unset;
}

.spz_2003 footer#expel-footer .links-container .rights p {
    color: #031263;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding-top: 1px;
}

.spz_2003 footer#expel-footer .links-container .links span {
    display: none;
}

.spz_2003 footer#expel-footer .links-container .links p {
    margin: 0 -16px;
}

.spz_2003 footer#expel-footer .links-container .links a {
    color: #031263;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0 14px;
    text-decoration: none;
}

.spz_2003 footer#expel-footer .links-container .links a:hover {
    color: #0e4c8a;
}

/* Hero Client Logo CSS End Here */

@media(max-width: 1199.98px) {
    .spz_2003.form-expand #hero-section .hero .spz-content .section-highlight-point::after {
        bottom: -125px;
    }
}

@media(min-width: 1200px) {
    .spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap .mktoError .mktoErrorMsg span.mktoErrorDetail {
        padding-left: 3px;
    }
}

@media(max-width: 1023.98px) {
    .spz_2003 #hero-section {
        min-height: calc(100vh - 104px);
        background-size: 1920px;
        padding: 64px 20px 80px !important;
    }

    .spz_2003.form-expand #hero-section {
        background-size: 2160px;
    }

    .spz_2003 #hero-section .row.hero>.col {
        width: 100%;
        max-width: unset;
    }

    .spz_2003 #hero-section .hero .spz-content .section-highlight-point::after,
    .spz_2003 #hero-section .hero .ex-form::after {
        content: none !important;
    }

    .spz_2003 #hero-section .hero .spz-content .section-highlight-point {
        margin: 4px 0 20px;
    }

    .spz_2003 #hero-section .hero .ex-form {
        margin-top: 48px;
    }

    .spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoCheckboxList label {
        padding-top: 1px;
    }

    .spz_2003 #hero-section form.mktoForm .mktoCaptchaDisclaimer,
    .spz_2003 .mktoForm .field-10 .mktoHtmlText {
        width: 55% !important;
    }

    .spz_2003.form-expand #hero-section form.mktoForm .mktoButtonRow {
        margin-top: 4px;
    }

    .spz_2003 #hero-section .hero-client-logos .img-wrapper:last-child {
        display: none;
    }

    .spz_2003 #hero-section .hero-client-logos {
        margin-top: 64px;
    }

    .spz_2003 footer#expel-footer {
        padding: 23px 0 24px;
    }

    .spz_2003 footer#expel-footer .links-container {
        flex-flow: column-reverse;
    }

    .spz_2003 footer#expel-footer .links-container .col.rights {
        margin-bottom: 10px;
    }
}

@media(max-width: 767.98px) {
    .spz_2003 #hero-section {
        min-height: calc(100vh - 240px);
        padding: 40px 0 65px !important;
        background-size: 2867px !important;
    }

    .spz_2003 #hero-section .hero .spz-content .section-heading {
        max-width: 100%;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 33px;
    }

    .spz_2003 #hero-section .hero .spz-content .section-label {
        margin: 33px 0px 11px;
    }

    .spz_2003 #hero-section .hero .ex-form {
        padding: 28px 20px;
        margin-top: 40px;
    }

    .spz_2003 #hero-section .hero .ex-form .form-title {
        font-size: 24px;
        line-height: 32px;
    }

    .spz_2003 #hero-section form.mktoForm .mktoFormCol {
        width: 100% !important;
    }

    .spz_2003 #hero-section form.mktoForm .mktoFormCol .mktoFieldWrap select.mktoField {
        background-position: calc(100% - 15px) 19px;
    }

    .spz_2003 #hero-section form.mktoForm .mktoCaptchaDisclaimer,
    .spz_2003 .mktoForm .field-10 .mktoHtmlText {
        width: 100% !important;
    }

    .spz_2003 .mktoForm,
    .spz_2003 .mktoForm * {
        padding: initial;
    }

    .spz_2003.form-expand #hero-section form.mktoForm .mktoButtonRow {
        margin-top: 5px;
    }

    .spz_2003 #hero-section .hero-client-logos {
        margin-top: 49px;
    }

    .spz_2003 #hero-section .hero-client-logos .img-wrapper {
        margin: 15px 0;
    }

    .spz_2003 #hero-section .hero-client-logos .img-wrapper:nth-child(1) {
        order: 1;
    }

    .spz_2003 #hero-section .hero-client-logos .img-wrapper:nth-child(2) {
        order: 3;
    }

    .spz_2003 #hero-section .hero-client-logos .img-wrapper:nth-child(3) {
        order: 2;
    }

    .spz_2003 #hero-section .hero-client-logos .img-wrapper:nth-child(4) {
        order: 4;
    }

    .spz_2003 footer#expel-footer {
        padding: 24px 0px 13px;
    }

    .spz_2003 footer#expel-footer .links-container {
        flex-flow: column;
        justify-content: center;
    }

    .spz_2003 footer#expel-footer .links-container .links a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 12px;
    }
}

@media(max-width: 619.98px) {
    .spz_2003 #hero-section .hero-client-logos .img-wrapper {
        width: 48%;
    }

    .spz_2003 #hero-section .hero-client-logos .img-wrapper:nth-child(3) {
        text-align: right;
        width: 52%;
    }

    .spz_2003 #hero-section .hero-client-logos .img-wrapper:nth-child(4) {
        text-align: right;
        width: 52%;
    }
}