.form-wrapper-spz .hbspt-form {
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    // Set of multiple fields
    fieldset {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 545px;
      margin: 0 auto;

      &:nth-child(2) {
        flex-direction: row-reverse;
      }

      .input {
        margin-right: 0;
      }

      // Input, select, label and error message wrapper
      .field {
        position: relative;
        width: 262px;
        max-width: 262px;
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        flex-direction: column;

        > label {
          display: none;
        }

        // Input and label wrapper
        .input {
          position: relative;
          margin-bottom: 2px;
          border-radius: 4px;
          width: 262px;
          max-width: 262px;
        }

        // Custom label
        label.hs-label-spz {
          position: absolute;
          top: 16px;
          left: 16px;
          padding: 0;
          font-family: $ff-inter;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #727272;
          transition: all 0.3s ease-in-out;
          pointer-events: none;

          ~ .hs-label-spz {
            display: none;
          }
        }

        // Input field
        .hs-input {
          font-family: $ff-inter;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #000;
          border-radius: 4px;
          border: 1px solid #d6d6d6;

          &:not([type="checkbox"]):not([type="radio"]) {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 14px 15px 0;
            height: 56px;
            width: 100%;
            background: #fff;
            border: 1px solid #d7d7d7;
            border-radius: 4px;
            // outline: none;
            outline-width: 3px;
            outline-color: #0580e8;
            transition: all 0.3s ease-in-out;

            &::placeholder {
              display: none;
              color: transparent;
            }
          }

          &:hover {
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

            ~ label {
              color: #454545 !important;
            }
          }

          &:focus ~ label,
          &:not([value=""]) ~ label {
            top: 5px;
            font-size: 12px;
            // font-weight: 500;
            color: #d53641;
          }

          &:focus ~ label,
          &:not(:placeholder-shown) ~ label {
            top: 5px;
            font-size: 12px;
            // font-weight: 500;
            color: #727272;
          }

          &[type="checkbox"],
          &[type="radio"] {
            ~ span {
              font-family: $ff-inter;
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #fff;
              cursor: pointer;
            }

            &:hover ~ span {
              color: #fff;
            }

            &:checked ~ span {
              font-weight: 600;
              font-size: 15px;
            }
          }
        }

        select {
          appearance: none;
          -webkit-appearance: none;
          // set custom icon on select
          background: url("//res.cloudinary.com/spiralyze/image/upload/v1682086278/drata/6002/dropdown_arrow.svg")
            #fff no-repeat right 16px center !important;

          option {
            &:hover {
              background: rgba(55, 153, 237, 0.1);
            }
          }
        }

        // Hide option if empty
        select option[value=""] {
          display: none;
        }

        &.field-untouched {
          .input {
            .hs-label-spz {
              top: 16px;
              left: 16px;
              color: #727272;
              font-size: 15px;
              font-weight: 400;
              background-color: #fff;
              width: calc(100% - 60px);
              height: 30px;
            }
          }
        }

        &.field-error {
          .input {
            .hs-input {
              border: 1px solid #d53641;
              // box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
              // color: #444;
              

              ~ .hs-label-spz {
                color: #727272;
              }

              &:not([value=""]):not(select) {
                ~ .hs-label-spz {
                  color: #d53641;
                }
              }
            }

            // .hs-label-spz {
            //   color: #a3a3a3;
            // }
          }

          &.hs-fieldtype-select {
            .input .hs-label-spz {
              top: 16px;
              left: 16px;
              color: #727272;
              font-size: 15px;
              font-weight: 400;
              background-color: #fff;
              width: calc(100% - 60px);
              height: 30px;
            }
          }
        }

        &.field-focus:not(.hs-fieldtype-checkbox) {
          .input {
            // box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

            .hs-input {
              border: 1px solid #0466ba;
              box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
              
              // outline-color: #3799ed;

              // Add border

              ~ .hs-label-spz {
                color: #0580e8 !important;
                // font-weight: 500;
              }

              &:not([value=""]) {
                ~ .hs-label-spz {
                  color: #0580e8;
                }
              }
            }

            // .hs-label-spz {
            //   color: #0580e8;
            //   font-weight: 500;
            // }
          }

          &.hs-fieldtype-select {
            select {
              background: url("//res.cloudinary.com/spiralyze/image/upload/v1683613303/drata/6002/dropdown_arrow-up.svg")
                #fff no-repeat right 16px center !important;
            }
          }
        }

        // Checkbox
        &.hs-fieldtype-checkbox {
          width: 100%;
          max-width: 100%;
          margin-top: 12px;
          margin-bottom: 0;

          > legend.hs-field-desc {
            font-family: $ff-darker;
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 24px;
            color: #fff;
            letter-spacing: -0.24px;
          }

          > .input {
            border: none;
            width: 100%;
            max-width: 100%;
            ul {
              list-style: none;
              padding: 0;
              margin: 17px 0 0;
              display: flex;
              flex-wrap: wrap;

              li {
                min-width: 74px;
                font-family: $ff-inter;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #000;
                margin-right: 23px;
                margin-bottom: 8px;

                > label {
                  position: relative;
                  display: inline-block;
                  // align-items: center;

                  // Checkbox icon styling
                  span::before {
                    content: url("//res.cloudinary.com/spiralyze/image/upload/v1682601857/drata/6002/Checkmark-blank.svg");
                    position: relative;
                    top: 4px;
                    left: 4px;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    border-radius: 4px;
                    cursor: pointer;
                    transform: translate(-100%, 0%);
                    transition: all 0.2s ease-in-out;
                  }

                  [type="checkbox"] {
                    position: absolute;
                    opacity: 0;
                    z-index: -2;

                    &:hover ~ span::before {
                      content: url("//res.cloudinary.com/spiralyze/image/upload/v1682601858/drata/6002/Checkmark-hover.svg");
                    }

                    &:checked {
                      ~ span::before {
                        // opacity: 0;
                      }

                      ~ span::before {
                        content: url("//res.cloudinary.com/spiralyze/image/upload/v1682601857/drata/6002/Checkmark-bg.svg");
                        // position: absolute;
                        // top: -1.3px;
                        // left: -1px;
                        // transform: translate(-100%, 0%);
                        // width: 16px;
                        // height: 16px;
                        // border-radius: 4px;
                        // transition: all 0.2s ease-in-out;
                      }
                    }
                  }

                  > span {
                    padding-left: 12px;
                  }
                }
              }

              // Specific for hs_demo_product_of_interest starts
              // SOC2
              li:nth-child(1) {
                order: 1;
              }

              // ISO 27001
              li:nth-child(2) {
                order: 3;
                min-width: 102.3px;
              }

              // HIPAA
              li:nth-child(3) {
                order: 2;

                // @media (min-width: 1200px) {
                //   min-width: 135px;
                // }
              }

              // GDPR
              li:nth-child(4) {
                order: 4;
                min-width: 70px;
              }

              // Other
              li:nth-child(5) {
                order: 5;

                // @media (min-width: 1200px) {
                //   min-width: 135px;
                // }
              }
              // Specific for hs_demo_product_of_interest ends
            }
          }
        }
      }
    }

    // CTA button in form
    .actions {
      position: relative;
      max-width: initial;
      width: 100%;
      height: 64px;
      margin: 20.5px auto 0;

      .hs-button {
        font-family: $ff-inter;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #fff;
        width: 100%;
        height: 64px;
        padding: 15px 62px 16px 30px;
        background: #000;
        border: none;
        border-radius: 4px;
        position: relative;
        cursor: pointer;

        &:hover {
          color: #c0ff60;
        }

        &:active {
          color: #c0ff60;
          background: #303030;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 20.5px;
        right: 36.5%;
        width: 24px;
        height: 24px;
        background: url("//res.cloudinary.com/spiralyze/image/upload/v1682086278/drata/6002/cta_arrow.svg")
          no-repeat;
        z-index: 3;
        pointer-events: none;
      }
    }

    // Error messages Starts
    .hs-error-msgs.inputs-list {
      position: absolute;
      display: inline-block;
      font-family: $ff-inter;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 16px;
      background-color: #d53641;
      border-radius: 4px;
      color: #fff;
      list-style: none;
      text-align: center;
      top: calc(100% + 10px);
      margin: 0;
      padding: 8px 13px;
      box-shadow: 0px 2px 8px -5px rgba(129, 24, 24, 0.24),
        0px 10px 40px -5px rgba(129, 24, 24, 0.16);
      z-index: 1;

      @media (max-width: 767.98px) {
        font-size: 11px;
      }

      // a triangle
      &::before {
        content: "";
        position: absolute;
        bottom: calc(100% - 1.5px);
        left: calc(50% - 8px);
        background: url("//res.cloudinary.com/spiralyze/image/upload/v1682678739/drata/6002/error-arrow.svg")
          no-repeat;
        width: 16px;
        height: 8px;
        z-index: 2;
      }

      &:nth-child(2n + 1) {
        display: none;
        margin-top: 4px;

        &::before {
          display: none;
        }
      }

      label > a {
        cursor: pointer;
      }
    }

    .hs_error_rollup {
      // display: none;
      text-align: center;

      .hs-error-msgs {
        position: relative;
        display: inline-block !important;
      }
    }
    // Error messages Ends

    // Change autocomplete styles in WebKit browsers
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      background-color: #fff;
      -webkit-text-fill-color: #000;
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      // transition: background-color 5000s ease-in-out 0s;
    }

    .hs-input:-webkit-autofill,
    .hs-input:-webkit-autofill:hover,
    .hs-input:-webkit-autofill:focus,
    .hs-input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 56px white inset !important;
      -webkit-text-fill-color: #000 !important;
    }
  }
}

.hbspt-form .submitted-message {
  font-size: 32px;
  font-family: $ff-inter;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1280px) {
  .form-wrapper-spz {
    .hbspt-form {
      form {
        fieldset {
          max-width: 672px;

          .field {
            width: 318px;
            max-width: 318px;

            .input {
              width: 318px;
              max-width: 318px;
            }

            select {
              background-position: calc(100% - 16px) 19.5px !important;
            }

            &.hs-fieldtype-checkbox {
              > .input ul {
                margin: 16px 0 0;
              }
            }
          }
        }

        .actions {
          margin-top: 20.5px;

          &::before {
            top: 19.75px;
            right: 39%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .form-wrapper-spz {
    padding: 24px 0;
    margin-top: 14px;
    .form-title-spz {
      font-size: 40px;
      line-height: 36px;
      margin-bottom: 24px;
    }
    .hbspt-form {
      form {
        fieldset {
          flex-wrap: wrap;
          justify-content: center;

          &:nth-child(2) {
            flex-direction: column-reverse;
            align-items: center;
          }

          .field {
            width: 296px !important;
            margin-bottom: 10px;

            .input {
              width: 296px;
            }

            &.hs-fieldtype-checkbox {
              margin-top: 13px;

              > legend.hs-field-desc {
                font-size: 20px;
                line-height: 20px;
                letter-spacing: -0.24px;
              }

              > .input ul {
                margin-top: 16px;

                li {
                  // min-width: 127px;
                  margin-bottom: 12px;
                  margin-right: 22px;

                  &:nth-child(2) {
                    margin-right: 0;
                    // min-width: initial;
                  }

                  &:nth-child(4) {
                    min-width: 74px;
                  }
                }
              }
            }
          }
        }

        .actions {
          margin-top: 8px;
          width: 296px;

          &::before {
            top: 18px;
            right: 86px;
            height: 20px;
            width: 20px;
            background-size: 20px;
          }

          .hs-button {
            font-size: 17px;
            line-height: 24px;
            height: 56px;
            padding: 15px 58px 16px 30px;
          }
        }

        .hs_error_rollup {
          // text-align: left;
          padding: 0 20px;
        }
      }
    }
  }
  .hero-right-section {
    width: 328px;
    margin-bottom: 79.5px;

    &::before {
      display: none;
    }

    // &:after {
    //   bottom: -36px;
    // }
  }
}

/* Loader Starts */
// .loader {
//   width: 48px;
//   height: 48px;
//   border-radius: 50%;
//   position: relative;
//   animation: rotate 1s linear infinite
// }
// .loader::before {
//   content: "";
//   box-sizing: border-box;
//   position: absolute;
//   inset: 0px;
//   border-radius: 50%;
//   border: 5px solid #f2f2f2;
//   animation: prixClipFix 2s linear infinite ;
// }

// @keyframes rotate {
//   100%   {transform: rotate(360deg)}
// }

// @keyframes prixClipFix {
//     0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
//     25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
//     50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
//     75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
//     100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
// }
/* Loader Ends */
