.hero-section {
  position: relative;
  background: #fff;
  overflow: hidden;
  padding-bottom: 35px;

  .hero-content {
    max-width: 604px;
    padding: 96px 0 24px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -236px;
      right: auto;
      left: -296px;
      width: 240px;
      height: 240px;
      background: url("https://res.cloudinary.com/spiralyze/image/upload/v1684143056/drata/11001/custom_assets/Dots-rectangle_grey.svg")
        no-repeat;
    }

    .hero-content-subtitle {
      padding-left: 16px;
      border-left: 8px solid #0580e8;
      .hc-subtitle {
        font-family: "Darker Grotesque";
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.24px;
        color: #0580e8;
        margin: 0 0;
        @media (max-width: 767.98px) {
          font-size: 20px;
          line-height: 20px;
        }
      }
      .hc-title {
        font-family: "Darker Grotesque";
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 44px;
        letter-spacing: -0.48px;
        color: #000000;
        margin: 8px 0 24px;

        @media (min-width: 1600px) {
          margin-top: 7.5px;
        }
        // @media (max-width: 767.98px) {
        //   font-size: 40px;
        //   line-height: 36px;
        // }
      }
    }

    .hero-features {
      margin-top: 24px;
      margin-bottom: 24px;
      p {
        margin: 0;
        span {
          font-family: "Darker Grotesque";
          font-style: normal;
          font-weight: 800;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: -0.24px;
          color: #000000;
          border-right: 1px solid #d7d7d7;
          padding: 0 13.6px;

          &:first-child {
            padding-left: 24px;
          }
          &:last-child {
            border: 0;
          }
        }
      }
    }
  }

  .hero-container {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: space-between;
  }

  .list-grp-wrapper {
    .list-group {
      list-style: none;
      padding-left: 52px;
      padding-right: 64px;
      margin: 16px 0;

      .list-item {
        position: relative;
        margin-bottom: 18px;

        &::before {
          content: url("https://res.cloudinary.com/spiralyze/image/upload/v1683719218/drata/11001/hero-bullet-arrow.svg");
          width: 16px;
          height: 16px;
          position: absolute;
          left: -28px;
          top: 7.5px;
        }

        .ls-title {
          font-family: "Darker Grotesque";
          font-style: normal;
          font-weight: 800;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: -0.24px;
          color: #000000;
          margin-bottom: 6px;
        }

        .ls-desc {
          font-family: $ff-inter;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 24px;
          color: #303030;
        }
      }
    }
  }
}

.hero-right-section {
  width: 624px;
  margin-bottom: 72px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 69px;
    /* left: 338px; */
    right: -40px;
    width: 326px;
    height: 79px;
    background: url("https://res.cloudinary.com/spiralyze/image/upload/v1684142184/drata/11001/custom_assets/Dots-rectangle-blue.svg")
      no-repeat;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -32px;
    /* left: auto; */
    left: -32px;
    width: 174px;
    height: 174px;
    z-index: 0;
    background: url("https://res.cloudinary.com/spiralyze/image/upload/v1684142184/drata/11001/custom_assets/Dots-square-grey.svg")
      no-repeat;
  }

  @media (min-width: 1600px) {
    &::before {
      top: 117px;
    }

    &::after {
      bottom: -80px;
    }
  }
}

// Form Section/Cart Styles
.form-wrapper-spz {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  // height: 504px;
  padding: 32px 39.34px 39px 39.34px;
  background: #0580e8;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  margin-top: 108.5px;
  position: relative;
  z-index: 1;

  .form-title-spz {
    font-family: "Darker Grotesque";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.48px;
    color: #fff;
    max-width: 428px;
    margin: 0 auto 32px auto;
  }

  form {
    display: flex;
    flex-wrap: wrap;

    // hide fields\
    // .hs_demo_product_of_interest,
    .form-columns-0 .hs-richtext.hs-main-font-element {
      display: none;
    }
  }
}

// Common
.container {
  margin: 0 auto;
  max-width: 1248px;
}

@media screen and (max-width: 1280px) {
  .hero-section {
    padding-bottom: 0;

    .hero-content {
      max-width: 736px;
      padding: 65px 0 8px 0;
      &::before {
        display: none;
      }
      // &::before {
      //   top: 3.5px;
      //   left: auto;
      //   right: -28px;
      //   bottom: auto;
      //   width: 68px;
      // }

      .hero-features {
        margin-top: 32px;

        // p span {
        //   padding: 0 13.8px;
        // }
      }
    }
    .hero-container {
      justify-content: center;
    }

    .list-grp-wrapper .list-group {
      margin: 31px 0;
      padding-right: 0;
      .list-item {
        &::before {
          top: 7px;
          width: 12px;
          height: 12px;
        }
        .ls-desc {
          text-align: left;
        }
      }
    }
  }

  .hero-right-section {
    width: 736px;
    position: relative;
    margin-bottom: 96.5px;

    &::before {
      top: 34px;
      // left: auto;
      // right: 5px;
      // width: 363px;
    }

    // &:after {
    //   bottom: -93px;
    // }
  }

  .form-wrapper-spz {
    position: relative;
    margin-top: 26px;
    // padding: 40px 0 39px 0;
    z-index: 2;

    // .form-title-spz {
    //   margin-bottom: 24px;
    // }
  }
}

@media screen and (max-width: 767px) {
  .hero-section {
    .hero-container {
      flex-direction: column;
      align-items: center;
      overflow: hidden;
    }

    .hero-content {
      max-width: 328px;
      padding: 64px 0 8px 0;
      &::after {
        content: "";
        position: absolute;
        top: -48px;
        /* left: 338px; */
        right: -142px;
        width: 326px;
        height: 79px;
        background: url("https://res.cloudinary.com/spiralyze/image/upload/v1684142184/drata/11001/custom_assets/Dots-rectangle-blue.svg")
          no-repeat;
      }

      .hero-content-subtitle {
        .hc-title {
          font-size: 40px;
          line-height: 36px;
        }
      }

      .hero-features {
        margin-top: 0;
        margin-bottom: 10px;

        p {
          margin: 0 auto;
          max-width: 328px;
          display: flex;
          flex-wrap: wrap;

          span {
            display: flex;
            position: relative;
            font-size: 20px;
            line-height: 20px;
            border-right: none;
            padding: 0 6px 0 14px;
            margin-bottom: 11px;

            &::after {
              content: "";
              display: inline-block;
              position: absolute;
              top: 2px;
              right: 0;
              height: 20px;
              border-right: 1px solid rgba(0, 0, 0, 0.2);
            }

            &:nth-child(1) {
              min-width: 60px;
              padding-left: 24px;
            }

            &:nth-child(2) {
              min-width: 100px;
            }

            &:nth-child(3) {
              min-width: 64px;
            }

            &:nth-child(4) {
              min-width: 60px;
              padding-left: 24px;
            }

            &:nth-child(5) {
              min-width: 33px;
            }

            &:nth-child(6) {
              min-width: 80px;
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }

    .list-grp-wrapper {
      .list-group {
        margin-top: 0;
        margin-bottom: 10px;
        padding-right: 5px;
        padding-left: 48px;

        .list-item {
          .ls-title {
            font-size: 20px;
            line-height: 20px;
          }

          .ls-desc {
            font-size: 15px;
            line-height: 22px;
          }
        }
      }
    }
  }
}
