$aktiv: "aktiv-grotesk", sans-serif;

@mixin fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.spz-6003 {
  &.modal-open {
    overflow: hidden;
  }
  img {
    image-rendering: -webkit-optimize-contrast;
  }
  main {
    .c-hero {
      background: linear-gradient(90deg, #02588d 0%, #29a9e1 100%);

      .c-hero__bg-image-wrapper {
        display: none;
      }

      &.c-hero--size-default .c-hero__content {
        display: none;
      }

      .hero-section-solutions-spz {
        padding-top: 91px;
        border-bottom: 14px solid #007eda;

        @media (max-width: 1024px) {
          padding-top: 71.5px;
        }

        @media (max-width: 767px) {
          padding-top: 52px;
        }

        .hs-flex-spz {
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          max-width: 1120px;

          @media (min-width: 1025px) and (max-width: 1199px) {
            width: 95%;
          }

          @media (max-width: 1024px) {
            flex-direction: column;
            max-width: 568px;
          }

          @media (max-width: 767px) {
            max-width: 335px;
          }

          @media (max-width: 340px) {
            max-width: 300px;
          }

          .hs-content-spz {
            @include fadeInUp();
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
            flex: 0 0 50%;
            max-width: 540px;

            @media (max-width: 1024px) {
              max-width: 100%;
            }

            .ab-ignite {
              font-family: $aktiv;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              text-transform: uppercase;
              color: #ff6f30;
              padding-bottom: 14px;

              @media (max-width: 767px) {
                padding-bottom: 13px;
              }
            }
            .hs-title {
              font-style: normal;
              font-weight: 300;
              font-size: 44px;
              line-height: 120%;
              letter-spacing: -0.01em;
              color: #fff;
              // border-bottom: 1px solid #fff;
              padding-bottom: 24px;

              @media (max-width: 767px) {
                font-size: 28px;
                padding-bottom: 25.5px;
              }

              strong {
                font-weight: 700;
              }
            }
            .c-hero__line {
              background-color: #fff;
            }
            .hs-op-list {
              margin-top: 39.5px;
              margin-bottom: 16px;

              .op-li {
                position: relative;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
                color: #fff;
                list-style: none;
                margin-left: 0;
                padding: 3px 0 21px 32px;

                &::before {
                  content: url("https://res.cloudinary.com/spiralyze/image/upload/v1676978759/ABCFitnessSolutions/6001/assets/check-icon.svg");
                  position: absolute;
                  top: 0;
                  left: 0;
                }

                strong {
                  font-weight: 700;
                }
              }

              @media (max-width: 767px) {
                .op-li {
                  font-size: 16px;
                  line-height: 26px;
                }
              }
            }

            .hs-cta-wrapper {
              .hs-cta-primary {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-weight: 700;
                font-size: 14px;
                line-height: 1;
                letter-spacing: 0.14em;
                text-transform: uppercase;
                padding: 4px 10px 0;
                width: 196px;
                height: 52px;
                background: #ff6f30;
                transition-duration: 100ms;

                &:hover {
                  color: #000;
                  background: #fff;
                  border: 1px solid #ff6f30;
                }

                @media (max-width: 767px) {
                  width: 100%;
                  max-width: 335px;
                }
              }
            }
          }

          .hs-image-spz {
            @include fadeInUp();
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
            // flex: 0 0 50%;

            .hs-img {
              max-width: 550px;
              margin-top: 4px;
            }

            @media (max-width: 1024px) {
              .hs-img {
                margin-top: 30px;
                margin-left: 9px;
              }
            }

            @media (max-width: 767px) {
              .hs-img {
                max-width: 335px;
                margin-left: 0;
              }
            }
          }
        }
      }

      .hs-social-proofs-spz {
        max-width: 1092.69px;
        margin: 70px auto 83px auto;

        @include fadeInUp();
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;

        .hs-sp-title {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          text-align: center;
          color: #fff;
        }
        .hs-sp-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 7px;

          .sp-img {
          }
        }

        .hs-sp-img-tab {
          display: none;
        }

        @media (min-width: 1025px) and (max-width: 1199px) {
          width: 95%;
        }

        @media (max-width: 1024px) {
          margin: 43px auto 60px auto;

          .hs-sp-wrapper {
            display: none;
          }
          .hs-sp-img-tab {
            display: block;
            max-width: 568px;
            margin: 7.5px auto;
          }
        }

        @media (max-width: 767px) {
          max-width: 335px;
          margin: 43px auto 40.5px auto;

          .hs-sp-title {
            font-size: 18px;
            line-height: 23px;
          }
        }

        @media (max-width: 340px) {
          max-width: 300px;
        }
      }
    }

    //6003 Changes, Sticky Footer
    footer.l-footer {
      margin-bottom: 93px;
      @media (max-width: 767.98px) {
        margin-bottom: 153px;
      }
    }

    .spz-sticky-footer {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: #00598e;
      transition: all 0.3s ease-in-out;
      &.show-sticky {
        opacity: 1;
        visibility: visible;
        z-index: 20;
      }
      .sticky-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1260px;
        padding: 0 40px;
        width: 100%;
        margin: auto;
        height: 94px;

        @media (min-width: 767.98px) and (max-width: 1023.98px) {
          max-width: 744px;
          padding-top: 0.5px;
        }
        @media (max-width: 767.98px) {
          max-width: 100%;
          padding: 22px 20px 24px;
          flex-wrap: wrap;
          height: 154px;
        }

        .desktop-only-image {
          width: 234px;
          height: 117px;
          margin-top: -56px;
          @media (max-width: 1023.98px) {
            display: none;
          }
        }

        .sticky-content {
          max-width: 413px;
          margin-left: 34px;
          padding-top: 4px;

          @media (min-width: 767.98px) and (max-width: 1023.98px) {
            margin-left: 0;
            max-width: 362px;
          }
          @media (max-width: 767.98px) {
            margin-left: 0;
            max-width: 100%;
            width: 100%;
            margin-bottom: 15px;
          }

          p {
            font-family: $aktiv;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 130%;
            letter-spacing: -0.01em;
            color: #ffffff;
            margin-bottom: 0;

            @media (min-width: 767.98px) and (max-width: 1023.98px) {
              font-size: 18px;
            }
            @media (max-width: 767.98px) {
              font-size: 16px;
              @media (min-width: 344px) {
                custom {
                  white-space: nowrap;
                }
              }
            }
            span {
              font-weight: 700;
            }
          }
        }

        .sticky-cta {
          @media (max-width: 767.98px) {
            max-width: 100%;
            width: 100%;
          }
          .hs-cta-primary {
            background: #ff7335;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            font-family: $aktiv;
            color: #ffffff;
            width: 266px;
            height: 60px;
            padding: 18px 32px 14px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 767.98px) {
              max-width: 100%;
              width: 100%;
              height: 48px;
              font-size: 18px;
              line-height: 28px;
            }
            img {
              padding-left: 10px;
              padding-bottom: 5px;
            }
            &:hover,
            &:focus {
              background: #00aeef;
            }
          }
        }
      }
    }
  }

  .c-scroll-to-top--active.show-sticky {
    bottom: 100px;
    @media (max-width: 767.98px) {
      bottom: 160px;
    }
  }

  //Header Changes
  header#header[id] {
    //Tab and above
    .l-header__inner[class] {
      .l-header__action-links-wrapper--top.c-header-action-links__wrapper[class] {
        display: flex;
        @media (max-width: 991.98px) {
          .c-header-action-links__search-input-wrapper {
            display: none;
          }
        }
        .spz-header-cta-container[class] {
          @media (max-width: 767.98px) {
            display: none;
          }
          display: flex;
          margin-left: 66px;
          @media (max-width: 1023.98px) {
            margin-left: 30px;
          }
          .spz-header-cta-primary[class] {
            position: relative;
            .spz-login-btn {
              cursor: pointer;
              font-weight: 500;
              font-size: 14px;
              line-height: 130%;
              text-transform: uppercase;
              // color: #ff6f30;
              width: 180px;
              justify-content: center;
              height: 46px;
              margin-right: 4px;
              // padding: 0;
              padding-top: 8px;
              border: 1px solid #ff6f30;
              color: #000000;

              @media (max-width: 991.98px) {
                width: 170px;
              }

              &::before {
                // display: none;
                content: url("https://res.cloudinary.com/spiralyze/image/upload/v1676480559/ABCFitnessSolutions/5001/assets/drop-arrow.svg");
                background: none;
                position: absolute;
                right: -7px;
                top: 18px;
                @media (max-width: 991.98px) {
                  right: -12px;
                  top: 18px;
                }
              }
            }
            .c-header-action-links__items-wrapper[class] {
              display: none;
              box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04),
                0px 21px 42px rgba(0, 0, 0, 0.1);
              width: 240px;
              left: auto;
              right: -8px;
              @media (max-width: 1023.98px) {
                right: -14px;
              }
              align-items: flex-start;
              padding: 23px 21px 19px 19px;

              &::before {
                content: url("https://res.cloudinary.com/spiralyze/image/upload/v1676483425/ABCFitnessSolutions/5001/assets/Polygon_1.svg");
                position: absolute;
                right: 30px;
                top: -16px;
              }

              p {
                font-weight: 500;
                font-size: 14px;
                line-height: 130%;
                letter-spacing: -0.01em;
                color: #797979;
                margin-bottom: 5px;
                order: -1;
              }
              .c-header-action-links__item.c-header-action-links__item--first[class] {
                height: 46px;
                width: 100%;
                justify-content: center;
                border: 1px solid #ff6f30;
                color: #000000;
                font-weight: 500;
                font-size: 14px;
                line-height: 130%;
                padding-left: 24px;
                &::before {
                  display: none;
                }
              }

              .c-header-action-links__item.c-header-action-links__item--second[class] {
                order: -1;
                margin: 4px 0 8px 0;
                width: 100%;
                height: 46px;
                border: 1px solid #ff6f30;
                color: #000000;
                font-weight: 500;
                font-size: 14px;
                line-height: 130%;
                background-color: #ffffff;
              }
            }
          }

          .spz-header-cta-secondary[class] {
            .c-header-action-links__item.c-header-action-links__item--second[class] {
              width: 180px;
              height: 46px;
              margin-left: 10px;
              justify-content: center;
              margin-right: 0;

              @media (max-width: 991.98px) {
                margin-right: 22px;
                width: 170px;
              }
            }
          }
        }
      }

      .l-header__container.l-header__container--bottom[class] {
        .l-header__container-inner {
          .l-header__action-links-wrapper--not-top {
            > .c-header-action-links__items-wrapper {
              display: none;
            }
            .spz-header-cta-container {
              display: flex;
              .spz-header-cta-primary {
                position: relative;
                padding: 16px 0;
                .spz-login-btn {
                  cursor: pointer;
                }
                .c-header-action-links__items-wrapper[class] {
                  display: none;
                  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04),
                    0px 21px 42px rgba(0, 0, 0, 0.1);
                  width: 240px;
                  left: auto;
                  right: -8px;
                  top: 36px;
                  align-items: flex-start;
                  padding: 23px 21px 19px 19px;

                  &::before {
                    content: url("https://res.cloudinary.com/spiralyze/image/upload/v1676483425/ABCFitnessSolutions/5001/assets/Polygon_1.svg");
                    position: absolute;
                    right: 30px;
                    top: -16px;
                  }

                  p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 130%;
                    letter-spacing: -0.01em;
                    color: #797979;
                    margin-bottom: 5px;
                    order: -1;
                  }
                  .c-header-action-links__item.c-header-action-links__item--first[class] {
                    height: 46px;
                    width: 100%;
                    justify-content: center;
                    border: 1px solid #ff6f30;
                    color: #000000;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 130%;
                    padding-left: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    &::before,
                    &::after {
                      display: none;
                    }
                  }

                  .c-header-action-links__item.c-header-action-links__item--second[class] {
                    order: -1;
                    margin: 4px 0 8px 0;
                    width: 100%;
                    height: 46px;
                    border: 1px solid #ff6f30;
                    color: #000000;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 130%;
                    background-color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    &::before,
                    &::after {
                      display: none;
                    }
                  }
                }
              }
              .spz-header-cta-secondary {
                padding: 16px 0;
              }
            }
          }
        }
      }
    }

    //Mobile css
    > .spz-header-cta-container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      border-bottom: 2px solid #0073ba;
      padding: 5px 20px;
      background-color: #fff;
      transition-duration: 200ms;
      @media (min-width: 767.98px) {
        display: none;
      }
      .spz-header-cta-secondary {
        width: 100%;
        text-align: center;
        .c-header-action-links__item.c-header-action-links__item--second {
          background-color: #f26122;
          padding: 5px 30px 0;
          margin: 0px;
          height: 46px;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          text-transform: uppercase;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          letter-spacing: 0.014em;
          font-weight: 500;
          font-size: 14px;
          width: 100%;
          justify-content: center;
          // z-index: -1;
        }
      }
      .spz-header-cta-primary {
        position: relative;
        width: 100%;
        text-align: center;
        background: #fff;

        .spz-login-btn {
          padding: 6px 0px 0 0px;
          margin: 0px;
          // color: #f26122;
          height: 46px;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          text-transform: uppercase;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          letter-spacing: 0.014em;
          font-weight: 500;
          font-size: 14px;
          line-height: 130%;
          border: 1px solid #ff6f30;
          color: #000000;
          width: 100%;
          justify-content: center;
          margin-top: 4px;
          // z-index: -1;

          &::before {
            // display: none;
            content: url("https://res.cloudinary.com/spiralyze/image/upload/v1676480559/ABCFitnessSolutions/5001/assets/drop-arrow.svg");
            background: none;
            position: absolute;
            left: calc(50% + 66px);
            top: 12px;
          }
        }

        .c-header-action-links__items-wrapper[class] {
          display: none;
          right: -20px;
          left: -20px;
          padding: 9px 20px 13px;

          p {
            font-weight: 500;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: -0.01em;
            color: #797979;
            margin-bottom: 5px;
            order: -1;
          }
          .c-header-action-links__item.c-header-action-links__item--first {
            padding: 4px 16px 0 16px;
            border: 1px solid #ff6f30;
            color: #000;
            height: 46px;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            letter-spacing: 0.014em;
            font-weight: 500;
            font-size: 14px;
            justify-content: center;
            width: 100%;
            line-height: 130%;
            text-transform: uppercase;
          }
          .c-header-action-links__item.c-header-action-links__item--second {
            padding: 4px 16px 0 16px;
            border: 1px solid #f26122;
            color: #000;
            height: 46px;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            text-transform: uppercase;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            letter-spacing: 0.014em;
            font-weight: 500;
            font-size: 14px;
            justify-content: center;
            width: 100%;
            order: -1;
            margin: 4px 0 8px 0;
          }
        }
      }
    }

    .l-header__inner .l-header__container .l-header__container-inner {
      @media (max-width: 767.98px) {
        border: 0;
        z-index: 1;
      }
    }

    //Active class css
    .spz-header-cta-container {
      .spz-header-cta-primary:hover {
        .spz-login-btn {
          // text-decoration: underline;
          @media (max-width: 767.98px) {
            text-decoration: none;
          }
          &::before {
            transform: rotate(180deg);
            right: 2px !important;
            top: 16px !important;

            @media (max-width: 1023.98px) {
              right: -2px !important;
              top: 16px !important;
            }
            @media (max-width: 767.98px) {
              left: calc(50% + 66px);
              top: 28px !important;
              right: auto !important;
            }
          }
        }

        .c-header-action-links__items-wrapper {
          display: flex !important;
          position: absolute;
          flex-direction: column;
          z-index: 2;
          background: #fff;
          margin-left: 0;
        }
      }
    }

    &.l-header--has-pinned-menu[class] {
      .spz-header-cta-container {
        .spz-header-cta-primary:hover {
          .c-header-action-links__items-wrapper {
            @media (max-width: 767.98px) {
              z-index: -1;
            }
          }
        }
      }
    }
  }

  &.safari {
    header#header[id] .spz-header-cta-container[class] {
      .spz-header-cta-primary:hover {
        .spz-login-btn {
          &::before {
            @media (min-width: 767.98px) {
              top: 12px !important;
            }
          }
        }
      }
    }
  }

  .c-slide-out.js-slide-out {
    .c-slide-out__container {
      .c-slide-out__action-links-wrapper.c-header-action-links__wrapper {
        .c-header-action-links__items-wrapper {
          > p {
            display: none;
          }
          .c-header-action-links__item--first {
            margin-right: 10px;
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    header#header.l-header--hamburger-active {
      > .spz-header-cta-container {
        display: none;
      }
    }
  }
}
