
.spz-home-5009 #mega-menu-primary .spz-menu-item{display: flex; align-items: center; padding: 0 11px 0 10px; order: 1;}
.spz-home-5009 .spz-demo-btn{min-width: 125px; height: 39px; display: flex; align-items: center; justify-content: center; background: #EF7F2E; border-radius: 36px;color: #FFF;font-size: 14px;font-style: normal;font-weight: 600;line-height: normal; text-transform: uppercase; padding: 0 10px;}
.spz-home-5009 .spz-demo-btn:hover, .spz-home-5009 .spz-demo-btn:focus{background: #BE5D17 !important;color: #FFF; text-decoration: none; outline: none !important; text-decoration: none !important;}
.spz-home-5009 div#n2-ss-2 .n2-ss-slide-3 .n2-ss-layer a.spz-hero-btn, .spz-home-5009 div#n2-ss-2 .n2-ss-slide-3 .n2-ss-layer a.popup{display: flex;align-items: center;justify-content: center; width: 180px; height: 41px; border-radius: 36px; background: #EF7F2E;color: #FFF;font-size: 14px;font-style: normal;font-weight: 600;line-height: normal; letter-spacing: 0px;padding: 0;text-transform: uppercase;}
.spz-home-5009 div#n2-ss-2 .n2-ss-slide-3 .n2-ss-layer a.spz-hero-btn:hover, .spz-home-5009 div#n2-ss-2 .n2-ss-slide-3 .n2-ss-layer a.spz-hero-btn:focus, .spz-home-5009 div#n2-ss-2 .n2-ss-slide-3 .n2-ss-layer a.popup:hover, .spz-home-5009 div#n2-ss-2 .n2-ss-slide-3 .n2-ss-layer a.popup:focus{background: #BE5D17;color: #FFF; text-decoration: none;}

.spz-home-5009 #mega-menu-wrap-primary #mega-menu-primary{left: 0 !important; width: 100% !important;}
.spz-home-5009 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-language-menu-item{position: relative;}
.spz-home-5009 #mega-menu-wrap-primary #mega-menu-primary li.mega-align-bottom-right.mega-current-language-menu-item>ul.mega-sub-menu{margin-right: -18px;}
.spz-home-5009 .bkg-header.fixed-header{position: fixed;left: 0;width: 100%;z-index: 9999; top: 0;}
.spz-home-5009 .modal-backdrop{z-index: 10000;}

@media only screen and (max-width: 1200px) {

    .spz-home-5009 #mega-menu-primary .spz-menu-item{position: absolute;bottom: 20px;left: 0;width: 100%; padding-left: 20px;}
    .spz-home-5009 #mega-menu-wrap-primary #mega-menu-primary{padding-bottom: 72px !important; position: absolute; margin-top: 7px;}
    .spz-home-5009 #site-navigation, .spz-home-5009 #mega-menu-wrap-primary, .spz-home-5009 #masthead{position: inherit;}

    .spz-home-5009 .spz-demo-btn{min-width: 149px;height: 37px;}
    .spz-home-5009 div#n2-ss-2 .n2-ss-slide-3 .n2-ss-layer a.spz-hero-btn, .spz-home-5009 div#n2-ss-2 .n2-ss-slide-3 .n2-ss-layer a.popup{height: 37px;}
    .spz-home-5009 #mega-menu-wrap-primary #mega-menu-primary li.mega-align-bottom-right.mega-current-language-menu-item>ul.mega-sub-menu{margin-right: 0px;}
    .spz-home-5009 .bkg-header.fixed-header{position: fixed;left: 0;width: 100%;z-index: 9999; top: 0;}

}


@media only screen and (max-width: 767px) {

    .spz-home-5009 #mega-menu-primary .spz-menu-item{justify-content: center;padding-left: 11px;bottom: 10px;}    
    .spz-home-5009 #site-navigation{margin-left: auto;}


}