.copy-and-image {
  max-width: 1148px;
  margin: auto;
  padding: 196px 196px 48px;

  .image-in-left, .image-in-right {
    display: flex;
    justify-content: center;
    align-items: center;
    .ci-image {
      margin-right: 40px;
      img {
        width: 604px;
        height: auto;
      }
    }
    .ci-copy {
      .copy-title {
        font-family: "Darker Grotesque";
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.48px;
        color: #00030b;
      }
      .copy-content {
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: #2f2f2f;
        }
      }
      .copy-cta {
        button {
        //   padding: 16px 24px;
          width: 148px;
          height: 44px;
          background: #0580e8;
          border-radius: 4px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}
