.footer-sec {
  background-color: #000;
  overflow: hidden;
}
.footer-sec .top-footer .footer-cta-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 128px 96px;
  position: relative;
  max-width: 1248px;
  margin: auto;
}
.footer-sec .top-footer .footer-cta-section::before {
  content: url("https://res.cloudinary.com/spiralyze/image/upload/v1680275026/drata/5001/ornament_4.svg");
  position: absolute;
  left: -364px;
  top: -332px;
}
.footer-sec .top-footer .footer-cta-section::after {
  content: url("https://res.cloudinary.com/spiralyze/image/upload/v1680275026/drata/5001/ornament_5.svg");
  position: absolute;
  right: -304px;
  top: -192px;
}
.footer-sec .top-footer .footer-cta-section .footer-subtitle {
  font-family: "Darker Grotesque";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.48px;
  color: #ffffff;
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
}
.footer-sec .top-footer .footer-cta-section .footer-subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -20px;
  height: 8px;
  width: 115px;
  background: #fff;
}
.footer-sec .top-footer .footer-cta-section .footer-cta button {
  width: 226px;
  height: 64px;
  background: #0580e8;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  outline: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-sec .top-footer .footer-cta-section .footer-cta button img {
  padding-left: 8px;
}
.footer-sec .top-footer .footer-cta-section .footer-cta button:hover {
  color: #bfff60;
}
.footer-sec .top-footer .footer-cta-section .footer-cta button:active {
  background: #097dcc;
  color: #bfff60;
}
.footer-sec .top-footer .gradiant-border {
  border-bottom: 1px solid transparent;
  -o-border-image: linear-gradient(90deg, #444444 0.8%, rgba(68, 68, 68, 0) 100.49%);
     border-image: linear-gradient(90deg, #444444 0.8%, rgba(68, 68, 68, 0) 100.49%);
  border-image-slice: 1;
}
.footer-sec .top-footer .footer-copy {
  display: flex;
  max-width: 1248px;
  margin: 40px auto;
  justify-content: space-between;
  align-items: end;
}
.footer-sec .top-footer .footer-copy .copy-and-logo {
  max-width: 682px;
}
.footer-sec .top-footer .footer-copy .copy-and-logo .footer-copy {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin: 36px 0 4px;
}
.footer-sec .top-footer .footer-copy .social-icons a {
  margin-left: 22px;
}
.footer-sec .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1248px;
  margin: 0 auto;
  padding-bottom: 2px;
}
.footer-sec .footer-container > p {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: initial;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #fff;
  margin-left: -2px;
}
.footer-sec .footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.footer-sec .footer-links .fl-link {
  margin: 0;
  color: #fff;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.4);
  position: relative;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #097dcc;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  border-left: 2px solid #0580e8;
  padding-left: 4px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  transition-duration: 0.15s;
}
.footer-sec .footer-links .fl-link:hover {
  color: #0580e8;
}
.footer-sec .footer-logo {
  width: 140px;
  margin-top: 5px;
}
.footer-sec .footer-logo img {
  max-width: 140px;
}/*# sourceMappingURL=footer.css.map */