@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins:wght@700&display=swap");
.spz-13001:has(.flydown-modal.is-open) {
  overflow: hidden;
}
.spz-13001 .modal {
  scrollbar-width: none;
  z-index: 10000;
}
.spz-13001 .modal ::-webkit-scrollbar {
  width: 0px;
}
.spz-13001 .modal .modal__overlay {
  background: rgba(17, 17, 17, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.spz-13001 .modal .modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-width: 1200px;
  position: absolute;
  padding: 50px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 32px;
  border: 0;
}
@media (max-height: 600.98px) {
  .spz-13001 .modal .modal__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 1023.98px) {
  .spz-13001 .modal .modal__container {
    max-width: 688px;
    padding: 40px;
  }
}
.spz-13001 .modal .modal__container .modal__close {
  top: 14px;
  right: 16px;
}
@media (max-width: 1023.98px) {
  .spz-13001 .modal .modal__container .modal__close {
    top: 10px;
    right: 12px;
  }
}
@media (max-width: 767.98px) {
  .spz-13001 .modal .modal__container .modal__close {
    top: 4px;
    right: 7px;
  }
}
.spz-13001 .modal .modal__container .modal__close svg {
  width: 16px;
}
.spz-13001 .modal .modal__container .modal__close svg path {
  fill: #9d9d9d !important;
}
.spz-13001 .modal .modal__container .modal__close:hover svg path {
  fill: #000000 !important;
}
.spz-13001 .modal .modal__container .flydown-modal__inner {
  border-radius: 12px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
  padding: 40px 30px;
  max-width: 500px;
  min-width: 500px;
}
@media (max-width: 1023.98px) {
  .spz-13001 .modal .modal__container .flydown-modal__inner {
    max-width: 100%;
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .spz-13001 .modal .modal__container .flydown-modal__inner {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 32px 32px 24px;
    min-width: auto;
  }
}
.spz-13001 .modal .modal__container .flydown-modal__inner .spz-demo-title {
  color: #140f10;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin: 0 0 32px;
}
@media (max-width: 767.98px) {
  .spz-13001 .modal .modal__container .flydown-modal__inner form.marketo-form .mktoFormRow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.spz-13001 .modal .modal__container .flydown-modal__inner form.marketo-form .mktoButtonRow .mktoButtonWrap {
  margin-top: 17px;
}
.spz-13001 .modal .modal__container .flydown-modal__inner form.marketo-form .mktoButtonRow .mktoButtonWrap .mktoButton {
  height: 56px;
  border-radius: 100px;
  background-color: #ef7f2e !important;
  padding: 16px 32px;
  color: #fff;
  font-family: Poppins !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  width: 152px;
  letter-spacing: 0;
}
.spz-13001 .modal .modal__container .flydown-modal__inner form.marketo-form .mktoButtonRow .mktoButtonWrap .mktoButton .cta-arrow {
  margin-left: 10px;
  text-replace: all 0.15s ease-in-out;
}
.spz-13001 .modal .modal__container .flydown-modal__inner form.marketo-form .mktoButtonRow .mktoButtonWrap .mktoButton:hover {
  background-color: #be5d17 !important;
}
.spz-13001 .modal .modal__container .flydown-modal__inner form.marketo-form .mktoButtonRow .mktoButtonWrap .mktoButton:hover .cta-arrow {
  translate: 5px;
}
.spz-13001 .modal .modal__container .flydown-modal__inner form.marketo-form .marketo-form__notice {
  margin-top: 21px;
  margin-bottom: 0;
}
.spz-13001 .modal .modal__container .flydown-modal__inner form.marketo-form input[name=Phone] + .mktoError #ValidMsgPhone {
  font-size: 10px;
}
@media (max-width: 767.98px) {
  .spz-13001 .modal .modal__container .flydown-modal__inner form.marketo-form input[name=Phone] + .mktoError #ValidMsgPhone {
    font-size: 11px;
  }
}
@media (max-width: 767.98px) {
  .spz-13001 .modal .modal__container .flydown-modal__inner form.marketo-form input[name=Email] + .mktoError #ValidMsgEmail {
    font-size: 11px;
  }
}
.spz-13001 .modal .modal__container .bullet-section {
  margin-right: 20px;
  padding: 0;
  max-width: 560px;
  width: 100%;
}
@media (max-width: 1023.98px) {
  .spz-13001 .modal .modal__container .bullet-section {
    max-width: 100%;
    margin: 0px;
  }
}
.spz-13001 .modal .modal__container .bullet-section .bullet-sub-title {
  color: #0057d6;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 11px;
  letter-spacing: 0;
  padding: 0;
}
.spz-13001 .modal .modal__container .bullet-section .bullet-title {
  color: var(--black, #140f10);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin: 0;
}
.spz-13001 .modal .modal__container .bullet-wrapper {
  margin: 29px 0 31px;
  padding: 0;
}
@media (max-width: 1023.98px) {
  .spz-13001 .modal .modal__container .bullet-wrapper {
    margin: 24px 0 30px;
  }
}
.spz-13001 .modal .modal__container .bullet-point {
  color: #140f10;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 16px;
  list-style: none;
  position: relative;
  padding-left: 32px;
}
.spz-13001 .modal .modal__container .bullet-point::before {
  content: "";
  display: block;
  background: url(//res.cloudinary.com/dxprfaxf3/image/upload/f_auto/abcfitness/13001/check.webp) no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
}
.spz-13001 .modal .modal__container .bullet-point:last-child {
  margin: 0;
}
.spz-13001 .modal .modal__container .bullet-point strong {
  font-weight: 700;
}
.spz-13001 .modal .modal__container .explore-platforms-parent .explore-our-other {
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 30px;
}
.spz-13001 .modal .modal__container .explore-platforms-parent .explore-platforms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 480px;
}
@media (max-width: 569.98px) {
  .spz-13001 .modal .modal__container .explore-platforms-parent .explore-platforms {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.spz-13001 .modal .modal__container .explore-platforms-parent .explore-platforms .frame-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  height: 110px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  border: 1px solid #e9e9e9;
  background: #ededed;
  margin-right: 10px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .spz-13001 .modal .modal__container .explore-platforms-parent .explore-platforms .frame-group {
    width: 98px;
    height: 98px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767.98px) {
  .spz-13001 .modal .modal__container .explore-platforms-parent .explore-platforms .frame-group {
    margin-bottom: 10px;
  }
}
.spz-13001 .modal .modal__container .explore-platforms-parent .explore-platforms .frame-group .block-img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  outline: none !important;
}
.spz-13001 .modal .modal__container .explore-platforms-parent .explore-platforms .frame-group p {
  color: #000;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin: 0;
  padding: 0;
  word-break: initial;
}
.spz-13001 .modal .modal__container .explore-platforms-parent .explore-platforms .frame-group:hover {
  -webkit-box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
@media (max-width: 1023.98px) {
  .spz-13001 .modal .modal__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 767.98px) {
  .spz-13001 .modal .modal__container {
    padding: 0px 0px 23px;
    border-radius: 24px;
    max-width: 335px;
  }
  .spz-13001 .modal .modal__container .flydown-modal__inner .spz-demo-title {
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .spz-13001 .modal .modal__container .bullet-section {
    margin-bottom: 0px;
    padding: 0 31.5px;
    position: relative;
  }
  .spz-13001 .modal .modal__container .bullet-section::before {
    content: "";
    position: absolute;
    top: -32px;
    background: #bababa;
    width: calc(100% - 38px);
    height: 1px;
    left: 0px;
    right: 0;
    margin: auto;
  }
  .spz-13001 .modal .modal__container .bullet-section .bullet-sub-title {
    font-size: 14px;
    line-height: 130%;
  }
  .spz-13001 .modal .modal__container .bullet-section .bullet-title {
    font-size: 22px;
    line-height: 140%;
  }
  .spz-13001 .modal .modal__container .bullet-wrapper {
    margin: 15px 0 25px;
  }
  .spz-13001 .modal .modal__container .bullet-wrapper .bullet-point {
    margin-bottom: 24px;
  }
  .spz-13001 .modal .modal__container .explore-platforms-parent .explore-our-other {
    margin-bottom: 14px;
  }
  .spz-13001 .modal .modal__container .explore-platforms-parent .explore-platforms {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 274px;
  }
  .spz-13001 .modal .modal__container .explore-platforms-parent .explore-platforms .frame-group {
    margin-right: 0;
    width: 131px;
  }
}
@media (max-width: 767.98px) and (max-width: 374.98px) {
  .spz-13001 .modal .modal__container .explore-platforms-parent .explore-platforms .frame-group {
    width: 123px;
  }
}