@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap";
html {
  overflow-x: hidden;
}

body.spz-14007 {
  overflow-x: hidden;
  /* 14004 CSS Start */
  /* 14004 CSS End */
}
body.spz-14007 header .css-qqlydz-MuiPaper-root-MuiAppBar-root-Header-root {
  position: fixed;
}
body.spz-14007 header .css-1p0wz3u-MuiPaper-root-MuiAppBar-root-Header-root {
  position: fixed;
}
body.spz-14007 header + div {
  background: none;
  padding-top: 0;
  padding-bottom: 0;
}
body.spz-14007 header + div > :not(.MuiContainer-root) {
  display: none;
  background: none !important;
}
body.spz-14007 header + div > .MuiContainer-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0;
}
body.spz-14007 header + div > .MuiContainer-root > :not(section) {
  display: none;
}
body.spz-14007 section[variant=collectionCustomerLogosSectionWrapper],
body.spz-14007 section[variant=globalCta] {
  display: none;
}
body.spz-14007 .dis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body.spz-14007 .flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
body.spz-14007 .justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
body.spz-14007 .align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body.spz-14007 i {
  font-style: normal;
}
body.spz-14007 .hero-section-14001 {
  width: 100%;
}
body.spz-14007 .hero-section-14001 .sr-img {
  margin: 0 12px;
}
body.spz-14007 .hero-section-14001 .sr-number {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0c131a;
}
body.spz-14007 .hero-section-14001 .sr-number strong {
  font-weight: 800;
}
body.spz-14007 .hero-section-14001 .list-grp-wrapper .list-group {
  position: relative;
  list-style: none;
  margin-top: 24px;
  padding: 0 30px 0 0;
}
body.spz-14007 .hero-section-14001 .list-grp-wrapper .list-group .list-item {
  position: relative;
  padding-left: 31px;
  margin: 0 0 16px 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #485665;
}
body.spz-14007 .hero-section-14001 .list-grp-wrapper .list-group .list-item strong {
  color: #0c131a;
  font-weight: 800;
}
body.spz-14007 .hero-section-14001 .list-grp-wrapper .list-group .list-item:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/drata/6012/check-square--check-form-validation-checkmark-success-add-addition-box-square-tick.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 2px;
  left: 0;
}
body.spz-14007 .hero-section-14001 .hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 182px;
  height: 60px;
  background: #0580e8;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  margin-top: 32px;
  -webkit-transition: all 0.5s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
body.spz-14007 .hero-section-14001 .hero-btn > span {
  padding: 0 15px 0 12px;
}
body.spz-14007 .hero-section-14001 .hero-btn .button_arrow {
  margin-left: 8px;
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
  object-fit: contain;
  pointer-events: none;
}
body.spz-14007 .hero-section-14001 .hero-btn:hover {
  background: #0068c9;
  color: #fff;
}
body.spz-14007 .hero-section-14001 .hero-btn:active {
  background: #0068c9;
  color: #fff;
  border: 2px solid #b2e0ff;
}
body.spz-14007 .hero-section-14001 .hero-content {
  padding-top: 90px;
  padding-bottom: 70px;
  position: relative;
  width: 100%;
}
body.spz-14007 .hero-section-14001 .hero-content:before {
  position: absolute;
  content: "";
  width: 61.4%;
  height: 576px;
  right: -89px;
  top: 79px;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/drata/14007/frame_48096469.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
body.spz-14007 .hero-section-14001 .hero-content .hc-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.96px;
  color: #000;
  margin: 0 0 24px;
}
body.spz-14007 .hero-section-14001 .hero-content .hc-title .hc-blue {
  color: #0580e8;
}
body.spz-14007 .hero-section-14001 .hero-content .hero-left-section {
  width: 45%;
  max-width: 555px;
}
body.spz-14007 .hero-section-14001 .hero-content .hero-right-section {
  width: 60%;
  max-width: 742px;
  margin-right: -89px;
  display: none;
}
@media (max-width: 1199.98px) {
  body.spz-14007 .hero-section-14001 .hero-content {
    padding-top: 37px;
    padding-bottom: 24px;
  }
  body.spz-14007 .hero-section-14001 .hero-content:before {
    display: none;
  }
  body.spz-14007 .hero-section-14001 .hero-content:after {
    display: none;
  }
  body.spz-14007 .hero-section-14001 .hero-content .hc-title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.96px;
  }
  body.spz-14007 .hero-section-14001 .hero-content .sr-number {
    font-size: 18px;
    line-height: 26px;
  }
  body.spz-14007 .hero-section-14001 .hero-content .hero-left-section {
    width: 100%;
    max-width: unset;
    position: relative;
    display: block;
  }
  body.spz-14007 .hero-section-14001 .hero-content .hero-right-section {
    width: 100%;
    max-width: unset;
    position: relative;
    display: block;
    text-align: center;
  }
  body.spz-14007 .hero-section-14001 .hero-content .hero-right-section .hero-img {
    width: 100%;
    max-width: 736px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  body.spz-14007 .hero-section-14001 .hero-btn {
    margin-top: 40px;
    margin-bottom: 24px;
  }
  body.spz-14007 .hero-section-14001 .list-grp-wrapper .list-group {
    margin-top: 32px;
  }
}
@media (max-width: 767.98px) {
  body.spz-14007 .hero-section-14001 .hero-content {
    padding-top: 39px;
    padding-bottom: 31.5px;
  }
  body.spz-14007 .hero-section-14001 .hero-content .sr-number {
    font-size: 16px;
    line-height: 24px;
  }
  body.spz-14007 .hero-section-14001 .hero-content .hc-title {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.56px;
  }
  body.spz-14007 .hero-section-14001 .sr-img {
    margin: 0 8px;
  }
  body.spz-14007 .hero-section-14001 .list-grp-wrapper .list-group {
    margin: 33px 0 0 0;
    padding: 0;
  }
  body.spz-14007 .hero-section-14001 .list-grp-wrapper .list-group .list-item {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 17px;
  }
  body.spz-14007 .hero-section-14001 .list-grp-wrapper .list-group .list-item::before {
    top: 0;
  }
  body.spz-14007 .hero-section-14001 .hero-btn {
    width: 100%;
    height: 48px;
    margin-top: 39.5px;
  }
  body.spz-14007 .hero-section-14001 .hero-btn > span {
    padding: 0 15px 0 7px;
  }
  body.spz-14007 .hero-section-14001 .hero-btn .button_arrow {
    margin-left: 5px;
  }
}
body.spz-14007 main section.MuiBox-root[variant=blockImageOnLeftSectionWrapper],
body.spz-14007 main section.MuiBox-root[variant=blockImageOnLeftSectionWrapper] + section.MuiBox-root[variant=blockGlobalCtaSectionWrapper],
body.spz-14007 main section.MuiBox-root[variant=blockImageOnRightSectionWrapper],
body.spz-14007 main section.MuiBox-root[variant=blockImageOnRightSectionWrapper] + section.MuiBox-root[variant=blockGlobalCtaSectionWrapper],
body.spz-14007 main section.MuiBox-root[variant=tabsQuotesSectionWrapper] {
  display: none;
}
body.spz-14007 .MuiBox-root .css-kfz1fl-MuiSvgIcon-root-Form-dotsSquarePrimaryIcon {
  display: none;
}
body.spz-14007 .spz-benefits {
  width: 100%;
  margin: 67.5px 0 46px;
}
body.spz-14007 .spz-benefits .spz-container {
  width: 100%;
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
  display: unset;
}
body.spz-14007 .spz-benefits .ac-heading {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -0.84px;
  color: #0c131a;
  position: relative;
  margin: 0 0 32px;
  padding-top: 20px;
}
body.spz-14007 .spz-benefits .benefits-accord {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body.spz-14007 .spz-benefits .ac-info {
  width: 55%;
  max-width: 684px;
}
body.spz-14007 .spz-benefits .ac-info .ac-item {
  background: #f6f8fa;
  padding: 25px 24px 25.5px 23px;
  border: 1px solid #eef2f6;
  border-radius: 6px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body.spz-14007 .spz-benefits .ac-info .ac-item.open {
  padding: 25px 24px 23px 23px;
  border: 1px solid #dde3eb;
  cursor: initial;
}
body.spz-14007 .spz-benefits .ac-info .ac-item.open .ac-header::after {
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/drata/14004/up_arrow.svg");
}
body.spz-14007 .spz-benefits .ac-info .ac-item.open .ac-cont {
  display: block;
}
body.spz-14007 .spz-benefits .ac-info .ac-item:last-child {
  margin-bottom: 0;
}
body.spz-14007 .spz-benefits .ac-info .ac-item .ac-header {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  color: #000;
  margin: 0;
  padding-right: 40px;
}
body.spz-14007 .spz-benefits .ac-info .ac-item .ac-header::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1692881035/drata/14004/dropdown_arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
body.spz-14007 .spz-benefits .ac-info .ac-item .ac-cont {
  display: none;
  cursor: initial;
  margin-top: 22.75px;
  padding-top: 0;
}
body.spz-14007 .spz-benefits .ac-info .ac-item .ac-cont p,
body.spz-14007 .spz-benefits .ac-info .ac-item .ac-cont a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  margin: 8px 0 0 0;
  color: #000;
}
body.spz-14007 .spz-benefits .ac-info .ac-item .ac-cont p:first-child {
  margin: 0;
}
body.spz-14007 .spz-benefits .ac-info .ac-item .ac-cont a {
  color: #0580e8;
}
body.spz-14007 .spz-benefits .ac-info .ac-item .ac-cont br {
  display: none;
}
body.spz-14007 .spz-benefits .ac-info .ac-item .ac-img-tab {
  margin-top: 20px;
  background: #fff;
  border-radius: 18px;
  padding: 19px 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body.spz-14007 .spz-benefits .ac-info .ac-item .ac-img-tab img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 18px;
  image-rendering: -webkit-optimize-contrast;
}
body.spz-14007 .spz-benefits .ac-img-wrap {
  width: 41%;
  max-width: 500px;
  margin-top: 14px;
}
body.spz-14007 .spz-benefits .ac-img-wrap .ac-img {
  width: 100%;
  display: none;
}
body.spz-14007 .spz-benefits .ac-img-wrap .ac-img.open {
  display: block;
}
body.spz-14007 .spz-benefits .ac-img-wrap img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
}
body.spz-14007 .spz-benefits .ac-btn {
  margin-top: 32px;
  padding: 16px 18.45px 16px 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0580e8;
  border: 2px solid #0580e8;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body.spz-14007 .spz-benefits .ac-btn:hover {
  background: #0068c9;
  border-color: #0068c9;
}
body.spz-14007 .spz-benefits .ac-btn:active {
  background: #0068c9;
  border-color: #b2e0ff;
}
body.spz-14007 .spz-benefits .ac-btn img {
  margin-left: 24px;
  pointer-events: none;
}
@media (max-width: 1023.98px) {
  body.spz-14007 .spz-benefits {
    margin: 45px 0 0;
  }
  body.spz-14007 .spz-benefits .spz-container {
    max-width: 768px;
  }
  body.spz-14007 .spz-benefits .ac-heading {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.64px;
    text-align: center;
  }
  body.spz-14007 .spz-benefits .ac-info {
    width: 100%;
    max-width: 100%;
  }
  body.spz-14007 .spz-benefits .ac-img-wrap {
    display: none;
  }
  body.spz-14007 .spz-benefits .btn-block {
    text-align: center;
  }
  body.spz-14007 .spz-benefits .ac-btn {
    margin-top: 34px;
  }
  body.spz-14007 .spz-benefits .ac-item.open {
    padding: 25px 24px 24px 23px;
  }
  body.spz-14007 .spz-benefits .ac-item.open .ac-img-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body.spz-14007 .css-1a48d2a-TabsQuotes-outerContainer {
    padding-top: 0;
  }
}
@media (max-width: 767.98px) {
  body.spz-14007 .spz-benefits {
    margin: 29px 0 0;
  }
  body.spz-14007 .spz-benefits .ac-heading {
    font-size: 24px;
    line-height: 28px;
    padding-top: 27px;
    text-align: left;
    letter-spacing: 0;
  }
  body.spz-14007 .spz-benefits .ac-heading::before {
    width: 77px;
  }
  body.spz-14007 .spz-benefits .ac-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 32px;
    width: 100%;
    padding: 10px 18.45px 10px 30px;
  }
  body.spz-14007 .spz-benefits .ac-info .ac-item.open {
    padding: 19px 16px 15px 15px;
  }
  body.spz-14007 .spz-benefits .ac-info .ac-item .ac-header {
    font-size: 18px;
    line-height: 26px;
    padding-right: 55px;
  }
  body.spz-14007 .spz-benefits .ac-info .ac-item .ac-header::after {
    top: -3px;
    -webkit-transform: none;
            transform: none;
  }
  body.spz-14007 .spz-benefits .ac-info .ac-item .ac-cont p,
  body.spz-14007 .spz-benefits .ac-info .ac-item .ac-cont a {
    font-size: 14px;
    line-height: 20px;
  }
  body.spz-14007 .spz-benefits .ac-info .ac-item .ac-img-tab,
  body.spz-14007 .spz-benefits .ac-info .ac-item .ac-img-tab img {
    border-radius: 12px;
  }
  body.spz-14007 .spz-benefits .ac-info .ac-item .ac-img-tab {
    padding: 8px 0 9px;
  }
  body.spz-14007 .ac-info .ac-item {
    padding: 28px 20px;
  }
}

.case-studies-section {
  max-width: 1248px;
  margin: 22px auto 0;
}
.case-studies-section .cs-title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: -0.64px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 39.5px;
}
.case-studies-section .cs-divider {
  width: 1px;
  height: 88px;
  border-left: 1px solid #dde3eb;
  margin: 0 20px;
}
.case-studies-section .case-study-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.case-studies-section .case-study-wrapper .case-study {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 128px;
  width: 300px;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0;
  border-radius: 16px;
  border: 1px solid #dde3eb;
  background: #f6f8fa;
}
.case-studies-section .case-study-wrapper .case-study.down .cs-arrow {
  rotate: 180deg;
}
.case-studies-section .case-study-wrapper .case-study .cs-logo {
  width: 114px;
}
.case-studies-section .case-study-wrapper .case-study .cs-details .cs-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 106px;
}
.case-studies-section .case-study-wrapper .case-study .cs-details .cs-right .cs-numb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0c131a;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
}
.case-studies-section .case-study-wrapper .case-study .cs-details .cs-right .cs-arrow {
  margin-left: 7px;
}
.case-studies-section .case-study-wrapper .case-study .cs-details .cs-right .cs-text {
  color: #1d252e;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.mui-i3cep6-Collection-root {
  padding-top: 112px;
}

@media screen and (max-width: 1280px) {
  .case-studies-section {
    max-width: 736px;
    margin: 50px auto 0;
  }
  .case-studies-section .cs-title {
    margin-bottom: 15px;
  }
  .case-studies-section .case-study-wrapper .case-study {
    width: 360px;
  }
  .case-studies-section .case-study-wrapper .case-study .cs-details .cs-right {
    width: 150px;
  }
  .mui-i3cep6-Collection-root {
    padding-top: 96px;
  }
}
@media screen and (max-width: 767.98px) {
  .case-studies-section {
    max-width: 100%;
    margin: 26px auto 0;
  }
  .case-studies-section .cs-overflow {
    width: 100%;
    overflow-y: auto;
  }
  .case-studies-section .cs-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    margin: 0 0 16px;
    text-align: left;
  }
  .case-studies-section .case-study-wrapper {
    width: 1278px;
  }
  .case-studies-section .case-study-wrapper .case-study {
    width: 300px;
  }
  .case-studies-section .case-study-wrapper .case-study .cs-details .cs-right {
    width: 106px;
  }
  .mui-i3cep6-Collection-root {
    padding-top: 81px;
  }
}
.spz-14007 .whats-included-sec [class$=Collection-root] {
  padding: 50px 24px 96px;
}
.spz-14007 .whats-included-sec [class$=Collection-root] [class*=Collection-contentContainer] {
  gap: 56px 24px;
}
@media (max-width: 1023.98px) {
  .spz-14007 .whats-included-sec [class$=Collection-root] {
    padding: 50px 16px 80px;
  }
}
@media (max-width: 767.98px) {
  .spz-14007 .whats-included-sec [class$=Collection-root] {
    padding: 35px 16px 65px;
  }
  .spz-14007 .whats-included-sec [class$=Collection-root] [class*=Collection-contentContainer] {
    gap: 32px 16px;
  }
}
.spz-14007 .whats-included-sec [class$=Text-root-Collection-introText] {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/span 12;
  width: 100%;
  text-align: center;
}
@media (max-width: 1023.98px) {
  .spz-14007 .whats-included-sec [class$=Text-root-Collection-introText] {
    max-width: 591px;
    margin: 30px auto 0;
  }
}
@media (max-width: 767.98px) {
  .spz-14007 .whats-included-sec [class$=Text-root-Collection-introText] {
    max-width: 100%;
  }
}
.spz-14007 .whats-included-sec [class$=Text-root-Collection-introText]::before {
  display: none;
}
.spz-14007 .whats-included-sec [class$=Text-root-Collection-introText] [class$=MuiTypography-root-Text-title] {
  color: #0c131a;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -0.84px;
  text-align: center;
}
@media (max-width: 1023.98px) {
  .spz-14007 .whats-included-sec [class$=Text-root-Collection-introText] [class$=MuiTypography-root-Text-title] {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.64px;
  }
}
@media (max-width: 767.98px) {
  .spz-14007 .whats-included-sec [class$=Text-root-Collection-introText] [class$=MuiTypography-root-Text-title] {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
  }
}
.spz-14007 .whats-included-sec [class$=Text-root-Collection-introText] [class$=Text-root] {
  color: #485665;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 39px;
}
@media (max-width: 767.98px) {
  .spz-14007 .whats-included-sec [class$=Text-root-Collection-introText] [class$=Text-root] {
    margin-top: 12px;
    margin-bottom: 23px;
  }
}
.spz-14007 .whats-included-sec [class$=Collection-itemsContainer] {
  row-gap: 22px;
}
@media (max-width: 1023.98px) {
  .spz-14007 .whats-included-sec [class$=Collection-itemsContainer] {
    -ms-grid-columns: minmax(0, 1fr) 20px minmax(0, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/span 12;
    gap: 20px 20px;
  }
}
@media (max-width: 767.98px) {
  .spz-14007 .whats-included-sec [class$=Collection-itemsContainer] {
    -ms-grid-columns: (minmax(0, 1fr))[1];
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.spz-14007 .whats-included-sec [class$=Collection-itemsContainer] > [data-csk-entry-type=card] {
  border-radius: 12px;
  border: 1px solid #dde3eb;
  background: #f6f8fa;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1023.98px) {
  .spz-14007 .whats-included-sec [class$=Collection-itemsContainer] > [data-csk-entry-type=card] {
    padding: 23px 22px 22px 16px;
    gap: 8px;
    min-height: 232px;
  }
}
@media (max-width: 767.98px) {
  .spz-14007 .whats-included-sec [class$=Collection-itemsContainer] > [data-csk-entry-type=card] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 23px 23px 22px 16px;
    gap: 21px;
    min-height: initial;
  }
}
.spz-14007 .whats-included-sec [class$=Collection-itemsContainer] > [data-csk-entry-type=card] [class$=root-Card-cardMedia] {
  padding: 0 6px 0 7px;
  max-width: 78px;
}
@media (max-width: 1023.98px) {
  .spz-14007 .whats-included-sec [class$=Collection-itemsContainer] > [data-csk-entry-type=card] [class$=root-Card-cardMedia] {
    padding-top: 0.5px;
  }
}
@media (max-width: 767.98px) {
  .spz-14007 .whats-included-sec [class$=Collection-itemsContainer] > [data-csk-entry-type=card] [class$=root-Card-cardMedia] {
    padding-top: 1px;
    max-width: 58px;
    height: 45px;
  }
}
.spz-14007 .whats-included-sec [class$=Collection-itemsContainer] > [data-csk-entry-type=card] [class$=root-Card-cardContent] {
  margin-left: 6px;
}
.spz-14007 .whats-included-sec [class$=Collection-itemsContainer] > [data-csk-entry-type=card] [class$=root-Card-cardContent] h3 {
  color: #0c131a;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.spz-14007 .whats-included-sec [class$=Collection-itemsContainer] > [data-csk-entry-type=card] [class$=root-Card-cardContent] [class$=Text-root-Card-body] {
  margin-top: 8.5px;
}
.spz-14007 .whats-included-sec [class$=Collection-itemsContainer] > [data-csk-entry-type=card] [class$=root-Card-cardContent] [class$=Text-root-Card-body] p {
  color: #485665;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
@media (max-width: 767.98px) {
  .spz-14007 .whats-included-sec [class$=Collection-itemsContainer] > [data-csk-entry-type=card] [class$=root-Card-cardContent] {
    margin-left: 7px;
  }
  .spz-14007 .whats-included-sec [class$=Collection-itemsContainer] > [data-csk-entry-type=card] [class$=root-Card-cardContent] h3 {
    font-size: 18px;
    line-height: 26px;
  }
  .spz-14007 .whats-included-sec [class$=Collection-itemsContainer] > [data-csk-entry-type=card] [class$=root-Card-cardContent] [class$=Text-root-Card-body] p {
    font-size: 14px;
    line-height: 20px;
  }
}
.spz-14007 .blue-cta-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0580e8;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 18px 20.28px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.spz-14007 .blue-cta-btn > span {
  padding: 0px 16px 0px 12px;
}
.spz-14007 .blue-cta-btn .button_arrow {
  margin-left: 8px;
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
  object-fit: contain;
  pointer-events: none;
}
.spz-14007 .blue-cta-btn:hover {
  background: #0068c9;
  color: #fff;
}
.spz-14007 .blue-cta-btn:active {
  background: #0068c9;
  color: #fff;
  border: 2px solid #b2e0ff;
}
@media (max-width: 767.98px) {
  .spz-14007 .blue-cta-btn {
    padding: 12px 18.45px;
    font-size: 16px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .spz-14007 .blue-cta-btn > span {
    padding: 0px 13px 0px 9px;
  }
}

.simple-steps-sec {
  background-color: #f6f8fa;
  padding: 96px;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec {
    padding: 81px 16px;
  }
}
.simple-steps-sec .simple-steps-container {
  max-width: 1248px;
  margin: 0 auto;
}
.simple-steps-sec .simple-steps-container.step-1 .ss-step.step-1 {
  color: #fff;
  background-color: #1793ff;
}
.simple-steps-sec .simple-steps-container.step-1 .simple-steps-wrapper .ss-item.step-1 {
  border: 1.5px solid #1793ff;
}
.simple-steps-sec .simple-steps-container.step-2 .ss-step.step-2 {
  color: #fff;
  background-color: #1793ff;
}
.simple-steps-sec .simple-steps-container.step-2 .simple-steps-wrapper .ss-item.step-2 {
  border: 1.5px solid #1793ff;
}
.simple-steps-sec .simple-steps-container.step-3 .ss-step.step-3 {
  color: #fff;
  background-color: #1793ff;
}
.simple-steps-sec .simple-steps-container.step-3 .simple-steps-wrapper .ss-item.step-3 {
  border: 1.5px solid #1793ff;
}
.simple-steps-sec .simple-steps-container .ss-top-bar {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .ss-top-bar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.simple-steps-sec .simple-steps-container .ss-top-bar .ss-left {
  max-width: 382px;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .ss-top-bar .ss-left {
    max-width: 100%;
    text-align: center;
  }
}
.simple-steps-sec .simple-steps-container .ss-top-bar .ss-left .ss-subtitle {
  color: #0580e8;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .ss-top-bar .ss-left .ss-subtitle {
    font-size: 18px;
    line-height: 26px;
  }
}
.simple-steps-sec .simple-steps-container .ss-top-bar .ss-left .ss-title {
  color: #0c131a;
  font-family: "Inter", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: -1.08px;
  margin-top: 12px;
  margin-bottom: 0;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .ss-top-bar .ss-left .ss-title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.64px;
  }
}
.simple-steps-sec .simple-steps-container .ss-top-bar .ss-right {
  max-width: 515px;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .ss-top-bar .ss-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    margin-top: 38px;
  }
}
.simple-steps-sec .simple-steps-container .ss-top-bar .ss-right .ss-text {
  position: relative;
  color: #485665;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 44px;
  padding-right: 5px;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .ss-top-bar .ss-right .ss-text {
    max-width: 376px;
    padding-right: 20px;
  }
}
.simple-steps-sec .simple-steps-container .ss-top-bar .ss-right .ss-text::before {
  content: "";
  display: inline-block;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/drata/14007/check-mark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -1px;
  left: 0;
}
.simple-steps-sec .simple-steps-container .ss-top-bar .ss-right .ss-divider {
  width: 100%;
  height: 1px;
  background-color: #dde3eb;
  margin: 18px 0 21px;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .ss-top-bar .ss-right .ss-divider {
    display: none;
  }
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .ssc-contents {
    padding-top: 48px;
    width: 736px;
    margin: 0 auto;
  }
}
.simple-steps-sec .simple-steps-container .ss-steps-count {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 103px 0 32px;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .ss-steps-count {
    display: none;
  }
}
.simple-steps-sec .simple-steps-container .ss-steps-count::before {
  content: " ";
  position: absolute;
  top: calc(50% - 1px);
  left: -16px;
  height: 1px;
  width: calc(100% + 32px);
  background-color: #dde3eb;
}
.simple-steps-sec .simple-steps-container .ss-steps-count .ss-step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4.73px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #dde3eb;
  color: #697586;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18.922px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.652px;
  letter-spacing: -0.378px;
  width: 46.12px;
  height: 48px;
  cursor: default;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  z-index: 2;
}
.simple-steps-sec .simple-steps-container .simple-steps-wrapper {
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #dde3eb;
  padding: 15px 0 35.5px;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .simple-steps-wrapper {
    position: relative;
    max-width: 658px;
    margin-left: auto;
  }
}
.simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 23px;
  }
  .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -56.5px;
    height: 100%;
    width: 1px;
    background-color: #dde3eb;
  }
}
.simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item {
  position: relative;
  border-radius: 16px;
  background-color: #f6f8fa;
  border: 1.5px solid #f6f8fa;
  width: 397.33px;
  padding: 24px 24px 16px;
  overflow: hidden;
  margin: 0 6px;
  cursor: pointer;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item {
    width: auto;
    padding: 0 24px 64px 24px;
    margin: 0px 16px 12px 16px;
    overflow: initial;
  }
  .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item.step-1 .ss-desc {
    padding: 0 20px;
  }
}
.simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-img-wr {
  width: 407px;
  margin-top: -26px;
  margin-left: -29px;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-img-wr {
    margin: 0 auto;
  }
}
.simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-img-wr .ss-img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
}
.simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-title {
  color: #0c131a;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  margin: 1px 0 9px;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-title {
    margin-top: -1px;
  }
}
.simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-desc {
  color: #485665;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.simple-steps-sec .simple-steps-container .simple-steps-wrapper .ss-step {
  display: none !important;
  position: absolute;
  border-radius: 4.73px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #dde3eb;
  color: #697586;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18.922px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.652px;
  letter-spacing: -0.378px;
  width: 46.12px;
  height: 48px;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  z-index: 2;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .simple-steps-wrapper .ss-step {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -3px;
    left: -95px;
  }
}
.simple-steps-sec .simple-steps-container .ss-bottom-bar .ssb-title {
  position: relative;
  color: #293642;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 7px;
}
.simple-steps-sec .simple-steps-container .ss-bottom-bar .ssb-title::before {
  content: "";
  position: relative;
  top: 4px;
  left: -3.5px;
  display: inline-block;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/drata/14007/Ai_Redo_Spark.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.simple-steps-sec .simple-steps-container .ss-bottom-bar .ssb-subtitle {
  color: #485665;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
@media (max-width: 1023.98px) {
  .simple-steps-sec .simple-steps-container .ss-bottom-bar .ssb-subtitle {
    padding: 0 20px;
  }
}

.spz-14007 .auto-footer {
  height: 420px;
  max-width: 1248px;
  margin: auto;
  border-radius: 16px;
  background: radial-gradient(50% 50% at 50% 50%, #1793FF 0%, #0580E8 100%);
  position: relative;
  margin-top: 96px;
}
@media (max-width: 1280.98px) {
  .spz-14007 .auto-footer {
    max-width: 1088px;
  }
}
@media (max-width: 1199.98px) {
  .spz-14007 .auto-footer {
    max-width: 704px;
  }
}
@media (max-width: 767.98px) {
  .spz-14007 .auto-footer {
    max-width: 328px;
    height: 344px;
  }
}
.spz-14007 .auto-footer .automate-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.spz-14007 .auto-footer .automate-footer .small-title {
  color: #B2E0FF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 12px;
}
.spz-14007 .auto-footer .automate-footer .auto-title {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -0.84px;
  margin: 0 0 12px;
}
@media (max-width: 767.98px) {
  .spz-14007 .auto-footer .automate-footer .auto-title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.64px;
  }
}
.spz-14007 .auto-footer .automate-footer .auto-sub-title {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  max-width: 624px;
  margin: 0 0 20px;
}
@media (max-width: 767.98px) {
  .spz-14007 .auto-footer .automate-footer .auto-sub-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding: 0 8px;
  }
}
.spz-14007 .auto-footer .automate-footer .get-started-btn {
  height: 60px;
  padding: 10px 20px;
  border-radius: 12px;
  background: #0c131a;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  outline: transparent;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 154px;
  border: 2px solid #0c131a;
  cursor: pointer;
}
.spz-14007 .auto-footer .automate-footer .get-started-btn img {
  pointer-events: none;
}
.spz-14007 .auto-footer .automate-footer .get-started-btn:hover {
  color: #fff;
  background: #293642;
  border: 2px solid #293642;
}
.spz-14007 .auto-footer .automate-footer .get-started-btn:active {
  color: #fff;
  border: 2px solid var(--neutral-500, #697586);
  background: var(--neutral-700, #293642);
}
.spz-14007 .spz-faq-sec {
  background: #eef2f6;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-introText] {
  max-width: 768px;
  margin: auto;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-introText] .small-title {
  color: #0580e8;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 0 0 12px;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-introText] .large-title {
  color: #0c131a;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: -0.64px;
  margin: 0 0 20px;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-introText] .small-description {
  color: #485665;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-itemsContainer] {
  max-width: 768px;
  margin: auto;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-itemsContainer] [class$=MuiAccordion-root-CollectionAccordion-accordion] {
  border: 0;
  border-bottom: 1px solid #dde3eb;
  background-color: transparent;
  padding: 24px 0 32px;
  position: relative;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-itemsContainer] [class$=MuiAccordion-root-CollectionAccordion-accordion]::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/drata/14007/Icon-plus.svg) no-repeat;
  background-position: center;
  background-size: cover;
  top: 24px;
  right: 0;
  pointer-events: none;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-itemsContainer] [class$=MuiAccordion-root-CollectionAccordion-accordion].Mui-expanded::after {
  background: url(//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/drata/14007/Icon-minus.svg) no-repeat;
  background-position: center;
  background-size: cover;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-itemsContainer] [class$=MuiAccordion-root-CollectionAccordion-accordion]:last-child {
  border-bottom: 0;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-itemsContainer] [class$=MuiAccordion-root-CollectionAccordion-accordion] [class$=MuiAccordionSummary-root-CollectionAccordion-accordionSummary] {
  background-color: transparent;
  padding: 0 48px 0 0;
  min-height: auto;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-itemsContainer] [class$=MuiAccordion-root-CollectionAccordion-accordion] [class$=MuiAccordionSummary-root-CollectionAccordion-accordionSummary] .MuiAccordionSummary-content {
  margin: 0;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-itemsContainer] [class$=MuiAccordion-root-CollectionAccordion-accordion] [class$=MuiAccordionSummary-root-CollectionAccordion-accordionSummary] .MuiAccordionSummary-content [class$=CollectionAccordion-title] {
  color: #1d252e;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-itemsContainer] [class$=MuiAccordion-root-CollectionAccordion-accordion] .MuiCollapse-wrapper [class$=MuiAccordionDetails-root-CollectionAccordion-accordionDetails] {
  padding: 20px 0 0;
  border: 0;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-itemsContainer] [class$=MuiAccordion-root-CollectionAccordion-accordion] .MuiCollapse-wrapper [class$=MuiAccordionDetails-root-CollectionAccordion-accordionDetails] [class$=MuiTypography-root],
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-itemsContainer] [class$=MuiAccordion-root-CollectionAccordion-accordion] .MuiCollapse-wrapper [class$=MuiAccordionDetails-root-CollectionAccordion-accordionDetails] [class$=MuiTypography-root] * {
  color: #697586;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-itemsContainer] [class$=MuiAccordion-root-CollectionAccordion-accordion] .MuiCollapse-wrapper [class$=MuiAccordionDetails-root-CollectionAccordion-accordionDetails] [class$=MuiTypography-root] a {
  color: #0580e8;
}
.spz-14007 .spz-faq-sec [class$=CollectionAccordion-root] [class$=CollectionAccordion-itemsContainer] [class$=MuiAccordion-root-CollectionAccordion-accordion] .MuiAccordionSummary-expandIconWrapper {
  display: none;
}