@import "https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap";
.dis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.spz-25004 header div[class*=MuiToolbar-root-Header-contentContainer] {
  -ms-grid-rows: minmax(108px, 1fr);
  grid-template-rows: minmax(108px, 1fr);
}
body.spz-25004 header div[class*=MuiToolbar-root-Header-contentContainer] [class*=Media-root-Header-logo] {
  width: 157px;
  height: 28px;
}
body.spz-25004 main section[variant=defaultResponsive] {
  background-color: #eef2f6;
  margin-bottom: 28px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] {
  max-width: 1500px;
  gap: 40px;
}
@media (max-width: 1199.98px) {
  body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:first-child [class$=Block-root] {
  padding: 90px 0;
}
@media (max-width: 1199.98px) {
  body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:first-child [class$=Block-root] {
    padding-bottom: 0;
  }
}
@media (max-width: 1299px) {
  body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:first-child [class$=Block-root] [class*=Block-contentOuterWrapper] {
    padding-right: 0px;
  }
}
@media (max-width: 1299px) {
  body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child {
    margin-right: 88px;
  }
}
@media (max-width: 1199.98px) {
  body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child {
    margin-right: 0;
    margin-bottom: 64px;
  }
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] {
  padding: 0;
  max-width: 604px;
  margin: 0;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] {
  padding: 31px 38px 39px;
  -webkit-box-shadow: 0px 17.872px 23.83px -5.957px rgba(16, 24, 40, 0.08), 0px 5.957px 8.936px -2.979px rgba(16, 24, 40, 0.03);
          box-shadow: 0px 17.872px 23.83px -5.957px rgba(16, 24, 40, 0.08), 0px 5.957px 8.936px -2.979px rgba(16, 24, 40, 0.03);
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] > svg {
  display: none;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] .form-title {
  color: #eef2f6;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: -0.64px;
  margin-bottom: 30px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  background: transparent;
  padding: 0;
  gap: 12px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form .form-note {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 20px 0 18px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form .hs-error-msgs {
  width: 100%;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form .hs-error-msgs li label {
  color: #d6edff;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  margin-top: 4px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset {
  max-width: unset;
  width: calc(50% - 6px);
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field {
  position: relative;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .input {
  width: 100%;
  position: relative;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field input {
  width: 100% !important;
  height: 64px;
  background: #ffffff;
  border: 1px solid #dde3eb;
  border-radius: 8px;
  outline: none;
  padding: 14px 12px 0 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0c131a !important;
}
@media (min-width: 1199.98px) and (max-width: 1216.98px) {
  body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field input {
    padding-left: 12px;
  }
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field input:hover {
  border-color: #485665;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field select {
  width: 100% !important;
  height: 64px;
  background: #ffffff;
  border: 1px solid #dde3eb;
  border-radius: 8px;
  outline: none;
  padding: 14px 12px 0 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("//res.cloudinary.com/spiralyze/image/upload/v1694156756/drata/6012/foms_icon__close.svg") #fff no-repeat right 11px center !important;
}
@media (min-width: 1199.98px) and (max-width: 1216.98px) {
  body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field select {
    padding-left: 12px;
  }
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field select:hover {
  border-color: #485665;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field select:focus {
  background: url("//res.cloudinary.com/spiralyze/image/upload/v1694603081/drata/6012/select-focus.svg") #fff no-repeat right 11px center !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field select option {
  color: #0c131a !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field select.is-placeholder {
  color: transparent !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field select.is-placeholder:focus {
  color: #0c131a !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset.form-columns-2 {
  width: 100%;
  max-width: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 12px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset.form-columns-2 .field {
  width: calc(50% - 6px);
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form .hs-submit {
  width: 100%;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form .hs_error_rollup {
  width: 100%;
  text-align: center;
  display: none;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form .hs_error_rollup label.hs-main-font-element {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #f97f70;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset label {
  padding: 0;
  margin: 0;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field label.hs-label-spz {
  position: absolute;
  top: 20px;
  left: 12px;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #697586;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  max-width: calc(100% - 40px);
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1199.98px) and (max-width: 1216.98px) {
  body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field label.hs-label-spz {
    left: 12px;
  }
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:not([type=checkbox]):not([type=radio])::-webkit-input-placeholder {
  display: none;
  color: transparent;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:not([type=checkbox]):not([type=radio])::-moz-placeholder {
  display: none;
  color: transparent;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:not([type=checkbox]):not([type=radio]):-ms-input-placeholder {
  display: none;
  color: transparent;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:not([type=checkbox]):not([type=radio])::-ms-input-placeholder {
  display: none;
  color: transparent;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:not([type=checkbox]):not([type=radio])::placeholder {
  display: none;
  color: transparent;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:not(.is-placeholder):not(:-moz-placeholder-shown) {
  border-color: #dde3eb;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:not(.is-placeholder):not(:-ms-input-placeholder) {
  border-color: #dde3eb;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:not(.is-placeholder):not(:placeholder-shown) {
  border-color: #dde3eb;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:not(.is-placeholder):not(:-moz-placeholder-shown) ~ label {
  top: 9px;
  font-size: 12px;
  line-height: 18px;
  color: #697586;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:not(.is-placeholder):not(:-ms-input-placeholder) ~ label {
  top: 9px;
  font-size: 12px;
  line-height: 18px;
  color: #697586;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:not(.is-placeholder):not(:placeholder-shown) ~ label {
  top: 9px;
  font-size: 12px;
  line-height: 18px;
  color: #697586;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:not(.is-placeholder):not(:-moz-placeholder-shown) ~ label {
  top: 9px;
  font-size: 12px;
  line-height: 18px;
  color: #0580e8;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:not(.is-placeholder):not(:-ms-input-placeholder) ~ label {
  top: 9px;
  font-size: 12px;
  line-height: 18px;
  color: #0580e8;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:focus {
  border-color: #293642 !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input:focus ~ label {
  top: 9px;
  font-size: 12px;
  line-height: 18px;
  color: #0c131a !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input.invalid.error {
  border-color: #d53641 !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input.invalid.error:not(.is-placeholder):not(:-moz-placeholder-shown) ~ label {
  color: #d53641 !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input.invalid.error:not(.is-placeholder):not(:-ms-input-placeholder) ~ label {
  color: #d53641 !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input.invalid.error:not(.is-placeholder):not(:placeholder-shown) ~ label {
  color: #d53641 !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input.invalid.error:focus {
  border-color: #293642 !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field .hs-input.invalid.error + .hs-label-spz {
  color: #d53641 !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form fieldset .field select option[value=""] {
  display: none;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form .actions {
  position: relative;
  max-width: initial;
  width: 100%;
  height: 60px;
  margin: 2px auto 0;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form .actions [class*=MuiButton-root-Form-darkSubmitButton] {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  background: #0c131a;
  border: 1px solid #0c131a;
  border-radius: 12px;
  position: relative;
  -webkit-appearance: none;
  cursor: pointer;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form .actions [class*=MuiButton-root-Form-darkSubmitButton]:hover {
  background: #293642;
  border: 1px solid #293642;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form .actions [class*=MuiButton-root-Form-darkSubmitButton]:active {
  border: 2px solid #697586;
  background: #293642;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form .actions [class*=MuiButton-root-Form-darkSubmitButton] [class*=MuiButton-endIcon] {
  margin-right: -10px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] form .actions [class*=MuiButton-root-Form-darkSubmitButton] [class*=MuiButton-endIcon] > :nth-of-type(1) {
  font-size: 10px;
  margin-left: 20px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] fieldset.form-columns-0 {
  width: 100%;
  padding: 0;
  border: 0;
  margin-top: 32px;
  margin-left: 0;
}
@media (max-width: 767.98px) {
  body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] fieldset.form-columns-0 {
    margin-top: 28px;
  }
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] fieldset.form-columns-0 .hs-richtext.hs-main-font-element {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 8px;
}
@media (max-width: 767.98px) {
  body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] fieldset.form-columns-0 .hs-richtext.hs-main-font-element {
    margin-top: -4px;
    margin-bottom: 18px;
  }
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] .hs-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 56px white inset !important;
  -webkit-text-fill-color: #0c131a !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] .hs-input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 56px white inset !important;
  -webkit-text-fill-color: #0c131a !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] .hs-input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 56px white inset !important;
  -webkit-text-fill-color: #0c131a !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] .hs-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 56px white inset !important;
  -webkit-text-fill-color: #0c131a !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] .hs-form .submitted-message {
  background: no-repeat;
  border: none;
  padding: 0;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=MuiGrid-root-Section-gridItem]:last-child > [class*=Form-root] [class*=Form-formOuterContainer] .hs-form .submitted-message p {
  margin-bottom: 0;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #fff;
  line-height: 36px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content {
  max-width: 636px;
}
@media (min-width: 1199.98px) {
  body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content {
    margin-right: 14px;
    margin-left: 24px;
  }
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .hc-title {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: -1.08px;
  color: #000000;
  margin: 0 0 22px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .hc-title span {
  color: #0580e8;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .hc-tag {
  margin: 0 0 24.5px;
  display: none !important;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .hc-tag span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--Neutrals-900, #0c131a);
  padding: 0 16.16px;
  position: relative;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .hc-tag span::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 1px;
  height: 20px;
  background: #dde3eb;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .hc-tag span:first-child {
  padding-left: 0;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .hc-tag span:last-child {
  padding-right: 0;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .hc-tag span:last-child::after {
  display: none;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .g2-img {
  margin-right: 12px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .star-rating {
  margin-bottom: 25px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .star-rating .sr-img {
  width: 116px;
  height: 20px;
}
@media (max-width: 767.98px) {
  body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .star-rating .sr-img {
    width: 116px;
  }
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .hc-sub-title {
  color: #0c131a;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .sr-number {
  margin-left: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .sr-number strong {
  font-weight: 600;
  color: #000000;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .list-grp-wrapper .list-group {
  list-style: none;
  padding-left: 32px;
  max-width: 520px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .list-grp-wrapper .list-group .list-item {
  position: relative;
  margin-bottom: 20px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .list-grp-wrapper .list-group .list-item::before {
  content: "";
  position: absolute;
  top: 1.5px;
  left: -32px;
  height: 20px;
  width: 20px;
  background: url("//res.cloudinary.com/spiralyze/image/upload/v1694156756/drata/6012/check-square--check-form-validation-checkmark-success-add-addition-box-square-tick.svg") no-repeat;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .list-grp-wrapper .list-group .list-item .ls-title {
  color: var(--neutral-900, #0c131a);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
}
body.spz-25004 main section[variant=defaultResponsive] [class$=Section-gridContainer] [class*=Block-contentOuterWrapper] .hero-content .list-grp-wrapper .list-group .list-item .ls-desc {
  color: var(--Neutrals-600, #485665);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  display: inline;
  letter-spacing: 0;
}

body.spz-25004 #__next > header nav[class*=Header-headerMenuNav],
body.spz-25004 #__next > header ul[class*=Header-headerMenuCtas],
body.spz-25004 #__next > div.MuiBox-root[data-testid=HeroSubpage] {
  display: none !important;
}
body.spz-25004 .hero-section form fieldset:has(.hs-form-field[style="display: none;"]) {
  display: none;
}
body.spz-25004 .hs-form-field[style="display: block;"] {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
body.spz-25004 .field-hidden {
  display: none !important;
}

.hero-section form fieldset:has(.hs-form-field[style="display: none;"]) {
  display: none;
}

.field-hidden {
  display: none !important;
}

.hero-section form fieldset .field select {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  padding-right: 30px !important;
}