body {
  #wrapper {
    position: sticky;
    top: -46px;
    z-index: 9999;

    .header.has-promo-banner {
      &.homepage {
        background-color: #081a59;
        position: relative;
        top: 0;

        .header__container-inner {
          .header__top.has-promo-banner {
            padding: 24px 0px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            .header__logo-image {
              img {
                width: 156px;
              }
            }

            .header__nav {
              #menu-main-menu-v3 {
                li {
                  margin-left: 12px;
                  a {
                    line-height: 24px;
                  }
                }
              }
            }

            .header__get-started {
              @media (max-width: 767.98px) {
                display: none;
              }
              &.mobile {
                display: flex;

                @media (min-width: 767.98px) {
                  display: none !important;
                }
              }

              display: flex;
              align-items: center;
              border-radius: 24px;
              border: 1px solid rgba(156, 157, 159, 0.6);

              .spz-3001-email {
                input {
                  border-radius: var(--radius-xl, 24px);
                  border: 0;
                  background: rgba(204, 204, 205, 0.4);
                  height: 40px;
                  width: 279px;
                  padding: 8px 130px 8px 16px;
                  margin-right: -122px;
                  outline: transparent;
                  color: #fff;
                  caret-color: #ff8200;

                  &::-webkit-input-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                  }
                  &:-moz-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                    opacity: 1;
                  }
                  &::-moz-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                    opacity: 1;
                  }
                  &:-ms-input-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                  }
                  &::-ms-input-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                  }

                  &::placeholder {
                    color: rgba(255, 255, 255, 0.8);
                  }
                }
              }

              .header__get-started-button.btn {
                height: 40px;
                font-weight: 600;
                padding: 8px 16px;
                letter-spacing: 0;
                line-height: 24px;
                width: 122px;
                white-space: nowrap;
                &:hover {
                  border: 1px solid #081a59;
                }
              }

              &.i-hover {
                border: 1px solid #fff;
              }

              &.i-focused {
                border: 1px solid #fff;
              }
            }
          }
        }
      }
    }
  }

  .v3__container {
    #components__content {
      //   display: flex;
      //   flex-direction: column;
      .v3-hero-carousel.has-promo-banner,
      .v3-resources,
      .v3-two-column-image.no_bottom_padding,
      .v3-solution-plays,
      .v3-stacked-tabs {
        display: none !important;
      }

      .spz-hero-section {
        background: #081a59
          url(//res.cloudinary.com/spiralyze/image/upload/v1701451953/netskope/3001/hero_background_all_devices.webp)
          no-repeat;
        background-position: center;
        background-size: cover;

        .hero-section-wrapper {
          padding-top: 56px;
          padding-bottom: 64px;
          .hero-section-title {
            h2 {
              color: #fff;
              text-align: center;
              font-size: 56px;
              font-style: normal;
              font-weight: 400;
              line-height: 56px;
              text-align: center;
              position: relative;

              span {
                font-family: Lora;
              }

              &::after {
                content: url(https://res.cloudinary.com/spiralyze/image/upload/v1704197362/netskope/3001/min_plus_1.svg);
                position: absolute;
                width: 20px;
                height: 20px;
                left: 0;
              }

              &::before {
                content: url(https://res.cloudinary.com/spiralyze/image/upload/v1704197362/netskope/3001/min_plus_1.svg);
                position: absolute;
                width: 20px;
                height: 20px;
                right: 0;
              }
            }

            p {
              color: rgba(255, 255, 255, 0.8);
              text-align: center;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
            }

          }

          .hero-section-cards {
            margin: 48px 0;
            .checkboxes {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .check-box .custom-check {
                display: flex;
                padding: 24px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 212px;
                height: 156px;
                border-radius: 16px;
                background: url(https://res.cloudinary.com/spiralyze/image/upload/v1701452367/netskope/3001/hero_card_background_light.webp)
                  no-repeat;
                background-position: center;
                background-size: cover;
                position: relative;
                cursor: pointer;
                transition: all 0.15s ease-in-out;

                margin: 0;
                img {
                  width: 56px;
                  height: 56px;
                  margin-bottom: 12px;
                }

                p {
                  color: #081a59;
                  text-align: center;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 20px;
                  margin: 0;
                }

                &:hover {
                  background: url(https://res.cloudinary.com/spiralyze/image/upload/v1701452367/netskope/3001/hero_card_background_dark.webp)
                    no-repeat;
                  background-position: center;
                  background-size: cover;
                  border: 1.5px solid #95fa97;

                  .checkmark {
                    content: url(https://res.cloudinary.com/spiralyze/image/upload/v1704197698/netskope/3001/checkbox_base_4.svg);
                  }

                  p {
                    color: #ffffff;
                    margin: 0;
                  }
                }

                .spz-input {
                  display: none;
                }

                .checkmark {
                  position: absolute;
                  content: url(https://res.cloudinary.com/spiralyze/image/upload/v1704197700/netskope/3001/checkbox_base_5.svg);
                  width: 20px;
                  height: 20px;
                  top: 12px;
                  left: 12px;
                }

                &.checked {
                  background: url(https://res.cloudinary.com/spiralyze/image/upload/v1701452367/netskope/3001/hero_card_background_dark.webp)
                    no-repeat;
                  background-position: center;
                  background-size: cover;
                  border: 1.5px solid #95fa97;
                  .checkmark {
                    content: url(https://res.cloudinary.com/spiralyze/image/upload/v1704197701/netskope/3001/checkbox_base_6.svg);
                  }

                  p {
                    color: #ffffff;
                  }
                }
              }
            }
          }

          .hero-section-CTA {
            display: flex;
            justify-content: center;
            align-items: center;

            .v3 {
              .get-started-cta {
                border-radius: 200px;
                // background: var(--Buttons-isMain_Default, #ff8200);
                padding: 10px 26px;
                // color:  #081a59;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
              }

              .learn-more-cta {
                border-radius: 200px;
                border: 1px solid #ff8200;
                background: transparent;
                color: #ff8200;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                padding: 11px 28px;

                &:hover {
                  border: 1px solid #081a59;
                  background: #fff;
                  color: #081a59;
                }
              }
            }
          }

          .hero-section-review {
            display: flex;
            align-items: center;
            justify-content: center;

            .section-review {
              display: flex;
              align-items: center;

              &:first-child {
                margin-right: 24px;
              }

              .Gartner {
                margin-right: 12px;
              }

              span {
                color: #fff;
                font-family: HelveticaNeueCyr;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
              }
            }
          }
        }
      }

      .spz-banner-section {
        background: #081a59
          url(https://res.cloudinary.com/spiralyze/image/upload/v1701691734/netskope/3001/hero_image_desktop_1.webp)
          no-repeat;
        background-position: top left;
        background-size: cover;

        .banner-section {
          min-height: 508px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 64px;

          h6 {
            margin-top: auto;
            margin-bottom: 40px;
            color: #fff;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
          }
        }
      }
      
      .v3.v3-promo.homepage {
        margin-top: 0;

        .v3-promo__container {
          > img.v3-promo__image {
            display: none !important;
          }

          .v3-promo__boxes {
            margin: 0;
            width: 100%;
          }
        }
      }

      .netskope-component--video {
        .w-chrome .w-ui-container div.w-css-reset {
          background: #081a59;
        }
        .w-chrome .w-ui-container img.w-css-reset {
          display: none !important;
        }
        .wistia_embed.background_video:after {
          background: #081a59
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701452152/netskope/3001/video_wrapper_desktop.webp)
            no-repeat;
          background-size: cover;
          background-position: center;
          max-width: 1440px;
          margin: auto;
          right: 0;
        }
      }

      .v3-reports {
        .container {
          .plus-title {
            display: none !important;
          }

          > .row .col-lg-6 {
            flex: 0 0 100%;
            max-width: 100%;

            .v3-reports__top {
              border: 0;
            }
          }
        }
      }
    }
  }
}
