body {
  #wrapper {
    position: sticky;
    top: -46px;
    z-index: 9999;

    .header.has-promo-banner {
      &.homepage {
        background-color: #081a59;
        position: relative;
        top: 0;

        .header__container-inner {
          max-width: 1296px;
          .header__top.has-promo-banner {
            padding: 20px 0px 22px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            .header__logo {
              padding-top: 3px;
              .header__logo-image {
                img {
                  width: 156px;
                }
              }
            }

            .header__nav {
              #menu-main-menu-v3 {
                li {
                  margin-left: 16px;

                  &:first-child {
                    margin: 0;
                  }
                  a {
                    line-height: 24px;
                  }
                }
              }
            }

            .header__top-menu {
              margin-top: 3px;
              .header__top-menu-link--search {
                width: 40px;
                height: 40px;
              }

              .header__top-menu-link--search-button img {
                width: 24px;
                height: 24px;
                margin-top: 8px;
              }

              .header__top-menu-link--support {
                padding: 0 0 0 15px;
                a {
                  line-height: 24px;
                }
              }

              .header__top-menu-link-language {
                padding: 8px 15px 8px 7px;
              }
            }

            .header__get-started {
              @media (max-width: 767.98px) {
                display: none;
              }
              &.mobile {
                display: flex;

                @media (min-width: 767.98px) {
                  display: none !important;
                }
              }

              display: flex;
              align-items: center;
              border-radius: 24px;
              border: 1px solid rgba(156, 157, 159, 0.6);
              margin-left: 15px;

              .spz-3001-email {
                input {
                  border-radius: var(--radius-xl, 24px);
                  border: 0;
                  background: rgba(204, 204, 205, 0.4);
                  height: 40px;
                  width: 279px;
                  padding: 8px 130px 8px 16px;
                  margin-right: -119px;
                  outline: transparent;
                  color: #fff;
                  caret-color: #ff8200;

                  &::-webkit-input-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                  }
                  &:-moz-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                    opacity: 1;
                  }
                  &::-moz-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                    opacity: 1;
                  }
                  &:-ms-input-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                  }
                  &::-ms-input-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                  }

                  &::placeholder {
                    color: rgba(255, 255, 255, 0.8);
                  }
                }
              }

              .header__get-started-button.btn {
                height: 40px;
                font-weight: 600;
                padding: 8px 14px;
                letter-spacing: 0;
                line-height: 24px;
                width: 119px;
                white-space: nowrap;
                &:hover {
                  border: 1px solid #081a59;
                }
              }

              &.i-hover {
                border: 1px solid #fff;
              }

              &.i-focused {
                border: 1px solid #fff;
              }
            }
          }
        }
      }
    }
  }

  .v3__container {
    #components__content {
      //   display: flex;
      //   flex-direction: column;
      .v3-hero-carousel.has-promo-banner,
      .v3-resources,
      .v3-two-column-image.no_bottom_padding,
      .v3-solution-plays,
      .v3-stacked-tabs {
        display: none !important;
      }

      .spz-hero-section {
        background: #081a59
          url(//res.cloudinary.com/spiralyze/image/upload/v1701451953/netskope/3001/hero_background_all_devices.webp)
          no-repeat;
        background-position: center;
        background-size: cover;

        .hero-section-wrapper {
          padding-top: 56px;
          padding-bottom: 64px;
          .hero-section-title {
            h2 {
              color: #fff;
              text-align: center;
              font-size: 56px;
              font-style: normal;
              font-weight: 400;
              line-height: 56px;
              text-align: center;
              position: relative;
              margin-bottom: 19px;

              span {
                font-family: Lora;
              }

              &::after {
                content: url(https://res.cloudinary.com/spiralyze/image/upload/v1704197362/netskope/3001/min_plus_1.svg);
                position: absolute;
                width: 20px;
                height: 20px;
                left: 0;
                bottom: 18px;
              }

              &::before {
                content: url(https://res.cloudinary.com/spiralyze/image/upload/v1704197362/netskope/3001/min_plus_1.svg);
                position: absolute;
                width: 20px;
                height: 20px;
                right: 0;
                right: 4px;
                bottom: 18px;
              }
            }

            p {
              color: rgba(255, 255, 255, 0.8);
              text-align: center;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
            }
          }

          .hero-section-cards {
            margin: 48px 32px;
            .checkboxes {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .check-box .custom-check {
                display: flex;
                padding: 24px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 212px;
                height: 156px;
                border-radius: 16px;
                background: url(https://res.cloudinary.com/spiralyze/image/upload/v1701452367/netskope/3001/hero_card_background_light.webp)
                  no-repeat;
                background-position: center;
                background-size: cover;
                position: relative;
                cursor: pointer;
                transition: all 0.15s ease-in-out;

                margin: 0;
                img {
                  width: 56px;
                  height: 56px;
                  margin-bottom: 12px;
                }

                p {
                  color: #081a59;
                  text-align: center;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 20px;
                  margin: 0;
                }

                &:hover {
                  background: url(https://res.cloudinary.com/spiralyze/image/upload/v1701452367/netskope/3001/hero_card_background_dark.webp)
                    no-repeat;
                  background-position: center;
                  background-size: cover;
                  border: 1.5px solid #95fa97;

                  .checkmark {
                    content: url(https://res.cloudinary.com/spiralyze/image/upload/v1704197698/netskope/3001/checkbox_base_4.svg);
                  }

                  p {
                    color: #ffffff;
                    margin: 0;
                  }
                }

                .spz-input {
                  display: none;
                }

                .checkmark {
                  position: absolute;
                  content: url(https://res.cloudinary.com/spiralyze/image/upload/v1704197700/netskope/3001/checkbox_base_5.svg);
                  width: 16px;
                  height: 16px;
                  top: 12px;
                  left: 12px;
                }

                &.checked {
                  background: url(https://res.cloudinary.com/spiralyze/image/upload/v1701452367/netskope/3001/hero_card_background_dark.webp)
                    no-repeat;
                  background-position: center;
                  background-size: cover;
                  border: 1.5px solid #95fa97;
                  .checkmark {
                    content: url(https://res.cloudinary.com/spiralyze/image/upload/v1704197701/netskope/3001/checkbox_base_6.svg);
                  }

                  p {
                    color: #ffffff;
                  }
                }
              }
            }
          }

          .hero-section-CTA {
            display: flex;
            justify-content: center;
            align-items: center;

            .v3 {
              .get-started-cta {
                border-radius: 200px;
                // background: var(--Buttons-isMain_Default, #ff8200);
                padding: 10px 26px;
                // color:  #081a59;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                width: 141px;
                margin: 1px 8px;
              }

              .learn-more-cta {
                border-radius: 200px;
                border: 1px solid #ff8200;
                background: transparent;
                color: #ff8200;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                padding: 11px 28px;
                width: 142px;
                margin: 1px 8px;

                &:hover {
                  border: 1px solid #081a59;
                  background: #fff;
                  color: #081a59;
                }
              }
            }
          }

          .hero-section-review {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 31px;

            .section-review {
              display: flex;
              align-items: center;

              &:first-child {
                margin-right: 24px;
              }

              .Gartner {
                margin-right: 12px;
              }

              picture {
                margin-right: 6px;
              }

              span {
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
              }
            }
          }
        }
      }

      .spz-banner-section {
        background: #081a59
          url(https://res.cloudinary.com/spiralyze/image/upload/v1701691734/netskope/3001/hero_image_desktop_1.webp)
          no-repeat;
        background-position: top left;
        background-size: cover;

        @media (max-width: 767.98px) {
          background: #081a59
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701691733/netskope/3001/hero_image_mobile_1.webp)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        @media (max-width: 1023.98px) {
          background: #081a59
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701691734/netskope/3001/hero_image_tablet_1.webp)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        @media (min-width: 1900px) {
          background: #081a59
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701691784/netskope/3001/hero_image_1921.webp)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        @media (min-width: 3000px) {
          background: #081a59
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701691785/netskope/3001/hero_image_4k_1.webp)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        .banner-section {
          min-height: 508px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 64px;

          h6 {
            margin-top: auto;
            margin-bottom: 40px;
            color: #fff;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
          }
        }
      }

      .v3.v3-promo.homepage {
        margin-top: 0;
        padding: 96px 0 64px;
        background: #081a59
          url(https://res.cloudinary.com/spiralyze/image/upload/v1704368588/netskope/3001/report_background_desktop_1.svg)
          no-repeat;
        background-position: top left;
        background-size: cover;

        @media (max-width: 1023.98px) {
          background: #081a59
            url(https://res.cloudinary.com/spiralyze/image/upload/v1704368588/netskope/3001/report_background_tablet_1.svg)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        @media (min-width: 1900px) {
          background: #081a59
            url(https://res.cloudinary.com/spiralyze/image/upload/v1704370332/netskope/3001/report_background_1921.svg)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        @media (min-width: 3000px) {
          background: #081a59
            url(https://res.cloudinary.com/spiralyze/image/upload/v1704370348/netskope/3001/report_background_4k_1.svg)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        .v3-two-column-image.orange_line_off {
          padding-bottom: 88px;
          background-color: transparent;
          .row.align-items-center.text-on-right {
            flex-direction: row;
            align-items: flex-start !important;

            .col-lg-6:first-child {
              @media (min-width: 1023.98px) {
                max-width: 540px;
                .v3-two-column-image__content {
                  padding: 0 32px 0 81px;
                }
              }

              .v3-two-column-image__content {
                position: relative;

                > .plus-orange {
                  position: absolute;
                  top: -27px;
                  margin-left: -2.5rem;

                  img {
                    width: 16px;
                    height: 16px;
                  }
                }

                > h2 {
                  font-size: 40px;
                  color: #fff;

                  font-style: normal;
                  font-weight: 400;
                  line-height: 48px;
                  letter-spacing: 0;
                  padding-bottom: 23px;
                }

                > div {
                  p {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;

                    strong {
                      color: #fff;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: 24px;

                      sup {
                        font-weight: 400;
                        font-size: 10px;
                      }
                    }
                  }
                }

                .v3-two-column-image-content__ctas {
                  margin-top: 30px;

                  a.ga__cta.btn {
                    height: 48px;
                    letter-spacing: 0;
                    padding: 13px 26.5px;
                  }
                }
              }
            }

            .v3-two-column-image__image-container {
              .v3-two-column-image__image {
                margin: 0 auto 0 25px;
                max-width: 544px;

                img {
                  width: 100%;
                  border-radius: 32px;
                }
              }
            }
          }
        }

        .v3-promo__container {
          max-width: 1060px;
          > img.v3-promo__image {
            display: none !important;
          }

          .v3-promo__boxes.v3-promo__boxes-wrapper {
            margin: 0;
            width: 100%;

            .slick-slide {
              width: 100%;
              max-width: 327.2px;
              margin-right: 24px;
              .v3-promo__box {
                width: 100%;
                min-height: 228px !important;
                max-height: 260px !important;

                .v3-promo__box-inner {
                  background: url(https://res.cloudinary.com/spiralyze/image/upload/v1701452394/netskope/3001/reports_card_background_light.webp) !important;
                  background-size: cover !important;
                  background-repeat: no-repeat !important;
                  background-position: right bottom !important;
                  border-radius: 16px;
                  padding: 24px;
                  height: 100%;

                  .plus-orange {
                    .plus-orange__icon {
                      top: 29px;
                      right: 24px;
                    }
                  }

                  .v3-promo__box-number {
                    color: #7e8bba;
                    font-family: Lora;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    margin: 0;
                  }

                  .v3-promo__box-title {
                    height: auto !important;
                    min-height: auto !important;
                    margin: 32px 0;

                    h6 {
                      color: #081a59;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: 24px;
                      margin-bottom: 12px;
                    }

                    p {
                      color: #081a59;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 24px;
                      margin: 0;
                    }
                  }

                  .v3-promo__box-link {
                    .v3-promo__box-link-link {
                      margin-left: 8px;
                    }
                  }
                }
              }
            }
          }

          > div:not(.v3-promo_arrows) {
            position: relative;
          }

          .v3-promo_arrows {
            position: static;

            .v3-promo__slider-arrow {
              position: absolute;
              top: calc(50% - 32px);

              img {
                width: 40px;
                height: 40px;
              }

              &.slick-prev {
                left: -71px;
              }

              &.slick-next {
                right: -103px;
              }
            }
          }
        }
      }

      .v3-reports.light.control {
        padding-top: 96px;
        background: #d9f3f9
          url(https://res.cloudinary.com/spiralyze/image/upload/v1701452110/netskope/3001/products_background_desktop.svg)
          no-repeat;
        background-position: top left;
        background-size: cover;

        @media (max-width: 1023.98px) {
          background: #d9f3f9
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701452110/netskope/3001/products_background_tablet.svg)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        @media (min-width: 1900px) {
          background: #d9f3f9
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701690113/netskope/3001/products_background_1920.svg)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        @media (min-width: 3000px) {
          background: #d9f3f9
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701690070/netskope/3001/products_background_4k.svg)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }
        .container {
          .v3-reports__top.v3-reports__top--no-border {
            margin: 0;
            text-align: center;

            .v3-reports__title {
              margin-bottom: 48px;
              h2 {
                font-size: 48px;
                line-height: 48px;
                letter-spacing: 0;
              }
            }
          }

          .v3-reports__reports {
            justify-content: center;

            .v3-reports__reports-report {
              padding: 24px;
              background: #081a59
                url(https://res.cloudinary.com/spiralyze/image/upload/v1701452461/netskope/3001/features_cards_background_dark.webp)
                no-repeat;
              background-position: center;
              background-size: cover;
              display: flex;
              flex-direction: column;
              position: relative;
              max-width: 326.5px;
              margin-bottom: 24px;
              margin-right: 24px;
              border-radius: 16px;

              &:nth-child(3),
              &:nth-child(6) {
                margin-right: 0;
              }

              &::before {
                content: url(https://res.cloudinary.com/spiralyze/image/upload/v1704197773/netskope/3001/min_plus_3.svg);
                position: absolute;
                top: 24px;
                right: 24px;
                width: 20px;
                height: 20px;
              }

              .v3-reports__reports-report-icon {
                border-radius: 100px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                background: #081a59;
                width: 80px;
                height: 80px;
                padding: 12px;
                margin-bottom: 32px;

                img {
                  width: 56px;
                  height: 56px;
                }
              }

              .v3-reports__reports-report-title {
                color: #fff;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 12px;
              }

              .v3-reports__reports-report-text {
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 32px;
              }

              .v3-reports__reports-report-cta {
                margin-top: auto;

                .ga__cta.v3-reports__reports-report-cta-link {
                  color: #fff;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                  margin-left: 12px;
                }

                .ga__cta {
                  img {
                    width: 32px;
                    height: 32px;
                  }
                }
              }
            }
          }

          .v3-reports__cta {
            margin: 0;
            text-align: center;
          }
        }
      }

      .spz-case-studies {
        background: #081a59
          url(https://res.cloudinary.com/spiralyze/image/upload/v1701452110/netskope/3001/case_studies_background_desktop.svg)
          no-repeat;
        background-position: top left;
        background-size: cover;

        @media (max-width: 1023.98px) {
          background: #081a59
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701452110/netskope/3001/case_studies_background_tablet.svg)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        @media (min-width: 1900px) {
          background: #081a59
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701690111/netskope/3001/case_studies_background_1920.svg)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        @media (min-width: 3000px) {
          background: #081a59
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701690064/netskope/3001/case_studies_background_4k.svg)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        .case-studies-wrapper {
          padding: 80px 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);

          .case-studies-title {
            text-align: center;

            h2 {
              color: #fff;
              text-align: center;
              font-size: 48px;
              font-style: normal;
              font-weight: 400;
              line-height: 48px;
              margin-bottom: 24px;
            }

            p {
              color: rgba(255, 255, 255, 0.8);
              text-align: center;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
            }
          }

          .case-studies-slider {
            .slider-thumb {
              .slick-track {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .slick-slide {
                  padding: 24px 0px;
                  width: 216px;
                  margin-right: 34px;

                  &:last-child {
                    margin-right: 0;
                    @media (min-width: 1023.98px) {
                      display: none;
                    }
                  }
                  .cs-card-title {
                    p {
                      color: rgba(255, 255, 255, 0.8);
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 20px;
                      cursor: pointer;
                    }
                  }

                  &.slick-current {
                    .cs-card-title {
                      p {
                        font-weight: 600;
                        color: #ffffff;
                      }
                    }
                  }
                }
              }
            }
            .slider-content {
              .slick-list {
                position: relative;

                &::before {
                  content: "";
                  position: absolute;
                  right: 0;
                  top: 0;
                  width: 212px;
                  height: 100%;
                  background: linear-gradient(
                    270deg,
                    #081a59 0%,
                    rgba(8, 26, 89, 0) 100%
                  );
                  z-index: 1;
                }

                &::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 212px;
                  height: 100%;
                  background: linear-gradient(
                    90deg,
                    #081a59 0%,
                    rgba(8, 26, 89, 0) 100%
                  );
                  z-index: 1;
                }

                .slick-slide {
                  background: #d9f3f9
                    url(https://res.cloudinary.com/spiralyze/image/upload/v1701452314/netskope/3001/background_testimonials_card.webp)
                    no-repeat;
                  background-position: bottom right;
                  background-size: cover;
                  border-radius: 32px;
                  max-width: 920px;
                  min-height: 464px;
                  padding: 48px 48px 40px;
                  margin-right: 24px;
                  margin-left: 24px;
                  display: flex;

                  > div {
                    min-height: 100%;
                  }
                  .cs-card {
                    display: flex !important;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;

                    .cs-content {
                      p {
                        color: #081a59;
                        font-family: Lora;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                      }

                      .tab-mob {
                        @media (min-width: 1023.98px) {
                          display: none;
                        }
                      }
                    }

                    .cs-reviewer {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;

                      .cs-anchor {
                        .v3-stacked-tabs__tab-cta {
                          display: flex;
                          align-items: center;
                          gap: 12px;

                          .v3-stacked-tabs__tab-cta-link {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            text-decoration: none;
                          }
                        }
                      }

                      .cs-name {
                        h6 {
                          color: #081a59;
                          font-size: 18px;
                          font-style: normal;
                          font-weight: 400;
                          line-height: 24px;
                          margin-bottom: 8px;
                        }

                        p {
                          color: #081a59;
                          margin: 0;
                          font-size: 16px;
                          font-style: normal;
                          font-weight: 400;
                          line-height: 24px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .netskope-component--video {
        min-height: 800px;
        .w-chrome .w-ui-container div.w-css-reset {
          background: #081a59;
        }
        .w-chrome .w-ui-container img.w-css-reset {
          display: none !important;
        }
        .wistia_embed.background_video:after {
          background: #081a59
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701452152/netskope/3001/video_wrapper_desktop.webp)
            no-repeat;
          background-size: cover;
          background-position: center;
          max-width: 1440px;
          margin: auto;
          right: 0;

          @media (max-width: 767.98px) {
            background: #081a59
              url(https://res.cloudinary.com/spiralyze/image/upload/v1701452151/netskope/3001/video_wrapper_mobile.webp)
              no-repeat;
            background-position: top left;
            background-size: cover;
          }

          @media (max-width: 1023.98px) {
            background: #081a59
              url(https://res.cloudinary.com/spiralyze/image/upload/v1701452151/netskope/3001/video_wrapper_tablet.webp)
              no-repeat;
            background-position: top left;
            background-size: cover;
          }
        }

        .netskope-component--video-content {
          padding-top: 368px;

          .wistia_click_to_play {
            > img {
              display: none;
            }

            &::after {
              content: "";
              width: 96px;
              height: 96px;
              background: url(https://res.cloudinary.com/spiralyze/image/upload/v1701452233/netskope/3001/play_desktop_tablet.svg)
                no-repeat;
              background-size: 94px 94px;
              background-position: center;
              position: relative;
              display: block;
              border: 2px solid transparent;
              border-radius: 200px;
            }

            &:hover {
              &::after {
                border: 2px solid #ff8200;
              }
            }
          }
        }
      }

      .v3-reports:not(.control) {
        background: #d9f3f9
          url(https://res.cloudinary.com/spiralyze/image/upload/v1701452264/netskope/3001/trusted_section_background_desktop.svg)
          no-repeat;
        background-position: top left;
        background-size: cover;

        @media (max-width: 1023.98px) {
          background: #d9f3f9
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701452264/netskope/3001/trusted_section_background_tablet.svg)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        @media (min-width: 1900px) {
          background: #d9f3f9
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701690112/netskope/3001/trusted_section_background_1920.svg)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        @media (min-width: 3000px) {
          background: #d9f3f9
            url(https://res.cloudinary.com/spiralyze/image/upload/v1701690068/netskope/3001/trusted_section_background_4k.svg)
            no-repeat;
          background-position: top left;
          background-size: cover;
        }

        .container {
          .plus-title {
            display: none !important;
          }

          > .row .col-lg-6 {
            flex: 0 0 100%;
            max-width: 100%;

            .v3-reports__top {
              border: 0;
              margin: 0;

              .plus-orange {
                display: none;
              }

              .v3-reports__title h2 {
                color: #081a59;
                text-align: center;
                font-family: Graphik;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px;
                margin-bottom: 24px;

                span {
                  font-family: Lora;
                }
              }

              .v3-reports__text {
                color: #081a59;
                text-align: center;
                font-family: Graphik;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                max-width: 882px;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }

          .v3-reports__reports {
            justify-content: center;
            align-items: center;
            max-width: 1060px;
            margin: auto;

            .v3-reports__reports-report {
              padding: 24px;
              background: #081a59
                url(https://res.cloudinary.com/spiralyze/image/upload/v1701452461/netskope/3001/features_cards_background_dark.webp)
                no-repeat;
              background-position: center;
              background-size: cover;
              display: flex;
              flex-direction: column;
              position: relative;
              margin: 0 24px 24px 0;
              max-width: 326px;
              height: auto !important;

              &:nth-child(2) {
                height: 270px !important;
              }

              &:last-child {
                margin-right: 0;
              }

              &::before {
                content: url(https://res.cloudinary.com/spiralyze/image/upload/v1704197773/netskope/3001/min_plus_3.svg);
                position: relative;
                width: 20px;
                height: 20px;
                margin: 6px 0;
                margin-left: auto;
              }

              &::after {
                content: "01";
                position: absolute;
                top: 24px;
                left: 24px;
                width: 20px;
                height: 20px;
                color: rgba(255, 255, 255, 0.8);
                font-family: Lora;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
              }

              &:nth-child(2) {
                &::after {
                  content: "02";
                }
              }
              &:nth-child(3) {
                &::after {
                  content: "03";
                }
              }

              .v3-reports__reports-report-title {
                color: #fff;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                height: auto !important;
                margin: 32px 0;
              }

              .v3-reports__reports-report-cta {
                margin-top: auto;

                .ga__cta.v3-reports__reports-report-cta-link {
                  color: #fff;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                }
              }
            }
          }

          .v3-reports__cta {
            margin: 0;
            text-align: center;
          }
        }
      }
    }
  }
}
