body.spz-2001[class] main::before {
  content: url("//res.cloudinary.com/spiralyze/image/upload/v1676917220/ABCFitnessSolutions/2001/assets/BG-1440.png");
  left: 0;
  position: absolute;
}
@media (min-width: 1199.98px) {
  body.spz-2001[class] main .section.section-relative:first-child .section-block .section-inner[class] {
    max-width: 1180px;
  }
}
body.spz-2001[class] main .section.section-relative:first-child .section-block .section-inner[class] .hidden-mobile {
  display: none !important;
}
body.spz-2001[class] main .section.section-relative:nth-child(2) {
  min-height: 1796px;
}
@media (min-width: 1199.98px) {
  body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] {
    max-width: 1180px;
  }
}
body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .widget[class] {
  display: none;
}
body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] {
  padding: 20px;
}
body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] {
  display: flex;
}
@media (max-width: 1199.98px) {
  body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] {
    flex-wrap: wrap;
  }
}
body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #37465a;
}
body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > h6 {
  font-weight: 800;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #37465a;
}
@media (max-width: 767.98px) {
  body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > h6 {
    font-size: 28px;
    line-height: 130%;
  }
}
body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul {
  list-style: none;
}
body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul li {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #37465a;
}
@media (max-width: 767.98px) {
  body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul li {
    font-size: 16px;
  }
}
body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul li span {
  font-weight: 700;
}
body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul li::before {
  content: url("//res.cloudinary.com/spiralyze/image/upload/v1676916035/ABCFitnessSolutions/2001/assets/check_icon.svg");
  left: 0;
  position: absolute;
}
body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-right-form picture img {
  width: 100%;
}
body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] > p {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #151515;
}
body.spz-2001[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] picture img {
  width: 100%;
}/*# sourceMappingURL=2001-Style.css.map */