body.spz-2001[class] {
  main {
    &::before {
      content: "";
      background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2001/assets/BG-1440.png");
      left: auto;
      right: 0;
      background-repeat: no-repeat;
      height: 1249px;
      width: 1249px;
      top: 0;
      background-size: 100%;
      z-index: 1;
      position: absolute;
      @media (min-width: 1919.98px) {
        background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2001/assets/BG-4K.png");
        right: 85px;
      }
      @media (max-width: 1199.98px) {
        background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2001/assets/Tablet-right.png");
        height: 487px;
        width: 440px;
      }
      @media (max-width: 767.98px) {
        background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2001/assets/Mobile-right.png");
        height: 400px;
        width: 310px;
      }
    }
    &::after {
      @media (max-width: 991.98px) {
        content: "";
        background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2001/assets/Tablet-left.png");
        width: 273px;
        height: 715px;
        right: auto;
        left: 0;
        background-repeat: no-repeat;
        top: 807px;
        background-size: 100%;
        z-index: 1;
        position: absolute;
      }
      @media (max-width: 767.98px) {
        background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2001/assets/Mobile-left.png");
        top: 820px;
        width: 310px;
        height: 850px;
        overflow: hidden;
      }
    }
    .section.section-relative:first-child {
      @media (max-width: 767.98px) {
        max-height: 88px;
      }
      .section-block {
        @media (max-width: 767.98px) {
          max-height: 88px;
        }
        .section-inner[class] {
          @media (min-width: 1199.98px) {
            max-width: 1180px;
          }
          @media (min-width: 767.98px) and (max-width: 991.98px) {
            max-width: 628px;
          }
          .hidden-mobile {
            display: none !important;
          }

          > .widget#element-552 {
            top: auto !important;
            bottom: 16px;
            left: 0 !important;
            @media (max-width: 1199.98px) {
              bottom: -10px;
              // left: -8px!important;
            }
            @media (max-width: 767.98px) {
              top: 30px !important;
              bottom: 0;
              left: 20px !important;
            }
            .contents {
              .url-link {
                width: auto;
                .image {
                  width: 137.5px;
                  height: 60px;
                }
                @media (max-width: 1199.98px) {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }

    .section.section-relative:nth-child(2) {
      min-height: 1722px;
      height: 1722px !important;
      @media (min-width: 1199.98px) {
        min-height: 950px;
        height: 950px !important;
      }
      @media (min-width: 991.98px) and (max-width: 1199.98px) {
        height: 1000px !important;
        min-height: 1000px;
      }
      @media (min-width: 767.98px) and (max-width: 991.98px) {
        height: 1660px !important;
        min-height: 1660px;
      }
      > .section-block[class] {
        background: transparent !important;
        .section-inner.section-fit.section-relative[class] {
          @media (min-width: 1199.98px) {
            max-width: 1180px;
          }
          @media (min-width: 767.98px) and (max-width: 991.98px) {
            max-width: 628px;
          }
          .widget[class] {
            display: none;
            &#element-641,
            &#element-612,
            &#element-555,
            &#element-556 {
              display: block;
            }
            &#element-556 {
              left: 0;
              max-width: 52.55%;
              width: 100%;
              @media (max-width: 991.98px) {
                max-width: 100%;
              }
              > .contents {
                display: none;
              }
            }

            &#element-641 {
              right: 0;
              left: auto;
              top: 34px;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
                0px 2px 30px rgba(0, 0, 0, 0.15);
              border-radius: 10px;

              @media (min-width: 991.98px) and (max-width: 1199.98px) {
                height: 790px;
              }
              @media (min-width: 767.98px) and (max-width: 991.98px) {
                right: 0;
                left: 0;
                top: 780px;
                margin: auto;
                width: 41.4375rem;
                height: 778px;
              }
              @media (max-width: 767.98px) {
                top: 890px;
                left: 6%;
                right: auto;
                height: 780px;
              }
            }
            &#element-555 {
              right: 12px;
              left: auto;
              top: 94px;
              @media (min-width: 767.98px) and (max-width: 991.98px) {
                right: 0;
                left: 0;
                top: 840px;
                margin: auto;
                width: 39rem;
              }
              @media (max-width: 767.98px) {
                top: 955px;
                left: 11%;
                right: auto;
              }
            }
            &#element-612 {
              right: 12px;
              left: auto;
              top: 54px;
              @media (min-width: 767.98px) and (max-width: 991.98px) {
                right: 0;
                left: 0;
                top: 811px;
                margin: auto;
              }
              @media (max-width: 767.98px) {
                top: 918px;
                left: 14%;
                right: auto;
              }
            }
          }

          .spz-hero-container[class] {
            .hero-top-content[class] {
              display: flex;
              @media (max-width: 1199.98px) {
                flex-wrap: wrap;
                justify-content: center;
              }

              .hero-left-summary {
                padding-top: 6px;
                @media (min-width: 767.98px) and (max-width: 991.98px) {
                  padding-top: 38px;
                }
                @media (max-width: 767.98px) {
                  padding: 0 20px;
                }
                > p {
                  font-family: aktiv-grotesk, aktiv-grotesk-1, aktiv-grotesk-2,
                    aktiv-grotesk-web, aktiv-grotesk-web-1, aktiv-grotesk-web-2;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 100%;
                  letter-spacing: 0.04em;
                  text-transform: uppercase;
                  color: #37465a;
                  margin-bottom: 18px;
                  position: relative;
                  z-index: 2;
                  @media (max-width: 767.98px) {
                    margin-bottom: 16px;
                  }
                  @media (min-width: 767.98px) and (max-width: 991.98px) {
                    margin-bottom: 20px;
                  }
                }

                > h6 {
                  font-family: aktiv-grotesk, aktiv-grotesk-1, aktiv-grotesk-2,
                    aktiv-grotesk-web, aktiv-grotesk-web-1, aktiv-grotesk-web-2;
                  font-weight: 800;
                  font-size: 48px;
                  line-height: 130%;
                  letter-spacing: -0.01em;
                  color: #37465a;
                  margin-bottom: 40px;
                  position: relative;
                  z-index: 2;
                  // @media (max-width: 1199.98px) {
                  //   margin-bottom: 42px;
                  // }
                  @media (max-width: 767.98px) {
                    font-size: 28px;
                    line-height: 130%;
                    margin-bottom: 20px;
                  }
                }

                > ul {
                  list-style: none;
                  padding-left: 32px;
                  padding-right: 2px;
                  li {
                    font-family: aktiv-grotesk, aktiv-grotesk-1, aktiv-grotesk-2,
                      aktiv-grotesk-web, aktiv-grotesk-web-1,
                      aktiv-grotesk-web-2;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 26px;
                    color: #37465a;
                    margin-bottom: 24px;
                    z-index: 2;
                    position: relative;

                    @media (max-width: 767.98px) {
                      font-size: 16px;
                      margin-bottom: 20px;
                    }
                    span {
                      font-family: aktiv-grotesk, aktiv-grotesk-1,
                        aktiv-grotesk-2, aktiv-grotesk-web, aktiv-grotesk-web-1,
                        aktiv-grotesk-web-2;
                      font-weight: 700;
                    }
                    &::before {
                      content: url("//res.cloudinary.com/spiralyze/image/upload/v1676916035/ABCFitnessSolutions/2001/assets/check_icon.svg");
                      left: -32px;
                      top: -2px;
                      position: absolute;
                      height: 22px;
                      width: 22px;
                    }
                  }
                }
              }
            }

            .hero-bottom-content[class] {
              margin-top: 36px;
              // @media (max-width: 1199.98px) {
              //   margin-top: 0px;
              // }
              @media (max-width: 767.98px) {
                padding: 0 20px 20px;
                margin-top: 28px;
              }
              > p {
                font-family: aktiv-grotesk, aktiv-grotesk-1, aktiv-grotesk-2,
                  aktiv-grotesk-web, aktiv-grotesk-web-1, aktiv-grotesk-web-2;
                font-weight: 600;
                font-size: 20px;
                line-height: 130%;
                // text-align: center;
                color: #151515;
                position: relative;
                z-index: 2;
                letter-spacing: -0.1px;
                @media (min-width: 767.98px) and (max-width: 991.98px) {
                  text-align: center;
                }
                @media (max-width: 767.98px) {
                  font-size: 18px;
                  text-align: center;
                  padding: 0 20px;
                }
              }
              .partner-img-container {
                position: relative;
                margin-top: 28px;
                &::after {
                  content: "";
                  background: linear-gradient(
                    90deg,
                    #ffffff 0%,
                    rgba(255, 255, 255, 0) 100%
                  );
                  position: absolute;
                  width: 40px;
                  height: 58px;
                  left: 0px;
                  top: 0px;
                }
                marquee {
                  img {
                    width: auto;
                    max-height: 58px;
                    padding-right: 70px;
                  }
                }

                &::before {
                  content: "";
                  position: absolute;
                  width: 40px;
                  height: 58px;
                  left: auto;
                  top: 0px;
                  right: 0;
                  z-index: 1;
                  background: linear-gradient(
                    90deg,
                    #ffffff 0%,
                    rgba(255, 255, 255, 0) 100%
                  );
                  transform: matrix(-1, 0, 0, 1, 0, 0);
                }
              }
            }
          }
        }
      }
    }
  }
}
