body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-6017 {
  text-align: center;
  background-color: #393a3b;
  max-width: 840px;
  scrollbar-width: thin;
  max-height: 90vh;
  overflow-y: auto;
  scrollbar-color: #939598 #393a3b;
  padding: 24px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
@media (max-width: 991px) {
  .modal-6017 {
    max-width: 634px;
  }
}
.modal-6017::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}
.modal-6017::-webkit-scrollbar-track {
  background: #393a3b;
  -webkit-box-shadow: inset 0 0 2px #393a3b;
}
.modal-6017::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #939598;
  -webkit-box-shadow: inset 0 0 2px #939598;
}
.modal-6017::-webkit-scrollbar-thumb:hover {
  background: #939598;
  -webkit-box-shadow: inset 0 0 2px #939598;
}
.modal-6017 .styles-module--title {
  position: relative;
  background: linear-gradient(to right, rgb(245, 253, 178), rgb(122, 141, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.modal-6017 .styles-module--title h1 {
  font-size: 32px;
  line-height: 120%;
  font-family: inherit;
}
.modal-6017 .styles-module--title .close-modal {
  position: absolute;
  right: 0;
  top: -6px;
}
@media (max-width: 599px) {
  .modal-6017 .styles-module--title .close-modal {
    right: -16px;
    top: -32px;
  }
}
.modal-6017 .styles-module--subtitle {
  font-family: inherit;
  font-size: 16px;
  line-height: 150%;
  color: #bcbec0;
}
.modal-6017 .hero-with-centered-text {
  padding-top: 2px;
}
.modal-6017 .styles-module--logoCardContainer {
  padding-bottom: 2px;
}

.tab-menu {
  margin-top: 34px;
}
.tab-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.tab-menu ul li {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  text-align: center;
  background: #282828;
}
.tab-menu ul li a {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: inherit;
  font-size: 16px;
  line-height: 140%;
  padding: 18px 26px;
  display: block;
  text-decoration: none;
  transition: 0.2s all;
  border-bottom: 0;
}
@media (max-width: 599px) {
  .tab-menu ul li a {
    padding: 21px 14px;
  }
}
.tab-menu ul li a:hover {
  background: #212121;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  box-shadow: inset 0px -2px 0px #405bff;
}
.tab-menu ul li a.active {
  background: #212121;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  box-shadow: inset 0px -2px 0px #405bff;
}

.tab-box {
  display: none;
}

.tab-teaser {
  max-width: 792px;
  width: 100%;
  margin: 0 auto;
  font-family: inherit;
}

.tab-main-box .styles-module--card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px -10px;
}
.tab-main-box .styles-module--card a {
  background: #282828;
  width: 142px;
  height: 146px;
  margin: 10px;
}
.tab-main-box .styles-module--card a .gatsby-image {
  padding: 1.5rem 1.5rem 0;
}
.tab-main-box .styles-module--card a .gatsby-image img {
  width: 56px;
  height: auto;
}
.tab-main-box .styles-module--card a p {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.tab-main-box .styles-module--card a:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.7);
}