.see-more.hide {
  display: none;
}

body.spz-2044 .product-list-area.fixed-nav-product {
  margin-top: 33px !important;
}

.spz-2044.mac .products-wrapper[class] .products-boxes[class] {
  perspective: 500000;
  -webkit-perspective: 500000;
}

.spz-2044 footer,
.spz-2044 .product-list-area.content-section {
  margin: 0 !important;
}

.spz-2044 hos-navigation-bar,
.spz-2044 hos-navigation-bar .branding,
.spz-2044 hos-navigation-bar .branding .logo,
.spz-2044 hos-navigation-bar .branding .logo img {
  z-index: 99;
}

.spz-2044 .noproducts-inner,
.spz-2044 .products-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.spz-2044 .products-title h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 0;
  color: #000;
}

.spz-2044 .products-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (max-width: 599.98px) {
  .spz-2044 .products-boxes {
    justify-content: center;
  }
}
.spz-2044 #listingPage {
  width: 100%;
}

.spz-2044 .search-bar {
  left: 0 !important;
}

.spz-2044 #listingPage > * {
  width: 100%;
}

.spz-2044 #listingPage hos-google-places .search-bar .search-field {
  margin: 0 0 !important;
}

.spz-2044 .products-boxes .products-single-box {
  position: relative;
  margin: 0 10px;
  flex-wrap: wrap;
  width: 280px;
  border-radius: 12px;
  margin-bottom: 40px;
  z-index: 1;
}

.spz-2044 .products-boxes .products-single-box.popular::after {
  content: "MOST POPULAR";
  position: absolute;
  width: 142px;
  height: 32px;
  right: -7px;
  top: -10px;
  background: #b83436;
  border-radius: 8px 0px 0px 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spz-2044 .products-boxes .products-single-box.popular::before {
  content: url("https://res.cloudinary.com/spiralyze/image/upload/v1662469617/AWR/2027/arrow.svg");
  position: absolute;
  width: 7px;
  height: 15px;
  right: -7px;
  top: 21px;
}

.spz-2044 .products-boxes .products-single-box.best-product::after {
  content: "BEST Value";
  position: absolute;
  width: 142px;
  height: 32px;
  right: -7px;
  top: -10px;
  background: #b83436;
  border-radius: 8px 0px 0px 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spz-2044 .products-boxes .products-single-box.best-product::before {
  content: url("https://res.cloudinary.com/spiralyze/image/upload/v1662469617/AWR/2027/arrow.svg");
  position: absolute;
  width: 7px;
  height: 15px;
  right: -7px;
  top: 21px;
}

.spz-2044 .products-boxes.justify-content-center .products-single-box {
  margin: 0 10px;
}

.spz-2044 .products-boxes .products-single-box {
  display: flex;
}

.spz-2044 .products-boxes .products-single-box .product-image {
  height: 170px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.spz-2044 .products-boxes .products-single-box .product-icon {
  position: absolute;
  height: 90px;
  width: 90px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: auto;
  bottom: -40px;
  left: 32px;
  border-radius: 50px;
}

.spz-2044 .products-boxes .products-single-box .product-text {
  padding: 0;
  background: #fff;
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.spz-2044 .products-boxes .products-single-box .product-text .product-title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.spz-2044 .products-boxes .products-single-box .product-text .product-title > h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  cursor: pointer;
  padding: 30px 20px 20px;
  margin: 0;
  min-height: 122px;
}

.spz-2044 .products-boxes .products-single-box .product-text .product-cart-info {
  padding: 25px 20px 24px;
  position: relative;
  cursor: default;
}

@media (max-width: 767.98px) {
  .spz-2044 .products-boxes .products-single-box .product-text .product-cart-info {
    padding: 21px 20px 24px;
  }
}
@media (min-width: 767.98px) and (max-width: 991px) {
  .spz-2044 .products-boxes .products-single-box .product-text .product-cart-info {
    padding: 22px 20px 24px;
  }
}
.spz-2044 .products-boxes .products-single-box .product-text .product-cart-info .prod-info {
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: 20px;
}

@media (min-width: 767.98px) and (max-width: 991px) {
  .spz-2044 .products-boxes .products-single-box .product-text .product-cart-info .prod-info {
    top: -29px;
  }
}
.spz-2044 .products-boxes .products-single-box .product-text .product-cart-info .prod-info .info-blue {
  display: block;
}

.spz-2044 .products-boxes .products-single-box .product-text .product-cart-info .prod-info .info-hover {
  display: none;
}

.spz-2044 .products-boxes .products-single-box .product-text .product-cart-info .prod-info:hover .info-blue {
  display: none;
}

.spz-2044 .products-boxes .products-single-box .product-text .product-cart-info .prod-info:hover .info-hover {
  display: block;
}

.spz-2044 .products-boxes .products-single-box .product-text .product-cart-info .prod-cross {
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: 20px;
}

@media (min-width: 767.98px) and (max-width: 991px) {
  .spz-2044 .products-boxes .products-single-box .product-text .product-cart-info .prod-cross {
    top: -29px;
  }
}
.spz-2044 .products-boxes .products-single-box .product-text > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
  margin-bottom: 12px;
}

.spz-2044 .products-boxes .products-single-box .product-text > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #ec7923;
  cursor: pointer;
}

.spz-2044 .products-boxes .products-single-box .product-text.prod-card,
.spz-2044 .products-boxes .products-single-box .product-text.prod-feature {
  display: flex;
  flex-direction: column;
  transition-duration: 1000ms;
  transition-property: transform, opacity;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}

.spz-2044 .products-boxes .products-single-box .product-text.prod-card {
  opacity: 1;
  transform: rotateY(0deg);
}

.spz-2044 .products-boxes .products-single-box .product-text.prod-feature {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: rotateY(180deg);
  pointer-events: none;
}

.spz-2044 .products-boxes .products-single-box .product-text.prod-feature .product-feature {
  background-color: #0d3d64;
  padding-right: 28px;
  padding-bottom: 20px;
  height: 292px;
  padding-top: 32px;
  border-radius: 12px 12px 0 0;
  cursor: default;
}

@media (max-width: 991px) {
  .spz-2044 .products-boxes .products-single-box .product-text.prod-feature .product-feature {
    height: calc(100% - 144px);
    padding-right: 25px;
    padding-top: 28px;
  }
}
.spz-2044 .products-boxes .products-single-box .product-text.prod-feature .product-feature .product-feature-list {
  height: 100%;
  overflow: auto;
  color: #fff;
  list-style: none;
  padding-left: 28px;
  padding-right: 4px;
  scrollbar-width: thin;
  scrollbar-color: #78c653 #757575;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

@media (max-width: 991px) {
  .spz-2044 .products-boxes .products-single-box .product-text.prod-feature .product-feature .product-feature-list {
    padding-left: 28px;
  }
}
.spz-2044 .products-boxes .products-single-box .product-text.prod-feature .product-feature .product-feature-list p {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.spz-2044 .products-boxes .products-single-box .product-text.prod-feature .product-feature .product-feature-list li {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.spz-2044 .products-boxes .products-single-box .product-text.prod-feature .product-feature .product-feature-list li::before {
  content: url("//res.cloudinary.com/spiralyze/image/upload/v1667969299/AWR/2025/src/check.svg");
  height: 20px;
  margin-right: 10px;
}

.spz-2044 .products-boxes .products-single-box .product-text.prod-feature .product-feature .product-feature-list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px;
}

.spz-2044 .products-boxes .products-single-box .product-text.prod-feature .product-feature .product-feature-list::-webkit-scrollbar-track {
  background: #757575;
  -webkit-box-shadow: inset 0 0 2px rgb(117, 117, 117);
}

.spz-2044 .products-boxes .products-single-box .product-text.prod-feature .product-feature .product-feature-list::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #78c653;
  -webkit-box-shadow: inset 0 0 2px rgb(120, 198, 93);
}

.spz-2044 .products-boxes .products-single-box .product-text.prod-feature .product-feature .product-feature-list::-webkit-scrollbar-thumb:hover {
  background: #78c653;
  -webkit-box-shadow: inset 0 0 2px rgb(120, 198, 93);
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box button {
  transition: all 0.2s ease;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box button:hover {
  opacity: 0.9;
}

.spz-2044 .products-boxes .products-single-box .product-text > a {
  transition: all 0.2s ease;
}

.spz-2044 .products-boxes .products-single-box.active {
  pointer-events: none;
}

.spz-2044 .products-boxes .products-single-box.active > .prod-card {
  opacity: 0;
  transform: rotateY(180deg);
}

.spz-2044 .products-boxes .products-single-box.active > .prod-feature {
  opacity: 1;
  transform: rotateY(0deg);
  pointer-events: all;
}

.spz-2044 .products-boxes .products-single-box .product-text > a:hover {
  opacity: 0.9;
}

.spz-2044 .products-boxes .products-single-box .product-text .product-pricing {
  min-height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #0d3d64;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.spz-2044 .products-boxes .products-single-box .product-text .product-pricing > span:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  display: flex;
  align-items: center;
  margin-left: 6px;
  text-transform: capitalize;
}

.spz-2044 .products-boxes .products-single-box .product-pricing span#savetext.show-save {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 26px;
  border: 1px solid #06b3e4;
  border-radius: 8px;
  margin: 0 0 0 19px;
  text-transform: uppercase;
}

.spz-2044 .products-boxes .products-single-box .product-text button {
  background: #06b3e4;
  border-radius: 5px;
  max-width: 240px;
  width: 100%;
  height: 48px;
  font-family: Roboto;
  font-style: normal;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  box-sizing: border-box;
}

.spz-2044 .products-boxes .products-single-box .product-text button:hover {
  background: #0998c0;
}

.spz-2044 .products-boxes .products-single-box .product-text button svg {
  margin-left: 5px;
  position: relative;
  left: 4px;
}

.spz-2044 .noproducts-wrapper,
.spz-2044 .products-wrapper {
  padding: 80px 0 40px;
}

.spz-2044 .noproducts-inner p {
  text-align: center;
  margin-bottom: 0;
}

.spz-2044 .see-more {
  text-align: center;
  margin-top: 24px;
  cursor: pointer;
}

.spz-2044 .see-more > span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #ec7923;
}

.spz-2044 .see-more > span::before {
  content: "See More";
  margin-right: 3px;
}

.spz-2044 .show-all + .see-more > span::before {
  content: "See Less";
  margin-right: 3px;
}

.spz-2044 .show-all + .see-more > span svg {
  transform: rotate(180deg);
}

.spz-2044 .see-more > span > svg {
  margin-left: 3px;
}

.spz-2044 .see-more > span:hover {
  opacity: 0.8;
}

.spz-2044 .product-list-area > .page-wrap.set-pad {
  max-width: 100%;
  padding: 0 0;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header {
  margin: 0 0;
  background-color: #f5f5f5;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .filter-products {
  display: none;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box {
  padding-top: 21px;
  padding-bottom: 23px;
  margin: 0 auto;
  text-align: center;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box .current-location {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box .current-location > i {
  font-size: 0px;
  margin-right: 13px;
  color: rgba(0, 0, 0, 0.54);
  position: relative;
  top: 1px;
  left: 1px;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box .current-location > i::before {
  position: absolute;
  content: "";
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/AWR/PRODUCTPAGE/location-on.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  top: -15px;
  left: -10px;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box button {
  padding: 0 0;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box button.product-page-search {
  max-width: 120px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box button.product-page-search > span:first-child {
  display: block !important;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box button.product-page-search > span:not(:first-child) {
  display: none !important;
}

.spz-2044 form input.search-zipcode {
  /*max-width: 120px;*/
  height: 40px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box > label:first-child {
  font-size: 16px;
  margin-bottom: 11px;
  display: block !important;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .location-box {
  margin-left: 4px;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box > label:nth-child(2) {
  display: none !important;
}

.spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header form.search {
  justify-content: center;
}

.spz-2044 .page-wrap.product-list {
  display: none;
}

.spz-2044 .error-zipcode.invalid-error[class] {
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: 0;
}

@media (max-width: 766.98px) {
  .spz-2044 .error-zipcode.invalid-error[class] small.error-text[class] {
    margin-top: 0.5rem;
  }
}
.spz-2044 .products-boxes .products-single-box.Exterior_Electric_Line_Protection_Program .product-image {
  background-position: right;
}

.spz-2044 .banner-box .content-box .banner-content-box .how-it-work-area {
  padding: 10px 0 0 !important;
}

@media (max-width: 1219.98px) {
  .spz-2044 .noproducts-inner,
.spz-2044 .products-inner {
    max-width: 900.1px;
  }
}
@media (max-width: 1023.98px) {
  .spz-2044 .noproducts-wrapper,
.spz-2044 .products-wrapper {
    padding: 60px 0 76px;
  }
  .spz-2044 .products-boxes {
    align-items: normal;
  }
  .spz-2044 .noproducts-inner,
.spz-2044 .products-inner {
    max-width: 604px;
  }
  .spz-2044 .products-title h2 {
    margin-bottom: 40px;
  }
  .spz-2044 .products-boxes .products-single-box {
    margin: 0 10px;
    margin-bottom: 20px;
  }
  .spz-2044 .products-boxes.justify-content-center .products-single-box {
    margin: 0 11px 22px;
  }
  .spz-2044 .products-boxes .products-single-box .product-pricing span#savetext.show-save {
    margin: 0 0 0 18px;
  }
  .spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box {
    padding-top: 24px;
  }
}
@media (max-width: 599.98px) {
  .spz-2044 .noproducts-wrapper,
.spz-2044 .products-wrapper {
    padding: 43px 0 59px;
  }
  .spz-2044 .products-title h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 36px;
  }
  .spz-2044 .noproducts-inner,
.spz-2044 .products-inner {
    padding: 0 40px;
  }
  .spz-2044 .products-boxes .products-single-box {
    margin: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .spz-2044 .products-boxes .products-single-box .product-text button {
    max-width: 100%;
  }
  .spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box {
    padding-bottom: 22px;
  }
  .spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box > label:first-child {
    display: none !important;
    font-size: 14px;
    margin: 0 0 11px 0;
  }
  .spz-2044 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box > label:nth-child(2) {
    display: block !important;
    font-size: 14px;
    margin: 0 0 11px 0;
  }
  .spz-2044 .products-boxes .products-single-box .product-text .product-pricing > span:last-child {
    justify-content: space-between;
    width: 100%;
  }
  .spz-2044 .products-boxes .products-single-box .product-text > h1 {
    min-height: 146px;
  }
}
@media (max-width: 359.98px) {
  .spz-2044 .products-boxes .products-single-box .product-text .product-pricing {
    font-size: 20px;
  }
  .spz-2044 .products-boxes .products-single-box .product-text .product-pricing > span:last-child {
    font-size: 12px;
  }
  .spz-2044 .products-boxes .products-single-box .product-pricing span#savetext.show-save {
    width: 67px;
    margin: 0 0 0 8px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .spz-2044 .banner-box .banner {
    height: 350px !important;
  }
}
body.spz-2044 .products-title h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #0d3d64;
  text-align: center;
  margin-bottom: 42px;
  margin-top: 0;
}

body.spz-2044 .products-title h2 span {
  display: block;
}

.see-more.hide {
  display: none;
}

.spz-2044 .noproducts-wrapper,
.spz-2044 .products-wrapper {
  padding: 58px 0 40px;
}
@media (min-width: 991.98px) {
  .spz-2044 .noproducts-wrapper,
.spz-2044 .products-wrapper {
    padding: 40px 0 40px;
  }
}
@media (max-width: 767.98px) {
  .spz-2044 .noproducts-wrapper,
.spz-2044 .products-wrapper {
    padding: 44px 0 40px;
  }
}

.spz-2044 .noproducts-inner p {
  text-align: center;
  margin-bottom: 0;
}

.spz-2044 .noproducts-inner {
  display: none;
  max-width: 1216px;
  margin: 0 auto 0;
  position: relative;
  min-height: 516px;
}

.spz-2044.noproduct_error .product-list-area {
  margin: 0 !important;
}

.spz-2044 .products-inner .products-title {
  display: none;
}

.spz-2044.noproduct_error .products-inner .products-title {
  display: block;
}

body.spz-2044 .noproducts-inner,
body.spz-2044 .products-inner {
  margin: 24px auto 0;
  padding-bottom: 30px;
}
@media (min-width: 991.98px) {
  body.spz-2044 .noproducts-inner,
body.spz-2044 .products-inner {
    margin: 62px auto 0;
  }
}

@media (max-width: 1024.98px) {
  .spz-2044 .noproducts-wrapper {
    max-width: 602px;
    min-height: 452px;
  }
  /* .spz-2044 .noproducts-inner,
      .spz-2044 .products-inner {
        top: 298px;
      } */
  body.spz-2044 .products-title h2 {
    padding: 0 42px;
    margin-bottom: 20px;
  }
}
.spz-2044 .hide-product {
  display: none !important;
}

.spz-2044 .mob-only {
  display: none;
}

.spz-2044 .products-wrapper .filter-wrapper {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  margin: auto;
}
@media (max-width: 1219.98px) {
  .spz-2044 .products-wrapper .filter-wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.spz-2044 .products-wrapper .filter-wrapper .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #333333;
  pointer-events: none;
  margin-bottom: 0;
}
@media (max-width: 1219.98px) {
  .spz-2044 .products-wrapper .filter-wrapper .title {
    width: 100%;
    margin-bottom: 18px;
    font-size: 36px;
    line-height: 44px;
  }
}

.spz-2044 .products-wrapper .filter-wrapper .filter-button-wrapper {
  display: flex;
}

.spz-2044 .products-wrapper .filter-wrapper .filter-category {
  height: 56px;
  border: 1px solid #dedede;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #0d3d64;
  margin: 0;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: 0 5.3px;
  transition: 0.3s all ease-in-out;
}
.spz-2044 .products-wrapper .filter-wrapper .filter-category:last-child {
  margin-right: 0;
}
@media (max-width: 991px) {
  .spz-2044 .products-wrapper .filter-wrapper .filter-category:first-child {
    margin-left: 0;
  }
}
@media (max-width: 767.98px) {
  .spz-2044 .products-wrapper .filter-wrapper .filter-category {
    padding: 10px 16px;
    height: 40px;
    font-size: 12px;
    margin: 0 3.3px;
  }
}

.spz-2044 .products-wrapper .filter-wrapper .filter-category.active {
  background: #0d3d64;
  color: #fff;
  border: 1px solid #0d3d64;
}

@media (hover: hover) {
  .spz-2044 .products-wrapper .filter-wrapper .filter-category:hover {
    background: #0d3d64;
    color: #fff;
    border: 1px solid #0d3d64;
  }
}
@media (max-width: 1199.98px) {
  .spz-2044 .products-wrapper .filter-wrapper .filter-button-wrapper {
    max-width: 660px;
  }
  .spz-2044 .products-wrapper .filter-wrapper .filter-category {
    margin-bottom: 16px;
  }
}
@media (max-width: 767.98px) {
  .spz-2044 .LPMcontainer {
    display: none !important;
  }
  .spz-2044 .mob-only {
    display: block;
  }
  .spz-2044 .products-wrapper .filter-wrapper .title {
    font-size: 24px;
    line-height: 32px;
    width: 100%;
    margin: 0 auto 15px;
  }
  body.spz-2044 .noproducts-inner {
    padding: 0 30px;
    max-width: 602px;
    min-height: 443px;
  }
  body.spz-2044.noproduct_error .products-inner {
    padding: 0 24px 30px;
  }
  body.spz-2044 .noproducts-inner,
body.spz-2044 .products-inner {
    margin: 20px auto 0;
  }
  body.spz-2044 .products-title h2 {
    padding: 0;
    font-size: 18px;
    line-height: 26px;
  }
}
.spz-2044 .dropdown-wrapper {
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.spz-2044 .filter-dropdown {
  width: 100%;
  height: 56px;
  margin: 0 auto;
}

.spz-2044 .filter-dropdown input {
  display: none !important;
}

.spz-2044 .dropdown__options-filter::after,
.spz-2044 .dropdown__options-filter::before {
  opacity: 0 !important;
  pointer-events: none;
}

.spz-2044 .dropdown__switch:checked + .dropdown__options-filter .dropdown__select {
  transform: scaleY(1);
}

.spz-2044 .dropdown__options-filter {
  width: 100%;
  height: 56px;
  cursor: pointer;
  padding: 0 !important;
}

.spz-2044 .dropdown__filter {
  list-style: none;
  position: relative;
  display: flex;
  padding: 11px 15.5px;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #0d3d64;
  transition: 0.3s;
  height: 56px;
  z-index: 10;
  align-items: center;
}

.spz-2044 .open .dropdown__filter {
  border-radius: 3px;
}

.spz-2044 .dropdown__filter::after {
  position: absolute;
  top: 16px;
  right: 14px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/AWR/2029/drop-down.svg");
  transition: 0.2s ease-in-out;
}

.spz-2044 .dropdown__select {
  z-index: 2;
  padding: 0;
  position: absolute;
  top: 100%;
  left: -1px;
  width: calc(100% + 2px);
  margin-top: 0;
  overflow: scroll;
  height: 240px;
  transform: scaleY(0);
  transform-origin: top;
  background: #fff;
  border: 1px solid #dedede;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 3px 3px;
  color: #757575;
  transition: 0.2s ease-in-out;
}

.spz-2044 .dropdown__select::-webkit-scrollbar {
  width: 8px;
}

.spz-2044 .dropdown__select::-webkit-scrollbar-track {
  background: #f5f5f5;
  opacity: 0.5;
}

.spz-2044 .dropdown__select::-webkit-scrollbar-thumb {
  background: #dadada;
}

.spz-2044 .dropdown__select-option {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  color: #757575;
  background-color: #fff;
  transition: 0.3s;
  display: flex;
}

.spz-2044 .dropdown__select-option.selected {
  font-weight: 500;
  color: #0d3d64;
}

.spz-2044 .dropdown__filter > li.dropdown__filter-selected {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0d3d64;
}

.spz-2044 .dropdown__select-option:not(:last-child) {
  margin-bottom: 8px;
}

.spz-2044 .dropdown__select-option:active,
.spz-2044 .dropdown__select-option:focus,
.spz-2044 .dropdown__select-option:hover {
  color: #0d3d64;
  font-weight: 500;
}

body.spz-2044 .products-boxes .products-single-box {
  display: none;
}

body.spz-2044 .products-boxes .products-single-box.show {
  display: flex !important;
}/*# sourceMappingURL=2044-Style.css.map */