body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe {
  background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/komodohealth/7002/cta_section_desktop.webp) no-repeat center center !important;
  background-size: cover !important;
}
@media (max-width: 767.98px) {
  body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe {
    background: radial-gradient(620.25% 113.08% at 22.29% -50.24%, rgba(104, 204, 232, 0.4) 0%, rgba(104, 204, 232, 0) 100%), var(--Surface-Main, #000) !important;
  }
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer {
  text-align: left;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .form-title {
  color: #fff !important;
  font-family: Titillium Web, sans-serif;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0;
}
@media (max-width: 767.98px) {
  body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 416px;
  }
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 991.98px) {
  body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field {
    width: 100%;
    max-width: 100%;
  }
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list {
  position: absolute;
  display: inline-block;
  background: var(--Surface-Error, #dc0000);
  -webkit-box-shadow: 0px 10px 40px -5px rgba(129, 24, 24, 0.16), 0px 2px 8px -5px rgba(129, 24, 24, 0.24);
          box-shadow: 0px 10px 40px -5px rgba(129, 24, 24, 0.16), 0px 2px 8px -5px rgba(129, 24, 24, 0.24);
  color: #fff !important;
  list-style: none;
  text-align: center !important;
  top: calc(100% + 8px);
  margin: 0;
  padding: 8px 12px !important;
  z-index: 3;
  width: auto;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list li {
  line-height: 0 !important;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list li .hs-error-msg.hs-main-font-element {
  display: block;
  font-family: Titillium Web, sans-serif;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 20px !important;
  color: #000 !important;
}
@media (max-width: 767.98px) {
  body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list {
    font-size: 11px;
  }
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 1.5px);
  left: calc(50% - 8px);
  background: url("//res.cloudinary.com/spiralyze/image/upload/v1707797996/KomodoHealth/8001/src/Arrow_Pointing_Above.svg") no-repeat;
  width: 16px;
  height: 8px;
  z-index: 2;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list:nth-child(2n+1) {
  display: none;
  margin-top: 4px;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list:nth-child(2n+1)::before {
  display: none;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list label > a {
  cursor: pointer;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field > label {
  display: none;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .input {
  position: relative;
}
@media (max-width: 991.98px) {
  body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .input {
    width: 100%;
    max-width: 100%;
  }
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field label.hs-label-spz {
  display: block;
  position: absolute;
  top: 12px;
  left: 20px;
  padding: 0;
  font-family: Titillium Web, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f0eeee;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 2;
  letter-spacing: 0;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]) {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 20px !important;
  height: 48px;
  width: 416px !important;
  border-radius: 100px !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  background: rgba(126, 126, 126, 0.35) !important;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0px !important;
  background-clip: padding-box !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff !important;
}
@media screen and (max-width: 767.98px) {
  body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]) {
    width: 100% !important;
  }
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio])::-webkit-input-placeholder {
  display: none;
  color: transparent;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio])::-moz-placeholder {
  display: none;
  color: transparent;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]):-ms-input-placeholder {
  display: none;
  color: transparent;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio])::-ms-input-placeholder {
  display: none;
  color: transparent;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio])::placeholder {
  display: none;
  color: transparent;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]):hover {
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
  background: rgba(74, 74, 74, 0.6) !important;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]):hover ~ label {
  color: #fff;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]):focus {
  border: 1px solid #fff !important;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]):focus ~ label {
  top: -8px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #030507), color-stop(46%, #1c2021));
  background: linear-gradient(180deg, #030507 40%, #1c2021 46%);
  padding: 0 4px;
  left: 16px;
  color: #fff;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]).error {
  border: 1px solid var(--Dividers-Error, #dc0000) !important;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder):not(:-moz-placeholder-shown) {
  border: 1px solid var(--Neutrals-700, #293642);
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder):not(:-ms-input-placeholder) {
  border: 1px solid var(--Neutrals-700, #293642);
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder):not(:placeholder-shown) {
  border: 1px solid var(--Neutrals-700, #293642);
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder):not(:-moz-placeholder-shown) ~ label {
  top: -8px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background: linear-gradient(180deg, #030507 40%, #1c2021 46%);
  padding: 0 4px;
  left: 16px;
  color: #f0eeee;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder):not(:-ms-input-placeholder) ~ label {
  top: -8px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background: linear-gradient(180deg, #030507 40%, #1c2021 46%);
  padding: 0 4px;
  left: 16px;
  color: #f0eeee;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder):not(:placeholder-shown) ~ label {
  top: -8px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #030507), color-stop(46%, #1c2021));
  background: linear-gradient(180deg, #030507 40%, #1c2021 46%);
  padding: 0 4px;
  left: 16px;
  color: #f0eeee;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input[type=checkbox] ~ span {
  font-family: Titillium Web, sans-serif;
  color: var(--Fonts-isPrimary, #000);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  letter-spacing: 0;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input[type=checkbox] ~ span .hs-form-required {
  display: none !important;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field.field-focus .hs-input:not([type=checkbox]):not([type=radio]).error ~ label {
  color: #dc0000;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field.field-error .hs-input:not([type=checkbox]):not([type=radio]).error[name=email]:not(.no-value) ~ label {
  color: #dc0000;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .hs_error_rollup {
  display: none;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .hs-submit {
  width: 100%;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .actions {
  position: relative;
  max-width: initial;
  width: 142px;
  margin: 0 0 0 -142px !important;
  padding: 0 !important;
}
@media screen and (max-width: 767.98px) {
  body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .actions {
    padding-top: 24px !important;
    width: 100%;
    margin: 0 !important;
  }
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .actions .hs-button {
  font-family: Titillium Web, sans-serif;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 24px !important; /* 150% */
  letter-spacing: 0.8px !important;
  text-transform: uppercase !important;
  color: #000 !important;
  width: 100%;
  height: 48px;
  padding: 12px 16px !important;
  border: none !important;
  position: relative;
  cursor: pointer !important;
  -webkit-transition-duration: 100ms !important;
          transition-duration: 100ms !important;
  border-radius: 100px !important;
  background: #68cce8 !important;
  outline: none;
  margin: 0 !important;
  display: block;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .actions .hs-button:hover {
  color: #000000 !important;
  background: #ffffff !important;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .actions .hs-button:active {
  color: #fff !important;
  background: #4a4a4a !important;
}
@media (max-width: 767.98px) {
  body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .actions .hs-button {
    margin: -4px 0 0 !important;
  }
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .blog_subscribe_disclaimer {
  margin-left: 0;
  color: #f0eeee !important;
  font-family: Titillium Web, sans-serif;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 20px !important;
  text-align: left !important;
  max-width: 541px;
}
body .body-wrapper main.body-wrapper--blog-post article.blog-post .widget-type-blog_subscribe #module_17001412262822.insights-subscribe .blog_subscribe_disclaimer a {
  color: #f0eeee !important;
}