body .body-wrapper .widget-type-blog_subscribe .insights-subscribe {
  background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/komodohealth/7002/cta_section_desktop.webp) no-repeat center center !important;
  background-size: cover !important;
  padding: 40px 64px 48px;
  max-width: 980px;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  body .body-wrapper .widget-type-blog_subscribe .insights-subscribe {
    background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/komodohealth/7002/cta_section_tablet.webp) no-repeat center center !important;
    background-size: cover !important;
    padding: 40px 40px 48px;
  }
}
@media (max-width: 767.98px) {
  body .body-wrapper .widget-type-blog_subscribe .insights-subscribe {
    background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/komodohealth/7002/back.webp) no-repeat center center !important;
    background-size: cover !important;
    padding: 40px 20px 28px 20px;
  }
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_submitted_id.submitted-message {
  color: #fff !important;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer {
  text-align: left;
  display: block !important;
}
@media (max-width: 1000.98px) {
  body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer {
    padding-top: 0;
  }
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .form-title {
  color: #fff !important;
  font-family: Titillium Web, sans-serif;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-left: 0;
  text-align: left;
  width: 100%;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0;
  padding-top: 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 767.98px) {
  body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 416px;
  }
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 991.98px) {
  body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field {
    width: 100%;
    max-width: 100%;
  }
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list {
  position: absolute;
  display: inline-block;
  background: #dc0000;
  -webkit-box-shadow: 0px 10px 40px -5px rgba(129, 24, 24, 0.16), 0px 2px 8px -5px rgba(129, 24, 24, 0.24);
          box-shadow: 0px 10px 40px -5px rgba(129, 24, 24, 0.16), 0px 2px 8px -5px rgba(129, 24, 24, 0.24);
  list-style: none;
  text-align: center !important;
  top: calc(100% + 4px);
  margin: 0;
  padding: 8px 12px !important;
  z-index: 3;
  width: auto;
}
@media (min-width: 767.98px) {
  body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list {
    left: 40px;
  }
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list li {
  line-height: 0 !important;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list li .hs-error-msg.hs-main-font-element {
  display: block;
  font-family: Titillium Web, sans-serif;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 20px !important;
  color: #000 !important;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 1.5px);
  left: calc(50% - 8px);
  background: url("//res.cloudinary.com/spiralyze/image/upload/v1707797996/KomodoHealth/8001/src/Arrow_Pointing_Above.svg") no-repeat;
  width: 16px;
  height: 8px;
  z-index: 2;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list:nth-child(2n+1) {
  display: none;
  margin-top: 4px;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list:nth-child(2n+1)::before {
  display: none;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-error-msgs.inputs-list label > a {
  cursor: pointer;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field > label {
  display: none;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .input {
  position: relative;
}
@media (max-width: 991.98px) {
  body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .input {
    width: 100%;
    max-width: 100%;
  }
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field label.hs-label-spz {
  display: block;
  position: absolute;
  top: 12px;
  left: 20px;
  padding: 0;
  font-family: Titillium Web, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f0eeee;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 2;
  letter-spacing: 0;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]) {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 20px !important;
  height: 48px;
  width: 416px !important;
  border-radius: 100px !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  background: #364144 !important;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0px !important;
  background-clip: padding-box !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff !important;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]) {
    width: 452px !important;
  }
}
@media screen and (max-width: 767.98px) {
  body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]) {
    width: 100% !important;
  }
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio])::-webkit-input-placeholder {
  display: none;
  color: transparent;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio])::-moz-placeholder {
  display: none;
  color: transparent;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]):-ms-input-placeholder {
  display: none;
  color: transparent;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio])::-ms-input-placeholder {
  display: none;
  color: transparent;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio])::placeholder {
  display: none;
  color: transparent;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]):hover {
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]):hover ~ label {
  color: #fff;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]):focus {
  border: 1px solid #fff !important;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]):focus ~ label {
  top: -8px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-radius: 2px 2px 0px 0;
  background: #364144;
  padding: 0 4px;
  left: 16px;
  color: #fff;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not([type=checkbox]):not([type=radio]).error {
  border: 1px solid #dc0000 !important;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder):not(:-moz-placeholder-shown) {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder):not(:-ms-input-placeholder) {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder):not(:placeholder-shown), body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder).value-filled {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder):not(:-moz-placeholder-shown) ~ label {
  top: -8px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-radius: 2px 2px 0px 0px;
  background: #364144;
  padding: 0 4px;
  left: 16px;
  color: #f0eeee;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder):not(:-ms-input-placeholder) ~ label {
  top: -8px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-radius: 2px 2px 0px 0px;
  background: #364144;
  padding: 0 4px;
  left: 16px;
  color: #f0eeee;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder):not(:placeholder-shown) ~ label, body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input:not(.is-placeholder).value-filled ~ label {
  top: -8px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-radius: 2px 2px 0px 0px;
  background: #364144;
  padding: 0 4px;
  left: 16px;
  color: #f0eeee;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input.value-filled {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field .hs-input.value-filled ~ label {
  top: -8px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-radius: 2px 2px 0px 0px;
  background: #364144;
  padding: 0 4px;
  left: 16px;
  color: #f0eeee;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field input:-webkit-autofill,
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field input:-webkit-autofill:hover,
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 40rem #364144 inset;
  caret-color: #fff;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field.field-focus .hs-input:not([type=checkbox]):not([type=radio]).error ~ label {
  color: #dc0000;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field.field-error .hs-input:not([type=checkbox]):not([type=radio]).error.value-filled ~ label {
  color: #dc0000;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .field.field-error .hs-input:not([type=checkbox]):not([type=radio]).error[name=email]:not(.no-value) ~ label {
  color: #dc0000;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .hs_error_rollup {
  display: none;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .hs-submit {
  width: 100%;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .actions {
  position: relative;
  max-width: initial;
  width: 142px;
  margin: 0 0 0 -142px !important;
  padding: 0 !important;
}
@media screen and (max-width: 767.98px) {
  body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .actions {
    padding-top: 24px !important;
    width: 100%;
    margin: 0 !important;
  }
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .actions .hs-button {
  font-family: Titillium Web, sans-serif;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 24px !important;
  letter-spacing: 0.8px !important;
  text-transform: uppercase !important;
  color: #000 !important;
  width: 100%;
  height: 48px;
  padding: 12px 16px !important;
  border: none !important;
  position: relative;
  cursor: pointer !important;
  -webkit-transition-duration: 100ms !important;
          transition-duration: 100ms !important;
  border-radius: 100px !important;
  background: #68cce8 !important;
  outline: none;
  margin: 0 !important;
  display: block;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .actions .hs-button:hover {
  color: #000000 !important;
  background: #ffffff !important;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .actions .hs-button:active {
  color: #fff !important;
  background: #4a4a4a !important;
}
@media (max-width: 767.98px) {
  body .body-wrapper .widget-type-blog_subscribe .insights-subscribe #spz_custom_id.subscribe_form_outer .hs_cos_wrapper_type_form .hs-form.hs-custom-form.stacked .actions .hs-button {
    margin: -4px 0 0 !important;
  }
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe .blog_subscribe_disclaimer {
  margin-left: 0;
  color: #f0eeee !important;
  font-family: Titillium Web, sans-serif;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 20px !important;
  text-align: left !important;
  max-width: 541px;
  padding-top: 20px;
}
body .body-wrapper .widget-type-blog_subscribe .insights-subscribe .blog_subscribe_disclaimer a {
  color: #f0eeee !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 20px !important;
}