.spz-9001 .zy-header-bottom,
.spz-9001 .zy-header-container,
.spz-9001 .zy-mobile-header,
.spz-9001 #zy-demo-form-section {
  display: none;
}
.spz-9001 .zy-squiggle-hero-container-inner.zy-container {
  display: flex;
  justify-content: space-between;
}
.spz-9001 .zy-squiggle-hero-container {
  position: relative;
  padding: 32px 0 48px;
  background: linear-gradient(171deg, #112f55 6.65%, #2062ae 93.35%);
  margin: 0;
  z-index: 1;
  overflow: hidden;
}
.spz-9001 .zy-squiggle-hero-container .zy-container {
  width: calc(100% - 200px);
  margin-bottom: 78.5px;
  max-width: 1240px;
}
.spz-9001 .zy-squiggle-hero-container .zy-logo {
  width: 143.309px;
  height: 32px;
}
.spz-9001 .zy-squiggle-hero-container::before {
  content: "";
  display: block;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/zywave/9001/vector_3_stroke.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2053px;
  height: 971px;
  position: absolute;
  top: -128px;
  left: 130px;
  z-index: -1;
  pointer-events: none;
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-line,
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-buttons-container {
  display: none;
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .sub-title {
  color: #fff;
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container {
  padding-right: 8px;
  position: relative;
  flex: 0 0 52%;
  max-width: 670px;
  margin: 30px 0 0;
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container::after {
  content: "";
  display: block;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/zywave/9001/vector_29.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 170.292px;
  height: 81.008px;
  position: absolute;
  right: -78px;
  bottom: -68px;
}
@media (max-width: 1400px) {
  .spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container::after {
    bottom: -74px;
  }
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container h1 {
  font-size: 60px;
  font-family: "bree", sans-serif;
  font-feature-settings: normal;
  font-weight: 700;
  line-height: 110%;
  margin-top: -2px;
  margin-bottom: 28px;
  letter-spacing: -0.15px;
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container h1 span {
  color: #5fb53b;
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .zy-tags {
  display: flex;
  margin-bottom: 41px;
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .zy-tags .zy-tag {
  display: flex;
  align-items: flex-start;
  color: #fff;
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px 16px;
  margin-right: 6px;
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .zy-tags .zy-tag:last-child {
  margin-right: 0;
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .spz-hero-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .spz-hero-list li {
  color: #fff;
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 23.5px;
  padding-left: 56px;
  background-repeat: no-repeat;
  background-position: 0 2px;
  background-size: 40px;
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .spz-hero-list li:nth-child(1) {
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/zywave/9001/frame_1171275206.webp");
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .spz-hero-list li:nth-child(2) {
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/zywave/9001/frame_1171275209.svg");
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .spz-hero-list li:nth-child(3) {
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/zywave/9001/servicing_1.svg");
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .spz-hero-list li strong {
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
}
.spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .spz-hero-list li:last-child {
  margin-bottom: 0;
}
.spz-9001 .zy-squiggle-hero-container + .zy-product-feature-container {
  margin-top: 0;
}
.spz-9001 .zy-squiggle-hero-container .zy-hero-image-container {
  flex: 0 0 48%;
  max-width: 502px;
}
.spz-9001 .zy-squiggle-hero-container .zy-hero-image-container .zy-hero-slide-container {
  display: none;
}
.spz-9001 .zy-squiggle-hero-container .zy-marketo-form-container {
  margin: 0;
  align-items: center;
  justify-content: space-between;
}
.spz-9001 .zy-squiggle-hero-container .zy-col-form {
  flex: unset;
  max-width: 502px;
}
.spz-9001 .zy-squiggle-hero-container .zy-col-form .zy-marketo-form-container {
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 12px 80px 0px rgba(15, 45, 82, 0.08);
  padding: 28px 32px 32px;
}
.spz-9001 .zy-squiggle-hero-container .zy-col-form .form_title {
  color: #0f2d52;
  text-align: center;
  font-family: "bree", sans-serif;
  font-feature-settings: unset;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 24px;
}
.spz-9001 .zy-squiggle-hero-container .zy-col-form form.mktoForm {
  width: 100% !important;
}
.spz-9001 .zy-squiggle-hero-container .zy-col-form form.mktoForm .mktoFormRow fieldset.mktoFormCol {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow {
  width: calc(50% - 8px);
  flex: unset;
  max-width: unset;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFormCol {
  margin-bottom: 16px !important;
  float: none;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap {
  position: relative;
  padding: 0;
  width: 100%;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap label.mktoLabel {
  position: absolute;
  display: inline-block;
  top: 13px;
  left: 10px;
  width: auto !important;
  margin: 0;
  padding: 0 15px 0 6px;
  background: #fff;
  color: #6b7280;
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap label.mktoLabel::after {
  display: none;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap .mktoGutter {
  display: none;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap .mktoField {
  width: 100% !important;
  height: 50px !important;
  padding: 12px 15px !important;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  outline: 0;
  box-shadow: none;
  background: #fff;
  color: #0f2d52;
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  appearance: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap .mktoField:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #0f2d52 !important;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap .mktoField:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #0f2d52 !important;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap .mktoField:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #0f2d52 !important;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap .mktoField:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #0f2d52 !important;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap select.mktoField {
  padding-right: 32px !important;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap .mktoField#ringdna100__ProductInterest__c {
  max-width: 100%;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap .mktoError {
  position: relative;
  right: unset !important;
  bottom: unset !important;
  left: unset;
  top: unset;
  pointer-events: none;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap .mktoError .mktoErrorArrowWrap {
  display: none;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap .mktoError .mktoErrorMsg {
  margin-top: 6px;
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  color: #e30004;
  text-shadow: none;
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap.active.typing label.mktoLabel {
  font-size: 13px;
  line-height: 20px;
  top: -10px;
  color: #0f2d52;
  padding: 0 6px;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap.active.typing .mktoField {
  border-color: #0f2d52;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap.filled label.mktoLabel {
  font-size: 13px;
  line-height: 20px;
  top: -10px;
  padding: 0 6px;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap.error.active.typing label.mktoLabel {
  color: #e30004 !important;
  padding: 0 6px;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap.error.filled label.mktoLabel {
  color: #e30004 !important;
  padding: 0 6px;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoOffset {
  display: none;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow .mktoFieldWrap.error .mktoField {
  border-color: #e30004 !important;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow.no-label {
  display: none;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow.ringdna100__productinterest__c {
  width: 100%;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow.ringdna100__productinterest__c .mktoFieldWrap::after {
  position: absolute;
  content: "";
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1713853220/zywave/1004/Dropdown.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  top: 13px;
  right: 13px;
  pointer-events: none;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm fieldset.mktoFormCol .mktoFormRow.websiteformjobdescription .mktoFieldWrap::after {
  position: absolute;
  content: "";
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1713853220/zywave/1004/Dropdown.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  top: 13px;
  right: 13px;
  pointer-events: none;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm .mktoButtonRow {
  margin-top: 16px;
  text-align: center;
  width: 100%;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm .mktoButtonRow .mktoButtonWrap {
  margin: 0 !important;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm .mktoButtonRow button.mktoButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 132px;
  height: 50px;
  margin: auto;
  border-radius: 99px;
  background: #fff;
  border: 2px solid var(--Accents, #5fb53b);
  outline: none;
  box-shadow: none;
  color: #0f2d52;
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  transition-duration: 0.25s;
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm .mktoButtonRow button.mktoButton:focus, .spz-9001 .zy-squiggle-hero-container form.mktoForm .mktoButtonRow button.mktoButton:hover {
  background: var(--Accents, #5fb53b);
}
.spz-9001 .zy-squiggle-hero-container form.mktoForm .mktoButtonRow button.mktoButton:active {
  background: var(--Accents, #5fb53b);
}
.spz-9001 .social-logo-container {
  margin: 0 auto;
  width: calc(100% - 200px);
  max-width: 1240px;
}
.spz-9001 .social-logo-container .social-proof .tl-logo {
  width: 100%;
}

@media (min-width: 1601px) {
  .spz-9001 #zy-demo-form-section {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/zywave/1004/1920.svg");
  }
}
@media (max-width: 1249.98px) {
  .spz-9001 .zy-squiggle-hero-container {
    padding: 32px 0 64px;
  }
  .spz-9001 .zy-squiggle-hero-container::before {
    left: -206px;
  }
  .spz-9001 .zy-squiggle-hero-container .zy-container.logo-spz {
    margin-bottom: 26px;
  }
  .spz-9001 .zy-squiggle-hero-container .zy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 168px);
    margin-bottom: 48px;
    padding-bottom: 0;
    text-align: center;
  }
  .spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container {
    padding-right: 0;
    margin-bottom: 46px;
  }
  .spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .zy-tags {
    justify-content: center;
  }
  .spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .spz-hero-list li {
    background-position: 1px 2px;
  }
  .spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container::after {
    display: none;
  }
  .spz-9001 .zy-squiggle-hero-container .zy-hero-image-container {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .spz-9001 .zy-squiggle-hero-container .zy-col-form {
    max-width: 598px;
  }
  .spz-9001 .social-logo-container {
    margin: 0 auto;
    width: 100%;
    max-width: 688px;
  }
  .spz-9001 .social-logo-container .social-proof .tl-logo {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .spz-9001 .zy-squiggle-hero-container {
    padding-bottom: 63.5px;
  }
  .spz-9001 .zy-squiggle-hero-container::before {
    left: -553px;
  }
  .spz-9001 .zy-squiggle-hero-container .zy-container {
    width: calc(100% - 40px);
  }
  .spz-9001 .zy-squiggle-hero-container .zy-container.logo-spz {
    margin-bottom: 0;
  }
  .spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container {
    margin-top: 27px;
  }
  .spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .sub-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 5px;
  }
  .spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .zy-super-h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 19px;
    letter-spacing: 0;
  }
  .spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .zy-tags {
    margin-bottom: 21px;
  }
  .spz-9001 .zy-squiggle-hero-container.zy-hero-text-and-image .zy-hero-text-container .spz-hero-list li {
    margin-bottom: 22.5px;
    background-position: 0.2px calc(50% - 1px);
  }
  .spz-9001 .zy-squiggle-hero-container .zy-col-form .form_title {
    margin-bottom: 32px;
  }
  .spz-9001 .zy-squiggle-hero-container .zy-col-form .zy-marketo-form-container {
    padding: 32px 20px;
  }
  .spz-9001 .zy-squiggle-hero-container .zy-col-form form.mktoForm {
    padding: 0;
  }
  .spz-9001 .zy-squiggle-hero-container .zy-col-form form.mktoForm .mktoFormRow fieldset legend {
    display: none;
  }
  .spz-9001 .zy-squiggle-hero-container .zy-col-form form.mktoForm fieldset.mktoFormCol .mktoFormRow {
    width: 100%;
  }
  .spz-9001 .social-logo-container {
    max-width: 274px;
  }
}