$eptura-font: "Flexible", Arial, sans-serif;
$eptura-light: "Eptura Flexible Light", Arial, sans-serif;
$eptura-bold: "Eptura Flexible Bold", Arial, sans-serif;

body.spz-5004 {
  .learn-more-section,
  .trusted-logo,
  .work-with-us {
    display: none !important;
  }

  .site-content {
    background-color: #0d122e;

    //hide hero banner
    .inner-banner.style-three {
      display: none !important;
    }

    .get-touch-form {
      padding: 56px 100px 80px;
      max-width: 1240px;
      margin: auto;

      .spz-page-title {
        margin-bottom: 64px;
        h1 {
          color: #f6fafa;
          text-align: center;
          font-size: 56px;
          font-style: normal;
          font-weight: 300;
          line-height: 64px;
        }
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title-part {
          display: none !important;
        }

        .get-form {
          border-radius: 8px;
          background: var(--primary-neutrals-w, #fff);
          box-shadow: 0px 24px 48px 0px rgba(13, 18, 46, 0.12);
          max-width: 580px;
          padding: 0px 46px 52px 46px;

          .get-form-title {
            color: var(--accents-a-5, #904ab0);
            text-align: center;
            font-size: 36px;
            font-style: normal;
            font-weight: 300;
            line-height: 44px;
          }

          //Form Css starts here
          form.mktoForm {
            box-shadow: none;
            padding: 0 !important;
            .mktoFormRow {
              .mktoFormCol {
                min-height: auto;
                margin: 0 !important;
                padding: 0 10px !important;

                .mktoFieldWrap {
                  position: relative;
                  float: none !important;
                  .mktoLabel {
                    position: absolute;
                    overflow: hidden;
                    color: var(
                      --primary-neutrals-n-2,
                      rgba(13, 18, 46, 0.8)
                    ) !important;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-family: $eptura-font;
                    font-size: 16px !important;
                    font-style: normal;
                    font-weight: 300 !important;
                    line-height: 24px; /* 150% */
                    top: 11px;
                    left: 16px;
                    padding: 0 !important;
                    transition: all 0.3s ease-in-out;
                    pointer-events: none;
                    max-width: calc(100% - 58px);
                    background: #fff;
                    right: 0;
                  }

                  .mktoField:not([type="checkbox"]) {
                    border-radius: 4px;
                    border: 1px solid var(--interactive-colors-a-4, #d6d7f5) !important;
                    width: 280px;
                    padding: 11px 16px 10px 16px !important;
                    color: var(--primary-neutrals-n-1, #0d122e) !important;
                    text-overflow: ellipsis;
                    font-family: $eptura-font !important;
                    font-size: 16px !important;
                    font-style: normal;
                    font-weight: 300 !important;
                    line-height: 24px !important; /* 150% */
                    margin-bottom: 20px !important;

                    &:not(#Lead_Notes__c) {
                      overflow: hidden;
                      height: 48px !important;
                      white-space: nowrap;
                      @media (min-width: 767.98px) {
                        // max-width: calc(100% - 10px);
                        max-width: 100%;
                      }
                    }

                    &#I_am__c,
                    &#Country,
                    &#Solution_Type__c {
                      outline: transparent;
                      appearance: none !important;
                      background-image: url("https://res.cloudinary.com/spiralyze/image/upload/v1691142439/eptura/3001/custom/chevron-down.svg") !important;
                      background-repeat: no-repeat !important;
                      background-position: right 14px center !important;
                      background-size: 24px !important;
                      padding-right: 32px !important;
                    }

                    &#Lead_Notes__c ~ .mktoError {
                      margin-top: 0 !important;
                      .mktoErrorArrowWrap {
                        top: -27px;
                      }
                      .mktoErrorMsg {
                        margin-top: -20px;
                      }
                    }

                    &:-webkit-autofill {
                      -webkit-box-shadow: 0 0 0 30px white inset !important;
                    }
                    &:autofill {
                      -webkit-box-shadow: 0 0 0 30px white inset !important;
                    }
                  }

                  .mktoHtmlText.mktoHasWidth {
                    margin: 0 !important;
                    line-height: 0;
                    span {
                      color: #848995;
                      font-size: 10px !important;
                      // font-family: $eptura-font;
                      font-style: normal;
                      font-weight: 300;
                      line-height: 16px; /* 160% */

                      a {
                        // font-family: $eptura-font;
                        padding: 0;
                        color: #1b4bc5;
                        // font-weight: 500;
                        &:hover {
                          color: #0d122e;
                        }
                      }
                    }
                  }

                  .mktoCheckboxList {
                    margin-top: 3px;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    padding-left: 25px;
                    .mktoField {
                      border: 1px solid #d6d7f5;
                      height: 16px !important;
                      width: 16px !important;
                      cursor: pointer;
                      @media (max-width: 767.98px) {
                        margin-top: 7px;
                      }
                    }

                    label {
                      font-family: $eptura-font !important;
                      color: var(--primary-neutrals-n-1, #0d122e);
                      font-size: 12px !important;
                      font-style: normal !important;
                      font-weight: 300 !important;
                      line-height: 18px !important; /* 142.857% */
                      margin-left: 19px;
                      letter-spacing: -0.1px;
                      cursor: pointer;
                      &:before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        left: 0;
                        background: url("https://res.cloudinary.com/spiralyze/image/upload/v1691420998/eptura/3001/custom/form-checkmark.svg")
                          left center no-repeat;
                        margin-top: 2px;
                      }

                      &:hover {
                        &::before {
                          background: url("https://res.cloudinary.com/spiralyze/image/upload/v1691420998/eptura/3001/custom/form-checkmark-hover.svg")
                            left center no-repeat;
                        }
                      }
                    }
                    input[type="checkbox"] {
                      display: none !important;

                      &:checked + label:before {
                        background: url("https://res.cloudinary.com/spiralyze/image/upload/v1691420998/eptura/3001/custom/form-checkmark-checked.svg")
                          left center no-repeat;
                      }
                    }
                  }

                  .mktoError {
                    margin-top: 48px !important;

                    .mktoErrorMsg {
                      color: #f3f3f3;
                      font-size: 13px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 16px; /* 123.077% */
                    }
                  }

                  //custom error for checkbox field
                  &.spz-cstm-error {
                    .mktoCheckboxList label {
                      color: #e51b00 !important;

                      &::before {
                        background: url("https://res.cloudinary.com/spiralyze/image/upload/v1692677050/eptura/3002/form-checkmark-errored.svg")
                          left center no-repeat;
                      }
                    }
                  }
                }

                &.field-focus {
                  .mktoFieldWrap {
                    .mktoLabel {
                      top: -8px;
                      left: 11px;
                      right: auto;
                      padding: 0 5px !important;
                      font-family: $eptura-font;
                      color: var(--accents-a-5, #904ab0) !important;
                      font-size: 13px !important;
                      line-height: 18px !important; /* 138.462% */
                      background: #fff;
                    }
                  }
                  .mktoField:not([type="checkbox"]) {
                    border-color: #904ab0 !important;
                  }
                }

                &.input-filled {
                  .mktoFieldWrap {
                    .mktoLabel {
                      top: -8px;
                      left: 11px;
                      right: auto;

                      font-family: $eptura-font;
                      padding: 0 5px !important;
                      font-size: 13px !important;
                      line-height: 18px !important; /* 138.462% */
                      background: #fff;
                    }
                  }
                }

                &.field-error {
                  &.field-focus {
                    .mktoFieldWrap {
                      .mktoLabel {
                        color: var(--accents-a-5, #f83a59) !important;
                      }
                    }
                  }

                  .mktoField:not([type="checkbox"]) {
                    border-color: #f83a59 !important;
                  }
                }
              }

              &[data-zi-field-enriched="true"] {
                display: inline !important;
              }

              .spz-anchor:not(.spz-hidden) {
                display: flex;
                width: 100%;

                + .mktoFieldDescriptor.mktoFormCol {
                  display: none !important;
                }

                .show-comment-dynamic {
                  overflow: hidden;
                  color: var(--primary-neutrals-n-2, rgba(13, 18, 46, 0.8));
                  font-family: $eptura-font;
                  text-overflow: ellipsis;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 24px;
                  margin-bottom: 18px;
                  display: inline-block;
                  margin-top: 2px;
                  transition: all 0.3s ease;
                  margin-left: 10px;
                  span {
                    padding-right: 5px;
                  }
                  @media (max-width: 767.98px) {
                    padding: 0;
                    margin-bottom: 26px;
                  }

                  &:hover {
                    color: #904ab0;
                  }
                }
              }
              .spz-hidden {
                display: none;
              }

              &[spz_row_num="19"],
              &[spz_row_num="20"],
              &[spz_row_num="21"] {
                .mktoFormCol {
                  width: 100% !important;
                }
              }
            }

            //submit button css
            .mktoButtonRow {
              text-align: center;
              width: 100%;

              .mktoButtonWrap {
                button.mktoButton {
                  margin: auto;
                  display: flex;
                  width: 140px !important;
                  height: 50px !important;
                  padding: 0px 8px !important;
                  justify-content: center;
                  align-items: center;
                  border-radius: 3px !important;
                  background: var(--interactive-colors-a-1, #1b4bc5) !important;
                  color: var(--primary-neutrals-w, #fff) !important;
                  text-align: center;
                  font-family: $eptura-font !important;
                  font-size: 16px !important;
                  font-style: normal;
                  font-weight: 500 !important;
                  line-height: 24px !important; /* 150% */
                  margin-top: 22px !important;
                  white-space: nowrap;

                  &:hover,
                  &:focus {
                    background: var(
                      --interactive-colors-a-3,
                      #456ed6
                    ) !important;
                  }
                  &:focus {
                    transform: translate(0, 1px);
                  }

                  @media (max-width: 767.98px) {
                    height: 56px !important;
                    padding: 0px 32px;
                    width: 300px !important;
                    max-width: 300px !important;
                  }
                }
              }
            }

            //email line form
            .spz-email {
              .mktoFieldWrap {
                margin-top: 18px;
                @media (max-width: 767.98px) {
                  margin-top: 24px;
                }

                .mktoHtmlText.mktoHasWidth {
                  text-align: center;
                  @media (max-width: 767.98px) {
                    line-height: 0;
                  }
                  em {
                    color: var(--primary-neutrals-n-1, #0d122e);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 20px; /* 142.857% */
                    @media (max-width: 767.98px) {
                      padding: 0;
                    }

                    .mobile-only {
                      @media (min-width: 767.98px) {
                        display: none;
                      }
                    }

                    a {
                      color: var(--interactive-colors-a-1, #1b4bc5);
                      font-weight: 500;
                      padding: 0;
                      font-family: $eptura-font;
                      padding-left: 2px;

                      &:hover {
                        color: #0d122e;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        //right content
        .additional-section {
          max-width: 280px;
          .need-support {
            .copy {
              h6 {
                color: var(--primary-neutrals-n-3, #f6fafa);
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: 28px;
                margin-bottom: 16px;
              }

              p {
                color: var(--primary-neutrals-n-3, #f6fafa);
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 24px;
                opacity: 0.8;
                margin-bottom: 24px;
              }

              .visit-support {
                color: var(--interactive-colors-a-2, #7aa0ff);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                display: flex;
                align-items: end;
                svg path {
                  stroke: #7aa0ff;
                  transition: 400ms;
                }

                &:hover {
                  color: #ffffff;

                  svg path {
                    stroke: #ffffff;
                  }
                }
              }
            }
          }

          .border-line {
            margin: 72px 0;
          }
        }
      }
    }

    .spz-trusted-logos {
      max-width: 1440px;
      padding: 40px 100px 88px 100px;
      margin: auto;

      .logo-title {
        h6 {
          color: var(--primary-neutrals-n-3, #f6fafa);
          font-size: 24px;
          font-style: normal;
          font-weight: 300;
          line-height: 32px;
          text-align: center;

          span {
            font-weight: 500;
            color: var(--primary-neutrals-n-3, #f6fafa);
          }
        }
      }
    }
  }

  .keep-update.bg-purple {
    background-color: #0d122e;
    padding: 64px 0px;

    .container {
      .row {
        max-width: 900px;
        margin: auto;
        .title {
          h3 {
            color: var(--primary-neutrals-n-3, #f6fafa);
            font-size: 28px;
            font-style: normal;
            font-weight: 300;
            line-height: 36px;
          }
        }

        .btn-group {
          .button-2 a {
            border-radius: 3px;
            background: var(--interactive-colors-a-2, #7aa0ff);
            box-shadow: 0px 24px 48px 0px rgba(13, 18, 46, 0.12);
            color: var(--primary-neutrals-n-1, #0d122e);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;

            &:hover {
              background: var(--interactive-colors-a-4, #d6d7f5);
            }
          }

          .link {
            a {
              &::before {
                background: url(//res.cloudinary.com/spiralyze/image/upload/v1697646155/eptura/5004/logo_-_linked_in.svg)
                  no-repeat center;
                filter: none;
              }
            }
          }

          .facebook {
            a {
              &::before {
                background: url(//res.cloudinary.com/spiralyze/image/upload/v1697646155/eptura/5004/logo_-_facebook.svg)
                  no-repeat center;
                filter: none;
              }
            }
          }

          .twit {
            a {
              &::before {
                background: url(//res.cloudinary.com/spiralyze/image/upload/v1697646155/eptura/5004/logo_-_twitter.svg)
                  no-repeat center;
                filter: none;
              }
            }
          }
        }
      }
    }
  }

  .gradient-border-line {
    height: 12px;
    width: 100%;
    position: relative;
    background-color: #0d122e;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: linear-gradient(
        90deg,
        #f6fafa -0.04%,
        rgba(246, 250, 250, 0) 103.77%
      );
      top: 0;
      opacity: 0.2;
    }

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: linear-gradient(270deg, #F6FAFA -0.04%, rgba(246, 250, 250, 0.00) 103.77%);
      bottom: 0;
      opacity: 0.2;
    }
  }
}
