.see-more.hide {
  display: none;
}

body.spz-2041 .product-list-area.fixed-nav-product {
  margin-top: 33px !important;
}

@media (max-width: 767.98px) {
  .spz-2041 .header-icon[class] {
    margin-left: 5px !important;
  }
  .spz-2041 ul.menu[class] {
    display: flex !important;
  }
}
.spz-2041.mac .products-wrapper[class] .products-boxes[class] {
  perspective: 500000;
  -webkit-perspective: 500000;
}
.spz-2041 footer,
.spz-2041 .product-list-area.content-section[class] {
  margin: 0 !important;
}
.spz-2041 footer .set-pad.page-wrap[class],
.spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] {
  max-width: 100%;
  text-align: center;
  border-bottom: 1px solid #dadada;
}
.spz-2041 footer .set-pad.page-wrap[class] .product-list-header[class],
.spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] .product-list-header[class] {
  background: #fff;
}
.spz-2041 footer .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class],
.spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] {
  padding: 20px 0 18px 0;
}
@media (max-width: 767.98px) {
  .spz-2041 footer .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class],
  .spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] {
    padding: 20px 0 12px;
  }
}
@media (min-width: 1023.98px) {
  .spz-2041 footer .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class],
  .spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] {
    padding: 22px 0 18px 0;
  }
}
.spz-2041 footer .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] label[class],
.spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] label[class] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.spz-2041 footer .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] label[class].search-label[class],
.spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] label[class].search-label[class] {
  margin: 0 5px 0 16px;
  display: inline-block !important;
}
@media (max-width: 767.98px) {
  .spz-2041 footer .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] label[class].search-label[class],
  .spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] label[class].search-label[class] {
    font-size: 14px;
    margin: 0;
  }
}
.spz-2041 footer .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] label[class].dark-text[class],
.spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] label[class].dark-text[class] {
  display: none !important;
}
.spz-2041 footer .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] .location-box[class],
.spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] .location-box[class] {
  margin-left: 32px;
}
@media (max-width: 767.98px) {
  .spz-2041 footer .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] .location-box[class],
  .spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] .location-box[class] {
    margin-left: 20px;
    margin-top: 4px;
    display: inline-block;
  }
}
.spz-2041 footer .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] .location-box[class] .current-location[class],
.spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] .location-box[class] .current-location[class] {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.spz-2041 footer .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] .location-box[class] .current-location[class] i.fa-map-marker[class],
.spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] .location-box[class] .current-location[class] i.fa-map-marker[class] {
  padding-right: 8px;
}
.spz-2041 footer .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] .location-box[class] button.change-link[class],
.spz-2041 .product-list-area.content-section[class] .set-pad.page-wrap[class] .product-list-header[class] .zipcode-box[class] .location-box[class] button.change-link[class] {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 1px 16px 5px 4px;
}
.spz-2041 hos-navigation-bar,
.spz-2041 hos-navigation-bar .branding,
.spz-2041 hos-navigation-bar .branding .logo,
.spz-2041 hos-navigation-bar .branding .logo img {
  z-index: 99;
}
.spz-2041 .noproducts-inner,
.spz-2041 .products-inner {
  max-width: 1216px;
  margin: 0 auto;
}
.spz-2041 .products-title h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 48px;
  margin-top: 0;
  color: #333333;
}
.spz-2041 .products-boxes {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@media (max-width: 631.98px) {
  .spz-2041 .products-boxes {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.spz-2041 .search-bar {
  left: 0 !important;
}
.spz-2041 #listingPage > * {
  width: 100%;
}
.spz-2041 #listingPage hos-google-places .search-bar .search-field {
  margin: 0 0 !important;
}
.spz-2041 .products-boxes .products-single-box {
  position: relative;
  margin: 0 12px;
  flex-wrap: wrap;
  width: 280px;
  border-radius: 12px;
  margin-bottom: 36px;
  z-index: 1;
}
.spz-2041 .products-boxes .products-single-box.popular > .prod-card .product-image::before {
  content: url("//res.cloudinary.com/spiralyze/image/upload/v1670215067/AWR/2041/src/most-popular-tag.svg");
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}
.spz-2041 .products-boxes .products-single-box.best-product > .prod-card .product-image::before {
  content: url("//res.cloudinary.com/spiralyze/image/upload/v1670307275/AWR/2041/src/best-value-tag.svg");
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}
.spz-2041 .products-boxes.justify-content-center .products-single-box {
  margin: 0 10px;
}
.spz-2041 .products-boxes .products-single-box {
  display: flex;
}
.spz-2041 .products-boxes .products-single-box .product-image {
  height: 220px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
}
.spz-2041 .products-boxes .products-single-box .prod-feature {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  opacity: 0;
  height: 220px;
  transform: rotateY(180deg);
  pointer-events: none;
}
.spz-2041 .products-boxes .products-single-box .prod-feature .product-feature {
  background-color: #0d3d64;
  padding-right: 22px;
  padding-bottom: 20px;
  height: 220px;
  padding-top: 24px;
  border-radius: 12px 12px 0 0;
}
.spz-2041 .products-boxes .products-single-box .prod-feature .product-feature .product-feature-list {
  height: 100%;
  overflow: auto;
  color: #fff;
  list-style: none;
  padding-left: 24px;
  padding-right: 4px;
  scrollbar-width: thin;
  scrollbar-color: #78c653 #757575;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.spz-2041 .products-boxes .products-single-box .prod-feature .product-feature .product-feature-list p {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.spz-2041 .products-boxes .products-single-box .prod-feature .product-feature .product-feature-list li {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
.spz-2041 .products-boxes .products-single-box .prod-feature .product-feature .product-feature-list li::before {
  content: url("//res.cloudinary.com/spiralyze/image/upload/v1667969299/AWR/2025/src/check.svg");
  height: 20px;
  margin-right: 10px;
}
.spz-2041 .products-boxes .products-single-box .prod-feature .product-feature .product-feature-list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px;
}
.spz-2041 .products-boxes .products-single-box .prod-feature .product-feature .product-feature-list::-webkit-scrollbar-track {
  background: #757575;
  -webkit-box-shadow: inset 0 0 2px rgb(117, 117, 117);
}
.spz-2041 .products-boxes .products-single-box .prod-feature .product-feature .product-feature-list::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #78c653;
  -webkit-box-shadow: inset 0 0 2px rgb(120, 198, 93);
}
.spz-2041 .products-boxes .products-single-box .prod-feature .product-feature .product-feature-list::-webkit-scrollbar-thumb:hover {
  background: #78c653;
  -webkit-box-shadow: inset 0 0 2px rgb(120, 198, 93);
}
.spz-2041 .products-boxes .products-single-box .product-icon {
  position: absolute;
  height: 90px;
  width: 90px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: auto;
  bottom: -40px;
  left: 32px;
  border-radius: 50px;
}
.spz-2041 .products-boxes .products-single-box .product-text {
  padding: 0;
  background: #fff;
  filter: drop-shadow(0px 4px 48px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
}
.spz-2041 .products-boxes .products-single-box .product-text .product-title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.spz-2041 .products-boxes .products-single-box .product-text .product-title > h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #333333;
  padding: 24px 16px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  height: 72px;
}
.spz-2041 .products-boxes .products-single-box .product-text .product-cart-info {
  padding: 26px 16px 24px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .spz-2041 .products-boxes .products-single-box .product-text .product-cart-info {
    padding: 25px 16px 25px;
  }
}
.spz-2041 .products-boxes .products-single-box .product-text > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
  margin-bottom: 12px;
}
.spz-2041 .products-boxes .products-single-box .product-text > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #ec7923;
  cursor: pointer;
}
.spz-2041 .products-boxes .products-single-box .product-text .product-image,
.spz-2041 .products-boxes .products-single-box .product-text .prod-feature {
  transition-duration: 1000ms;
  transition-property: transform, opacity;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}
.spz-2041 .products-boxes .products-single-box .product-text.prod-card {
  opacity: 1;
  transform: rotateY(0deg);
  flex-grow: 1;
}
.spz-2041 .products-boxes .products-single-box .product-text .prod-info {
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  bottom: -10px;
  right: 16px;
  background: none;
  outline: 0;
  border: 0;
}
@media (max-width: 767.98px) {
  .spz-2041 .products-boxes .products-single-box .product-text .prod-info {
    bottom: -8px;
  }
}
.spz-2041 .products-boxes .products-single-box .product-text .prod-info .info-blue {
  display: block;
}
.spz-2041 .products-boxes .products-single-box .product-text .prod-info .info-hover {
  display: none;
}
.spz-2041 .products-boxes .products-single-box .product-text .prod-info:hover .info-blue {
  display: none;
}
.spz-2041 .products-boxes .products-single-box .product-text .prod-info:hover .info-hover {
  display: block;
}
.spz-2041 .products-boxes .products-single-box .product-text .prod-cross {
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  bottom: -12px;
  right: 20px;
  background: none;
  outline: 0;
  border: 0;
}
@media (max-width: 767.98px) {
  .spz-2041 .products-boxes .products-single-box .product-text .prod-cross {
    bottom: -10px;
  }
}
.spz-2041 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box button {
  transition: all 0.2s ease;
}
.spz-2041 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box button:hover {
  opacity: 0.9;
}
.spz-2041 .products-boxes .products-single-box .product-text > a {
  transition: all 0.2s ease;
}
.spz-2041 .products-boxes .products-single-box.active > .prod-card .product-image {
  opacity: 0;
  pointer-events: none;
  transform: rotateY(180deg);
}
.spz-2041 .products-boxes .products-single-box.active > .prod-card .prod-feature {
  opacity: 1;
  transform: rotateY(0deg);
  pointer-events: all;
}
.spz-2041 .products-boxes .products-single-box .product-text > a:hover {
  opacity: 0.9;
}
.spz-2041 .products-boxes .products-single-box .product-text .product-pricing {
  display: flex;
  flex-direction: column;
}
.spz-2041 .products-boxes .products-single-box .product-text .product-pricing .price {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
}
.spz-2041 .products-boxes .products-single-box .product-text .product-pricing .price .per-month {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #757575;
}
.spz-2041 .products-boxes .products-single-box .product-pricing span#savetext.show-save {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #b83436;
  text-transform: uppercase;
  padding-top: 4px;
}
.spz-2041 .products-boxes .products-single-box .product-text button.enroll-now-spz {
  background: #ec7923;
  border-radius: 4px;
  max-width: 100px;
  width: 100%;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  border: none;
  box-sizing: border-box;
}
.spz-2041 .products-boxes .products-single-box .product-text button.enroll-now-spz:hover {
  background-color: #c8661d;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.spz-2041 .products-boxes .products-single-box .product-text button.enroll-now-spz svg {
  display: none;
  margin-left: 5px;
  position: relative;
  left: 4px;
}
.spz-2041 .noproducts-wrapper,
.spz-2041 .products-wrapper {
  padding: 49px 0 80px;
}
.spz-2041 .noproducts-inner p {
  text-align: center;
  margin-bottom: 0;
}
.spz-2041 .see-more {
  text-align: center;
  margin-top: 24px;
  cursor: pointer;
}
.spz-2041 .see-more > span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #ec7923;
}
.spz-2041 .see-more > span::before {
  content: "See More";
  margin-right: 3px;
}
.spz-2041 .show-all + .see-more > span::before {
  content: "See Less";
  margin-right: 3px;
}
.spz-2041 .show-all + .see-more > span svg {
  transform: rotate(180deg);
}
.spz-2041 .see-more > span > svg {
  margin-left: 3px;
}
.spz-2041 .see-more > span:hover {
  opacity: 0.8;
}
.spz-2041 form input.search-zipcode {
  /*max-width: 120px;*/
  height: 40px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.spz-2041 .page-wrap.product-list {
  display: none;
}
.spz-2041 .error-zipcode.invalid-error[class] {
  text-align: left;
  margin: 0 auto;
  position: relative;
  left: 0;
}
@media (max-width: 766.98px) {
  .spz-2041 .error-zipcode.invalid-error[class] small.error-text[class] {
    margin-top: 0.5rem;
  }
}
.spz-2041 .banner-box .content-box .banner-content-box .how-it-work-area {
  padding: 10px 0 0 !important;
}

@media (max-width: 1219.98px) {
  .spz-2041 .noproducts-inner,
  .spz-2041 .products-inner {
    max-width: 912px;
  }
}
@media (max-width: 1023.98px) {
  .spz-2041 .noproducts-wrapper,
  .spz-2041 .products-wrapper {
    padding: 37px 0 76px;
  }
  .spz-2041 .products-boxes {
    align-items: normal;
  }
  .spz-2041 .noproducts-inner,
  .spz-2041 .products-inner {
    max-width: 632px;
  }
  .spz-2041 .products-title h2 {
    margin-bottom: 36px;
  }
  .spz-2041 .products-boxes .products-single-box {
    margin: 0 18px;
    margin-bottom: 36px;
  }
  .spz-2041 .products-boxes.justify-content-center .products-single-box {
    margin: 0 11px 22px;
  }
  .spz-2041 .product-list-area > .page-wrap.set-pad > .product-list-header .zipcode-box {
    padding-top: 24px;
  }
}
@media (max-width: 599.98px) {
  .spz-2041 .noproducts-wrapper,
  .spz-2041 .products-wrapper {
    padding: 22px 0 52px;
  }
  .spz-2041 .noproducts-inner,
  .spz-2041 .products-inner {
    padding: 0 20px;
  }
  .spz-2041 .products-title h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 26px;
  }
  .spz-2041 .products-boxes .products-single-box {
    margin: 0;
    max-width: 100%;
    margin-bottom: 36px;
  }
  .spz-2041 .products-boxes .products-single-box .product-text button {
    max-width: 100%;
  }
  .spz-2041 .products-boxes .products-single-box .product-text .product-pricing > span:last-child {
    justify-content: space-between;
    width: 100%;
  }
  .spz-2041 .products-boxes .products-single-box .product-text > h1 {
    min-height: 146px;
  }
}
@media (max-width: 359.98px) {
  .spz-2041 .products-boxes .products-single-box .product-text .product-pricing {
    font-size: 20px;
  }
  .spz-2041 .products-boxes .products-single-box .product-text .product-pricing > span:last-child {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .spz-2041 .banner-box .banner {
    height: 350px !important;
  }
}