input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #415364 !important;
}

.spz-form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999999;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  -webkit-animation: slideOutTop 0.25s;
          animation: slideOutTop 0.25s;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.spz-form-container .spz-form-inner .spz-form-content {
  border-radius: 24px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(65, 83, 100, 0.08);
          box-shadow: 0px 4px 16px 0px rgba(65, 83, 100, 0.08);
  max-width: 600px;
  width: 100%;
  margin: 64px auto;
  padding: 40px;
  position: relative;
}
@media screen and (max-width: 767.98px) {
  .spz-form-container .spz-form-inner .spz-form-content {
    border-radius: 16px;
    -webkit-box-shadow: 0px 8px 40px 0px rgba(65, 83, 100, 0.16);
            box-shadow: 0px 8px 40px 0px rgba(65, 83, 100, 0.16);
    width: calc(100% - 42px);
    max-width: 500px;
    padding: 24px 16px;
  }
}
.spz-form-container .spz-form-inner .spz-form-content .spz-form-title {
  color: #415364;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .spz-form-container .spz-form-inner .spz-form-content .spz-form-title {
    font-size: 26px;
    line-height: 1.2;
  }
}
.spz-form-container .spz-form-inner .spz-form-content .spz-close-modal {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 767.98px) {
  .spz-form-container .spz-form-inner .spz-form-content .spz-close-modal {
    top: 12px;
    right: 12px;
  }
}
.spz-form-container .spz-form-inner .spz-form-content .spz-close-modal svg {
  pointer-events: none;
}
.spz-form-container .spz-form-inner .spz-form-content .spz-close-modal:hover svg path {
  stroke: rgb(0, 113, 206);
}
.spz-form-container .spz-form-inner .spz-form-content .column__inner .mkto-wrap {
  min-height: unset;
}

.spz_3002.spz-show-modal {
  overflow: hidden;
  position: relative;
}
.spz_3002.spz-show-modal #drift-frame-controller {
  z-index: 99 !important;
}
.spz_3002.spz-show-modal #drift-frame-chat {
  z-index: 99 !important;
}
.spz_3002.spz-show-modal #sp-050-modal {
  display: none;
}
.spz_3002.spz-show-modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(134deg, rgba(0, 51, 161, 0.5) 38.16%, rgba(0, 79, 181, 0.5) 64.91%, rgba(0, 113, 206, 0.5) 100.05%);
  -webkit-backdrop-filter: blur(4.1999998093px);
          backdrop-filter: blur(4.1999998093px);
  z-index: 9999999999;
}
.spz_3002.spz-show-modal .spz-form-container {
  -webkit-animation: slideInRight 0.5s;
          animation: slideInRight 0.5s;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slideOutTop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes slideOutTop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
.spz_3002 #contact-us,
.spz_3002 #footer-cta,
.spz_3002 #get-started {
  display: none !important;
}

.spz_3002 #mktoForm_1017.mktoForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100% !important;
  max-width: 520px;
  margin: 23px auto 0;
}
@media screen and (max-width: 767.98px) {
  .spz_3002 #mktoForm_1017.mktoForm {
    margin: 16px auto 0;
  }
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow,
.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.spz-full-width {
  width: 100%;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.row_Email,
.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.row_FirstName,
.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.row_LastName,
.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.row_Title,
.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.row_Company,
.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.row_Phone,
.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.row_Country,
.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.row_State,
.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.row_reasonforInquiry,
.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.row_Number_of_Employees__c {
  width: calc(50% - 8px);
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.row_Country + .mktoFormRow {
  display: block;
  width: calc(50% - 8px);
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.spz-full-width {
  width: 100%;
}

.spz_3002 #mktoForm_1017.mktoForm > div:not([class]):not([id]),
.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.row_Phone:has(.mktoPlaceholderPhone),
.spz_3002 #mktoForm_1017.mktoForm .mktoFormRow.row_Number_of_Employees__c:has(.mktoPlaceholderNumber_of_Employees__c) {
  display: none;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFormCol {
  margin: 0 !important;
  width: 100% !important;
}
.spz_3002 #mktoForm_1017.mktoForm .mktoFormCol .mktoOffset,
.spz_3002 #mktoForm_1017.mktoForm .mktoFormCol .mktoGutter {
  display: none;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap {
  position: relative;
  margin-bottom: 16px;
  width: 100% !important;
}
@media screen and (max-width: 767.98px) {
  .spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap {
    margin-bottom: 12px;
  }
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap label.mktoLabel:not(#LblreceivingAdvertisingInformation) {
  color: #415364 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 2px 4px;
  position: absolute;
  top: 12px;
  left: 12px;
  background: #fff;
  width: calc(100% - 60px) !important;
  height: auto;
  pointer-events: none;
  -webkit-transition: color 0.3s ease-in-out, top 0.3s ease-in-out, font-size 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, top 0.3s ease-in-out, font-size 0.3s ease-in-out;
  z-index: 9;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap label.mktoLabel .mktoAsterix {
  display: none !important;
}

.spz_3002 #mktoForm_1017.mktoForm .field-12 .mktoFieldWrap label.mktoLabel {
  top: 14px;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap:hover label.mktoLabel,
.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap:hover label.mktoLabel .mktoAsterix {
  color: #415364 !important;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap.filled:not(.active):not(.error) label.mktoLabel:not(#LblreceivingAdvertisingInformation),
.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap.filled:not(.active):not(.error) label.mktoLabel:not(#LblreceivingAdvertisingInformation) .mktoAsterix {
  color: #415364 !important;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap.active.typing label.mktoLabel:not(#LblreceivingAdvertisingInformation),
.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap.filled label.mktoLabel:not(#LblreceivingAdvertisingInformation) {
  width: auto !important;
  top: -11px;
  background: #fff;
  color: #0071ce !important;
  font-size: 12px;
  font-weight: 600;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap.active.typing label.mktoLabel .mktoAsterix,
.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap.active.typing label.mktoLabel .mktoAsterix {
  color: #0071ce !important;
}

/* .spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap.error label.mktoLabel,
.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap.error label.mktoLabel .mktoAsterix,
.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap.error.active.typing label.mktoLabel,
.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap.error.active.typing label.mktoLabel .mktoAsterix {
    color: #E6241E !important;
} */
.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap .mktoField:not([type=checkbox]) {
  width: 100% !important;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 16px;
  margin: 0 !important;
  border: 1px solid #dae1e9;
  border-radius: 4px;
  outline: none;
  background: #fff;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #415364 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap textarea.mktoField:not([type=checkbox]) {
  min-height: 88px;
  overflow-y: auto !important;
  white-space: normal !important;
}
@media screen and (max-width: 767.98px) {
  .spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap textarea.mktoField:not([type=checkbox]) {
    min-height: 80px;
  }
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap:not(.active):not(.typing):not(.filled) select.mktoField {
  color: transparent !important;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap select.mktoField {
  padding-right: 37px !important;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap select.mktoField option:first-child {
  display: none !important;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap:hover .mktoField:not([type=checkbox]) {
  border-color: #415364;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap.active.typing .mktoField:not([type=checkbox]) {
  border-color: #0071ce;
  outline: 1px solid #0071ce;
}

/* .spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap.error .mktoField:not([type="checkbox"]) {
    border-color: #E6241E !important;
} */
.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap .mktoError {
  position: relative;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
  margin: 0 0 !important;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap .mktoError .mktoErrorMsg {
  /* color: #FFF; */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
  background: transparent;
  text-shadow: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap .select-wrapper {
  margin: 0 !important;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoCheckboxList {
  margin: 2px 0 0 !important;
}
@media screen and (max-width: 767.98px) {
  .spz_3002 #mktoForm_1017.mktoForm .mktoCheckboxList {
    margin: 8px 0 0 !important;
  }
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap .select-wrapper::after {
  position: absolute;
  content: "";
  background-image: url("https://res.cloudinary.com/spiralyze/image/upload/v1730978539/sailpoint/1001/icons__system.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 10px;
  top: 20px;
  right: 16px;
  pointer-events: none;
  z-index: 9;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap .select-wrapper .select-dropdown {
  display: none;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoFieldWrap .mktoError .mktoErrorArrowWrap {
  display: none !important;
}

.spz_3002 #mktoForm_1017.mktoForm .row_FirstName0 .mktoFieldWrap label.mktoLabel {
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  background: transparent;
  color: #fff !important;
  top: unset;
  left: unset;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoCheckboxList input[type=checkbox] {
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  border-radius: 4px;
  outline: none;
  padding: 0;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoCheckboxList label {
  position: relative;
  color: #415364 !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  padding-left: 12px;
  padding-right: 0;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  margin: 0;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoButtonRow {
  width: 100%;
  margin-top: 6px;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoButtonRow .mktoButton {
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #0071ce;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoButtonRow .mktoButton:hover {
  background: #005daa;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoCaptchaDisclaimer {
  padding: 0;
  color: #415364;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.05px;
}
@media screen and (max-width: 767.98px) {
  .spz_3002 #mktoForm_1017.mktoForm .mktoCaptchaDisclaimer {
    max-width: 100%;
  }
}

.spz_3002 .disclaimer {
  margin: 8px auto 0;
  padding: 0;
  color: #415364;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}
@media screen and (max-width: 767.98px) {
  .spz_3002 .disclaimer {
    max-width: 100%;
  }
}

.spz_3002 .disclaimer a {
  color: #0071ce;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  text-decoration-line: underline;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-underline-offset: 1px;
}
.spz_3002 .disclaimer a:hover {
  font-weight: 600;
  text-decoration: none;
}
.spz_3002 .disclaimer a:active {
  border-radius: 4px;
  border: 1px solid #0071ce;
  background: rgba(0, 113, 206, 0.05);
  padding: 1px;
  text-decoration: none;
}

.spz_3002 #mktoForm_1017.mktoForm .mktoCaptchaDisclaimer a:hover,
.spz_3002 .disclaimer a:hover,
.spz_3002 #mktoForm_1017.mktoForm .mktoCaptchaDisclaimer a:active,
.spz_3002 #mktoForm_1017.mktoForm .mktoCaptchaDisclaimer a:focus-visible,
.spz_3002 .disclaimer a:active,
.spz_3002 .disclaimer a:focus-visible {
  text-decoration: none;
}

@media (max-width: 1023.98px) {
  .spz_3002 {
    padding-bottom: 39px;
  }
  .spz_3002 .row__inner.container {
    gap: 64px;
  }
  .spz_3002 .row__inner.container > .column:first-child {
    padding-top: 4px;
  }
  .spz_3002 .row__inner.container > .column:nth-child(02) {
    width: 362px;
  }
  .spz_3002 .row__inner.container > .column:nth-child(03) {
    display: none;
  }
  .spz_3002 .disclaimer {
    max-width: unset;
  }
}
@media (max-width: 767.98px) {
  .spz_3002 {
    padding-bottom: 63px;
  }
  .spz_3002 .row__inner.container {
    gap: 46px;
    padding: 0 20px;
  }
  .spz_3002 .row__inner.container > .column:first-child {
    padding-top: 0;
  }
  .spz_3002 .row__inner.container > .column:nth-child(02) {
    width: 100%;
  }
  .spz_3002 #mktoForm_1017.mktoForm .mktoFormRow {
    width: 100% !important;
  }
}
html.spz-no-scroll {
  overflow: hidden;
}

.spz_3002 #page-container .page-transition .hero {
  background: linear-gradient(124deg, rgba(84, 192, 232, 0.5) -18.44%, rgba(84, 192, 232, 0.18) 47.83%, rgba(84, 192, 232, 0) 84.18%), #fff;
}
.spz_3002 #page-container .page-transition .hero .hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
  max-width: 1332px;
}
@media (max-width: 1059.98px) {
  .spz_3002 #page-container .page-transition .hero .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap {
  margin-top: 53px;
  -ms-flex-preferred-size: 46.3%;
      flex-basis: 46.3%;
}
@media (max-width: 1059.98px) {
  .spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap {
    margin-top: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap .hero__content,
.spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap .hero__buttons {
  display: none;
}
.spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap .hero__eyebrow {
  color: #415364;
  font-family: __Poppins_d55420, __Poppins_Fallback_d55420, Helvetica, Arial, "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 12px;
}
@media (max-width: 1059.98px) {
  .spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap .hero__eyebrow {
    margin: 0 0 13px;
  }
}
.spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap .hero__heading {
  color: #0033a1;
  font-family: __Poppins_d55420, __Poppins_Fallback_d55420, Helvetica, Arial, "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 16px;
}
@media (max-width: 1059.98px) {
  .spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap .hero__heading {
    font-size: 44px;
    line-height: 120%;
  }
}
@media (max-width: 767.98px) {
  .spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap .hero__heading {
    margin: 0 0 19px;
  }
}
.spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap .hero__short-desc {
  color: #415364;
  font-family: __Poppins_d55420, __Poppins_Fallback_d55420, Helvetica, Arial, "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin: 0 0 15px;
}
.spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap .hero__list {
  padding: 0;
  margin-bottom: 26px;
}
@media (max-width: 767.98px) {
  .spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap .hero__list {
    margin-bottom: 27px;
  }
}
.spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap .hero__list li {
  padding-left: 36px;
  position: relative;
  color: #415364;
  font-family: __Poppins_d55420, __Poppins_Fallback_d55420, Helvetica, Arial, "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin: 0 0 14px;
}
.spz_3002 #page-container .page-transition .hero .hero__container .hero__content-wrap .hero__list li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Crect width='24' height='24' rx='12' fill='%230033A1'/%3E%3Cpath d='M17.7465 8.25303C17.667 8.17285 17.5724 8.10922 17.4682 8.06579C17.3639 8.02236 17.2521 8 17.1392 8C17.0263 8 16.9144 8.02236 16.8102 8.06579C16.706 8.10922 16.6114 8.17285 16.5318 8.25303L10.159 14.6344L7.48152 11.9484C7.39895 11.8687 7.30148 11.806 7.19468 11.7639C7.08788 11.7218 6.97383 11.7011 6.85905 11.7031C6.74427 11.7051 6.631 11.7297 6.52572 11.7754C6.42044 11.8212 6.3252 11.8873 6.24544 11.9698C6.16568 12.0524 6.10297 12.1499 6.06088 12.2567C6.01879 12.3635 5.99814 12.4775 6.00013 12.5923C6.00212 12.7071 6.02669 12.8203 6.07245 12.9256C6.11821 13.0309 6.18426 13.1261 6.26682 13.2059L9.55163 16.4907C9.63115 16.5709 9.72576 16.6345 9.83 16.6779C9.93424 16.7214 10.046 16.7437 10.159 16.7437C10.2719 16.7437 10.3837 16.7214 10.4879 16.6779C10.5922 16.6345 10.6868 16.5709 10.7663 16.4907L17.7465 9.51049C17.8334 9.43039 17.9026 9.33317 17.95 9.22496C17.9974 9.11675 18.0219 8.9999 18.0219 8.88176C18.0219 8.76363 17.9974 8.64677 17.95 8.53856C17.9026 8.43035 17.8334 8.33313 17.7465 8.25303Z' fill='white'/%3E%3C/svg%3E");
  background-size: contain;
}
.spz_3002 #page-container .page-transition .hero .hero__container .hero__image-wrapper {
  -ms-flex-preferred-size: 51.4%;
      flex-basis: 51.4%;
}
@media (max-width: 1059.98px) {
  .spz_3002 #page-container .page-transition .hero .hero__container .hero__image-wrapper {
    max-width: 660px;
    margin: 4px auto 0;
  }
}
@media (max-width: 767.98px) {
  .spz_3002 #page-container .page-transition .hero .hero__container .hero__image-wrapper {
    margin: 2px auto 3px;
  }
}
.spz_3002 .spz-email {
  max-width: 511px;
}
.spz_3002 .spz-email .form-group-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  max-width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 767.98px) {
  .spz_3002 .spz-email .form-group-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.spz_3002 .spz-email .form-group-wrapper .form-group-spz {
  position: relative;
  width: calc(100% - 195px);
}
@media (max-width: 767.98px) {
  .spz_3002 .spz-email .form-group-wrapper .form-group-spz {
    width: 100%;
  }
}
.spz_3002 .spz-email .form-group-wrapper .form-group-spz .form-label-spz {
  position: absolute;
  top: calc(50% - 7.5px);
  left: 16px;
  font-size: 16px;
  line-height: 160%;
  overflow: hidden;
  color: #415364;
  text-overflow: ellipsis;
  font-weight: 400;
  pointer-events: none;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
.spz_3002 .spz-email .form-group-wrapper .form-group-spz .form-field-spz {
  width: 100%;
  height: 58px;
  padding: 8px 12px 0px 16px;
  background: #fff;
  border: none;
  overflow: hidden;
  color: #415364;
  text-overflow: ellipsis;
  font-family: __Poppins_d55420, __Poppins_Fallback_d55420, Helvetica, Arial, "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  outline: none;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  border-radius: 4px 0px 0px 4px;
}
@media (max-width: 767.98px) {
  .spz_3002 .spz-email .form-group-wrapper .form-group-spz .form-field-spz {
    border-radius: 4px;
    height: 50px;
  }
}
.spz_3002 .spz-email .form-group-wrapper .form-group-spz .form-field-spz:not(.is-placeholder):not(:focus):not(:-moz-placeholder-shown) ~ label {
  top: 2px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
}
.spz_3002 .spz-email .form-group-wrapper .form-group-spz .form-field-spz:not(.is-placeholder):not(:focus):not(:-ms-input-placeholder) ~ label {
  top: 2px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
}
.spz_3002 .spz-email .form-group-wrapper .form-group-spz .form-field-spz:not(.is-placeholder):not(:focus):not(:placeholder-shown) ~ label {
  top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
}
.spz_3002 .spz-email .form-group-wrapper .form-group-spz .form-field-spz:not([value=""]) ~ .form-label-spz {
  top: calc(50% - 12px);
  left: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
@media (max-width: 767.98px) {
  .spz_3002 .spz-email .form-group-wrapper .form-group-spz .form-field-spz:not([value=""]) ~ .form-label-spz {
    font-size: 14px;
  }
}
.spz_3002 .spz-email .form-group-wrapper .form-group-spz .form-field-spz:focus ~ .form-label-spz {
  top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0071ce;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
}
.spz_3002 .spz-email .form-group-wrapper .hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 195px;
  height: 58px;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .spz_3002 .spz-email .form-group-wrapper .hero-btn {
    width: 100%;
    margin-top: 11.5px;
    height: 48px;
    border-radius: 4px;
  }
}
.spz_3002 .spz-email .form-group-wrapper.spz-input-filled {
  border: 1px solid #DAE1E9;
}
.spz_3002 .social-proof-logos {
  width: 100%;
  max-width: 1330px;
  padding: 0 20px;
  margin: 11px auto 82px;
}
@media (min-width: 1599.98px) {
  .spz_3002 .social-proof-logos {
    max-width: 1288px;
    margin: 8px auto 80px;
  }
}
.spz_3002 .social-proof-logos .social-proof-heading {
  color: #415364;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 24px;
}
@media (max-width: 1199.98px) {
  .spz_3002 .social-proof-logos .social-proof-heading {
    padding-left: 20px;
  }
}
.spz_3002 .social-proof-logos .social-proof-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.spz_3002 .social-proof-logos .social-proof-images img {
  width: auto;
  height: 58px;
  -o-object-fit: contain;
     object-fit: contain;
}
.spz_3002 .social-proof-logos .social-proof-images img.repeat-img {
  display: none;
}
@media (max-width: 1199.98px) {
  .spz_3002 .social-proof-logos {
    max-width: unset;
    padding: 0;
    margin: 12px auto 42px;
    position: relative;
    overflow: hidden;
  }
  .spz_3002 .social-proof-logos .social-proof-images {
    overflow-x: hidden; /* Hide scrollbar */
    overflow-y: hidden;
    white-space: nowrap;
  }
  .spz_3002 .social-proof-logos .social-proof-heading {
    text-align: center;
    padding: 0;
  }
  .spz_3002 .social-proof-logos .social-proof-images img {
    width: 100%;
    max-width: 120px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .spz_3002 .social-proof-logos .social-proof-images img.repeat-img {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .spz_3002 .social-proof-logos {
    margin: 8px auto 40px;
  }
  .spz_3002 .social-proof-logos .social-proof-heading {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 23px;
  }
  .spz_3002 .social-proof-logos:before,
  .spz_3002 .social-proof-logos:after {
    height: 48px;
  }
  .spz_3002 .social-proof-logos .social-proof-images {
    gap: 0 16px;
  }
  .spz_3002 .social-proof-logos .social-proof-images img {
    max-width: 99.31px;
    height: 48px;
  }
}
.spz_3002 .mktoForm input[type=checkbox] {
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  border-radius: 4px;
  outline: none;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1184px);
    transform: translateX(-1184px);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1184px);
    transform: translateX(-1184px);
  }
}