body.spz-5006 {
  .entry-content {
    .spz-webinar-slider-section {
      max-width: 1280px;
      margin: auto;
      background-color: #0057d6;
      position: relative;
      margin-top: 83px;
      margin-bottom: 59px;

      @media (min-width: 767.98px) and (max-width: 1023.98px) {
        margin-top: 75px;
        max-width: 668px;
        padding: 70px 50px 22px;
      }

      @media (max-width: 767.98px) {
        margin-top: 49px;
        max-width: 345px;
        padding: 50px 20px;
      }

      .webinar-section-title {
        padding-top: 77px;
        @media (max-width: 1023.98px) {
          padding-top: 0;
        }

        h3 {
          color: #fff;
          text-align: center;
          font-size: 36px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%; /* 50.4px */
          letter-spacing: -0.72px;
          max-width: 800px;
          margin: auto;
          @media (max-width: 767.98px) {
            font-size: 28px;
            letter-spacing: -0.56px;
          }
        }
      }

      .webinar-slider-parent {
        margin-top: 45px;
        // padding: 0 110px;
        max-width: 980px;
        position: relative;
        padding-bottom: 35px;

        @media (min-width: 1023.98px) and (max-width: 1223.98px) {
          max-width: 768px;
        }

        @media (min-width: 767.98px) and (max-width: 1023.98px) {
          padding-bottom: 0px;
        }

        @media (max-width: 767.98px) {
          margin: auto;
          padding: 0px;
          margin-top: 40px;
          padding-bottom: 20px;
          max-width: 500px;
        }

        .webinar-slider-container {
          opacity: 0;
        }

        .webinar-slide {
          display: flex;
          justify-content: center;
          align-items: center;

          @media (max-width: 1023.98px) {
            flex-direction: column;
          }

          .slider-img {
            width: 482px;
            margin-left: -21px;

            img {
              width: 100%;
              height: auto;
            }

            @media (min-width: 767.98px) and (max-width: 991.98px) {
              margin-left: 0;
              width: 484px;
            }
            @media (max-width: 767.98px) {
              margin-left: -11px;
              margin-right: -11px;
            }
          }

          .slider-content {
            max-width: 480px;
            margin-left: auto;
            min-height: 244px;
            padding-right: 8px;
            padding-top: 4px;

            @media (min-width: 1023.98px) and (max-width: 1223.98px) {
              max-width: 382px;
            }

            @media (min-width: 767.98px) and (max-width: 1023.98px) {
              max-width: 460px;
              margin-left: auto;
              margin-right: auto;
              padding-right: 0;
              text-align: center;
              padding-top: 40px;
            }

            @media (max-width: 767.98px) {
              margin-top: 6px;
              padding-right: 2px;
            }

            h6 {
              color: #fff;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 33.6px */
              letter-spacing: -0.4px;
              text-transform: none;
              margin-bottom: 20px;
              @media (max-width: 767.98px) {
                font-size: 24px;
                letter-spacing: -0.012em;
              }
            }

            p {
              color: #fff !important;
              font-size: 18px !important;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 27px */
              color: #ffffff;

              @media (max-width: 767.98px) {
                font-size: 18px;
                letter-spacing: -0.012em;
              }
            }

            .slider-cta {
              margin-top: 40px;
              @media (max-width: 767.98px) {
                margin-top: 39.5px;
              }
              a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 62px;
                padding: 16px 32px;
                border-radius: 100px;
                background: #000;
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 19.2px */
                white-space: nowrap;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                  background: #29a9e1;
                }

                @media (max-width: 1023.98px) {
                  margin-left: auto;
                  margin-right: auto;
                }

                @media (max-width: 767.98px) {
                  width: 100%;
                }
                @media (min-width: 767.98px) {
                  &.lg-cta {
                    width: 201px;
                  }
                  &.sm-cta {
                    width: 171px;
                  }
                }
              }
            }
          }
        }
      }
      .swiper-prev {
        position: absolute;
        left: 7%;
        top: calc(50% + 67px);
        outline: transparent;
        z-index: 1;
        .unhovered {
          display: block;
        }
        .hovered {
          display: none;
        }

        &:hover {
          .hovered {
            display: block;
          }
          .unhovered {
            display: none;
          }
        }

        &::after,
        &::before {
          display: none;
        }

        @media (min-width: 767.98px) and (max-width: 1023.98px) {
          left: 49px;
          // top: calc(50% + 25px);
        }

        @media (max-width: 767.98px) {
          top: auto;
          bottom: -54px;
          left: calc(50% - 47px);
        }
      }
      .swiper-next {
        position: absolute;
        right: 7%;
        top: calc(50% + 67px);
        outline: transparent;
        z-index: 1;
        .unhovered {
          display: block;
        }
        .hovered {
          display: none;
        }

        &:hover {
          .hovered {
            display: block;
          }
          .unhovered {
            display: none;
          }
        }

        &::after,
        &::before {
          display: none;
        }

        @media (min-width: 767.98px) and (max-width: 1023.98px) {
          right: 49px;
          // top: calc(50% + 25px);
        }

        @media (max-width: 767.98px) {
          top: auto;
          bottom: -48px;
          right: calc(50% - 46px);
        }
      }

      & + .wp-block-genesis-blocks-gb-columns {
        .wrap-internal-sections {
          @media (max-width: 782.98px) {
            padding-top: 16px !important;
          }
        }
      }
    }
    .wp-block-genesis-blocks-gb-columns:nth-child(4) {
      margin-top: 16px !important;
    }
  }
}
