
    /* #1023 | AWR | Home | Redesign Coverage- Test Build */
    
    .spz-1023 .plans-wrap .plan-item .plan-show-more {
        padding: 0 32px 35px;
    }
    
    .spz-1023 .plans-wrap .plan-item .plan-show-more h3 {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #757575;
        margin-bottom: 11px;
    }
    
    .spz-1023 .plans-wrap .plan-show-more .items .item {
        position: relative;
        list-style: none;
        padding-left: 0;
        padding-right: 10px;
        margin-bottom: 6px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #757575;
        display: flex;
        align-items: flex-start;
    }
    
    .spz-1023 .plans-wrap .plan-show-more .items .item img {
        width: 20px;
        margin-right: 12px;
        margin-top: 2px;
    }
    
    .spz-1023 .plans-wrap .plan-show-more .showMore {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #757575;
        margin: 7px 0 0;
        padding: 0;
        display: inline-block;
    }
    
    .spz-1023 .plans-wrap .plan-show-more .showMore:hover {
        color: #000000;
    }
    
    .spz-1023 .plans-wrap .plan-show-more .expandible .showmore li:before {
        display: none;
    }
    
    .spz-1023 .plans-wrap .plan-show-more .expandible>.showmore {
        margin-top: 13px;
        display: block;
    }
    
    .spz-1023 .plans-wrap .plan-show-more .showMore::after {
        content: "See More";
    }
    
    .spz-1023 .plans-wrap .plan-show-more .showMore.showLess::after {
        content: "See Less";
    }
    
    .spz-1023 .plan-show-more .showMore.showLess {
        margin-top: 13px;
        display: block;
    }
    
    .spz-1023 .plans-wrap .plan-item.recommended .plan-name br {
        display: none;
    }
    
    @media (max-width: 767.98px) {
        .spz-1023 .plans-wrap .plan-item .plan-show-more {
            padding: 0 32px 35px;
        }
        .spz-1023 .plans-wrap .plan-item.recommended .plan-name br {
            display: block;
        }
    }
    /* #1023 | AWR | Home | Redesign Coverage- Test Build */
