$color_1: #000000;
$color_2: #0580e8;
$color_3: #ffffff;
$color_4: #727272;
$color_5: #454545;
$color_6: transparent;
$color_7: #000;
$color_8: #d53641;
$color_9: #fff;
$color_10: #c0ff60;
$color_11: #f97f70;
$color_12: #444444;
$font-family_1: monospace, monospace;
$font-family_2: "Darker Grotesque", sans-serif;
$font-family_3: "Inter", sans-serif;
$font-family_4: "Inter", sans-serif;
$font-family_5: "Inter", sans-serif;
$background-color_1: transparent;
$background-color_2: #d53641;
$background-color_3: #000;
$border-color_1: #d7d7d7;
$border-color_2: #d53641;
$border-color_3: #0580e8;

@import "https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  #main-content {
    .container-fluid {
      .dnd_area-row-0-max-width-section-centering {
        padding: 0;
        .row-fluid {
          width: initial !important;
          max-width: initial !important;
        }
      }
    }
  }
  .form-wrapper-spz {
    .hbspt-form {
      form {
        fieldset {
          .field.field-focus {
            .input {
              .hs-input {
                &:focus ~ .hs-label-spz {
                  color: $color_2 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
main {
  display: block;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: $font-family_1;
  font-size: 1em;
}
a {
  background-color: $background-color_1;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b {
  font-weight: bolder;
}
strong {
  font-weight: bolder;
}
code {
  font-family: $font-family_1;
  font-size: 1em;
}
kbd {
  font-family: $font-family_1;
  font-size: 1em;
}
samp {
  font-family: $font-family_1;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
img {
  border-style: none;
}
.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1328px;
  position: relative;
}
.dis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header {
  display: none !important;
}
footer {
  display: none !important;
}
.osano-cm-widget[title="Cookie Preferences"] {
  display: none !important;
}
.header-nav {
  padding: 40px 0 33px;
  border-bottom: 1px solid #bebebe;
}
.hero-content {
  padding-top: 80px;
  padding-bottom: 112px;
  .hero-left-section {
    width: 50%;
    max-width: 615px;
  }
  .hero-right-section {
    width: 50%;
    max-width: 623px;
  }
}
.hero-section {
  .hero-content {
    .hc-title {
      font-family: $font-family_2;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 56px;
      letter-spacing: -1px;
      color: $color_1;
      padding-left: 16px;
      position: relative;
      margin: 0 0 28px;
      border-left: 8px solid #0580e8;
      span {
        color: $color_2;
      }
    }
    .sr-img {
      margin: 0 12px;
    }
    .sr-number {
      font-family: $font-family_3;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 24px;
      color: $color_1;
      strong {
        font-weight: 600;
      }
    }
  }
  .list-grp-wrapper {
    .list-group {
      position: relative;
      list-style: none;
      margin-top: 40px;
      padding: 0;
      padding-right: 4px;
      &::after {
        position: absolute;
        content: "";
        width: 238px;
        height: 72px;
        background: url("//res.cloudinary.com/spiralyze/image/upload/v1683717803/drata/7001/arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        right: -206px;
        bottom: -42px;
      }
      .list-item {
        &::before {
          position: absolute;
          content: "";
          width: 32px;
          height: 32px;
          background-size: contain;
          background-repeat: no-repeat;
          top: 0;
          left: 0;
        }
        &:nth-child(01) {
          &:before {
            background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1683720720/drata/8001/customize_your_security_page_2.svg");
          }
        }
        &:nth-child(02) {
          &:before {
            background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1683720720/drata/8001/support_and_real-time_answers_2.svg");
          }
        }
        &:nth-child(03) {
          &:before {
            background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1683720721/drata/8001/security_reports_2.svg");
          }
        }
        position: relative;
        padding-left: 52px;
        margin: 0 0 28px 0;
        font-family: $font-family_3;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        color: $color_1;
        strong {
          width: 100%;
          display: block;
          font-weight: 800;
          font-size: 24px;
          letter-spacing: -0.24px;
          font-family: $font-family_2;
          margin-bottom: 12px;
        }
      }
    }
  }
  .form-wrapper-spz {
    position: relative;
    padding: 40px 32px 48px;
    background: #0580e8;
    border-radius: 8px;
    &::before {
      position: absolute;
      content: "";
      height: 103.6px;
      width: 439.1px;
      top: -52px;
      right: -87.5px;
      background: url("//res.cloudinary.com/spiralyze/image/upload/v1683718084/drata/7001/dots__v2.svg");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
  .form-title-spz {
    font-family: $font-family_2;
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    color: $color_3;
    text-align: center;
    margin: 0 auto 32px;
    letter-spacing: -0.48px;
    max-width: 489px;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: none;
    background: transparent;
    padding: 0;
    fieldset {
      max-width: unset;
      width: calc(50% - 8px);
      &:nth-child(5) {
        display: none;
      }
      .field {
        position: relative;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        .input {
          width: 100%;
          margin: 0 0 24px;
          position: relative;
        }
        input {
          width: 100% !important;
          height: 56px;
          background: #ffffff;
          border: 1px solid #d7d7d7;
          border-radius: 4px;
          outline: none;
          padding: 22px 16px 8px;
          font-family: $font-family_3;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: $color_7 !important;

          @media (min-width: 1199.98px) and (max-width: 1216.98px) {
            padding-left: 12px;
          }
          &:hover {
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            + {
              label.hs-label-spz {
                color: $color_5;
              }
            }
          }
        }
        select {
          width: 100% !important;
          height: 56px;
          background: #ffffff;
          border: 1px solid #d7d7d7;
          border-radius: 4px;
          outline: none;
          padding: 22px 16px 8px;
          font-family: $font-family_3;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: $color_1;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: #fff
            url(//res.cloudinary.com/spiralyze/image/upload/v1683867771/drata/7001/dropdown_arrow.svg)
            no-repeat calc(100% - 16px) 50%;

          @media (min-width: 1199.98px) and (max-width: 1216.98px) {
            padding-left: 12px;
          }

          &:hover {
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            + {
              label.hs-label-spz {
                color: $color_5;
              }
            }
          }
          &:focus {
            background: #fff
              url(//res.cloudinary.com/spiralyze/image/upload/v1683867771/drata/7001/dropdown_arrow_up.svg)
              no-repeat calc(100% - 16px) 50%;
          }
          option {
            color: $color_7 !important;
          }
        }
        select.is-placeholder {
          color: $color_6 !important;
          &:focus {
            color: $color_7 !important;
          }
        }
      }
      .hs-fieldtype-checkbox {
        max-width: 368px;
        .hs-field-desc {
          font-family: $font-family_3;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $color_3;
          margin-bottom: 8px;
          padding: 0;
        }
        ul.inputs-list {
          margin: 0;
          padding: 0;
          list-style: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          li.hs-form-checkbox {
            margin-bottom: 8px;
            margin-right: 64px;
            margin-top: 0;
            &:nth-child(1) {
              -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
              order: 1;
              margin-right: 93px;
            }
            &:nth-child(2) {
              -webkit-box-ordinal-group: 5;
              -ms-flex-order: 4;
              order: 4;
            }
            &:nth-child(3) {
              -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
              order: 2;
            }
            &:nth-child(4) {
              -webkit-box-ordinal-group: 6;
              -ms-flex-order: 5;
              order: 5;
            }
            &:nth-child(5) {
              -webkit-box-ordinal-group: 4;
              -ms-flex-order: 3;
              order: 3;
              margin-right: 0;
            }
          }
          input {
            position: absolute;
            width: 0 !important;
            height: 0;
            opacity: 0;
            &:checked {
              + {
                span {
                  &::before {
                    background: url("https://res.cloudinary.com/spiralyze/image/upload/v1681206084/drata/6001/Checkmark.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    border: none;
                  }
                }
              }
            }
          }
          span {
            font-family: $font-family_4;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $color_3;
            padding-left: 24px;
            position: relative;
            &::before {
              position: absolute;
              content: "";
              width: 16px;
              height: 16px;
              top: 50%;
              left: 0;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
              background: rgba(255, 255, 255, 0.08);
              border: 1px solid rgba(255, 255, 255, 0.4);
              border-radius: 4px;
            }
          }
        }
      }
    }
    fieldset.form-columns-0 {
      display: none;
    }
    fieldset.form-columns-2 {
      width: 100%;
      max-width: unset;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      .field {
        width: calc(50% - 8px);
      }
    }
    .hs-submit {
      width: 100%;
    }
    .hs_error_rollup {
      width: 100%;
      text-align: center;
      display: none;
      label.hs-main-font-element {
        padding: 0;
        margin: 0;
        font-family: $font-family_4;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: $color_11;
      }
    }
  }
}
.form-wrapper-spz {
  .hbspt-form {
    form {
      fieldset {
        label {
          padding: 0;
          margin: 0;
        }
        .field {
          label.hs-label-spz {
            position: absolute;
            top: 16px;
            left: 16px;
            padding: 0;
            font-family: $font-family_4;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: $color_4;
            pointer-events: none;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            @media (min-width: 1199.98px) and (max-width: 1216.98px) {
              left: 12px;
            }
          }
          .hs-input {
            &:not([type="checkbox"]) {
              &:not([type="radio"]) {
                &::-webkit-input-placeholder {
                  display: none;
                  color: $color_6;
                }
                &::-moz-placeholder {
                  display: none;
                  color: $color_6;
                }
                &:-ms-input-placeholder {
                  display: none;
                  color: $color_6;
                }
                &::-ms-input-placeholder {
                  display: none;
                  color: $color_6;
                }
                &::placeholder {
                  display: none;
                  color: $color_6;
                }
              }
            }
            &:not(.is-placeholder) {
              &:not(:placeholder-shown) {
                border-color: $border-color_1;
                ~ {
                  label {
                    top: 9px;
                    font-size: 12px;
                    line-height: 16px;
                    color: $color_4;
                  }
                }
              }
              &:not(:-moz-placeholder-shown) {
                ~ {
                  label {
                    top: 9px;
                    font-size: 12px;
                    line-height: 16px;
                    color: $color_2;
                  }
                }
              }
              &:not(:-ms-input-placeholder) {
                ~ {
                  label {
                    top: 9px;
                    font-size: 12px;
                    line-height: 16px;
                    color: $color_2;
                  }
                }
              }
            }
            &:focus {
              border-color: $border-color_3 !important;
              box-shadow: 0px 0px 0px 2px #3799ed;
              ~ {
                label {
                  top: 9px;
                  font-size: 12px;
                  line-height: 16px;
                  color: $color_2 !important;
                }
              }
            }
          }
          .hs-input.invalid.error {
            border-color: $border-color_2 !important;
            &:not(.is-placeholder) {
              &:not(:placeholder-shown) {
                ~ {
                  label {
                    color: $color_8 !important;
                  }
                }
              }
            }
            &:focus {
              border-color: $border-color_3 !important;
              box-shadow: 0px 0px 0px 2px #3799ed;
            }
          }
          select {
            option[value=""] {
              display: none;
            }
          }
        }
      }
      .hs-error-msgs.inputs-list {
        position: absolute;
        display: inline-block;
        background-color: $background-color_2;
        border-radius: 4px;
        list-style: none;
        text-align: center;
        top: calc(70% + 10px);
        margin: 0;
        padding: 8px 13px;
        box-shadow: 0px 2px 8px -5px rgba(129, 24, 24, 0.24),
          0px 10px 40px -5px rgba(129, 24, 24, 0.16);
        z-index: 1;
        &:nth-of-type(n + 2) {
          display: none;
        }
        &:before {
          content: "";
          position: absolute;
          bottom: calc(100% - 1.5px);
          left: calc(50% - 8px);
          background: url("//res.cloudinary.com/spiralyze/image/upload/v1682678739/drata/6002/error-arrow.svg")
            no-repeat;
          width: 16px;
          height: 8px;
          z-index: 2;
        }
        li {
          margin: 0;
        }
        label {
          font-family: $font-family_5;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 14px;
          color: $color_9;
          a {
            font-family: $font-family_5;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 14px;
            color: $color_9;
            word-break: break-word;
            text-decoration: none;
          }
        }
      }
      .actions {
        position: relative;
        max-width: initial;
        // width: 209px;
        width: 100%;
        height: 64px;
        margin: 8px auto 0;
        .hs-button {
          font-family: $font-family_4;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          text-align: center;
          color: $color_9;
          width: 100%;
          height: 64px;
          padding: 15px 62px 16px 30px;
          background: #000;
          border: 1px solid #000;
          border-radius: 4px;
          position: relative;
          cursor: pointer;
          &:hover {
            color: $color_10;
          }
          &:active {
            background: #303030;
            color: $color_10;
            border: 1px solid #303030;
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: 20.5px;
          right: 39.5%;
          width: 24px;
          height: 24px;
          background: url("//res.cloudinary.com/spiralyze/image/upload/v1682086278/drata/6002/cta_arrow.svg")
            no-repeat;
          z-index: 3;
          pointer-events: none;
          @media (min-width: 1216.98px) {
            right: 37.5%;
          }
          @media (min-width: 1199.98px) and (max-width: 1216.98px) {
            right: 36.5%;
          }
        }
      }
    }
  }
}
.hs-input {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 56px white inset !important;
    -webkit-text-fill-color: #000 !important;
    &:hover {
      -webkit-box-shadow: 0 0 0 56px white inset !important;
      -webkit-text-fill-color: #000 !important;
    }
    &:focus {
      -webkit-box-shadow: 0 0 0 56px white inset !important;
      -webkit-text-fill-color: #000 !important;
    }
    &:active {
      -webkit-box-shadow: 0 0 0 56px white inset !important;
      -webkit-text-fill-color: #000 !important;
    }
  }
}
.hbspt-form {
  .submitted-message {
    background: no-repeat;
    border: none;
    padding: 0;
    p {
      margin-bottom: 0;
      font-size: 32px;
      font-family: $font-family_4;
      text-align: center;
      color: $color_9;
    }
  }
}
.sec-title {
  font-family: $font-family_2;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: -0.48px;
  color: $color_1;
  margin: 0;
  span {
    color: $color_2;
  }
}
.border-title {
  padding-top: 20px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 112px;
    height: 8px;
    background: #007aff;
  }
}
.sec-sub_title {
  font-family: $font-family_4;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: $color_12;
  margin: 5px 0 0;
}
.logo-section {
  .ls-logo-group {
    margin: 56px auto 16px;
  }
  .ls-logo-item {
    margin-bottom: 48px;
    height: 48px;
    max-width: 180px;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.footer {
  background-color: $background-color_3;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 63.33px;
    margin: 0 auto;
    @media (min-width: 1600px) {
      min-height: 76px;
    }
  }
  .footer-links {
    .fl-link {
      font-family: $font-family_4;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $color_9;
      margin-right: 23px;
      text-decoration: none;
      transition-duration: 0.15s;
      &:hover {
        color: $color_2;
      }
    }
  }
  .footer-logo {
    width: 132px;
    margin-top: 5px;
    img {
      max-width: 132px;
    }
  }
  .footer-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    > .footer-links {
      margin-right: 78px;
    }
  }
  .footer-copyrights {
    font-family: $font-family_4;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color_9;
  }
}
@media (max-width: 1199.98px) {
  .container {
    width: 100%;
    max-width: 768px;
    padding: 0 16px;
  }
  .header-nav {
    border: none;
    padding: 36px 0 33px;
    .brand-logo {
      width: 100%;
      max-width: 118.45px;
      margin-left: 6px;
    }
  }
  .hero-content {
    .hero-left-section {
      width: 100%;
      max-width: unset;
      position: relative;
      max-width: 615px;
      &::before {
        position: absolute;
        content: "";
        width: 440px;
        height: 100px;
        top: -32px;
        right: -451px;
        background: url("//res.cloudinary.com/spiralyze/image/upload/v1682055039/drata/6001/ornament_1_tablet.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .hero-right-section {
      width: 100%;
      max-width: unset;
      position: relative;
    }
    padding-top: 27px;
    padding-bottom: 96px;
  }
  .hero-section {
    .hero-content {
      .hc-title {
        font-size: 56px;
        line-height: 48px;
        letter-spacing: -0.48px;
      }
    }
    .list-grp-wrapper {
      .list-group {
        width: 100%;
        margin: 40px 0 0 0;
        &::after {
          display: none;
        }
      }
    }
    .form-title-spz {
      margin: 0 auto 31px;
      max-width: 540px;
    }
    .form-wrapper-spz {
      margin-top: 36px;
      padding: 41px 32px 40px;
      &::before {
        opacity: 0;
      }
      &::after {
        position: absolute;
        content: "";
        width: 200px;
        height: 200px;
        background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1683718084/drata/7001/ornament_2.svg");
        bottom: -44px;
        left: -32px;
        z-index: -1;
      }

      .actions {
        margin-top: 22px;

        &::before {
          top: 19.75px;
          right: 39%;
        }
      }
    }
  }
  .sec-title {
    font-size: 40px;
    line-height: 36px;
  }
  .border-title {
    padding-top: 20px;
  }
  .sec-sub_title {
    margin-top: 8px;
  }
  .logo-section {
    .ls-logo-group {
      margin: 40px -49px 48px;
    }
    .ls-logo-item {
      margin: 0 49px 48px;
    }
  }
  .footer {
    .container {
      min-height: 106px;
      align-items: flex-start;
      flex-flow: column-reverse;
      padding: 22px 16px 20px;
    }
    .footer-flex {
      width: 100%;
      justify-content: space-between;
    }
    .footer-links {
      .fl-link {
        margin-right: 24px;
      }
    }
    .footer-logo {
      img {
        max-width: 124.32px;
      }
    }
    .footer-copyrights {
      width: 100%;
      text-align: right;
      margin-top: 8px;
    }
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 360px;
  }
  .header-nav {
    padding: 35px 0 33px;
    .brand-logo {
      max-width: 101.53px;
      margin-left: 5px;
    }
  }
  .hero-section {
    .hero-content {
      .hc-title {
        font-size: 40px;
        line-height: 36px;
      }
    }
    .list-grp-wrapper {
      .list-group {
        margin: 41px 0 0 0;
        .list-item {
          font-size: 15px;
          line-height: 22px;
          strong {
            font-size: 20px;
            line-height: 20px;
          }
          &::before {
            top: -1px;
          }
        }
      }
    }
    .form-wrapper-spz {
      margin-top: 11px;
      padding: 32px 16px;
      &::after {
        bottom: -72px;
        left: -20px;
      }
    }
    .form-title-spz {
      font-size: 32px;
      line-height: 28px;
      margin-bottom: 32px;
      max-width: 264px;
    }
    form {
      fieldset {
        .field {
          input {
            height: 54px;
          }
          select {
            height: 54px;
          }
          .input {
            margin: 0 0 16px;
          }
        }
        width: 100%;
        .hs-fieldtype-checkbox {
          .hs-field-desc {
            margin: 16px 0;
          }
          ul.inputs-list {
            li.hs-form-checkbox {
              margin-bottom: 12px;
              margin-right: 25px;
              &:nth-child(1) {
                margin-right: 54px;
              }
            }
          }
        }
      }
      fieldset.form-columns-2 {
        .field {
          width: 100%;
        }
      }
    }
  }
  .hero-content {
    .hero-left-section {
      &::before {
        width: 220px;
        height: 50px;
        top: -25px;
        right: -162px;
      }
    }
  }
  .form-wrapper-spz {
    .hbspt-form {
      form {
        .actions {
          width: 100%;
          margin: 16px auto 0;
          &::before {
            top: 22px;
            right: 86px;
            height: 20px;
            width: 20px;
            background-size: 20px;
          }
        }
        .hs-error-msgs.inputs-list {
          font-size: 11px;
          top: calc(80% + 10px);
          label {
            font-size: 11px;
            line-height: 15px;
          }
        }
      }
    }
  }
  .hbspt-form {
    .submitted-message {
      font-size: 20px;
      margin-top: -10px;
      p {
        margin-bottom: 10px;
      }
    }
  }
  .border-title {
    &::before {
      right: 0;
      margin: 0 auto;
    }
  }
  .sec-title {
    font-size: 32px;
    line-height: 28px;
  }
  section.logo-section {
    padding: 24px 0 0;
  }
  .logo-section {
    .border-title {
      &::before {
        right: auto;
      }
    }
    .ls-logo-item {
      img {
        width: 100%;
      }
      margin: 0 0 40px;
      width: 50%;
      max-width: 150px;
    }
    .ls-logo-group {
      margin: 40px 0 32px;
    }
  }
  .footer {
    .footer-flex {
      flex-flow: column-reverse;
      > .footer-links {
        margin: 0 auto;
      }
    }
    .footer-logo {
      width: auto;
      margin: 3px auto 15px;
      img {
        max-width: 88.8px;
      }
    }
    .footer-links {
      .fl-link {
        margin: 0 12px;
      }
    }
    .footer-copyrights {
      text-align: center;
      margin-top: 15px;
    }
  }
}
@media (min-width: 1600px) {
  .hero-section {
    .form-wrapper-spz {
      &::before {
        right: -232.5px;
      }
    }
    .list-grp-wrapper {
      .list-group {
        &::after {
          right: -186px;
          bottom: -46px;
        }
      }
    }
  }
}
@media (max-width: 349.98px) {
  .form-wrapper-spz {
    .hbspt-form {
      form {
        .actions {
          &::before {
            right: 60px;
          }
        }
      }
    }
  }
}
@media (min-width: 1440px) and (min-height: 1297px) {
  .logo-section {
    padding-bottom: 104px;
  }
  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 9;
  }
}
