.spz-1002 main.site-main .hero-bg-image,
.spz-1002 section#hero-slider {
  display: none;
}
.spz-1002 #home-page .spz-hero {
  background-color: #031263;
  position: relative;
  padding-top: 82.5px;
  margin-bottom: 71px;
}
.spz-1002 #home-page .spz-hero::before {
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/expel/1002/bg_texture_1.svg");
  position: absolute;
  content: "";
  left: calc(50% - 720px);
  bottom: 0;
  width: 1440px;
  height: 619px;
  background-size: 1440px 619px;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 0;
}
.spz-1002 #home-page .spz-hero .spz-hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1361px;
  margin: auto;
  padding: 0 30px;
  z-index: 1;
}
.spz-1002 #home-page .spz-hero .hero-info {
  width: 100%;
  max-width: 1160px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.spz-1002 #home-page .spz-hero .hero-info .section-label {
  color: #00a85d;
  font-size: 16px;
  font-style: normal;
  font-family: "proxima-nova", Arial, sans-serif;
  text-align: center;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 !important;
}
@media (max-width: 767.98px) {
  .spz-1002 #home-page .spz-hero .hero-info .section-label {
    font-size: 16px;
    padding: 0 20px;
  }
}
.spz-1002 #home-page .spz-hero .hero-info .section-heading {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  font-family: "proxima-nova", Arial, sans-serif;
  line-height: 112.5%;
  text-align: center;
  margin: 11px auto 13px;
}
.spz-1002 #home-page .spz-hero .hero-info .section-subhead {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 49px;
}
.spz-1002 #home-page .spz-hero .hero-info .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 47.5px;
}
.spz-1002 #home-page .spz-hero .hero-info .hero-buttons a.cta-spz {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 6px;
  padding: 11.35px 23.75px;
  text-align: center;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: 1px solid #3f6;
  border-radius: 72px;
  leading-trim: both;
  text-edge: cap;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}
.spz-1002 #home-page .spz-hero .hero-info .hero-buttons a.cta-spz::after {
  content: unset;
}
.spz-1002 #home-page .spz-hero .hero-info .hero-buttons a.cta-spz svg {
  margin-left: 8px;
}
.spz-1002 #home-page .spz-hero .hero-info .hero-buttons a.demo-cta {
  background: #3f6;
  color: #000;
}
.spz-1002 #home-page .spz-hero .hero-info .hero-buttons a.demo-cta:hover {
  opacity: 0.9;
}
.spz-1002 #home-page .spz-hero .hero-info .hero-buttons a.outline-button {
  color: #33ff66;
}
.spz-1002 #home-page .spz-hero .hero-info .hero-buttons a.outline-button:hover {
  opacity: 0.9;
  background: #3f6 !important;
  color: #000000;
}
.spz-1002 #home-page .spz-hero .hero-info .hero-buttons a.outline-button:hover svg path {
  stroke: #000000;
}
.spz-1002 #logos-slider {
  padding-top: 8px;
}
.spz-1002 .hero-tiles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1023.98px) {
  .spz-1002 .hero-tiles-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 28px;
  }
}
@media (max-width: 767.98px) {
  .spz-1002 .hero-tiles-container {
    gap: 16px;
    max-width: 530px;
    margin: 0 auto;
  }
}
@media (max-width: 530px) {
  .spz-1002 .hero-tiles-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 324px;
  }
}
.spz-1002 .hero-tiles-container .hero-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 216px;
  height: 180px;
  border-radius: 12px;
  background: rgba(23, 98, 230, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}
.spz-1002 .hero-tiles-container .hero-tile .ht-logo {
  width: 80px;
  height: 80px;
  margin-bottom: 12px;
}
.spz-1002 .hero-tiles-container .hero-tile .ht-title {
  color: #fff;
  text-align: center;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 0 24px;
}
@media (min-width: 1024px) and (max-width: 1220px) {
  .spz-1002 .hero-tiles-container .hero-tile {
    width: calc(20% - 15px);
    height: auto;
    padding: 20px 8px;
  }
  .spz-1002 .hero-tiles-container .hero-tile .ht-title {
    padding: 0;
  }
}
@media (max-width: 1023.98px) {
  .spz-1002 .hero-tiles-container .hero-tile {
    width: 212px;
    height: 180px;
  }
  .spz-1002 .hero-tiles-container .hero-tile .ht-title {
    padding: 0 22px;
  }
}
@media (max-width: 767.98px) {
  .spz-1002 .hero-tiles-container .hero-tile {
    width: 154px;
    height: 156px;
    margin-bottom: 4px;
  }
  .spz-1002 .hero-tiles-container .hero-tile .ht-logo {
    width: 60px;
    height: 60px;
  }
  .spz-1002 .hero-tiles-container .hero-tile .ht-title {
    font-size: 14px;
    line-height: 22px;
    padding: 0 2px;
  }
}
@media (max-width: 359.98px) {
  .spz-1002 .hero-tiles-container .hero-tile {
    width: calc(50% - 8px);
    height: 156px;
    margin-bottom: 4px;
    padding: 20px 8px;
  }
}

@media (min-width: 1441px) {
  .spz-1002 .spz-hero {
    background-size: 100%;
    padding-top: 109px;
  }
  .spz-1002 #logos-slider {
    padding-top: 39px;
  }
}
@media (max-width: 1023.98px) {
  .spz-1002 #home-page .spz-hero {
    padding: 56.5px 0 0;
  }
  .spz-1002 #home-page .spz-hero .spz-hero-wrapper {
    padding: 0;
  }
  .spz-1002 #home-page .spz-hero .hero-info {
    max-width: 700px;
    margin-bottom: 80px;
  }
  .spz-1002 #home-page .spz-hero .hero-info .section-heading {
    font-size: 56px;
    line-height: 64px;
    margin: 10px auto 13px;
    padding: 0 25px;
  }
  .spz-1002 #home-page .spz-hero .hero-info .hero-buttons {
    margin-top: 48px;
  }
  .spz-1002 #logos-slider {
    padding-top: 11px;
  }
}
@media (max-width: 767.98px) {
  .spz-1002 #home-page .spz-hero {
    padding: 32px 0px 0;
    margin-bottom: 46px;
  }
  .spz-1002 #home-page .spz-hero .hero-info {
    padding: 0 18px;
    margin-bottom: 64px;
  }
  .spz-1002 #home-page .spz-hero .hero-info .section-heading {
    font-size: 48px;
    line-height: 56px;
    margin: 11px 0 13px;
    padding: 0;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .spz-1002 #home-page .spz-hero .hero-info .section-subhead {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 40.5px;
  }
  .spz-1002 #home-page .spz-hero .hero-info .hero-buttons {
    margin-top: 16px;
  }
  .spz-1002 #home-page .spz-hero .hero-info .hero-buttons a.cta-spz {
    width: 100%;
    max-width: 360px;
    margin: 20px 0 0;
  }
  .spz-1002 #home-page .spz-hero .hero-img .desktop-img {
    display: none;
  }
  .spz-1002 #home-page .spz-hero .hero-img .mobile-img {
    display: block;
  }
}
@media (max-width: 530px) {
  .spz-1002 #home-page .spz-hero .hero-info .section-heading {
    max-width: 324px;
    margin-left: auto;
    margin-right: auto;
  }
}
.spz-1002 #masthead {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.spz-1002 #masthead ~ #startchange {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.spz-1002 #masthead .expel-main-navigation .spz-mobile-contact {
  display: none;
}
.spz-1002 .site-branding .custom-logo-link:last-child {
  display: none !important;
}

.spz-1002:not(.spz-nav-sticky) .site-branding .custom-logo-link.spz-logo {
  display: none !important;
}
.spz-1002:not(.spz-nav-sticky) .site-branding .custom-logo-link:last-child {
  display: none;
}

.spz-1002.spz-nav-sticky #masthead {
  background-color: #031263;
}
.spz-1002.spz-nav-sticky #masthead ~ #startchange {
  background-color: #031263;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation {
  background-color: #031263;
  margin-bottom: 6px;
  padding: 8px 0 9px;
}
@media (min-width: 1441px) {
  .spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container {
    padding: 0 30px;
  }
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li:last-child {
  margin-right: 3px;
  margin-left: 4px;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li a {
  color: #fff;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  -webkit-transition-duration: 0.5ms;
          transition-duration: 0.5ms;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li a:hover {
  color: #f4f4f4;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search.open {
  margin-right: 1px;
  margin-left: 1px;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search.open form.search-form {
  position: relative;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search.open form.search-form.open input {
  width: 230px;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search.open form.search-form .search-submit {
  position: absolute;
  top: 2px;
  right: 2px;
  padding-right: 0;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form .search-submit .fa-search {
  color: #fff;
  font-size: 18px;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form .search-submit .fa-search:hover {
  color: #1762e6;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input {
  color: #fff;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 0 0 3px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-bottom: 1px solid rgba(0, 168, 93, 0.5);
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input:focus, .spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input:active {
  border-bottom: 1px solid #00a85d;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input:focus-visible {
  outline: none !important;
  border-bottom: 1px solid #00a85d;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input::-webkit-input-placeholder {
  color: #ebebeb;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input::-moz-placeholder {
  color: #ebebeb;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input:-ms-input-placeholder {
  color: #ebebeb;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input::-ms-input-placeholder {
  color: #ebebeb;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input::placeholder {
  color: #ebebeb;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input::-webkit-search-cancel-button {
  content: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/expel/1002/cancel.svg");
  -webkit-appearance: none;
  appearance: none;
  padding-right: 31.5px;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input:-webkit-autofill, .spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input:-webkit-autofill:hover, .spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input:-webkit-autofill:focus, .spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 56px #031263 inset !important;
  -webkit-text-fill-color: #fff !important;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form .close-search-submit {
  display: none;
  color: #fff;
  font-size: 18px;
  opacity: 0.8;
  margin-left: 5px;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}
.spz-1002.spz-nav-sticky #masthead #site-top-navigation .inner-container .menu-utility li.menu-item-search form.search-form .close-search-submit:hover {
  opacity: 1;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .site-branding .custom-logo-link:not(.spz-logo) {
  display: none;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .site-branding .custom-logo-link:last-child {
  display: none;
}
@media (min-width: 1441px) {
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container {
    padding: 0 30px;
  }
}
@media (max-width: 1150px) {
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container {
    padding: 0 35px 0 38px;
  }
}
@media (max-width: 767.98px) {
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container {
    padding: 0 18px;
  }
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container .logo .site-branding .custom-logo-link img {
  max-width: 104px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu {
  gap: 40.5px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu {
  cursor: pointer;
  -webkit-transition-duration: 0.5ms;
          transition-duration: 0.5ms;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu > a .menu-item-title {
  color: #fff;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu > a .fa:before {
  content: "";
  color: #fff;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:hover .menu-item-title {
  color: #f4f4f4;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:hover .fa::before {
  color: #f4f4f4;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu .fa {
  height: 20px;
  width: 12px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu .fa:before {
  color: #fff;
  font-size: 13px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:hover > .sub-menu {
  left: 0;
  width: 100%;
  max-width: 1440px;
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 27.87%, rgba(255, 255, 255, 0.25) 100%), linear-gradient(104deg, rgba(3, 18, 99, 0) 0.17%, rgba(3, 18, 99, 0.8) 15.11%);
  -webkit-backdrop-filter: blur(75px);
          backdrop-filter: blur(75px);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  cursor: default;
  gap: 80px;
  padding: 22px 30px 34px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu li.mega-menu-col .menu-label,
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu li.mega-menu-col .mega-menu-col-2 .menu-label {
  margin-bottom: 10px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu li.mega-menu-col .menu-label .menu-item-title,
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu li.mega-menu-col .mega-menu-col-2 .menu-label .menu-item-title {
  color: rgba(255, 255, 255, 0.6) !important;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 24px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 7.5px;
  padding-right: 0;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu li.mega-menu-col .mega-menu-col-2 .menu-label {
  margin-bottom: 20px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu .mega-menu-col .sub-menu li.menu-item {
  margin-bottom: 1px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu .mega-menu-col .sub-menu li.menu-item.arrow-link .menu-item-title:after {
  content: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/expel/1002/icon_right.svg");
  padding-left: 16px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu .mega-menu-col .sub-menu li.menu-item.mega-menu-col-2 {
  margin-top: 24px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu .mega-menu-col .sub-menu li.menu-item.featured {
  margin-top: 4px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  background: rgba(255, 255, 255, 0.14);
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu .mega-menu-col .sub-menu li.menu-item.featured .menu-item-title {
  margin-bottom: 7px !important;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu .mega-menu-col .sub-menu li.menu-item.featured .menu-item-title img {
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu .mega-menu-col .sub-menu li.menu-item.featured .menu-item-description {
  margin-bottom: 2px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu .mega-menu-col .sub-menu li.menu-divider {
  margin-top: 3.5px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.19);
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu .mega-menu-col .sub-menu li .menu-item-title {
  color: #fff !important;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 24px;
  margin-bottom: 0 !important;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu .mega-menu-col .sub-menu li .menu-item-description {
  color: #fff;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-top: 4px !important;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu .mega-menu-col .sub-menu li:hover:not(.mega-menu-col-2) .menu-item-title,
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu .mega-menu-col .sub-menu li:hover:not(.mega-menu-col-2) .menu-item-description {
  color: #71bcff !important;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu ul.sub-menu .mega-menu-col .sub-menu li:hover:not(.mega-menu-col-2).arrow-link .menu-item-title:after {
  content: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/expel/1002/icon_right-hover.svg");
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:nth-child(3) > .sub-menu .mega-menu-col:first-child .sub-menu li.menu-item, .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:nth-child(4) > .sub-menu .mega-menu-col:first-child .sub-menu li.menu-item {
  margin-bottom: 1px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:nth-child(3) > .sub-menu .mega-menu-col:first-child .sub-menu li .menu-item-title, .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:nth-child(4) > .sub-menu .mega-menu-col:first-child .sub-menu li .menu-item-title {
  margin-bottom: 0 !important;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:nth-child(4) > .sub-menu .mega-menu-col .sub-menu li.menu-item {
  margin-bottom: 1px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:nth-child(4) > .sub-menu .mega-menu-col .sub-menu li .menu-item-title {
  margin-bottom: 0 !important;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu > .sub-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu > .sub-menu .mega-menu-col {
  width: 50%;
  max-width: 480px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:nth-child(2) > .sub-menu .mega-menu-col, .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:nth-child(4) > .sub-menu .mega-menu-col, .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:nth-child(5) > .sub-menu .mega-menu-col {
  width: 33.33%;
  max-width: 384px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:nth-child(4) > .sub-menu .mega-menu-col, .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu:nth-child(5) > .sub-menu .mega-menu-col {
  width: 33.33%;
  max-width: 293px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .blue-button {
  position: relative;
  background-color: transparent;
  margin-left: -7px;
  padding: 0;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .blue-button a {
  background: #1762e6;
  border-radius: 72px;
  color: #fff;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  padding: 12px 52px 12px 24px;
  cursor: pointer;
  leading-trim: both;
  text-edge: cap;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .blue-button a:hover {
  background: #0e4c8a;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .blue-button::after {
  content: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/expel/1002/icon_right.svg");
  position: absolute;
  right: 24px;
  pointer-events: none;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip label.icon {
  margin-right: 4.5px;
  height: 4.5px;
  width: 26px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip label.icon .menu {
  background: #fff;
  width: 23px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip label.icon .menu:before {
  top: -7px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip label.icon .menu:after {
  top: 7px;
}
.spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip label.icon .menu:after, .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip label.icon .menu:before {
  background: #fff;
  width: 23px;
}
@media (max-width: 1150px) {
  .spz-1002.spz-nav-sticky #masthead.active .spz-mobile-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .spz-1002.spz-nav-sticky #masthead.active .expel-main-navigation {
    padding: 13px 0;
  }
  .spz-1002.spz-nav-sticky #masthead #site-top-navigation {
    display: none;
  }
  .spz-1002.spz-nav-sticky #masthead .spz-mobile-contact {
    margin-left: auto;
    margin-right: 16px;
  }
  .spz-1002.spz-nav-sticky #masthead .spz-mobile-contact a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    padding: 16px 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-align: center;
    font-family: "proxima-nova", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    gap: 8px;
    border-radius: 72px;
    background: #1762e6;
    leading-trim: both;
    text-edge: cap;
  }
  .spz-1002.spz-nav-sticky #masthead .spz-mobile-contact a:hover {
    background: #0e4c8a;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation {
    padding: 20px 0;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu {
    border-radius: 0px 0px 12px 12px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(27.87%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.25))), rgba(3, 18, 99, 0.8);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 27.87%, rgba(255, 255, 255, 0.25) 100%), rgba(3, 18, 99, 0.8);
    -webkit-backdrop-filter: blur(75px);
            backdrop-filter: blur(75px);
    height: initial !important;
    max-height: calc(100vh - 68px) !important;
    padding: 14px 38px 40px;
    top: 54px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu {
    padding-bottom: initial;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu .menu-item-search {
    border-bottom: none;
    margin-bottom: 15px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu .menu-item-search form {
    position: relative;
    padding: 5px 0;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu .menu-item-search form .search-submit {
    position: absolute;
    top: 10.5px;
    right: 3px;
    font-size: 20px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu .menu-item-search form .search-submit .fa-search {
    color: #efefef;
    font-size: 18px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu .blue-button.menu-primary-cta {
    display: none;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input {
    color: #fff;
    font-family: "proxima-nova", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    outline: none !important;
    border-bottom: 1px solid rgba(0, 168, 93, 0.5);
    border-radius: 0 !important;
    padding-left: 0;
    padding-bottom: 11px;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    -webkit-transition-duration: 150ms;
            transition-duration: 150ms;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input:focus, .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input:active {
    border-bottom: 1px solid #00a85d;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input:focus-visible {
    outline: none !important;
    border-bottom: 1px solid #00a85d;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input::-webkit-input-placeholder {
    color: #ebebeb;
    font-family: "proxima-nova", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input::-moz-placeholder {
    color: #ebebeb;
    font-family: "proxima-nova", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input:-ms-input-placeholder {
    color: #ebebeb;
    font-family: "proxima-nova", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input::-ms-input-placeholder {
    color: #ebebeb;
    font-family: "proxima-nova", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input::placeholder {
    color: #ebebeb;
    font-family: "proxima-nova", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input::-webkit-search-cancel-button {
    content: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/expel/1002/cancel.svg");
    -webkit-appearance: none;
    appearance: none;
    margin-right: 36px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input:-webkit-autofill, .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input:-webkit-autofill:hover, .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input:-webkit-autofill:focus, .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 56px #031263 inset !important;
    -webkit-text-fill-color: #fff !important;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu .link-wrap {
    height: 67.34px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu .link-wrap > a .menu-item-title {
    color: #fff;
    font-family: "proxima-nova", Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu .link-wrap i {
    margin-right: 1px;
    height: 19px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu .link-wrap i:before {
    color: #fff;
    font-size: 12px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:hover .link-wrap > a .menu-item-title {
    color: #f4f4f4;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:hover .link-wrap > a i:before {
    color: #f4f4f4;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu {
    padding: 0;
    gap: 14px;
    padding-bottom: 16px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.menu-item {
    margin-bottom: 1px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.menu-item.arrow-link .menu-item-title:after {
    content: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/expel/1002/icon_right.svg");
    padding-left: 16px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.menu-item.mega-menu-col:nth-child(1n+2) {
    border-top: 1px solid rgba(255, 255, 255, 0.19);
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.menu-item.mega-menu-col:nth-child(1n+2) .menu-label {
    margin-top: 15px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.menu-item.mega-menu-col-2 {
    border-top: 1px solid rgba(255, 255, 255, 0.19);
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.menu-item:hover > a .menu-item-title,
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.menu-item:hover > a .menu-item-description {
    color: #71bcff !important;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.menu-item:hover.arrow-link .menu-item-title:after {
    content: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/expel/1002/icon_right-hover.svg");
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.menu-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.19);
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.featured {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.28);
    background: rgba(255, 255, 255, 0.14);
    max-width: 285px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.28);
    background: rgba(255, 255, 255, 0.14);
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.featured .menu-item-title {
    margin-bottom: 7px !important;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.featured .menu-item-title img {
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.featured .menu-item-description {
    margin-top: 6px !important;
    margin-bottom: 2px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.mega-menu-col .menu-label,
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.mega-menu-col .mega-menu-col-2 .menu-label {
    margin-bottom: 6px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.mega-menu-col .menu-label .menu-item-title,
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.mega-menu-col .mega-menu-col-2 .menu-label .menu-item-title {
    color: rgba(255, 255, 255, 0.6) !important;
    font-family: "proxima-nova", Arial, sans-serif;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 24px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 8px;
    padding-right: 0;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.mega-menu-col .mega-menu-col-2 .menu-label {
    margin-bottom: 16px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.menu-item .menu-item-title,
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu > .sub-menu li.menu-item .menu-item-title {
    color: #fff !important;
    font-family: "proxima-nova", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu li.menu-item .menu-item-description,
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu > .sub-menu > .sub-menu li.menu-item .menu-item-description {
    color: #fff !important;
    font-family: "proxima-nova", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 4px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(4) > .sub-menu .mega-menu-col > .sub-menu, .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(5) > .sub-menu .mega-menu-col > .sub-menu {
    gap: 11px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(4) > .sub-menu .mega-menu-col:first-child .sub-menu li.menu-item, .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(5) > .sub-menu .mega-menu-col:first-child .sub-menu li.menu-item {
    margin-bottom: 5px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(4) > .sub-menu .mega-menu-col:first-child .sub-menu li .menu-item-title, .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(5) > .sub-menu .mega-menu-col:first-child .sub-menu li .menu-item-title {
    margin-bottom: 0 !important;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(5) > .sub-menu .mega-menu-col:nth-child(2) .menu-label .menu-item-title {
    padding-bottom: 7px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(5) > .sub-menu .mega-menu-col:nth-child(2) > .sub-menu li.menu-item {
    margin-bottom: 4px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(5) > .sub-menu .mega-menu-col:nth-child(2) > .sub-menu li.menu-item:last-child {
    margin-bottom: 0;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(5) > .sub-menu .mega-menu-col:nth-child(2) > .sub-menu li.menu-item:last-child .menu-label {
    margin-bottom: 7px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(5) > .sub-menu .mega-menu-col:nth-child(2) > .sub-menu li.menu-item:last-child .menu-label .menu-item-title {
    padding-bottom: 8px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(5) > .sub-menu .mega-menu-col:nth-child(2) > .sub-menu li.menu-item:last-child .sub-menu {
    gap: 12px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(5) > .sub-menu .mega-menu-col:last-child .menu-label {
    margin-top: 16px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(5) > .sub-menu .mega-menu-col:last-child .sub-menu {
    gap: 15px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(6) li.mega-menu-col .menu-label {
    margin-bottom: 10px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(6) > .sub-menu li:nth-child(2) .sub-menu,
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(6) > .sub-menu li:nth-child(3) .sub-menu {
    gap: 15px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(6) > .sub-menu .mega-menu-col .sub-menu li.menu-item {
    margin-bottom: 1px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu #header-mobile-menu li.mega-menu:nth-child(6) > .sub-menu .mega-menu-col .sub-menu li .menu-item-title {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 767.98px) {
  .spz-1002.spz-nav-sticky #masthead.active .spz-mobile-contact {
    display: none;
  }
  .spz-1002.spz-nav-sticky #masthead.active .expel-main-navigation {
    padding: 20px 0;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation {
    padding: 20px 0;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip .responsive-menu {
    border-radius: 0px 0px 12px 12px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(27.87%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.25))), rgba(3, 18, 99, 0.8);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 27.87%, rgba(255, 255, 255, 0.25) 100%), rgba(3, 18, 99, 0.8);
    -webkit-backdrop-filter: blur(75px);
            backdrop-filter: blur(75px);
    height: calc(100vh - 78px) !important;
    padding: 14px 18px 40px;
  }
  .spz-1002.spz-nav-sticky #masthead .expel-main-navigation .inner-container #NavStrip label.icon {
    margin-right: 1.5px;
  }
}

@media (max-width: 1150px) {
  .spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation {
    height: 80px;
  }
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .site-branding .custom-logo-link:last-child {
  display: none;
}
@media (min-width: 1441px) {
  .spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container {
    padding: 0 30px;
  }
}
@media (max-width: 1150px) {
  .spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container {
    padding: 0 35px 0 38px;
  }
}
@media (max-width: 767.98px) {
  .spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container {
    padding: 0 18px;
  }
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container .logo .site-branding .custom-logo-link img {
  max-width: 104px;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu {
  gap: 40.5px;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu {
  cursor: pointer;
  -webkit-transition-duration: 0.5ms;
          transition-duration: 0.5ms;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu > a .menu-item-title {
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu .fa {
  height: 20px;
  width: 12px;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .mega-menu .fa:before {
  font-size: 13px;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .blue-button {
  position: relative;
  background-color: transparent;
  margin-left: -7px;
  padding: 0;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .blue-button a {
  background: #1762e6;
  border-radius: 72px;
  color: #fff;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  padding: 12px 52px 12px 24px;
  cursor: pointer;
  leading-trim: both;
  text-edge: cap;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .blue-button a:hover {
  background: #0e4c8a;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip ul#menu-main-menu .blue-button::after {
  content: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/expel/1002/icon_right.svg");
  position: absolute;
  right: 24px;
  pointer-events: none;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip label.icon {
  margin-right: 4.5px;
  height: 4.5px;
  width: 26px;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip label.icon .menu {
  width: 23px;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip label.icon .menu:before {
  top: -7px;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip label.icon .menu:after {
  top: 7px;
}
.spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip label.icon .menu:after, .spz-1002:not(.spz-nav-sticky) #masthead .expel-main-navigation .inner-container #NavStrip label.icon .menu:before {
  width: 23px;
}