body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle h3.p1 {
  margin-bottom: 0px;
  padding-bottom: 12px;
}
@media (min-width: 767.98px) and (max-width: 1032.98px) {
  body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle h3.p1 {
    margin-bottom: 24px;
  }
}
@media (max-width: 767.98px) {
  body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle h3.p1 {
    margin-bottom: 14px;
    padding-bottom: 20px;
  }
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm {
  display: flex;
  background-color: #005a8e;
  padding: 16px;
  margin-left: -10px;
  margin-right: 10px;
}
@media (min-width: 767.98px) and (max-width: 1032.98px) {
  body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm {
    margin-left: -6px;
    margin-right: 6px;
  }
}
@media (max-width: 767.98px) {
  body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm {
    margin-left: -14px;
    margin-right: -14px;
    flex-wrap: wrap;
  }
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox {
  margin-right: 10px;
}
@media (max-width: 767.98px) {
  body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox {
    width: 100%;
    margin-right: 0;
    margin-bottom: 11px;
  }
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox > input {
  max-width: 348px;
  height: 52px;
  background: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #636363;
  padding: 16px 20px 10px;
  margin-bottom: 0;
  border: 1.5px solid transparent;
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox > input:focus {
  border: 1.5px solid #ff7335;
}
@media (max-width: 767.98px) {
  body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox > input {
    max-width: 100%;
  }
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox .error-msg {
  font-weight: 450;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  display: none;
  margin-top: 8px;
  margin-bottom: 0;
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #636363;
  opacity: 1; /* Firefox */
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #636363;
  opacity: 1; /* Firefox */
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #636363;
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #636363;
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox.have-error > input {
  border: 1px solid #dc251c;
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox.have-error ::-moz-placeholder {
  color: #dc251c;
  opacity: 1; /* Firefox */
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox.have-error ::placeholder {
  color: #dc251c;
  opacity: 1; /* Firefox */
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox.have-error :-ms-input-placeholder {
  color: #dc251c;
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .emailBox.have-error ::-ms-input-placeholder {
  color: #dc251c;
}
body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .submit-btn {
  width: 175px;
  height: 52px;
  background: #ff6f30;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 4px;
}
@media (min-width: 767.98px) and (max-width: 1032.98px) {
  body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .submit-btn {
    padding-top: 7px;
  }
}
@media (max-width: 767.98px) {
  body.spz-5003 main.l-body-wrapper .c-hero__content .c-hero__info-wrapper .c-hero__subtitle #userEmailForm .submit-btn {
    width: 100%;
  }
}/*# sourceMappingURL=5003-Style.css.map */