@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
@font-face {
	font-family: 'Recent Grotesk';
	src: url('https://res.cloudinary.com/spiralyze/raw/upload/v1725599836/bonterra/fonts/RecentGrotesk/RecentGrotesk-Black.eot');
	src: url('https://res.cloudinary.com/spiralyze/raw/upload/v1725599836/bonterra/fonts/RecentGrotesk/RecentGrotesk-Black.eot?#iefix') format('embedded-opentype'),
			url('https://res.cloudinary.com/spiralyze/raw/upload/v1725599835/bonterra/fonts/RecentGrotesk/RecentGrotesk-Black.woff2') format('woff2'),
			url('https://res.cloudinary.com/spiralyze/raw/upload/v1725599835/bonterra/fonts/RecentGrotesk/RecentGrotesk-Black.woff') format('woff'),
			url('https://res.cloudinary.com/spiralyze/raw/upload/v1725599835/bonterra/fonts/RecentGrotesk/RecentGrotesk-Black.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
.redirect-banner-wrapper {
    z-index: 99;
    position: relative;
}
.spz_1002 .spz-triage-wrap * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.spz_1002 .main-content .layout .layout__region .block[class*="widgets1page"] .form-include,
.spz_1002 .main-content .layout .layout__region .block[class*="widgets1page"] .featured-single-quote--headlines,
.spz_1002 .main-content .layout .layout__region .block[class*="widgets1page"] .image-container,
.spz_1002 .main-content .layout .layout__region .block[class*="widgets1page"] .spz-Leading-Logos {
	display: none;
}
.spz_1002 .spz-triage-wrap {
	width: 100%;
	max-width: 600px;
	background: #FFF;
	-webkit-box-shadow: 0px 20px 80px 0px #280E4326;
	box-shadow: 0px 20px 80px 0px #280E4326;
	margin-top: -261px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.spz_1002 .spz-triage-wrap .questions-progress {
	width: 100%;
	background: #F0F2FF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 24px;
}
.spz_1002 .spz-triage-wrap .questions-progress .progress-item {
	width: 12px;
	height: 12px;
	border: 1px solid #99A7FF;
	border-radius: 100px;
	margin: 0 6px;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.spz_1002 .spz-triage-wrap .questions-progress .progress-item.active {
	width: 40px;
	background: #99A7FF;
}
.spz_1002 .spz-triage-wrap .questions-progress .progress-item.completed {
	background: #99A7FF;
}
.spz_1002 .spz-triage-wrap .form-heading {
	color: #381360;
	text-align: center;
	font-family: "Recent Grotesk";
	font-size: 40px;
	font-style: normal;
	font-weight: 800;
	line-height: 1;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	margin: 34px auto 15px;
}
.spz_1002 .spz-triage-wrap .questions-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	padding: 0 32px 40px;
}
.spz_1002 .spz-triage-wrap .spz-hidden,
.spz_1002.repeat-user .spz-triage-wrap .question-item {
	display: none;
}
.spz_1002.repeat-user .spz-triage-wrap .question-form {
	display: block;
}
.spz_1002 .spz-triage-wrap .questions-wrap .question-item {
	width: 100%;
}
.spz_1002 .spz-triage-wrap .questions-wrap .question-heading {
	color: #381360;
	text-align: center;
	font-family: "Noto Sans",sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.4;
	margin: 0 auto;
}
.spz_1002 .spz-triage-wrap .answers-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	margin: 31px auto 20px;
}
.spz_1002 .spz-triage-wrap .answers-wrap .answer-item {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: calc(50% - 6px);
	margin-bottom: 12px;
	position: relative;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.spz_1002 .spz-triage-wrap .question-2 .answers-wrap .answer-item {
	width: calc(100% / 3 - 8px);
}
.spz_1002 .spz-triage-wrap .answers-wrap .answer-item input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.spz_1002 .spz-triage-wrap .answers-wrap .answer-item .answer-content {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding: 15px 16px;
	width: 100%;
	height: 100%;
	background: #FFF;
	border: 1px solid #DADADA;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.spz_1002 .spz-triage-wrap .answers-wrap .answer-item:hover .answer-content {
	border: 1px solid #381360;
}
.spz_1002 .spz-triage-wrap .answers-wrap .answer-item input:checked + .answer-content {
	background: #F5F5FF;
	border: 1px solid #381360;
}
.spz_1002 .spz-triage-wrap .answer-item .answer-checkbox {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 20px;
	height: 20px;
	border: 1px solid #381360;
	border-radius: 999px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.spz_1002 .spz-triage-wrap .answer-item .answer-checkbox span {
	width: 10px;
	height: 10px;
	background: #381360;
	border-radius: 999px;
	opacity: 0;
}
.spz_1002 .spz-triage-wrap .answers-wrap .answer-item input:checked + .answer-content .answer-checkbox span {
	opacity: 1;
}
.spz_1002 .spz-triage-wrap .answers-wrap .answer-item .answer-image {
	width: 40px;
	height: 40px;
	-o-object-fit: contain;
	object-fit: contain;
	margin-bottom: 16px;
}
.spz_1002 .spz-triage-wrap .answers-wrap .answer-item .answer-text {
	color: #381360;
	text-align: center;
	font-family: "Noto Sans", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	padding: 0 5px;
}
.spz_1002 .spz-triage-wrap .answers-wrap .answer-item .answer-desc {
	color: #685C75;
	text-align: center;
	font-family: "Noto Sans", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	margin-top: 8px;
}
.spz_1002 .spz-triage-wrap .questions-wrap .step-error {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	width: 100%;
	color: #F2342F;
	font-family: "Noto Sans",sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}
.spz_1002 .spz-triage-wrap .questions-wrap .answers-wrap:not(.error) .step-error {
	display: none;
}
.spz_1002 .spz-triage-wrap .questions-wrap .step-error img {
	width: 12px;
	-o-object-fit: contain;
	object-fit: contain;
	height: auto;
	margin-right: 4px;
}
.spz_1002 .spz-triage-wrap .questions-wrap .next-question {
	width: 100%;
	height: 56px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #99A7FF;
	border: 1px solid #99A7FF;
	color: #381360;
	text-align: center;
	font-family: "Noto Sans",sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.spz_1002 .spz-triage-wrap .questions-wrap .next-question:hover,
.spz_1002 .spz-triage-wrap .questions-wrap .next-question:focus {
	outline: 1px solid #447f19;
}
.spz_1002 .spz-Leading-Logos {
	margin-top: -17px;
}
.spz_1002 .spz-Leading-Logos .spz-heading {
	color: #381360;
	text-align: center;
	font-family: "Recent Grotesk";
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 1.6;
	letter-spacing: normal;
	text-transform: uppercase;
	margin-bottom: 19px;
}
.spz_1002 .spz-Leading-Logos .spz-logos {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.spz_1002 .spz-Leading-Logos .spz-logos .answer-image {
	width: auto;
	height: 80px;
	-o-object-fit: contain;
	object-fit: contain;
}
@media(max-width: 1199.98px) and (min-width: 1024px) {
	.spz_1002 .main-content .layout .layout__region .block[class*="widgets1page"] [data-columns][data-columns="2"] {
    grid-gap: 20px;
	}
	.spz_1002 .spz-triage-wrap {
    margin-top: -210px;
	}
	.spz_1002 .spz-triage-wrap .questions-wrap {
    padding: 0 24px 40px;
	}
	.spz_1002 .spz-triage-wrap .answers-wrap .answer-item .answer-content {
    padding: 15px 8px;
	}
	.spz_1002 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item .answer-content {
    padding: 15px 3px;
	}
	.spz_1002 .hero--basic-hero .section-title {
    width: 45%;
	}
}
@media(max-width: 1023.98px) {
	.spz_1002 .main-content .layout .layout__region .block[class*="widgets1page"] [data-columns][data-columns="2"] {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    grid-gap: 0;
	}
	.spz_1002 .main-content .layout .layout__region .block[class*="widgets1page"] .spz-Leading-Logos {
    display: block;
    margin-top: -6px;
	}
	.spz_1002 .main-content .layout .layout__region .block[class*="widgets1page"] .spz-Leading-Logos .spz-Leading-Logos-wrapper.container {
		width: 100%;
    max-width: 100%;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos {
    max-width: 611px;
	}
	.spz_1002 .spz-Leading-Logos .spz-heading {
    margin-bottom: 20px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image:nth-child(01) {
		width: 128px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image:nth-child(02) {
		width: 161px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image:nth-child(03) {
		width: 109px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image:nth-child(04) {
		width: 102px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image:nth-child(05) {
		width: 121px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image:nth-child(06) {
		width: 150px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image {
    margin: 0 35.5px;
	}
	.spz_1002 .spz-triage-wrap {
    max-width: 540px;
    margin: 47px auto 0;
		box-shadow: 0px 4px 32px 0px rgba(40, 14, 67, 0.12);
	}
	.spz_1002 .spz-triage-wrap .form-heading {
    margin: 34px auto 15px;
	}
	.spz_1002 .main-content .layout .layout__region .block[class*="widgets1page"] + .spz-Leading-Logos {
    display: none;
	}
	.spz_1002 .spz-triage-wrap .answers-wrap .answer-item .answer-content {
    padding: 15px 12px;
	}
}
@media(max-width: 767.98px) {
	.spz_1002 .main-content .layout .layout__region .block[class*="widgets1page"] .spz-Leading-Logos .spz-Leading-Logos-wrapper.container {
    display: -webkit-box;
    display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.spz_1002 .main-content .layout .layout__region .block[class*="widgets1page"] .spz-Leading-Logos {
    margin: -2px -19.25px 0;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos {
		max-width: 315px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image {
    margin: 0 19.25px;
    height: 48px;
	}
	.spz_1002 .spz-Leading-Logos .spz-heading {
    margin-bottom: 19px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image:nth-child(01) {
		width: 74px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image:nth-child(02) {
		width: 68px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image:nth-child(03) {
		width: 57px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image:nth-child(04) {
		width: 56px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image:nth-child(05) {
		width: 61px;
	}
	.spz_1002 .spz-Leading-Logos .spz-logos .answer-image:nth-child(06) {
		width: 66px;
	}
	.spz_1002 .spz-triage-wrap {
		box-shadow: 0px 4px 16px 0px rgba(40, 14, 67, 0.15);
	}
	.spz_1002 .spz-triage-wrap .form-heading {
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0.64px;
		margin: 27px auto 1px;
	}
	.spz_1002 .spz-triage-wrap .questions-wrap .question-heading {
    font-size: 16px;
    line-height: 1.5;
	}
	.spz_1002 .spz-triage-wrap .answers-wrap .answer-item .answer-image {
    width: 32px;
    height: 32px;
    margin-bottom: 9px;
	}
	.spz_1002 .spz-triage-wrap .question-2 .answers-wrap .answer-item .answer-image {
		margin-bottom: 16px;
	}
	.spz_1002 .spz-triage-wrap .question-1 .answers-wrap .answer-item .answer-text {
    font-size: 12px;
    line-height: 1.5;
	}
	.spz_1002 .spz-triage-wrap .answers-wrap .answer-item .answer-desc {
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
	}
	.spz_1002 .spz-triage-wrap {
    margin: 42px auto 0;
		-webkit-box-shadow: 0px 4px 16px 0px rgba(40, 14, 67, 0.149);
		box-shadow: 0px 4px 16px 0px rgba(40, 14, 67, 0.149);
	}
	.spz_1002 .spz-triage-wrap .questions-wrap {
    padding: 0 16px 32px;
	}
	.spz_1002 .spz-triage-wrap .answers-wrap {
    margin: 24px auto 12px;
	}
	.spz_1002 .spz-triage-wrap .answers-wrap .answer-item .answer-content {
    padding: 24px 12px 23px;
	}
	.spz_1002 .spz-triage-wrap .question-2 .answers-wrap .answer-item .answer-content {
    padding: 15px 12px 14px;
	}
	.spz_1002 .spz-triage-wrap .question-2 .answers-wrap .answer-item {
    width: 100%;
	}
}

/* Form Styling Start */
.spz_1002 .spz-triage-wrap form.mktoForm {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100% !important;
	padding: 0;
	margin-top: 15px;
	gap: 0;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoFormCol.field-5,
.spz_1002 .spz-triage-wrap form.mktoForm .mktoFormCol.field-8 {
	display: none;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoFormCol {
	width: calc(50% - 10px);
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-flex: unset;
	-ms-flex: unset;
	flex: unset;
	margin: 0 !important;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoFormCol .mktoFieldWrap {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoLabel {
	background: #F5F5FF;
	color: #646464;
	font-family: "Noto Sans",sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;
	padding: 1px 6px;
	margin: 0;
	position: absolute;
	width: max-content !important;
	top: 16px;
	left: 10px;
	pointer-events: none;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoFieldWrap:hover .mktoLabel,
.spz_1002 .spz-triage-wrap form.mktoForm .mktoFieldWrap.error .mktoLabel {
	background: #FFFFFF;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoFieldWrap.active.typing .mktoLabel,
.spz_1002 .spz-triage-wrap form.mktoForm .mktoFieldWrap.filled .mktoLabel {
	font-size: 12px;
	line-height: 16px;
	top: -8px;
	color: #381360;
	background: #FFFFFF;
}
.spz_1002 .spz-triage-wrap .mktoClear {
	display: none !important;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoField {
	width: 100% !important;
	height: 56px;
	padding: 17px 16px;
	background-color: #F5F5FF;
	border: 1px solid #F5F5FF !important;
	border-radius: 0;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #381360 !important;
	font-family: "Noto Sans",sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.3;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
	-webkit-box-shadow: 0 0 0 56px white inset !important;
	-webkit-text-fill-color: #000 !important;
}
.spz_1002 .spz-triage-wrap form.mktoForm select.mktoField {
	padding-right: 40px;
	background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1725596964/bonterra/1001/Dropdown.svg");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: calc(100% - 13px) 15px;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoField:hover,
.spz_1002 .spz-triage-wrap form.mktoForm .mktoFieldWrap.active.typing .mktoField {
	background-color: #FFFFFF;
	border: 1px solid #381360 !important;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoFieldWrap.filled .mktoField {
	background-color: #FFFFFF;
	border: 1px solid #C4BBCF !important;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoFieldWrap.error .mktoField,
.spz_1002 .spz-triage-wrap form.mktoForm .mktoFieldWrap.error.active.typing .mktoField {
	border: 1px solid #F2342F !important;
	background-color: #FFFFFF;
	box-shadow: none;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoError {
	position: relative;
	top: unset;
	left: unset;
	right: unset !important;
	bottom: unset !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	z-index: 9;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoError .mktoErrorArrowWrap {
	display: none;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoError .mktoErrorMsg {
	margin: 4px 0 0 0;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	padding: 0 0 0 16px;
	color: #F2342F;
	font-family: "Noto Sans",sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	text-shadow: none;
	max-width: unset;
	position: relative;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoError .mktoErrorMsg::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 12px;
	height: 16px;
	background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1724831150/bonterra/1002/Helper_container.svg");
	background-size: contain;
	background-repeat: no-repeat;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoButtonRow {
	width: 100%;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoButtonRow .mktoButtonWrap {
	width: 100%;
	margin: 0 !important;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoButtonRow button.mktoButton {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 56px;
	background: #99A7FF !important;
	border: 1px solid #99A7FF;
	font-size: 0;
	margin: 12px auto 0 !important;
	cursor: pointer;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
	position: relative;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoButtonRow button.mktoButton::before {
	position: absolute;
	content: "Submit";
	width: auto;
	height: auto;
	z-index: 9;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	pointer-events: none;
	color: #381360;
	text-align: center;
	font-family: "Noto Sans",sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
}
.spz_1002 .spz-triage-wrap form.mktoForm .mktoButtonRow button.mktoButton:hover,
.spz_1002 .spz-triage-wrap form.mktoForm .mktoButtonRow button.mktoButton:focus {
	outline: 1px solid #447f19;
}
@media(max-width: 767.98px) {
	.spz_1002 .spz-triage-wrap form.mktoForm {
    margin-top: 20px;
	}
	.spz_1002 .spz-triage-wrap form.mktoForm .mktoFormCol {
    width: 100%;
	}
	.spz_1002 .spz-triage-wrap form.mktoForm .mktoFormCol .mktoFieldWrap {
    margin-bottom: 16px;
	}
	.spz_1002 .spz-triage-wrap form.mktoForm .mktoButtonRow button.mktoButton {
    margin: 8px 0 0 0 !important;
	}
}
/* Form Styling End */