$ff-inter: "Inter", sans-serif;

.spz-2006 {
  .social-pr-section {
    padding: 13px 0 1px;

    @media (max-width: 1199.98px) {
      padding-top: 12px;
    }

    @media (max-width: 767.98px) {
      padding-top: 44px;
    }

    .sp-title {
      font-family: $ff-inter;
      color: #0c131a;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      text-align: center;
    }

    .sp-logo-group {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      position: relative;
      margin-top: 30px;
      margin-bottom: 39px;
      width: 100%;
      height: 50px;

      @media (min-width: 767.98px) and (max-width: 1199.98px) {
        margin-bottom: 133px;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        width: 293px;
        height: 100%;
      }

      &::before {
        left: 0;
        background: linear-gradient(
          90deg,
          #fff 58.53%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      &::after {
        right: 0;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 4.32%,
          #fff 48.3%
        );
      }

      .sp-marquee {
        height: 100%;
        width: fit-content;
        align-items: center;
        display: flex;
        position: relative;
        animation: marquee 40s linear infinite; // 40s is used because the html is duplicated to create the marquee effect
        will-change: transform;
      }

      .sp-logo-item {
        width: 180px;
        height: 48px;
        margin: 0 32.75px;

        .sp-img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }

    .dummy-border {
      height: 1px;
      width: 100%;
      background: #cdd5df;
    }
  }

  @media screen and (min-width: 1600px) {
    .social-pr-section .sp-title {
      // letter-spacing: -0.16px;
    }
  }

  @media screen and (max-width: 1280px) {
    .social-pr-section {
      .sp-logo-group {
        &::before,
        &::after {
          width: 150px;
        }
      }
    }
  }

  @media screen and (max-width: 767.98px) {
    .social-pr-section {
      .sp-title {
        font-weight: 700;
        max-width: 300px;
        margin: 14px auto;
      }

      .sp-logo-group {
        margin-top: 30px;
        margin-bottom: 142px;

        &::before,
        &::after {
          width: 64px;
        }

        .sp-logo-item {
          margin: 0 16px;
        }
      }
    }
  }

  // Animation keyframe to marquee
  @keyframes marquee {
    to {
      transform: translateX(-50%);
    }
  }

  // .review-section {
  //   padding: 96px 0 16px;
  //   background: #fff;
  //   position: relative;
  //   overflow: hidden;

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     height: 1px;
  //     background: #dde3eb;
  //     width: calc(100% - 160px);
  //     margin: auto;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;

  //     @media (max-width: 1199.98px) {
  //       display: none;
  //     }
  //   }

  //   .container {
  //     // padding: 0 24px;

  //     @media (max-width: 991.98px) {
  //       padding: 0 32px;
  //     }

  //     @media (max-width: 767.98px) {
  //       padding: 0 16px;
  //     }
  //   }

  //   .container:first-child {
  //     text-align: center;

  //     .review-sub-title {
  //       color: #0580e8;
  //       font-family: $ff-inter;
  //       font-size: 16px;
  //       font-style: normal;
  //       font-weight: 800;
  //       line-height: 24px;
  //       margin-bottom: 8px;
  //       margin-top: 0;
  //     }

  //     .review-sec-title {
  //       color: #0c131a;
  //       font-family: $ff-inter;
  //       font-size: 42px;
  //       font-style: normal;
  //       font-weight: 900;
  //       line-height: 48px;
  //       letter-spacing: -0.84px;
  //       margin-bottom: 20px;
  //       margin-top: 0;

  //       @media (max-width: 767.98px) {
  //         font-size: 32px;
  //         line-height: 40px;
  //         letter-spacing: -0.64px;
  //       }
  //     }

  //     .rating-section {
  //       display: flex;
  //       align-items: center;
  //       padding: 4px 3.5px;
  //       border-radius: 60px;
  //       border: 1px solid var(--Neutrals-300, #dde3eb);
  //       background: var(--Neutrals-200, #eef2f6);
  //       max-width: 414px;
  //       height: 40px;
  //       margin: auto auto 8px auto;

  //       @media (min-width: 767.98px) {
  //         padding: 4px 2px;
  //       }

  //       .img-container {
  //         display: flex;
  //         align-items: center;
  //         @media (max-width: 767.98px) {
  //           margin-bottom: 7px;
  //         }
  //       }

  //       .star-logo {
  //         margin-left: 12px;
  //       }

  //       p {
  //         color: #0c131a;
  //         font-family: $ff-inter;
  //         font-size: 14px;
  //         font-style: normal;
  //         font-weight: 500;
  //         line-height: 20px;
  //         margin-left: 12px;
  //         span {
  //           font-weight: 700;
  //         }

  //         @media (max-width: 767.98px) {
  //           margin: 0px;
  //         }
  //       }

  //       @media (max-width: 767.98px) {
  //         flex-direction: column;
  //         height: 84px;
  //         padding: 11px 4px 13px;
  //       }
  //     }
  //   }

  //   @media (max-width: 767.98px) {
  //     padding: 79px 0 34px;
  //   }

  //   .review-slider {
  //     margin-top: 64px;
  //     margin-bottom: 64px;
  //     padding: 0 24px;

  //     @media (max-width: 1280px) {
  //       margin-top: 56px;
  //       overflow-x: scroll;
  //       max-width: unset;
  //       // min-height: 340px;

  //       &::-webkit-scrollbar {
  //         display: none;
  //         width: 0 !important;
  //       }
  //     }

  //     @media (max-width: 767.98px) {
  //       margin-top: 39px;
  //       min-height: 311px;
  //     }
  //   }
  // }
  // .review-slider {
  //   display: flex;
  //   justify-content: space-between;
  //   @media (min-width: 1600px) {
  //     position: relative;
  //     z-index: 2;
  //   }
  //   .review-item-box {
  //     // padding: 0 1.5px;
  //     width: 33.33%;
  //     max-width: 405px;
  //     height: auto;
  //     display: flex;

  //     .review-content {
  //       display: flex;
  //       flex-direction: column;
  //       width: 100%;
  //       border-radius: 12px;
  //       border: 1px solid var(--Neutrals-300, #dde3eb);
  //       padding: 28px 27px 27px;
  //     }
  //     .rating {
  //       display: flex;
  //       align-items: flex-end;
  //       padding-left: 0;
  //       padding-top: 0;
  //       flex-grow: 1;

  //       // .star-rating {
  //       // max-width: 108px;
  //       // height: 20px;
  //       // }
  //       span {
  //         font-family: $ff-inter;
  //         font-style: normal;
  //         font-weight: 600;
  //         font-size: 15px;
  //         line-height: 22px;
  //         color: #000000;
  //         padding-left: 8px;
  //       }
  //     }
  //     .post-time {
  //       font-family: $ff-inter;
  //       font-style: normal;
  //       font-weight: 400;
  //       font-size: 13px;
  //       line-height: 16px;
  //       color: #000;
  //       margin: 0;
  //     }
  //     .review {
  //       font-family: $ff-inter;
  //       font-style: normal;
  //       font-weight: 500;
  //       font-size: 16px;
  //       line-height: 24px;
  //       color: #0c131a;
  //       margin: 0;
  //       padding: 23px 0 24px;
  //       position: relative;

  //       @media (min-width: 767.98px) and (max-width: 1199.98px) {
  //         padding: 23px 0 20px;
  //       }
  //     }
  //     .review-author {
  //       font-family: $ff-inter;
  //       font-style: normal;
  //       font-weight: 800;
  //       font-size: 16px;
  //       line-height: 24px;
  //       color: #0c131a;
  //       margin: 0;
  //     }
  //   }
  // }

  // .review-get-started {
  //   display: flex;
  //   padding: 64px 80px;
  //   justify-content: space-between;
  //   align-items: center;
  //   border-radius: 20px;
  //   background: var(--neutral-900, #0c131a);

  //   @media (max-width: 1280px) {
  //     flex-direction: column;
  //   }

  //   @media (max-width: 767.98px) {
  //     padding: 40px 24px;
  //   }

  //   .get-started-title {
  //     max-width: 519px;
  //     h2 {
  //       color: var(--white-100, #fff);
  //       font-family: $ff-inter;
  //       font-size: 42px;
  //       font-style: normal;
  //       font-weight: 900;
  //       line-height: 48px; /* 114.286% */
  //       letter-spacing: -0.84px;
  //       margin: 0;

  //       span {
  //         color: #1793ff;
  //       }

  //       @media (max-width: 1280px) {
  //         text-align: center;
  //         margin-bottom: 32px;
  //       }

  //       @media (max-width: 767.98px) {
  //         font-size: 32px;
  //         line-height: 40px;
  //         letter-spacing: -0.64px;
  //       }
  //     }
  //   }

  //   .get-started-section {
  //     display: flex;
  //     align-items: flex-end;
  //     gap: 8px;

  //     @media (max-width: 767.98px) {
  //       flex-direction: column;
  //       width: 100%;
  //     }

  //     .get-started-input {
  //       position: relative;

  //       @media (max-width: 767.98px) {
  //         width: 100%;
  //       }

  //       .form-input-field {
  //         border-radius: 8px;
  //         border: 1px solid rgba(255, 255, 255, 0.1);
  //         background: rgba(255, 255, 255, 0.1);
  //         width: 302px;
  //         height: 60px;
  //         padding: 20px 12px;
  //         color: var(--Neutrals-100, #f6f8fa);
  //         font-family: $ff-inter;
  //         font-size: 16px;
  //         font-style: normal;
  //         font-weight: 500;
  //         line-height: 24px;
  //         outline: 0;

  //         @media (max-width: 767.98px) {
  //           width: 100%;
  //         }

  //         &:hover,
  //         &:focus {
  //           border: 1px solid rgba(255, 255, 255, 0.2);
  //         }

  //         &:focus + label {
  //           font-size: 12px;
  //           line-height: 18px;
  //           top: 4px;
  //         }
  //       }

  //       label {
  //         color: var(--neutral-500, #697586);
  //         font-family: $ff-inter;
  //         font-size: 16px;
  //         font-style: normal;
  //         font-weight: 500;
  //         line-height: 24px;
  //         position: absolute;
  //         left: 12px;
  //         top: 18px;
  //         pointer-events: none;
  //         transition: all 0.3s ease-in-out;
  //       }

  //       .error-msg {
  //         display: none;
  //         color: var(--neutrals-white-fff, #fff);
  //         font-family: $ff-inter;
  //         font-size: 12px;
  //         font-style: normal;
  //         font-weight: 600;
  //         line-height: 18px;
  //         border-radius: 4px;
  //         background: #d53641;
  //         box-shadow: 0px 10px 40px -5px rgba(129, 24, 24, 0.16),
  //           0px 2px 8px -5px rgba(129, 24, 24, 0.24);
  //         position: absolute;
  //         bottom: -46px;
  //         padding: 8px 12px;
  //         z-index: 1;
  //         white-space: nowrap;
  //         right: 0;
  //         left: 0;
  //         width: fit-content;
  //         margin: auto;

  //         &::before {
  //           content: "";
  //           position: absolute;
  //           bottom: calc(100% - 1.5px);
  //           left: calc(50% - 8px);
  //           background: url("//res.cloudinary.com/spiralyze/image/upload/v1682678739/drata/6002/error-arrow.svg")
  //             no-repeat;
  //           width: 16px;
  //           height: 8px;
  //           z-index: 2;
  //         }
  //       }

  //       &.input-error {
  //         .form-input-field {
  //           border: 1px solid #d53641;
  //         }
  //         .error-msg {
  //           display: block;
  //         }
  //       }

  //       &.input-filled {
  //         label {
  //           font-size: 12px;
  //           line-height: 18px;
  //           top: 4px;
  //         }
  //       }
  //     }

  //     .form-button {
  //       @media (max-width: 767.98px) {
  //         width: 100%;
  //       }

  //       button.btn-demo-spz {
  //         border-radius: 12px;
  //         background: var(--primary-600, #0580e8);
  //         display: inline-flex;
  //         height: 60px;
  //         padding: 10px 18px 10px 30px;
  //         justify-content: space-between;
  //         align-items: center;
  //         color: var(--white-100, #fff);
  //         font-family: $ff-inter;
  //         font-size: 16px;
  //         font-style: normal;
  //         font-weight: 600;
  //         line-height: 24px;
  //         outline: 0;
  //         border: 0;
  //         border: 2px solid transparent;
  //         cursor: pointer;
  //         width: 182px;
  //         white-space: nowrap;
  //         transition-duration: 150ms;

  //         @media (max-width: 767.98px) {
  //           width: 100%;
  //           padding: 10px 67px 10px 79px;
  //         }

  //         img {
  //           padding-left: 12px;
  //         }

  //         &:hover {
  //           background: #0068c9;
  //           border: 2px solid transparent;
  //         }

  //         &:active,
  //         &:focus {
  //           border: 2px solid var(--primary-300, #b2e0ff);
  //           background: var(--primary-700, #0068c9);
  //         }
  //       }
  //     }
  //   }
  // }

  @media (max-width: 1280px) {
    .review-section {
      padding: 80px 0 16px;
      .sec-title {
        &::after {
          display: none;
        }
      }
      .review-slider {
        margin-top: 0;
        padding: 70px 32px;
        max-width: unset;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
          width: 0 !important;
        }
        @media (max-width: 991.98px) {
          padding: 55.5px 16px 64.5px;
          margin-bottom: 0;
        }
      }
    }
    .review-slider {
      .review-item-box {
        width: auto;
        min-width: 437px;
        // margin-right: 32px;
        padding: 0 16px;
        // max-width: 350px !important;
        // min-height: 259px;
        // padding: 0 12px;

        // .review-content {
        //   -webkit-box-shadow: 0px 12px 32px rgba(1, 18, 32, 0.08);
        //   box-shadow: 0px 12px 32px rgba(1, 18, 32, 0.08);
        // }

        &:last-child {
          // margin-right: 0px;
          padding-right: 16px;
          // min-width: 322px;
          // max-width: 322px !important;
        }
        // .review {
        //   padding: 20.5px 0 17px;
        // }
      }
    }
  }

  @media (max-width: 767.98px) {
    .review-section {
      padding: 65px 0 24px;

      .review-slider {
        padding: 31px 6px 40px;
      }
    }
    .review-slider {
      .review-item-box {
        min-width: 333px;
        // margin-right: 20px;
        padding: 0 10px;

        .review {
          padding: 13px 0 20px;
        }

        &:last-child {
          padding-right: 10px;
        }

        .review-content {
          padding-top: 27px;
        }
      }
    }
  }

  //Global css
  .container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1328px;
    position: relative;
  }

  div[class*="HeroHomepage-featuredContent"],
  div[class*="HeroHomepage-ellipses"],
  div[class*="HeroHomepage-hero"],
  div[class*="Form-dotsSquarePrimaryIcon"],
  div[class*="Form-dotsSquareSecondaryIcon"] {
    display: none !important;
  }

  div[class*="HeroHomepage-root"] {
    //hero blue section height
    grid-template-rows: auto 0px min-content;

    div[class*="HeroHomepage-backgroundImage"] {
      display: none !important;
    }
  }

  section[variant="collectionCustomerLogosSectionWrapper"],
  section[id="3gtysPp0qKtRH2l8RRhVAq"] {
    display: none !important;
  }

  // 2006 CSS changes start here

  .hero-banner-section {
    .hero-banner-container {
      padding: 19px 80px 31.5px 80px;

      @media (min-width: 767.98px) and (max-width: 1199.98px) {
        padding: 20px 32px 32px 32px;
      }

      @media (max-width: 767.98px) {
        padding: 5px 16px 40px;
      }

      .hero-copy {
        max-width: 805px;
        margin: auto auto 41px;

        @media (max-width: 767.98px) {
          margin: auto auto 32px;
        }

        h2 {
          color: #0c131a;
          text-align: center;
          font-family: $ff-inter;
          font-size: 54px;
          font-style: normal;
          font-weight: 900;
          line-height: 64px;
          letter-spacing: -1.08px;
          margin-bottom: 9px;

          span {
            color: #1793ff;
          }

          @media (max-width: 767.98px) {
            font-size: 42px;
            line-height: 48px;
            letter-spacing: -0.84px;
            margin-bottom: 11px;
          }
        }

        p {
          color: #293642;
          text-align: center;
          font-family: $ff-inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          margin: 0;

          @media (max-width: 767.98px) {
            font-size: 18px;
            line-height: 26px;
          }
        }
      }

      .checkbox-section {
        h6 {
          color: #293642;
          text-align: center;
          font-family: $ff-inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 26px;
          margin-bottom: 24px;
          margin-top: 0;

          @media (min-width: 767.98px) and (max-width: 1199.98px) {
            margin-bottom: 28px;
          }

          @media (max-width: 767.98px) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 29px;
          }
        }

        .checkboxes {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          max-width: 1056px;
          margin: auto;
          margin-bottom: 40px;

          @media (min-width: 767.98px) and (max-width: 1199.98px) {
            max-width: 704px;
            margin-bottom: 17px;
            min-width: 704px;
          }

          @media (max-width: 767.98px) {
            max-width: 328px;
            margin-bottom: 15px;
          }

          .check-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 156px;

            @media (min-width: 767.98px) and (max-width: 1199.98px) {
              max-width: 218.66px;
              margin-bottom: 24px;

              &:nth-child(2),
              &:nth-child(5) {
                margin: 0 24px 24px;
              }
            }

            @media (max-width: 767.98px) {
              max-width: 156px;
              margin-bottom: 16.5px;
            }

            .custom-check {
              border-radius: 8px;
              border: 1px solid var(--Neutrals-300, #dde3eb);
              background: var(--neutrals-white-fff, #fff);
              padding: 27.5px 20px 20px;
              height: 154px;
              width: 100%;
              position: relative;
              text-align: center;
              cursor: pointer;

              @media (max-width: 767.98px) {
                height: 140px;
                padding: 18.5px 20px;
              }

              p {
                color: #697586;
                font-family: $ff-inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                margin: 0;
                cursor: pointer;
                margin-top: 9px;

                @media (max-width: 767.98px) {
                  font-size: 16px;
                  line-height: 24px;
                  margin-top: 10px;
                }
              }

              input {
                display: none;

                &:checked ~ .checkmark {
                  content: url(//res.cloudinary.com/spiralyze/image/upload/v1699283614/drata/2006/check-square--check-form-validation-checkmark-success-add-addition-box-square-tick.png);
                }
              }

              img {
                cursor: pointer;
              }

              .checkmark {
                position: absolute;
                content: url(//res.cloudinary.com/spiralyze/image/upload/v1699282723/drata/2006/Rectangle_unchecked.png);
                width: 20px;
                height: 20px;
                top: 4px;
                left: 4px;
              }

              &:hover {
                border: 1px solid var(--primary-primary-400, #84ccff);
                box-shadow: 0px 2.97872px 5.95745px -2.97872px rgba(16, 24, 40, 0.06);

                p {
                  color: #293642;
                }
              }

              &.checked {
                border: 1px solid var(--primary-primary-500, #1793ff);
                box-shadow: 0px 2.97872px 5.95745px -2.97872px rgba(16, 24, 40, 0.06),
                  0px 5.95745px 11.91489px -2.97872px rgba(16, 24, 40, 0.1);
                transform: translate(0px, -5.5px);

                p {
                  color: #293642;
                }

                .checkmark {
                  top: 5.5px;
                  left: 5px;
                }

                @media (min-width: 767.98px) and (max-width: 1199.98px) {
                  transform: translate(0px, -4.5px);
                }

                @media (max-width: 767.98px) {
                  transform: translate(0px, -5.25px);
                }
              }
            }
          }
        }

        .btn-section {
          text-align: center;
          .get-started-cta {
            border-radius: 12px;
            background: #0c131a;
            height: 60px;
            padding: 10px 20px 10px 32px;
            color: #fff;
            font-family: $ff-inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            outline: transparent;
            width: 100%;
            max-width: 182px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 0;
            cursor: pointer;
            white-space: nowrap;

            @media (max-width: 767.98px) {
              max-width: 328px;
            }

            img {
              margin-left: 24px;
            }

            &:hover {
              background: #293642;
            }

            &:active {
              border: 2px solid #697586;
              background: #293642;
            }
          }
        }
      }
    }
  }

  .hero-img-section {
    .img-container {
      img {
        width: 100%;
      }
    }
  }
}
