body.spz-2003[class] main::before {
  content: "";
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2003/assets/BG-1440.png");
  left: auto;
  right: 0;
  background-repeat: no-repeat;
  height: 1249px;
  width: 1249px;
  top: 0;
  background-size: 100%;
  z-index: 1;
  position: absolute;
}
@media (max-width: 1199.98px) {
  body.spz-2003[class] main::before {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2003/assets/Tablet-right.png");
    height: 487px;
    width: 440px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main::before {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2003/assets/Mobile-right.png");
    height: 400px;
    width: 310px;
  }
}
@media (max-width: 1199.98px) {
  body.spz-2003[class] main::after {
    content: "";
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2003/assets/Tablet-left.png");
    width: 273px;
    height: 715px;
    right: auto;
    left: 0;
    background-repeat: no-repeat;
    top: 597px;
    background-size: 100%;
    z-index: 1;
    position: absolute;
  }
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main::after {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2003/assets/Mobile-left.png");
    top: 520px;
    width: 310px;
    height: 850px;
  }
}
@media (min-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:first-child .section-block .section-inner[class] {
    max-width: 1180px;
  }
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:first-child .section-block .section-inner[class] {
    max-width: 628px;
  }
}
body.spz-2003[class] main .section.section-relative:first-child .section-block .section-inner[class] .hidden-mobile,
body.spz-2003[class] main .section.section-relative:first-child .section-block .section-inner[class] #element-508 {
  display: none !important;
}
body.spz-2003[class] main .section.section-relative:first-child .section-block .section-inner[class] .widget {
  top: auto !important;
  bottom: 16px;
}
@media (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:first-child .section-block .section-inner[class] .widget {
    bottom: -10px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:first-child .section-block .section-inner[class] .widget {
    bottom: auto;
    left: 20px !important;
    top: 30px !important;
  }
}
body.spz-2003[class] main .section.section-relative:first-child .section-block .section-inner[class] .widget .contents .url-link {
  width: auto;
}
body.spz-2003[class] main .section.section-relative:first-child .section-block .section-inner[class] .widget .contents .url-link .image {
  width: 137.5px;
  height: 60px;
}
@media (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:first-child .section-block .section-inner[class] .widget .contents .url-link {
    width: 100%;
    height: auto;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) {
  min-height: 2218px;
}
@media (min-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) {
    min-height: 1314px;
    height: 1314px !important;
  }
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) {
    height: 1920px;
    min-height: 1920px;
  }
}
@media (min-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] {
    max-width: 1180px;
  }
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] {
    max-width: 628px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .widget[class] {
  display: none;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] {
  display: flex;
}
@media (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] {
    flex-wrap: wrap;
    justify-content: center;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary {
  padding-top: 53px;
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary {
    padding: 20px;
  }
}
@media (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary {
    padding-top: 82px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary {
    padding-top: 56px;
    padding-bottom: 0;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #37465a;
  margin-bottom: 18px;
  z-index: 2;
  position: relative;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > h6 {
  font-weight: 800;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #37465a;
  margin-bottom: 40px;
  z-index: 2;
  position: relative;
}
@media (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > h6 {
    margin-bottom: 42px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > h6 {
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 18px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul {
  list-style: none;
  padding-left: 32px;
  padding-right: 2px;
}
@media (min-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul {
    padding-right: 40px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul li {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #37465a;
  margin-bottom: 24px;
  z-index: 2;
  position: relative;
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul li {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul li span {
  font-weight: 700;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul li::before {
  content: url("//res.cloudinary.com/spiralyze/image/upload/v1677053803/ABCFitnessSolutions/2003/assets/check_icon.svg");
  left: -32px;
  top: -2px;
  position: absolute;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-right-form {
  min-width: 638px;
  margin-right: -48px;
  margin-top: -4px;
  z-index: 2;
}
@media (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-right-form {
    min-width: 726px;
    max-width: 726px;
    margin-right: 0px;
    margin-top: -5px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-right-form {
    width: 100%;
    max-width: 375px;
    margin-top: -12px;
    min-width: auto;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-right-form picture img {
  width: 100%;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] {
  margin-top: 20px;
}
@media (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] {
    margin-top: 0px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] {
    padding: 0 20px 20px;
    margin-top: -12px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] > p {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #151515;
  z-index: 2;
  position: relative;
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] > p {
    font-size: 18px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] picture {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  z-index: 2;
  position: relative;
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] picture img {
    width: 100%;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider {
  position: relative;
  margin-top: 90px;
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider {
    margin-top: 62px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider {
    margin-top: 30px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider::before {
  content: "";
  position: absolute;
  width: 800px;
  height: 261px;
  left: calc(50% - 400px);
  background: linear-gradient(90deg, #00aeef -0.55%, #046096 48.36%, #ff7335 99.34%);
  opacity: 0.3;
  filter: blur(90px);
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider::before {
    width: 422px;
    left: calc(50% - 211px);
  }
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider::before {
    width: 315px;
    left: calc(50% - 157.5px);
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container {
  z-index: 2;
  padding: 0 168px;
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container {
    padding: 0 103px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container {
    padding: 0 50px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container .review-slider-item {
  padding: 35px 40px;
  background: #ffffff;
  border: 1px solid #e4e4e7;
  max-width: 422px;
  min-height: 376px;
  display: flex;
  flex-direction: column;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container .review-slider-item:nth-child(even) {
  border-radius: 0px 10px 10px 0px;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container .review-slider-item:nth-child(odd) {
  border-radius: 10px 0px 0px 10px;
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container .review-slider-item {
    min-width: 422px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container .review-slider-item {
    min-height: 384px;
    padding: 23px 19px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container .review-slider-item > img {
  width: 128px;
  height: 24px;
  margin-bottom: 14px;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container .review-slider-item > h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #18181b;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container .review-slider-item > h6 {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 20px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container .review-slider-item > p.card-content {
  color: #37465a;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  min-height: 140px;
  padding-right: 10px;
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container .review-slider-item > p.card-content {
    font-size: 14px;
    line-height: 24px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container .review-slider-item > p:last-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #6b7179;
  margin-top: auto;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container .review-slider-item > p:last-child span {
  color: #ff7335;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .slide_arrow {
  background: transparent;
  outline-color: transparent;
  border: 0;
  padding: 0;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .slide_arrow .orange-arrow {
  display: none;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .slide_arrow:hover > .grey-arrow {
  display: none;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .slide_arrow:hover > .orange-arrow {
  display: block;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .prev-arrow {
  position: absolute;
  cursor: pointer;
  left: 6.62%;
  top: calc(50% - 36px);
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .prev-arrow {
    left: 2.1%;
    top: calc(50% - 38px);
  }
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .prev-arrow {
    top: calc(50% - 30px);
    left: 5.3%;
  }
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .prev-arrow img {
    width: 22px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .next-arrow {
  position: absolute;
  cursor: pointer;
  right: 6.62%;
  top: calc(50% - 36px);
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .next-arrow {
    right: 2.1%;
    top: calc(50% - 38px);
  }
}
@media (max-width: 767.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .next-arrow {
    top: calc(50% - 30px);
    right: 5.3%;
  }
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .next-arrow img {
    width: 22px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: disc;
  padding-top: 2px;
  padding-left: 55px;
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .slick-dots {
    padding-left: 54px;
    padding-top: 6px;
  }
}
@media (max-width: 1199.98px) {
  body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .slick-dots {
    padding-left: 52px;
    padding-top: 5px;
  }
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .slick-dots li {
  font-size: 30px;
  color: #c2c2c2;
  width: 8px;
  margin-right: 10px;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .slick-dots li button {
  opacity: 0;
  visibility: hidden;
}
body.spz-2003[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .spz-review-slider .review-slider-container.slick-slider .slick-dots li.slick-active {
  color: #ff7335;
  font-size: 32px;
}/*# sourceMappingURL=2003-Style.css.map */