.spz-8005 #menu-main-menu-v3,
.spz-8005 .homepage .header__top-menu-link--support,
.spz-8005 .header__get-started,
.spz-8005 footer.netskope-footer,
.spz-8005 .header__popup,
.spz-8005 .header__top-menu-link--search {
  display: none !important;
}
.spz-8005 .header__top-menu .header__mobile-toggle,
.spz-8005 .header__top-menu .header__top-menu-link--search-mobile,
.spz-8005 .header__top-menu .header__top-menu-link-language {
  display: block !important;
}
.spz-8005 .js-hero-banner {
  background: transparent !important;
  padding: 0;
}
.spz-8005 .js-hero-banner > .container {
  max-width: 100%;
  padding: 0;
}
.spz-8005 .js-hero-banner > .container .gated-content__top {
  display: none;
}
.spz-8005 .js-hero-banner > .container .gated-content__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1023.98px) {
  .spz-8005 .js-hero-banner > .container .gated-content__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.spz-8005 .js-hero-banner > .container .gated-content__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 51%;
  width: 49%;
  height: 100%;
  background: #081a59;
}
@media (max-width: 1023.98px) {
  .spz-8005 .js-hero-banner > .container .gated-content__container::before {
    display: none;
  }
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left {
  background: #081a59;
  max-width: 840px;
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1199.98px) {
  .spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left {
    margin: 0;
  }
}
@media (max-width: 1023.98px) {
  .spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left {
    max-width: 100%;
  }
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left::before {
  content: "";
  position: absolute;
  left: 409px;
  top: -472px;
  width: 977.752px;
  height: 823px;
  background-image: url(//res.cloudinary.com/spiralyze/image/upload/v1708099430/netskope/8005/pattern_background.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .gated-content__banner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 44px 40px 0;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .gated-content__banner .gated-content__info .gated-content__type {
  display: none;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .gated-content__banner .gated-content__info .page-intro__resource-title {
  color: #fff;
  font-family: "Graphik", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .gated-content__banner .gated-content__thumbnail {
  margin: 8px auto 16px;
  background-image: url(//res.cloudinary.com/spiralyze/image/upload/v1708099561/netskope/8005/ui_desktop_tablet.webp) !important;
  height: 352px;
  width: 100%;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .rte {
  padding: 0 40px;
  margin-bottom: 8px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .rte > p {
  margin-bottom: 12px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .rte > p:nth-child(2) {
  margin-bottom: 0;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .rte ul {
  padding-left: 24px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .gated-content__content {
  padding: 0 40px 40px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .gated-content__content .gated-content__social,
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .gated-content__content :nth-child(6) {
  display: none;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .gated-content__content .gated-content__label {
  color: #fff;
  font-family: "Graphik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 16px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .related-resources-cards {
  padding: 48px 40px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .related-resources-cards .filters__content {
  padding: 0;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .related-resources-cards .filters__content .filters__layout {
  display: none;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .related-resources-cards .filters__content .filters__wrapper {
  min-height: auto;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .related-resources-cards .filters__content .filters__wrapper .card {
  border-radius: 16px;
  border: 0;
  height: 160px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .related-resources-cards .filters__content .filters__wrapper .card .card__content {
  background: url(//res.cloudinary.com/spiralyze/image/upload/v1711977142/netskope/8005/bg-card-1440.webp) no-repeat bottom right;
  background-size: contain;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .related-resources-cards .filters__content .filters__wrapper .card .card__content .card__content__link {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .related-resources-cards .filters__content .filters__wrapper .card .card__content .card__content__link .card__content__link-text {
  display: block;
  margin-right: 40px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .spz-footer-section {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  padding: 32px 40px;
  margin-top: auto;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .spz-footer-section .u-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .spz-footer-section .u-footer .nmobile {
  color: #fff;
  font-family: "Graphik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .spz-footer-section .u-footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .spz-footer-section .l-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .spz-footer-section .l-footer .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1360.98px) {
  .spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .spz-footer-section .l-footer .navbar-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .spz-footer-section .l-footer .navbar-nav li.menu-item {
  margin-right: 28px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .spz-footer-section .l-footer .navbar-nav li.menu-item:last-child {
  margin-right: 0;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .spz-footer-section .l-footer .navbar-nav li.menu-item a {
  color: #fff;
  font-family: "Graphik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__left .spz-footer-section .l-footer .v3-footer__date {
  color: #fff;
  font-family: "Graphik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right {
  position: relative;
  max-width: 600px;
  margin-left: initial;
  width: 45%;
}
@media (max-width: 1023.98px) {
  .spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right {
    max-width: 100%;
    width: 100%;
    background: #081a59;
  }
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .header.has-promo-banner {
  position: relative;
  top: 0;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .header.has-promo-banner .header__search-container-mobile {
  max-width: 280px;
  left: 53%;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .header.has-promo-banner .header__top-menu-link--search-mobile {
  border: 0;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .header.has-promo-banner .header__top-menu-link--search-mobile .header__top-menu-link--search-button img {
  width: 32px;
  height: 32px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .header.has-promo-banner .header__top.has-promo-banner {
  visibility: visible !important;
  padding: 31px 32px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .header.has-promo-banner .header__top.has-promo-banner .header__logo {
  padding: 0;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .header.has-promo-banner .header__top.has-promo-banner .header__logo img {
  width: 160px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .header.has-promo-banner .header__top-menu-link-language {
  padding: 4px;
  margin-left: 14px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .header.has-promo-banner .header__top-menu-link-language #locale_place_holder {
  color: #081a59;
  font-family: "Graphik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .header.has-promo-banner .header__mobile-toggle {
  width: 24px;
  height: 32px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .header.has-promo-banner .header__mobile-toggle .header_mobile__navbar-toggler {
  width: 24px;
  height: 32px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .breadcrumbs {
  margin: 0;
  padding: 12px 32px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .breadcrumbs .breadcrumbs__container {
  overflow: hidden;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .breadcrumbs .breadcrumbs__container .breadcrumbs__list {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .breadcrumbs .breadcrumbs__container .breadcrumbs__list .breadcrumbs__item::before {
  content: url(//res.cloudinary.com/spiralyze/image/upload/v1711975525/netskope/8005/chevron-right-dark.svg);
  -webkit-transform: none;
          transform: none;
  left: -8px;
  top: 3px;
}
@media (max-width: 1023.98px) {
  .spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .breadcrumbs .breadcrumbs__container .breadcrumbs__list .breadcrumbs__item::before {
    content: url(//res.cloudinary.com/spiralyze/image/upload/v1711975525/netskope/8005/chevron-right-right.svg);
  }
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .breadcrumbs .breadcrumbs__container .breadcrumbs__list .breadcrumbs__item:first-of-type:before {
  content: none;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .breadcrumbs .breadcrumbs__container .breadcrumbs__list .breadcrumbs__item .breadcrumbs__item-link {
  color: #081a59;
  font-family: "Graphik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
  margin: 0 16px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .breadcrumbs .breadcrumbs__container .breadcrumbs__list .breadcrumbs__item .breadcrumbs__item-link:last-child {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (max-width: 1023.98px) {
  .spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .breadcrumbs .breadcrumbs__container .breadcrumbs__list .breadcrumbs__item .breadcrumbs__item-link {
    color: #fff;
  }
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .breadcrumbs .breadcrumbs__container .breadcrumbs__list .breadcrumbs__item:first-child .breadcrumbs__item-link {
  margin-left: 0;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form {
  width: 100%;
  padding: 24px 40px 40px;
}
@media (max-width: 1023.98px) {
  .spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form {
    max-width: 704px;
    width: 100%;
  }
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form .frm-logo .form_title {
  color: #081a59;
  font-family: "Graphik", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 24px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1023.98px) {
  .spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm {
    padding: 0 !important;
  }
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  margin: 0;
  width: calc(50% - 6px) !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap {
  position: relative;
  margin-bottom: 16px;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 56px #fff inset !important;
  background-color: #ffffff !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 56px #fff inset !important;
  background-color: #ffffff !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 56px #fff inset !important;
  background-color: #ffffff !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 56px #fff inset !important;
  background-color: #ffffff !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap .mktoField {
  font-family: "Graphik", sans-serif !important;
  height: 56px !important;
  padding: 24px 15px 8px !important;
  border-radius: 24px !important;
  border: 1px solid rgba(8, 26, 89, 0.2) !important;
  background: #fff !important;
  color: #081a59 !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 24px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  caret-color: #00a9ce !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap .mktoField:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
  -webkit-text-fill-color: #081a59 !important;
  color: #081a59 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap .mktoField:focus {
  border-color: #081a59 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap:not(.single_checkbox) label.mktoLabel {
  position: absolute !important;
  top: 16px;
  left: 16px;
  color: #7e8bba !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 24px !important;
  width: auto !important;
  height: auto;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Graphik", sans-serif !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap:not(.single_checkbox):hover label.mktoLabel {
  color: #081a59 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap select.mktoField {
  background-position: right 19px center !important;
  padding-right: 36px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap select.mktoField option {
  background: inherit;
  color: inherit;
  border-bottom: inherit;
  padding: inherit;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap .mktoField.mktoInvalid {
  border-color: #ff5b28 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap .mktoError {
  top: initial;
  bottom: initial !important;
  left: initial !important;
  right: initial !important;
  display: inline-block;
  margin: 0;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap .mktoError .mktoErrorArrowWrap {
  display: none !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap .mktoError .mktoErrorMsg {
  margin: 2px 0 0 10px;
  padding: 0;
  color: #ff5b28;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  display: inline-block;
  bottom: 0;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFormCol {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap.active.typing:not(.single_checkbox) label.mktoLabel {
  top: 6px;
  font-size: 12px !important;
  line-height: 20px !important;
  color: #7e8bba !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap.active.typing .mktoField {
  border-color: #081a59 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap.filled:not(.single_checkbox) label.mktoLabel {
  top: 6px;
  font-size: 12px !important;
  line-height: 20px !important;
  color: #7e8bba !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap.single_checkbox {
  margin: -4px 0 8px 0;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap.single_checkbox .mktoLabel {
  padding: 0 0 0 24px !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap.single_checkbox .mktoLabel::after {
  opacity: 0 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap.single_checkbox .mktoLabel::before {
  width: 16px !important;
  height: 16px !important;
  border: 1px solid #ff8200 !important;
  border-radius: 4px !important;
  background: #fff !important;
  top: 2px !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap.single_checkbox .mktoLabel p.p11 {
  width: 100%;
  font-family: "Graphik", sans-serif !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap.single_checkbox .mktoLabel p {
  color: #081a59 !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap.single_checkbox .mktoLabel p a {
  text-decoration: underline !important;
  color: #081a59 !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap.single_checkbox .mktoLabel p a:hover {
  text-decoration: underline !important;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoFieldWrap.single_checkbox .mktoLabel.single_checked::before {
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1701250536/netskope/6001/Checkbox_base.svg") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  border: none !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoHtmlText .netskope-fm {
  padding: 0 !important;
  color: #7e8bba !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-family: "Graphik", sans-serif !important;
  text-decoration: none !important;
  border: none;
  margin: 0 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow .mktoHtmlText .netskope-fm a {
  padding: 0 !important;
  color: #7e8bba !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-family: "Graphik", sans-serif !important;
  text-decoration: none !important;
  border: none;
  margin: 0 !important;
  text-decoration: underline !important;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoTemplateBox {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoTemplateBox .welcomeback {
  color: #081a59 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoTemplateBox a.mktoNotYou {
  color: #081a59 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow.field-2 {
  display: none !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow.field-10 {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow.field-11 {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoButtonRow {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow.field-9 .mktoFieldWrap:before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  right: 20px;
  top: 21px;
  z-index: 1;
  pointer-events: none;
  background-image: url(https://res.cloudinary.com/spiralyze/image/upload/v1709021903/netskope/8004/Chevron-drop.svg) !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoFormRow.field-9 .mktoFieldWrap.typing:before {
  background-image: url(https://res.cloudinary.com/spiralyze/image/upload/v1709021903/netskope/8004/Chevron-drop.svg) !important;
  right: 19px;
  top: 18px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoButtonWrap {
  margin-top: 16px !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoButtonWrap .mktoButton {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100% !important;
  height: 48px;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  color: #081a59 !important;
  background: #ff8200 !important;
  border: 1px solid #ff8200 !important;
  border-radius: 200px !important;
  font-family: "Graphik", sans-serif !important;
}
.spz-8005 .js-hero-banner > .container .gated-content__container .gated-content__right .gated-content__form form.mktoForm .mktoButtonWrap .mktoButton:hover {
  background: #fff !important;
  border-color: #081a59 !important;
}