@media screen and (max-width: 1024.98px) {
  body.spz-8004 .desk-only {
    display: none;
  }
}
@media screen and (min-width: 1024.98px) {
  body.spz-8004 .tab-mob {
    display: none;
  }
}
@media (min-width: 767.98px) {
  body.spz-8004 .mob-only {
    display: none;
  }
}
body.spz-8004 header.header {
  display: none;
}
@media screen and (min-width: 1400px) {
  body.spz-8004 .lp_gated_video_thumbnail img {
    height: 446px !important;
  }
}
@media (min-width: 767.98px) and (max-width: 1024.98px) {
  body.spz-8004 .lp_gated_video_thumbnail img {
    height: 476px !important;
  }
}
@media screen and (max-width: 573.98px) {
  body.spz-8004 .lp_gated_video_thumbnail img {
    min-height: 220px !important;
  }
}
@media screen and (max-width: 767.98px) {
  body.spz-8004 .lp_gated_video_thumbnail {
    margin-bottom: 0;
  }
}
body.spz-8004 #main-content .dnd_area-row-0-hidden {
  background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/komodohealth/8004/bg-1440_1.webp) no-repeat center center;
  background-size: 100% 100%;
  padding-top: 16px !important;
}
@media screen and (max-width: 1024.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden {
    background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/komodohealth/8004/bg-768_2.webp) no-repeat center center;
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 767.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden {
    background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/komodohealth/8004/bg-360_2.webp) no-repeat center center;
    background-size: 100% 100%;
    padding: 16px 16px 35px !important;
  }
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid {
  max-width: 1324px !important;
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 {
  padding: 0;
}
@media (max-width: 1024.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 {
    padding: 8px 0 0;
  }
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-2,
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-3 {
  display: none !important;
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .spz-logo-container {
  max-width: 1140px;
  margin: auto;
  width: 100%;
}
@media screen and (max-width: 1024.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .spz-logo-container {
    max-width: 704px;
  }
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .spz-logo-container img {
    height: 32px;
  }
}
@media screen and (max-width: 767.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .spz-logo-container {
    padding: 0 4px;
  }
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 86.5px;
  margin-bottom: 71.5px;
}
@media screen and (max-width: 1024.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 704px;
    margin: 0 auto 22px;
  }
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper {
  max-width: 511px;
  margin-right: 64px;
  margin-left: 92px;
}
@media screen and (max-width: 1199.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper {
    margin-left: 0;
    margin-right: 24px;
  }
}
@media screen and (max-width: 1024.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper {
    max-width: 100%;
    margin-right: 0;
  }
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .eyebrow-title {
  color: #68cce8;
  font-family: Titillium Web, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0 0 14px;
}
@media screen and (max-width: 1024.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .eyebrow-title {
    margin-top: 39px;
  }
}
@media screen and (max-width: 767.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .eyebrow-title {
    margin-top: 40px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    margin-bottom: 17px;
  }
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .h-title {
  color: #fff;
  font-family: Titillium Web, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  margin: 0 0 32px;
  max-width: 511px;
}
@media screen and (max-width: 767.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .h-title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1024.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .bullet-container {
    margin-top: 24px;
  }
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .bullet-container .bullet-wrapper {
  list-style: none;
  padding-left: 0;
  margin-bottom: 24px;
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .bullet-container .bullet-wrapper .bullet-item {
  color: #fff;
  font-family: Titillium Web, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 12px;
  padding-left: 44px;
  position: relative;
}
@media screen and (max-width: 1024.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .bullet-container .bullet-wrapper .bullet-item {
    padding-left: 36px;
    font-size: 18px;
    line-height: 26px;
  }
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .bullet-container .bullet-wrapper .bullet-item span {
  font-weight: 700;
}
@media screen and (max-width: 1024.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .bullet-container .bullet-wrapper .bullet-item span {
    font-size: 16px;
    line-height: 24px;
  }
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .bullet-container .bullet-wrapper .bullet-item:before {
  content: "";
  width: 32px;
  height: 32px;
  background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/komodohealth/8004/icon.webp) no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 1024.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .bullet-container .bullet-wrapper .bullet-item:before {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .bullet-container .bullet-wrapper .bullet-item:before {
    top: 3px;
  }
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .spz-btn-wrapper {
  margin-top: 32px;
}
@media screen and (max-width: 1024.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .spz-btn-wrapper {
    margin-top: 24px;
  }
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .spz-btn-wrapper .spz-btn {
  border-radius: 100px;
  background: #68cce8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-family: Titillium Web, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  width: 294px;
  height: 56px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  -webkit-appearance: none;
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .spz-btn-wrapper .spz-btn:hover {
  background: #fff;
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .spz-btn-wrapper .spz-btn:active {
  background: #4a4a4a;
  color: #fff;
}
@media screen and (max-width: 573.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span .spz-hero-copy-wrapper .spz-btn-wrapper .spz-btn {
    max-width: 100%;
    width: 100%;
  }
}
body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span > .hs_cos_wrapper.hs_cos_wrapper_widget {
  width: 100%;
}
@media (min-width: 1199.98px) {
  body.spz-8004 #main-content .dnd_area-row-0-hidden > .row-fluid > .span12 .row-number-4 .widget-span > .hs_cos_wrapper.hs_cos_wrapper_widget {
    max-width: calc(100% - 666px);
  }
}
body.spz-8004 #main-content .dnd_area-row-1-hidden .widget-span .row-number-6,
body.spz-8004 #main-content .dnd_area-row-1-hidden .widget-span .row-number-7 {
  display: none !important;
}
body.spz-8004 #main-content .dnd_area-row-1-hidden .widget-span .row-number-12,
body.spz-8004 #main-content .dnd_area-row-1-hidden .widget-span .row-number-13 {
  overflow: hidden;
}
body.spz-8004 #main-content .dnd_area-row-2-hidden {
  background: transparent !important;
}
@media screen and (max-width: 573.98px) {
  body.spz-8004 #main-content .dnd_area-row-2-hidden {
    padding: 0 10px !important;
    margin-bottom: 76px;
  }
}
body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 {
  padding: 0px 2px 4.5px 5px;
}
@media screen and (max-width: 1024.98px) {
  body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 {
    padding: 0 8px;
  }
}
@media screen and (max-width: 573.98px) {
  body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 {
    padding: 0;
  }
}
@media (min-width: 767.98px) and (max-width: 1024.98px) {
  body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 .partner-logos-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 573.98px) {
  body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 .partner-logos-list {
    gap: 24px;
    row-gap: 17px;
  }
}
body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 .partner-logos-list .logo_no_link {
  height: 40px;
}
body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 .partner-logos-list .logo_no_link img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 767.98px) {
  body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 .partner-logos-list .logo_no_link {
    height: 31px;
  }
  body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 .partner-logos-list .logo_no_link img {
    height: 100% !important;
    width: auto;
  }
  body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 .partner-logos-list .logo_no_link:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 .partner-logos-list .logo_no_link:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 .partner-logos-list .logo_no_link:nth-child(3) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 .partner-logos-list .logo_no_link:nth-child(4) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  body.spz-8004 #main-content .dnd_area-row-2-hidden > .row-fluid .span12 .partner-logos-list .logo_no_link:nth-child(5) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}