body.spz-3001 {
  #HeaderScripts.mktoText {
    display: none !important;
  }

  .body-wrapper {
    //Hiding half of the footer here
    > footer {
      .page_padding {
        .top.pt-5,
        .divider.py-3 {
          display: none !important;
        }

        .bottom.pb-5 {
          padding-top: 34.41px;
        }
      }
    }

    #nav nav {
      margin-top: 16px;

      #NavLogo {
        #logo-img {
          max-width: 104px;
        }
      }
    }

    //Hero Css starts here
    #hero {
      .hero_container {
        padding-top: 40px !important;
        > .row {
          flex-direction: row-reverse;

          #HeroText {
            img[imagepreview="false"] {
              width: 529px;
              height: 280px;
              margin-top: 2px;
            }
          }

          #HeroFormCol {
            #HeroFormPanel {
              width: 100%;
              max-width: 580px;
              padding: 56px 56px 50px 56px;
              border-radius: 8px;
              background: var(--primary-neutrals-w, #fff);
              box-shadow: 0px 24px 48px 0px rgba(13, 18, 46, 0.12);

              #HeroFormTitleText h6 {
                color: var(--primary-neutrals-n-1, #0d122e);
                text-align: center;
                font-size: 26px;
                font-style: normal;
                font-weight: 300;
                line-height: 34px; /* 130.769% */
                white-space: nowrap;
                letter-spacing: initial;
                margin: -4px -6px 24px 0;
                span {
                  color: var(--accents-a-5, #904ab0);
                }
              }

              #HeroForm {
                //Form Css starts here
                form.mktoForm {
                  .mktoFormRow {
                    .mktoFormCol {
                      min-height: auto;
                      margin: 0 !important;
                      padding: 0 !important;
                      &:first-child {
                        // margin-right: auto;
                      }

                      &:nth-child(2) {
                        // .mktoFieldWrap {
                        //   display: flex;
                        //   justify-content: flex-end;
                        //   margin-left: auto;
                        // }
                      }

                      .mktoFieldWrap {
                        position: relative;
                        .mktoLabel {
                          position: absolute;
                          overflow: hidden;
                          color: var(
                            --primary-neutrals-n-2,
                            rgba(13, 18, 46, 0.8)
                          ) !important;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          font-size: 16px !important;
                          font-style: normal;
                          font-weight: 300 !important;
                          line-height: 24px; /* 150% */
                          top: 11px;
                          left: 16px;
                          padding: 0 !important;
                          transition: all 0.3s ease-in-out;
                          pointer-events: none;
                        }

                        .mktoField:not([type="checkbox"]) {
                          border-radius: 4px;
                          border: 1px solid
                            var(--interactive-colors-a-4, #d6d7f5) !important;
                          width: 280px;
                          padding: 11px 16px 10px 16px !important;
                          overflow: hidden;
                          color: var(
                            --primary-neutrals-n-1,
                            #0d122e
                          ) !important;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          font-size: 16px !important;
                          font-style: normal;
                          font-weight: 300 !important;
                          line-height: 24px !important; /* 150% */
                          margin-bottom: 20px !important;

                          &:not(#Lead_Notes__c) {
                            max-width: 224px;
                            height: 48px !important;
                          }

                          &#I_am__c,
                          &#Country {
                            outline: transparent;
                            appearance: none !important;
                            background-image: url("https://res.cloudinary.com/spiralyze/image/upload/v1691142439/eptura/3001/custom/chevron-down.svg") !important;
                            background-repeat: no-repeat !important;
                            background-position: right 1rem center !important;
                            background-size: 0.9rem !important;
                          }

                          &#Lead_Notes__c ~ .mktoError {
                            margin-top: 0 !important;
                            .mktoErrorMsg {
                              margin-top: -28px;
                            }
                          }
                        }

                        .mktoHtmlText.mktoHasWidth {
                          margin: 0 !important;
                          span {
                            color: var(--primary-neutrals-n-1, #0d122e);
                            font-size: 10px !important;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 16px; /* 160% */
                          }
                        }

                        .mktoCheckboxList {
                          margin-top: 7px;
                          .mktoField {
                            height: 16px !important;
                            width: 16px !important;
                          }

                          label {
                            color: var(--primary-neutrals-n-1, #0d122e);
                            font-size: 14px !important;
                            font-style: normal !important;
                            font-weight: 300 !important;
                            line-height: 20px !important; /* 142.857% */
                            margin-left: 19px;
                          }
                        }

                        .mktoError {
                          margin-top: 42px !important;

                          .mktoErrorArrowWrap {
                            display: none;
                          }

                          .mktoErrorMsg {
                            background-color: transparent;
                            background-image: none;
                            border-radius: 0;
                            box-shadow: none;
                            max-width: 100%;
                            padding: 0;
                            text-shadow: none;
                            color: var(--accents-a-9, #f83a59);
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 20px; /* 142.857% */
                            border: 0;
                          }
                        }
                      }

                      .show-comment-dynamic {
                        overflow: hidden;
                        color: var(
                          --primary-neutrals-n-2,
                          rgba(13, 18, 46, 0.8)
                        );
                        text-overflow: ellipsis;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 24px;
                        margin-bottom: 18px;
                        display: block;
                        margin-top: 2px;
                        span {
                          padding-right: 5px;
                        }
                      }

                      .spz-hidden {
                        display: none !important;
                      }

                      &.field-focus {
                        .mktoFieldWrap {
                          .mktoLabel {
                            top: -8px;
                            left: 11px;
                            padding: 0 5px !important;
                            color: var(--accents-a-5, #904ab0) !important;
                            font-size: 13px !important;
                            line-height: 18px !important; /* 138.462% */
                            background: #fff;
                          }
                        }
                        .mktoField:not([type="checkbox"]) {
                          border-color: #904ab0 !important;
                        }
                      }

                      &.input-filled {
                        .mktoFieldWrap {
                          .mktoLabel {
                            top: -8px;
                            left: 11px;
                            padding: 0 5px !important;
                            font-size: 13px !important;
                            line-height: 18px !important; /* 138.462% */
                            background: #fff;
                          }
                        }
                      }

                      &.field-error {
                        .mktoFieldWrap {
                          .mktoLabel {
                            // top: -8px;
                            // left: 11px;
                            // padding: 0 5px !important;
                            // color: var(--accents-a-5, #904ab0) !important;
                            // font-size: 13px !important;
                            // line-height: 18px !important; /* 138.462% */
                            // background: #fff;
                          }
                        }
                        .mktoField:not([type="checkbox"]) {
                          border-color: #f83a59 !important;
                          //   margin-bottom: 28px !important;
                        }
                      }
                    }
                  }

                  //submit button css
                  .mktoButtonRow {
                    text-align: center;
                    .mktoButtonWrap {
                      button.mktoButton {
                        display: flex;
                        width: 140px !important;
                        height: 50px !important;
                        padding: 0px 32px !important;
                        justify-content: center;
                        align-items: center;
                        border-radius: 3px !important;
                        background: var(
                          --interactive-colors-a-1,
                          #1b4bc5
                        ) !important;
                        color: var(--primary-neutrals-w, #fff) !important;
                        text-align: center;
                        font-size: 16px !important;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px !important; /* 150% */
                        margin-top: 22px !important;
                      }
                    }
                  }

                  //email line form
                  .spz-email {
                    .mktoFieldWrap {
                      margin-top: 18px;
                      .mktoHtmlText.mktoHasWidth {
                        text-align: center;
                        em {
                          color: var(--primary-neutrals-n-1, #0d122e);
                          font-size: 14px;
                          font-style: normal;
                          font-weight: 300;
                          line-height: 20px; /* 142.857% */

                          a {
                            color: var(--interactive-colors-a-1, #1b4bc5);
                            font-weight: 500;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
