<section class=review-section>
    <div class=container>
        <div class=item-wrapper>
            <div class=comment-wrapper>
                <img class="br-logo" alt="TechValidate" src="https://res.cloudinary.com/spiralyze/image/upload/v1675317581/RAPID7/3301%20%7C%20Rapid7%20%7C%20XDR%20vs%20Comp%20%7C%20TechValidate%20Reviews/techvalidate-logo.svg">
            </div>
        </div>
        <div class=item-wrapper>
            <div class=comment-wrapper>
                <p class=comment>
                    Rapid7's InsightIDR finally lets me sleep at night. Everything is being covered, even when I am not in the office. If something happens, I'll be notified. It really helped us to understand a lot of things that happen in our environment/network and made us feel more confident about our security posture.
                <h5 class=profession>IT Administrator</h5>
                <span class=profession-desc>Medium Enterprise Industrial Manufacturing Company</span>
            </div>
        </div>
        <div class=item-wrapper>
            <div class=comment-wrapper>
                <p class=comment>
                Rapid7 InsightIDR has been a wonderful tool that gives us insight into our user behaviors, as well as clearly alerting us to potential threats that exist in our network. Our team has become more efficient with fewer false positives and improved investigation times.
                <h5 class=profession>Josh Petrucka</h5>
                <span class=profession-desc>Security Analyst, Conexus Credit Union</span>
            </div>
        </div>
        <div class=item-wrapper>
            <div class=comment-wrapper>
                <p class=comment>
                    Rapid7 InsightIDR vastly improved the visibility of our network, endpoints, and weak spots. We now have the ability to respond to threats we didn't see before we had InsightIDR.
                <h5 class=profession>Robert Middleton</h5>
                <span class=profession-desc>Network Administrator, CU4SD</span>
            </div>
        </div>
    </div>
</section>