.reviews-container-spz[class] .vl-reviews__title[class] {
  border: 0;
}
.reviews-container-spz[class] .reviews-tags[class] ul {
  padding: 0;
  list-style: none;
  display: flex;
}
.reviews-container-spz[class] .reviews-tags[class] ul li {
  color: #515365;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 18px;
  background: #d9d9d9;
  border-radius: 4px;
  padding: 0px 8px 2px;
  height: 20px;
  margin-right: 4px;
}
.reviews-container-spz[class] .reviews-container[class] .review-card[class] {
  margin-bottom: 18px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  border: 1px solid #f7f7f9;
  padding: 16px;
  width: 100%;
  height: 151px;
}
.reviews-container-spz[class] .reviews-container[class] .review-card[class] .vl-reviews-item__text p {
  height: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #515365;
}
.reviews-container-spz[class] .reviews-container[class] .review-card[class] .card-block[class] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.reviews-container-spz[class] .reviews-container[class] .review-card[class] .card-block[class] .card-user[class] div:nth-child(3) {
  display: none;
}