body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .demos-listing-hero {
  display: none !important;
}
body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section {
  background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/komodohealth/15001/hero_background_1440.webp) no-repeat center bottom/cover;
  padding: 66px 15px 80px;
}
@media (max-width: 1024.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section {
    background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/komodohealth/15001/hero_background_768.webp) no-repeat center bottom/cover;
    padding: 30px 32px 64px;
  }
}
@media (max-width: 767.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section {
    padding: 32px 20px 48px;
  }
}
body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container {
  max-width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1024.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-left-copy {
  max-width: 562px;
  width: 100%;
  margin-top: 50px;
}
@media (max-width: 1024.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-left-copy {
    margin-top: 0;
    margin-bottom: 42px;
    max-width: 100%;
  }
}
@media (max-width: 767.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-left-copy {
    margin-bottom: 24px;
  }
}
body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-left-copy .eyebrow-title {
  color: #68cce8;
  font-family: "Titillium Web";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin: 0 0 16px;
}
@media (max-width: 1024.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-left-copy .eyebrow-title {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-left-copy .eyebrow-title {
    text-align: left;
  }
}
body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-left-copy .hero-headline {
  color: #fff;
  font-family: "Titillium Web";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin: 0 0 24px;
  max-width: 415px;
}
@media (max-width: 1024.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-left-copy .hero-headline {
    text-align: center;
    max-width: 100%;
  }
}
@media (max-width: 767.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-left-copy .hero-headline {
    text-align: left;
  }
}
body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-left-copy .hero-desc {
  color: #fff;
  font-family: "Titillium Web";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 8px;
}
@media (max-width: 1024.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-left-copy .hero-desc {
    text-align: center;
    padding: 0 28px;
  }
}
@media (max-width: 767.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-left-copy .hero-desc {
    text-align: left;
    padding: 0;
  }
}
body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-form-wrapper {
  max-width: 520px;
  margin-left: 20px;
  min-width: 480px;
  width: 100%;
}
@media (max-width: 1024.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-form-wrapper {
    margin-left: 0;
  }
}
@media (max-width: 767.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-form-wrapper {
    min-width: auto;
  }
}
body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-form-wrapper .hero-form {
  background: #fff;
  -webkit-box-shadow: 0px 12.333px 49.333px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 12.333px 49.333px 0px rgba(0, 0, 0, 0.2);
  padding: 24px 32px;
}
@media (max-width: 767.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-form-wrapper .hero-form {
    padding: 24px 16px;
  }
}
body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-hero-section .hero-section-container .hero-form-wrapper .hero-form .spz-form-title {
  color: #000;
  text-align: center;
  font-family: "Titillium Web";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding: 0 0 24px;
}
body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-interactive-section {
  background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/komodohealth/15001/banner_background_1440.webp) no-repeat center top/cover;
  padding: 56px 15px 80px;
}
@media (max-width: 1024.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-interactive-section {
    background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/komodohealth/15001/banner_background_768_360.webp) no-repeat center top/cover;
  }
}
@media (max-width: 767.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-interactive-section {
    padding: 40px 20px;
  }
}
body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-interactive-section .interactive-container {
  max-width: 600px;
  margin: auto;
}
body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-interactive-section .interactive-container .ia-title {
  color: #fff;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin: 0 0 24px;
}
@media (max-width: 767.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-interactive-section .interactive-container .ia-title {
    text-align: left;
  }
}
body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-interactive-section .interactive-container .ia-desc {
  color: #fff;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}
@media (max-width: 767.98px) {
  body.spz-15001 #main-content .dnd_area-row-0-padding .hs_cos_wrapper_type_module .spz-interactive-section .interactive-container .ia-desc {
    text-align: left;
  }
}
body.spz-15001 #main-content .spz-demos-listing {
  background: #f0eeee;
  padding: 56px 15px 40px;
}
@media (max-width: 1024.98px) {
  body.spz-15001 #main-content .spz-demos-listing {
    padding: 56px 32px;
  }
}
@media (max-width: 767.98px) {
  body.spz-15001 #main-content .spz-demos-listing {
    padding: 48px 20px 24px;
  }
}
body.spz-15001 #main-content .spz-demos-listing .spz-container {
  max-width: 1140px;
  margin: auto;
}
@media screen and (max-width: 767.98px) {
  body.spz-15001 #main-content .spz-demos-listing .spz-container {
    max-width: 400px;
  }
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row {
  margin-bottom: 40px;
}
@media (max-width: 1024.98px) {
  body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row {
    margin-bottom: 24px;
  }
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-title {
  color: #000;
  font-family: Titillium Web, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0 0 24px;
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card {
  max-width: 369px;
  margin-right: 16px;
  max-height: 230px;
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1199.98px) {
  body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 1024.98px) {
  body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card {
    max-width: 344px;
  }
  body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card:nth-child(2) {
    margin-right: 0;
  }
}
@media screen and (max-width: 767.98px) {
  body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 15.3px;
    max-height: none;
    width: 100%;
  }
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card a {
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card a .dl-card-img {
  position: relative;
  height: 180px;
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card a .dl-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card a .dl-card-img .tt-btn {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px 16px 8px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 99px;
  background: #fff;
  width: 145px;
  height: 40px;
  top: calc(50% - 20px);
  left: calc(50% - 71.5px);
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card a .dl-card-img .tt-btn img {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card a .dl-card-img .tt-btn span {
  color: #000;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card a .dl-card-desc {
  padding: 12px 20px;
  border-bottom: 1px solid #a43680;
  background: #fff;
  color: #000;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .demos-listing-card-container .demos-listing-card a:hover {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .dl-cta-wrapper {
  margin-top: 56px;
}
@media (max-width: 1024.98px) {
  body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .dl-cta-wrapper {
    margin-top: 40px;
  }
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .dl-cta-wrapper a {
  width: 364px;
  padding: 12px 16px;
  border-radius: 100px;
  background: #68cce8;
  color: #000;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  height: 48px;
}
@media (max-width: 1024.98px) {
  body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .dl-cta-wrapper a {
    max-width: 704px;
    width: 100%;
  }
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .dl-cta-wrapper a:hover {
  background: #000000;
  color: #ffffff;
}
body.spz-15001 #main-content .spz-demos-listing .spz-container .demos-listing-row .dl-cta-wrapper a:active {
  background: #4a4a4a;
  color: #ffffff;
}
body.spz-15001 #main-content .dnd_area-row-1-background-layers {
  display: none !important;
}

/* 15001 form changes */
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
body.spz-15001 #demo_Form_15001_wrapper .lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin: 80px auto;
  display: block;
  width: 80px;
  height: 80px;
  margin: 80px auto;
}
body.spz-15001 #demo_Form_15001_wrapper .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-required {
  display: none;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field.width50 {
  width: calc((100% - 20px) / 2);
  float: left;
  clear: none;
}
body.spz-15001 #demo_Form_15001_wrapper .with-margin {
  margin-left: 20px;
}
body.spz-15001 #demo_Form_15001_wrapper .clear {
  clear: both;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field.width50.clear {
  clear: both;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field {
  position: relative;
  margin-bottom: 20px;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field > label:not(.hs-form-booleancheckbox-display):not(.hs-error-msg) {
  position: absolute;
  top: 11px;
  left: 20px;
  pointer-events: none;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field > label span {
  color: #4a4a4a;
  font-family: Titillium Web, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  position: relative;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field:hover > label span {
  color: #000;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-input {
  margin: 0px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  background-color: #f8f7f7 !important;
  height: 48px;
  text-overflow: ellipsis;
  padding: 11px 19px 12px !important;
  color: #000;
  font-family: Titillium Web, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  outline: none;
  letter-spacing: 0;
  background-clip: padding-box;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f8f7f7 inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #000 !important;
  z-index: 2;
  position: relative;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px #f8f7f7 inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #000 !important;
  z-index: 2;
  position: relative;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f8f7f7 inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #000 !important;
  z-index: 2;
  position: relative;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-error-msgs label {
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 16px !important;
  font-family: Titillium Web, sans-serif;
  letter-spacing: 0px;
  color: #dc0000;
  margin-top: 4px;
  margin-bottom: -12px;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-error-msgs label a {
  display: block;
  padding-top: 6px;
  color: #dc0000;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-error-msgs.inputs-list {
  padding-left: 0px;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate {
  margin-bottom: 16.5px;
}
@media screen and (max-width: 767.98px) {
  body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate {
    margin-bottom: 17.5px;
  }
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate .input .inputs-list {
  padding-left: 0;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate .hs-error-msgs label {
  margin-bottom: -3px;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate input[type=checkbox] {
  min-width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
  padding: 0px !important;
  cursor: pointer;
  border-radius: 0;
  outline: 0;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate input[type=checkbox]:checked {
  background-color: #68cce8 !important;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1697453402/KomodoHealth/1003/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #68cce8 !important;
  background-clip: border-box;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate label span {
  color: #000;
  font-family: Titillium Web, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 8px;
  margin-top: -3px;
  letter-spacing: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate .hs-form-booleancheckbox {
  margin: 0px;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate_non_us {
  display: none;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate_non_us .hs-error-msgs label {
  margin-bottom: -3px;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate_non_us input[type=checkbox] {
  min-width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
  padding: 0px !important;
  cursor: pointer;
  border-radius: 0;
  outline: 0;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate_non_us input[type=checkbox]:checked {
  background-color: #68cce8 !important;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1697453402/KomodoHealth/1003/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #68cce8 !important;
  background-clip: border-box;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate_non_us label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate_non_us label span {
  color: #000;
  font-family: Titillium Web, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 8px;
  margin-top: -3px;
  letter-spacing: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate_non_us .hs-form-booleancheckbox {
  margin: 0px;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_buying_timeline {
  display: none;
}
body.spz-15001 #demo_Form_15001_wrapper .focus .hs-input {
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
  background-color: #fff !important;
}
body.spz-15001 #demo_Form_15001_wrapper .focus .hs-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #000 !important;
  z-index: 2;
  position: relative;
}
body.spz-15001 #demo_Form_15001_wrapper .focus .hs-input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #000 !important;
  z-index: 2;
  position: relative;
}
body.spz-15001 #demo_Form_15001_wrapper .focus .hs-input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #000 !important;
  z-index: 2;
  position: relative;
}
body.spz-15001 #demo_Form_15001_wrapper .hasValue .hs-input {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  background-color: #f8f7f7 !important;
}
body.spz-15001 #demo_Form_15001_wrapper .hasError .hs-input {
  border: 1px solid #dc0000 !important;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field.focus > label {
  top: -11px !important;
  left: 16px !important;
  z-index: 4;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field.focus > label span {
  font-family: Titillium Web, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 4px;
  color: #000;
  box-shadow: 0px -9px 0px 0px white inset;
  -webkit-box-shadow: 0px -9px 0px 0px white inset;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field.hasValue > label {
  top: -11px !important;
  left: 16px !important;
  z-index: 4;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field.hasValue > label span {
  -webkit-font-smoothing: antialiased;
  font-family: Titillium Web, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 4px;
  color: #7e7e7e;
  box-shadow: 0px -9px 0px 0px #f8f7f7 inset;
  -webkit-box-shadow: 0px -9px 0px 0px #f8f7f7 inset;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field.focus.hs_how_did_you_hear_about_us_ > label {
  display: none;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field.hasValue.hs_how_did_you_hear_about_us_ > label {
  display: none;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field.focus.hs_message > label {
  display: none;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field.hasValue.hs_message > label {
  display: none;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-form-field.hasError.focus > label span {
  font-family: Titillium Web, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 4px;
  color: #dc0000;
  box-shadow: 0px -9px 0px 0px white inset;
  -webkit-box-shadow: 0px -9px 0px 0px white inset;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_message textarea {
  resize: none;
  overflow: hidden;
  display: block;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-richtext p {
  color: #7e7e7e;
  font-family: Titillium Web, sans-serif;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  margin-bottom: 0;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-richtext p a {
  text-decoration: underline;
  color: #68cce8 !important;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-underline-offset: 1px;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-richtext p a:hover {
  text-decoration: none;
}
body.spz-15001 #demo_Form_15001_wrapper .hs-richtext p a:active {
  text-decoration: none;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_submit input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  border-radius: 100px !important;
  background-color: #68cce8 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000 !important;
  font-family: Titillium Web, sans-serif;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 24px !important;
  outline: none;
  letter-spacing: 0.8px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border: none;
  padding: 12px 40px;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_submit input:hover {
  background-color: #000000 !important;
  color: #fff !important;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_submit input:active {
  background-color: #4a4a4a !important;
  color: #fff !important;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_submit .actions {
  margin: 0;
  padding: 0;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_countries {
  margin-bottom: 12.5px;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_countries select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding-right: 40px !important;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_countries select option {
  font-family: Titillium Web, sans-serif;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_consent_countries .arrow-select {
  width: 16px;
  height: 16px;
  background: url("//res.cloudinary.com/spiralyze/image/upload/v1697453402/KomodoHealth/1003/arrow-down.svg") no-repeat;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 16px;
  z-index: 4;
}
body.spz-15001 #demo_Form_15001_wrapper .hs_error_rollup .hs-main-font-element {
  color: #dc0000;
  text-align: center;
  padding: 8px 0;
  display: block;
  margin: 0px;
  line-height: 16px !important;
  margin: -16px 0px 0px;
  float: left;
  width: 100%;
  clear: both;
  font-family: Titillium Web, sans-serif;
  font-size: 14px !important;
  font-weight: 400;
}
body.spz-15001 #demo_Form_15001_wrapper .pp-parent {
  margin: 16px 0px 0px;
}
body.spz-15001 #demo_Form_15001_wrapper .submitted-message {
  text-align: center;
}
body.spz-15001 .blocker {
  background: rgba(0, 0, 0, 0.5);
}
body.spz-15001 #demo_Form_15001_wrapper.step2 .hs_jobtitle {
  display: block;
}
body.spz-15001 #demo_Form_15001_wrapper.step2 .hs_phone {
  display: block;
}
body.spz-15001 #demo_Form_15001_wrapper.step2 .hs_consent_countries {
  display: block;
}
body.spz-15001 #demo_Form_15001_wrapper.step2 .hs_consent_to_communicate {
  display: block;
}
body.spz-15001 #demo_Form_15001_wrapper.step2 .hs_consent_to_communicate_non_us {
  display: block;
}
body.spz-15001 #demo_Form_15001_wrapper.step2 .pp-parent {
  margin: -12px 0px 15.5px;
}

@media (max-width: 1024.98px) {
  body.spz-15001 .blocker {
    background: rgba(0, 0, 0, 0.6);
  }
}
@media (max-width: 767.98px) {
  body.spz-15001 .jquery-modal.blocker.current {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0px 0px 0px;
  }
  body.spz-15001 .blocker:before {
    vertical-align: top;
  }
  body.spz-15001 #demo_Form_15001_wrapper .hs-form-field.width50 {
    width: 100%;
    float: none;
  }
  body.spz-15001 #demo_Form_15001_wrapper .with-margin {
    margin-left: 0px;
  }
  body.spz-15001 #demo_Form_15001_wrapper .hs-error-msgs {
    margin: 4px 0px 23px;
  }
  body.spz-15001 #demo_Form_15001_wrapper .hs-error-msgs label a {
    padding-top: 0px;
    margin-top: -24px;
  }
  body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate .hs-error-msgs label {
    margin-bottom: -8px;
  }
  body.spz-15001 #demo_Form_15001_wrapper .hs_consent_to_communicate_non_us .hs-error-msgs label {
    margin-bottom: -8px;
  }
  body.spz-15001 #demo_Form_15001_wrapper .hs_consent_countries {
    margin-bottom: 12px !important;
  }
  body.spz-15001 #demo_Form_15001_wrapper.step2 .pp-parent {
    margin-top: -8px;
    margin-bottom: 1px;
  }
}