body.spz-4002 #main-content .container-fluid.body-container .span12.widget-span.widget-type-cell .accordion-section ~ .row-fluid-wrapper.row-depth-1:not(.row-number-14):not(.row-number-9),
body.spz-4002 #main-content .container-fluid.body-container .span12.widget-span.widget-type-cell .accordion-section .spz-hide {
  display: none !important;
}
body.spz-4002 #main-content .container-fluid.body-container .span12.widget-span.widget-type-cell .accordion-section ~ .row-fluid-wrapper.row-depth-1.row-number-14 .row-number-15,
body.spz-4002 #main-content .container-fluid.body-container .span12.widget-span.widget-type-cell .accordion-section ~ .row-fluid-wrapper.row-depth-1.row-number-14 .row-number-10,
body.spz-4002 #main-content .container-fluid.body-container .span12.widget-span.widget-type-cell .accordion-section ~ .row-fluid-wrapper.row-depth-1.row-number-14 .btn.btn-primary,
body.spz-4002 #main-content .container-fluid.body-container .span12.widget-span.widget-type-cell .accordion-section ~ .row-fluid-wrapper.row-depth-1.row-number-9 .row-number-15,
body.spz-4002 #main-content .container-fluid.body-container .span12.widget-span.widget-type-cell .accordion-section ~ .row-fluid-wrapper.row-depth-1.row-number-9 .row-number-10,
body.spz-4002 #main-content .container-fluid.body-container .span12.widget-span.widget-type-cell .accordion-section ~ .row-fluid-wrapper.row-depth-1.row-number-9 .btn.btn-primary {
  display: none;
}
@media screen and (max-width: 1024.98px) {
  body.spz-4002 #main-content > .container-fluid > .row-fluid-wrapper > .row-fluid > .span12 {
    padding: 0;
    overflow: hidden;
  }
}
body.spz-4002 .hero-section .hero-content {
  text-align: center;
  padding: 54px 16px 0;
}
body.spz-4002 .hero-section .hero-content .hero-title {
  color: #000;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  font-size: 40.8px;
  text-align: center;
  line-height: 55.2px;
  padding-left: 12px;
  margin: 0 0 56px;
}
@media (max-width: 1024.98px) {
  body.spz-4002 .hero-section .hero-content .hero-title {
    font-size: 30.5px;
    line-height: 36px;
    margin: 4px 0 48px;
    padding-left: 0;
  }
}
@media (max-width: 767.98px) {
  body.spz-4002 .hero-section .hero-content .hero-title {
    font-size: 28.5px;
    margin: 4px 0 46px;
  }
}
body.spz-4002 .hero-section .hero-content .hero-subtitle {
  font-family: Inter, serif;
  color: #282828;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  max-width: 538px;
  margin: 0 auto 8px;
}
body.spz-4002 .accordion-section {
  background: #fff;
  padding: 16px 0 95px;
  overflow: hidden;
  background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/varicent/4002/desktop_bg_graphic_image.webp) no-repeat;
  background-size: calc(100% + 72px) auto;
  background-position: bottom -4px right -36px;
}
@media screen and (max-width: 1024.98px) {
  body.spz-4002 .accordion-section {
    padding: 13px 0 76px;
    background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/varicent/4002/tablet_bg_graphic_elements.webp) no-repeat;
    background-size: 100% auto;
    background-position: bottom right;
  }
}
@media screen and (max-width: 767.98px) {
  body.spz-4002 .accordion-section {
    padding: 16px 0 52px;
    background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/varicent/4002/mobile_bg_graphic_elements.webp) no-repeat;
    background-size: 100% auto;
    background-position: bottom 24px right;
  }
}
body.spz-4002 .accordion-section .accordion-row {
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 767.98px) {
  body.spz-4002 .accordion-section .accordion-row {
    padding: 0 20px;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1024.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 696px;
    margin: auto;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 1024.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs {
    margin-bottom: 44px;
  }
}
@media screen and (max-width: 767.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs {
    margin-bottom: 36px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li {
  margin: 0 8px;
  position: relative;
}
@media screen and (max-width: 1024.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li:first-child {
    margin-left: 0;
  }
  body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 767.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li {
    margin: 0;
  }
  body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li:first-child {
    margin-bottom: 16px;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li a .p-tab-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 16px 19px 20px;
  border-radius: 6px;
  border: 1px solid #9a9a9a;
  background: #f8f8f8;
  max-width: 337px;
  min-height: 111px;
  pointer-events: none;
}
@media screen and (max-width: 767.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li a .p-tab-btn {
    padding: 15px 16px 15px 20px;
    min-height: 103px;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li a .p-tab-btn .btn-img {
  width: 56px;
  height: 50px;
  margin-right: 20px;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li a .p-tab-btn .btn-img .b-hover {
  display: none;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li a .p-tab-btn .btn-copy .btn-headline {
  color: #282828;
  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 4px;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li a .p-tab-btn .btn-copy .btn-desc {
  color: #686868;
  font-family: Inter, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li:hover a .p-tab-btn, body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li.active a .p-tab-btn {
  border: 1px solid #2b4ff4;
  background: #fff;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li:hover a .p-tab-btn .btn-img .b-default, body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li.active a .p-tab-btn .btn-img .b-default {
  display: none;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li:hover a .p-tab-btn .btn-img .b-hover, body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li.active a .p-tab-btn .btn-img .b-hover {
  display: block;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li:hover a .p-tab-btn .btn-copy .btn-headline, body.spz-4002 .accordion-section .accordion-row .accordion-col #parent-tabs li.active a .p-tab-btn .btn-copy .btn-headline {
  color: #2b4ff4;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents {
  display: none;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents.active {
  display: block;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs-2 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 64px;
}
@media screen and (max-width: 1024.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs-2 {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs-2 {
    margin-bottom: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs li,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs-2 li {
  margin: 0 2px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 3px);
          flex: 0 0 calc(25% - 3px);
}
@media screen and (max-width: 767.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs li,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs-2 li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 4px);
            flex: 0 0 calc(50% - 4px);
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs li a,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs-2 li a {
  height: 56px;
  padding: 8px 16px 28px 16px;
  border-bottom: 4px solid #eee;
  color: #000;
  text-align: center;
  font-family: Inter, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  opacity: 0.7;
  width: 100%;
  text-align: center;
  display: block;
  white-space: nowrap;
}
@media screen and (max-width: 767.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs li a,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs-2 li a {
    padding: 8px 14px 16px;
    font-size: 16px;
    height: 47px;
    margin-bottom: 4px;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs li:hover a, body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs li.active a,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs-2 li:hover a,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs-2 li.active a {
  border-bottom: 4px solid #2b4ff4;
  color: #2b4ff4;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs li:first-child a,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs-2 li:first-child a {
  border-bottom-left-radius: 4px;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs li:last-child a,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs-2 li:last-child a {
  border-bottom-right-radius: 4px;
}
@media screen and (max-width: 767.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs li:nth-child(3) a,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs-2 li:nth-child(3) a {
    border-bottom-left-radius: 4px;
  }
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs li:nth-child(2) a,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #child-tabs-2 li:nth-child(2) a {
    border-bottom-right-radius: 4px;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 {
  display: none;
  position: relative;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents.active,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2.active,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents.active,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2.active {
  display: block;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 1024.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .copy-wrapper,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .copy-wrapper,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .copy-wrapper,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .copy-wrapper {
  max-width: 392px;
  width: 100%;
  padding-top: 40px;
  z-index: 1;
}
@media screen and (max-width: 1024.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .copy-wrapper,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .copy-wrapper,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .copy-wrapper,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .copy-wrapper {
    max-width: 100%;
    padding-top: 17px;
  }
}
@media screen and (max-width: 767.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .copy-wrapper,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .copy-wrapper,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .copy-wrapper,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .copy-wrapper {
    padding-top: 32px;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .copy-wrapper .title,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .copy-wrapper .title,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .copy-wrapper .title,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .copy-wrapper .title {
  color: #1a1c33;
  font-family: Inter, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin: 0 0 24px;
}
@media screen and (max-width: 1024.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .copy-wrapper .title,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .copy-wrapper .title,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .copy-wrapper .title,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .copy-wrapper .title {
    margin: 0 0 16px;
  }
}
@media screen and (max-width: 767.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .copy-wrapper .title,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .copy-wrapper .title,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .copy-wrapper .title,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .copy-wrapper .title {
    font-size: 24px;
    line-height: 36px;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .copy-wrapper .desc,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .copy-wrapper .desc,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .copy-wrapper .desc,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .copy-wrapper .desc {
  color: #1a1c33;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 1024.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .copy-wrapper .desc,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .copy-wrapper .desc,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .copy-wrapper .desc,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .copy-wrapper .desc {
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 767.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .copy-wrapper .desc,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .copy-wrapper .desc,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .copy-wrapper .desc,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .copy-wrapper .desc {
    font-size: 16px;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .copy-wrapper .cta-wrapper,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .copy-wrapper .cta-wrapper,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .copy-wrapper .cta-wrapper,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .copy-wrapper .cta-wrapper {
  margin-top: 31px;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .copy-wrapper .cta-wrapper .btn,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .copy-wrapper .cta-wrapper .btn,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .copy-wrapper .cta-wrapper .btn,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .copy-wrapper .cta-wrapper .btn {
  padding: 10px 30px;
  white-space: nowrap;
  background-color: #2b4ff4;
  color: #fff;
  text-align: center;
  font-family: Inter, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.056px;
  text-transform: uppercase;
  width: 183px;
  height: 42px;
}
@media screen and (max-width: 767.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .copy-wrapper .cta-wrapper .btn,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .copy-wrapper .cta-wrapper .btn,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .copy-wrapper .cta-wrapper .btn,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .copy-wrapper .cta-wrapper .btn {
    width: 100%;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .copy-wrapper .cta-wrapper .btn:hover,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .copy-wrapper .cta-wrapper .btn:hover,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .copy-wrapper .cta-wrapper .btn:hover,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .copy-wrapper .cta-wrapper .btn:hover {
  background-color: #10239e;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .content,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .content,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .content,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .content {
  max-width: calc(100% - 392px);
  margin-left: 80px;
}
@media screen and (max-width: 1024.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .content,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .content,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .content,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .content {
    max-width: 100%;
    margin-left: 0;
    margin-top: 64px;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .content img,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .content img,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .content img,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .content.with-overlay,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .content.with-overlay,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .content.with-overlay,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .content.with-overlay {
  overflow: hidden;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .content.with-overlay a,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .content.with-overlay a,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .content.with-overlay a,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .content.with-overlay a {
  pointer-events: none;
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .content.with-overlay::after,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .content.with-overlay::after,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .content.with-overlay::after,
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .content.with-overlay::after {
  content: "";
  position: absolute;
  top: -36px;
  left: -36px;
  width: calc(100% + 72px);
  height: calc(100% + 135px);
  background: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  z-index: 0;
}
@media screen and (max-width: 1024.98px) {
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents .content-wrapper .content.with-overlay::after,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents .c-tab-contents-2 .content-wrapper .content.with-overlay::after,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents .content-wrapper .content.with-overlay::after,
  body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents .tab-content-wrapper #c-tab-contents-2 .c-tab-contents-2 .content-wrapper .content.with-overlay::after {
    top: 0;
    left: -36px;
  }
}
body.spz-4002 .accordion-section .accordion-row .accordion-col #p-tab-contents .p-tab-contents#p-tab2 .tab-content-wrapper #child-tabs-2 li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 2px);
          flex: 0 0 calc(50% - 2px);
}