$inter: Inter, serif;

body.spz-4002 {
  #main-content .container-fluid.body-container {
    .span12.widget-span.widget-type-cell .accordion-section {
      ~ .row-fluid-wrapper.row-depth-1:not(.row-number-14):not(.row-number-9),
      .spz-hide {
        display: none !important;
      }

      ~ .row-fluid-wrapper.row-depth-1.row-number-14,
      ~ .row-fluid-wrapper.row-depth-1.row-number-9 {
        .row-number-15,
        .row-number-10,
        .btn.btn-primary {
          display: none;
        }
      }
    }
  }

  #main-content > .container-fluid > .row-fluid-wrapper > .row-fluid > .span12 {
    @media screen and (max-width: 1024.98px) {
      padding: 0;
      overflow: hidden;
    }
  }

  .hero-section {
    .hero-content {
      text-align: center;
      padding: 54px 16px 0;

      .hero-title {
        color: #000;
        font-family: $inter;
        font-style: normal;
        font-weight: 700;
        text-transform: none;
        font-size: 40.8px;
        text-align: center;
        line-height: 55.2px;
        padding-left: 12px;
        margin: 0 0 56px;

        @media (max-width: 1024.98px) {
          font-size: 30.5px;
          line-height: 36px;
          margin: 4px 0 46px;
          padding-left: 0;
        }

        @media (max-width: 767.98px) {
          font-size: 28.5px;
          margin: 4px 0 46px;
        }
      }

      .hero-subtitle {
        font-family: $inter;
        color: #282828;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        max-width: 528px;
        margin: 0 auto 8px;

        @media (max-width: 1024.98px) {
          max-width: 470px;
          margin: 0 auto 10px;
        }
      }
    }
  }

  .accordion-section {
    background: #fff;
    padding: 16px 0 95px;
    overflow: hidden;
    max-width: 1368px;
    margin-left: auto;
    margin-right: auto;

    background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/varicent/4002/desktop_bg_graphic_image.webp)
      no-repeat;
    background-size: calc(100% + 72px) auto;
    background-position: bottom -4.5px right -36px;

    @media screen and (max-width: 1024.98px) {
      padding: 13px 0 76px;
      background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/varicent/4002/tablet_bg_graphic_elements.webp)
        no-repeat;
      background-size: 100% auto;
      background-position: bottom -4px right;
    }

    @media screen and (max-width: 767.98px) {
      padding: 14px 0 52px;
      background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/varicent/4002/mobile_bg_graphic_elements.webp)
        no-repeat;
      background-size: 100% auto;
      background-position: bottom right;
    }

    .accordion-row {
      max-width: 1200px;
      margin: auto;

      // @media screen and (max-width: 1199.98px) {
      //   padding: 0 24px;
      // }

      @media screen and (max-width: 767.98px) {
        padding: 0 20px;
      }

      .accordion-col {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        // padding: 48px 0 0;

        @media screen and (max-width: 1024.98px) {
          align-items: center;
          max-width: 696px;
          margin: auto;
        }

        // @media screen and (max-width: 767.98px) {
        //   padding: 36px 0 0;
        // }

        #parent-tabs {
          list-style-type: none;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 60px;

          @media screen and (max-width: 1024.98px) {
            margin-bottom: 44px;
          }

          @media screen and (max-width: 767.98px) {
            margin-bottom: 36px;
            flex-direction: column;
          }

          li {
            margin: 0 8px;
            position: relative;
            @media screen and (max-width: 1024.98px) {
              &:first-child {
                margin-left: 0;
              }
              &:last-child {
                margin-right: 0;
              }
            }

            @media screen and (max-width: 767.98px) {
              margin: 0;
              &:first-child {
                margin-bottom: 16px;
              }
            }

            a {
              .p-tab-btn {
                display: flex;
                align-items: center;
                padding: 19px 16px 19px 20px;
                border-radius: 6px;
                border: 1px solid #9a9a9a;
                background: #f8f8f8;
                max-width: 337px;
                min-height: 111px;
                pointer-events: none;

                @media screen and (max-width: 1024.98px) {
                  max-width: 340px;
                }

                @media screen and (max-width: 767.98px) {
                  padding: 15px 16px 15px 20px;
                  min-height: 103px;
                }

                .btn-img {
                  width: 56px;
                  height: 50px;
                  margin-right: 20px;

                  .b-hover {
                    display: none;
                  }
                }

                .btn-copy {
                  .btn-headline {
                    color: #282828;
                    font-family: $inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;
                    margin: 0 0 4px;
                  }

                  .btn-desc {
                    color: #686868;
                    font-family: $inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    margin: 0;
                  }
                }
              }
            }

            &:hover a .p-tab-btn,
            &.active a .p-tab-btn {
              border: 1px solid #2b4ff4;
              background: #fff;

              .btn-img {
                .b-default {
                  display: none;
                }
                .b-hover {
                  display: block;
                }
              }

              .btn-copy {
                .btn-headline {
                  color: #2b4ff4;
                }
              }
            }
          }
        }

        #p-tab-contents {
          .p-tab-contents {
            display: none;
            &.active {
              display: block;
            }

            // Solutions Accordion Starts
            .tab-content-wrapper {
              display: flex;
              justify-content: space-between;
              flex-direction: column;

              #child-tabs,
              #child-tabs-2 {
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 64px;

                @media screen and (max-width: 1024.98px) {
                  margin-bottom: 32px;
                }

                @media screen and (max-width: 767.98px) {
                  margin-bottom: 0;
                  flex-wrap: wrap;
                }

                li {
                  margin: 0 2px;
                  position: relative;
                  flex: 0 0 calc(25% - 3px);

                  @media screen and (max-width: 767.98px) {
                    flex: 0 0 calc(50% - 4px);
                  }

                  a {
                    height: 56px;
                    padding: 8px 16px 28px 16px;
                    border-bottom: 4px solid #eee;
                    color: #000;
                    text-align: center;
                    font-family: $inter;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;
                    opacity: 0.7;
                    width: 100%;
                    text-align: center;
                    display: block;
                    // white-space: nowrap;

                    @media screen and (max-width: 767.98px) {
                      padding: 8px 10px 16px;
                      font-size: 16px;
                      height: 47px;
                      margin-bottom: 4px;
                    }
                  }

                  &:hover a,
                  &.active a {
                    border-bottom: 4px solid #2b4ff4;
                    color: #2b4ff4;
                    opacity: 1;
                  }

                  &:first-child a {
                    border-bottom-left-radius: 4px;
                  }

                  &:last-child a {
                    border-bottom-right-radius: 4px;
                  }

                  @media screen and (max-width: 767.98px) {
                    &:nth-child(3) a {
                      border-bottom-left-radius: 4px;
                    }

                    &:nth-child(2) a {
                      border-bottom-right-radius: 4px;
                    }
                  }
                }
              }

              #c-tab-contents,
              #c-tab-contents-2 {
                .c-tab-contents,
                .c-tab-contents-2 {
                  display: none;
                  position: relative;
                  &.active {
                    display: block;
                  }

                  .content-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    @media screen and (max-width: 1024.98px) {
                      flex-direction: column;
                      padding: 0;
                    }

                    .copy-wrapper {
                      max-width: 392px;
                      width: 100%;
                      padding-top: 40px;
                      z-index: 1;

                      @media screen and (max-width: 1024.98px) {
                        max-width: 100%;
                        padding-top: 17px;
                      }

                      @media screen and (max-width: 767.98px) {
                        padding-top: 32px;
                      }

                      .title {
                        color: #1a1c33;
                        font-family: $inter;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 40px;
                        margin: 0 0 24px;

                        @media screen and (max-width: 1024.98px) {
                          margin: 0 0 16px;
                        }

                        @media screen and (max-width: 767.98px) {
                          font-size: 24px;
                          line-height: 36px;
                        }
                      }

                      .desc {
                        color: #1a1c33;
                        font-family: $inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;

                        @media screen and (max-width: 1024.98px) {
                          font-size: 18px;
                          line-height: 26px;
                        }

                        @media screen and (max-width: 767.98px) {
                          font-size: 16px;
                        }
                      }

                      .cta-wrapper {
                        margin-top: 31px;

                        .btn {
                          padding: 10px 30px;
                          white-space: nowrap;
                          background-color: #2b4ff4;
                          color: #fff;
                          text-align: center;
                          font-family: $inter;
                          font-size: 14px;
                          font-style: normal;
                          font-weight: 600;
                          line-height: 22px;
                          letter-spacing: 0.056px;
                          text-transform: uppercase;
                          width: 183px;
                          height: 42px;
                          border-radius: 100px;

                          @media screen and (max-width: 767.98px) {
                            width: 100%;
                          }

                          &:hover {
                            background-color: #10239e;
                          }
                        }
                      }
                    }

                    .content {
                      max-width: calc(100% - 392px);
                      margin-left: 80px;

                      @media screen and (max-width: 1024.98px) {
                        max-width: 100%;
                        margin-left: 0;
                        margin-top: 64px;
                      }
                      @media screen and (max-width: 767.98px) {
                        margin-left: auto;
                        margin-right: auto;
                      }

                      img {
                        width: 100%;
                        height: auto;
                        border-radius: 8px;
                      }

                      &.with-overlay {
                        position: relative;
                        overflow: hidden;

                        a {
                          pointer-events: none;
                        }

                        &::after {
                          content: "";
                          position: absolute;
                          top: 0;
                          left: 0;
                          width: 100%;
                          height: 100%;
                          background: rgba(255, 255, 255, 0.8);
                          pointer-events: none;
                          z-index: 0;
                          border-radius: 8px;

                          // @media screen and (max-width: 1024.98px) {
                          //   top: 0;
                          //   left: -36px;
                          //   // width: calc(100% + 48px);
                          //   // height: calc(100% + 90px);
                          // }
                        }
                      }
                    }
                  }
                }
              }
            }

            &#p-tab2 {
              .tab-content-wrapper {
                #child-tabs-2 {
                  li {
                    flex: 0 0 calc(50% - 2px);

                    @media screen and (max-width: 767.98px) {
                      flex: 0 0 calc(50% - 8px);
                      // a {
                      //   padding: 0 20px 8px;
                      //   min-height: 52px;
                      //   height: auto;
                      // }
                    }
                  }
                }
              }
            }
            // Solutions Accordion Ends
          }
        }
      }
    }
  }
}
