@font-face {
    font-family: 'Test Founders Grotesk';
    src: url('https://res.cloudinary.com/spiralyze/raw/upload/v1731577390/maxio/Founders%20Grotesk%20Fonts/FoundersGrotesk-Regular.eot');
    src: url('https://res.cloudinary.com/spiralyze/raw/upload/v1731577390/maxio/Founders%20Grotesk%20Fonts/FoundersGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://res.cloudinary.com/spiralyze/raw/upload/v1731577390/maxio/Founders%20Grotesk%20Fonts/FoundersGrotesk-Regular.woff2') format('woff2'),
        url('https://res.cloudinary.com/spiralyze/raw/upload/v1731577387/maxio/Founders%20Grotesk%20Fonts/FoundersGrotesk-Regular.woff') format('woff'),
        url('https://res.cloudinary.com/spiralyze/raw/upload/v1731577392/maxio/Founders%20Grotesk%20Fonts/FoundersGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Test Founders Grotesk';
    src: url('https://res.cloudinary.com/spiralyze/raw/upload/v1731577513/maxio/Founders%20Grotesk%20Fonts/FoundersGrotesk-Medium.eot');
    src: url('https://res.cloudinary.com/spiralyze/raw/upload/v1731577513/maxio/Founders%20Grotesk%20Fonts/FoundersGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://res.cloudinary.com/spiralyze/raw/upload/v1731577512/maxio/Founders%20Grotesk%20Fonts/FoundersGrotesk-Medium.woff2') format('woff2'),
        url('https://res.cloudinary.com/spiralyze/raw/upload/v1731577512/maxio/Founders%20Grotesk%20Fonts/FoundersGrotesk-Medium.woff') format('woff'),
        url('https://res.cloudinary.com/spiralyze/raw/upload/v1731577514/maxio/Founders%20Grotesk%20Fonts/FoundersGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.SPZ-2001 header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent !important;
}

.SPZ-2001 header .container,
.SPZ-2001 .spz-hero .spz-bg-wrap {
    width: 100%;
    max-width: 1268px;
    padding: 0 24px;
    margin: 0 auto;
    justify-content: flex-start;
}

.SPZ-2001 header ul.navbar-nav,
.SPZ-2001 section.hero-form,
.SPZ-2001 .logo-banner {
    display: none !important;
}

.SPZ-2001 .spz-hero {
    background: #000000;
    position: relative;
    overflow-x: hidden;
    padding: 136px 0 40px;
}

.SPZ-2001 .spz-hero::before {
    position: absolute;
    content: "";
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/maxio/2001/bg.webp");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1920px;
    height: 100%;
    max-height: 846px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 0;
    pointer-events: none;
}

.SPZ-2001 .spz-hero .spz-form-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.SPZ-2001 .spz-form-wrap .content-section {
    width: 49.51%;
    max-width: 604px;
}

.SPZ-2001 .spz-form-wrap .trust-badge {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 8px;
}

.SPZ-2001 .spz-form-wrap .trust-badge .star-rating {
    margin: 0 8px;
}

.SPZ-2001 .spz-form-wrap .trust-badge .trust-badge-rating {
    color: rgba(255, 255, 255, 0.70);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: inline-flex;
    flex-wrap: wrap;
}

.SPZ-2001 .spz-form-wrap .trust-badge .trust-badge-rating span {
    color: #FFF;
    font-weight: 600;
    line-height: 1.2;
    margin-right: 4px;
}

.SPZ-2001 .spz-form-wrap .content-heading {
    font-family: 'Test Founders Grotesk';
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 50.46px;
    padding: 32px 0;
    background: #FFFFFF;
    background: linear-gradient(90.94deg, #FFFFFF 0%, #97B2FF 101.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.SPZ-2001 .spz-form-wrap .spz-features-wrap .feature-item {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 20px;
    padding-right: 55px;
}

.SPZ-2001 .spz-form-wrap .spz-features-wrap .feature-item:last-child {
    margin-bottom: 0;
}

.SPZ-2001 .spz-form-wrap .feature-item img {
    width: 28px;
    height: 28px;
    object-fit: contain;
    margin-right: 12px;
}

.SPZ-2001 .spz-form-wrap .feature-item span {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Test Founders Grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.SPZ-2001 .spz-form-wrap .feature-item span b {
    font-weight: 500;
    color: #FFF;
}

.SPZ-2001 .spz-form-wrap .integrates-logos {
    margin-top: 24px;
}

.SPZ-2001 .spz-form-wrap .integrates-heading {
    color: #FF9D28;
    font-family: 'Test Founders Grotesk';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.SPZ-2001 .spz-form-wrap .integrates-images {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.SPZ-2001 .spz-form-wrap .integrates-images .image-item {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background: #33335D;
}

.SPZ-2001 .spz-form-wrap .spz-form-section {
    width: 45.90%;
    max-width: 560px;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 56px 96px 0px rgba(0, 0, 0, 0.16);
    padding: 40px 48px;
    position: relative;
}

.SPZ-2001 .spz-form-wrap .form-heading {
    color: #000;
    text-align: center;
    font-family: "Test Founders Grotesk";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 20px;
}

.SPZ-2001 .spz-form-wrap .spz-form-section .middle-arrow-image {
    position: absolute;
    bottom: -100px;
    left: -230px;
    width: 324px;
    height: 71px;
}

.SPZ-2001 .spz-form-wrap iframe {
    width: 100%;
}

.SPZ-2001 .spz-hero .social-proof-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    opacity: 0.5;
    margin-top: 72px;
}

.SPZ-2001 .spz-hero .social-proof-logos .social-proof-logo {
    height: 42px;
    width: auto;
    object-fit: contain;
}

/* Iframe CSS Start Here */
.SPZ-2001-iframe {
    overflow-x: hidden;
}

.SPZ-2001-iframe .container {
    max-width: unset;
    padding: 0;
    margin: 0;
}

.SPZ-2001-iframe .container .row {
    padding: 0;
    margin: 0;
}

.SPZ-2001-iframe form#pardot-form .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
}

.SPZ-2001-iframe form#pardot-form .form-field {
    width: calc(50% - 8px);
    padding: 0;
    margin: 0 0 16px;
    position: relative;
}

.SPZ-2001-iframe form#pardot-form .form-field label.field-label {
    position: absolute;
    top: 15px;
    left: 7px;
    color: #858585;
    font-family: Test Founders Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 0 6px;
    margin: 0;
    background: #FFF;
    transition: all 0.4s ease-in-out;
}

.SPZ-2001-iframe form#pardot-form .form-field label.field-label::after {
    display: none;
}

.SPZ-2001-iframe form#pardot-form .form-field .text,
.SPZ-2001-iframe form#pardot-form .form-field .select {
    margin: 0;
    width: 100%;
    height: 50px;
    border: 1px solid #C6CED2;
    padding: 14px 15px;
    color: #000;
    font-family: Test Founders Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    appearance: none;
    background: none;
}

.SPZ-2001-iframe form#pardot-form .form-field.control-checkbox span {
    display: inline-flex;
}

.SPZ-2001-iframe form#pardot-form .form-field.control-checkbox label {
    color: #858585;
    font-family: "Test Founders Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    padding-left: 28px;
}

.SPZ-2001-iframe form#pardot-form .form-field.control-checkbox label::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #FFF;
    border: 1px solid #C6CED2;
    margin: 0;
    font-size: 0;
}

.SPZ-2001-iframe form#pardot-form .form-field.control-checkbox input:checked+label::before {
    background: #0042FF;
    border-color: #0042FF;
}

.SPZ-2001-iframe form#pardot-form .form-field.control-checkbox label::after {
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1731583819/maxio/2001/checkmark.svg");
    background-size: contain;
    opacity: 0;
}

.SPZ-2001-iframe form#pardot-form .form-field.control-checkbox input:checked+label::after {
    opacity: 1;
}








body.SPZ-2001-iframe form#pardot-form .submit {
    max-width: unset;
    justify-content: center;
    margin-top: 24px;
}

.SPZ-2001-iframe form#pardot-form .submit input {
    width: 160px;
    height: 50px;
    border-radius: 3px;
    background: #0042FF;
    font-family: Test Founders Grotesk;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

.SPZ-2001-iframe form#pardot-form .submit input:hover {
    background: #2D2D30;
}

.SPZ-2001-iframe form#pardot-form .submit input:active {
    background: #002EEB;
}

.SPZ-2001-iframe form#pardot-form .submit~p {
    display: none;
}

.SPZ-2001-iframe form#pardot-form .submit+p {
    display: block;
    color: #858585 !important;
    text-align: center;
    font-family: 'Test Founders Grotesk';
    font-size: 13px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 92%;
    margin: 16px auto 0 !important;
    padding: 0 !important;
}

.SPZ-2001-iframe form#pardot-form .submit+p a {
    color: #000 !important;
    text-decoration: none;
}

/* Iframe CSS End Here */