@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.SPZ_4003_V1 .hero,
.SPZ_4003_V1 .hero + .gated__body,
.SPZ_4003_V1 .hero ~ .row.article.mt-md.mb-xxl,
section#gc-trusted-by,
.SPZ_4003_V1 .identitylibrary__related {
  display: none;
}

.SPZ_4003_V1 .spz-hero {
  background: linear-gradient(84deg, rgba(84, 192, 232, 0.5) 39.41%, rgba(84, 192, 232, 0.2) 88.11%), #fff;
  padding: 65px 0 62px;
}

.SPZ_4003_V1 .spz-hero .spz-form-wrap {
  width: 100%;
  max-width: 1290px;
  padding: 0 21px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SPZ_4003_V1 .spz-hero .content-section {
  width: 50.5%;
  max-width: 630px;
}

.SPZ_4003_V1 .spz-hero .content-superheading {
  color: #415364;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.SPZ_4003_V1 .spz-hero .content-heading {
  color: #0033a1;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  margin: 17px 0 24px;
}

.SPZ_4003_V1 .spz-hero .content-text p {
  color: #415364;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 1.75 !important;
  margin-bottom: 24px !important;
}

.SPZ_4003_V1 .spz-hero .content-text ul {
  margin-bottom: 24px;
}

.SPZ_4003_V1 .spz-hero .content-text ul li {
  margin-bottom: 25px !important;
  padding-left: 40px;
  color: #415364;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
}

.SPZ_4003_V1 .spz-hero .content-text ul li::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 4px;
  left: 0;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1734511184/sailpoint/4003/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.SPZ_4003_V1 .spz-hero .spz-form-section {
  width: 47.52%;
  max-width: 593px;
  border-radius: 24px;
  background: linear-gradient(134deg, #0033a1 38.16%, #004fb5 64.91%, #0071ce 100.05%);
  -webkit-box-shadow: 0px 8px 40px 0px rgba(65, 83, 100, 0.16);
          box-shadow: 0px 8px 40px 0px rgba(65, 83, 100, 0.16);
  padding: 41px 40px 23px;
}

.SPZ_4003_V1.form-submit .spz-hero .spz-form-section {
  padding: 40px;
}

.SPZ_4003_V1 .social-proof-logos {
  width: 100%;
  max-width: 1290px;
  padding: 0 21px;
  margin: 80px auto 100px;
}

.SPZ_4003_V1 .social-proof-logos .social-proof-heading {
  color: #415364;
  text-align: center;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 48px;
}

.SPZ_4003_V1 .social-proof-logos .social-proof-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SPZ_4003_V1 .social-proof-logos .social-proof-images img {
  width: auto;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.SPZ_4003_V1 .business-value {
  margin-bottom: 100px;
}
.SPZ_4003_V1 .business-value .business-value-wrap {
  width: 100%;
  max-width: 1332px;
  padding: 0 21px;
  margin: 0 auto;
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
}
.SPZ_4003_V1 .business-value .content-section .content-superheading {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #415364;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.SPZ_4003_V1 .business-value .content-section .content-heading {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 600;
  color: #415364;
  margin-bottom: 24px;
}
.SPZ_4003_V1 .business-value .content-section .content-text {
  font-size: 18px;
  line-height: 1.75;
  font-weight: 400;
  color: #415364;
  margin-bottom: 40px;
}
.SPZ_4003_V1 .business-value .vidyard-section {
  padding-left: 28px;
}
.SPZ_4003_V1 .business-value .vidyard-section .vidyard-player-container {
  border-radius: 16px;
}
#vidyard-overlay-wrapper {
  opacity: 0.5;
}
#vidyard-popbox-constraint.landscape {
  height: auto;
}
@media (max-width: 1099px) {
  #vidyard-popbox {
    width: 80vw;
  }
}

@media (max-width: 1023.98px) {
  .SPZ_4003_V1 .spz-hero {
    padding: 80px 0;
  }
  .SPZ_4003_V1 .spz-hero .content-section,
  .SPZ_4003_V1 .spz-hero .spz-form-section {
    width: 100%;
    max-width: unset;
  }
  .SPZ_4003_V1 .spz-hero .content-text ul {
    margin-bottom: 38px;
  }
  .SPZ_4003_V1 .spz-hero .spz-form-section {
    padding: 41px 40px 24px;
  }
  .SPZ_4003_V1 .social-proof-logos {
    margin: 42px auto 100px;
  }
  .SPZ_4003_V1 .social-proof-logos .social-proof-images {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, max-content);
    justify-content: space-between;
    gap: 32px 40px;
    place-items: center;
  }
  .SPZ_4003_V1 .social-proof-logos .social-proof-images img {
    height: 70px;
  }
}
@media (max-width: 767.98px) {
  .SPZ_4003_V1 .spz-hero .content-heading {
    font-size: 34px;
    margin: 17px 0 26px;
  }
  .SPZ_4003_V1 .spz-hero .content-text p {
    font-size: 18px !important;
    line-height: 1.6 !important;
  }
  .SPZ_4003_V1 .spz-hero .content-text ul {
    margin-bottom: 40px;
  }
  .SPZ_4003_V1 .spz-hero .content-text ul li {
    margin-bottom: 27px !important;
    font-size: 16px;
  }
  .SPZ_4003_V1 .spz-hero .spz-form-section {
    padding: 41px 24px 22px;
  }
  .SPZ_4003_V1 .social-proof-logos .social-proof-images { display: grid; gap: 2.5rem; grid-template-columns: 1fr 1fr 1fr; }
  .SPZ_4003_V1 .social-proof-logos .social-proof-images img {
    height: auto;
    max-height: 60px;
  }
  .SPZ_4003_V1 .business-value .business-value-wrap {
    gap: 2.5rem;
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
  .SPZ_4003_V1 .business-value .content-section .content-superheading {
    font-size: .75rem;
    line-height: 1;
  }
  .SPZ_4003_V1 .business-value .content-section .content-heading {
    font-size: 34px;
    margin-bottom: 1rem;
  }
  .SPZ_4003_V1 .business-value .content-section .content-text {
    font-size: 16px;
  }
  .SPZ_4003_V1 .business-value .vidyard-section {
    padding-left: 0;
  }
}
/* Form Styling CSS Start */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 56px white inset !important;
  -webkit-text-fill-color: #415364 !important;
}
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoOffset,
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoClear,
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoGutter {
  display: none !important;
}
.SPZ_4003_V1 .spz-hero .form-heading {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 23px;
}

.SPZ_4003_V1.form-submit .spz-hero .form-heading,
.SPZ_4003_V1.form-submit .spz-hero .form-footer,
.SPZ_4003_V1 .spz-hero .spz-form-section #gated-asset > *:empty {
  display: none !important;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100% !important;
  padding: 0;
  font-family: "Poppins", serif !important;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm * {
  font-family: "Poppins", serif;
}
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFormRow,
.SPZ_4003_V1 .spz-form-section form.mktoForm #captcha {
  width: 100%;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFormRow.field-2,
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFormRow.field-3,
.SPZ_4003_V1 .spz-form-section form.mktoForm.phone-exists .mktoFormRow.field-4,
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFormRow.field-5,
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFormRow.field-6,
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFormRow.field-7:not(.spz-full),
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFormRow.field-8,
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFormRow.field-10 {
  width: calc(50% - 8px);
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFormRow.field-9,
.SPZ_4003_V1:not(.form-expand) .spz-form-section form.mktoForm:not(.phone-exists) .mktoFormRow.field-4 ~ .mktoFormRow,
.SPZ_4003_V1:not(.form-expand) .spz-form-section form.mktoForm.phone-exists .mktoFormRow.field-5 ~ .mktoFormRow,
.SPZ_4003_V1 .spz-form-section form.mktoForm > div:not([class]):not([id]) {
  display: none;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFormCol {
  margin: 0 !important;
  width: 100% !important;
  min-height: unset;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-bottom: 16px;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap label.mktoLabel {
  color: #415364;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 17px;
  left: 17px;
  background: #fff;
  width: auto !important;
  height: auto;
  max-width: calc(100% - 32px) !important;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  pointer-events: none;
  -webkit-transition: color 0.3s ease-in-out, top 0.3s ease-in-out, font-size 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, top 0.3s ease-in-out, font-size 0.3s ease-in-out;
  z-index: 9;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap label.mktoLabel .mktoAsterix {
  display: none !important;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap.filled:not(.active):not(.error) label.mktoLabel {
  font-weight: 600;
  color: #415364;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap.active.typing label.mktoLabel,
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap.filled label.mktoLabel {
  width: auto !important;
  top: 7px;
  color: #0071ce;
  font-size: 12px;
  font-weight: 600;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap .mktoField:not([type=checkbox]) {
  width: 100% !important;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 16px 9px;
  margin: 0 !important;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #415364 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap:not(.active):not(.typing):not(.filled) select.mktoField {
  color: transparent !important;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap select.mktoField {
  padding-right: 37px !important;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap:hover .mktoField:not([type=checkbox]) {
  border-color: #0071ce;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap.active.typing .mktoField:not([type=checkbox]) {
  border-color: #fff;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap.error .mktoField:not([type=checkbox]) {
  border-color: #e6241e;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap .mktoError {
  position: relative;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
  margin: 5px 0 0 !important;
}

.SPZ_4003_V1:not(.form-expand) .spz-form-section form.mktoForm .field-4 .mktoFieldWrap .mktoError:not(.customError),
.SPZ_4003_V1.form-expand .spz-form-section form.mktoForm .field-4 .mktoFieldWrap .mktoError.customError,
.SPZ_4003_V1 .spz-form-section form.mktoForm .field-4 .mktoFieldWrap:not(.emailerror) .mktoError.customError,
.SPZ_4003_V1:not(.form-expand) .spz-hero .form-footer {
  display: none !important;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap .mktoError .mktoErrorMsg {
  color: #ffcb27;
  background: transparent;
  max-width: unset;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
  border: none;
  box-shadow: none;
  padding: 0 0 0 16px;
  margin: 0;
  text-shadow: none;
  display: inline-flex;
  flex-wrap: wrap;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap .mktoError .mktoErrorMsg::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 4px;
  left: 0;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1736156039/sailpoint/4003/error-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap .select-wrapper {
  margin: 0 !important;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap .select-wrapper::after {
  position: absolute;
  content: "";
  background-image: url("https://res.cloudinary.com/spiralyze/image/upload/v1730978539/sailpoint/1001/icons__system.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 10px;
  top: 23px;
  right: 16px;
  pointer-events: none;
  z-index: 9;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap .select-wrapper .select-dropdown,
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFieldWrap .mktoError .mktoErrorArrowWrap {
  display: none !important;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoCheckboxList {
  margin-bottom: 0;
  padding: 0;
  width: auto !important;
  display: flex;
}
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoCheckboxList input,.SPZ_4003_V1 .spz-form-section form.mktoForm input[type="checkbox"] {
  min-width: 16px;
  max-width: 16px;
  height: 16px;
  min-width: 16px;
  position: relative;
  top: 2px;
}
/* .SPZ_4003_V1 .mktoForm input[type=checkbox] {
  width: 16px !important;
  height: 16px !important;
  margin: 0 !important;
  top: 3px !important;
} */

/* .SPZ_4003_V1 .spz-form-section form.mktoForm .mktoCheckboxList ~ input[type=checkbox] {
  width: 16px !important;
  height: 16px !important;
  margin: 0 !important;
  top: 3px !important;
  position: absolute;
  top: 0px;
  left: 0px;
} */

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoCheckboxList label,
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFormRow .mktoHtmlText,
.SPZ_4003_V1 .spz-form-section form.mktoForm label#LblreceivingAdvertisingInformation {
  position: relative;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  padding-left: 12px;
  padding-right: 0;
  margin: 0;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  margin-bottom: 0;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm label#LblreceivingAdvertisingInformation ,
.SPZ_4003_V1 .spz-form-section form.mktoForm label#LblmandatoryCollectionandUseofPersonalInfo,
.SPZ_4003_V1 .spz-form-section form.mktoForm label#LbloptionalCollectionandUseofInformation {
  padding: 0;
  position: relative;
  background: transparent;
  color: #fff;
  top: unset;
  left: unset;
  font-weight: 400;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFormRow .mktoHtmlText {
  padding: 0;
}

/* .SPZ_4003_V1 .spz-form-section form.mktoForm .mktoCheckboxList label::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 3px;
  left: 0;
  border-radius: 2px;
  border: 1.5px solid #ffffff;
  z-index: 2;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoCheckboxList label:hover::before {
  opacity: 0.8;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoCheckboxList input:checked + label:before {
  border: none;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1734511888/sailpoint/4003/form__checkboxes.svg");
  background-size: 16px;
  background-repeat: no-repeat;
} */

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoButtonRow {
  width: 100%;
}
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoButtonRow .mktoButtonWrap {
  margin: 0 !important;
}
.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoButtonRow .mktoButton,
.SPZ_4003_V1 .spz-hero .spz-form-section #gated-asset .btn {
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px 9px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #fff;
  color: #0071ce;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoButtonRow .mktoButton:hover,
.SPZ_4003_V1 .spz-hero .spz-form-section #gated-asset .btn:hover {
  color: #005daa;
  border-color: #005daa;
}

.SPZ_4003_V1 .spz-form-section form.mktoForm .mktoButtonRow .mktoButton:focus {
  outline: 1.5px solid #0071ce;
  outline-offset: 4px;
}

.SPZ_4003_V1 .spz-hero .spz-form-section #gated-asset {
  min-height: unset !important;
}

.SPZ_4003_V1 .spz-hero .spz-form-section h3.text-white {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.SPZ_4003_V1 .spz-hero .spz-form-section #gated-asset .btn {
  width: auto;
}

.SPZ_4003_V1 .spz-hero .disclaimer,
.SPZ_4003_V1 .spz-hero .form-footer {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  width: 65%;
  margin: 12px 0;
}

.SPZ_4003_V1 .spz-hero .disclaimer {
  width: 100%;
  margin-bottom: 0;
}

.SPZ_4003_V1 .spz-hero .disclaimer a,
.SPZ_4003_V1 .spz-hero .form-footer a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  padding: 0;
}

.SPZ_4003_V1 .spz-hero .disclaimer a:hover,
.SPZ_4003_V1 .spz-hero .form-footer a:hover {
  text-decoration: none;
}

.SPZ_4003_V1.form-submit #gated-asset h5 {
  margin: 0 auto 8px;
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

.SPZ_4003_V1.form-submit #gated-asset p {
  color: #fff;
  text-align: center;
}

.SPZ_4003_V1.form-submit #gated-asset .btn {
  width: 100% !important;
  margin: 0;
}

@media(max-width: 1199.98px) {
  .SPZ_4003_V1 .spz-hero .form-footer {
    width: 85%;
  }
}
@media (max-width: 1023.98px) {
  .SPZ_4003_V1 .spz-hero .form-footer {
    width: 50%;
  }
  .SPZ_4003_V1 .spz-form-section form.mktoForm .mktoButtonRow .mktoButton,
  .SPZ_4003_V1 .spz-hero .spz-form-section #gated-asset .btn {
    padding: 10px 10px 8px;
  }
}
@media (max-width: 767.98px) {
  .SPZ_4003_V1 .spz-hero .form-heading,
  .SPZ_4003_V1.form-submit #gated-asset h5 {
    font-size: 26px;
  }
  .SPZ_4003_V1 .spz-hero .spz-form-section {
    padding: 41px 24px 24px;
  }
  .SPZ_4003_V1 .spz-form-section form.mktoForm .mktoCheckboxList input, .SPZ_4003_V1 .spz-form-section form.mktoForm input[type="checkbox"] {
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    min-width: 20px;
    top: 5px;
  }
  .SPZ_4003_V1 .spz-form-section form.mktoForm .mktoCheckboxList label {
    width: calc(100% - 20px);
    padding-left: 8px;
  }
  .SPZ_4003_V1 .spz-form-section form.mktoForm .mktoFormRow {
    width: 100% !important;
  }
  .SPZ_4003_V1 .spz-hero .form-footer {
    width: 100%;
  }
}
/* Form Styling CSS End */