body.spz-26001 #__next .spz-sticky-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none;
}
body.spz-26001 #__next .spz-sticky-footer.show-sticky {
  display: block;
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer {
  border-top: 1px solid #0466ba;
  background: #0580e8;
  position: relative;
  width: 100%;
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  max-width: 1440px;
  margin: auto;
  padding: 11.5px 96px;
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container {
    max-width: 768px;
    padding: 8px 16px 7px;
  }
}
@media (max-width: 767.98px) {
  body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 360px;
    padding: 7px 16px 8px;
  }
}
@media (min-width: 1499.98px) {
  body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container {
    padding: 11.5px 60px;
  }
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .left-content {
    max-width: 219px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .left-content {
    display: none;
  }
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .left-content span {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .left-content span {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
  }
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .center-content .g2-logo {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .center-content .star-ratings {
  width: 108px;
  height: 20px;
  margin-right: 12px;
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .center-content .ratings {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .center-content .ratings span {
  font-weight: 800;
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .center-content {
    padding-bottom: 2px;
    margin: 0 8px;
  }
}
@media (max-width: 767.98px) {
  body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .right-content {
    width: 100%;
    margin-top: 8px;
  }
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .right-content .hs-cta-primary {
  border-radius: 12px;
  background: #0C131A;
  padding: 12px 24px 13px 28px;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  height: 48px;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-appearance: none;
}
@media (max-width: 767.98px) {
  body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .right-content .hs-cta-primary {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .right-content .hs-cta-primary:hover {
  color: #c0ff60;
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .right-content .hs-cta-primary:active {
  background: #303030;
  color: #c0ff60;
}
@media (max-width: 767.98px) {
  body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .right-content .hs-cta-primary svg {
    margin-left: 25px;
  }
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-26001 #__next .spz-sticky-footer .sticky-footer .sticky-container .right-content {
    padding-bottom: 2px;
  }
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .close-sticky {
  position: absolute;
  right: 20px;
  top: calc(50% - 16px);
}
@media (max-width: 1199.98px) {
  body.spz-26001 #__next .spz-sticky-footer .sticky-footer .close-sticky {
    right: 8px;
    top: -41px;
  }
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .close-sticky .sticky-close-btn {
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 999px;
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .close-sticky .sticky-close-btn img {
  pointer-events: none;
  border-radius: 999px;
  border: 1px solid var(--brand-drata-blue-1-darker, #0466ba);
  background: var(--brand-drata-blue, #0580e8);
  padding: 7px;
}
body.spz-26001 #__next .spz-sticky-footer .sticky-footer .close-sticky .sticky-close-btn:hover img, body.spz-26001 #__next .spz-sticky-footer .sticky-footer .close-sticky .sticky-close-btn:focus img {
  background: var(--brand-drata-blue-1-darker, #0466ba);
}