body.spz-3016 #HeaderScripts.mktoText {
    display: none !important;
}

body.spz-3016 .body-wrapper .transparent-toggle.spacer.spacer-bottom {
    padding: 0;
}

body.spz-3016 .body-wrapper::before {
    display: none;
}

body.spz-3016 .body-wrapper #nav.sticky-top {
    position: relative !important;
}

body.spz-3016 .body-wrapper #nav.sticky-top.nav-scrolled {
    background: transparent !important;
    -webkit-filter: none;
    filter: none;
}

body.spz-3016 .body-wrapper #hero .hero_container {
    padding: 0px !important;
    overflow: hidden;
    max-width: 100%;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel {
    padding: 80px 100px;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroFormTitleText {
    display: block !important;
    padding: 16px 0 !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroFormTitleText h6 {
    display: flex;
    align-items: center;
    margin: 0;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroFormTitleText h6 span {
    color: var(--Accents-A-5, #904AB0);
    font-family: "Eptura Flexible", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
    letter-spacing: 2.6px;
    text-transform: uppercase;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroFormTitleText h6:after {
    content: '';
    display: block;
    height: 1px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    opacity: 0.7;
    background: #BABFCB;
    margin-left: 16px;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol {
    min-height: auto;
    margin: 0 !important;
    padding: 0 10px !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap {
    position: relative;
    float: none !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoLabel {
    position: absolute;
    overflow: hidden;
    color: var(--primary-neutrals-n-2, rgba(13, 18, 46, 0.8)) !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Eptura Flexible", Arial, sans-serif;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 300 !important;
    line-height: 24px;
    /* 150% */
    top: 11px;
    left: 16px;
    padding: 0 !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    max-width: calc(100% - 58px);
    background: #fff;
    right: 0;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoField:not([type=checkbox]) {
    border-radius: 4px;
    border: 1px solid var(--interactive-colors-a-4, #d6d7f5) !important;
    width: 280px;
    padding: 11px 16px 10px 16px !important;
    color: var(--primary-neutrals-n-1, #0d122e) !important;
    text-overflow: ellipsis;
    font-family: "Eptura Flexible", Arial, sans-serif !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 300 !important;
    line-height: 24px !important;
    /* 150% */
    margin-bottom: 20px !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoField:not([type=checkbox]):not(#Lead_Notes__c) {
    overflow: hidden;
    height: 48px !important;
    white-space: nowrap;
}

@media (min-width: 767.98px) {
    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoField:not([type=checkbox]):not(#Lead_Notes__c) {
        max-width: 100%;
    }
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoField:not([type=checkbox])#I_am__c,
body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoField:not([type=checkbox])#Country,
body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoField:not([type=checkbox])#Solution_Type__c {
    outline: transparent;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/v1691142439/eptura/3001/custom/chevron-down.svg") !important;
    background-repeat: no-repeat !important;
    background-position: right 14px center !important;
    background-size: 24px !important;
    padding-right: 32px !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoField:not([type=checkbox])#Lead_Notes__c~.mktoError {
    margin-top: 0 !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoField:not([type=checkbox])#Lead_Notes__c~.mktoError .mktoErrorArrowWrap {
    top: -27px;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoField:not([type=checkbox])#Lead_Notes__c~.mktoError .mktoErrorMsg {
    margin-top: -20px;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoField:not([type=checkbox]):-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoField:not([type=checkbox]):autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoHtmlText.mktoHasWidth {
    margin: 0 !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoHtmlText.mktoHasWidth span {
    color: #848995;
    font-size: 10px !important;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    /* 160% */
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoHtmlText.mktoHasWidth span a {
    padding: 0;
    color: #1b4bc5;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoHtmlText.mktoHasWidth span a:hover {
    color: #0d122e;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoCheckboxList {
    margin-top: 3px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoCheckboxList .mktoField {
    border: 1px solid #d6d7f5;
    height: 16px !important;
    width: 16px !important;
    cursor: pointer;
}

@media (max-width: 767.98px) {
    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoCheckboxList .mktoField {
        margin-top: 7px;
    }
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoCheckboxList label {
    color: var(--primary-neutrals-n-1, #0d122e) !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    line-height: 20px !important;
    /* 142.857% */
    margin-left: 19px;
    cursor: pointer;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoCheckboxList label:before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    background: url("//res.cloudinary.com/spiralyze/image/upload/v1691420998/eptura/3001/custom/form-checkmark.svg") left center no-repeat;
    margin-top: 2px;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoCheckboxList label a {
    color: var(--Interactive-Colors-A-1, #1B4BC5);
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoCheckboxList label a:hover {
    color: var(--primary-neutrals-n-1, #0D122E);
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoCheckboxList label:hover::before {
    background: url("//res.cloudinary.com/spiralyze/image/upload/v1691420998/eptura/3001/custom/form-checkmark-hover.svg") left center no-repeat;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoCheckboxList input[type=checkbox] {
    display: none !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoCheckboxList input[type=checkbox]:checked+label:before {
    background: url("//res.cloudinary.com/spiralyze/image/upload/v1691420998/eptura/3001/custom/form-checkmark-checked.svg") left center no-repeat;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoError {
    margin-top: 48px !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoError .mktoErrorMsg {
    color: #f3f3f3;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 123.077% */
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap.spz-cstm-error .mktoCheckboxList label {
    color: #e51b00 !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap.spz-cstm-error .mktoCheckboxList label::before {
    background: url("https://res.cloudinary.com/spiralyze/image/upload/v1692677050/eptura/3002/form-checkmark-errored.svg") left center no-repeat;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol.field-focus .mktoFieldWrap .mktoLabel {
    top: -8px;
    left: 11px;
    right: auto;
    padding: 0 5px !important;
    font-family: "Eptura Flexible", Arial, sans-serif;
    color: var(--accents-a-5, #904ab0) !important;
    font-size: 13px !important;
    line-height: 18px !important;
    /* 138.462% */
    background: #fff;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol.field-focus .mktoField:not([type=checkbox]) {
    border-color: #904ab0 !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol.input-filled .mktoFieldWrap .mktoLabel {
    top: -8px;
    left: 11px;
    right: auto;
    padding: 0 5px !important;
    font-size: 13px !important;
    line-height: 18px !important;
    /* 138.462% */
    background: #fff;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol.field-error.field-focus .mktoFieldWrap .mktoLabel {
    color: var(--accents-a-5, #f83a59) !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol.field-error .mktoField:not([type=checkbox]) {
    border-color: #f83a59 !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow[data-zi-field-enriched=true] {
    display: inline !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .spz-anchor:not(.spz-hidden) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .spz-anchor:not(.spz-hidden)+.mktoFieldDescriptor.mktoFormCol {
    display: none !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .spz-anchor:not(.spz-hidden) .show-comment-dynamic {
    overflow: hidden;
    color: var(--primary-neutrals-n-2, rgba(13, 18, 46, 0.8));
    font-family: 'Eptura Flexible Light', Arial, ui-sans-serif;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 13px;
    display: inline-block;
    margin-top: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: 10px;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .spz-anchor:not(.spz-hidden) .show-comment-dynamic span {
    padding-right: 5px;
}

@media (max-width: 767.98px) {
    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .spz-anchor:not(.spz-hidden) .show-comment-dynamic {
        padding: 0;
        margin-bottom: 12px;
    }
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .spz-anchor:not(.spz-hidden) .show-comment-dynamic:hover {
    color: #904ab0;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .spz-hidden {
    display: none;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoButtonRow {
    text-align: center;
    padding: 0 10px;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoButtonRow .mktoButtonWrap {
    width: 100%;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoButtonRow .mktoButtonWrap button.mktoButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100% !important;
    max-width: 100% !important;
    height: 50px !important;
    padding: 0px 8px !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px !important;
    background: var(--interactive-colors-a-1, #1b4bc5) !important;
    color: var(--primary-neutrals-w, #fff) !important;
    text-align: center;
    font-family: "Eptura Flexible", Arial, sans-serif !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 24px !important;
    /* 150% */
    margin-top: 21px !important;
    white-space: nowrap;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoButtonRow .mktoButtonWrap button.mktoButton:hover,
body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoButtonRow .mktoButtonWrap button.mktoButton:focus {
    background: var(--interactive-colors-a-3, #456ed6) !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoButtonRow .mktoButtonWrap button.mktoButton:focus {
    -webkit-transform: translate(0, 1px);
    transform: translate(0, 1px);
}

@media (max-width: 767.98px) {
    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoButtonRow .mktoButtonWrap button.mktoButton {
        height: 56px !important;
        padding: 0px 32px;
        width: 300px !important;
        max-width: 300px !important;
    }
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .spz-email .mktoFieldWrap {
    margin-top: 10px;
}

@media (max-width: 767.98px) {
    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .spz-email .mktoFieldWrap {
        margin-top: 24px;
    }
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .spz-email .mktoFieldWrap .mktoHtmlText.mktoHasWidth {
    text-align: center;
}

@media (max-width: 767.98px) {
    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .spz-email .mktoFieldWrap .mktoHtmlText.mktoHasWidth {
        line-height: 0;
    }
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .spz-email .mktoFieldWrap .mktoHtmlText.mktoHasWidth em {
    color: var(--primary-neutrals-n-1, #0d122e);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    /* 142.857% */
}

@media (max-width: 767.98px) {
    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .spz-email .mktoFieldWrap .mktoHtmlText.mktoHasWidth em {
        padding: 0;
    }
}

@media (min-width: 767.98px) {
    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .spz-email .mktoFieldWrap .mktoHtmlText.mktoHasWidth em .mobile-only {
        display: none;
    }
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .spz-email .mktoFieldWrap .mktoHtmlText.mktoHasWidth em a {
    color: var(--interactive-colors-a-1, #1b4bc5);
    font-weight: 500;
    padding: 0;
    font-family: "Eptura Flexible", Arial, sans-serif;
    padding-left: 2px;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .spz-email .mktoFieldWrap .mktoHtmlText.mktoHasWidth em a:hover {
    color: #0d122e;
}



@media (min-width: 1199.98px) {
    body.spz-3016.ppc-archibus .body-wrapper #hero .hero_container>.row #HeroFormCol {
        padding-bottom: 0px !important;
    }
}



/* 3016 Start */
body.spz-3016 section:not(#hero),
body.spz-3016 footer {
    display: none !important;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row>.col-md.pb-5 {
    display: none !important;
}

body.spz-3016 #hero {
    width: 100%;
    height: 100vh;
    background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/3016/proxyclick_bg_1440.webp);
    background-size: cover;
    background-position: top right;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row {
    height: 100vh;
    margin: 0;
    position: relative;
    flex-direction: row;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol {
    width: 720px;
    flex: 0 0 720px;
    padding: 24px 0px 0px !important;
    background: #fff;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    overflow-y: auto;
    position: relative;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row:before {
    content: '';
    width: 34px;
    height: 42px;
    display: block;
    position: absolute;
    top: 50%;
    left: 697px;
    background: #ffffff;
    transform: rotate(45deg);
    margin-top: -18px
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol::-webkit-scrollbar {
    width: 0px;
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.01);
}

body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol::-webkit-scrollbar-thumb {
    background-color: #fff;
    outline: 1px solid transparent;
}

body.spz-3016 .spz-partner-logo {
    background: rgba(27, 75, 197, 0.06);
    width: 100%;
    padding: 40px 100px;
}

body.spz-3016 .spz-partner-title h4 {
    color: var(--Grays-D-3, #848995);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    /* 108.333% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin: 0 0 16px;
    font-family: 'Eptura Flexible', Arial, sans-serif;
    display: flex;
}

body.spz-3016 .spz-partner-title h4:after {
    content: '';
    display: block;
    height: 1px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    opacity: 0.5;
    background: #BABFCB;
    margin-left: 16px;
    margin-top: 5px;
}

body.spz-3016 .spz-partner-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.4;
    margin-bottom: 8px;
}

body.spz-3016 .spz-partner-row:last-child {
    margin-bottom: 0;
}

body.spz-3016 #hero .spz-hero-title {
    width: 100%;
    margin-bottom: 32px;
}

body.spz-3016 #hero .spz-hero-title h1 {
    color: var(--primary-neutrals-n-1, #0D122E);
    /* font-family: 'Eptura Flexible', Arial, sans-serif; */
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
    margin: 0;
    letter-spacing: 0px;
}

body.spz-3016 .spz-hero-title h1 span {
    color: var(--Accents-A-5, #904AB0);
    font-weight: 500;
    font-family: 'Eptura Flexible', Arial, sans-serif;
}

body.spz-3016 .body-wrapper #hero #HeroFormPanel #HeroForm {
    padding-top: 24px !important;
}

body.spz-3016 .body-wrapper #hero #HeroFormPanel #HeroForm .mktoForm {
    margin-left: -10px;
    margin-right: -10px;
    max-width: inherit !important;
    width: auto !important;
}

body.spz-3016 #HeroFormCol #NavLogo {
    padding: 0 100px;
}

body.spz-3016 #HeroFormCol #NavLogo a {
    display: none;
}

body.spz-3016 #HeroFormCol #NavLogo #logo-img {
    display: none;
}

body.spz-3016.ppc-archibus #HeroFormCol #NavLogo img {
    width: 82px;
}

body.spz-3016.ppc-archibus .spz-partner-logo,
body.spz-3016.ppc-eptura .spz-partner-logo,
body.spz-3016.ppc-condeco .spz-partner-logo,
body.spz-3016.ppc-eptura-asset-management .spz-partner-logo,
body.spz-3016.ppc-eptura-room-management .spz-partner-logo {
    padding: 40px 80px;
}

body.spz-3016.ppc-archibus #hero {
    background-image: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/3016/proxyclick_bg_1445.webp);
}

body.spz-3016.ppc-eptura #hero {
    background-image: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/3016/proxyclick_bg_1447.webp);
}

body.spz-3016.ppc-condeco #hero {
    background-image: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/3016/proxyclick_bg_1442.webp);
}

body.spz-3016.ppc-eptura-asset-management #hero {
    background-image: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/3016/proxyclick_bg_1449.webp);
}

body.spz-3016.ppc-eptura-room-management #hero {
    background-image: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/3016/proxyclick_bg_1451.webp);
}


@media (max-width: 1599.98px) {

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol {
        width: 600px;
        flex: 0 0 600px;
    }

    body.spz-3016 #HeroFormCol #NavLogo {
        padding: 0 64px;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel {
        padding: 78px 64px;
    }

    body.spz-3016 #hero .spz-hero-title h1 {
        font-size: 32px;
        line-height: 40px;
    }

    body.spz-3016 .spz-partner-logo,
    body.spz-3016.ppc-archibus .spz-partner-logo,
    body.spz-3016.ppc-eptura .spz-partner-logo,
    body.spz-3016.ppc-condeco .spz-partner-logo,
    body.spz-3016.ppc-eptura-asset-management .spz-partner-logo,
    body.spz-3016.ppc-eptura-room-management .spz-partner-logo {
        padding: 32px 64px;
    }

    body.spz-3016 .spz-partner-title h4 {
        margin-bottom: 24px;
    }

    body.spz-3016 .spz-partner-row {
        margin-bottom: 12px;
    }

    body.spz-3016 .body-wrapper #hero #HeroFormPanel #HeroForm {
        padding-bottom: 16px !important;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row:before {
        left: 577px;
    }

    body.spz-3016 #hero {
        background-image: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/3016/proxyclick_bg_1441.webp);
    }

    body.spz-3016.ppc-archibus #hero {
        background-image: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/3016/proxyclick_bg_1446.webp);
    }

    body.spz-3016.ppc-eptura #hero {
        background-image: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/3016/proxyclick_bg_1448.webp);
    }

    body.spz-3016.ppc-condeco #hero {
        background-image: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/3016/proxyclick_bg_1443.webp);
    }

    body.spz-3016.ppc-eptura-asset-management #hero {
        background-image: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/3016/proxyclick_bg_1450.webp);
    }

    body.spz-3016.ppc-eptura-room-management #hero {
        background-image: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/3016/proxyclick_bg_1452.webp);
    }

    body.spz-3016.ppc-archibus #hero .spz-hero-title h1,
    body.spz-3016.ppc-condeco #hero .spz-hero-title h1 {
        max-width: 450px;
    }

    body.spz-3016.ppc-eptura .body-wrapper #hero #HeroFormPanel #HeroForm {
        padding-bottom: 12px !important;
        padding-top: 22px !important;
    }

    body.spz-3016.ppc-eptura-asset-management .body-wrapper #hero #HeroFormPanel #HeroForm {
        padding-bottom: 12px !important;
    }

}

@media (max-width: 1199.98px) {

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol {
        width: 384px;
        flex: 0 0 384px;
    }

    body.spz-3016 #HeroFormCol #NavLogo {
        padding: 0 24px;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel {
        padding: 40px 24px;
    }

    .mktoFormCol:first-child:nth-last-child(3),
    .mktoFormCol:first-child:nth-last-child(3)~.mktoFormCol {
        width: 100% !important;
    }

    body.spz-3016 #hero .spz-hero-title h1 {
        font-size: 26px;
        line-height: 34px;
    }

    body.spz-3016 #hero .spz-hero-title {
        margin-bottom: 12px;
    }

    body.spz-3016 .body-wrapper #hero #HeroFormPanel #HeroForm {
        padding-top: 16px !important;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoCheckboxList label {
        font-size: 12px !important;
        line-height: 18px !important;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoButtonRow .mktoButtonWrap button.mktoButton {
        margin-top: 13px !important;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .spz-email .mktoFieldWrap .mktoHtmlText.mktoHasWidth em .mobile-only {
        display: block;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .spz-email .mktoFieldWrap .mktoHtmlText.mktoHasWidth em {
        display: block;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .spz-email .mktoFieldWrap {
        margin-top: 16px;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row:before {
        left: 362px;
    }

    body.spz-3016 .spz-partner-logo,
    body.spz-3016.ppc-archibus .spz-partner-logo,
    body.spz-3016.ppc-eptura .spz-partner-logo,
    body.spz-3016.ppc-condeco .spz-partner-logo,
    body.spz-3016.ppc-eptura-asset-management .spz-partner-logo,
    body.spz-3016.ppc-eptura-room-management .spz-partner-logo {
        padding: 24px 24px 26px;
    }

    body.spz-3016 .spz-partner-row img {
        margin-right: 16px;
    }

    body.spz-3016 .spz-partner-row img:last-child {
        margin-right: 0px;
    }

    body.spz-3016 .spz-partner-row .logo-zoom {
        width: 56.8px;
    }

    body.spz-3016 .spz-partner-row .logo-comcast {
        width: 64.4px;
    }

    body.spz-3016 .spz-partner-row .logo-nasdaq {
        width: 66.8px;
    }

    body.spz-3016 .spz-partner-row .logo-johnson {
        width: 89.8px;
    }

    body.spz-3016 .spz-partner-row .logo-starbucks {
        width: 38px;
    }

    body.spz-3016 .spz-partner-row .logo-slack {
        width: 60px;
    }

    body.spz-3016 .spz-partner-row .logo-ge {
        width: 38px;
    }

    body.spz-3016 .spz-partner-row .logo-pepsi {
        width: 68px;
    }

    body.spz-3016 .spz-partner-row .logo-unilever {
        width: 31px;
    }

    body.spz-3016 .spz-partner-row {
        justify-content: flex-start;
    }

    body.spz-3016 .spz-partner-title h4:after {
        display: none;
    }

    body.spz-3016 .spz-partner-title h4 {
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 2px;
        margin-bottom: 16px;
    }

    body.spz-3016 .spz-partner-row {
        margin-bottom: 4px;
    }

    body.spz-3016 .body-wrapper #hero #HeroFormPanel #HeroForm,
    body.spz-3016.ppc-eptura-asset-management .body-wrapper #hero #HeroFormPanel #HeroForm {
        padding-bottom: 0px !important;
    }

    body.spz-3016 #hero {
        background-image: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/3016/proxyclick_bg_1444.webp);
    }

    body.spz-3016.ppc-archibus #hero {
        background-position: top 1px left 2px;
        background-size: 1435px auto;
    }

    body.spz-3016.ppc-eptura .body-wrapper #hero #HeroFormPanel #HeroForm {
        padding-bottom: 0px !important;
        padding-top: 16px !important;
    }

    body.spz-3016.ppc-eptura #hero {
        background-position: top -2px left -2px;
        background-size: 1446px auto;
    }

    body.spz-3016.ppc-condeco #hero,
    body.spz-3016.ppc-eptura-asset-management #hero,
    body.spz-3016.ppc-eptura-room-management #hero {
        background-size: 1440px auto;
        background-position: top left;
    }

}

@media (max-width: 767.98px) {

    body.spz-3016 #hero {
        padding: 16px 16px 0;
        overflow: auto;
        height: 100%;
    }

    body.spz-3016 .body-wrapper #hero .hero_container {
        padding-bottom: 16px !important;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol {
        width: 100%;
        flex: 0 0 100%;
        max-width: 328px;
        border-radius: 8px;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row {
        justify-content: center;
        height: auto;
        min-height: 100%;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row:before {
        display: none;
    }

    body.spz-3016 #HeroFormCol #NavLogo {
        padding: 0 30px;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel {
        padding: 34px 30px 32px;
    }

    body.spz-3016 .body-wrapper #hero #HeroFormPanel #HeroForm .formSpan {
        width: 100%;
    }

    body.spz-3016 #hero .spz-hero-title h1 {
        font-size: 24px;
        line-height: 32px;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroFormTitleText h6 span {
        font-size: 14px;
        line-height: 18px;
    }

    body.spz-3016 .body-wrapper #hero #HeroFormPanel #HeroForm {
        padding-top: 8px !important;
    }

    body.spz-3016 #hero .spz-hero-title {
        margin-bottom: 14px;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoCheckboxList label a {
        padding: 0;
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroForm form.mktoForm .mktoButtonRow .mktoButtonWrap button.mktoButton {
        width: 100% !important;
        max-width: 100% !important;
        height: 50px !important;
    }

    body.spz-3016 .spz-partner-title h4 {
        line-height: 13px;
    }

    body.spz-3016 .spz-partner-title h4:after {
        display: block;
        width: 95px;
        flex: 0 0 95px;
        margin-left: 0;
        margin-top: 19px;
    }

    body.spz-3016 .spz-partner-row img {
        margin-right: 8px;
    }

    body.spz-3016 .spz-partner-row .logo-zoom {
        width: 51.8px;
    }

    body.spz-3016 .spz-partner-row .logo-comcast {
        width: 58.4px;
    }

    body.spz-3016 .spz-partner-row .logo-nasdaq {
        width: 60.8px;
    }

    body.spz-3016 .spz-partner-row img:last-child {
        margin-right: 0px;
    }

    body.spz-3016 .spz-partner-row .logo-johnson {
        width: 80px;
    }

    body.spz-3016 .spz-partner-row {
        margin-bottom: 7px;
    }

    body.spz-3016 .spz-partner-row .logo-starbucks {
        width: 35px;
    }

    body.spz-3016 .spz-partner-row .logo-slack {
        width: 53px;
    }

    body.spz-3016 .spz-partner-row .logo-ge {
        width: 35px;
    }

    body.spz-3016 .spz-partner-row .logo-pepsi {
        width: 62px;
    }

    body.spz-3016 .spz-partner-row .logo-unilever {
        width: 29px;
    }

    body.spz-3016.ppc-eptura .body-wrapper #hero #HeroFormPanel #HeroForm {
        padding-top: 8px !important;
    }

    body.spz-3016.ppc-archibus #hero {
        background-position: top 0px left 0px
    }

    body.spz-3016 .body-wrapper #hero .hero_container>.row #HeroFormCol #HeroFormPanel #HeroFormTitleText h6:after {
        margin-left: 11px;
    }
}