/*header Css starts */
html {
  overflow-x: hidden;
}

html body {
  overflow-x: hidden;
}

html body header.header .header__container.content-wrapper {
  max-width: 1200px;
}

html body header.header .header__container.content-wrapper .header__logo {
  padding-top: 6px;
}

html body header.header .header__container.content-wrapper .header__logo img.hs-image-widget {
  width: 149.714px !important;
  height: 26.872px;
}

html body header.header .header__container.content-wrapper .nav-item .button.light-btn {
  color: #fff !important;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  border-radius: 100px !important;
  background: #ea3527;
  margin: 0;
  padding: 8px 17.47px;
  min-height: 40px;
  /*   width: 113px; */
}

html body header.header .header__container.content-wrapper .nav-item .button.dark-btn {
  /*   color: #fff !important; */
  /*   text-align: center; */
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  border-radius: 100px !important;
  /*   background: #ea3527; */
  margin: 0;
  padding: 8px 17.47px;
  min-height: 40px;
  /*   width: 119px; */
}

.body-wrapper .header {
  background-color: transparent;
}

#main-content.body-container-wrapper {
  position: relative;
  padding-top: 0;
}

.body-container .row-number-1 {
  overflow: hidden;
  position: relative;
  display: none;
}

.body-container .row-number-1 .span12.dnd-column {
  position: relative;
}

.body-container .row-number-1 .row-number-2.dnd-row {
  /*   opacity: 0.2; */
  z-index: 0;
  width: 916.161px;
  height: 875.29px;
  position: absolute;
  right: -421.161px;
  top: -457px;
}

.body-container .row-number-1 .row-number-2.dnd-row ~ .dnd-row {
  position: relative;
  z-index: 1;
}

@media (max-width: 1279.98px) {
  header.header li.nav-item:nth-last-child(2) {
    padding-left: 16px;
  }
  header.header .nav-item > a {
    padding: 0.5em;
  }
  #main-content .body-container--comparison .span12.widget-span.widget-type-cell > .dnd-section {
    padding: 0 24px !important;
  }
}
@media (max-width: 1000.98px) {
  .desk-only {
    display: none !important;
  }
  .body-container .row-number-1 .row-number-2.dnd-row {
    width: 640px;
    height: 611px;
    right: -296px;
    top: -303px;
  }
  html body header.header .header__container.content-wrapper .header__logo {
    padding: 0;
  }
}
html:has(body.fixed-position) {
  overflow: hidden;
}

body.fixed-position {
  overflow: hidden;
  position: relative;
}

@media (max-width: 1000px) {
  a.menu-link.active {
    color: #fff !important;
    background-color: transparent !important;
  }
}
html body header.header .header__container.content-wrapper .nav-item .button.dark-btn:hover,
html body header.header .header__container.content-wrapper .nav-item .button.light-btn:hover {
  background: #f09135;
  color: #fff;
  border-color: #f09135 !important;
}

@media (max-width: 767.98px) {
  .body-container .row-number-1 .row-number-2.dnd-row {
    display: none;
  }
  #main-content .body-container--comparison .span12.widget-span.widget-type-cell > .dnd-section > .row-fluid {
    max-width: 340px !important;
  }
}
/*header Css ends */
/*hero Css starts */
#main-content.body-container-wrapper .body-container--blog-post-new {
  background: #0d0b16;
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper {
  max-width: 1200px;
  padding-top: 107px;
  padding-bottom: 53px;
}
@media (max-width: 1024.98px) {
  #main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-post__tags {
  margin-bottom: 45px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-post__tags .hamb_anchor_blog {
  color: #d9d9d9;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-post__tags .right_chevron {
  margin: 0 4px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-post__tags .blog-post__tag-link {
  color: rgba(255, 255, 255, 0.5);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid {
  -ms-grid-columns: 0.9fr 1.1fr;
  grid-template-columns: 0.9fr 1.1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 1024.98px) {
  #main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    place-items: center;
  }
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-txt {
  max-width: 500px;
  width: 100%;
}
@media (max-width: 1024.98px) {
  #main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-txt {
    max-width: 100%;
  }
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-txt h1,
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-txt .hs_cos_wrapper_name {
  color: #fff;
  font-family: Manrope;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.8px;
  margin-bottom: 25px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-txt .blog-hero-meta {
  color: #fff;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;
  margin-bottom: 20px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-txt .blog_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-txt .blog_details p {
  margin: 0;
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-txt .blog_details p .a_title {
  color: rgba(255, 255, 255, 0.5);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-txt .blog_details p .a_value {
  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-txt .blog_details p:first-child {
  position: relative;
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-txt .blog_details p:first-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 19px;
  background: rgba(255, 255, 255, 0.2);
  width: 1px;
  top: 2px;
  right: -16px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-img {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
}
@media (max-width: 1024.98px) {
  #main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-img {
    margin-left: unset;
  }
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-img img {
  border-radius: 16px;
  border: 1px solid #000;
  background: #000;
  -webkit-box-shadow: -30px 30px 120px 0px rgba(234, 53, 39, 0.6), 20px -20px 100px 0px rgba(240, 145, 53, 0.5);
          box-shadow: -30px 30px 120px 0px rgba(234, 53, 39, 0.6), 20px -20px 100px 0px rgba(240, 145, 53, 0.5);
}
#main-content.body-container-wrapper .body-container--blog-post-new .content-wrapper.hero-wrapper .blog-hero-grid .blog-hero-img::before {
  display: none;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  gap: 40px;
}
@media screen and (max-width: 1024.98px) {
  #main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container {
    padding: 40px 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-table-of-contents {
  width: 100%;
  max-width: 290px;
  background: none;
  border: none;
}
@media (max-width: 1024.98px) {
  #main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-table-of-contents {
    max-width: 100%;
  }
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-table-of-contents .toc-heading {
  color: rgba(11, 11, 10, 0.5);
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border: none;
  border: 0;
  background: none;
}
@media (max-width: 1024.98px) {
  #main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-table-of-contents .toc-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
  }
  #main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-table-of-contents .toc-heading::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("https://www.gravitee.io/hubfs/Spiralyze/1008/arrow.svg");
    display: block;
  }
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-table-of-contents .toc-list .toc-item {
  margin-bottom: 20px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-table-of-contents .toc-list .toc-item a {
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  padding: 0;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-table-of-contents .toc-list .toc-cta-item {
  margin: 0;
  padding: 0;
  border: none;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-table-of-contents .toc-list .toc-cta-item a {
  height: 40px;
  padding: 8.5px 17px 8.89px 17px;
  border-radius: 100px;
  background: #ea3527;
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body {
  max-width: 740px;
  width: 100%;
  padding: 0;
  margin: unset;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body {
  color: #000;
  -webkit-font-feature-settings: "case" on, "cpsp" on;
          font-feature-settings: "case" on, "cpsp" on;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body h2 {
  color: #000;
  font-family: Manrope;
  font-size: 36px !important;
  font-weight: 700 !important;
  line-height: 120%;
  margin-bottom: 24px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body p {
  color: #000;
  -webkit-font-feature-settings: "case" on, "cpsp" on;
          font-feature-settings: "case" on, "cpsp" on;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 16px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body p a {
  color: #ff492c;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body p code {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 4px;
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body strong {
  font-family: Manrope;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  color: #000;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body h3[id*=section] {
  color: #000;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 120%;
  margin-top: 40px;
  margin-bottom: 24px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body h4 {
  color: #000;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 120%;
  margin-top: 40px;
  margin-bottom: 24px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body ol,
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body ul {
  padding-left: 24px;
  margin-bottom: 15px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body ol li,
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body ol *,
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body ul li,
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body ul * {
  color: #000;
  -webkit-font-feature-settings: "case" on, "cpsp" on;
          font-feature-settings: "case" on, "cpsp" on;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body ol li a,
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body ol * a,
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body ul li a,
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body ul * a {
  color: #ff492c;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body ul {
  padding-left: 16px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body ul .api-banner {
  margin-left: -16px !important;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body ul .hs-embed-wrapper {
  max-width: calc(100% + 16px) !important;
  width: calc(100% + 16px) !important;
  margin: 24px auto 24px -16px !important;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body .api-banner {
  background: url("https://www.gravitee.io/hubfs/Spiralyze/1008/desktop_banner_bg.webp") no-repeat bottom right;
  padding: 32px;
  border-radius: 16px;
  background-size: cover;
  margin: 40px 0;
}
@media (screen-width: 1024.98px) {
  #main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body .api-banner {
    background: url("https://www.gravitee.io/hubfs/Spiralyze/1008/tablet_banner_bg.webp") no-repeat bottom right;
    padding: 16px;
    background-size: cover;
  }
}
@media (screen-width: 767.98px) {
  #main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body .api-banner {
    background: url("https://www.gravitee.io/hubfs/Spiralyze/1008/mobile_banner_bg.webp") no-repeat bottom right;
    padding: 16px;
    background-size: cover;
  }
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body .api-banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body .api-banner__title {
  color: #fff;
  font-family: Manrope;
  font-size: 28px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 120%;
  max-width: 400px;
  margin: 0;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body .api-banner__button {
  display: inline-block;
  border-radius: 46px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  background: linear-gradient(99deg, #f09135 2.8%, #ea3527 96.58%), #f8f1ee;
  padding: 16px 32px;
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  text-decoration: none;
  white-space: nowrap;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .blog-post-body #hs_cos_wrapper_post_body .api-banner__button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#f57c00), to(#d32f2f));
  background: linear-gradient(to right, #f57c00, #d32f2f);
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .about-author-wrapper {
  background: #fff;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .about-author-wrapper .about-author-sec.post-summary {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .about-author-wrapper .about-author-sec.post-summary .auth_name {
  color: #ff492c;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-post-wrapper .blog-post-container .about-author-wrapper .about-author-sec.post-summary .auth_bio {
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-related-posts {
  background: linear-gradient(105deg, rgba(0, 0, 0, 0.05) 5.21%, rgba(0, 0, 0, 0.03) 92.1%), #f8f1ee;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-related-posts .content-wrapper .heading2 {
  color: #000;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-size: 36px !important;
  font-weight: 700 !important;
  line-height: 120%;
  margin-bottom: 48px;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-related-posts .content-wrapper .blog-related-posts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1200.98px) {
  #main-content.body-container-wrapper .body-container--blog-post-new .blog-related-posts .content-wrapper .blog-related-posts__list {
    gap: 32px 24px;
  }
}
@media (max-width: 767.98px) {
  #main-content.body-container-wrapper .body-container--blog-post-new .blog-related-posts .content-wrapper .blog-related-posts__list {
    gap: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-related-posts .content-wrapper .blog-related-posts__list .blog-related-posts__post {
  background: transparent;
  padding: 0;
  max-width: 378px;
  width: 100%;
}
@media (max-width: 1200.98px) {
  #main-content.body-container-wrapper .body-container--blog-post-new .blog-related-posts .content-wrapper .blog-related-posts__list .blog-related-posts__post {
    max-width: 312px;
  }
}
@media (max-width: 1024.98px) {
  #main-content.body-container-wrapper .body-container--blog-post-new .blog-related-posts .content-wrapper .blog-related-posts__list .blog-related-posts__post {
    max-width: 320px;
    margin-bottom: 0;
  }
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-related-posts .content-wrapper .blog-related-posts__list .blog-related-posts__post .blog-related-posts__image {
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
  height: 212px !important;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-related-posts .content-wrapper .blog-related-posts__list .blog-related-posts__post .blog-related-posts__date {
  margin-top: 20px;
  color: #000;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-related-posts .content-wrapper .blog-related-posts__list .blog-related-posts__post .blog-related-posts__title {
  margin: 8px 0 0;
}
#main-content.body-container-wrapper .body-container--blog-post-new .blog-related-posts .content-wrapper .blog-related-posts__list .blog-related-posts__post .blog-related-posts__title .blog-related-posts__title-link {
  color: #000;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*hero Css ends */
/*hero Css starts */
footer.footer {
  background-color: #0b0b0a !important;
  background-image: none !important;
}

footer.footer .container-fluid.footer__container {
  padding-top: 0;
}

footer.footer .footer-cta {
  display: none;
}

footer.footer form .hs_recaptcha {
  display: none;
}

footer.footer .container-fluid.footer__container form .hs-button,
footer.footer .container-fluid.footer__container form input[type=submit] {
  background: #ea3527;
  border-radius: 100px;
  color: #fff !important;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  margin: 0;
  text-align: center;
  border: none;
}

footer.footer .container-fluid.footer__container form .hs-button:hover,
footer.footer .container-fluid.footer__container form input[type=submit]:hover {
  background: #f09135;
}

footer.footer .container-fluid.footer__container form input[type=submit]:focus {
  border: none !important;
}

/*hero Css ends */