/*hero Css starts */
#main-content.body-container-wrapper {
  .body-container--blog-post-new {
    background: #0d0b16;

    .content-wrapper.hero-wrapper {
      max-width: 1200px;
      padding-top: 107px;
      padding-bottom: 53px;

      @media (max-width: 1024.98px) {
        padding-left: 60px;
        padding-right: 60px;
      }

      .blog-post__tags {
        margin-bottom: 45px;

        .hamb_anchor_blog {
          color: #d9d9d9;
          font-family: Manrope;
          font-size: 12px;
          font-weight: 500;
          line-height: 120%;
          letter-spacing: 0.6px;
          text-transform: uppercase;

          &:hover {
            color: #ffffff;
          }
        }

        .right_chevron {
          margin: 0 4px;
        }

        .blog-post__tag-link {
          color: #d9d9d9;
          font-family: Manrope;
          font-size: 12px;
          font-weight: 500;
          line-height: 120%;
          letter-spacing: 0.6px;
          text-transform: uppercase;

          &:hover {
            color: #ffffff;
          }
        }
      }

      .blog-hero-grid {
        grid-template-columns: 0.9fr 1.1fr;
        align-items: start;

        @media (max-width: 1024.98px) {
          grid-template-columns: 1fr;
          place-items: center;
        }

        .blog-hero-txt {
          max-width: 500px;
          width: 100%;

          @media (max-width: 1024.98px) {
            max-width: 100%;
          }

          h1,
          .hs_cos_wrapper_name {
            color: #fff;
            font-family: Manrope;
            font-size: 40px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: -0.8px;
            margin-bottom: 25px;
          }

          .blog-hero-meta {
            color: #fff;
            font-family: Manrope;
            font-size: 20px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: -0.4px;
            margin-bottom: 20px;
          }

          .blog_details {
            display: flex;
            gap: 32px;

            p {
              margin: 0;

              .a_title {
                color: rgba(255, 255, 255, 0.5);
                font-family: Manrope;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
              }

              .a_value {
                color: #fff;
                font-family: Manrope;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
              }

              &:first-child {
                position: relative;

                &::after {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 19px;
                  background: rgba(255, 255, 255, 0.2);
                  width: 1px;
                  top: 2px;
                  right: -16px;
                }
              }
            }
          }
        }

        .blog-hero-img {
          max-width: 600px;
          width: 100%;
          margin-left: auto;

          @media (max-width: 1024.98px) {
            margin-left: unset;
          }

          img {
            border-radius: 16px;
            border: 1px solid #000;
            background: #000;
            box-shadow: -30px 30px 120px 0px rgba(234, 53, 39, 0.6),
              20px -20px 100px 0px rgba(240, 145, 53, 0.5);
          }

          &::before {
            display: none;
          }
        }
      }
    }

    .blog-post-wrapper {
      .blog-post-container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        padding: 80px 0;
        gap: 40px;

        @media screen and (max-width: 1024.98px) {
          padding: 40px 60px;
          flex-direction: column;
        }

        .blog-table-of-contents {
          width: 100%;
          max-width: 290px;
          background: none;
          border: none;

          @media (max-width: 1024.98px) {
            max-width: 100%;
          }

          .blog-table-container {
            position: sticky;
            top: 100px;
          }

          .toc-heading {
            color: rgba(11, 11, 10, 0.5);
            font-family: Manrope;
            font-size: 12px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            margin-bottom: 20px;
            border: none;
            border: 0;
            background: none;

            @media (max-width: 1024.98px) {
              display: flex;
              margin: 0 0 24px;
              padding: 0;

              &::after {
                content: "";
                width: 20px;
                height: 20px;
                background-image: url("https://www.gravitee.io/hubfs/Spiralyze/1008/arrow.svg");
                display: block;
              }
            }
          }

          .toc-list {
            .toc-item {
              margin-bottom: 20px;

              @media (max-width: 1024.98px) {
                margin-bottom: 24px;
              }

              a {
                color: #000;
                font-family: Manrope;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration: underline;
                padding: 0;

                &:hover {
                  background: transparent;
                  // color: #ea3527;
                  text-decoration: none;
                }

                @media (max-width: 1024.98px) {
                  &:active {
                    color: #ea3527;
                    text-decoration: none;
                  }
                }
              }

              @media (min-width: 1024.98px) {
                &.active a {
                  color: #ea3527;
                  text-decoration: none;
                }
              }
            }

            .toc-cta-item {
              margin: 0;
              padding: 0;
              border: none;

              a {
                height: 40px;
                padding: 8.5px 17px 8.89px 17px;
                border-radius: 100px;
                background: #ea3527;
                color: #fff;
                text-align: center;
                font-family: Manrope;
                font-size: 16px;
                font-weight: 600;
                line-height: 22.4px;
                text-decoration: none;
                width: fit-content;

                @media (max-width: 1024.98px) {
                  width: 100%;
                }

                &:hover {
                  color: rgba(255, 255, 255, 0.7);
                  background: #ea3527;
                }
              }
            }
          }
        }

        .blog-post-body {
          max-width: 740px;
          width: 100%;
          padding: 0;
          margin: unset;

          #hs_cos_wrapper_post_body {
            color: #000;
            font-feature-settings: "case" on, "cpsp" on;
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

            h2 {
              color: #000;
              font-family: Manrope;
              font-size: 36px !important;
              font-weight: 700 !important;
              line-height: 120%;
              margin-bottom: 24px;
            }

            p {
              color: #000;
              font-feature-settings: "case" on, "cpsp" on;
              font-family: Manrope;
              font-size: 16px;
              font-weight: 400;
              line-height: 150%;
              margin-bottom: 16px;

              a {
                color: #ff492c;
                font-family: Manrope;
                font-size: 16px;
                font-weight: 400;
                line-height: 150%;
              }

              code {
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                background: rgba(0, 0, 0, 0.05);
                padding: 1px 4px;
                color: #000;
                // font-family: "SF Mono";
                font-size: 17px;
                font-style: normal;
                font-weight: 300;
                line-height: 150%;
              }
            }

            strong {
              font-family: Manrope;
              font-size: 16px;
              line-height: 150%;
              font-weight: 700;
              color: #000;
            }

            h3[id*="section"] {
              color: #000;
              font-family: Manrope;
              font-size: 36px;
              font-style: normal;
              font-weight: 700 !important;
              line-height: 120%;
              margin-top: 40px;
              margin-bottom: 24px;
            }

            h4 {
              color: #000;
              font-family: Manrope;
              font-size: 28px;
              font-style: normal;
              font-weight: 700 !important;
              line-height: 120%;
              margin-top: 40px;
              margin-bottom: 24px;
            }

            ol,
            ul {
              padding-left: 24px;
              margin-bottom: 15px;

              li,
              * {
                color: #000;
                font-feature-settings: "case" on, "cpsp" on;
                font-family: Manrope;
                font-size: 16px;
                font-weight: 400;
                line-height: 150%;

                a {
                  color: #ff492c;
                  font-family: Manrope;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 150%;
                }
              }
            }

            ul {
              padding-left: 16px;

              .api-banner {
                margin-left: -16px !important;
              }
              .hs-embed-wrapper {
                max-width: calc(100% + 16px) !important;
                width: calc(100% + 16px) !important;
                margin: 24px auto 24px -16px !important;
              }
            }

            .api-banner {
              background: url("https://www.gravitee.io/hubfs/Spiralyze/1008/desktop_banner_bg.webp")
                no-repeat bottom right;
              padding: 32px;
              border-radius: 16px;
              background-size: cover;
              margin: 40px 0;

              @media (screen-width: 1024.98px) {
                background: url("https://www.gravitee.io/hubfs/Spiralyze/1008/tablet_banner_bg.webp")
                  no-repeat bottom right;
                padding: 16px;
                background-size: cover;
              }

              @media (screen-width: 767.98px) {
                background: url("https://www.gravitee.io/hubfs/Spiralyze/1008/mobile_banner_bg.webp")
                  no-repeat bottom right;
                padding: 16px;
                background-size: cover;
              }

              &__content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 24px;
              }

              &__title {
                color: #fff;
                font-family: Manrope;
                font-size: 28px !important;
                font-style: normal;
                font-weight: 700 !important;
                line-height: 120%;
                max-width: 400px;
                margin: 0;
              }

              &__button {
                display: inline-block;
                border-radius: 46px;
                border: 1px solid rgba(255, 255, 255, 0.03);
                background: linear-gradient(99deg, #f09135 2.8%, #ea3527 96.58%),
                  #f8f1ee;
                padding: 16px 32px;
                color: #fff;
                text-align: center;
                font-family: Manrope;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                transition: background 0.3s ease;
                text-decoration: none;
                white-space: nowrap;

                &:hover {
                  background: #ea392d;
                }
              }
            }
          }
        }

        .about-author-wrapper {
          background: #fff;
          margin-top: 41px;

          .about-author-sec.post-summary {
            padding: 0;
            display: flex;
            align-items: center;
            gap: 16px;

            > div:first-child {
              height: 48px;
              img {
                width: 48px;
              }
            }

            > div:last-child {
              display: flex;
              flex-direction: column;

              .auth_name {
                color: #ff492c;
                font-family: Manrope;
                font-size: 14px;
                font-weight: 700;
                line-height: 150%;
                text-decoration: none;

                &:hover {
                  color: #000;
                }
              }

              .auth_bio {
                color: #000;
                font-family: Manrope;
                font-size: 14px;
                font-weight: 400;
                line-height: 150%;
                margin: 0;
              }
            }
          }
        }

        .blog-sticky-nav {
          margin-left: auto;
          .spz-sticky-share-buttons {
            position: sticky;
            top: 100px;

            @media (max-width: 1024.98px) {
              position: relative;
              top: unset;
              display: flex;
              gap: 10px;
              justify-content: flex-end;
            }

            .spz-btn {
              width: 32px;
              height: 32px;
              padding: 7px;
              border-radius: 999px;
              border: 1px solid rgba(0, 0, 0, 0.2);
              margin-bottom: 10px;
              cursor: pointer;

              img {
                pointer-events: none;
              }

              &:hover {
                border: 1px solid rgba(0, 0, 0, 0.7);
              }
            }
          }
        }
      }
    }

    .blog-related-posts {
      background: linear-gradient(
          105deg,
          rgba(0, 0, 0, 0.05) 5.21%,
          rgba(0, 0, 0, 0.03) 92.1%
        ),
        #f8f1ee;
      .content-wrapper {
        .heading2 {
          color: #000;
          text-align: center;
          font-family: Manrope, sans-serif;
          font-size: 36px !important;
          font-weight: 700 !important;
          line-height: 120%;
          margin-bottom: 48px;
        }

        .blog-related-posts__list {
          display: flex;
          flex-wrap: wrap;
          gap: 32px;
          justify-content: center;

          @media (max-width: 1200.98px) {
            gap: 32px 24px;
          }

          @media (max-width: 767.98px) {
            gap: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .blog-related-posts__post {
            background: transparent;
            padding: 0;
            max-width: 378px;
            width: 100%;

            @media (max-width: 1200.98px) {
              max-width: 312px;
            }

            @media (max-width: 1024.98px) {
              max-width: 320px;
              margin-bottom: 0;
            }

            .blog-related-posts__image {
              max-width: 100%;
              width: 100%;
              border-radius: 8px;
              height: 212px !important;
            }

            .blog-related-posts__date {
              margin-top: 20px;
              color: #000;
              font-family: Manrope;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

            .blog-related-posts__title {
              margin: 8px 0 0;

              .blog-related-posts__title-link {
                color: #000;
                font-family: Manrope;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  }
}
/*hero Css ends */

/*hero Css starts */
footer.footer {
  background-color: #0b0b0a !important;
  background-image: none !important;

  .footer-row-0-padding:has(.footer-cta) {
    display: none;
  }
}

footer.footer .container-fluid.footer__container {
  padding-top: 0;
}

footer.footer .footer-cta {
  display: none;
}

footer.footer form .hs_recaptcha {
  display: none;
}

footer.footer .container-fluid.footer__container form .hs-button,
footer.footer .container-fluid.footer__container form input[type="submit"] {
  background: #ea3527;
  border-radius: 100px;
  color: #fff !important;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  margin: 0;
  text-align: center;
  border: none;
}

footer.footer .container-fluid.footer__container form .hs-button:hover,
footer.footer
  .container-fluid.footer__container
  form
  input[type="submit"]:hover {
  background: #f09135;
}

footer.footer
  .container-fluid.footer__container
  form
  input[type="submit"]:focus {
  border: none !important;
}
/*hero Css ends */
