body.spz-7002a[class] main.l-body-wrapper section.c-hero.spz-custom-bg {
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1681906779/ABCFitnessSolutions/7002a/assets/BG-Desktop-min.png") !important;
  opacity: 1;
  background-size: 1079px;
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #1a3144;
}
@media (min-width: 599.98px) and (max-width: 991.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero.spz-custom-bg {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1681906778/ABCFitnessSolutions/7002a/assets/BG-Tablet-min.png") !important;
    background-size: 768px;
  }
}
@media (max-width: 599.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero.spz-custom-bg {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1681906778/ABCFitnessSolutions/7002a/assets/BG-Mobile-min.png") !important;
    background-size: 375px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero > .c-hero__bg-image-wrapper {
  display: none !important;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero > .c-hero__gradient.c-hero__gradient--default {
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1681906779/ABCFitnessSolutions/7002a/assets/BG-Desktop-min.png") !important;
  opacity: 1;
  background-size: 1079px;
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #1a3144;
}
@media (min-width: 599.98px) and (max-width: 991.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero > .c-hero__gradient.c-hero__gradient--default {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1681906778/ABCFitnessSolutions/7002a/assets/BG-Tablet-min.png") !important;
    background-size: 768px;
  }
}
@media (max-width: 599.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero > .c-hero__gradient.c-hero__gradient--default {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1681906778/ABCFitnessSolutions/7002a/assets/BG-Mobile-min.png") !important;
    background-size: 375px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container {
  padding-top: 82px;
  padding-bottom: 42px;
}
@media (max-width: 1199.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container {
    padding-top: 24px;
  }
}
@media (max-width: 599.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container {
    padding: 12px;
    width: 100%;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .__title-wrapper.c-hero__title-wrapper {
  display: none !important;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__subtitle.c-subtitle > p {
  display: none;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__subtitle.c-subtitle > p:first-child {
  display: block;
  color: #fff !important;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__subtitle.c-subtitle > p:first-child span {
  color: #fff !important;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 1200px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column {
  border: none;
}
@media (max-width: 1200px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column {
    width: 100%;
    padding-right: 60px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child {
  padding-bottom: 0;
  padding-left: 36px;
  padding-right: 64px;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child {
    margin-left: -1px;
  }
}
@media (min-width: 1199.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child {
    width: 55%;
  }
}
@media (max-width: 1199.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child {
    padding: 0;
  }
}
@media (max-width: 767px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child {
    padding: 8px;
    margin-bottom: 0;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .spz-subtitle {
  text-transform: none;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 16px;
  letter-spacing: -0.02em;
  line-height: 134%;
}
@media (max-width: 599.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .spz-subtitle {
    font-size: 14px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .spz-subtitle strong {
  padding-left: 2px;
}
@media (min-width: 1199.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .spz-subtitle strong {
    padding-left: 3px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child h3.c-hero__column-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.015em;
  margin-top: -3px;
  margin-bottom: 18px;
  color: #fff !important;
}
@media (max-width: 599.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child h3.c-hero__column-title {
    margin-bottom: 0;
    padding-bottom: 11px;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child h3.c-hero__column-title {
    max-width: 420px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content p {
  font-size: 20px;
  line-height: 134%;
  letter-spacing: -0.045em;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content p span {
  color: #fff !important;
}
@media (max-width: 767.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content p:last-child {
  padding-left: 44px !important;
}
@media (max-width: 991.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content p:last-child {
    padding-left: 42px !important;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content p:nth-last-child(2) {
  margin-bottom: 8px;
}
@media (max-width: 599.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content p:nth-last-child(2) {
    margin-bottom: 16px;
  }
}
@media (min-width: 767.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content p:nth-child(3), body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content p:nth-child(2) {
    margin-bottom: 21px;
  }
}
@media (min-width: 767.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content p:nth-child(4) {
    margin-bottom: 18px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content p:nth-child(4) strong {
  font-weight: 700;
  font-size: 16px;
  line-height: 134%;
  letter-spacing: -0.025em;
}
@media (min-width: 767.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content p:nth-child(4) strong {
    font-size: 19px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content ul {
  padding-top: 3px;
  padding-right: 2px;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content ul li {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content ul li span {
  color: #fff !important;
}
@media (min-width: 767.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:first-child .c-hero__column-content ul li {
    font-size: 18px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child {
  padding: 0;
  padding-bottom: 30px;
}
@media (min-width: 1199.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child {
    width: 45%;
    padding-right: 4px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child > .c-hero__column-title {
  display: none;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child .c-hero__column-content p {
  border-radius: 12px;
  padding: 22px 22px 22px 18px;
}
@media (min-width: 1199.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child .c-hero__column-content p {
    padding-top: 0;
    margin-top: -8px;
  }
}
@media (max-width: 1199.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child .c-hero__column-content p {
    max-width: 420px;
    margin: auto;
  }
}
@media (max-width: 599.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child .c-hero__column-content p {
    padding: 24px 16px 16px 14px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child .c-hero__column-content p .spz-form-title h6 {
  font-family: "aktiv-grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  text-transform: initial;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2px;
}
@media (max-width: 599.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child .c-hero__column-content p .spz-form-title h6 {
    font-size: 18px;
    line-height: 36px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child .c-hero__column-content p iframe {
  height: 666px;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child .c-hero__column-content.invert-form-color p {
  background: transparent;
}
@media (min-width: 1199.98px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child .c-hero__column-content.invert-form-color p {
    padding-top: 0;
    margin-top: -10px;
  }
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child .c-hero__column-content.invert-form-color p .spz-form-title h6 {
  color: #fff;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .c-hero__repeater .c-hero__column:last-child .c-hero__column-content.invert-form-color p iframe {
  height: 704px;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .hs-social-proofs-spz {
  width: 100%;
  margin: 70px auto 38px auto;
  max-width: 908px;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .hs-social-proofs-spz .hs-sp-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .hs-social-proofs-spz .hs-sp-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
}
body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .hs-social-proofs-spz .hs-sp-img-tab {
  display: none;
}
@media (min-width: 1025px) and (max-width: 1199px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .hs-social-proofs-spz {
    width: 95%;
  }
}
@media (max-width: 1024px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .hs-social-proofs-spz {
    margin: 20px auto 14px auto;
  }
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .hs-social-proofs-spz .hs-sp-wrapper {
    display: none;
  }
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .hs-social-proofs-spz .hs-sp-img-tab {
    display: block;
    max-width: 568px;
    margin: 7.5px auto;
  }
}
@media (max-width: 767px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .hs-social-proofs-spz {
    max-width: 335px;
    margin: 16px auto 20px auto;
  }
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .hs-social-proofs-spz .hs-sp-title {
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
    letter-spacing: -0.05px;
  }
}
@media (max-width: 340px) {
  body.spz-7002a[class] main.l-body-wrapper section.c-hero .c-hero__content.l-container .c-hero__info-wrapper .hs-social-proofs-spz {
    max-width: 300px;
  }
}