$eptura-font: "Flexible", Arial, sans-serif;
$eptura-light: "Eptura Flexible Light", Arial, sans-serif;
$eptura-bold: "Eptura Flexible Bold", Arial, sans-serif;

body.spz-5009 {
  .learn-more-section,
  .work-with-us,
  .top-header, .keep-update.bg-purple  {
    display: none !important;
  }

  .site-content {
    margin: 0;

    //hide hero banner
    .inner-banner.style-three {
      display: none !important;
    }

    .inner-banner.dark-contact-hero {
      display: none !important;
    }

    .get-form {
      position: relative;
      border-radius: 8px;
      background: var(--primary-neutrals-w, #fff);
      box-shadow: 0px 24px 48px 0px rgba(13, 18, 46, 0.12);
      padding: 40px 46px 52px;
      z-index: 1;

      @media (min-width: 767.98px) and (max-width: 1199.98px) {
        padding-top: 40px;
        max-width: 580px;
        // margin: 0 auto;
      }

      @media (max-width: 767.98px) {
        width: 328px;
        padding: 33px 18.5px 32px;
        margin: 0 auto;
      }

      .get-form-title {
        color: #904ab0;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 300;
        line-height: 44px;
        margin-bottom: 32px;

        @media (max-width: 1199.98px) {
          margin-bottom: 31.5px;
        }

        @media (max-width: 767.98px) {
          font-size: 26px;
          line-height: 34px;
          margin-bottom: 27.5px;
        }
      }

      //Form Css starts here
      form.mktoForm {
        box-shadow: none;
        padding: 0 !important;
        .mktoFormRow {
          .mktoFormCol {
            min-height: auto;
            margin: 0 !important;
            padding: 0 10px !important;

            .mktoFieldWrap {
              position: relative;
              float: none !important;
              .mktoLabel {
                position: absolute;
                overflow: hidden;
                color: var(
                  --primary-neutrals-n-2,
                  rgba(13, 18, 46, 0.8)
                ) !important;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-family: $eptura-font;
                font-size: 16px !important;
                font-style: normal;
                font-weight: 300 !important;
                line-height: 24px; /* 150% */
                top: 12px;
                left: 16px;
                padding: 0 !important;
                transition: all 0.3s ease-in-out;
                pointer-events: none;
                max-width: calc(100% - 58px);
                background: #fff;
                right: 0;
                letter-spacing: 0;
              }

              .mktoField:not([type="checkbox"]) {
                border-radius: 4px !important;
                border: 1px solid var(--interactive-colors-a-4, #d6d7f5) !important;
                width: 280px;
                padding: 11px 16px 10px 16px !important;
                color: var(--primary-neutrals-n-1, #0d122e) !important;
                text-overflow: ellipsis;
                font-family: $eptura-font !important;
                font-size: 16px !important;
                font-style: normal;
                font-weight: 300 !important;
                line-height: 24px !important; /* 150% */
                margin-bottom: 20px !important;

                &:not(#Lead_Notes__c) {
                  overflow: hidden;
                  height: 48px !important;
                  white-space: nowrap;
                  @media (min-width: 767.98px) {
                    // max-width: calc(100% - 10px);
                    max-width: 100%;
                  }
                }

                &#I_am__c,
                &#Country,
                &#Solution_Type__c {
                  outline: transparent;
                  appearance: none !important;
                  background-image: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/eptura/3001/custom/chevron-down.svg") !important;
                  background-repeat: no-repeat !important;
                  background-position: right 14px center !important;
                  background-size: 24px !important;
                  padding-right: 32px !important;
                }

                &#Lead_Notes__c ~ .mktoError {
                  margin-top: 0 !important;
                  .mktoErrorArrowWrap {
                    top: -27px;
                  }
                  .mktoErrorMsg {
                    margin-top: -20px;
                  }
                }

                &:-webkit-autofill {
                  -webkit-box-shadow: 0 0 0 30px white inset !important;
                }
                &:autofill {
                  -webkit-box-shadow: 0 0 0 30px white inset !important;
                }
              }

              .mktoHtmlText.mktoHasWidth {
                margin: 0 !important;
                line-height: 0;
                span {
                  color: #848995;
                  font-size: 10px !important;
                  font-family: $eptura-font;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 16px; /* 160% */

                  a {
                    // font-family: $eptura-font;
                    padding: 0;
                    color: #1b4bc5;
                    // font-weight: 500;
                    &:hover {
                      color: #0d122e;
                    }
                  }
                }
              }

              .mktoCheckboxList {
                margin-top: 3px;
                margin-bottom: 9px;
                cursor: pointer;
                display: inline-block;
                position: relative;
                padding-left: 14px;
                .mktoField {
                  border: 1px solid #d6d7f5;
                  height: 16px !important;
                  width: 16px !important;
                  cursor: pointer;
                  @media (max-width: 767.98px) {
                    margin-top: 7px;
                  }
                }

                label {
                  font-family: $eptura-font !important;
                  color: var(--primary-neutrals-n-1, #0d122e);
                  font-size: 14px !important;
                  font-style: normal !important;
                  font-weight: 300 !important;
                  line-height: 20px !important; /* 142.857% */
                  margin-left: 19px;
                  // letter-spacing: -0.1px;
                  padding-right: 0;
                  cursor: pointer;

                  a {
                    color: #1b4bc5;
                    padding: 0;

                    &:hover,
                    &:focus {
                      color: #0d122e;
                      text-decoration: underline;
                    }
                  }

                  @media (max-width: 767.98px) {
                    font-size: 12px !important;
                    line-height: 18px !important;
                  }

                  &:before {
                    content: "";
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    left: 0;
                    background: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/eptura/3001/custom/form-checkmark.svg")
                      left center no-repeat;
                    margin-top: 2px;
                  }

                  &:hover {
                    &::before {
                      background: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/eptura/3001/custom/form-checkmark-hover.svg")
                        left center no-repeat;
                    }
                  }
                }
                input[type="checkbox"] {
                  display: none !important;

                  &:checked + label:before {
                    background: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/eptura/3001/custom/form-checkmark-checked.svg")
                      left center no-repeat;
                  }
                }
              }

              .mktoError {
                left: 0;
                bottom: auto !important;
                right: auto !important;
                top: 50px;

                .mktoErrorMsg {
                  color: #f3f3f3;
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 16px; /* 123.077% */
                }
              }

              //custom error for checkbox field
              &.spz-cstm-error {
                .mktoCheckboxList label {
                  color: #e51b00 !important;

                  &::before {
                    background: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/eptura/3002/form-checkmark-errored.svg")
                      left center no-repeat;
                  }
                }
              }
            }

            &.field-focus {
              .mktoFieldWrap {
                .mktoLabel {
                  top: -8px;
                  left: 11px;
                  right: auto;
                  padding: 0 5px !important;
                  font-family: $eptura-font;
                  color: var(--accents-a-5, #904ab0) !important;
                  font-size: 13px !important;
                  line-height: 18px !important;
                  background: #fff;
                  max-width: fit-content;
                }
              }
              .mktoField:not([type="checkbox"]) {
                border-color: #904ab0 !important;
              }
            }

            &.input-filled {
              .mktoFieldWrap {
                .mktoLabel {
                  top: -8px;
                  left: 11px;
                  right: auto;
                  font-family: $eptura-font;
                  padding: 0 5px !important;
                  font-size: 13px !important;
                  line-height: 18px !important;
                  background: #fff;
                  max-width: fit-content;
                }
              }
            }

            &.field-error {
              &.field-focus {
                .mktoFieldWrap {
                  .mktoLabel {
                    color: var(--accents-a-5, #f83a59) !important;
                  }
                }
              }

              .mktoField:not([type="checkbox"]) {
                border-color: #f83a59 !important;
              }
            }

            &[data-zi-field-enriched="true"] {
              display: inline !important;
            }
          }

          &[data-zi-field-enriched="true"] {
            display: inline !important;
          }

          .spz-anchor:not(.spz-hidden) {
            display: flex;
            width: 100%;

            + .mktoFieldDescriptor.mktoFormCol {
              display: none !important;
            }

            .show-comment-dynamic {
              overflow: hidden;
              color: var(--primary-neutrals-n-2, rgba(13, 18, 46, 0.8));
              font-family: $eptura-font;
              text-overflow: ellipsis;
              font-size: 16px;
              font-style: normal;
              font-weight: 300;
              line-height: 24px;
              display: inline-block;
              // margin-top: 2px;
              // margin-left: 10px;
              // margin-bottom: 18px;
              margin: 2px 0 18px 10px;
              transition: all 0.3s ease;
              padding: 0;
              span {
                padding-right: 5px;
              }
              @media (max-width: 1199.98px) {
                margin: 3px 0 18px 10px;
              }
              @media (max-width: 767.98px) {
                padding: 0;
                margin: 2px 0 14px 10px;
              }

              &:hover {
                color: #904ab0;
              }
            }
          }
          .spz-hidden {
            display: none;
          }

          &[spz_row_num="19"],
          &[spz_row_num="20"],
          &[spz_row_num="21"],
          &[spz_row_num="7"] {
            width: 100%;
            .mktoFormCol {
              width: 100% !important;
            }
          }

          //Css to match mock starts here
          @media (min-width: 767.98px) {
            &[spz_row_num="5"] {
              width: 100%;
              .mktoFormCol {
                width: 100% !important;
              }
            }
          }
          //Css to match mock ends here
        }

        //submit button css
        .mktoButtonRow {
          text-align: center;
          width: 100%;

          .mktoButtonWrap {
            button.mktoButton {
              margin: auto;
              display: flex;
              width: 140px !important;
              height: 50px !important;
              padding: 0px 8px !important;
              justify-content: center;
              align-items: center;
              border-radius: 3px !important;
              background: var(--interactive-colors-a-1, #1b4bc5) !important;
              color: var(--primary-neutrals-w, #fff) !important;
              text-align: center;
              font-family: $eptura-font !important;
              font-size: 16px !important;
              font-style: normal;
              font-weight: 500 !important;
              line-height: 24px !important; /* 150% */
              margin-top: 10.5px !important;
              white-space: nowrap;

              &:hover,
              &:focus {
                background: var(--interactive-colors-a-3, #456ed6) !important;
              }
              &:focus {
                transform: translate(0, 1px);
              }

              @media (max-width: 767.98px) {
                height: 56px !important;
                padding: 0px 32px;
                width: 270px !important;
                max-width: 270px !important;
                margin-top: 11px !important;
              }
            }
          }
        }

        //email line form
        .spz-email {
          .mktoFieldWrap {
            margin-top: 24px;

            // @media (max-width: 767.98px) {
            //   margin-top: 18px;
            // }

            .mktoHtmlText.mktoHasWidth {
              text-align: center;
              @media (max-width: 767.98px) {
                line-height: 0;
              }
              em {
                color: var(--primary-neutrals-n-1, #0d122e);
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 20px;
                font-family: $eptura-font;

                @media (max-width: 767.98px) {
                  padding: 0;
                  // font-size: 13px;
                  // line-height: 18px;
                }

                .mobile-only {
                  @media (min-width: 767.98px) {
                    display: none;
                  }
                }

                a {
                  color: var(--interactive-colors-a-1, #1b4bc5);
                  font-weight: 500;
                  padding: 0;
                  font-family: $eptura-font;
                  padding-left: 2px;

                  &:hover {
                    color: #0d122e;
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }

        //Css to match mock starts here
        &.initial-load {
          @media (min-width: 767.98px) {
            display: flex;
            flex-wrap: wrap;

            .mktoFormRow[spz_row_num="3"] {
              display: none;
            }

            .mktoFormRow[spz_row_num="2"],
            .mktoFormRow[spz_row_num="4"] {
              width: 50%;

              .mktoFieldDescriptor.mktoFormCol {
                width: 100% !important;
              }
            }
          }
        }
        //Css to match mock ends here
      }
    }
  }
}
