@media (max-width: 599.98px) {
  .spz-1031 section.google_review .review_inner {
    max-width: 360px;
    padding: 32px 8px 52px;
  }
  .spz-1031 .google_review .review_header {
    height: auto;
    margin: 0 0 24px 34px;
  }
  .spz-1031 .google_review .review_header .logo_block,
.spz-1031 .google_review .review_header .rating_block {
    width: 100%;
  }
  .spz-1031 .google_review .review_header .logo_block {
    margin-bottom: 3px;
  }
  .spz-1031 .google_review .review_header h4 {
    border: none;
  }
  .spz-1031 .google_review .review_header .avg_rating_star {
    margin: 0 11px 0 0;
  }
  .spz-1031 .google_review .review_slider .slick-list {
    margin: 0 37px;
  }
  .spz-1031 .google_review .review_slider .review_box {
    margin: 0 5px;
  }
  .spz-1031 .google_review .review_slider .review_box .review_content {
    max-width: 100%;
  }
  .spz-1031 .google_review button.slide_arrow svg {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 767px) {
  .spz-1031 .protection-subheading {
    font-size: 18px;
    line-height: 26px;
  }
  .spz-1031 .plans-wrap {
    padding: 0 16px;
    margin-top: 45px;
  }
  .spz-1031 .plans-wrap .plan-item {
    margin-left: auto;
    margin-right: auto;
    max-width: 328px;
    margin-bottom: 0px;
    margin-top: 0;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .spz-1031 .plans-wrap .plan-item:first-child {
    margin-bottom: 32px;
  }
  .spz-1031 .plans-wrap .plan-item:last-child {
    margin-top: 0px;
    margin-bottom: 32px;
  }
  .spz-1031 .plans-wrap .plan-item .plan-image-wrap img.plan-icon {
    bottom: -36px;
  }
  .spz-1031 .plans-wrap .plan-item .plan-name {
    margin-bottom: 10px;
    padding: 0 30px;
  }
  .spz-1031 .plans-wrap .plan-item .plan-desc {
    padding: 0 30px;
  }
  .spz-1031 .plans-wrap .plan-item .plan-price {
    margin-top: 28px;
    padding: 0 30px;
  }
  .spz-1031 .plans-wrap .plan-item .plan-button {
    max-width: 268px;
  }
  .spz-1031 .spz-how-it-works {
    padding: 48px 0 48px 0;
  }
  .spz-1031 .spz-how-it-works .how-heading {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .spz-1031 .spz-how-it-works .how-subheading {
    font-size: 18px;
    line-height: 26px;
  }
  .spz-1031 .spz-how-it-works .how-wrap {
    margin-top: 100px;
  }
  .spz-1031 .spz-how-it-works .how-wrap .how-item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 127px;
  }
  .spz-1031 .spz-how-it-works .how-wrap .how-item:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
  .spz-1031 .spz-how-it-works .spz-get-started-btn {
    margin-top: 46px;
  }
  .spz-1031 .companies-section {
    padding: 0 0 72px;
  }
  .spz-1031 .companies-section .call-us {
    display: none;
  }
  .spz-1031 .companies-section .companies-wrap {
    padding: 0 60px;
    margin-top: 50px;
  }
  .spz-1031 .companies-section .companies-wrap img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .spz-1031 .companies-section .companies-subheading {
    font-size: 16px;
    line-height: 26px;
    padding: 0 20px;
  }
  .spz-1031 .companies-section .companies-heading {
    font-size: 24px;
    line-height: 32px;
    padding: 0 25px;
    margin-bottom: 12px;
  }
  .spz-1031 .spz-popup .popup-form {
    padding: 48px 16px 64px;
    max-width: calc(100% - 32px);
  }
  .spz-1031 .spz-popup .popup-form .input-wrap {
    max-width: 283px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    flex-direction: column;
  }
  .spz-1031 .spz-popup .popup-form .input-wrap .error-zipcode {
    bottom: 57px;
  }
  .spz-1031 .spz-popup .popup-form .input-wrap input {
    width: 100% !important;
    max-width: 100%;
    margin-bottom: 24px;
    border-radius: 5px;
  }
  .spz-1031 .spz-popup .popup-form .input-wrap .spz-button-submit {
    max-width: 283px;
    margin-left: auto;
    margin-right: auto;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    border-radius: 5px;
  }
  .spz-1031 .spz-popup .popup-form .form-heading {
    font-size: 24px;
    line-height: 32px;
  }
  .spz-1031 .spz-popup .popup-form .form-subheading {
    font-size: 16px;
    line-height: 24px;
  }
  .spz-1031 .feedback-slider .feedback-container {
    margin-left: 24px;
    margin-right: 24px;
  }
  .spz-1031 .feedback-slider .feedback-container .feedback-item {
    flex-direction: column;
    padding: 36px 24px 50px;
  }
  .spz-1031 .feedback-slider .feedback-container .feedback-item .feedback-image {
    max-width: 120px;
    margin-left: 0;
    margin-right: auto;
  }
  .spz-1031 .feedback-slider .feedback-container .feedback-item .feedback-info {
    max-width: 100%;
    margin-top: 32px;
  }
  .spz-1031 .feedback-slider .feedback-container .feedback-copy {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  .spz-1031 .feedback-slider .slick-dots {
    bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  .spz-1031 .spz-how-it-works {
    padding: 65px 0 64px 0;
  }
  .spz-1031 .spz-how-it-works .how-heading {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 19px;
  }
  .spz-1031 .spz-how-it-works .how-wrap {
    max-width: 580px;
    padding: 0;
    margin-top: 95px;
  }
  .spz-1031 .spz-how-it-works .how-wrap .how-item:last-child {
    margin-left: auto;
    margin-right: auto;
    margin-top: 121px;
  }
  .spz-1031 .spz-how-it-works .spz-get-started-btn {
    margin-top: 57px;
  }
  .spz-1031 section.google_review .review_inner {
    max-width: 724px;
    padding: 48px 20px 47px;
  }
  .spz-1031 .spz-protection-section {
    padding: 19px 0 64px 0;
  }
  .spz-1031 .feedback-slider {
    padding: 64px 0 66px 0;
  }
  .spz-1031 .feedback-slider .feedback-container .feedback-item {
    padding: 56px 36px 99px;
  }
  .spz-1031 .feedback-slider .feedback-container .feedback-item .feedback-image {
    max-width: 174px;
  }
  .spz-1031 .feedback-slider .feedback-container .feedback-item .feedback-info {
    max-width: 403px;
  }
  .spz-1031 .feedback-slider .feedback-container .feedback-copy {
    font-size: 28px;
    line-height: 36px;
  }
  .spz-1031 .companies-section {
    padding: 0 0 64px;
  }
  .spz-1031 .companies-section .companies-wrap {
    margin-top: 43px;
  }
  .spz-1031 .companies-section .call-us {
    margin-top: 47px;
  }
  .spz-1031 .companies-section .companies-heading {
    font-size: 28px;
    line-height: 36px;
  }
  .spz-1031 .companies-section .companies-subheading {
    max-width: 640px;
    padding: 0;
  }
}
@media (max-width: 1148px) {
  .spz-1031 .plans-wrap {
    max-width: 100%;
    padding: 0 32px;
  }
}
@media (max-width: 1083px) {
  .spz-1031 .plans-wrap {
    justify-content: space-between;
    margin-top: 42px;
    max-width: 704px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .spz-1031 .plans-wrap .plan-item {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }
  .spz-1031 .plans-wrap .plan-item:first-child {
    margin-top: 0;
    margin-right: 0;
  }
  .spz-1031 .plans-wrap .plan-item:last-child {
    margin-top: 0;
    margin-left: 0;
  }
  .spz-1031 .plans-wrap .plan-item .plan-name {
    padding: 0 34px;
  }
}
@media (min-width: 1084px) {
  .spz-1031 .plans-wrap .plan-item .plan-name {
    min-height: 108px;
  }
}
@media (max-width: 1104px) {
  .spz-1031 .spz-how-it-works .how-wrap {
    max-width: 100%;
    padding: 0 32px;
  }
}
@media (max-width: 1264px) {
  .spz-1031 .feedback-slider .feedback-container {
    max-width: 100%;
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .spz-1031 .feedback-slider .feedback-container .feedback-item .feedback-image {
    margin-right: 30px;
  }
}
@media (max-width: 1040px) {
  .spz-1031 .companies-section .companies-subheading {
    max-width: 100%;
    padding: 0 32px;
  }
}
@media (max-width: 1146px) {
  .spz-1031 .companies-section .companies-wrap {
    max-width: 100%;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */