.spz-custom-dropdown .css-1tsiji8-Form-root .css-12ive4l-Form-formContainer #reactHubspotForm0 {
  display: none !important;
}
.spz-custom-dropdown .hs-button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 12px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  background-color: #ff7a59;
  border-color: #ff7a59;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  padding: 12px 24px;
}
.spz-custom-dropdown .hs-button:hover,
.spz-custom-dropdown .hs-button:focus {
  background-color: #ff8f73;
  border-color: #ff8f73;
}
.spz-custom-dropdown .hs-button:active {
  background-color: #e66e50;
  border-color: #e66e50;
}
.spz-custom-dropdown label {
  font-size: 14px;
  width: 130px;
  color: #33475b;
  display: block;
  float: none;
  width: auto;
  font-weight: 500;
  line-height: 20px;
  padding-top: 0;
  margin-bottom: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.spz-custom-dropdown .hs-video-form label {
  color: #fff !important;
}
.spz-custom-dropdown .hs-video-form .hs-back-button {
  background-color: #fff;
  width: 20%;
  height: 38px;
  margin-right: 10px;
  border: 1px solid;
  border-radius: 3px;
}
.spz-custom-dropdown .hs-video-form .hs-button {
  width: 70%;
}
.spz-custom-dropdown .hs-video-form .hs-button span {
  font-size: 15px;
}
.spz-custom-dropdown .hs-video-form .hs-richtext {
  color: #fff !important;
}
.spz-custom-dropdown .hs-video-form .legal-consent-container {
  max-height: 180px !important;
  overflow-y: scroll !important;
}
.spz-custom-dropdown .hs-video-form .legal-consent-container:after {
  content: "";
  display: block;
  height: 100px;
  width: 100%;
}
.spz-custom-dropdown .hs-video-form .legal-consent-wrapper {
  position: relative;
}
.spz-custom-dropdown .hs-video-form .legal-consent-overlay {
  position: absolute;
  pointer-events: none;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#292929));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #292929 100%);
}
.spz-custom-dropdown .hs-error-msgs label {
  color: #f2545b;
}
.spz-custom-dropdown .hs-input {
  display: inline-block;
  width: 90%;
  max-width: 500px;
  height: 40px;
  padding: 9px 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #33475b;
  border: 1px solid #cbd6e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}
.spz-custom-dropdown .hs-input:not([type=file]) {
  background-color: #f5f8fa;
}
.spz-custom-dropdown .hs-input[type=checkbox],
.spz-custom-dropdown .hs-input[type=radio] {
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 5px 3px 0px;
  line-height: normal;
  border: none;
}
.spz-custom-dropdown .hs-input[type=file] {
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.spz-custom-dropdown select.is-placeholder {
  color: #bfbfbf;
}
.spz-custom-dropdown select.is-placeholder:focus {
  color: #33475b;
}
.spz-custom-dropdown .hs-input:-moz-placeholder {
  color: #bfbfbf;
}
.spz-custom-dropdown .hs-input::-webkit-input-placeholder {
  color: #bfbfbf;
}
.spz-custom-dropdown .hs-input option:disabled {
  color: #bfbfbf;
}
.spz-custom-dropdown .hs-input input,
.spz-custom-dropdown .hs-input textarea {
  -webkit-transition: border 0.2s linear;
  transition: border 0.2s linear;
}
.spz-custom-dropdown .hs-input:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
}
.spz-custom-dropdown textarea.hs-input {
  height: auto;
}
.spz-custom-dropdown select[multiple].hs-input {
  height: inherit;
}
.spz-custom-dropdown input.hs-input.error,
.spz-custom-dropdown div.field.error input,
.spz-custom-dropdown div.field.error textarea,
.spz-custom-dropdown div.field.error .chzn-choices,
.spz-custom-dropdown textarea.hs-input.error,
.spz-custom-dropdown select.hs-input.error {
  border-color: #c87872;
}
.spz-custom-dropdown input.hs-input.error:focus,
.spz-custom-dropdown div.field.error input:focus,
.spz-custom-dropdown div.field.error textarea:focus,
.spz-custom-dropdown div.field.error .chzn-choices:focus,
.spz-custom-dropdown textarea.hs-input.error:focus,
.spz-custom-dropdown select.hs-input.error:focus {
  border-color: #b9554d;
}
.spz-custom-dropdown .actions {
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 17px 0px;
}
.spz-custom-dropdown .inputs-list {
  margin: 0 0 5px;
  width: 100%;
  padding-left: 5px;
}
.spz-custom-dropdown .inputs-list > li {
  display: block;
  padding: 0;
  width: 100%;
  padding-top: 0;
}
.spz-custom-dropdown .inputs-list label {
  float: none;
  width: auto;
  padding: 0;
  line-height: 18px;
  white-space: normal;
  font-weight: normal;
}
.spz-custom-dropdown .inputs-list:first-child {
  padding-top: 6px;
}
.spz-custom-dropdown .inputs-list > li + li {
  padding-top: 2px;
}
.spz-custom-dropdown ul.no-list {
  list-style: none;
}
.spz-custom-dropdown .hs-field-desc {
  color: #7c98b6;
  margin: 0px 0px 6px;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.spz-custom-dropdown .hs-form-required {
  color: red;
}
.spz-custom-dropdown .hs-richtext {
  margin-bottom: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 24px;
  font-size: 14px;
  color: #33475b;
}
.spz-custom-dropdown .hs-richtext hr {
  margin-left: 0;
  width: 91%;
}
.spz-custom-dropdown .hs-custom-style .hs-dependent-field > div input.hs-input:not([type=checkbox]):not([type=radio]) {
  width: 90%;
}
.spz-custom-dropdown form.hs-form-rtl .field {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
.spz-custom-dropdown form.hs-form-rtl .hs-input[type=checkbox],
.spz-custom-dropdown form.hs-form-rtl .hs-input[type=radio] {
  margin: 3px 5px 3px 5px;
}
.spz-custom-dropdown form.hs-form-rtl fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.spz-custom-dropdown form.hs-form-rtl fieldset[class^=form-columns-] .input {
  margin-right: 0px;
}
.spz-custom-dropdown form.hs-form-rtl ul {
  padding: 0px;
}
.spz-custom-dropdown form.hs-form-rtl .legal-consent-container .hs-form-booleancheckbox-display input {
  width: auto;
  float: right;
}
.spz-custom-dropdown form.hs-form-rtl .legal-consent-container .hs-form-booleancheckbox-display > span {
  margin-left: 0px;
}
.spz-custom-dropdown form.hs-form-rtl .hs-dependent-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.spz-custom-dropdown .email-correction,
.spz-custom-dropdown .email-validation {
  padding-top: 3px;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.spz-custom-dropdown .email-correction a,
.spz-custom-dropdown .email-validation a {
  cursor: pointer;
}
@media (max-width: 400px), (min-device-width: 320px) and (max-device-width: 480px) {
  .spz-custom-dropdown .email-correction form .form-columns-2 .hs-form-field,
  .spz-custom-dropdown .email-correction form .form-columns-3 .hs-form-field,
  .spz-custom-dropdown .email-validation form .form-columns-2 .hs-form-field,
  .spz-custom-dropdown .email-validation form .form-columns-3 .hs-form-field {
    float: none;
    width: 100%;
  }
  .spz-custom-dropdown .email-correction form .form-columns-2 .hs-form-field .hs-input,
  .spz-custom-dropdown .email-correction form .form-columns-3 .hs-form-field .hs-input,
  .spz-custom-dropdown .email-validation form .form-columns-2 .hs-form-field .hs-input,
  .spz-custom-dropdown .email-validation form .form-columns-3 .hs-form-field .hs-input {
    width: 90%;
  }
  .spz-custom-dropdown .email-correction form .form-columns-2 .hs-form-field input[type=checkbox],
  .spz-custom-dropdown .email-correction form .form-columns-2 .hs-form-field input[type=radio],
  .spz-custom-dropdown .email-correction form .form-columns-3 .hs-form-field input[type=checkbox],
  .spz-custom-dropdown .email-correction form .form-columns-3 .hs-form-field input[type=radio],
  .spz-custom-dropdown .email-validation form .form-columns-2 .hs-form-field input[type=checkbox],
  .spz-custom-dropdown .email-validation form .form-columns-2 .hs-form-field input[type=radio],
  .spz-custom-dropdown .email-validation form .form-columns-3 .hs-form-field input[type=checkbox],
  .spz-custom-dropdown .email-validation form .form-columns-3 .hs-form-field input[type=radio] {
    width: 24px;
  }
}
.spz-custom-dropdown .hs-button,
.spz-custom-dropdown .hs-form-field input[type=text],
.spz-custom-dropdown .hs-form-field input[type=email],
.spz-custom-dropdown .hs-form-field input[type=phone],
.spz-custom-dropdown .hs-form-field input[type=number],
.spz-custom-dropdown .hs-form-field input[type=tel],
.spz-custom-dropdown .hs-form-field input[type=date],
.spz-custom-dropdown .hs-form-field textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.spz-custom-dropdown .hs-default-font-element,
.spz-custom-dropdown .hs-main-font-element {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: normal;
}
.spz-custom-dropdown .hbspt-form.hs-form {
  width: 100%;
}
.spz-custom-dropdown .hbspt-form .hs-submit > .actions {
  text-align: center;
}
.spz-custom-dropdown .hbspt-form .hs-button,
.spz-custom-dropdown .hbspt-form .hs-button:hover,
.spz-custom-dropdown .hbspt-form .hs-button:hover:not(.inactive),
.spz-custom-dropdown .hbspt-form .hs-button:focus,
.spz-custom-dropdown .hbspt-form .hs-button:active,
.spz-custom-dropdown .hbspt-form .hs-button:active:not(.inactive):not(.link) {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-family: Inter;
}
.spz-custom-dropdown .hbspt-form legend.hs-field-desc {
  font-family: Inter;
  color: #7c98b6;
  font-size: 11px;
}
.spz-custom-dropdown .hbspt-form .hs-form-field label:not(.hs-error-msg) {
  font-family: Inter;
  font-size: 12px;
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field {
  position: relative;
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field .input {
  position: absolute;
  display: none;
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field .input .inputs-list.multi-container li.hs-form-checkbox {
  text-align: left;
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field .custom-input-btn {
  width: 100%;
  height: 56px;
  background: var(--primary-warm-ivary-bg, #fefdf8);
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(6, 24, 95, 0.8);
  border-width: 1px;
  padding: 14px 40px 18px 20px;
  text-align: left;
  outline: none;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field .custom-input-btn {
    padding: 14px 40px 18px 14px;
  }
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field .custom-input-btn::before {
  content: url(//res.cloudinary.com/spiralyze/image/upload/v1689089281/jackhenry/2001/dropdown.svg);
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px 19px;
  pointer-events: none;
  background: inherit;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field .custom-input-btn::before {
    padding: 10px 16px 7px;
  }
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field .custom-input-btn > .value-container {
  pointer-events: none;
  position: absolute;
  width: 95%;
  overflow: hidden;
  top: 14px;
}
@media (max-width: 767.98px) {
  .spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field .custom-input-btn > .value-container {
    top: 10px;
  }
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field .custom-input-btn > .value-container > span {
  overflow: hidden;
  color: var(--primary-legacy-navy-base, #06185f);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  padding-right: 2px;
  position: relative;
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field .custom-input-btn > .value-container > span::after {
  content: ";";
  position: relative;
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field .custom-input-btn.single-value > .value-container > span:first-child::after {
  display: none;
}
@media (max-width: 767.98px) {
  .spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field .custom-input-btn {
    height: 50px;
  }
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field.field-focus .input {
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(232, 247, 247, 0.3)), to(rgba(232, 247, 247, 0.3))), -webkit-gradient(linear, right top, left top, from(#fefdf8), to(#fefdf8));
  background: linear-gradient(to left, rgba(232, 247, 247, 0.3), rgba(232, 247, 247, 0.3)), linear-gradient(to left, #fefdf8, #fefdf8);
  border-radius: 0px 0px 5px 5px;
  border-style: solid;
  border-color: var(--primary-vibrant-cobalt-base-blue, #085ce5);
  border-width: 1px;
  padding: 14px 20px 18px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-height: 190px;
  overflow: auto;
  z-index: 2;
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field.field-focus .input::-webkit-scrollbar {
  width: 6px;
  background: lightgray;
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field.field-focus .input::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #b0b8ca;
  border-radius: 6px;
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field.field-focus .input::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px #06185f;
  background: #06185f;
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field.field-focus .custom-input-btn {
  border-radius: 5px 5px 0px 0px !important;
  border: 1px solid var(--primary-vibrant-cobalt-base-blue, #085ce5);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(232, 247, 247, 0.3)), to(rgba(232, 247, 247, 0.3))), #fefdf8;
  background: linear-gradient(0deg, rgba(232, 247, 247, 0.3) 0%, rgba(232, 247, 247, 0.3) 100%), #fefdf8;
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field.field-focus .custom-input-btn::before {
  content: url(//res.cloudinary.com/spiralyze/image/upload/v1689089281/jackhenry/2001/dropdown.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (min-width: 767.98px) {
  .spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field.field-focus .custom-input-btn::before {
    padding: 11px 19px;
  }
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field.field-error .custom-input-btn {
  border-radius: 5px;
  border: 1px solid var(--supporting-error, #e02020);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(249, 195, 195, 0.1)), to(rgba(249, 195, 195, 0.1))), #fefdf8;
  background: linear-gradient(0deg, rgba(249, 195, 195, 0.1) 0%, rgba(249, 195, 195, 0.1) 100%), #fefdf8;
}
.spz-custom-dropdown .hs-fieldtype-checkbox.field.hs-form-field.field-error .custom-input-btn::before {
  content: url(//res.cloudinary.com/spiralyze/image/upload/v1689675252/Jack%20Henry/2001/assets/Dropdown_red.svg);
}
.spz-custom-dropdown .hbspt-form .hs-form-field label:not(.hs-error-msg) {
  color: #ffffff;
}
.spz-custom-dropdown .hbspt-form .legal-consent-container .hs-richtext,
.spz-custom-dropdown .hbspt-form .legal-consent-container label:not(.hs-error-msg) {
  font-family: Inter;
  color: #33475b;
  font-size: 14px;
}
.spz-custom-dropdown .hbspt-form .hs-main-font-element,
.spz-custom-dropdown .submitted-message.hs-main-font-element {
  font-family: Inter;
}
.spz-custom-dropdown .hbspt-form.submitted-message {
  font-size: 16px;
  color: #ffffff;
}
.spz-custom-dropdown .hbspt-form a:link,
.spz-custom-dropdown .hbspt-form a:active {
  color: #0000ee;
}
.spz-custom-dropdown .hbspt-form a:visited,
.spz-custom-dropdown .hbspt-form a:hover {
  color: #551a8b;
}
.spz-custom-dropdown .fn-date-picker.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  *zoom: 1;
}
.spz-custom-dropdown .fn-date-picker.pika-single.is-hidden {
  display: none;
}
.spz-custom-dropdown .fn-date-picker.pika-single.is-bound {
  position: absolute;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}
.spz-custom-dropdown .fn-date-picker.pika-single:after,
.spz-custom-dropdown .fn-date-picker.pika-single:before {
  content: " ";
  display: table;
}
.spz-custom-dropdown .fn-date-picker.pika-single:after {
  clear: both;
}
.spz-custom-dropdown .fn-date-picker .pika-lendar {
  float: left;
  width: 240px;
  margin: 8px;
}
.spz-custom-dropdown .fn-date-picker .pika-title {
  position: relative;
  text-align: center;
}
.spz-custom-dropdown .fn-date-picker .pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
}
.spz-custom-dropdown .fn-date-picker .pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: #fff;
}
.spz-custom-dropdown .fn-date-picker .pika-next,
.spz-custom-dropdown .fn-date-picker .pika-prev {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: 0.5;
  *position: absolute;
  *top: 0;
}
.spz-custom-dropdown .fn-date-picker .pika-next:hover,
.spz-custom-dropdown .fn-date-picker .pika-prev:hover {
  opacity: 1;
}
.spz-custom-dropdown .fn-date-picker .pika-next.is-disabled,
.spz-custom-dropdown .fn-date-picker .pika-prev.is-disabled {
  cursor: default;
  opacity: 0.2;
}
.spz-custom-dropdown .fn-date-picker .is-rtl .pika-next,
.spz-custom-dropdown .fn-date-picker .pika-prev {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
  *left: 0;
}
.spz-custom-dropdown .fn-date-picker .is-rtl .pika-prev,
.spz-custom-dropdown .fn-date-picker .pika-next {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
  *right: 0;
}
.spz-custom-dropdown .fn-date-picker .pika-select {
  display: inline-block;
  *display: inline;
}
.spz-custom-dropdown .fn-date-picker .pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
.spz-custom-dropdown .fn-date-picker .pika-table td,
.spz-custom-dropdown .fn-date-picker .pika-table th {
  width: 14.2857142857%;
  padding: 0;
}
.spz-custom-dropdown .fn-date-picker .pika-table th {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
}
.spz-custom-dropdown .fn-date-picker .pika-table abbr {
  border-bottom: none;
  cursor: help;
}
.spz-custom-dropdown .fn-date-picker .pika-button {
  cursor: pointer;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background: #f5f5f5;
}
.spz-custom-dropdown .fn-date-picker .pika-button:hover {
  color: #fff !important;
  background: #ff8000 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 3px !important;
}
.spz-custom-dropdown .fn-date-picker .is-today .pika-button {
  color: #3af;
  font-weight: 700;
}
.spz-custom-dropdown .fn-date-picker .is-selected .pika-button {
  color: #fff;
  font-weight: 700;
  background: #3af;
  -webkit-box-shadow: inset 0 1px 3px #178fe5;
          box-shadow: inset 0 1px 3px #178fe5;
  border-radius: 3px;
}
.spz-custom-dropdown .fn-date-picker .is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: 0.3;
}
.spz-custom-dropdown .fn-date-picker .pika-week {
  font-size: 11px;
  color: #999;
}
.spz-custom-dropdown .hbspt-form .inputs-list.inline-list li {
  vertical-align: top;
  display: inline-block;
  word-wrap: break-word;
  padding-right: 16px;
}
.spz-custom-dropdown .hbspt-form .inputs-list.inline-list li:after {
  clear: both;
}
.spz-custom-dropdown .hbspt-form .inputs-list.inline-list li input {
  float: left;
}
.spz-custom-dropdown .hbspt-form .inputs-list.inline-list.inline-list-2 li {
  width: 50%;
}
.spz-custom-dropdown .hbspt-form .inputs-list.inline-list.inline-list-2 li:nth-child(2n) {
  padding-right: 0;
}
.spz-custom-dropdown .hbspt-form .inputs-list.inline-list.inline-list-3 li {
  width: 33%;
}
.spz-custom-dropdown .hbspt-form .inputs-list.inline-list.inline-list-3 li:nth-child(3n) {
  width: 34%;
  padding-right: 0;
}
.spz-custom-dropdown .hs-fieldtype-intl-phone.hs-input {
  padding: 0;
  background: none;
  border: none;
  height: auto;
}
.spz-custom-dropdown .hs-fieldtype-intl-phone.hs-input:after {
  clear: both;
  content: " ";
  display: table;
}
.spz-custom-dropdown .hs-fieldtype-intl-phone.hs-input .hs-input {
  margin-bottom: 0;
}
.spz-custom-dropdown .hs-fieldtype-intl-phone.hs-input input {
  width: 68% !important;
  float: right;
}
.spz-custom-dropdown .hs-fieldtype-intl-phone.hs-input select {
  float: left;
  width: 30% !important;
}
@media (max-device-width: 480px) and (min-device-width: 320px), (max-width: 400px) {
  .spz-custom-dropdown .hbspt-form > .hs-phone > .input > .hs-fieldtype-intl-phone.hs-input > input.hs-input {
    width: 68% !important;
  }
  .spz-custom-dropdown .hbspt-form > .hs-phone > .input > .hs-fieldtype-intl-phone.hs-input > select.hs-input {
    width: 30% !important;
  }
}
.spz-custom-dropdown .hs-fieldtype-textarea.hs-input {
  resize: vertical;
}
.spz-custom-dropdown .hbspt-form .hs-button {
  white-space: pre-wrap;
}
.spz-custom-dropdown .hbspt-form .hs-richtext {
  word-break: break-word;
}
.spz-custom-dropdown .hbspt-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  max-width: 500px;
}
.spz-custom-dropdown .hbspt-form fieldset.form-columns-1 .hs-input {
  width: 95%;
}
.spz-custom-dropdown .hbspt-form fieldset.form-columns-1 .input {
  margin-right: 8px;
}
.spz-custom-dropdown .hbspt-form fieldset.form-columns-1 input[type=checkbox],
.spz-custom-dropdown .hbspt-form fieldset.form-columns-1 input[type=radio] {
  width: auto;
}
.spz-custom-dropdown .hbspt-form fieldset.form-columns-2 .hs-form-field {
  float: left;
}
.spz-custom-dropdown .hbspt-form fieldset.form-columns-2 .input {
  margin-right: 8px;
}
.spz-custom-dropdown .hbspt-form fieldset.form-columns-3 .hs-form-field {
  width: 32.7%;
  float: left;
}
.spz-custom-dropdown .hbspt-form fieldset.form-columns-3 .input {
  margin-right: 8px;
}
.spz-custom-dropdown .hbspt-form label.hs-hidden {
  visibility: hidden;
}
.spz-custom-dropdown .hbspt-form .hs-field-desc {
  width: 100%;
}
.spz-custom-dropdown .hs-custom-style .hs-input,
.spz-custom-dropdown .hs-custom-style fieldset {
  max-width: 100%;
}
.spz-custom-dropdown .hs-custom-style > div.form-columns-3 .hs-form-field,
.spz-custom-dropdown .hs-custom-style fieldset.form-columns-3 .hs-form-field {
  width: 33.3%;
}
.spz-custom-dropdown .hs-custom-style > div > div:last-of-type .hs-input:not([type=checkbox]):not([type=radio]),
.spz-custom-dropdown .hs-custom-style fieldset > div:last-of-type .hs-input:not([type=checkbox]):not([type=radio]) {
  width: 100%;
  max-width: 100%;
}
.spz-custom-dropdown .hs-custom-style > div input:not([type=image]):not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]):not([type=file]),
.spz-custom-dropdown .hs-custom-style fieldset input:not([type=image]):not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]):not([type=file]) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
  min-height: 40px;
}
.spz-custom-dropdown .hs-custom-style > div textarea,
.spz-custom-dropdown .hs-custom-style fieldset textarea {
  padding: 10px 15px;
}
.spz-custom-dropdown .hs-custom-style .hs-dependent-field > div .hs-input:not([type=checkbox]):not([type=radio]) {
  width: 100%;
}
@media (max-width: 400px), (min-device-width: 320px) and (max-device-width: 480px) {
  .spz-custom-dropdown .hs-custom-style .hs-input:not([type=checkbox]):not([type=radio]),
  .spz-custom-dropdown .hs-custom-style fieldset {
    margin-right: 0 !important;
    width: 100% !important;
  }
  .spz-custom-dropdown form.hbspt-form:not(.hs-video-form) .form-columns-2 .hs-form-field,
  .spz-custom-dropdown form.hbspt-form:not(.hs-video-form) .form-columns-3 .hs-form-field {
    float: none;
    width: 100%;
  }
  .spz-custom-dropdown form.hbspt-form:not(.hs-video-form) .form-columns-2 .hs-form-field .hs-input,
  .spz-custom-dropdown form.hbspt-form:not(.hs-video-form) .form-columns-3 .hs-form-field .hs-input {
    width: 95%;
  }
  .spz-custom-dropdown form.hbspt-form:not(.hs-video-form) .form-columns-2 .hs-form-field input[type=checkbox],
  .spz-custom-dropdown form.hbspt-form:not(.hs-video-form) .form-columns-2 .hs-form-field input[type=radio],
  .spz-custom-dropdown form.hbspt-form:not(.hs-video-form) .form-columns-3 .hs-form-field input[type=checkbox],
  .spz-custom-dropdown form.hbspt-form:not(.hs-video-form) .form-columns-3 .hs-form-field input[type=radio] {
    width: auto;
  }
}
.spz-custom-dropdown .legal-consent-container .field.hs-form-field {
  margin-bottom: 8px;
}
.spz-custom-dropdown .legal-consent-container .hs-field-desc.checkbox-desc {
  margin: -12px 0 0 21px;
}
.spz-custom-dropdown .legal-consent-container .hs-form-booleancheckbox-display input {
  float: left;
}
.spz-custom-dropdown .legal-consent-container .hs-form-booleancheckbox-display > span {
  display: block;
  margin-left: 20px;
}
.spz-custom-dropdown .legal-consent-container .hs-form-booleancheckbox-display p {
  margin: 0;
  display: inline;
}
.spz-custom-dropdown .legal-consent-container .hs-error-msgs label {
  color: #f2545b;
}
.spz-custom-dropdown .legal-consent-container ~ .hs_recaptcha {
  margin-top: 18px;
}
.spz-custom-dropdown .cookie-reset-container {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: right;
}
.spz-custom-dropdown #hs-outer-captcha-target,
.spz-custom-dropdown #hs-outer-captcha-target * {
  display: none;
  height: 0;
  width: 0;
}
.spz-custom-dropdown .hubspot-link__container {
  font-size: 14px;
  padding-bottom: 40px;
  position: relative;
  color: #9fa0a2;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.spz-custom-dropdown .hubspot-link-text {
  color: #00a4bd;
  font-weight: 400;
}
.spz-custom-dropdown .hubspot-link__container.sproket {
  color: #9fa0a2;
}
.spz-custom-dropdown .hubspot-link {
  color: #9fa0a2;
}
.spz-custom-dropdown .hubspot-link,
.spz-custom-dropdown .hubspot-link:hover {
  text-decoration: none;
}
.spz-custom-dropdown .hubspot-link:hover .hubspot-link-text {
  text-decoration: underline;
}
.spz-custom-dropdown .hubspot-link__icon {
  margin-bottom: -1px;
  margin-right: 5px;
}
.spz-custom-dropdown .hubspot-link__container.sproket .hubspot-link__icon {
  width: 30px;
  margin-right: 0;
  float: left;
  margin-top: -9px;
  margin-left: -5px;
}