.spz_t1064 .top-header-phone .main-logo img{
  width: auto;
}
/* search css */
.spz_t1064 .search_form{
  margin-left: 0;
}
.spz_t1064 .search_form,
.spz_t1064 .search_form input{
  max-width: 338px;
}
.spz_t1064 .search_form input{
  border-radius: 8px;
  padding: 10px 12px 10px 16px;
}
body.spz_t1064.window_scrolled .top-header-phone{
  height: 64px !important;
}
body.spz_t1064.window_scrolled .title-area{
  padding: 5px 0 5px 0 !important;
}
@media (max-width: 1150px){
  .spz_t1064 .search_form {
      margin-left: -75px;
  }
  .spz_t1059 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item:nth-last-child(-n+2){
    padding: 0;
  }
}
@media (max-width: 991.98px){
  .spz_t1064 .search_form {
      display: none;
  }
}
@media (min-width:991px) {
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary{
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .spz_t1064 .top-header-phone .spzFieldWrapper{
    display: none;
  }

}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary.error{
  padding-bottom: 15px !important;
}
.spz_t1064 .top-header-phone .header-top-cta{
  line-height: 24px;
  font-weight: 400;
  top: 50%;
  right: 13px;
}
.spz_t1064 .top-header-phone .header-top-cta a{
  line-height: 24px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -0.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.spz_t1064 .top-header-phone .header-top-cta{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.spz_t1064 .top-header-phone a.tracking-number-ctm:before{
    background-image: url(https://res.cloudinary.com/spiralyze/image/upload/v1700232091/surefirelocal/1064/phone.webp);
    margin: 0 6px;
}
.spz_t1064 .top-header-phone a.mega-menu-link{
  color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid #777E85;
    position: absolute !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px !important;
    padding: 14px 14px 13px 15px !important;
    right: 256px;
    background: transparent !important;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item:nth-last-child(-n+2){
  margin-left: auto;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.spz_t1064 .spzFieldWrapper .dummy-CTA,
.spz_t1064 .top-header-phone .spzFieldWrapper a.mega-menu-link{
  font-family: 'Montserrat';
  border-radius: 0px 8px 8px 0px;
  background: #4364F7;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 12px 10px 20px;
  text-transform: uppercase;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          max-width: 209px;
          width: 100%;
          text-wrap: nowrap;
}
.spz_t1064 .spzFieldWrapper .dummy-CTA::after{
  display: block;
  content: '';
  margin-left: 6px;
  background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/surefirelocal/1064/iconamooncheck-bold.webp) no-repeat;
  background-size: 100% ;
  width: 20px;
  height: 20px;
}
.spz_t1064 .spzFieldWrapper .dummy-CTA:hover,
.spz_t1064 .spzFieldWrapper .dummy-CTA:active{
  background: #0052D4 !important;
}
.spz_t1064 .top-header-phone a.mega-menu-link:hover,
.spz_t1064 .top-header-phone a.mega-menu-link:active,
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-login-btn a.mega-menu-link:hover,
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-login-btn a.mega-menu-link:active{
  background: #4364F7 !important;
    color: #fff !important;
    border: none !important;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mobile-btn-menu.mega-request-btn a.mega-menu-link{
  display: none;
}
.spz_t1064 .top-header-phone a.mega-menu-link:hover:before,
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-login-btn a.mega-menu-link:hover:before{
  background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/surefirelocal/1064/avatar_hov.webp) !important;
  background-size: 100% 100% !important;
}
.spz_t1064 .top-header-phone a.mega-menu-link::before{
    content: " " !important;
    background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/surefirelocal/1064/charmperson.webp) no-repeat;
    background-size: 100% 100%;
    width: 20px !important;
    height: 20px;
    padding: 0;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-login-btn{
    display: none;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mobile-btn-menu.mega-request-btn .spzFieldWrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  margin-left: auto;
  position: relative;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email,
.spz_t1064 .top-header-phone .spzFieldWrapper #Email{
  width: 240px;
  background: transparent;
  border-radius: 8px 0px 0px 8px;
  border-top: 1px solid #4364F7;
  border-bottom: 1px solid #4364F7;
  border-left: 1px solid #4364F7;
  outline: none;
  padding: 16px;
  color: #242424;
  height: 44px;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary .spzFieldWrapper.active.typing,
.spz_t1064 .top-header-phone .spzFieldWrapper.active.typing{
  -webkit-box-shadow: 0px 0px 0px 3px rgba(67, 100, 247, 0.20);
          box-shadow: 0px 0px 0px 3px rgba(67, 100, 247, 0.20);
  border-radius: 8px;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary .spzFieldWrapper.error #Email,
.spz_t1064 .top-header-phone .spzFieldWrapper.error #Email{
  border-color: #E65F5F;
}
.spz_t1064 .error-msg{
  display: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #E65F5F;
  position: absolute;
  bottom: -18px;
}
.spz_t1064 .request-demo-cta{
  max-width: 192px;
  width: 100%;
  padding: 19px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  border-radius: 0;
  height: 56px;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email::-webkit-input-placeholder,
.spz_t1064 .top-header-phone .spzFieldWrapper #Email::-webkit-input-placeholder {
  color: #333;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email:-ms-input-placeholder,
.spz_t1064 .top-header-phone .spzFieldWrapper #Email:-ms-input-placeholder {
  color: #333;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email::-moz-placeholder,
.spz_t1064 .top-header-phone .spzFieldWrapper #Email::-moz-placeholder {
  color: #333;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email::-ms-input-placeholder,
.spz_t1064 .top-header-phone .spzFieldWrapper #Email::-ms-input-placeholder {
  color: #333;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email::-webkit-input-placeholder, .spz_t1064 .top-header-phone .spzFieldWrapper #Email::-webkit-input-placeholder {
  color: #333;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email::-moz-placeholder, .spz_t1064 .top-header-phone .spzFieldWrapper #Email::-moz-placeholder {
  color: #333;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email:-ms-input-placeholder, .spz_t1064 .top-header-phone .spzFieldWrapper #Email:-ms-input-placeholder {
  color: #333;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email::-ms-input-placeholder, .spz_t1064 .top-header-phone .spzFieldWrapper #Email::-ms-input-placeholder {
  color: #333;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email::placeholder,
.spz_t1064 .top-header-phone .spzFieldWrapper #Email::placeholder {
  color: #333;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email:-webkit-autofill,
.spz_t1064 .top-header-phone .spzFieldWrapper #Email:-webkit-autofill {
  background-color: transparent;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email:-webkit-autofill, .spz_t1064 .top-header-phone .spzFieldWrapper #Email:-webkit-autofill {
  background-color: transparent;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email:autofill,
.spz_t1064 .top-header-phone .spzFieldWrapper #Email:autofill {
  background-color: transparent;
}
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email:-webkit-autofill,
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email:-webkit-autofill:hover, 
.spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email:-webkit-autofill:focus,
.spz_t1064 .top-header-phone .spzFieldWrapper #Email:-webkit-autofill,
.spz_t1064 .top-header-phone .spzFieldWrapper #Email:-webkit-autofill:hover, 
.spz_t1064 .top-header-phone .spzFieldWrapper #Email:-webkit-autofill:focus {
-webkit-box-shadow: 0 0 0 50px #f5f5f5 inset;
}
@media (max-width:1210.98px){
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email,
  .spz_t1064 .top-header-phone .spzFieldWrapper #Email{
    max-width: 240px;
    width: 100%;
    font-size: 13px;
  }
  .spz_t1064 .spzFieldWrapper .dummy-CTA{
    font-size: 13px;
    white-space: nowrap;
    text-wrap: nowrap;
  }
}
@media (max-width:1030px) {
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mobile-btn-menu.mega-request-btn a::after {
    display: block !important;
  }
}
@media (max-width:1023.98px){
  .spz_t1064 .spzFieldWrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .spz_t1064 .request-demo-cta{
    margin: 0;
  }
  .spz_t1064 .error-msg{
    left: 0;
  }
}
@media (max-width:990.98px){
  .spz_t1064 .top-header-phone a.mega-menu-link,
  .spz_t1064 .top-header-phone .header-top-cta{
    display: none;
  }  
  .spz_t1064 .top-header-phone .spzFieldWrapper a.mega-menu-link{
    position: static !important;
    color: #fff;
    padding: 16px 12px 16px 20px !important;
  }
  .spz_t1064 .top-header-phone .spzFieldWrapper{
    max-width: 449px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: 13px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .spz_t1064 .top-header-phone .spzFieldWrapper #Email{
    background: transparent;
    font-size: 16px;
  }
  .spz_t1064 .spzFieldWrapper .dummy-CTA{
    font-size: 16px;
  }
  .spz_t1064 .top-header-phone .spzFieldWrapper a.mega-menu-link::before{
    display: none;
  }
  .spz_t1064 .top-header-phone .spzFieldWrapper a.mega-menu-link::after{
    content: '' !important;
    width: 20px;
    height: 20px;
    background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/surefirelocal/1064/iconamooncheck-bold.webp) no-repeat;
    background-size: 100%;
    margin-left: 6px;
  }
  .spz_t1064 .top-header-phone.error ~ header{
    min-height: 80px !important;
  }
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-login-btn{
    display: block;
  }
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-login-btn:last-child{
    display: none;
  }
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mobile-btn-menu.mega-request-btn .spzFieldWrapper a.login-link,
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-login-btn a.mega-menu-link{
    width: 100%;
    color: #333 !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 24px;
    border-radius: 8px !important;
    border: 1px solid #777E85 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 48px !important;
    padding: 16px !important;
    background: transparent !important;
    margin-top: 18px !important;
  }
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mobile-btn-menu.mega-request-btn .spzFieldWrapper a.login-link::before,
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-login-btn a.mega-menu-link::before{
    content: " " !important;
    background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/surefirelocal/1064/charmperson.webp) no-repeat;
    background-size: 100% 100%;
    width: 20px !important;
    height: 20px;
    padding: 0;
    margin-right: 6px;
  }
  .spz_t1064 .top-header-phone {
    max-width: 94%;
  }
  .spz_t1064 .title-area{
    padding: 10px 0;
    max-width: 152px;
    width: 100%;
  }
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mobile-btn-menu.mega-request-btn.desktop-container .spzFieldWrapper{
    display: none;
  }
  .spz_t1059 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item{
    display: list-item;
  }
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
    background: #ffffff !important;
  }
}
@media (max-width:767.98px){
  .spz_t1064 .top-header-phone{
    max-width: 80%;
  }
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link ~ .mega-sub-menu:last-child{
    margin-bottom: 20px;
  }
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mobile-btn-menu.mega-request-btn .spzFieldWrapper{
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .spz_t1064 .spzFieldWrapper{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 0;
    margin-top: 23px;
    margin-right: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
  }
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary #Email{
    font-size: 16px;
      max-width: 100%;
      width: 100%;
      margin-right: 0;
      background: transparent;
      border-radius: 8px;
      border: 1px solid #4364F7;
      height: 48px;
  }
  .spz_t1064 .spzFieldWrapper .dummy-CTA{
    font-size: 16px;
    border-radius: 8px;
    margin-top: 16px;
    max-width: 100%;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary .spzFieldWrapper.active.typing{
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .spz_t1064 .error-msg{
    position: static;
    margin: 0;
    margin-top: 6px;
    width: 100%;
  }
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item:nth-child(8){
    display: block;
    height: 100% !important;
  }
  .spz_t1064 .top-header-phone .spzFieldWrapper,
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item:nth-child(9),
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mobile-btn-menu.mega-request-btn .spzFieldWrapper a.login-link::after,
  .spz_t1064 #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-login-btn{
    display: none !important;
  }
}