@media (min-width: 767.98px) {
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 767.98px) {
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field:not(.hs-fieldtype-checkbox):not(.hs-fieldtype-textarea):not(.hs-connecting_possibilities_newsletter):not(.hs_fintalk_blog_subscription) {
    margin-bottom: 24px;
    width: 47.335%;
  }
}
body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field.hs-fieldtype-textarea, body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field.hs-fieldtype-checkbox {
  width: 100%;
}
body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-dependent-field {
  width: 100%;
  margin-top: 8px;
}
body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hidden-spz,
body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .sub-hidden-spz {
  display: none;
}
body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs_submit {
  width: 100%;
}
body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .add-comments-div {
  margin: 8px 0 18px 0;
}
@media (max-width: 767.98px) {
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .add-comments-div {
    display: block;
    margin-top: 26px;
  }
}
body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .add-comments-div .addcomment {
  color: #06185f;
  font-size: 15px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
}
@media (min-width: 767.98px) {
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-capability_types.hs-fieldtype-checkbox .input ul.inputs-list.multi-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-capability_types.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox {
    width: 47%;
  }
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-capability_types.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(1) {
    order: 0;
  }
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-capability_types.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(2) {
    order: 2;
  }
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-capability_types.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(3) {
    order: 4;
  }
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-capability_types.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(4) {
    order: 6;
  }
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-capability_types.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(5) {
    order: 8;
  }
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-capability_types.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(6) {
    order: 1;
  }
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-capability_types.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(7) {
    order: 3;
  }
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-capability_types.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(8) {
    order: 5;
  }
  body.spz-2003a .hs_cos_wrapper_type_form form.hs-form-private .hs-capability_types.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(9) {
    order: 7;
  }
}
body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].hs-zip[class], body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].hs-fieldtype-booleancheckbox {
  width: 100%;
}
body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].hs_phone + .hs-zip[class] {
  width: 47.335%;
}
@media (min-width: 767.98px) {
  body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].field.hs-fieldtype-checkbox .input ul.inputs-list.multi-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].field.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox {
    width: 47%;
  }
  body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].field.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(1) {
    order: 0;
  }
  body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].field.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(2) {
    order: 2;
  }
  body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].field.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(3) {
    order: 4;
  }
  body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].field.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(4) {
    order: 6;
  }
  body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].field.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(5) {
    order: 8;
  }
  body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].field.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(6) {
    order: 1;
  }
  body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].field.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(7) {
    order: 3;
  }
  body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].field.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(8) {
    order: 5;
  }
  body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].field.hs-fieldtype-checkbox .input ul.inputs-list.multi-container > li.hs-form-checkbox:nth-child(9) {
    order: 7;
  }
}
body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .hs-form-field[class].field.hs-fieldtype-checkbox .input.single-input ul.inputs-list.multi-container > li.hs-form-checkbox {
  width: 100%;
}
body.spz-2003a.hs-content-path-contact-us-sales .hs_cos_wrapper_type_form form.hs-form-private .add-comments-div {
  margin: 0px 0 18px 0;
}