body.spz-2003 {
  .hs_cos_wrapper_type_form form.hs-form-private {
    @media (min-width: 767.98px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .hs-form-field {
      &:not(.hs-fieldtype-checkbox):not(.hs-fieldtype-textarea):not(
          .hs-connecting_possibilities_newsletter
        ):not(.hs_fintalk_blog_subscription) {
        @media (min-width: 767.98px) {
          margin-bottom: 24px;
          width: 47.335%;
        }
      }
      &.hs-fieldtype-textarea,
      &.hs-fieldtype-checkbox {
        width: 100%;
      }
    }

    .hs-dependent-field {
      width: 100%;
      margin-top: 8px;
    }

    //Hide fields
    .hidden-spz,
    .sub-hidden-spz {
      display: none;
    }

    .hs_submit{
      width: 100%;
    }
    //add comments div
    .add-comments-div {
      @media (max-width: 767.98px) {
        display: block;
        margin-top: 26px;
      }
      margin: 8px 0 18px 0;
      .addcomment {
        color: #06185f;
        font-size: 15px;
        font-weight: 500;
        line-height: 27px;
        text-decoration: none;
      }
    }

    .hs-capability_types.hs-fieldtype-checkbox {
      .input {
        //Split checkboxes in 2 column
        ul.inputs-list.multi-container {
          @media (min-width: 767.98px) {
            // columns: 2;
            // -webkit-columns: 2;
            // -moz-columns: 2;
            // column-gap: 32px;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;

            > li.hs-form-checkbox {
              width: 47%;
              &:nth-child(1) {
                order: 0;
              }
              &:nth-child(2) {
                order: 2;
              }
              &:nth-child(3) {
                order: 4;
              }
              &:nth-child(4) {
                order: 6;
              }
              &:nth-child(5) {
                order: 8;
              }
              &:nth-child(6) {
                order: 1;
              }
              &:nth-child(7) {
                order: 3;
              }
              &:nth-child(8) {
                order: 5;
              }
              &:nth-child(9) {
                order: 7;
              }
            }
          }
        }
      }
    }
  }

  // &.hs-content-path-contact-us-support[class] {
  //   .hs_cos_wrapper_type_form[class] form.hs-form-private[class] {
  //     .hs-form-field[class] {
  //       &.hs-product_name {
  //         width: 100%;
  //       }

  //       &.hs_connecting_possibilities_newsletter {
  //         width: 100%;
  //       }
  //     }
  //   }
  // }

  // &.hs-content-path-contact-us-other[class] {
  //   .hs_cos_wrapper_type_form[class] form.hs-form-private[class] {
  //     .hs-form-field[class] {
  //       &.hs_connecting_possibilities_newsletter {
  //         width: 100%;
  //       }
  //     }
  //   }
  // }

  &.hs-content-path-contact-us-sales {
    .hs_cos_wrapper_type_form form.hs-form-private {
      .hs-form-field[class] {
        &.hs-zip[class],
        &.hs-fieldtype-booleancheckbox {
          width: 100%;
        }

        &.hs_phone + .hs-zip[class] {
          width: 47.335%;
        }
        &.field.hs-fieldtype-checkbox {
          .input {
            //Split checkboxes in 2 column
            ul.inputs-list.multi-container {
              @media (min-width: 767.98px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;

                > li.hs-form-checkbox {
                  width: 47%;
                  &:nth-child(1) {
                    order: 0;
                  }
                  &:nth-child(2) {
                    order: 2;
                  }
                  &:nth-child(3) {
                    order: 4;
                  }
                  &:nth-child(4) {
                    order: 6;
                  }
                  &:nth-child(5) {
                    order: 8;
                  }
                  &:nth-child(6) {
                    order: 1;
                  }
                  &:nth-child(7) {
                    order: 3;
                  }
                  &:nth-child(8) {
                    order: 5;
                  }
                  &:nth-child(9) {
                    order: 7;
                  }
                }
              }
            }
          }
        }
      }
      .add-comments-div {
        margin: 0px 0 18px 0;
      }
    }
  }
}
