$black: #000;
$grey: #555;
$color_3: var(--cta-primary-font-color);
$color_4: var(--primary-blue-color);
$color_5: var(--cta-primary-font-color);
$color_6: var(--cta-secondary-hover-font-color);
$sec_black: #1e1a34;

:root {
  --container-width: 1232px;
  --section-bg-color: #f1efff;
  --cta-primary-font-color: #fff;
  --primary-blue-color: #3620ff;
  --cta-secondary-bg-color: transparent;
  --cta-secondary-hover-font-color: #1300c1;
}
.spz-bg-wrap {
  padding: 80px 32px;
  position: relative;
  max-width: 1440px;
  margin: auto;

  &::before {
    content: "";
    width: 580px;
    height: 580px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 580px;
    filter: blur(150px);
    display: block;
    position: absolute;
    right: 95px;
    bottom: 85px;
  }

  &:has(.ac_card_0.active)::before {
    background: #019875;
    opacity: 0.16;
  }

  &:has(.ac_card_1.active)::before {
    opacity: 0.12;
    background: #50f;
  }

  &:has(.ac_card_2.active)::before {
    opacity: 0.12;
    background: #ff8000;
  }

  &:has(.ac_card_3.active)::before {
    opacity: 0.12;
    background: #05f;
  }

  @media (max-width: 991.98px) {
    padding: 80px 60px;
  }

  @media (max-width: 767.98px) {
    padding: 32px 20px;
  }

  .features-heading {
    text-align: center;
    font-family: var(--Font-Family-Headlines, "Founders Grotesk");
    font-size: 64px;
    font-weight: 500;
    line-height: 100%;
    background: linear-gradient(90deg, #000 0%, #002eb2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 790px;
    margin: 0 auto 20px;
    padding-bottom: 4px;
  }
  .features-subheading {
    color: #2d2d30;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    line-height: 120%;
    max-width: 790px;
    margin: 0 auto 64px;
  }

  .spz-ctas-wrap {
    display: flex;
    gap: 0 40px;
    margin-top: 40px;

    .spz-primary {
      width: 176px;
      height: 48px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 500;
      line-height: 140%;
      background: #0042ff;
      color: #fff;

      &:hover {
        background: var(--primary-blue-color);
        color: $color_5;
        border: 2px solid var(--cta-primary-font-color);
      }
    }
    .spz-secondary {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0042ff;
      font-size: 20px;
      font-weight: 500;
      line-height: 140%;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;

      svg {
        width: 24px;
        height: 24px;
        margin-left: 12px;
      }

      &:hover {
        background: var(--primary-blue-color);
        color: $color_6;
        border: 2px solid var(--cta-primary-font-color);
      }
    }
  }
}
.spz-features-accordion__wrapper {
  position: relative;
  max-width: var(--container-width);
  margin: auto;
  overflow: hidden;
  .spz-features-accordion__row {
    position: relative;
    .spz-features-accordion {
      max-width: 508px;

      .spz-features-accordion__item {
        display: block;
        max-height: 76px;
        padding: 19px 32px 18px 0;
        border-top: 1px solid #c6ced2;
        background-color: transparent;
        width: 100%;
        position: relative;
        cursor: pointer;
        span {
          color: #000;
          font-size: 24px;
          font-weight: 500;
          line-height: 100%;
        }
        span.active-title {
          display: none;
        }
        img {
          width: 44px;
          height: 44px;
          margin-bottom: 16px;
          margin-top: 10px;
        }
      }
      .spz-features-accordion__contents {
        > .content.active {
          .spz-features-accordion__item {
            span.active-title {
              display: inline-block;
            }
            max-height: 200px;
            border-top: 1px solid #c6ced2;
            background-color: transparent;
            .progress_bar {
              position: absolute;
              width: 0px;
              height: 1px;
              background: #0042ff;
              top: -1px;
              left: 0;
              z-index: 1;
              transition: 0.2s width linear;
            }
            &:before {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 11.2954L11.2933 4L12.707 4L20 11.2951L18.5862 12.7093L13.9995 8.12132L12.9998 9.12132L12.9998 20L11.0004 20L11.0004 9.12132L10.0007 8.12132L5.41379 12.7096L4 11.2954Z' fill='black'/%3E%3C/svg%3E");
              top: 20px;
              opacity: 1;
            }
          }
          + {
            .content {
              .spz-features-accordion__item {
                border-top: 1px solid #c6ced2;
              }
            }
          }
          background: transparent;
          .solution__content {
            max-height: 500px;
            padding: 0 0 8px 0;
            margin-top: -1px;
          }
          .solution__image {
            display: block;
          }
        }
        > .content {
          &:not(.active) {
            &:first-child {
              .spz-features-accordion__item {
                border: none;
              }
            }
            .spz-features-accordion__item {
              img {
                display: none;
              }
            }
          }

          .spz-features-accordion__item {
            &:before {
              content: "";
              width: 24px;
              height: 24px;
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 12.7046L12.7067 20L11.293 20L4 12.7049L5.41384 11.2907L10.0005 15.8787L11.0002 14.8787L11.0002 4L12.9996 4L12.9996 14.8787L13.9993 15.8787L18.5862 11.2904L20 12.7046Z' fill='black'/%3E%3C/svg%3E");
              background-size: contain;
              position: absolute;
              top: 20px;
              right: 0;
              opacity: 0.5;
            }
          }
          .solution__content {
            max-height: 0px;
            overflow: hidden;
            p {
              color: #2d2d30;
              font-size: 20px;
              font-weight: 300;
              line-height: 140%;
              margin-bottom: 12px;
            }
            .spacer {
              display: block;
              width: 100%;
              height: 24px;
            }
          }
          .solution__image {
            display: none;
            position: absolute;
            right: 0;
            z-index: 1;
            // pointer-events: none !important;
            // transform: translateX(45%);
            max-width: 700px;
            width: calc(100% - 508px);
            top: 2px;

            picture {
              z-index: 1;
              position: relative;
            }

            @media (max-width: 1024.98px){
              width: unset;
              position: unset;
              transform: translateX(0) !important;
              -webkit-filter: none !important;
              filter: none !important;
              margin-bottom: 32px;
              img {
                border-radius: 16px;
              }
            }
          }
        }
      }
    }

    @media (max-width: 1024.98px) {
      .spz-features-accordion__item {
        img {
          margin-top: 5px;
          margin-bottom: 25px;
        }
        span.active-title {
          max-width: 300px;
        }
      }
      .spz-features-accordion {
        max-width: 100%;
      }
      .spz-features-accordion__contents {
        > .content {
          position: relative;
        }
      }
    }
    @media (max-width: 767.98px) {
      .spz-features-accordion__item {
        padding: 18px 45px 18px 0;
        img {
          margin-top: 8px;
          margin-bottom: 18px;
        }
      }
      .spz-features-accordion__contents {
        > .content {
          .spz-features-accordion__item {
            &:before {
              top: 24px;
            }
          }
          .solution__image {
            width: 100%;
          }
          .solution__content {
            p {
              max-width: 100%;
            }
          }
        }
        > .content.active {
          .spz-features-accordion__item {
            &:before {
              top: 24px;
            }
          }
          .solution__content {
            padding: 0 0 32px !important;
          }
        }
      }
    }
  }
}

body.spz-1005 {
  #page {
    #content.site-content {
      #blocks-page.blocks-page {
        > #integrations,
        > section[id*="content-media-block"]:not(.theme-black.prose-white),
        > #testimonials {
          display: none !important;
        }
      }
    }
  }
}
