$eptura-font: "Eptura Flexible", Arial, sans-serif;

body.spz-3002 {
  #HeaderScripts.mktoText {
    @media (min-width: 767.98px) {
      display: none !important;
    }
  }

  .body-wrapper {
    > .d-flex.flex-column {
      > section:not(#testimonials) {
        display: none !important;
      }
    }

    &::before,
    > .transparent-toggle.spacer.spacer-bottom {
      display: none;
    }

    //Hiding half of the footer here
    > footer {
      .page_padding {
        @media (min-width: 767.98px) and (max-width: 1199.98px) {
          padding: 0 40px;
          max-width: 768px;
        }
        @media (max-width: 767.98px) {
          max-width: 360px;
          padding: 0 31px;
        }
        .top.pt-5,
        .divider.py-3 {
          display: none !important;
        }

        .bottom.pb-5 {
          padding-top: 40px;
          padding-bottom: 40px !important;
          @media (max-width: 767.98px) {
            padding-top: 38px !important;
          }

          .d-md-flex.justify-content-md-between {
            @media (min-width: 767.98px) and (max-width: 1199.98px) {
              align-items: end;
            }
            .desktopHide {
              @media (max-width: 767.98px) {
                font-family: $eptura-font;
                font-size: 12px;
                line-height: 18px;
                padding-top: 14px !important;
              }
            }
          }
          .left {
            @media (min-width: 767.98px) and (max-width: 1199.98px) {
              flex-direction: column;
              width: 548px;
            }
            #FooterLogo {
              @media (min-width: 767.98px) and (max-width: 1199.98px) {
                margin-bottom: 20px;
              }
              img {
                min-width: 85.12px;
                height: 64px;
                @media (min-width: 767.98px) and (max-width: 1199.98px) {
                  min-width: 53.2px;
                  height: 40px;
                }
                @media (max-width: 767.98px) {
                  min-width: 74.48px;
                  height: 56px;
                }
              }
            }

            .links {
              max-width: 756px;
              padding-left: 64px !important;
              @media (max-width: 1199.98px) {
                padding-left: 0px !important;
              }

              #FooterBottom {
                li a {
                  font-family: $eptura-font;
                  // color: #d6d7f5;
                  text-transform: capitalize;
                  line-height: 20px;

                  // &:hover {
                  //   color: #ffffff;
                  // }
                  @media (max-width: 767.98px) {
                    font-size: 12px;
                    line-height: 18px;
                  }
                }
              }
            }
          }

          .right {
            @media (max-width: 767.98px) {
              gap: 0;
              padding-top: 11px !important;
            }

            a {
              img {
                width: auto;
                height: 20px;
                @media (min-width: 767.98px) and (max-width: 1199.98px) {
                  width: 16px;
                  height: 16px;
                }
              }
              &:first-child {
                order: 0;
              }
              &:nth-child(2) {
                order: 2;
                padding-left: 20px;
                @media (min-width: 767.98px) and (max-width: 1199.98px) {
                  padding-left: 16px;
                }
              }
              &:last-child {
                order: 1;
                padding-left: 21px;
                @media (min-width: 767.98px) and (max-width: 1199.98px) {
                  padding-left: 17px;
                }
              }
            }
          }
        }
      }
    }

    #nav {
      &.sticky-top {
        position: relative !important;
        &.nav-scrolled {
          background: transparent !important;
          filter: none;
        }
      }
      nav {
        margin-top: 16px;
        @media (max-width: 1199.98px) {
          margin-top: 0;
          // padding: 0 40px;
        }
        @media (max-width: 767.98px) {
          padding: 0 36px;
        }

        #NavLogo {
          .logo-img {
            max-width: 104px;
            @media (min-width: 767.98px) and (max-width: 1199.98px) {
              height: 48px;
              max-width: initial;
            }
            @media (max-width: 767.98px) {
              max-width: 81px;
            }
          }
          #logo-img {
            display: none !important;
          }
        }
      }
    }

    //Hero Css starts here
    #hero {
      .hero_container {
        padding-top: 40px !important;
        padding-bottom: 94px !important;
        overflow: hidden;
        @media (min-width: 767.98px) and (max-width: 1199.98px) {
          padding: 24px 100px 48px !important;
        }
        @media (max-width: 767.98px) {
          padding: 24px 0 0px !important;
        }
        > .row {
          // align-items: center;
          flex-flow: row-reverse;
          @media (max-width: 1199.98px) {
            flex-direction: column;
          }

          > .col-md.pb-5 {
            @media (min-width: 1199.98px) {
              padding-bottom: 0 !important;
              max-width: 685px;
            }
            @media (min-width: 767.98px) and (max-width: 1199.98px) {
              padding: 0 0 31px !important;
              display: flex;
              max-width: 768px;
              margin: auto;
              align-items: center;
            }
            @media (max-width: 767.98px) {
              padding: 0 51px 43px !important;
            }
          }

          #HeroText {
            @media (min-width: 767.98px) and (max-width: 1199.98px) {
              min-width: 332px;
              max-width: 332px;
              margin-right: 63px;
              padding-left: 15px;

              > h6 {
                font-size: 14px;
                line-height: 18px;
                font-family: $eptura-font;
                margin-bottom: 12px;
                letter-spacing: 1.1px;
              }

              > h1 {
                font-size: 36px;
                line-height: 44px;
                letter-spacing: 0;
                margin-bottom: 12px;
              }

              > h1.pt-4 {
                display: none;
              }

              > p {
                font-size: 14px;
                font-style: normal;
                line-height: 20px;
                margin-bottom: 0;
                padding-top: 0 !important;
              }
            }

            img {
              max-width: 508px;
              height: auto;
              margin-top: 5px;

              @media (min-width: 767.98px) and (max-width: 1199.98px) {
                display: none;
              }
              @media (max-width: 767.98px) {
                margin-top: 3px;
              }
            }
          }

          //Image for Tablet only
          .hero-img-tab {
            display: none;
            @media (min-width: 767.98px) and (max-width: 1199.98px) {
              display: flex;
              width: 481.825px;
              padding: 0px 0.303px 0px 0.455px;
              justify-content: center;
              align-items: center;
              img {
                width: 481.825px;
                height: auto;
              }
            }
          }

          #HeroFormCol {
            @media (min-width: 1199.98px) {
              padding-bottom: 0px !important;
            }
            @media (min-width: 767.98px) and (max-width: 1199.98px) {
              padding-top: 5px;
              padding-bottom: 8px !important;
              margin-right: 6px;
            }
            @media (max-width: 767.98px) {
              padding: 0 !important;
              margin-top: -3px;
            }

            #HeroFormPanel {
              max-width: 580px;
              padding: 52px 46px 50px 46px;
              border-radius: 8px;
              background: var(--primary-neutrals-w, #fff);
              box-shadow: 0px 24px 48px 0px rgba(13, 18, 46, 0.12);

              @media (min-width: 767.98px) {
                margin-right: auto;
                min-width: 426px;
              }
              @media (min-width: 767.98px) and (max-width: 1199.98px) {
                margin: auto;
                // min-width: 580px;
                max-width: 718px;
              }
              @media (max-width: 767.98px) {
                width: 360px;
                max-width: 360px;
                padding: 32px 20px 32px 20px;
                margin: auto;
                border-radius: 20px 20px 0 0;
              }

              #HeroFormTitleText {
                display: block !important;
                h6 {
                  color: var(--primary-neutrals-n-1, #0d122e);
                  // font-family: $eptura-font;
                  text-align: center;
                  font-size: 26px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 34px; /* 130.769% */
                  // white-space: nowrap;
                  letter-spacing: initial;
                  margin: 0 -6px 24px 0;
                  span {
                    color: var(--accents-a-5, #904ab0);
                  }

                  @media (max-width: 767.98px) {
                    white-space: normal;
                    max-width: 258px;
                    margin: auto;
                    margin-bottom: 20px;
                    padding-left: 6px;
                  }
                }
              }

              #HeroForm {
                //Form Css starts here
                form.mktoForm {
                  .mktoFormRow {
                    .mktoFormCol {
                      min-height: auto;
                      margin: 0 !important;
                      padding: 0 10px !important;

                      .mktoFieldWrap {
                        position: relative;
                        float: none !important;
                        .mktoLabel {
                          position: absolute;
                          overflow: hidden;
                          color: var(
                            --primary-neutrals-n-2,
                            rgba(13, 18, 46, 0.8)
                          ) !important;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          font-family: $eptura-font;
                          font-size: 16px !important;
                          font-style: normal;
                          font-weight: 300 !important;
                          line-height: 24px; /* 150% */
                          top: 11px;
                          left: 16px;
                          padding: 0 !important;
                          transition: all 0.3s ease-in-out;
                          pointer-events: none;
                          max-width: calc(100% - 58px);
                          background: #fff;
                          right: 0;
                        }

                        .mktoField:not([type="checkbox"]) {
                          border-radius: 4px;
                          border: 1px solid
                            var(--interactive-colors-a-4, #d6d7f5) !important;
                          width: 280px;
                          padding: 11px 16px 10px 16px !important;
                          color: var(
                            --primary-neutrals-n-1,
                            #0d122e
                          ) !important;
                          text-overflow: ellipsis;
                          font-family: $eptura-font !important;
                          font-size: 16px !important;
                          font-style: normal;
                          font-weight: 300 !important;
                          line-height: 24px !important; /* 150% */
                          margin-bottom: 20px !important;

                          &:not(#Lead_Notes__c) {
                            overflow: hidden;
                            height: 48px !important;
                            white-space: nowrap;
                            @media (min-width: 767.98px) {
                              // max-width: calc(100% - 10px);
                              max-width: 100%;
                            }
                          }

                          &#I_am__c,
                          &#Country,
                          &#Solution_Type__c {
                            outline: transparent;
                            appearance: none !important;
                            background-image: url("https://res.cloudinary.com/spiralyze/image/upload/v1691142439/eptura/3001/custom/chevron-down.svg") !important;
                            background-repeat: no-repeat !important;
                            background-position: right 14px center !important;
                            background-size: 24px !important;
                            padding-right: 32px !important;
                          }

                          &#Lead_Notes__c ~ .mktoError {
                            margin-top: 0 !important;
                            .mktoErrorArrowWrap {
                              top: -27px;
                            }
                            .mktoErrorMsg {
                              margin-top: -20px;
                            }
                          }

                          &:-webkit-autofill {
                            -webkit-box-shadow: 0 0 0 30px white inset !important;
                          }
                          &:autofill {
                            -webkit-box-shadow: 0 0 0 30px white inset !important;
                          }
                        }

                        .mktoHtmlText.mktoHasWidth {
                          margin: 0 !important;
                          span {
                            color: #848995;
                            font-size: 10px !important;
                            // font-family: $eptura-font;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 16px; /* 160% */

                            a {
                              // font-family: $eptura-font;
                              padding: 0;
                              color: #1b4bc5;
                              // font-weight: 500;
                              &:hover {
                                color: #0d122e;
                              }
                            }
                          }
                        }

                        .mktoCheckboxList {
                          margin-top: 3px;
                          cursor: pointer;
                          display: inline-block;
                          position: relative;
                          padding-left: 25px;
                          .mktoField {
                            border: 1px solid #d6d7f5;
                            height: 16px !important;
                            width: 16px !important;
                            cursor: pointer;
                            @media (max-width: 767.98px) {
                              margin-top: 7px;
                            }
                          }

                          label {
                            font-family: $eptura-font !important;
                            color: var(--primary-neutrals-n-1, #0d122e);
                            font-size: 12px !important;
                            font-style: normal !important;
                            font-weight: 300 !important;
                            line-height: 18px !important; /* 142.857% */
                            margin-left: 19px;
                            letter-spacing: -0.1px;
                            cursor: pointer;
                            &:before {
                              content: "";
                              width: 16px;
                              height: 16px;
                              position: absolute;
                              left: 0;
                              background: url("https://res.cloudinary.com/spiralyze/image/upload/v1691420998/eptura/3001/custom/form-checkmark.svg")
                                left center no-repeat;
                              margin-top: 2px;
                            }

                            &:hover {
                              &::before {
                                background: url("https://res.cloudinary.com/spiralyze/image/upload/v1691420998/eptura/3001/custom/form-checkmark-hover.svg")
                                  left center no-repeat;
                              }
                            }
                          }
                          input[type="checkbox"] {
                            display: none !important;

                            &:checked + label:before {
                              background: url("https://res.cloudinary.com/spiralyze/image/upload/v1691420998/eptura/3001/custom/form-checkmark-checked.svg")
                                left center no-repeat;
                            }
                          }
                        }

                        .mktoError {
                          margin-top: 48px !important;

                          .mktoErrorMsg {
                            color: #f3f3f3;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px; /* 123.077% */
                          }
                        }

                        //custom error for checkbox field
                        &.spz-cstm-error {
                          .mktoCheckboxList label {
                            color: #e51b00 !important;

                            &::before {
                              background: url("https://res.cloudinary.com/spiralyze/image/upload/v1692677050/eptura/3002/form-checkmark-errored.svg")
                                left center no-repeat;
                            }
                          }
                        }
                      }

                      &.field-focus {
                        .mktoFieldWrap {
                          .mktoLabel {
                            top: -8px;
                            left: 11px;
                            right: auto;
                            padding: 0 5px !important;
                            font-family: $eptura-font;
                            color: var(--accents-a-5, #904ab0) !important;
                            font-size: 13px !important;
                            line-height: 18px !important; /* 138.462% */
                            background: #fff;
                          }
                        }
                        .mktoField:not([type="checkbox"]) {
                          border-color: #904ab0 !important;
                        }
                      }

                      &.input-filled {
                        .mktoFieldWrap {
                          .mktoLabel {
                            top: -8px;
                            left: 11px;
                            right: auto;

                            font-family: $eptura-font;
                            padding: 0 5px !important;
                            font-size: 13px !important;
                            line-height: 18px !important; /* 138.462% */
                            background: #fff;
                          }
                        }
                      }

                      &.field-error {
                        &.field-focus {
                          .mktoFieldWrap {
                            .mktoLabel {
                              color: var(--accents-a-5, #f83a59) !important;
                            }
                          }
                        }

                        .mktoField:not([type="checkbox"]) {
                          border-color: #f83a59 !important;
                        }
                      }
                    }

                    &[data-zi-field-enriched="true"] {
                      display: inline !important;
                    }

                    .spz-anchor:not(.spz-hidden) {
                      display: flex;
                      width: 100%;

                      + .mktoFieldDescriptor.mktoFormCol {
                        display: none !important;
                      }

                      .show-comment-dynamic {
                        overflow: hidden;
                        color: var(
                          --primary-neutrals-n-2,
                          rgba(13, 18, 46, 0.8)
                        );
                        font-family: $eptura-font;
                        text-overflow: ellipsis;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 24px;
                        margin-bottom: 18px;
                        display: inline-block;
                        margin-top: 2px;
                        transition: all 0.3s ease;
                        margin-left: 10px;
                        span {
                          padding-right: 5px;
                        }
                        @media (max-width: 767.98px) {
                          padding: 0;
                          margin-bottom: 26px;
                        }

                        &:hover {
                          color: #904ab0;
                        }
                      }
                    }
                    .spz-hidden {
                      display: none;
                    }
                  }

                  //submit button css
                  .mktoButtonRow {
                    text-align: center;

                    .mktoButtonWrap {
                      button.mktoButton {
                        display: flex;
                        width: 140px !important;
                        height: 50px !important;
                        padding: 0px 8px !important;
                        justify-content: center;
                        align-items: center;
                        border-radius: 3px !important;
                        background: var(
                          --interactive-colors-a-1,
                          #1b4bc5
                        ) !important;
                        color: var(--primary-neutrals-w, #fff) !important;
                        text-align: center;
                        font-family: $eptura-font !important;
                        font-size: 16px !important;
                        font-style: normal;
                        font-weight: 500 !important;
                        line-height: 24px !important; /* 150% */
                        margin-top: 22px !important;
                        white-space: nowrap;

                        &:hover,
                        &:focus {
                          background: var(
                            --interactive-colors-a-3,
                            #456ed6
                          ) !important;
                        }
                        &:focus {
                          transform: translate(0, 1px);
                        }

                        @media (max-width: 767.98px) {
                          height: 56px !important;
                          padding: 0px 32px;
                          width: 300px !important;
                          max-width: 300px !important;
                        }
                      }
                    }
                  }

                  //email line form
                  .spz-email {
                    .mktoFieldWrap {
                      margin-top: 18px;
                      @media (max-width: 767.98px) {
                        margin-top: 24px;
                      }

                      .mktoHtmlText.mktoHasWidth {
                        text-align: center;
                        @media (max-width: 767.98px) {
                          line-height: 0;
                        }
                        em {
                          color: var(--primary-neutrals-n-1, #0d122e);
                          font-size: 14px;
                          font-style: normal;
                          font-weight: 300;
                          line-height: 20px; /* 142.857% */
                          @media (max-width: 767.98px) {
                            padding: 0;
                          }

                          .mobile-only {
                            @media (min-width: 767.98px) {
                              display: none;
                            }
                          }

                          a {
                            color: var(--interactive-colors-a-1, #1b4bc5);
                            font-weight: 500;
                            padding: 0;
                            font-family: $eptura-font;
                            padding-left: 2px;

                            &:hover {
                              color: #0d122e;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    //Tabbed feature section
    .spz-feature-section {
      background: #fff;
      padding: 80px 0 100px 0;
      @media (max-width: 1199.98px) {
        padding: 64px 0;
      }

      .features-tabbed {
        @media (max-width: 1199.98px) {
          padding: 0;
          max-width: 768px;
          margin: auto;
        }

        .features-title {
          color: var(--primary-neutrals-n-1, #0d122e);
          text-align: center;
          font-size: 46px;
          font-style: normal;
          font-weight: 300;
          line-height: 54px;
          margin-bottom: 64px;
          @media (max-width: 1199.98px) {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 48px;
          }

          @media (max-width: 767.98px) {
            margin-bottom: 24px;
          }
        }

        .features-section {
          position: relative;
          @media (max-width: 1199.98px) {
            &::after {
              content: "";
              position: absolute;
              right: 0px;
              top: 0;
              background: linear-gradient(
                270deg,
                #fff 0%,
                rgba(255, 255, 255, 0) 100%
              );
              width: 68px;
              height: 38px;
              z-index: 1;
              @media (max-width: 767.98px) {
                width: 30px;
              }
            }
            &::before {
              content: "";
              position: absolute;
              left: 0px;
              top: 0;
              background: linear-gradient(
                90deg,
                #fff 0%,
                rgba(255, 255, 255, 0) 100%
              );
              width: 68px;
              height: 38px;
              z-index: 1;
              @media (max-width: 767.98px) {
                width: 30px;
              }
            }
          }

          .nav.nav-tabs {
            border: 0;
            flex-wrap: nowrap;
            justify-content: center;
            overflow-y: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
              display: none;
            }

            @media (max-width: 1199.98px) {
              justify-content: flex-start;
              padding-left: 100px;
              padding-right: 100px;
            }
            @media (max-width: 767.98px) {
              padding-left: 30px;
              padding-right: 30px;
            }

            li.nav-item {
              margin: 0 12px;

              @media (max-width: 1199.98px) {
                margin: 0 4px;

                &:first-child {
                  margin-left: 0;
                }
              }

              button.nav-link {
                color: var(--primary-neutrals-n-1, #0d122e);
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 14px;
                // font-family: $eptura-font;
                letter-spacing: 2.6px;
                text-transform: uppercase;
                padding: 12px 16px;
                margin: 0;
                border: 0;
                border-radius: 4px;
                white-space: nowrap;

                &.active {
                  color: var(--accents-a-5, #904ab0);
                  background: rgba(214, 215, 245, 0.3);
                }

                &:hover {
                  color: var(--accents-a-5, #904ab0);
                }
              }
            }
          }

          .tab-content {
            margin-top: 56px;
            @media (max-width: 1199.98px) {
              padding: 0 100px;
              margin-top: 31px;
            }
            @media (max-width: 767.98px) {
              padding: 0 30px;
              margin-top: 32px;
            }

            .tab-pane {
              .feature-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media (max-width: 1199.98px) {
                  flex-direction: column;
                }

                .img-wrapper {
                  max-width: 556px;

                  img {
                    max-width: 100%;
                    margin-right: 22px;
                  }
                }

                .content-wrapper {
                  margin-left: 64px;
                  @media (max-width: 1199.98px) {
                    margin-left: 0;
                    margin-top: 32px;
                  }

                  .copy {
                    .heading {
                      .independent-title {
                        color: var(--primary-neutrals-n-1, #0d122e);
                        // font-family: $eptura-font;
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 44px;
                        margin-bottom: 8px;

                        @media (max-width: 1199.98px) {
                          font-size: 26px;
                          text-align: center;
                          line-height: 34px;
                          margin-bottom: 0;
                        }

                        hyph {
                          white-space: nowrap;
                        }
                        > span {
                          display: initial;
                          @media (min-width: 767.98px) {
                            display: none;
                          }
                        }
                      }
                      .indent-title {
                        padding-left: 72px;
                        @media (max-width: 1199.98px) {
                          padding-left: 0;
                        }
                        @media (max-width: 767.98px) {
                          display: none;
                        }
                        > div {
                          color: var(--primary-neutrals-n-1, #0d122e);
                          // font-family: $eptura-font;
                          font-size: 36px;
                          font-style: normal;
                          font-weight: 300;
                          line-height: 44px;
                          @media (max-width: 1199.98px) {
                            font-size: 26px;
                            text-align: center;
                            line-height: 34px;
                          }
                        }
                      }
                    }

                    .bullets {
                      margin: 32px 0;
                      padding: 0px 40px 0px 112px;
                      @media (max-width: 1199.98px) {
                        padding: 0 0 0 40px;
                        margin: 24px 0;
                      }
                      @media (max-width: 767.98px) {
                        padding-left: 36px;
                      }

                      .bullet {
                        color: #0d122e;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 26px;
                        position: relative;
                        margin-bottom: 16px;

                        span {
                          font-family: $eptura-font;
                          font-weight: 500;
                        }

                        @media (max-width: 1199.98px) {
                          font-size: 18px;
                          line-height: 26px;
                        }

                        @media (max-width: 767.98px) {
                          font-size: 16px;
                          line-height: 24px;
                          margin-bottom: 12px;
                        }

                        &::before {
                          content: url(//res.cloudinary.com/spiralyze/image/upload/v1694686497/eptura/3010/checkmark-icon.svg);
                          position: absolute;
                          left: -40px;
                          top: 0;
                          width: 24px;
                          height: 24px;
                          display: block;
                          @media (max-width: 767.98px) {
                            left: -36px;
                          }
                        }
                      }
                    }

                    .button-wrapper {
                      .button {
                        padding-left: 72px;

                        .get-started-cta {
                          height: 50px;
                          padding: 0px 32px;
                          border-radius: 3px;
                          background: var(--interactive-colors-a-1, #1b4bc5);
                          width: 150px;
                          color: var(--primary-neutrals-w, #fff);
                          text-align: center;
                          font-size: 16px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 24px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          font-family: $eptura-font;
                          transition: all 0.1s ease-in-out !important;

                          @media (max-width: 1199.98px) {
                            margin: 32px auto 0;
                          }

                          @media (max-width: 767.98px) {
                            width: 100%;
                          }
                          &:hover {
                            background: #456ed6;
                          }
                          &:focus {
                            background: #456ed6;
                            transform: translate(0, 1px);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  //Page specific CSS
}
