body.spz-5005 .exit-modal-sec-spz {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(13, 26, 68, 0.3);
  backdrop-filter: blur(6px);
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  transition-duration: 400ms;
}
@media (min-height: 450px) {
  body.spz-5005 .exit-modal-sec-spz {
    align-items: center;
  }
}
body.spz-5005 .exit-modal-sec-spz .ems-content {
  border-radius: 16px;
  background: linear-gradient(76deg, #c0effa 80.01%, rgba(165, 224, 239, 0.3) 102.97%);
  max-width: 1007px;
  max-height: 396px;
  width: 100%;
  margin: 32px 0;
  position: relative;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-close-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  background: url(//res.cloudinary.com/spiralyze/image/upload/v1710486682/netskope/5005/close_3.svg) no-repeat center;
  background-size: cover;
  cursor: pointer;
  z-index: 1;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-close-btn:hover, body.spz-5005 .exit-modal-sec-spz .ems-content .ems-close-btn:focus {
  opacity: 0.8;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner {
  padding: 64px 0px 64px 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner .ems-left-copy {
  max-width: 428px;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner .ems-left-copy h6 {
  color: #081a59;
  font-family: Graphik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner .ems-left-copy .ems-points {
  list-style: none;
  padding-left: 0;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner .ems-left-copy .ems-points li {
  color: #081a59;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  position: relative;
  display: flex;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner .ems-left-copy .ems-points li::before {
  content: "";
  background: url(//res.cloudinary.com/spiralyze/image/upload/v1710486697/netskope/5005/check_wrapper_3.svg) no-repeat;
  background-size: cover;
  position: relative;
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 8px;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner .ems-left-copy .ems-points li:last-child {
  margin-right: 0;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner .ems-left-copy .ems-cta {
  margin-top: 32px;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner .ems-left-copy .ems-cta .get-a-demo {
  border-radius: var(--radius-absolute, 200px);
  background: var(--buttons-is-main-default, #ff8200);
  display: flex;
  padding: 12px 18px 12px 24px;
  justify-content: center;
  align-items: center;
  color: var(--buttons-on-main-default, #081a59);
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  width: 227px;
  white-space: nowrap;
  height: 48px;
  -webkit-appearance: none;
  transition: all 0.1s ease-in-out;
  outline: none;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner .ems-left-copy .ems-cta .get-a-demo svg {
  margin-left: 4px;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner .ems-left-copy .ems-cta .get-a-demo:hover {
  border: 1px solid var(--blue-700, #081a59);
  background: var(--buttons-is-secondary-hover, #fff);
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner .ems-right-img {
  max-width: calc(100% - 428px);
  width: 100%;
  position: relative;
}
body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner .ems-right-img img {
  position: absolute;
  max-width: 578px;
  top: -98px;
  left: -9px;
}
@media (max-width: 1100px) {
  body.spz-5005 .exit-modal-sec-spz .ems-content .ems-content-inner .ems-right-img img {
    max-width: 556px;
    top: -90px;
  }
}
@media (min-width: 1023.98px) {
  body.spz-5005.active {
    overflow: hidden;
  }
  body.spz-5005.active .exit-modal-sec-spz {
    display: flex;
    animation: slideIn 0.5s;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(0, -100vh);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@media (min-width: 1023.98px) {
  html.active {
    overflow: hidden;
  }
}