body header.stuck nav.sub-nav .sub-nav__links ul.flex-ai-c li.sub-nav__title {
  display: none !important;
}
body header.stuck nav.sub-nav .sub-nav__utility {
  display: none !important;
}
body header.mobile nav.sub-nav a.button.button--primary {
  display: none !important;
}
body .off-canvas-content .pageContent .spz-step-section .spz-container {
  width: 100%;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}
body .off-canvas-content .pageContent .pageBlock.bgGrayLight {
  background: #3b454a;
}
body .off-canvas-content .pageContent .pageBlock.bgGrayLight .grid-x.grid-padding-x .medium-4.large-3 {
  display: none !important;
}
body .off-canvas-content .pageContent .pageBlock.bgGrayLight .grid-x.grid-padding-x .medium-offset-1.medium-6.large-7 {
  width: 100%;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}
body .off-canvas-content .pageContent .pageBlock.bgGrayLight .grid-x.grid-padding-x .medium-offset-1.medium-6.large-7 > *:not(.accordion) {
  display: none !important;
}
body .off-canvas-content .pageContent .pageBlock.bgGrayLight .grid-x.grid-padding-x .medium-offset-1.medium-6.large-7 > .accordion {
  background: #3b454a;
}
body .off-canvas-content .pageContent .pageBlock.bgGrayLight .grid-x.grid-padding-x .medium-offset-1.medium-6.large-7 > .accordion > h2 {
  color: #fff;
  text-align: center;
  font-family: Mulish, Mulish-local, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
}
body .off-canvas-content .pageContent .pageBlock.bgGrayLight .grid-x.grid-padding-x .medium-offset-1.medium-6.large-7 > .accordion ul.accordion {
  background: #3b454a;
}
body .off-canvas-content .pageContent .pageBlock.bgGrayLight .grid-x.grid-padding-x .medium-offset-1.medium-6.large-7 > .accordion ul.accordion li.accordion-item {
  background: #3b454a;
}
body .off-canvas-content .pageContent .pageBlock.bgGrayLight .grid-x.grid-padding-x .medium-offset-1.medium-6.large-7 > .accordion ul.accordion li.accordion-item:last-child {
  border-bottom: 1px solid #82939c;
}
body .off-canvas-content .pageContent .pageBlock.bgGrayLight .grid-x.grid-padding-x .medium-offset-1.medium-6.large-7 > .accordion ul.accordion li.accordion-item a.accordion-title {
  background: #3b454a;
  border: 0;
  border-top: 1px solid #82939c;
  padding: 24px 32px;
  color: #fff;
  font-family: Roboto, Roboto-local, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
}
body .off-canvas-content .pageContent .pageBlock.bgGrayLight .grid-x.grid-padding-x .medium-offset-1.medium-6.large-7 > .accordion ul.accordion li.accordion-item a.accordion-title::before {
  display: none;
}
body .off-canvas-content .pageContent .pageBlock.bgGrayLight .grid-x.grid-padding-x .medium-offset-1.medium-6.large-7 > .accordion ul.accordion li.accordion-item .accordion-content {
  background: #3b454a;
  border: 0;
  padding: 16px 32px 24px;
}
body .off-canvas-content .pageContent .pageBlock.bgGrayLight .grid-x.grid-padding-x .medium-offset-1.medium-6.large-7 > .accordion ul.accordion li.accordion-item .accordion-content p {
  color: #fff;
  font-family: Roboto, Roboto-local, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
body .off-canvas-content .pageContent .quoteBlock {
  display: none !important;
}