body {
  @media (min-width: 1199.98px) {
    .site-cta {
      margin-right: 27px;
      margin-left: 12px;
    }

    #mega-menu-wrap-primary #mega-menu-primary {
      width: auto !important;

      > li.mega-menu-item > a.mega-menu-link {
        white-space: nowrap;
      }
    }
  }
}
