.comparison-section {
  .comparison-container {
    max-width: 1080px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 74px 100px;

    .comparison-section__title {
      color: #000;
      text-align: center;
      font-family: Manrope, sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: -0.36px;
      margin-bottom: 50px;
    }

    .comparison-wrapper {
      position: relative;
      overflow: hidden;
      display: flex;
    }
    .comparison-section__hero {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      flex: 0 0 40%;
    }
    .comparison-section__hero-g {
      width: 100%;
      max-width: 308px;
    }
    .comparison-section__hero-vs {
      color: #000;
      font-family: Manrope, sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -0.28px;
      margin-right: 41px;
      margin-left: 41px;
      width: 39px;
    }
    .comparison-section__grid {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      flex-grow: 1;
    }
    @media (max-width: 767.98px) {
      .comparison-section__grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr; /* Mobile layout */
      }
    }
    .comparison-section__grid-item {
      display: flex;
      width: 140px;
      height: 120px;
      padding: 30px;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      border: 0.663px solid #B7B7B7;
      background: #FFF;
      text-decoration: none;
      transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
      flex: calc(33.33% - 14px); /* Adjust for 3 items per row */
    }
    .comparison-section__grid-item:hover {
      -webkit-transform: scale(1.02);
      transform: scale(1.02);
    }
    .comparison-section__grid-item-logo {
      max-width: 50px;
      height: auto;
      margin-bottom: 5px;
    }
    .comparison-section__grid-item-logo-aws {
      max-width: 70px; /* Adjust AWS logo width if needed */
      height: auto;
      margin-bottom: 5px;
    }
    .comparison-section__grid-item span {
      font-size: 14px;
    }
    .comparison-section__grid-item--aws {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; /* Adjust AWS layout */
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .comparison-section__grid-item--aws span {
      margin-left: 5px;
    }
  }
}
