body.spz-1007 #et-main-area #hero-section {
  background: var(--neutrals-pure-white, #fff) !important;
  background-image: none !important;
  position: relative;
}
@media (min-width: 767.98px) and (max-width: 980.98px) {
  body.spz-1007 #et-main-area #hero-section {
    padding-top: 16px;
    padding-bottom: 0;
  }
}
body.spz-1007 #et-main-area #hero-section::before {
  content: "";
  position: absolute;
  left: 52.517px;
  top: 36.453px;
  width: 38px;
  height: 38px;
  background: rgba(208, 226, 229, 0.53);
  border-radius: 50%;
}
@media (min-width: 1900px) {
  body.spz-1007 #et-main-area #hero-section::before {
    left: 254.517px;
    top: 32.453px;
  }
}
@media (min-width: 767.98px) and (max-width: 980.98px) {
  body.spz-1007 #et-main-area #hero-section::before {
    left: 42.517px;
    top: 32.453px;
    width: 24px;
    height: 24px;
  }
}
body.spz-1007 #et-main-area #hero-section::after {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  left: 98.989px;
  bottom: 45.799px;
  background: rgba(208, 226, 229, 0.53);
  border-radius: 50%;
}
@media (min-width: 1900px) {
  body.spz-1007 #et-main-area #hero-section::after {
    left: 346.989px;
  }
}
@media (min-width: 1900px) {
  body.spz-1007 #et-main-area #hero-section .et_pb_row {
    padding: 36px 0 40px;
  }
}
@media (min-width: 767.98px) and (max-width: 980.98px) {
  body.spz-1007 #et-main-area #hero-section .et_pb_row {
    width: 91.67%;
    padding-bottom: 27px;
  }
}
body.spz-1007 #et-main-area #hero-section .et_pb_row .hero-container .hero-content {
  max-width: 582px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 18px;
}
@media (min-width: 767.98px) and (max-width: 980.98px) {
  body.spz-1007 #et-main-area #hero-section .et_pb_row .hero-container .hero-content {
    max-width: 348px;
  }
}
body.spz-1007 #et-main-area #hero-section .et_pb_row .hero-container .hero-content .pre-header.small {
  color: #5f6ca9;
  font-family: "Aleo", Georgia, "Times New Roman", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 10px;
  letter-spacing: -0.2px;
}
body.spz-1007 #et-main-area #hero-section .et_pb_row .hero-container .hero-content .hero-title {
  color: var(--neutrals-n-3, #5f5f5f);
  font-family: "Aleo", Georgia, "Times New Roman", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 24px;
  letter-spacing: -0.5px;
}
@media (min-width: 980.98px) {
  body.spz-1007 #et-main-area #hero-section .et_pb_row .hero-container .hero-content .hero-title br {
    display: none;
  }
}
body.spz-1007 #et-main-area #hero-section .et_pb_row .hero-container .hero-content .hero-body {
  color: var(--neutrals-n-2, #4c4c4c);
  font-family: "Aleo", Georgia, "Times New Roman", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
  letter-spacing: -0.2px;
}
body.spz-1007 #et-main-area #hero-section .et_pb_row .hero-container .hero-content a.hero-cta {
  margin-top: 0;
  leading-trim: both;
  text-edge: cap;
  text-shadow: 0px 0px 5px #d8391d;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.6px;
  width: 192px;
  height: 56px;
  text-align: center;
  border: 0;
  border-radius: 2px;
  background: var(--gradients-orange, linear-gradient(90deg, #fd7158 0%, #fc5637 100%));
  -webkit-box-shadow: 0px 0px 16px 0px rgba(71, 22, 9, 0.24);
          box-shadow: 0px 0px 16px 0px rgba(71, 22, 9, 0.24);
}
body.spz-1007 #et-main-area #hero-section .et_pb_row .hero-container .spz-hero-img {
  width: 760px;
  height: 409px;
  position: relative;
}
body.spz-1007 #et-main-area #hero-section .et_pb_row .hero-container .spz-hero-img::before {
  content: "";
  background: url(//res.cloudinary.com/spiralyze/image/upload/v1692980017/navigate360/1007/image_1.webp);
  background-repeat: no-repeat;
  background-size: 760px 475px;
  display: block;
  position: absolute;
  width: 760px;
  height: 475px;
  top: -42px;
  left: 24px;
}
@media (min-width: 767.98px) and (max-width: 980.98px) {
  body.spz-1007 #et-main-area #hero-section .et_pb_row .hero-container .spz-hero-img::before {
    top: -6px;
    left: 8px;
  }
}
body.spz-1007 #et-main-area #hero-section .et_pb_row .hero-container .spz-hero-img::after {
  content: "";
  position: absolute;
  left: 47.517px;
  top: -66.547px;
  width: 35px;
  height: 35px;
  background: rgba(208, 226, 229, 0.53);
  border-radius: 50%;
}
@media (min-width: 1900px) {
  body.spz-1007 #et-main-area #hero-section .et_pb_row .hero-container .spz-hero-img::after {
    left: 80.517px;
    top: -40.547px;
  }
}
@media (min-width: 767.98px) and (max-width: 980.98px) {
  body.spz-1007 #et-main-area #hero-section .et_pb_row .hero-container .spz-hero-img::after {
    left: 98.517px;
    top: -4.547px;
    width: 28px;
    height: 28px;
  }
}