<div id="pattern" class="pattern">
    <a href="#menu" class="menu-link"><span class="m-default">Menu <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
        <path d="M-0.0078125 2.35081C-0.0078125 1.56204 0.631862 0.922363 1.42063 0.922363H18.5619C19.3521 0.922363 19.9904 1.56204 19.9904 2.35081C19.9904 3.14091 19.3521 3.77925 18.5619 3.77925H1.42063C0.631862 3.77925 -0.0078125 3.14091 -0.0078125 2.35081ZM-0.0078125 9.49302C-0.0078125 8.70291 0.631862 8.06458 1.42063 8.06458H18.5619C19.3521 8.06458 19.9904 8.70291 19.9904 9.49302C19.9904 10.2831 19.3521 10.9215 18.5619 10.9215H1.42063C0.631862 10.9215 -0.0078125 10.2831 -0.0078125 9.49302ZM18.5619 18.0637H1.42063C0.631862 18.0637 -0.0078125 17.4253 -0.0078125 16.6352C-0.0078125 15.8451 0.631862 15.2068 1.42063 15.2068H18.5619C19.3521 15.2068 19.9904 15.8451 19.9904 16.6352C19.9904 17.4253 19.3521 18.0637 18.5619 18.0637Z" fill="white"/>
        </svg></span>
        <span class="m-active"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
        <g clip-path="url(#clip0_26252_32624)">
            <path d="M11.8323 10.5161L19.6199 2.72822C20.1267 2.22165 20.1267 1.40261 19.6199 0.896038C19.1133 0.389472 18.2943 0.389472 17.7877 0.896038L9.99989 8.68388L2.21228 0.896038C1.70548 0.389472 0.88667 0.389472 0.380103 0.896038C-0.126701 1.40261 -0.126701 2.22165 0.380103 2.72822L8.16771 10.5161L0.380103 18.3039C-0.126701 18.8105 -0.126701 19.6295 0.380103 20.1361C0.632556 20.3888 0.964494 20.5157 1.29619 20.5157C1.62789 20.5157 1.95959 20.3888 2.21228 20.1361L9.99989 12.3482L17.7877 20.1361C18.0404 20.3888 18.3721 20.5157 18.7038 20.5157C19.0355 20.5157 19.3672 20.3888 19.6199 20.1361C20.1267 19.6295 20.1267 18.8105 19.6199 18.3039L11.8323 10.5161Z" fill="white"/>
        </g>
        <defs>
            <clipPath id="clip0_26252_32624">
            <rect width="20" height="20" fill="white" transform="translate(0 0.5)"/>
            </clipPath>
        </defs>
        </svg></span>
    </a>
    <nav id="menu" class="non-mobile menu" role="navigation">
        <ul class="nav-menu level-1">
            {% for item in module.menu_item %}
            <li class="nav-item {% if item.submenu_exist_ %}has-subnav{% endif %}">
                <a {% set nav_href=item.menu_link.url.href %} {% if item.menu_link.url.type is equalto "EMAIL_ADDRESS"
                    %} {% set nav_href="mailto:" + nav_href %} {% endif %} {% if item.menu_link.url.type is
                    equalto "CALL_TO_ACTION" %} href="{{ nav_href }}" {% else %} href="{{ nav_href|escape_url }}" {%
                    endif %} {% if item.menu_link.open_in_new_tab %} target="_blank" {% else %} target="_self" {% endif
                    %} {% if item.menu_link.rel %} rel="{{ item.menu_link.rel|escape_attr }}" {% endif %}>
                    {% inline_text field="nav_item_name" value="{{ item.nav_item_name }}" %}
                </a>
                {% if item.submenu_exist_ %}
                <div class="sub-nav {{ item.nav_item_name|lower|replace(' ', '-') }} level-2">
                    <div class="sub-nav-container">
                        <div class="sub-nav-white">
                            {% for left_group in item.left_side.menu_group %}
                            {% if left_group.submenu_1_heading %}
                            <h3 class="mega-menu-heading">
                                {% inline_text field="submenu_1_heading" value="{{ left_group.submenu_1_heading }}" %}
                            </h3>
                            {% endif %}
                            <ul
                                class="sub-nav-group {% if left_group.style == 'with_icons' %}with-icons{% else %}no-icons{% endif %} {% if not item.right_sub_menu_exist_ %}no-right-menu{% endif %}">
                                {% for sub_item in left_group.submenu_1 %}
                                <li>
                                    <a {% set sub_href=sub_item.link_field.url.href %} {% if
                                        sub_item.link_field.url.type is equalto "EMAIL_ADDRESS" %} {% set
                                        sub_href="mailto:" + sub_href %} {% endif %} {% if sub_item.link_field.url.type
                                        is equalto "CALL_TO_ACTION" %} href="{{ sub_href }}" {% else %}
                                        href="{{ sub_href|escape_url }}" {% endif %} {% if
                                        sub_item.link_field.open_in_new_tab %} target="_blank" {% else %} target="_self"
                                        {% endif %} {% if sub_item.link_field.rel %}
                                        rel="{{ sub_item.link_field.rel|escape_attr }}" {% endif %}>
                                        {% if sub_item.icon.src %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.width|escape_attr }}" height="{{
                                        sub_item.icon.height|escape_attr }}"' %}
                                        {% if sub_item.icon.size_type == 'auto' %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.width|escape_attr }}" height="{{
                                        sub_item.icon.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                                        {% elif sub_item.icon.size_type == 'auto_custom_max' %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.max_width|escape_attr }}" height="{{
                                        sub_item.icon.max_height|escape_attr }}" style="max-width: 100%; height: auto;"'
                                        %}
                                        {% endif %}
                                        {% set loadingAttr = sub_item.icon.loading != 'disabled' ? 'loading="{{
                                        sub_item.icon.loading|escape_attr }}"' : '' %}
                                        <div class="menu-image">
                                            <img alt="{{sub_item.submenu_item_name }}" class="menu-icon" aria-hidden="true"
                                                src="{{ sub_item.icon.src|escape_url }}" {{ loadingAttr }}>
                                        </div>
                                        {% endif %}
                                        <div class="menu-content">
                                            <div class="menu-title {% if sub_item.add_new_tag %}new-tag{% endif %}">
                                                {{sub_item.submenu_item_name }}</div>
                                            {% if left_group.style == 'with_icons' %}
                                            <span>{% inline_text field="mini_description" value="{{
                                                sub_item.mini_description }}" %}</span>
                                            {% else %}
                                            <span>{% inline_text field="mini_description" value="{{
                                                sub_item.mini_description }}" %}</span>
                                            {% endif %}
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        </div>
                        {% if item.right_sub_menu_exist_ %}
                        <div class="sub-nav-grey">
                            {% for right_group in item.right_side.manu_group %}
                            {% if right_group.submenu_1_heading %}
                            <h3 class="mega-menu-heading">
                                {% inline_text field="submenu_1_heading" value="{{ right_group.submenu_1_heading }}" %}
                            </h3>
                            {% endif %}
                            <ul
                                class="sub-nav-group {% if right_group.style == 'with_icons' %}with-icons{% else %}simple-list with-icons{% endif %}">
                                {% for sub_item in right_group.submenu_1 %}
                                <li>
                                    <a {% set sub_href=sub_item.link_field.url.href %} {% if
                                        sub_item.link_field.url.type is equalto "EMAIL_ADDRESS" %} {% set
                                        sub_href="mailto:" + sub_href %} {% endif %} {% if sub_item.link_field.url.type
                                        is equalto "CALL_TO_ACTION" %} href="{{ sub_href }}" {% else %}
                                        href="{{ sub_href|escape_url }}" {% endif %} {% if
                                        sub_item.link_field.open_in_new_tab %} target="_blank" {% else %} target="_self"
                                        {% endif %} {% if sub_item.link_field.rel %}
                                        rel="{{ sub_item.link_field.rel|escape_attr }}" {% endif %}>
                                        {% if sub_item.icon.src %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.width|escape_attr }}" height="{{
                                        sub_item.icon.height|escape_attr }}"' %}
                                        {% if sub_item.icon.size_type == 'auto' %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.width|escape_attr }}" height="{{
                                        sub_item.icon.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                                        {% elif sub_item.icon.size_type == 'auto_custom_max' %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.max_width|escape_attr }}" height="{{
                                        sub_item.icon.max_height|escape_attr }}" style="max-width: 100%; height: auto;"'
                                        %}
                                        {% endif %}
                                        {% set loadingAttr = sub_item.icon.loading != 'disabled' ? 'loading="{{
                                        sub_item.icon.loading|escape_attr }}"' : '' %}
                                        <div class="menu-image">
                                            <img alt="{{sub_item.submenu_item_name }}" class="menu-icon" aria-hidden="true"
                                                src="{{ sub_item.icon.src|escape_url }}" {{ loadingAttr }}>
                                        </div>
                                        {% endif %}
                                        <div class="menu-content">
                                            <div class="menu-title">{{sub_item.submenu_item_name }}</div>

                                            {% if right_group.style != 'with_icons' %}
                                            <span>{% inline_text field="mini_description" value="{{
                                                sub_item.mini_description }}" %}</span>
                                            {% endif %}
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% if right_group.submenu_2 %}
                            {% if right_group.submenu_2_heading %}
                            <h3 class="mega-menu-heading">
                                {% inline_text field="submenu_2_heading" value="{{ right_group.submenu_2_heading }}" %}
                            </h3>
                            {% endif %}
                            <ul class="sub-nav-group with-icons">
                                {% for sub_item in right_group.submenu_2 %}
                                <li>
                                    <a {% set sub_href=sub_item.link_field.url.href %} {% if
                                        sub_item.link_field.url.type is equalto "EMAIL_ADDRESS" %} {% set
                                        sub_href="mailto:" + sub_href %} {% endif %} {% if sub_item.link_field.url.type
                                        is equalto "CALL_TO_ACTION" %} href="{{ sub_href }}" {% else %}
                                        href="{{ sub_href|escape_url }}" {% endif %} {% if
                                        sub_item.link_field.open_in_new_tab %} target="_blank" {% else %} target="_self"
                                        {% endif %} {% if sub_item.link_field.rel %}
                                        rel="{{ sub_item.link_field.rel|escape_attr }}" {% endif %}>
                                        {% if sub_item.icon.src %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.width|escape_attr }}" height="{{
                                        sub_item.icon.height|escape_attr }}"' %}
                                        {% if sub_item.icon.size_type == 'auto' %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.width|escape_attr }}" height="{{
                                        sub_item.icon.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                                        {% elif sub_item.icon.size_type == 'auto_custom_max' %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.max_width|escape_attr }}" height="{{
                                        sub_item.icon.max_height|escape_attr }}" style="max-width: 100%; height: auto;"'
                                        %}
                                        {% endif %}
                                        {% set loadingAttr = sub_item.icon.loading != 'disabled' ? 'loading="{{
                                        sub_item.icon.loading|escape_attr }}"' : '' %}
                                        <img alt="{{sub_item.submenu_item_name }}" class="menu-icon" aria-hidden="true"
                                            src="{{ sub_item.icon.src|escape_url }}" {{ loadingAttr }}>
                                        {% endif %}
                                        <div class="menu-title">{{sub_item.submenu_item_name }}</div>

                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </li>
            {% endfor %}

            <!-- CTAs  -->
            {% if module.cta_1.button_label %}
            <li class="nav-item nav-btn">
                <a class="button dark-btn" href="{{ module.cta_1.link_field.url.href }}" {% if
                    module.cta_1.link_field.open_in_new_tab %}target="_blank" {% else %} target="_self" {% endif %} {%
                    if module.cta_1.link_field.no_follow %}rel="nofollow" {% endif %}>
                    {{ module.cta_1.button_label }}
                </a>
            </li>
            {% endif %}

            {% if module.cta_2.button_label %}
            <li class="nav-item nav-btn">
                <a class="button light-btn" href="{{ module.cta_2.link_field.url.href }}" {% if
                    module.cta_2.link_field.open_in_new_tab %}target="_blank" {% else %} target="_self" {% endif %} {%
                    if module.cta_2.link_field.no_follow %}rel="nofollow" {% endif %}>
                    {{ module.cta_2.button_label }}
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <!-- MOBILE BEGINS -->
    <nav id="menu-mobile" class="menu" role="navigation">
        <ul class="nav-menu level-1">
            {% for item in module.menu_item %}
            <li class="nav-item {% if item.submenu_exist_ %}has-subnav{% endif %}">
                <a {% set nav_href=item.menu_link.url.href %} {% if item.menu_link.url.type is equalto "EMAIL_ADDRESS"
                    %} {% set nav_href="mailto:" + nav_href %} {% endif %} {% if item.menu_link.url.type is
                    equalto "CALL_TO_ACTION" %} href="{{ nav_href }}" {% else %} href="{{ nav_href|escape_url }}" {%
                    endif %} {% if item.menu_link.open_in_new_tab %} target="_blank" {% else %} target="_self" {% endif
                    %} {% if item.menu_link.rel %} rel="{{ item.menu_link.rel|escape_attr }}" {% endif %}>
                    {% inline_text field="nav_item_name" value="{{ item.nav_item_name }}" %}
                </a>
                {% if item.submenu_exist_ %}
                <div class="sub-nav {{ item.nav_item_name|lower|replace(' ', '-') }} level-2">
                    <div class="sub-nav-container">
                        <div class="sub-nav-white">
                            {% for left_group in item.left_side.menu_group %}
                            {% if left_group.submenu_1_heading %}
                            <h3 class="mega-menu-heading">
                                {% inline_text field="submenu_1_heading" value="{{ left_group.submenu_1_heading }}" %}
                            </h3>
                            {% endif %}
                            <ul
                                class="sub-nav-group {% if left_group.style == 'with_icons' %}with-icons{% else %}no-icons{% endif %}">
                                {% for sub_item in left_group.submenu_1 %}
                                <li>
                                    <a {% set sub_href=sub_item.link_field.url.href %} {% if
                                        sub_item.link_field.url.type is equalto "EMAIL_ADDRESS" %} {% set
                                        sub_href="mailto:" + sub_href %} {% endif %} {% if sub_item.link_field.url.type
                                        is equalto "CALL_TO_ACTION" %} href="{{ sub_href }}" {% else %}
                                        href="{{ sub_href|escape_url }}" {% endif %} {% if
                                        sub_item.link_field.open_in_new_tab %} target="_blank" {% else %} target="_self"
                                        {% endif %} {% if sub_item.link_field.rel %}
                                        rel="{{ sub_item.link_field.rel|escape_attr }}" {% endif %}>
                                        {% if sub_item.icon.src %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.width|escape_attr }}" height="{{
                                        sub_item.icon.height|escape_attr }}"' %}
                                        {% if sub_item.icon.size_type == 'auto' %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.width|escape_attr }}" height="{{
                                        sub_item.icon.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                                        {% elif sub_item.icon.size_type == 'auto_custom_max' %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.max_width|escape_attr }}" height="{{
                                        sub_item.icon.max_height|escape_attr }}" style="max-width: 100%; height: auto;"'
                                        %}
                                        {% endif %}
                                        {% set loadingAttr = sub_item.icon.loading != 'disabled' ? 'loading="{{
                                        sub_item.icon.loading|escape_attr }}"' : '' %}
                                        <div class="menu-image">
                                            <img alt="{{sub_item.submenu_item_name }}" class="menu-icon" aria-hidden="true"
                                                src="{{ sub_item.icon.src|escape_url }}" {{ loadingAttr }}>
                                        </div>
                                        {% endif %}
                                        <div class="menu-content">
                                            <div class="menu-title {% if sub_item.add_new_tag %}new-tag{% endif %}">
                                                {{sub_item.submenu_item_name }}</div>
                                            {% if left_group.style == 'with_icons' %}
                                            <span>{% inline_text field="mini_description" value="{{
                                                sub_item.mini_description }}" %}</span>
                                            {% else %}
                                            <span>{% inline_text field="mini_description" value="{{
                                                sub_item.mini_description }}" %}</span>
                                            {% endif %}
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        </div>
                        {% if item.right_sub_menu_exist_ %}
                        <div class="sub-nav-grey">
                            {% for right_group in item.right_side.manu_group %}
                            {% if right_group.submenu_1_heading %}
                            <h3 class="mega-menu-heading">
                                {% inline_text field="submenu_1_heading" value="{{ right_group.submenu_1_heading }}" %}
                            </h3>
                            {% endif %}
                            <ul
                                class="sub-nav-group {% if right_group.style == 'with_icons' %}with-icons{% else %}simple-list with-icons{% endif %}">
                                {% for sub_item in right_group.submenu_1 %}
                                <li>
                                    <a {% set sub_href=sub_item.link_field.url.href %} {% if
                                        sub_item.link_field.url.type is equalto "EMAIL_ADDRESS" %} {% set
                                        sub_href="mailto:" + sub_href %} {% endif %} {% if sub_item.link_field.url.type
                                        is equalto "CALL_TO_ACTION" %} href="{{ sub_href }}" {% else %}
                                        href="{{ sub_href|escape_url }}" {% endif %} {% if
                                        sub_item.link_field.open_in_new_tab %} target="_blank" {% else %} target="_self"
                                        {% endif %} {% if sub_item.link_field.rel %}
                                        rel="{{ sub_item.link_field.rel|escape_attr }}" {% endif %}>
                                        {% if sub_item.icon.src %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.width|escape_attr }}" height="{{
                                        sub_item.icon.height|escape_attr }}"' %}
                                        {% if sub_item.icon.size_type == 'auto' %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.width|escape_attr }}" height="{{
                                        sub_item.icon.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                                        {% elif sub_item.icon.size_type == 'auto_custom_max' %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.max_width|escape_attr }}" height="{{
                                        sub_item.icon.max_height|escape_attr }}" style="max-width: 100%; height: auto;"'
                                        %}
                                        {% endif %}
                                        {% set loadingAttr = sub_item.icon.loading != 'disabled' ? 'loading="{{
                                        sub_item.icon.loading|escape_attr }}"' : '' %}
                                        <div class="menu-image">
                                            <img alt="{{sub_item.submenu_item_name }}" class="menu-icon" aria-hidden="true"
                                                src="{{ sub_item.icon.src|escape_url }}" {{ loadingAttr }}>
                                        </div>
                                        {% endif %}
                                        <div class="menu-content">
                                            <div class="menu-title">{{sub_item.submenu_item_name }}</div>

                                            {% if right_group.style != 'with_icons' %}
                                            <span>{% inline_text field="mini_description" value="{{
                                                sub_item.mini_description }}" %}</span>
                                            {% endif %}
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% if right_group.submenu_2 %}
                            {% if right_group.submenu_2_heading %}
                            <h3 class="mega-menu-heading">
                                {% inline_text field="submenu_2_heading" value="{{ right_group.submenu_2_heading }}" %}
                            </h3>
                            {% endif %}
                            <ul class="sub-nav-group with-icons">
                                {% for sub_item in right_group.submenu_2 %}
                                <li>
                                    <a {% set sub_href=sub_item.link_field.url.href %} {% if
                                        sub_item.link_field.url.type is equalto "EMAIL_ADDRESS" %} {% set
                                        sub_href="mailto:" + sub_href %} {% endif %} {% if sub_item.link_field.url.type
                                        is equalto "CALL_TO_ACTION" %} href="{{ sub_href }}" {% else %}
                                        href="{{ sub_href|escape_url }}" {% endif %} {% if
                                        sub_item.link_field.open_in_new_tab %} target="_blank" {% else %} target="_self"
                                        {% endif %} {% if sub_item.link_field.rel %}
                                        rel="{{ sub_item.link_field.rel|escape_attr }}" {% endif %}>
                                        {% if sub_item.icon.src %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.width|escape_attr }}" height="{{
                                        sub_item.icon.height|escape_attr }}"' %}
                                        {% if sub_item.icon.size_type == 'auto' %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.width|escape_attr }}" height="{{
                                        sub_item.icon.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                                        {% elif sub_item.icon.size_type == 'auto_custom_max' %}
                                        {% set sizeAttrs = 'width="{{ sub_item.icon.max_width|escape_attr }}" height="{{
                                        sub_item.icon.max_height|escape_attr }}" style="max-width: 100%; height: auto;"'
                                        %}
                                        {% endif %}
                                        {% set loadingAttr = sub_item.icon.loading != 'disabled' ? 'loading="{{
                                        sub_item.icon.loading|escape_attr }}"' : '' %}
                                        <img alt="{{sub_item.submenu_item_name }}" class="menu-icon" aria-hidden="true"
                                            src="{{ sub_item.icon.src|escape_url }}" {{ loadingAttr }}>
                                        {% endif %}
                                        <div class="menu-title">{{sub_item.submenu_item_name }}</div>

                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </li>
            {% endfor %}

            <!-- CTAs  -->
            {% if module.cta_1.button_label %}
            <li class="nav-item nav-btn">
                <a class="button dark-btn" href="{{ module.cta_1.link_field.url.href }}" {% if
                    module.cta_1.link_field.open_in_new_tab %}target="_blank" {% else %} target="_self" {% endif %} {%
                    if module.cta_1.link_field.no_follow %}rel="nofollow" {% endif %}>
                    {{ module.cta_1.button_label }}
                </a>
            </li>
            {% endif %}

            {% if module.cta_2.button_label %}
            <li class="nav-item nav-btn">
                <a class="button light-btn" href="{{ module.cta_2.link_field.url.href }}" {% if
                    module.cta_2.link_field.open_in_new_tab %}target="_blank" {% else %} target="_self" {% endif %} {%
                    if module.cta_2.link_field.no_follow %}rel="nofollow" {% endif %}>
                    {{ module.cta_2.button_label }}
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>




<script src="https://www.gravitee.io/hubfs/Spiralyze/1014/megamenu-custom.js"></script>
<!-- initialize a selector as an accessibleMegaMenu -->
<script>
    $("#menu.non-mobile").accessibleMegaMenu({
        /* prefix for generated unique id attributes, which are required 
                   to indicate aria-owns, aria-controls and aria-labelledby */

        /* css class used to define the megamenu styling */
        menuClass: "nav-menu",

        /* css class for a top-level navigation item in the megamenu */
        topNavItemClass: "nav-item",

        /* css class for a megamenu panel */
        panelClass: "sub-nav",

        /* css class for a group of items within a megamenu panel */
        panelGroupClass: "sub-nav-group",

        openOnMouseover: true
    });

    $("#menu-mobile").accessibleMegaMenu({
        /* prefix for generated unique id attributes, which are required 
                   to indicate aria-owns, aria-controls and aria-labelledby */

        /* css class used to define the megamenu styling */
        menuClass: "nav-menu",

        /* css class for a top-level navigation item in the megamenu */
        topNavItemClass: "nav-item",

        /* css class for a megamenu panel */
        panelClass: "sub-nav",

        /* css class for a group of items within a megamenu panel */
        panelGroupClass: "sub-nav-group",

        openOnMouseover: false
    });
</script>