$bree: "BreeBold", Arial, sans-serif;
$segoe: "Segoe UI", Arial, sans-serif;
body.spz-3001 {
  overflow-x: hidden;

  .no-desk {
    @media screen and (min-width: 1024.98px) {
      display: none !important;
    }
  }

  .desk-only {
    @media screen and (max-width: 1024.98px) {
      display: none !important;
    }
  }

  * {
    box-sizing: border-box;
  }

  > div[style] > section[style] {
    display: none !important;
  }

  .hero-section {
    background: linear-gradient(114deg, #0f2e54 -0.34%, #2776d0 100.65%);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/zywave/3001/background_element_desktop.svg)
        no-repeat center top;
      z-index: 0;
      pointer-events: none;

      @media screen and (max-width: 1024.98px) {
        background: url(//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/zywave/3001/line_tablet.svg)
          no-repeat center calc(50% + 74px);
      }

      // @media screen and (min-width: 1900.98px) {
      //   background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/zywave/10001/frame_1171275612.webp)
      //     no-repeat center;
      //   background-size: cover;
      // }
    }

    .header-row {
      max-width: 1180px;
      margin: auto;
      z-index: 1;
      position: relative;
      @media screen and (max-width: 1199.98px) {
        padding: 0 24px;
      }

      .header-col {
        padding: 32px 0;

        @media screen and (max-width: 1024.98px) {
          text-align: center;
          padding: 32px 0 16px;
        }

        @media screen and (max-width: 767.98px) {
          padding: 32px 0 17px;
        }
      }
    }

    .hero-row {
      max-width: 1180px;
      margin: auto;
      z-index: 1;
      @media screen and (max-width: 1199.98px) {
        padding: 0 24px;
      }

      @media screen and (max-width: 767.98px) {
        padding: 0 20px;
      }

      .hero-col {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 48px;

        @media screen and (max-width: 1024.98px) {
          flex-direction: column;
          align-items: center;
          max-width: 648px;
          margin: auto;
          padding: 6px 0 48px;
        }

        @media screen and (max-width: 767.98px) {
          padding: 6px 0 40px;
        }

        .hero-copy {
          max-width: 560px;
          position: relative;

          @media screen and (max-width: 1199.98px) {
            width: 49%;
            margin-right: 24px;
          }

          @media screen and (max-width: 1024.98px) {
            max-width: 100%;
            width: 100%;
            margin: 0;
          }

          .hero-title {
            color: #fff;
            font-feature-settings: "ss03" on, "liga" off;
            font-family: $bree;
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%;
            margin: 24px 0 48px;
            position: relative;

            span {
              color: #5fb53b;
            }

            @media screen and (max-width: 1024.98px) {
              text-align: center;
              margin: 5px 0 49px;
            }

            @media screen and (max-width: 767.98px) {
              font-size: 32px;
              margin: 0 0 29px;
            }
          }

          .hero-list {
            padding: 0;
            list-style: none;
            margin: 32px 0;

            @media screen and (max-width: 767.98px) {
              margin: 27px 0 40.5px;
            }

            li {
              padding-left: 56px;
              color: #fff;
              font-family: $segoe;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              margin-bottom: 23px;
              position: relative;
              list-style: none;

              span {
                font-weight: 700;
              }

              // @media screen and (max-width: 767.98px) {
              //   // margin-bottom: 14px;
              //   padding-left: 47px;
              // }

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 40px;
              }

              &:first-child {
                &::before {
                  background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/zywave/3001/sales.webp)
                    no-repeat;
                  background-size: 100%;
                }
              }

              &:nth-child(2) {
                &::before {
                  background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/zywave/3001/client_portal.webp)
                    no-repeat;
                  background-size: 100%;
                }
              }

              &:nth-child(3) {
                &::before {
                  background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/zywave/3001/content_library.webp)
                    no-repeat;
                  background-size: 100%;
                }
              }
            }
          }
        }

        .hero-form {
          max-width: 500px;
          width: 100%;
          @media screen and (max-width: 1024.98px) {
            margin: 14.5px 0 0 0;
            max-width: 648px;
          }

          @media screen and (max-width: 767.98px) {
            margin: 0 0;
          }

          .spz-form-container {
            div.mktoForm {
              // max-width: 440px;
              border-radius: 32px;
              background: #fff;
              box-shadow: 0px 56px 80px 0px rgba(15, 45, 82, 0.16);
              padding: 43.5px 30px 48px;
              position: relative;

              @media screen and (max-width: 1024.98px) {
                max-width: 100%;
                // width: 588px !important;
                margin: 0;
                padding: 43px 30px 48px;
              }

              @media screen and (max-width: 767.98px) {
                border-radius: 24px;
                margin: 0;
                padding: 43px 30px 48px;
              }

              .form_title {
                color: #0f2d52;
                text-align: center;
                font-family: $bree;
                // font-feature-settings: "salt" on;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%;
                margin: 0 0 36px;
                @media screen and (max-width: 1024.98px) {
                  margin: 0 0 36px;
                }

                @media screen and (max-width: 767.98px) {
                  font-size: 32px;
                }
              }

              form.mktoForm {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100% !important;

                > div:not([class]),
                div.g-recaptcha {
                  display: none;
                }

                .mktoFormRow {
                  &.spz-row {
                    max-width: calc(50% - 8px);
                    width: 100%;

                    @media screen and (max-width: 767.98px) {
                      max-width: 100%;
                    }
                  }

                  &:not(.spz-row) {
                    display: none;
                  }

                  // @media screen and (max-width: 767.98px) {
                  //   display: block;
                  // }

                  .mktoClear {
                    display: none !important;
                  }

                  .mktoFieldDescriptor.mktoFormCol {
                    width: 100%;
                    // max-width: 212px;
                    margin-bottom: 16px !important;
                    position: relative;
                    @media screen and (max-width: 1024.98px) {
                      max-width: 286px;
                    }

                    @media screen and (max-width: 767.98px) {
                      max-width: 100%;
                    }

                    .mktoOffset {
                      display: none !important;
                    }
                    .mktoFieldWrap {
                      display: block;
                      padding: 0;

                      .mktoGutter {
                        display: none !important;
                      }

                      .mktoField {
                        background-color: #fff;
                        border: 1px solid #bfbfbf;
                        border-radius: 8px;
                        padding: 12px 15px !important;
                        height: 50px;
                        width: 100% !important;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: #0f2d52;
                        margin: 0;
                        outline: none;
                        font-family: $segoe;

                        &:-webkit-autofill,
                        &:-webkit-autofill:hover,
                        &:-webkit-autofill:focus,
                        &:-webkit-autofill:active {
                          -webkit-box-shadow: 0 0 0 50px white inset !important;
                          -webkit-text-fill-color: #0f2d52 !important;
                        }
                      }

                      .mktoLabel {
                        position: absolute;
                        top: 12px;
                        left: 16px;
                        font-family: $segoe;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: #a9a9a9;
                        transition: all 0.3s;
                        pointer-events: none;
                        width: fit-content !important;

                        .mktoAsterix {
                          display: none;
                        }
                      }

                      .mktoError {
                        margin-top: 6px;

                        .mktoErrorArrowWrap {
                          display: none;
                        }
                        .mktoErrorMsg {
                          color: #e30004;
                          font-family: $segoe;
                          font-size: 13px;
                          font-style: normal;
                          font-weight: 400;
                          line-height: 20px;
                        }
                      }

                      //when typing class added here to move label up
                      &.typing {
                        .mktoField {
                          border-color: #0f2d52;
                        }

                        .mktoLabel {
                          top: -12px;
                          padding: 1px 6px;
                          font-size: 13px;
                          line-height: 20px;
                          left: 10px;
                          background: #fff;
                          color: #0f2d52;
                        }
                      }

                      &.filled .mktoLabel {
                        top: -12px;
                        padding: 1px 6px;
                        font-size: 13px;
                        line-height: 20px;
                        left: 10px;
                        background: #fff;
                      }

                      &.error {
                        .mktoField {
                          border-color: #e30004;
                        }
                      }

                      &.error.filled,
                      &.error.typing {
                        .mktoLabel {
                          color: #e30004;
                        }
                      }
                    }
                  }

                  &.full-width {
                    max-width: 100%;

                    .mktoFieldDescriptor.mktoFormCol {
                      max-width: 100%;
                    }
                  }
                }

                .mktoButtonRow {
                  display: flex;
                  justify-content: center;
                  margin-top: 16px;
                  width: 100%;

                  // @media screen and (max-width: 767.98px) {
                  //   margin-top: 32px;
                  // }

                  .mktoButton {
                    border-radius: 99px;
                    border: 2px solid #5fb53b;
                    padding: 12px 40px;
                    font-family: $segoe;
                    height: 60px;
                    width: 157px;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 130%;
                    transition: all 0.3s;
                    margin: 0;
                    background: #fff;
                    color: #0f2d52;
                    cursor: pointer;

                    &:hover {
                      background: #5fb53b;
                    }
                  }
                }

                .mktoCaptchaDisclaimer {
                  color: #666;
                  text-align: center;
                  font-family: $segoe;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%;
                  max-width: 274px;
                  margin: 16px auto 17px;

                  @media (max-width: 1024.98px) {
                    max-width: 100%;
                  }

                  a {
                    color: #2777d3;

                    &:hover {
                      text-decoration: underline;
                      text-underline-offset: 3px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .social-proof-title {
        color: #fff;
        text-align: center;
        font-family: $segoe;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-transform: uppercase;
        margin: 32px 0 47px;

        @media (max-width: 1024.98px) {
          margin: 8px 0 47px;
        }
      }

      .brand-logo {
        padding-bottom: 62px;

        @media (max-width: 1024.98px) {
          padding-bottom: 68px;
          max-width: 648px;
          margin: auto;
        }

        @media (max-width: 767.98px) {
          padding-bottom: 44px;
          max-width: 400px;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .accordion-section {
    background: #fff;
    padding: 82px 0 90px;
    overflow: hidden;

    @media screen and (max-width: 1024.98px) {
      padding: 64px 0 65px;
    }

    @media screen and (max-width: 767.98px) {
      padding: 44px 0 48px;
    }

    .accordion-row {
      max-width: 1180px;
      margin: auto;

      @media screen and (max-width: 1199.98px) {
        padding: 0 24px;
      }

      @media screen and (max-width: 767.98px) {
        padding: 0 20px;
      }

      .section-title {
        color: #0f2d52;
        text-align: center;
        font-feature-settings: "salt" on;
        font-family: $bree;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;

        @media screen and (max-width: 767.98px) {
          font-size: 28px;
        }
      }

      .accordion-col {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 56px 0 0;

        @media screen and (max-width: 1024.98px) {
          align-items: center;
          max-width: 648px;
          margin: auto;
        }

        @media screen and (max-width: 767.98px) {
          padding: 36px 0 0;
        }

        #tabs {
          list-style-type: none;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 44px;

          @media screen and (max-width: 1024.98px) {
            margin-bottom: 32px;
          }

          @media screen and (max-width: 767.98px) {
            margin-bottom: 0;
          }

          li {
            margin: 0 5px;
            position: relative;

            a {
              height: 50px;
              padding: 9px 31.5px 10px 25px;
              border-radius: 999px;
              border: 1px solid #cccccc;
              display: flex;
              position: relative;
              overflow: hidden;

              > div {
                white-space: nowrap;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .text {
                z-index: 1;
                color: #b3b3b3;
                letter-spacing: -0.2px;
                font-family: $segoe;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%;
                white-space: nowrap;
                pointer-events: none;
              }

              .hover {
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 0;
                left: 0;
                right: 0;
                // width: 100%;
                height: 100%;
                pointer-events: none;
              }

              @media screen and (max-width: 767.98px) {
                font-size: 14px;
              }

              img {
                margin-right: 10px;
                width: 24px;
                height: 24px;
                z-index: 1;
                pointer-events: none;

                @media screen and (max-width: 767.98px) {
                  display: none !important;
                }
              }

              .i-hover {
                display: none;
              }
            }

            &:hover a,
            &.active a {
              color: #0f2d52;

              .text {
                color: #0f2d52;
              }

              .i-hover {
                display: block;
              }
              .i-default {
                display: none;
              }
            }

            &:nth-child(1):hover a {
              border-color: #f7991d;
            }
            &:nth-child(1).active a {
              border-color: #f7991d;
              .hover {
                background: rgba(247, 153, 29, 0.1);
                animation: fadeIn1 5s linear forwards;
              }
            }

            &:nth-child(2):hover a {
              border-color: #ff5e49;
            }
            &:nth-child(2).active a {
              border-color: #ff5e49;
              .hover {
                background: rgb(255 94 73 / 10%);
                animation: fadeIn2 5s linear forwards;
              }
            }

            &:nth-child(3):hover a {
              border-color: #9763ff;
            }
            &:nth-child(3).active a {
              border-color: #9763ff;
              .hover {
                background: rgba(151, 99, 255, 0.1);
                animation: fadeIn2 5s linear forwards;
              }
            }

            &:nth-child(4):hover a {
              border-color: #0cbcab;
            }
            &:nth-child(4).active a {
              border-color: #0cbcab;
              .hover {
                background: rgba(12, 188, 171, 0.1);
                animation: fadeIn2 5s linear forwards;
              }
            }
          }
        }

        #tab-contents {
          .tab-contents {
            display: none;
            &.active {
              display: block;
            }

            // Solutions Accordion Starts
            .accordion-wrapper {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .left-copy {
                max-width: 367px;
                width: 100%;
                margin-right: 48px;
                flex: 0 0 40%;
                margin-bottom: 9px;

                .title {
                  color: #0f2d52;
                  font-family: $bree;
                  font-size: 32px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 110%;
                  margin: 0 0 21px;
                }

                .description {
                  color: #0f2d52;
                  font-family: $segoe;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%;
                  margin: 0 0 40px;
                }

                .cta-wrapper {
                  .spz-cta {
                    border-radius: 99px;
                    background: #5fb53b;
                    display: flex;
                    height: 50px;
                    padding: 18px 40px;
                    justify-content: center;
                    align-items: center;
                    color: #0f2d52;
                    font-family: $segoe;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%;
                    width: 169px;
                    border: 2px solid #5fb53b;
                    white-space: nowrap;
                    transition: all 0.3s;

                    &:hover {
                      background: #fff;
                    }
                  }
                }
              }

              .right-img {
                margin-right: -26px;

                img {
                  width: auto;
                  max-height: 465px;

                  @media screen and (max-width: 1199.98px) {
                    width: 100%;
                  }
                }
              }
            }
            // Solutions Accordion Ends
          }
        }
      }
    }
  }

  .footer-section {
    background: #ededed;

    .footer-row {
      max-width: 1180px;
      margin: auto;

      @media screen and (max-width: 1199.98px) {
        padding: 0 24px;
      }

      @media screen and (max-width: 767.98px) {
        padding: 0 20px;
      }

      .footer-col {
        padding: 24px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 1024.98px) {
          flex-direction: column-reverse;
          max-width: 648px;
          margin: auto;
        }

        .footer-text {
          color: #0f2d52;
          font-family: $segoe;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          margin: 0;
          white-space: nowrap;
        }

        .footer-links {
          .spz-subfooter-menu {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            list-style: none;

            li {
              list-style: none;
              margin-left: 32.5px;

              a {
                color: #0f2d52;
                font-family: $segoe;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                white-space: nowrap;

                &:hover {
                  text-decoration: underline;
                  text-underline-offset: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeIn2 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeIn3 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeIn4 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
