body#bodyId.form-overlay {
  .body-wrapper {
    .form-overlay {
      .hero-wrapper-spz {
        @media (max-width: 767.98px) {
          padding-top: 0 !important;
        }
        .spz-wrapper {
          .spz-left-content {
            display: none !important;
          }

          #form-over.form-over {
            max-width: 560px;

            @media (min-width: 767.98px) and (max-width: 1023.98px) {
              padding: 16px 46px 51px 46px;
            }

            .main_logo,
            #form_subtitle {
              display: none !important;
            }

            .form-heading {
              margin: 24px auto;

              @media (min-width: 767.98px) {
                font-size: 36px !important;
                line-height: 44px !important;
              }

              @media (max-width: 767.98px) {
                margin: 8px auto;
              }
            }

            .value-props-section {
              .value-props-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 24px 10px;
                padding: 5px 0 15px;

                @media (max-width: 767.98px) {
                  margin: 15px 10px 21px;
                  padding: 2px 0;
                }

                .line {
                  width: 1px;
                  height: 84px;
                  background: #eeeff4;

                  @media (max-width: 767.98px) {
                    height: 80px;
                  }
                }

                .value-prop {
                  text-align: center;
                  max-width: 117px;
                  width: 100%;
                  @media (max-width: 767.98px) {
                    max-width: 82.7px;
                  }

                  .prop-img {
                    margin: 2.2px;
                    img {
                      width: 40px;
                      height: 40px;
                    }
                  }

                  .prop-copy {
                    color: #0d122e;
                    text-align: center;
                    font-family: "Eptura Flexible";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    margin: 4px 0;
                    min-height: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media (max-width: 767.98px) {
                      font-size: 12px;
                      line-height: 14px;
                    }
                  }
                }
              }
            }

            form.mktoForm {
              .mktoButtonRow .mktoButtonWrap button.mktoButton {
                width: 100% !important;
                max-width: 448px !important;

                @media (min-width: 767.98px) {
                  height: 50px !important;
                }

                @media (max-width: 767.98px) {
                  max-width: 280px !important;
                }
              }

              .mktoFormRow {
                .mktoFormCol:first-child:nth-last-child(3),
                .mktoFormCol:first-child:nth-last-child(3) ~ .mktoFormCol {
                  @media (min-width: 767px) {
                    width: 50% !important;
                    margin: 0 !important;
                    padding: 0 10px !important;
                  }
                }

                .spz-anchor:not(.spz-hidden) .show-comment-dynamic {
                  margin-bottom: 12px;
                }

                .mktoFieldWrap .mktoCheckboxList label {
                  @media (min-width: 767px) {
                    font-size: 14px !important;
                    line-height: 20px !important;
                    font-family: "Eptura Flexible Light", Arial, sans-serif !important;
                  }
                }

                .mktoFormCol
                  .mktoFieldWrap
                  .mktoHtmlText.mktoHasWidth
                  em
                  .mobile-only {
                  @media (min-width: 767.98px) {
                    display: none;
                  }
                }
              }
              .spz-email .mktoFieldWrap {
                margin-top: 15px;
                @media (max-width: 1023.98px) {
                  margin-top: 21px;
                }
                @media (max-width: 767.98px) {
                  margin-top: 19px;
                }
              }
            }
          }
        }
      }
    }
  }

  &.website-proxyclick-demo {
    .form-overlay .overlay #mkto_gen_ovelayImg {
      img {
        display: none !important;
      }

      &::before {
        background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/4014/bg-proxyclick-desktop_2.webp)
          no-repeat !important;
        background-position: 0 0;
        background-size: cover !important;
        backdrop-filter: none;

        @media (max-width: 1023.98px) {
          background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/4014/bg-proxyclick-tablet_1.webp)
            no-repeat !important;
          background-position: 0 0;
          background-size: cover !important;
        }

        @media (max-width: 767.98px) {
          background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/4014/proxyclick_bg_361.webp)
            no-repeat !important;
          background-position: 0 0;
          background-size: cover !important;
        }
      }
    }

    .body-wrapper
      .form-overlay
      .hero-wrapper-spz
      .spz-wrapper
      #form-over.form-over
      .value-props-section
      .value-props-wrapper
      .line {
      @media screen and (max-width: 767.98px) {
        height: 94px;
      }
    }
  }

  &.website-spaceiq-demo {
    .form-overlay .overlay #mkto_gen_ovelayImg {
      img {
        display: none !important;
      }

      &::before {
        background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/4014/bg-spaceiq-desktop_1.webp)
          no-repeat !important;
        background-position: 0 0;
        background-size: cover !important;
        backdrop-filter: none;

        @media (max-width: 1023.98px) {
          background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/4014/bg-spaceiq-tablet_1.webp)
            no-repeat !important;
          background-position: 0 0;
          background-size: cover !important;
        }

        @media (max-width: 767.98px) {
          background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/4014/bg-spaceiq-mobile_1.webp)
            no-repeat !important;
          background-position: 0 0;
          background-size: cover !important;
        }
      }
    }
  }

  &.website-managerplus-demo {
    .form-overlay .overlay #mkto_gen_ovelayImg {
      img {
        display: none !important;
      }

      &::before {
        background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/4014/bg_image_managerplus_desktop.webp)
          no-repeat !important;
        background-position: 0 0;
        background-size: cover !important;
        backdrop-filter: none;

        @media (max-width: 1023.98px) {
          background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/4014/bg_image_managerplus_tablet.webp)
            no-repeat !important;
          background-position: 0 0;
          background-size: cover !important;
        }

        @media (max-width: 767.98px) {
          background: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/eptura/4014/bg_image_managerplus_mobile.webp)
            no-repeat !important;
          background-position: 0 0;
          background-size: cover !important;
        }
      }
    }
  }
}
