/*.list_different_SPZ .nav-wrap[_ngcontent-c3],*/


/*.list_different_SPZ .top-bar[_ngcontent-c0] {*/


/*  background: #fdfdfd*/


/*}*/

.list_different_SPZ footer,
.list_different_SPZ .product-list-area.content-section {
    margin: 0 !important;
}

.list_different_SPZ .noproducts-inner,
.list_different_SPZ .products-inner {
    max-width: 1200px;
    margin: 0 auto
}

.list_different_SPZ .products-title h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
    color: #333333;
}

.list_different_SPZ .products-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.list_different_SPZ .products-boxes.products_slider {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.list_different_SPZ #listingPage {
    width: 100%
}

.list_different_SPZ .search-bar {
    left: 0!important
}

.list_different_SPZ #listingPage>* {
    width: 100%
}

.list_different_SPZ #listingPage hos-google-places .search-bar .search-field {
    margin: 0 0!important
}

.see-more.hide {
    display: none
}

.list_different_SPZ .products-boxes .products-single-box {
    position: relative;
    margin: 0 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: calc(25% - 20px);
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 4px 35px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 35px rgba(0, 0, 0, .2);
    border-radius: 12px;
    margin-bottom: 40px
}

.list_different_SPZ .products-boxes .products-single-box.popular::after {
    content: 'MOST POPULAR';
    position: absolute;
    width: 138px;
    height: 34px;
    right: -7px;
    top: -14px;
    background: #b83436;
    border-radius: 8px 0px 0px 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.list_different_SPZ .products-boxes .products-single-box.bestvalue::after {
    content: 'BEST VALUE';
    position: absolute;
    width: 138px;
    height: 34px;
    right: -7px;
    top: -14px;
    background: #b83436;
    border-radius: 8px 0px 0px 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.list_different_SPZ .products-boxes .products-single-box.popular::before, .list_different_SPZ .products-boxes .products-single-box.bestvalue::before {
    content: url('https://res.cloudinary.com/spiralyze/image/upload/v1662469617/AWR/2027/arrow.svg');
    position: absolute;
    width: 7px;
    height: 15px;
    right: -7px;
    top: 20px
}

.list_different_SPZ .products-boxes.justify-content-center .products-single-box {
    margin: 0 10px
}

.list_different_SPZ .products-boxes .products-single-box .product-image {
    height: 170px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer
}

.list_different_SPZ .products-boxes .products-single-box .product-icon {
    position: absolute;
    height: 90px;
    width: 90px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: auto;
    bottom: -40px;
    left: 32px;
    border-radius: 50px
}

.list_different_SPZ .products-boxes .products-single-box .product-text {
    padding: 0
}

.list_different_SPZ .products-boxes .products-single-box .product-text>h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    cursor: pointer;
    padding: 30px 20px 20px;
    margin: 0;
    min-height: 122px
}

.list_different_SPZ .products-boxes .products-single-box .product-text .product-cart-info {
    padding: 25px 20px 24px
}

.list_different_SPZ .products-boxes .products-single-box .product-text>p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #757575;
    margin-bottom: 12px
}

.list_different_SPZ .products-boxes .products-single-box .product-text>a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: #ec7923;
    cursor: pointer
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box button,
.list_different_SPZ .products-boxes .products-single-box .product-image,
.list_different_SPZ .products-boxes .products-single-box .product-text>a {
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box button:hover,
.list_different_SPZ .products-boxes .products-single-box .product-image:hover,
.list_different_SPZ .products-boxes .products-single-box .product-text>a:hover {
    opacity: .9
}

.list_different_SPZ .products-boxes .products-single-box .product-text .product-pricing {
    min-height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #0d3d64;
    margin-bottom: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.list_different_SPZ .products-boxes .products-single-box .product-text .product-pricing>span:last-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 6px;
    text-transform: capitalize
}

.list_different_SPZ .products-boxes .products-single-box .product-pricing span#savetext.show-save {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 74px;
    height: 26px;
    border: 1px solid #78C653;
    border-radius: 8px;
    margin: 0 0 0 19px;
    text-transform: uppercase
}

.list_different_SPZ .products-boxes .products-single-box .product-text button {
    background: #06b3e4;
    border-radius: 5px;
    max-width: 240px;
    width: 100%;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.list_different_SPZ .products-boxes .products-single-box .product-text button:hover {
    background: #0998c0
}

.list_different_SPZ .products-boxes .products-single-box .product-text button svg {
    margin-left: 5px;
    position: relative;
    left: 4px
}

.list_different_SPZ .noproducts-wrapper,
.list_different_SPZ .products-wrapper {
    padding: 48px 0 40px
}

.list_different_SPZ .noproducts-inner p {
    text-align: center;
    margin-bottom: 0
}

.list_different_SPZ .see-more {
    text-align: center;
    margin-top: 24px;
    cursor: pointer
}

.list_different_SPZ .see-more>span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 24px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #ec7923
}

.list_different_SPZ .see-more>span::before {
    content: "See More";
    margin-right: 3px
}

.list_different_SPZ .show-all+.see-more>span::before {
    content: "See Less";
    margin-right: 3px
}

.list_different_SPZ .show-all+.see-more>span svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.list_different_SPZ .see-more>span>svg {
    margin-left: 3px
}

.list_different_SPZ .see-more>span:hover {
    opacity: .8
}

body.list_different_SPZ .product-list-area.fixed-nav-product {
    margin-top: 33px!important
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad {
    max-width: 100%;
    padding: 0 0
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header {
    margin: 0 0;
    background-color: #f5f5f5
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .filter-products {
    display: none
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box {
    padding-top: 21px;
    padding-bottom: 23px;
    margin: 0 auto;
    text-align: center;
    padding-left: 12px!important;
    padding-right: 12px!important
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box .current-location {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box .current-location>i {
    font-size: 0px;
    margin-right: 13px;
    color: rgba(0, 0, 0, .54);
    position: relative;
    top: 1px;
    left: 1px
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box .current-location>i::before {
    position: absolute;
    content: "";
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/AWR/PRODUCTPAGE/location-on.png");
    background-size: contain;
    width: 20px;
    height: 20px;
    top: -15px;
    left: -10px
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box button {
    padding: 0 0;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box button.product-page-search {
    max-width: 120px;
    height: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #fff
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box button.product-page-search>span:first-child {
    display: block!important
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box button.product-page-search>span:not(:first-child) {
    display: none!important
}

.list_different_SPZ form input.search-zipcode {
    /*max-width: 120px;*/
    height: 40px!important;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box>label:first-child {
    font-size: 16px;
    margin-bottom: 11px;
    display: block!important
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .location-box {
    margin-left: 4px
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box>label:nth-child(2) {
    display: none!important
}

.list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header form.search {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.list_different_SPZ .page-wrap.product-list {
    display: none
}

.list_different_SPZ .error-zipcode.invalid-error {
    text-align: center;
    margin: 0 auto;
    position: relative
}

.list_different_SPZ .products-boxes .products-single-box.Exterior_Electric_Line_Protection_Program .product-image {
    background-position: right
}


/* Slider */

.list_different_SPZ .products_slider {
    margin-bottom: 2px;
}

.list_different_SPZ .products-boxes.products_slider .products-single-box {
    width: 380px !important;
    min-height: 392px;
    max-width: 100%;
}

.list_different_SPZ .products-boxes.products_slider .slick-track {
    padding: 40px 20px 2px;
    box-sizing: content-box;
}

.list_different_SPZ .products-boxes.products_slider {
    margin: -0 0px 0;
}

.list_different_SPZ .products_slider .products-single-box.popular::after {
    width: 138px;
    height: 34px;
    top: -12px;
}
.list_different_SPZ .products_slider .products-single-box.bestvalue::after {
    width: 138px;
    height: 34px;
    top: -12px;
}

.list_different_SPZ .products_slider .products-single-box .product-text>h1 {
    font-size: 24px;
    line-height: 31px;
    padding: 35px 20px 19px;
    min-height: 115px;
    text-align: left;
}

.list_different_SPZ .products_slider .product-cart-info {
    display: flex;
    flex-wrap: wrap;
}

.list_different_SPZ .products_slider .product-cart-info>div {
    width: 50%;
}

.list_different_SPZ .products_slider .products-single-box .product-text button {
    background: #06b3e4;
    border-radius: 5px;
    max-width: 169px;
    width: 100%;
}

.list_different_SPZ .products_slider .products-single-box .product-pricing span#savetext.show-save {
    position: absolute;
    left: 0px;
    bottom: 28px;
    width: 74px;
    height: 20px;
}

.list_different_SPZ .products-boxes.products_slider .products-single-box.popular::before{
    top: 22px
}

.list_different_SPZ .products-boxes .products-single-box.Preferred_Cooling_Protection_Plan___Secondary_System h1 {
    padding-left: 10px;
    padding-right: 10px;
}


/* Slider */


@media (max-width:1400px) {
    body.list_different_SPZ.safari .products-boxes.products_slider .products-single-box {
        max-width: 100% !important;
        width: calc(33.33% - 20px) !important;
    }
    .list_different_SPZ .products_slider .products-single-box .product-text button {
        max-width: 168px;
    }
    
    }

@media screen and (min-device-width: 1024.98px) and (max-device-width: 1199.98px) {
    .list_different_SPZ .noproducts-inner,
    .list_different_SPZ .products-inner {
        max-width: 100%;
    }
    .list_different_SPZ .products-boxes .products-single-box {
        max-width: calc(33.33% - 20px)
    }
    .list_different_SPZ .products-boxes.products_slider .products-single-box {
        max-width: 380px !important;
        width: calc(33.33% - 20px) !important;
        text-align: left;
    }
    .list_different_SPZ .products-boxes .products-single-box .product-text .product-pricing {
        font-size: 20px;
    }
    .list_different_SPZ .products-boxes .products-single-box .product-text .product-pricing>span:last-child {
        font-size: 12px;
    }
    .list_different_SPZ .products_slider .products-single-box .product-text button {
        max-width: 140px;
    }
    .list_different_SPZ .products_slider .product-cart-info>div {
        width: 49%;
    }
}


@media (min-width:1024.98px) {
    .list_different_SPZ .products-boxes.products_slider .slick-track {
        /* width: auto !important; */
        text-align: center;
        display: table;
        margin: 0 auto;
    }
    
/* ********************** */
.slick-list {
    width: 100%;
}

}



@media (max-width:1024.98px) {
    .list_different_SPZ .products_slider .product-cart-info>div {
        width: 49.8%;
    }
    .list_different_SPZ .noproducts-wrapper,
    .list_different_SPZ .products-wrapper {
        padding: 58px 0 76px
    }
    .list_different_SPZ .products-boxes {
        -webkit-box-align: normal;
        -ms-flex-align: normal;
        align-items: normal
    }
    .list_different_SPZ .products-boxes {
        max-width: 602px;
        margin: 0 auto;
    }
    .list_different_SPZ .products-title h2 {
        margin-bottom: -20px
    }
    .list_different_SPZ .products-boxes .products-single-box {
        margin: 0 11px;
        max-width: calc(50% - 22px);
        margin-bottom: 20px
    }
    .list_different_SPZ .products-boxes.justify-content-center .products-single-box {
        margin: 0 11px 22px;
    }
    .list_different_SPZ .products-boxes .products-single-box .product-pricing span#savetext.show-save {
        margin: 0 0 0 17px
    }
    .list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box {
        padding-top: 24px
    }
    .list_different_SPZ .products-boxes.products_slider {
        margin: 0 auto;
        max-width: 100%;
    }
    .list_different_SPZ .products_slider .slick-list:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 166px;
        height: 100%;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 14.46%, rgba(255, 255, 255, 0) 118.07%);
        z-index: 1;
    }
    .list_different_SPZ .products_slider.no-slick-track .slick-list:before,
    .list_different_SPZ .products_slider.no-slick-track .slick-list:after{
display: none;
    }
    .list_different_SPZ .products_slider .slick-list:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 181px;
        height: 100%;
        z-index: 1;
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 14.46%, rgba(255, 255, 255, 0) 118.07%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        opacity: 1;
    }
    .list_different_SPZ .products_slider .products-single-box .product-text button {
        max-width: 169px;
    }
    
    button.slick-prev.slick-arrow.slick-disabled ~ .slick-list.draggable:after {
        opacity: 0;
    }
    .list_different_SPZ .products_slider .slick-list {
        position: relative;
    }

    .list_different_SPZ .products-boxes.products_slider .products-single-box {
        margin-right: 28px;
        margin-left: -8px;
        max-width: 100% !important;
        width: 377px !important;
    }
    .list_different_SPZ .products_slider .slick-next.slick-arrow {
        right: 25px;
        left: auto;
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        margin-top: -20px;
    }
    .list_different_SPZ .products_slider .slick-arrow {
        background-image: url(//res.cloudinary.com/spiralyze/image/upload/f_auto/AWR/2026_AWR_Product_List_Different_Size_Tile/arrow-left.svg);
        width: 40px;
        height: 40px;
        border: 0;
        font-size: 0;
        background-color: transparent;
        padding: 0;
        position: absolute;
        top: 53%;
        -moz-transform: translateY(-53%);
        -webkit-transform: translateY(-53%);
        -o-transform: translateY(-53%);
        -ms-transform: translateY(-53%);
        transform: translateY(-53%);
        left: 25px;
        z-index: 9;
    }
    .list_different_SPZ .products_slider .slick-arrow.slick-arrow.slick-disabled {
        opacity: 0.5;
    }
    .list_different_SPZ .products-boxes.products_slider .slick-track {
        padding: 40px 4% 0;
    }
    .list_different_SPZ .products-boxes .products-single-box .product-text .product-cart-info {
        padding: 24px 20px 24px;
    }
    .list_different_SPZ .products-boxes.products_slider .products-single-box .product-text>h1 {
        min-height: 115px;
    }
    .list_different_SPZ .products-boxes .products-single-box .product-text>h1 {
        min-height: 122px;
    }
    .list_different_SPZ .products-boxes .products-single-box.In_Home_Plumbing_Emergency_Program h1 {
        min-height: 122px;
    }
    .list_different_SPZ .products-boxes.products_slider .slick-track {
        padding: 40px 0 2px;
    }
   
}

@media(max-width:991.98px) {
    .list_different_SPZ .products-boxes.products_slider .slick-track {
        padding: 40px 13.7% 0;
    }
    body.list_different_SPZ.safari .products-boxes.products_slider .products-single-box {
        width: 377px !important;
    }
}
@media(max-width:840px) {
.list_different_SPZ .products-boxes.products_slider .slick-track {
    padding: 40px 6.6% 0;
}
}
@media(max-width:810px) {
    .list_different_SPZ .products-boxes.products_slider .slick-track {
        padding: 40px 5% 0;
    }
}
@media(max-width:780px) {
    .list_different_SPZ .products-boxes.products_slider .slick-track {
        padding: 40px 3% 0;
    }
}

@media(max-width:767.98px) {
    .list_different_SPZ .products-title h2 {
        margin-bottom: 30px;
    }
    .list_different_SPZ .products-boxes .products-single-box.Sewer_Line_Protection_Program h1 {
        min-height: 122px;
    }
}

@media(max-width:599.98px) {
    .list_different_SPZ .products-boxes .products-single-box.Water_Line_and_Sewer_Line_Protection_Program .product-text>h1,
    .list_different_SPZ .products-boxes .products-single-box.Water_Line_Protection_Program .product-text>h1,
    .list_different_SPZ .products-boxes .products-single-box.Sewer_Line_Protection_Program .product-text>h1 {
        font-size: 24px;
        line-height: 31px;
    }
    .list_different_SPZ .products-boxes .products-single-box.popular::before, .list_different_SPZ .products-boxes .products-single-box.bestvalue::before {
        top: 20px;
    }
    .list_different_SPZ .products-boxes .products-single-box .product-text>h1 {
        min-height: auto;
        padding: 33px 20px 25px;
    }
    .list_different_SPZ .products-boxes .products-single-box .product-text .product-pricing {
        flex-wrap: wrap;
    }
    .list_different_SPZ .products-boxes .products-single-box .product-text .product-pricing {
        display: inline;
    }
    .list_different_SPZ .products-boxes .products-single-box .product-pricing span#savetext.show-save {
        margin: 12px 0 0;
        height: 21px;
    }
    .list_different_SPZ .products-boxes .products-single-box .product-text .product-cart-info {
        padding: 24px 20px 28px;
    }
    .list_different_SPZ .noproducts-wrapper,
    .list_different_SPZ .products-wrapper {
        padding: 43px 0 59px
    }
    .list_different_SPZ .products-title h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px
    }
    .list_different_SPZ .noproducts-inner,
    .list_different_SPZ .products-inner {
        padding: 0 40px
    }
    .list_different_SPZ .products-boxes .products-single-box {
        margin: 0;
        max-width: 100%;
        margin-bottom: 20px
    }
    .list_different_SPZ .products-boxes .products-single-box .product-text button {
        max-width: 100%;
        padding: 0;
        margin-top: 20px;
    }
    .list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box>label:first-child {
        display: none !important;
        font-size: 14px;
        margin: 0 0 11px 0
    }
    .list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box>label:nth-child(2) {
        display: block !important;
        font-size: 14px;
        margin: 0 0 11px 0
    }
    .list_different_SPZ .product-list-area>.page-wrap.set-pad>.product-list-header .zipcode-box {
        padding-bottom: 22px
    }
    .list_different_SPZ .products-boxes .products-single-box .product-text .product-pricing>span:last-child {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: auto;
        display: inline;
        margin: 0;
        position: relative;
        top: -4px;
    }
}

@media(max-width:359.98px) {
    .list_different_SPZ .products-boxes .products-single-box .product-text .product-pricing {
        font-size: 20px
    }
    .list_different_SPZ .products-boxes .products-single-box .product-text .product-pricing>span:last-child {
        font-size: 12px
    }
    .list_different_SPZ .products-boxes .products-single-box .product-pricing span#savetext.show-save {
        width: 67px;
        margin: 0 0 0 8px
    }
}

.list_different_SPZ .banner-box .content-box .banner-content-box .how-it-work-area {
    padding: 10px 0 0!important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .list_different_SPZ .banner-box .banner {
        height: 350px !important;
    }
}

.LPMcontainer.LPMoverlay {
    top: 75%!important;
}
