.spz-7001 {
  &.spz-no-scroll {
    overflow: hidden;
  }

  .popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.64);
    display: none;
    overflow-y: auto;
    padding: 40px 0;
    height: 100%;
    .getdemo-popup {
      width: 960px;
      border-radius: 16px;
      background: linear-gradient(102deg, #0f2d52 0%, #1a508f 100.01%);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 55px 400px 60px 60px;
      display: flex;
      position: relative;
      margin: auto;

      @media (min-width: 1023.97px) and (max-width: 1250px) {
        width: 74%;
      }

      .left {
        width: 500px;

        @media (min-width: 1023.97px) and (max-width: 1250px) {
          min-width: 50%;
        }

        .title {
          color: #fff;
          font-family: Bree;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 110%;
          margin-bottom: 34px;

          span {
            color: #5fb53b;
          }
        }
        .tag-list {
          padding: 0;
          list-style: none;
          margin:  0;

          li {
            display: flex;
            align-items: flex-start;

            img {
              width: 32px;
              height: 32px;
              margin-top: 2px;
            }

            p {
              margin: 0 0 24px 16px;
              color: #fff;
              font-family: "Segoe UI";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;

              span {
                font-weight: 600;
              }
            }
          }
        }
        .cta {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 99px;
          background: #5fb53b;
          width: 194px;
          height: 60px;
          text-decoration: none;
          color: #0f2d52;
          font-family: "Segoe UI";
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 130%;
          outline: 0;
          margin-top: 5px;
          &:hover {
            background: #7edb58;
          }
          &:active {
            background: #a6ff82;
          }
        }
      }
      .right {
        background: transparent;
        width: calc(100% - 500px);
        position: relative;

        .popup-hero {
          position: absolute;
          height: auto;
          width: 535px;
          pointer-events: none;
          top: 7px;
          left: 23px;

          @media (min-width: 1023.97px) and (max-width: 1250px) {
            width: 500px;
          }
        }
      }
    }
    .close-popup {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      width: 24px;
      height: 24px;
      background: url(//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/zywave/7001/frame.svg)
        no-repeat;
      background-position: center;
      background-size: 100%;
      &:hover {
        background: url(//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/zywave/7001/frame_1.svg)
          no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }
  }
  .popup-wrapper.show {
    display: flex;
  }
}
@media (max-width: 1023.98px) {
  .spz-7001 {
    .popup-wrapper {
      .getdemo-popup {
        flex-direction: column;
        width: 580px;
        padding: 60px 40px;
        .left {
          width: 100%;

          .cta {
            width: 100%;
          }
        }
        .right {
          width: 100%;
          height: 400px;
          .popup-hero {
            width: 581px;
            top: 12px;
            left: -39px;
          }
        }
      }
      .close-popup {
        top: 12px;
        right: 12px;
      }
    }
  }
}
@media (max-width: 767.98px) {
  .spz-7001 {
    .popup-wrapper {
      .getdemo-popup {
        width: 100%;
        max-width: 335px;
        padding: 40px 18px 0px 18px;
        .left {
          .tag {
            width: 256px;
            max-width: 100%;
          }
          .cta {
            margin-top: 23px;
          }
        }
        .right {
          height: 272px;
          width: 345px;

          .popup-hero {
            transform: translateX(-50%);
            width: 345px;
            top: 32px;
            left: 45%;
          }
        }
      }
    }
  }
}
