body.spz-8001 #page-container .page-transition main #contact-us {
  background: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/sailpoint/8001/bg_image_1.webp") no-repeat top left;
  background-size: cover;
  clip-path: none !important;
  padding: 0 !important;
  scroll-margin-top: 0;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner {
  display: flex;
  justify-content: center;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:first-child {
  display: none;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child {
  width: 100%;
  max-width: 640px;
  margin: 56px auto;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner {
  max-width: 640px;
  padding: 40px 48px;
  border-radius: 16px;
  background: linear-gradient(144deg, rgba(84, 192, 232, 0.5) 12.96%, rgba(84, 192, 232, 0.2) 77.09%), #fff;
}
@media (max-width: 767.98px) {
  body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner {
    padding: 40px 16px;
  }
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .spz-form-title-wrapper {
  margin: 0 0 28px;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .spz-form-title-wrapper .f-title {
  color: #0033a1;
  text-align: center;
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 16px;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .spz-form-title-wrapper .f-desc {
  color: #415364;
  text-align: center;
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow {
  width: 100%;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow.row_FirstName, body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow.row_LastName, body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow.row_Company, body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow.row_Title {
  width: calc(50% - 12px);
}
@media screen and (max-width: 768px) {
  body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow.row_FirstName, body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow.row_LastName, body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow.row_Company, body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow.row_Title {
    width: 100%;
  }
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow .mktoFieldWrap > .mktoLabel {
  color: #415364 !important;
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0.5px;
  height: initial;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow .mktoFieldWrap > .mktoLabel .mktoAsterix {
  color: #c02b0a !important;
  margin-left: 3.5px;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow .mktoFieldWrap .select-wrapper {
  margin: 0 !important;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow .mktoFieldWrap .select-dropdown {
  top: 28px;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow .mktoFieldWrap .mktoField:not([type=checkbox]) {
  border-radius: 4px;
  border: 1px solid #dae1e9;
  background: #fff;
  height: 56px;
  margin-bottom: 13px !important;
  outline: none;
  box-shadow: none;
  padding: 16px;
  color: #415364;
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow .mktoFieldWrap .mktoField:not([type=checkbox]):hover {
  border-color: #415364;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow .mktoFieldWrap .mktoField:not([type=checkbox]):focus {
  border-color: #0071ce;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow .mktoFieldWrap .mktoError {
  margin-top: -16px;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow .mktoFieldWrap .mktoError .mktoErrorMsg {
  color: #e6241e;
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-top: 2px;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoFormRow .mktoFieldWrap:has(.mktoError:not([style*="display: none"])) .mktoField:not([type=checkbox]) {
  border-color: #e6241e;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoCheckboxList label,
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoCaptchaDisclaimer {
  color: #415364 !important;
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoCheckboxList label a,
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoCaptchaDisclaimer a {
  color: #415364;
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoCheckboxList label a:hover,
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoCaptchaDisclaimer a:hover {
  text-decoration: none;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoButtonRow {
  width: 100%;
  text-align: center;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoButtonRow .mktoButtonWrap .mktoButton {
  border-radius: 4px;
  background: #cc27b0;
  width: 274px;
  height: 48px;
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
@media (max-width: 767.98px) {
  body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoButtonRow .mktoButtonWrap .mktoButton {
    width: 100%;
  }
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .mkto-wrap .mktoForm .mktoButtonRow .mktoButtonWrap .mktoButton:hover {
  border: 1px solid var(--Border, rgba(255, 255, 255, 0));
  background: #b50d98;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .disclaimer {
  color: #415364;
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .disclaimer a {
  color: #415364;
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
body.spz-8001 #page-container .page-transition main #contact-us .row__inner > .column:last-child .column__inner .disclaimer a:hover {
  text-decoration: none;
}