.badge-redesign-spz .pageBlock {
    display: none;
}

.badge-redesign-spz .badge-container {
    width: 100%;
    max-width: 1199px;
    margin: auto;
    padding: 67px 0;
}

.badge-redesign-spz.its-ie .badge-container {
    margin-top: 83px;
}

.badge-redesign-spz .badgeblock .badgeblock-content {
    width: 100%;
    max-width: 967px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #3B454A;
}

.badge-redesign-spz .awardwrapper {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.badge-redesign-spz .award-image img {
    width: 100%;
    max-width: 120px;
}

@media (min-width:1025px) and (max-width:1230px) {
    .badge-redesign-spz .badge-container {
        margin-top: 10px;
    }
}

@media (max-width: 1023.99px) {
    .badge-redesign-spz .badge-container {
        margin-top: 66px;
        padding-bottom: 61px;
        padding-top: 0;
    }

    .badge-redesign-spz .badgeblock .badgeblock-content {
        max-width: 700px;
        margin-bottom: 20px;
    }
}

@media (max-width: 766.99px) {
    .badge-redesign-spz .badge-container {
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .badge-redesign-spz .badgeblock .badgeblock-content {
        max-width: 314px;
        margin-bottom: 30px;
    }

    .badge-redesign-spz .awardwrapper {
        max-width: 290px;
    }

    .badge-redesign-spz .awardwrapper .award-badge:last-child {
        /* text-align: center;
        margin: 0 auto;
        margin-top: 20px; */
    }
}

_:-ms-lang(x),
.badge-redesign-spz .badge-container {
    margin-top: 0;
}