body.spz-9001[class] {
  > .c-header-top-bar,
  > header#header,
  > main.l-body-wrapper .l-footer,
  > main.l-body-wrapper .c-cta-about {
    display: none !important;
  }

  > main.l-body-wrapper {
    > section.c-hero {
      > .c-hero__bg-image-wrapper {
        display: none !important;
      }

      > .c-hero__gradient.c-hero__gradient--default {
        background-image: url("//res.cloudinary.com/spiralyze/image/upload/v1681281099/ABCFitnessSolutions/9001/assets/Desktop-bg.png") !important;
        opacity: 1;
        background-size: 1079px;
        background-position: top right;
        background-repeat: no-repeat;
        background-color: #1a3144;

        @media (min-width: 599.98px) and (max-width: 991.98px) {
          background-image: url("https://res.cloudinary.com/spiralyze/image/upload/v1681281104/ABCFitnessSolutions/9001/assets/Tablet-bg.png") !important;
          background-size: 768px;
        }

        @media (max-width: 599.98px) {
          background-image: url("https://res.cloudinary.com/spiralyze/image/upload/v1681281097/ABCFitnessSolutions/9001/assets/Mobile-bg.png") !important;
          background-size: 375px;
        }
      }

      > .c-hero__content.l-container {
        padding: 0;
        width: 100%;
        max-width: 1180px;

        .spz-header {
          padding: 60px 0 40px;

          @media (min-width: 991.98px) and (max-width: 1224px) {
            padding: 60px 98.63px 40px;
          }
          @media (min-width: 767.98px) and (max-width: 991.98px) {
            padding: 40px 98.63px 16px;
          }
          @media (max-width: 767.98px) {
            padding: 40px 20px 16px;
          }
        }

        > .c-hero__info-wrapper {
          @media (max-width: 1224px) {
            padding: 0px 98.63px;
          }
          @media (max-width: 767.98px) {
            padding: 0px 20px;
          }
          .__title-wrapper.c-hero__title-wrapper,
          .c-hero__subtitle.c-subtitle {
            display: none !important;
          }

          > .c-hero__repeater {
            padding-top: 4px;
            .c-hero__column:first-child {
              > h3.c-hero__column-title,
              > .c-hero__column-content {
                display: none !important;
              }
              border: 0;
              padding: 0;

              .spz-hero-container {
                .hero-top-content {
                  .hero-left-summary {
                    padding-top: 79px;
                    @media (min-width: 767.98px) and (max-width: 991.98px) {
                      padding-top: 48px;
                    }
                    @media (max-width: 767.98px) {
                      padding-top: 32px;
                    }
                    position: relative;

                    &::after {
                      content: url("https://res.cloudinary.com/spiralyze/image/upload/v1681293063/ABCFitnessSolutions/9001/assets/arrow.svg");
                      position: absolute;
                      bottom: -114px;
                      right: -78px;
                      width: 203px;
                      height: 105px;
                      @media (max-width: 1224px) {
                        display: none;
                      }
                    }

                    > p {
                      font-family: aktiv-grotesk, aktiv-grotesk-1,
                        aktiv-grotesk-2, aktiv-grotesk-web, aktiv-grotesk-web-1,
                        aktiv-grotesk-web-2;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 14px;
                      line-height: 100%;
                      letter-spacing: 0.04em;
                      text-transform: uppercase;
                      color: #ff7335;
                      letter-spacing: 0.65px;
                    }

                    > h6 {
                      font-family: aktiv-grotesk, aktiv-grotesk-1,
                        aktiv-grotesk-2, aktiv-grotesk-web, aktiv-grotesk-web-1,
                        aktiv-grotesk-web-2;
                      font-style: normal;
                      font-weight: 400;
                      font-size: 42px;
                      line-height: 130%;
                      letter-spacing: -0.01em;
                      color: #ffffff;
                      text-transform: none;

                      > span {
                        font-weight: 800;
                      }
                      @media (max-width: 767.95px) {
                        font-size: 30px;
                        line-height: 130%;
                        margin-top: -2px;
                        margin-bottom: 24px;
                      }
                    }

                    ul {
                      list-style: none;
                      margin-top: 22px;
                      padding-right: 24px;
                      @media (max-width: 991.98px) {
                        padding-right: 0;
                      }
                      li {
                        font-family: aktiv-grotesk, aktiv-grotesk-1,
                          aktiv-grotesk-2, aktiv-grotesk-web,
                          aktiv-grotesk-web-1, aktiv-grotesk-web-2;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 26px;
                        color: #ffffff;
                        position: relative;
                        padding-left: 32px;
                        padding-bottom: 24px;
                        margin-left: 0;

                        > span {
                          font-weight: 700;
                        }

                        &::before {
                          content: url("https://res.cloudinary.com/spiralyze/image/upload/v1681281097/ABCFitnessSolutions/9001/assets/check_icon.svg");
                          position: absolute;
                          left: 0;
                          top: -2px;
                        }
                      }
                    }
                  }
                }
              }

              @media (max-width: 1023.98px) {
                width: 100%;
              }
            }

            .c-hero__column:last-child {
              border: 0;
              padding: 28px 91px 8px 80px;
              // padding: 59px 112px 8px 98px;
              @media (max-width: 1224px) {
                padding: 40px;
              }
              > h3.c-hero__column-title {
                display: none !important;
              }

              > .c-hero__column-content {
                > p {
                  margin: 0;
                  // background: #fff;
                  // filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.15));
                  border-radius: 12px;
                  padding: 30px 22px 0 18px;
                  @media (max-width: 599.98px) {
                    padding: 20px 8px 0 6px;
                  }
                  iframe {
                    @media (max-width: 1919.98px) {
                      max-height: 792px;
                    }
                    @media (max-width: 1023.98px) {
                      max-height: 794px;
                    }
                  }

                  > strong {
                    color: #fff;
                  }
                }
              }

              @media (max-width: 1023.98px) {
                width: 100%;
                padding: 64px 98px 8px 94px;
              }
              @media (max-width: 767.98px) {
                width: 100%;
                padding: 18px;
              }
              @media (max-width: 599.98px) {
                max-width: 100%;
                margin: auto;
                padding: 0;
                // &.android {
                //   max-width: 284px;
                // }
              }
            }
          }

          .hero-bottom-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 54px;
            margin-top: 48px;

            > p {
              font-family: aktiv-grotesk, aktiv-grotesk-1, aktiv-grotesk-2,
                aktiv-grotesk-web, aktiv-grotesk-web-1, aktiv-grotesk-web-2;
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 130%;
              text-align: center;
              color: #ffffff;
              @media (max-width: 767.98px) {
                font-size: 18px;
                padding: 0 1px;
                margin-bottom: 18px;
              }
            }

            .partner-img-container {
              max-width: 940px;
              margin-top: 6px;
              img {
                @media (min-width: 360.98px) and (max-width: 767.98px) {
                  max-width: 335px;
                }
                @media (min-width: 767.98px) and (max-width: 1023.98px) {
                  max-width: 571px;
                }
              }
            }
          }
        }
      }

      .spz-footer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px 0px 28px;
        background: #0d2436;

        .footer-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 1180px;
          width: 100%;
          @media (max-width: 1224px) {
            padding: 0px 98.63px;
            max-width: 100%;
          }
          @media (max-width: 767.98px) {
            padding: 0px 18.63px;
            justify-content: center;
            flex-wrap: wrap;
            p {
              width: 100%;
            }
          }

          .copyright-text {
            font-family: aktiv-grotesk, aktiv-grotesk-1, aktiv-grotesk-2,
              aktiv-grotesk-web, aktiv-grotesk-web-1, aktiv-grotesk-web-2;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: #ffffff;
            margin: 0;
            @media (max-width: 767.98px) {
              margin-top: 32px;
              margin-left: -4px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
