@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap";
html {
  overflow-x: hidden;
}

body.spz-28001 main > section[variant=collectionThreePerRowSectionWrapper] {
  display: none;
}
body.spz-28001 .dis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body.spz-28001 .flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
body.spz-28001 .justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
body.spz-28001 .align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body.spz-28001 i {
  font-style: normal;
}
body.spz-28001 .blue-cta-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0580e8;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 18px 20.28px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
body.spz-28001 .blue-cta-btn > span {
  padding: 0px 16px 0px 12px;
}
body.spz-28001 .blue-cta-btn .button_arrow {
  margin-left: 8px;
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
  object-fit: contain;
  pointer-events: none;
}
body.spz-28001 .blue-cta-btn:hover {
  background: #0068c9;
  color: #fff;
}
@media (max-width: 767.98px) {
  body.spz-28001 .blue-cta-btn {
    padding: 12px 18.45px;
    font-size: 16px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body.spz-28001 .blue-cta-btn > span {
    padding: 0px 13px 0px 9px;
  }
}
body.spz-28001 .simple-steps-sec {
  background-color: #f6f8fa;
  padding: 96px;
}
@media (max-width: 1200px) {
  body.spz-28001 .simple-steps-sec {
    padding: 96px 24px;
  }
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec {
    padding: 81px 16px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .simple-steps-sec {
    padding: 65px 16px;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container {
  max-width: 1248px;
  margin: 0 auto;
}
body.spz-28001 .simple-steps-sec .simple-steps-container.step-1 .ss-step.step-1 {
  color: #fff;
  background-color: #1793ff;
}
body.spz-28001 .simple-steps-sec .simple-steps-container.step-1 .simple-steps-wrapper .ss-item.step-1 {
  border: 1.5px solid #1793ff;
}
body.spz-28001 .simple-steps-sec .simple-steps-container.step-2 .ss-step.step-2 {
  color: #fff;
  background-color: #1793ff;
}
body.spz-28001 .simple-steps-sec .simple-steps-container.step-2 .simple-steps-wrapper .ss-item.step-2 {
  border: 1.5px solid #1793ff;
}
body.spz-28001 .simple-steps-sec .simple-steps-container.step-3 .ss-step.step-3 {
  color: #fff;
  background-color: #1793ff;
}
body.spz-28001 .simple-steps-sec .simple-steps-container.step-3 .simple-steps-wrapper .ss-item.step-3 {
  border: 1.5px solid #1793ff;
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-left {
  max-width: 382px;
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-left {
    max-width: 100%;
    text-align: center;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-left .ss-subtitle {
  color: #0580e8;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-left .ss-subtitle {
    font-size: 18px;
    line-height: 26px;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-left .ss-title {
  color: #0c131a;
  font-family: "Inter", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: -1.08px;
  margin-top: 12px;
  margin-bottom: 0;
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-left .ss-title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.64px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-left .ss-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-right {
  max-width: 515px;
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    margin-top: 38px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 24px;
  }
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-right .ss-text:first-child {
    margin-bottom: 16px;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-right .ss-text {
  position: relative;
  color: #485665;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 44px;
  padding-right: 5px;
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-right .ss-text {
    max-width: 376px;
    padding-right: 20px;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-right .ss-text::before {
  content: "";
  display: inline-block;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/drata/14007/check-mark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -1px;
  left: 0;
}
@media (max-width: 767.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-right .ss-text::before {
    top: 0;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-right .ss-divider {
  width: 100%;
  height: 1px;
  background-color: #dde3eb;
  margin: 18px 0 21px;
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-top-bar .ss-right .ss-divider {
    display: none;
  }
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ssc-contents {
    padding-top: 48px;
    max-width: 736px;
    margin: 0 auto;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-steps-count {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 103px 10px 32px;
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-steps-count {
    display: none;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-steps-count::before {
  content: " ";
  position: absolute;
  top: calc(50% - 1px);
  left: -10px;
  height: 2px;
  width: calc(100% + 20px);
  background-color: #dde3eb;
  border-radius: 1px;
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-steps-count .ss-step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4.73px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #dde3eb;
  color: #697586;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18.922px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.652px;
  letter-spacing: -0.378px;
  width: 46.12px;
  height: 48px;
  cursor: default;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  z-index: 2;
}
body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper {
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #dde3eb;
  padding: 15px 0 35.5px;
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper {
    position: relative;
    max-width: 658px;
    margin-left: auto;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper {
    width: calc(100% - 64px);
    padding-bottom: 18.5px;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 23px;
  }
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps::before {
    content: " ";
    position: absolute;
    top: -2px;
    left: -56.5px;
    height: calc(100% + 2px);
    width: 2px;
    background-color: #dde3eb;
    border-radius: 1px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps {
    margin-bottom: 5px;
  }
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps::before {
    content: " ";
    top: -2px;
    left: -43px;
    height: calc(100% + 2px);
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item {
  position: relative;
  border-radius: 16px;
  background-color: #f6f8fa;
  border: 1.5px solid #f6f8fa;
  width: 397.33px;
  padding: 24px 24px 16px;
  overflow: hidden;
  margin: 0 6px;
  cursor: pointer;
}
@media (min-width: 1024px) and (max-width: 1280px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item {
    width: 31.75%;
  }
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item {
    width: auto;
    padding: 0 24px 64px 24px;
    margin: 0px 15.5px 12px 15px;
    overflow: initial;
  }
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item.step-1 .ss-desc {
    padding: 0 20px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item {
    padding: 0 0 21.5px;
  }
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content {
    overflow: hidden;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-img-wr {
  width: 407px;
  margin-top: -26px;
  margin-left: -29px;
}
body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-img-wr .ss-img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
}
@media (min-width: 1024px) and (max-width: 1280px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-img-wr {
    margin-left: calc(50% - 203px);
  }
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-img-wr {
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-img-wr {
    margin: -2px auto;
    width: 234px;
  }
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-img-wr .ss-img {
    border-radius: 26px;
  }
}
@media (max-width: 361px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-img-wr {
    margin: -2px;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-title {
  color: #0c131a;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  margin: 1px 0 9px;
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-title {
    margin-top: -1px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-title {
    font-size: 16px;
    line-height: 24px;
    margin: 13px 10px 8px;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-desc {
  color: #485665;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
@media (max-width: 767.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .simple-steps .ss-item .ss-content .ss-desc {
    font-size: 14px;
    line-height: 20px;
    padding: 0 12px;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .ss-step {
  display: none !important;
  position: absolute;
  border-radius: 4.73px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #dde3eb;
  color: #697586;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18.922px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.652px;
  letter-spacing: -0.378px;
  width: 46.12px;
  height: 48px;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  z-index: 2;
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .ss-step {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -2.5px;
    left: -94px;
    width: 48px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .simple-steps-wrapper .ss-step {
    top: 0;
    left: -81px;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-bottom-bar .ssb-title {
  position: relative;
  color: #293642;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 7px;
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-bottom-bar .ssb-title::before {
  content: "";
  position: relative;
  top: 4px;
  left: -3.5px;
  display: inline-block;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/drata/14007/Ai_Redo_Spark.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
@media (max-width: 767.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-bottom-bar .ssb-title {
    font-size: 12px;
    line-height: 18px;
  }
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-bottom-bar .ssb-title::before {
    width: 16px;
    height: 16px;
    margin-right: 7px;
  }
}
body.spz-28001 .simple-steps-sec .simple-steps-container .ss-bottom-bar .ssb-subtitle {
  color: #485665;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
@media (max-width: 1023.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-bottom-bar .ssb-subtitle {
    padding: 0 20px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .simple-steps-sec .simple-steps-container .ss-bottom-bar .ssb-subtitle {
    font-size: 12px;
    line-height: 18px;
    padding: 1px 15px;
  }
}
body.spz-28001 .cr-section {
  background: #eef2f6;
  padding: 96px 0;
}
@media (max-width: 1280px) {
  body.spz-28001 .cr-section {
    padding: 81px 16px 80px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section {
    padding: 64px 16px;
  }
}
body.spz-28001 .cr-section .title-wrapper .large-title {
  color: #0c131a;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -0.84px;
  margin: 0 0 16px;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .title-wrapper .large-title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.64px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .title-wrapper .large-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
  }
}
body.spz-28001 .cr-section .title-wrapper .small-description {
  color: #485665;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin: 0;
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .title-wrapper .small-description {
    font-size: 16px;
    line-height: 24px;
  }
}
body.spz-28001 .cr-section .slider-section {
  max-width: 1248px;
  margin: 32px auto;
  position: relative;
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .slider-section {
    max-width: 340px;
  }
}
body.spz-28001 .cr-section .slider-section .container {
  max-width: 1144px;
  margin: auto;
}
@media (max-width: 1280px) {
  body.spz-28001 .cr-section .slider-section .container {
    max-width: 85%;
  }
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container {
    max-width: 100%;
  }
}
body.spz-28001 .cr-section .slider-section .container .slider-card {
  height: 271px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  border: 1px solid #dde3eb;
  background: #fff;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card {
    height: auto;
    min-height: 281px;
  }
}
@media (max-width: 1200px) and (max-width: 767.98px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-img {
  max-width: 243px;
  width: 100%;
  height: 100%;
  margin-right: 32px;
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px 0 0 6px;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-img {
    height: 284px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-img {
    height: 300px;
    max-width: 100%;
    margin: 0;
  }
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-img img {
    border-radius: 6px 6px 0 0;
  }
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px 16px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: calc(100% - 80px);
  width: 100%;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content {
    height: auto;
    width: 100%;
    padding: 16px 32px 16px 0px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content {
    padding: 23px;
    width: auto;
  }
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .text-copy .card-title {
  color: #1d252e;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: -0.64px;
  margin: 0 0 12px;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .text-copy .card-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .text-copy .card-title {
    font-size: 20px;
    line-height: 28px;
  }
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .text-copy .card-desc {
  color: #485665;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin: 0;
  max-width: 677px;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .text-copy .card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .text-copy .card-desc {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .desk-only {
    display: none;
  }
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .footer-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .footer-logos {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .footer-logos {
    margin-bottom: 38px;
  }
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .footer-logos .c-logo.ht-25 {
  height: 25px;
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .footer-logos .c-logo.ht-25 img {
  height: 25px;
  width: auto;
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .footer-logos .c-logo span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  white-space: nowrap;
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .footer-logos .c-logo span {
    font-size: 14px;
    line-height: 20px;
  }
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .footer-logos .c-line {
  width: 1px;
  height: 25px;
  background: #dde3eb;
  margin: 0 16px;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .footer-logos .c-line {
    margin: 0 12px;
  }
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .learn-more-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .learn-more-cta .learn-more {
  color: #0c131a;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  padding: 0 3px;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .learn-more-cta .learn-more .button_arrow {
  margin-left: 9px;
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .learn-more-cta .learn-more:hover {
  color: #0580e8;
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .learn-more-cta .learn-more:hover .button_arrow path {
  fill: #1253a8;
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .learn-more-cta .c-logo.no-desk {
  display: none;
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .learn-more-cta .c-logo.no-desk.ht-25 {
  height: 25px;
}
body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .learn-more-cta .c-logo.no-desk.ht-25 img {
  height: 25px;
  width: auto;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .learn-more-cta .c-logo.no-desk {
    display: block;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .learn-more-cta .c-logo.no-desk.ht-25 {
    height: 20px;
  }
  body.spz-28001 .cr-section .slider-section .container .slider-card .slider-content .card-footer .learn-more-cta .c-logo.no-desk.ht-25 img {
    height: 20px;
    width: auto;
  }
}
body.spz-28001 .cr-section .slider-section .container .swiper-pagination {
  bottom: -42px;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .swiper-pagination {
    bottom: -59.5px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .slider-section .container .swiper-pagination {
    bottom: -45.5px;
  }
}
body.spz-28001 .cr-section .slider-section .container .swiper-pagination .swiper-pagination-bullet {
  width: 31px;
  height: 4px;
  border-radius: 20px;
  background: #96a1b2;
  opacity: 1;
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .slider-section .container .swiper-pagination .swiper-pagination-bullet {
    width: 18px;
  }
}
body.spz-28001 .cr-section .slider-section .container .swiper-pagination .swiper-pagination-bullet:hover {
  background: #1d252e;
}
body.spz-28001 .cr-section .slider-section .container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 54px;
  background: #1d252e;
}
body.spz-28001 .cr-section .slider-section .container .swiper-btn-prev {
  width: 48px;
  height: 48px;
  background: url(//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/drata/14007/slider-left-default.svg) no-repeat;
  display: block;
  position: absolute;
  left: -15px;
  top: calc(50% - 25px);
  cursor: pointer;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  z-index: 15;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .swiper-btn-prev {
    top: calc(100% + 27px);
    left: 0;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .slider-section .container .swiper-btn-prev {
    top: calc(100% + 13px);
  }
}
body.spz-28001 .cr-section .slider-section .container .swiper-btn-prev:hover {
  background: url(//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/drata/14007/slider-left-hover.svg) no-repeat;
}
body.spz-28001 .cr-section .slider-section .container .swiper-btn-next {
  width: 48px;
  height: 48px;
  background: url(//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/drata/14007/slider-right-default.svg) no-repeat;
  display: block;
  position: absolute;
  right: -16px;
  top: calc(50% - 25px);
  cursor: pointer;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  z-index: 15;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .slider-section .container .swiper-btn-next {
    top: calc(100% + 27px);
    right: 0;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .slider-section .container .swiper-btn-next {
    top: calc(100% + 13px);
  }
}
body.spz-28001 .cr-section .slider-section .container .swiper-btn-next:hover {
  background: url(//res.cloudinary.com/spiralyze/image/upload/fl_sanitize/drata/14007/slider-right-hover.svg) no-repeat;
}
body.spz-28001 .cr-section .cta-wrapper {
  text-align: center;
  margin-top: 67px;
}
@media (max-width: 1200px) {
  body.spz-28001 .cr-section .cta-wrapper {
    margin-top: 107px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .cr-section .cta-wrapper {
    margin-top: 93px;
  }
}
body.spz-28001 .resources-section {
  margin: 96px 0;
}
@media (max-width: 1280px) {
  body.spz-28001 .resources-section {
    margin: 96px 64px 78px;
  }
}
@media (max-width: 1199.98px) {
  body.spz-28001 .resources-section {
    margin: 96px 0 78px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .resources-section {
    margin: 64px 0 63px;
  }
}
body.spz-28001 .resources-section .resources-wrapper {
  max-width: 1248px;
  margin: auto;
}
@media (max-width: 1280px) {
  body.spz-28001 .resources-section .resources-wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 1023.98px) {
  body.spz-28001 .resources-section .resources-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
body.spz-28001 .resources-section .resources-wrapper .resource-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1.007px solid rgba(205, 213, 223, 0.4);
  margin-bottom: 40px;
}
@media (max-width: 1280px) {
  body.spz-28001 .resources-section .resources-wrapper .resource-title {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .resources-section .resources-wrapper .resource-title .explore-more {
    display: none;
  }
}
body.spz-28001 .resources-section .resources-wrapper .resource-title .title {
  color: #0c131a;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  margin: 0;
}
@media (max-width: 1280px) {
  body.spz-28001 .resources-section .resources-wrapper .resource-title .title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.64px;
    max-width: 382px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .resources-section .resources-wrapper .resource-title .title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}
body.spz-28001 .resources-section .resources-wrapper .explore-more {
  margin: 0;
}
body.spz-28001 .resources-section .resources-wrapper .explore-more .ex-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0c131a;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  padding: 0 3px;
  text-decoration: none;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}
body.spz-28001 .resources-section .resources-wrapper .explore-more .ex-more:hover {
  color: #0580e8;
}
body.spz-28001 .resources-section .resources-wrapper .explore-more .ex-more:hover .button_arrow path {
  fill: #1253a8;
}
body.spz-28001 .resources-section .resources-wrapper .explore-more .ex-more .button_arrow {
  margin-left: 10px;
}
@media (max-width: 767.98px) {
  body.spz-28001 .resources-section .resources-wrapper .explore-more.mob-only {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 32px auto;
  }
}
body.spz-28001 .resources-section .resources-wrapper .mob-only {
  display: none;
}
@media (max-width: 767.98px) {
  body.spz-28001 .resources-section .resources-wrapper .mob-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
body.spz-28001 .resources-section .resources-wrapper .resource-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1280px) {
  body.spz-28001 .resources-section .resources-wrapper .resource-cards {
    max-width: 736px;
    margin: 0 auto;
  }
}
@media (max-width: 760px) {
  body.spz-28001 .resources-section .resources-wrapper .resource-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 400px;
  }
}
body.spz-28001 .resources-section .resources-wrapper .resource-cards .resource-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 296px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 16px;
  border: 1px solid #dde3eb;
  background: #fff;
}
@media (max-width: 1280px) {
  body.spz-28001 .resources-section .resources-wrapper .resource-cards .resource-card {
    width: 360px;
    min-height: 299px;
    margin-bottom: 16px;
  }
}
body.spz-28001 .resources-section .resources-wrapper .resource-cards .resource-card .rc-link {
  text-decoration: none;
  height: 100%;
}
body.spz-28001 .resources-section .resources-wrapper .resource-cards .resource-card .rc-link .card-img {
  width: 100%;
  height: 163px;
}
@media (max-width: 1280px) {
  body.spz-28001 .resources-section .resources-wrapper .resource-cards .resource-card .rc-link .card-img {
    overflow: hidden;
    border-radius: 16px 16px 0 0;
  }
}
body.spz-28001 .resources-section .resources-wrapper .resource-cards .resource-card .rc-link .card-img img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}
@media (max-width: 1280px) {
  body.spz-28001 .resources-section .resources-wrapper .resource-cards .resource-card .rc-link .card-img img {
    margin-top: -19px;
  }
}
@media (max-width: 767.98px) {
  body.spz-28001 .resources-section .resources-wrapper .resource-cards .resource-card .rc-link .card-img img {
    margin-top: -10px;
  }
}
body.spz-28001 .resources-section .resources-wrapper .resource-cards .resource-card .rc-link .card-content {
  padding: 16px;
}
@media (max-width: 1280px) {
  body.spz-28001 .resources-section .resources-wrapper .resource-cards .resource-card .rc-link .card-content {
    padding: 15.5px 16px;
  }
}
body.spz-28001 .resources-section .resources-wrapper .resource-cards .resource-card .rc-link .card-content .card-title {
  overflow: hidden;
  color: #697586;
  text-overflow: ellipsis;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin: 0 0 8px;
}
body.spz-28001 .resources-section .resources-wrapper .resource-cards .resource-card .rc-link .card-content .card-desc {
  overflow: hidden;
  color: #0c131a;
  text-overflow: ellipsis;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}