body.spz-2002[class] main::before {
  content: "";
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2002/assets/Hero-desk-bg.png");
  left: 0;
  right: auto;
  background-repeat: no-repeat;
  height: 1249px;
  width: 1200px;
  top: 0;
  background-size: 100%;
  z-index: 1;
  position: absolute;
}
@media (max-width: 1199.98px) {
  body.spz-2002[class] main::before {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2002/assets/Hero-tab-bg.png");
    height: 935px;
    width: 768px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2002[class] main::before {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/ABCFitnessSolutions/2002/assets/Hero-mobile-bg.png");
    height: 713px;
    width: 320px;
  }
}
@media (min-width: 1199.98px) {
  body.spz-2002[class] main .section.section-relative:first-child .section-block .section-inner[class] {
    max-width: 1180px;
  }
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-2002[class] main .section.section-relative:first-child .section-block .section-inner[class] {
    max-width: 628px;
  }
}
body.spz-2002[class] main .section.section-relative:first-child .section-block .section-inner[class] .hidden-mobile {
  display: none !important;
}
body.spz-2002[class] main .section.section-relative:first-child .section-block .section-inner[class] .widget {
  top: auto !important;
  bottom: 24px;
  left: -10px !important;
}
@media (min-width: 1199.98px) and (max-width: 1259.98px) {
  body.spz-2002[class] main .section.section-relative:first-child .section-block .section-inner[class] .widget {
    left: 50px !important;
  }
}
@media (max-width: 1199.98px) {
  body.spz-2002[class] main .section.section-relative:first-child .section-block .section-inner[class] .widget {
    bottom: 0px;
    left: 0px !important;
  }
}
@media (max-width: 767.98px) {
  body.spz-2002[class] main .section.section-relative:first-child .section-block .section-inner[class] .widget {
    bottom: -10px;
    left: 20px !important;
  }
}
body.spz-2002[class] main .section.section-relative:first-child .section-block .section-inner[class] .widget .contents .url-link {
  width: auto;
}
body.spz-2002[class] main .section.section-relative:first-child .section-block .section-inner[class] .widget .contents .url-link .image {
  width: 133px;
  height: 58px;
}
@media (max-width: 1199.98px) {
  body.spz-2002[class] main .section.section-relative:first-child .section-block .section-inner[class] .widget .contents .url-link {
    width: 100%;
    height: auto;
  }
}
body.spz-2002[class] main .section.section-relative:nth-child(2) {
  min-height: 1722px;
}
@media (min-width: 1199.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) {
    min-height: 820px;
    height: 820px !important;
  }
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) {
    height: 1446px;
    min-height: 1446px;
  }
}
@media (min-width: 1199.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] {
    max-width: 1180px;
  }
}
@media (min-width: 767.98px) and (max-width: 1199.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] {
    max-width: 628px;
  }
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .widget[class] {
  display: none;
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] {
  display: flex;
}
@media (max-width: 1199.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] {
    flex-wrap: wrap;
    justify-content: center;
  }
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary {
  padding-top: 38px;
  padding-left: 42px;
  padding-right: 8px;
}
@media (max-width: 767.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary {
    padding: 20px;
  }
}
@media (max-width: 1199.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary {
    padding-top: 2px;
    padding-left: 0;
    margin-bottom: 36px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary {
    padding: 0px 20px;
    margin-top: -12px;
    margin-bottom: 15px;
  }
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #37465a;
  margin-bottom: 18px;
  position: relative;
  z-index: 2;
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > h6 {
  font-weight: 800;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #37465a;
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1199.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > h6 {
    margin-bottom: 42px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > h6 {
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 18px;
  }
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul {
  list-style: none;
  padding-left: 32px;
  padding-right: 2px;
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul li {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #37465a;
  margin-bottom: 24px;
  z-index: 2;
  position: relative;
}
@media (max-width: 767.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul li {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul li span {
  font-weight: 700;
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-left-summary > ul li::before {
  content: url("//res.cloudinary.com/spiralyze/image/upload/v1676916035/ABCFitnessSolutions/2001/assets/check_icon.svg");
  left: -32px;
  top: -2px;
  position: absolute;
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-right-form {
  min-width: 638px;
  margin-left: -60px;
  margin-top: -4px;
  z-index: 2;
}
@media (min-width: 1199.98px) and (max-width: 1259.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-right-form {
    margin-left: 0;
  }
}
@media (max-width: 1199.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-right-form {
    min-width: 726px;
    max-width: 726px;
    margin-left: 0px;
    margin-top: 40px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-right-form {
    width: 100%;
    max-width: 375px;
    margin-top: 15px;
    min-width: auto;
  }
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-top-content[class] .hero-right-form picture img {
  width: 100%;
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] {
  margin-top: 20px;
}
@media (max-width: 1199.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] {
    margin-top: 0px;
  }
}
@media (max-width: 767.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] {
    padding: 0 20px 20px;
    margin-top: -12px;
  }
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] > p {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #151515;
  position: relative;
  z-index: 2;
}
@media (max-width: 767.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] > p {
    font-size: 18px;
  }
}
body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] picture {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  position: relative;
  z-index: 2;
}
@media (max-width: 767.98px) {
  body.spz-2002[class] main .section.section-relative:nth-child(2) > .section-block[class] .section-inner.section-fit.section-relative[class] .spz-hero-container[class] .hero-bottom-content[class] picture img {
    width: 100%;
  }
}/*# sourceMappingURL=2002-Style.css.map */