body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-lc-container .column__inner > *:not(.spz-left-copy) {
  display: none !important;
}
body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-lc-container .column__inner .spz-left-copy .eyebrow {
  color: #415364;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-lc-container .column__inner .spz-left-copy .text-cobalt {
  color: #0033a1;
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 32px;
}
body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-lc-container .column__inner .spz-left-copy .list--checkmarks li {
  color: #415364;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 28px;
}
body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-lc-container .column__inner .spz-left-copy .list--checkmarks li span {
  font-weight: 600;
}
body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-lc-container .column__inner .spz-left-copy .list--checkmarks li::before {
  width: 24px;
  height: 24px;
  content: url(//res.cloudinary.com/spiralyze/image/upload/v1740474377/sailpoint/3004/check.svg);
}
body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-form-container .inner-row__inner {
  padding: 40px;
  border-radius: 20px;
  background: linear-gradient(134deg, #0033a1 38.16%, #004fb5 64.91%, #0071ce 100.05%), #fff;
  gap: 28px;
}
body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-form-container .inner-row__inner .column:first-child .column__inner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-form-container .inner-row__inner .column:first-child .column__inner .text-sm {
  display: none !important;
}
body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-form-container .inner-row__inner .column:first-child .column__inner .text-h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 120%;
}
body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-form-container .inner-row__inner .column:last-child .mkto-wrap.w-full.iron-theme {
  min-height: unset;
}
body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-form-container .inner-row__inner .column:last-child .mkto-wrap.w-full.iron-theme .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoCheckboxList input {
  caret-color: rgba(var(--blue), 1);
  accent-color: #fff;
}
body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-form-container .inner-row__inner .column:last-child .mkto-wrap.w-full.iron-theme .mktoForm .disclaimer, body.spz_3004 #page-container .page-transition .product-hero .row__inner .spz-form-container .inner-row__inner .column:last-child .mkto-wrap.w-full.iron-theme .mktoForm .mktoCaptchaDisclaimer {
  margin: 0;
  max-width: 100%;
  text-align: left;
}
body.spz_3004 #page-container .page-transition #gc-customer-logos, body.spz_3004 #page-container .page-transition .sticky, body.spz_3004 #page-container .page-transition #business-value, body.spz_3004 #page-container .page-transition #use-cases, body.spz_3004 #page-container .page-transition #product-modules, body.spz_3004 #page-container .page-transition #advanced-capabilities, body.spz_3004 #page-container .page-transition #sp-bg-logo, body.spz_3004 #page-container .page-transition #suites, body.spz_3004 #page-container .page-transition #faq, body.spz_3004 #page-container .page-transition #resources, body.spz_3004 #page-container .page-transition #product-tour {
  display: none !important;
}
body.spz_3004 .trusted-companies .main-heading {
  margin-bottom: 30px;
  color: #333;
}
body.spz_3004 .trusted-companies .company-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px 12px;
}
body.spz_3004 .trusted-companies .company-logos .logo-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 20px);
          flex: 0 0 calc(25% - 20px);
}
body.spz_3004 .trusted-companies .company-logos .logo-card img {
  max-width: 100%;
  max-height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767.98px) {
  body.spz_3004 .trusted-companies .company-logos {
    gap: 15px;
  }
  body.spz_3004 .trusted-companies .company-logos .logo-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 15px);
            flex: 0 0 calc(50% - 15px);
  }
  body.spz_3004 .trusted-companies .company-logos .logo-card img {
    max-height: 60px;
  }
}