$ff-inter: Inter, sans-serif;

body.spz-1014 {
  .MuiModal-root {
    div[class*="Modal-modalContentContainer"] {
      border-radius: 12px;
      background: var(--Primary-Primary-600, #0580e8);
      box-shadow: 0px 17.872px 23.83px -5.957px rgba(16, 24, 40, 0.08);
      max-width: 700px;
      padding: 40px;

      @media (max-width: 1023.98px) {
        max-width: 704px;
        width: 100%;
      }

      @media (max-width: 767.98px) {
        padding: 28px 24px;
        max-width: 328px;
        width: 100%;
      }

      > button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorPrimary {
        position: absolute;
        top: 50px;
        left: 42px;

        @media (max-width: 767.98px) {
          top: 37px;
          left: 26px;

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }

      p.MuiTypography-body1 {
        font-size: 42px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: -0.84px;
        margin: 0 0 32px;

        @media (max-width: 767.98px) {
          font-size: 32px;
          line-height: 40px;
        }
      }

      div[class*="Form-formContainer"] {
        form.hs-form {
          gap: 0;
          fieldset {
            gap: 12px;
            @media (max-width: 767.98px) {
              gap: 0;
            }
            @media (min-width: 767.98px) {
              grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
            }

            .field.hs-form-field {
              margin-bottom: 12px;
              .input {
                // Custom label
                label.hs-label-spz {
                  position: absolute;
                  top: 21px;
                  left: 0;
                  padding: 0;
                  font-family: $ff-inter;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  color: #fff;
                  transition: all 0.3s ease-in-out;
                  pointer-events: none;

                  ~ .hs-label-spz {
                    display: none;
                  }
                }

                // Input field
                .hs-input {
                  font-family: $ff-inter;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  color: #fff;
                  border-bottom: 1px solid var(--Neutrals-White, #fff);
                  background-color: #0580e8;
                  border-radius: 0;
                  caret-color: #fff;
                  // border-radius: 8px;
                  // border: 1px solid #d6d6d6;

                  &:not([type="checkbox"]):not([type="radio"]) {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 22px 0px 8px;
                    height: 64px;
                    width: 100%;
                    // background: #fff;
                    // border: 1px solid #dde3eb;
                    // border-radius: 8px;
                    outline: none;
                    transition: all 0.3s ease-in-out;

                    &::placeholder {
                      display: none;
                      color: transparent;
                    }
                  }

                  &:hover {
                    // box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    // border: 1px solid var(--Neutrals-400, #96a1b2) !important;
                    box-shadow: none;

                    // ~ label {
                    //   color: var(--Neutrals-700, #293642);
                    // }
                  }

                  &:focus {
                    border-bottom: 1px solid var(--Neutrals-White, #fff) !important;
                    box-shadow: none;
                    ~ label {
                      // color: var(--Neutrals-700, #293642);
                    }
                  }

                  // &:focus ~ label,
                  // &:not([value=""]):not(select) ~ label {
                  //   top: 8px;
                  //   font-size: 12px;
                  //   // font-weight: 500;
                  //   color: #d53641;
                  // }

                  &:focus ~ label,
                  &input:not(:placeholder-shown) ~ label {
                    top: 4px;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 18px;
                  }

                  &[type="checkbox"],
                  &[type="radio"] {
                    ~ span {
                      font-family: $ff-inter;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 14px;
                      line-height: 20px;
                      color: #fff;
                      cursor: pointer;
                    }

                    &:hover ~ span {
                      color: #fff;
                    }

                    &:checked ~ span {
                      font-weight: 600;
                    }
                  }

                  &:not(.is-placeholder) {
                    &:not(:placeholder-shown) {
                      // border: 1px solid var(--Neutrals-700, #293642);

                      ~ label {
                        top: 4px;
                        font-size: 12px;
                        line-height: 18px;
                        font-weight: 700;
                        height: 18px;
                      }
                    }
                    &:not(:-moz-placeholder-shown) {
                      // border: 1px solid var(--Neutrals-700, #293642);

                      ~ label {
                        top: 4px;
                        font-size: 12px;
                        line-height: 18px;
                        font-weight: 700;
                        height: 18px;
                      }
                    }
                    &:not(:-ms-input-placeholder) {
                      // border: 1px solid var(--Neutrals-700, #293642);

                      ~ label {
                        top: 4px;
                        font-size: 12px;
                        line-height: 18px;
                        font-weight: 700;
                        height: 18px;
                      }
                    }
                  }
                }

                select {
                  appearance: none;
                  -webkit-appearance: none;
                  // set custom icon on select
                  background: url("https://res.cloudinary.com/spiralyze/image/upload/v1707900386/drata/1014/foms_icon__close.svg")
                    no-repeat right 0px center !important;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  padding-right: 35px !important;

                  &.is-placeholder {
                    color: transparent !important;
                  }
                  option {
                    color: #0c131a !important;
                    &:hover {
                      background: rgba(55, 153, 237, 0.1);
                    }
                  }
                }

                // Hide option if empty
                select option[value=""] {
                  display: none;
                }

                &.field-focus:not(.hs-fieldtype-checkbox) {
                  .input {
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

                    .hs-input {
                      border: 1px solid var(--Neutrals-900, #0c131a);
                      // box-shadow: 0px 0px 0px 2px #3799ed;

                      ~ .hs-label-spz {
                        color: #293642 !important;
                        // font-weight: 500;
                      }

                      &:not([value=""]) {
                        ~ .hs-label-spz {
                          color: #293642;
                        }
                      }
                    }

                    // .hs-label-spz {
                    //   color: #293642;
                    //   font-weight: 500;
                    // }
                  }

                  &.hs-fieldtype-select {
                    select {
                      background: url("//res.cloudinary.com/spiralyze/image/upload/v1694603081/drata/6012/select-focus.svg")
                        #fff no-repeat right 0px center !important;
                    }
                  }
                }

                // Checkbox
                &.hs-fieldtype-checkbox {
                  width: 100%;
                  max-width: 100%;
                  margin-top: 20px;
                  margin-bottom: 0;

                  > legend.hs-field-desc {
                    font-family: $ff-inter;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #fff;
                    padding-left: 0;
                  }

                  > .input {
                    border: none;
                    width: 100%;
                    max-width: 100%;
                    ul {
                      list-style: none;
                      padding: 0;
                      margin: 15px 0 0;
                      display: flex;
                      flex-wrap: wrap;

                      li {
                        min-width: 74px;
                        font-family: $ff-inter;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #000;
                        margin-right: 20px;
                        margin-bottom: 9px;

                        > label {
                          position: relative;
                          display: inline-block;
                          // align-items: center;

                          // Checkbox icon styling
                          span::before {
                            content: url("//res.cloudinary.com/spiralyze/image/upload/v1694522987/drata/6012/Checkbox_blank.svg");
                            position: relative;
                            top: 5px;
                            left: 12px;
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border-radius: 4px;
                            cursor: pointer;
                            transform: translate(-100%, 0%);
                            transition: all 0.2s ease-in-out;
                          }

                          [type="checkbox"] {
                            position: absolute;
                            opacity: 0;
                            z-index: -2;

                            &:hover ~ span::before {
                              content: url("//res.cloudinary.com/spiralyze/image/upload/v1694522987/drata/6012/Checkbox_hover.svg");
                            }

                            &:checked {
                              ~ span::before {
                                // opacity: 0;
                              }

                              ~ span::before {
                                content: url("//res.cloudinary.com/spiralyze/image/upload/v1694522988/drata/6012/checkbox_check.svg");
                                // position: absolute;
                                // top: -1.3px;
                                // left: -1px;
                                // transform: translate(-100%, 0%);
                                // width: 16px;
                                // height: 16px;
                                // border-radius: 4px;
                                // transition: all 0.2s ease-in-out;
                              }
                            }
                          }

                          > span {
                            padding-left: 8px;
                          }
                        }
                      }

                      // Specific for hs_demo_product_of_interest starts
                      // SOC2
                      li:nth-child(1) {
                        order: 1;
                      }

                      // ISO 27001
                      li:nth-child(2) {
                        order: 3;
                        min-width: 102.3px;
                      }

                      // HIPAA
                      li:nth-child(3) {
                        order: 2;

                        // @media (min-width: 1200px) {
                        //   min-width: 135px;
                        // }
                      }

                      // GDPR
                      li:nth-child(4) {
                        order: 4;
                        min-width: 70px;
                      }

                      // Other
                      li:nth-child(5) {
                        order: 5;

                        // @media (min-width: 1200px) {
                        //   min-width: 135px;
                        // }
                      }
                      // Specific for hs_demo_product_of_interest ends
                    }
                  }
                }
              }

              &.field-error {
                .input {
                  .hs-input {
                    border-color: #fc7881;
                    // box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    // color: #444;

                    // ~ .hs-label-spz {
                    //   color: #293642;
                    // }

                    // &:not([value=""]):not(select) {
                    //   ~ .hs-label-spz {
                    //     color: #d53641;
                    //   }
                    // }

                    // &:not(.is-placeholder) {
                    //   &:not(:placeholder-shown) {
                    //     ~ {
                    //       label {
                    //         top: 4px;
                    //         font-size: 12px;
                    //         line-height: 18px;
                    //         // font-weight: 500;
                    //         height: 18px;
                    //       }
                    //     }
                    //   }
                    //   &:not(:-moz-placeholder-shown) {
                    //     ~ {
                    //       label {
                    //         top: 4px;
                    //         font-size: 12px;
                    //         line-height: 18px;
                    //         // font-weight: 500;
                    //         height: 18px;
                    //       }
                    //     }
                    //   }
                    //   &:not(:-ms-input-placeholder) {
                    //     ~ {
                    //       label {
                    //         top: 4px;
                    //         font-size: 12px;
                    //         line-height: 18px;
                    //         // font-weight: 500;
                    //         height: 18px;
                    //       }
                    //     }
                    //   }
                    // }
                  }

                  // .hs-label-spz {
                  //   color: #a3a3a3;
                  // }
                }

                // &.hs-fieldtype-select {
                //   .input .hs-label-spz {
                //     top: 20px;
                //     left: 12px;
                //     color: #697586;
                //     font-size: 16px;
                //     font-weight: 500;
                //     line-height: 24px;
                //     background-color: #fff;
                //     width: calc(100% - 60px);
                //     height: 30px;
                //   }
                // }
              }

              &.field-untouched {
                .input .hs-input:not(:placeholder-shown) ~ label {
                  &.hs-label-spz {
                    top: 21px;
                    left: 0;
                    color: #fff;
                    font-family: $ff-inter;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    background-color: #0580e8;
                    width: calc(100% - 60px);
                    height: 30px;
                  }
                }
              }

              &.hs_demo_product_of_interest {
                margin-top: 20px;

                .hs-field-desc {
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 28px;
                  padding-left: 0;

                  @media (max-width: 767.98px) {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 26px;
                  }
                }

                .input {
                  .MuiFormControl-fullWidth {
                    margin: 10px 0 0;

                    @media (max-width: 767.98px) {
                      margin: 19px 0 0;
                    }

                    div[class*="Form-inlineCheckBoxContainer"] {
                      display: flex;
                      flex-wrap: wrap;
                      label {
                        margin-right: 25px;
                        padding: 0;
                        margin-top: 10px;
                        margin-left: 0;

                        @media (max-width: 767.98px) {
                          min-width: 106px;
                          margin-top: 0;
                          margin-bottom: 20px;
                        }

                        .MuiCheckbox-colorPrimary {
                          padding: 0 8px 0 0;
                          border-radius: 0;

                          &.Mui-checked + span.MuiFormControlLabel-label {
                            font-weight: 600;
                          }
                        }

                        &:nth-child(1) {
                          order: 0;
                        }
                        &:nth-child(2) {
                          order: 2;
                        }
                        &:nth-child(3) {
                          order: 1;
                        }
                        &:nth-child(4) {
                          order: 4;
                        }
                        &:nth-child(5) {
                          order: 5;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          // CTA button in form
          .actions {
            position: relative;
            max-width: initial;
            width: 182px;
            height: 60px;
            margin: 20px auto 0;

            @media (max-width: 767.98px) {
              width: 100%;
              margin: 0 auto;
            }

            button {
              width: 100%;
              font-family: $ff-inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
              text-align: center;
              color: #fff;
              width: 100%;
              height: 60px;
              padding: 16px 58px 16px 30px;
              background: #0c131a;
              border: none;
              position: relative;
              cursor: pointer;
              border-radius: 12px;

              &:hover {
                background: #293642;
              }
            }

            &::before {
              content: "";
              position: absolute;
              top: 18px;
              right: 16px;
              width: 24px;
              height: 24px;
              z-index: 3;
              background: url(https://res.cloudinary.com/spiralyze/image/upload/v1707900386/drata/1014/arrow_icon.svg)
                no-repeat center center;
              pointer-events: none;

              @media (max-width: 767.98px) {
                right: calc(50% - 75px);
              }
            }
          }

          // Error messages Starts
          .hs-error-msgs {
            position: relative;
            top: 4px;
            left: 0;
          }

          .hs-error-msgs.inputs-list li label {
            font-family: $ff-inter;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            color: #fc7881;
            list-style: none;
            margin: 0;
            padding: 0;

            label > a {
              cursor: pointer;
            }
          }

          .hs_error_rollup {
            text-align: center;
          }
          // Error messages Ends

          // Change autocomplete styles in WebKit browsers
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          textarea:-webkit-autofill,
          textarea:-webkit-autofill:hover,
          textarea:-webkit-autofill:focus,
          select:-webkit-autofill,
          select:-webkit-autofill:hover,
          select:-webkit-autofill:focus {
            background-color: #0580e8;
            -webkit-text-fill-color: #fff;
            -webkit-box-shadow: 0 0 0px 1000px #0580e8 inset;
            transition: background-color 5000s ease-in-out 0s;
          }

          .hs-input:-webkit-autofill,
          .hs-input:-webkit-autofill:hover,
          .hs-input:-webkit-autofill:focus,
          .hs-input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 56px #0580e8 inset !important;
            -webkit-text-fill-color: #fff !important;
          }

          div[class*="Form-inlineCheckBoxContainer"] {
            label[class*="MuiFormControlLabel-root-Form-styledFormControlLabel"] {
              span {
                span[class*="Form-bpIcon"] {
                  border-radius: 6px;
                  border: 1px solid #dde3eb;
                  background: #f6f8fa;
                }

                svg[class*="bpDarkCheckedIcon"] {
                  background: url(https://res.cloudinary.com/spiralyze/image/upload/v1708413855/drata/1014/Checkbox_filled.svg)
                    no-repeat center center;
                  path {
                    display: none;
                  }
                }
              }

              &:hover {
                span {
                  span[class*="Form-bpIcon"] {
                    border-color: #0068c9;
                  }
                }
              }
            }
          }

          p.MuiTypography-body1 {
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0;
            margin: 12px 0 0px;

            a {
              color: #fff;
              text-decoration: none;

              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
