.spz_test_3002 .hc-main-notifications .hc-main-notifications__item{width:100%;}
.spz_test_3002 .hc-main-notifications.hc-main-notifications-2{margin: 2rem 0 1rem;}
@media (max-width:1024px) {
.spz_test_3002 .hc-main-notifications.hc-main-notifications-2{margin: 2.2rem 0 1.2rem;}
}